Repository galaxyproject/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: topic:admin, topic:assembly, topic:computational-chemistry, topic:contributing, topic:dev, topic:ecology, topic:epigenetics, topic:galaxy-data-manipulation, topic:galaxy-ui, topic:genome-annotation, topic:imaging, topic:instructors, topic:introduction, topic:metabolomics, topic:metagenomics, topic:proteomics, topic:sequence-analysis, topic:statistics, topic:transcriptomics, topic:variant-analysis, template-and-tools

.github/labeler.yml:

topic:admin: topics/admin/**/*
topic:assembly: topics/assembly/**/*
topic:computational-chemistry: topics/computational-chemistry/**/*
topic:contributing: topics/contributing/**/*
topic:dev: topics/dev/**/*
topic:ecology: topics/ecology/**/*
topic:epigenetics: topics/epigenetics/**/*
topic:galaxy-data-manipulation: topics/galaxy-data-manipulation/**/*
topic:galaxy-ui: topics/galaxy-ui/**/*
topic:genome-annotation: topics/genome-annotation/**/*
topic:imaging: topics/imaging/**/*
topic:instructors: topics/instructors/**/*
topic:introduction: topics/introduction/**/*
topic:metabolomics: topics/metabolomics/**/*
topic:metagenomics: topics/metagenomics/**/*
topic:proteomics: topics/proteomics/**/*
topic:sequence-analysis: topics/sequence-analysis/**/*
topic:statistics: topics/statistics/**/*
topic:transcriptomics: topics/transcriptomics/**/*
topic:variant-analysis: topics/variant-analysis/**/*
template-and-tools:
  - bin/**/*
  - _includes/**/*
  - _layouts/**/*
  - _plugins/**/*
  - assets/**/*
  - ./*

little update to w4m
  topics/metabolomics/tutorials/msPurity_training/tutorial.md
Labels: topic:metabolomics

Update Calling Rare Variants text with Galaxy UI changes and tutorial best practices.
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: topic:variant-analysis

Docker version
  topics/admin/docker/Dockerfile
  topics/assembly/docker/Dockerfile
  topics/computational-chemistry/docker/Dockerfile
  topics/contributing/docker/Dockerfile
  topics/dev/docker/Dockerfile
  topics/ecology/docker/Dockerfile
  topics/epigenetics/docker/Dockerfile
  topics/genome-annotation/docker/Dockerfile
  topics/imaging/docker/Dockerfile
  topics/introduction/docker/Dockerfile
  topics/metabolomics/docker/Dockerfile
  topics/metagenomics/docker/Dockerfile
  topics/proteomics/docker/Dockerfile
  topics/sequence-analysis/docker/Dockerfile
  topics/statistics/docker/Dockerfile
  topics/transcriptomics/docker/Dockerfile
  topics/variant-analysis/docker/Dockerfile
Labels: topic:admin, topic:assembly, topic:computational-chemistry, topic:contributing, topic:dev, topic:ecology, topic:epigenetics, topic:genome-annotation, topic:imaging, topic:introduction, topic:metabolomics, topic:metagenomics, topic:proteomics, topic:sequence-analysis, topic:statistics, topic:transcriptomics, topic:variant-analysis

Minor issues in the slides of mapping tutorial
  topics/sequence-analysis/tutorials/mapping/slides.html
Labels: topic:sequence-analysis

rnaseq-denovo: Live review
  topics/transcriptomics/tutorials/full-de-novo/tutorial.md
Labels: topic:transcriptomics

Add `her`
  topics/sequence-analysis/tutorials/mapping/slides.html
Labels: topic:sequence-analysis

Described data retrival
  topics/transcriptomics/tutorials/unaligned-ncrnas-analysis/tutorial.md
Labels: topic:transcriptomics

Fix quote adaptation
  topics/sequence-analysis/tutorials/mapping/slides.html
Labels: topic:sequence-analysis

Added multiple Q/A and output descriptions for ncRNA analysis tutorial
  topics/transcriptomics/tutorials/unaligned-ncrnas-analysis/tutorial.md
Labels: topic:transcriptomics

Update topics/sequence-analysis/tutorials/mapping/slides.html
  topics/sequence-analysis/tutorials/mapping/slides.html
Labels: topic:sequence-analysis

Added summary and more Qs
  topics/transcriptomics/tutorials/unaligned-ncrnas-analysis/tutorial.md
Labels: topic:transcriptomics

Docker version (#1677)
  topics/admin/docker/Dockerfile
  topics/assembly/docker/Dockerfile
  topics/computational-chemistry/docker/Dockerfile
  topics/contributing/docker/Dockerfile
  topics/dev/docker/Dockerfile
  topics/ecology/docker/Dockerfile
  topics/epigenetics/docker/Dockerfile
  topics/genome-annotation/docker/Dockerfile
  topics/imaging/docker/Dockerfile
  topics/introduction/docker/Dockerfile
  topics/metabolomics/docker/Dockerfile
  topics/metagenomics/docker/Dockerfile
  topics/proteomics/docker/Dockerfile
  topics/sequence-analysis/docker/Dockerfile
  topics/statistics/docker/Dockerfile
  topics/transcriptomics/docker/Dockerfile
  topics/variant-analysis/docker/Dockerfile
Labels: topic:admin, topic:assembly, topic:computational-chemistry, topic:contributing, topic:dev, topic:ecology, topic:epigenetics, topic:genome-annotation, topic:imaging, topic:introduction, topic:metabolomics, topic:metagenomics, topic:proteomics, topic:sequence-analysis, topic:statistics, topic:transcriptomics, topic:variant-analysis

Update Calling Rare Variants text with Zenodo import method.
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: topic:variant-analysis

Tweak Calling Rare Variants tutorial text: input data is actually not fastqsanger.
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: topic:variant-analysis

Formatting on ref-based rna-seq tutorial
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic:transcriptomics

Some rephrasing
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/transcriptomics/images/ref-based/rna-seq-reads.png
  topics/transcriptomics/images/ref-based/rna-seq-reads.svg
  topics/transcriptomics/tutorials/ref-based/tutorial.bib
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic:sequence-analysis, topic:transcriptomics

Apply suggestions from code review
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic:sequence-analysis, topic:transcriptomics

Uppercase journal names
  topics/transcriptomics/tutorials/ref-based/tutorial.bib
Labels: topic:transcriptomics

Non-spatial -> spatial repartition
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: topic:ecology

update wallace launchong from tool panel
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: topic:ecology

Correct typo
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: topic:ecology

Update the column number 52-> 51
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: topic:ecology

tricky replacement of """ by " due to tabular to csv converter
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: topic:ecology

fix Abreuuuuteaudeau points
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: topic:ecology

Create README.md
  topics/ecology/tutorials/species-distribution-modeling/workflows/README.md
Labels: topic:ecology

add SDM ecology.usegalaxy.eu workflow
  topics/ecology/tutorials/species-distribution-modeling/workflows/Galaxy-Workflow-Species_Distribution_Modeling_with_Wallace_from_GBIF_-_Training_material.ga
Labels: topic:ecology

polish
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: topic:ecology
