Repository galaxyproject/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, template-and-tools, admin, ai4life, assembly, climate, computational-chemistry, contributing, data-science, dev, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

.github/labeler.yml:

faqs:
  - faqs/**/*
news:
  - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
  - any: ['!topics/**/*', '!faqs/**/*', '!news/**/*']


# topic labels
admin:
 - topics/admin/**/*
ai4life:
 - topics/ai4life/**/*
assembly:
  - topics/assembly/**/*
climate:
  - topics/climate/**/*
computational-chemistry:
  - topics/computational-chemistry/**/*
contributing:
  - topics/contributing/**/*
data-science:
  - topics/data-science/**/*
dev:
  - topics/dev/**/*
ecology:
  - topics/ecology/**/*
epigenetics:
  - topics/epigenetics/**/*
evolution:
  - topics/evolution/**/*
fair:
  - topics/fair/**/*
galaxy-interface:
  - topics/galaxy-interface/**/*
genome-annotation:
  - topics/genome-annotation/**/*
imaging:
  - topics/imaging/**/*
instructors:
  - topics/instructors/**/*
introduction:
  - topics/introduction/**/*
materials-science:
  - topics/materials-science/**/*
metabolomics:
  - topics/metabolomics/**/*
microbiome:
  - topics/microbiome/**/*
proteomics:
  - topics/proteomics/**/*
sequence-analysis:
  - topics/sequence-analysis/**/*
single-cell:
  - topics/single-cell/**/*
statistics:
  - topics/statistics/**/*
synthetic-biolocy:
  - topics/synthetic-biology/**/*
teaching:
  - topics/teaching/**/*
transcriptomics:
  - topics/transcriptomics/**/*
variant-analysis:
  - topics/variant-analysis/**/*
visualisation:
  - topics/visualisation/**/*

Switched topic to proteomics->multiomics, smaller changes according to comments
  CONTRIBUTORS.yaml
  metadata/lang/multiomics.yml
  metadata/multi-omics.yaml
  topics/proteomics/tutorials/multiGSEA-tutorial/data-library.yaml
  topics/proteomics/tutorials/multiGSEA-tutorial/faqs/index.md
  topics/proteomics/tutorials/multiGSEA-tutorial/tutorial.bib
  topics/proteomics/tutorials/multiGSEA-tutorial/tutorial.md
  topics/proteomics/tutorials/multiGSEA-tutorial/workflows/index.md
  topics/proteomics/tutorials/multiGSEA-tutorial/workflows/main_workflow.ga
  topics/statistics/index.md
  topics/statistics/metadata.yaml
Labels: template-and-tools, proteomics, statistics

Compress Images
  assets/images/galaxy_climate.png
  assets/images/galaxy_subdomain.png
  news/images/2024-12-06-spoc-cofest_outputs.png
  shared/images/nfdi4bioimage.jpeg
  topics/assembly/images/image10.png
  topics/community/images/tool_subdomain/add_interactive_tool.png
  topics/community/images/tool_subdomain/add_section.png
  topics/community/images/tool_subdomain/ecology_yml_tool.png
  topics/contributing/tutorials/running-codespaces/images/codespace-publlish.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-branch-change1.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-branch-change2.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-commit-plus.png
  topics/fair/tutorials/earth_system_rocrate/images/all_tree_structure.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate1.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate10.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate11.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate13.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate2.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate4.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate5.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate6.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate7.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate8.png
  topics/fair/tutorials/earth_system_rocrate/images/rocrate9.png
  topics/fair/tutorials/earth_system_rocrate/images/workflow_marino.png
  topics/fair/tutorials/earth_system_rocrate/images/workflow_rocrate.png
  topics/imaging/images/omero-suite/omero_credential.png
  topics/imaging/images/omero-suite/omero_import.png
  topics/imaging/images/omero-suite/omero_metadata.png
  topics/imaging/images/omero-suite/omero_rois.png
  topics/imaging/images/omero-suite/workflow.png
  topics/imaging/images/omero-suite/workflow_invocation.png
  topics/introduction/images/101_11.png
Labels: news, template-and-tools, assembly, contributing, fair, imaging, introduction

Update PURLs
  metadata/shortlinks.yaml
Labels: template-and-tools

Update Cached Commit Data
  metadata/git-mod-8cb9a3a5113d0b6a5b4374ea1865adbe76b9da68.txt
  metadata/git-pub-8cb9a3a5113d0b6a5b4374ea1865adbe76b9da68.txt
Labels: template-and-tools

Fix filename
  topics/admin/tutorials/beacon/tutorial.md
Labels: admin

re-order for the server to have access
  topics/admin/tutorials/beacon/tutorial.md
Labels: admin

Document installing missing collection
  topics/admin/tutorials/beacon/tutorial.md
Labels: admin

Improve duration API
  _plugins/jekyll-duration.rb
Labels: template-and-tools

include total duration for a LP module
  _layouts/learning-pathway.html
Labels: template-and-tools

Add LOs by default
  _layouts/learning-pathway.html
Labels: template-and-tools

allow overriding LOs at module level
  _layouts/learning-pathway.html
  bin/schema-learning-pathway.yaml
  bin/schema-tutorial.yaml
Labels: template-and-tools

use duration icon from tuto
  _layouts/learning-pathway.html
Labels: template-and-tools

Update tutorial.bib
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.bib
Labels: single-cell

Update WorkflowHub IDs
  metadata/workflowhub.yml
Labels: template-and-tools

Update tutorial.md
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.md
Labels: single-cell

Initial commit
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

Update tutorial.md
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

Update tutorial.md
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

Update tutorial.md
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

Update tutorial.md
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

Update tutorial.md
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

Update tutorial.md
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

Update tutorial.md
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

Update tutorial.md
  topics/introduction/tutorials/origins_science/tutorial.md
Labels: introduction

update tool versions
  topics/single-cell/tutorials/scrna-preprocessing-tenx/tutorial.md
Labels: single-cell

update tool versions in workflow
  topics/single-cell/tutorials/scrna-preprocessing-tenx/workflows/scRNA-seq-Preprocessing-TenX.ga
Labels: single-cell

Delete old FastQC images
  topics/sequence-analysis/images/quality-control/adapter_content-after_trash.png
  topics/sequence-analysis/images/quality-control/adapter_content-before_trash.png
  topics/sequence-analysis/images/quality-control/kmer_content_trash.png
  topics/sequence-analysis/images/quality-control/per_base_n_content-after_trash.png
  topics/sequence-analysis/images/quality-control/per_base_n_content-before_trash.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content-after_trash.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content-before_trash.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality-after_trash.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality-before_trash.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content-after_trash.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content-before_trash.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores-after_trash.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores-before_trash.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality-after_trash.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality-before_trash.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels-after_trash.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels-before_trash.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution-after_trash.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution-before_trash.png
Labels: sequence-analysis

Add myself as contributor
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: sequence-analysis

Correct links to Quality control tutorial in other tutorials
  topics/microbiome/tutorials/metatranscriptomics/content.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: microbiome, variant-analysis

Change images from FASTQC to ones generated with falco
  topics/sequence-analysis/images/quality-control/adapter_content-after.png
  topics/sequence-analysis/images/quality-control/adapter_content-before.png
  topics/sequence-analysis/images/quality-control/per_base_n_content-after.png
  topics/sequence-analysis/images/quality-control/per_base_n_content-before.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content-after.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content-before.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality-after.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality-before.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content-after.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content-before.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores-after.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores-before.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality-after.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality-before.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels-after.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels-before.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution-after.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution-before.png
Labels: sequence-analysis

Change images and text from FastQC to Falco (and FastQC where needed)
  topics/sequence-analysis/images/quality-control/adapter_content-after.png
  topics/sequence-analysis/images/quality-control/adapter_content-after_trash.png
  topics/sequence-analysis/images/quality-control/adapter_content-before.png
  topics/sequence-analysis/images/quality-control/adapter_content-before_trash.png
  topics/sequence-analysis/images/quality-control/kmer_content.png
  topics/sequence-analysis/images/quality-control/kmer_content_trash.png
  topics/sequence-analysis/images/quality-control/per_base_n_content-after.png
  topics/sequence-analysis/images/quality-control/per_base_n_content-after_trash.png
  topics/sequence-analysis/images/quality-control/per_base_n_content-before.png
  topics/sequence-analysis/images/quality-control/per_base_n_content-before_trash.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content-after.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content-after_trash.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content-before.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content-before_trash.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality-after.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality-after_trash.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality-before.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality-before_trash.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content-after.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content-after_trash.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content-before.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content-before_trash.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores-after.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores-after_trash.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores-before.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores-before_trash.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality-after.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality-after_trash.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality-before.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality-before_trash.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels-after.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels-after_trash.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels-before.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels-before_trash.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution-after.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution-after_trash.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution-before.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution-before_trash.png
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: sequence-analysis

Change link titles to avoid using 'here'
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: sequence-analysis

Fix heading level in dunovo tutorial
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: variant-analysis

Added Fr answer key history
  topics/introduction/images/101_04.png
  topics/introduction/images/101_bed_intersect_interface.png
  topics/introduction/images/101_datamash_1.png
  topics/introduction/images/101_displayucsc.png
  topics/introduction/images/101_rename.png
  topics/introduction/images/configure_wf_output.png
  topics/introduction/images/drag_n_drop_dataset.gif
  topics/introduction/images/galaxy_interface.png
  topics/introduction/images/histories_side_by_side_view.png
  topics/introduction/images/wf_editor_open.png
  topics/introduction/images/workflow_cards.png
  topics/introduction/images/workflow_running.png
  topics/introduction/images/workflow_setting_inputs.png
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/workflows/galaxy-intro-101-workflow-test.yml
  topics/introduction/tutorials/galaxy-intro-101/workflows/galaxy-intro-101-workflow.eu.json
  topics/introduction/tutorials/galaxy-intro-101/workflows/galaxy-intro-101-workflow.ga
  topics/introduction/tutorials/galaxy-intro-101/workflows/test-data/top_5_exons.bed
Labels: introduction

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

add authors
  topics/imaging/tutorials/voronoi-segmentation/tutorial.md
Labels: imaging

Expand explanation for genomics LLM finetuning tutorial
  topics/statistics/tutorials/genomic-llm-finetuning/tutorial.bib
  topics/statistics/tutorials/genomic-llm-finetuning/tutorial.md
Labels: statistics

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Re-commit changes without large zip file
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow-tests.yml
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/input-test.png
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/output_predicted_image.tiff
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/output_predicted_image_matrix.npy
Labels: imaging
