Repository galaxyproject/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, template-and-tools, admin, assembly, climate, computational-chemistry, contributing, data-science, dev, ecology, epigenetics, evolution, galaxy-interface, genome-annotation, imaging, instructors, introduction, metabolomics, metagenomics, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

.github/labeler.yml:

faqs:
  - faqs/**/*
news:
  - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
  - any: ['!topics/**/*', '!faqs/**/*', '!news/**/*']


# topic labels
admin:
 - topics/admin/**/*
assembly:
  - topics/assembly/**/*
climate:
  - topics/climate/**/*
computational-chemistry:
  - topics/computational-chemistry/**/*
contributing:
  - topics/contributing/**/*
data-science:
  - topics/data-science/**/*
dev:
  - topics/dev/**/*
ecology:
  - topics/ecology/**/*
epigenetics:
  - topics/epigenetics/**/*
evolution:
  - topics/evolution/**/*
galaxy-interface:
  - topics/galaxy-interface/**/*
genome-annotation:
  - topics/genome-annotation/**/*
imaging:
  - topics/imaging/**/*
instructors:
  - topics/instructors/**/*
introduction:
  - topics/introduction/**/*
metabolomics:
  - topics/metabolomics/**/*
metagenomics:
  - topics/metagenomics/**/*
proteomics:
  - topics/proteomics/**/*
sequence-analysis:
  - topics/sequence-analysis/**/*
single-cell:
  - topics/single-cell/**/*
statistics:
  - topics/statistics/**/*
synthetic-biolocy:
  - topics/synthetic-biology/**/*
teaching:
  - topics/teaching/**/*
transcriptomics:
  - topics/transcriptomics/**/*
variant-analysis:
  - topics/variant-analysis/**/*
visualisation:
  - topics/visualisation/**/*

Having finally got a robot working, adjusted the intro to try to optimise information
  topics/galaxy-project/slides/introduction.html
Labels: none

expect the ross video to fail - just adds write permissions to the directory does not deal with https://github.com/actions/runner/issues/1317
  .github/workflows/rosstestvideo.yml
  bin/ross-ari-make.sh
Labels: template-and-tools

add back fix for https://github.com/actions/runner/issues/1317
  bin/ross-ari-make.sh
Labels: template-and-tools

ok so it was just the write permission
  .github/workflows/rosstestvideo.yml
  bin/ross-ari-make.sh
Labels: template-and-tools

remove questions
  topics/galaxy-project/slides/introduction.html
Labels: none

double check - try just _site with write permission?
  .github/workflows/rosstestvideo.yml
  Gemfile
  Gemfile.lock
  bin/ross-ari-make.sh
Labels: template-and-tools

up the fetch depth. no gem?
  .github/workflows/rosstestvideo.yml
Labels: template-and-tools

can't run automation without gemfile and lock ?
  Gemfile
  Gemfile.lock
Labels: template-and-tools

Trying to balance speech and text better...
  topics/galaxy-project/slides/introduction.html
Labels: none

add write permissions for pdfs
  .github/workflows/video.yml
Labels: template-and-tools

more balancing of intro robot
  topics/galaxy-project/slides/introduction.html
Labels: none

adding pretty picture
  news/_posts/2022-11-18-singlecell.md
  news/images/single_cell.png
Labels: news

fix image link
  news/_posts/2022-11-18-singlecell.md
Labels: news

fix image link
  news/_posts/2022-11-18-singlecell.md
Labels: news

Enhance account registration faq
  faqs/galaxy/account_create.md
  faqs/galaxy/images/unverified_account.png
Labels: faqs

fix better image
  news/images/single_cell.png
Labels: news

added spaces
  news/_posts/2022-11-18-singlecell.md
Labels: news

Add recursion to video.yml write permission fix
  .github/workflows/video.yml
Labels: template-and-tools

Still fiddling with balance and timing
  .github/workflows/rosstestvideo.yml
  topics/galaxy-project/slides/introduction.html
Labels: template-and-tools

More balanced and some extra ending words
  topics/galaxy-project/slides/introduction.html
Labels: none

the usual fussing..
  topics/galaxy-project/slides/introduction.html
  topics/galaxy-project/tutorials/anatomy/tutorial.md
Labels: none

Various fiddles - must check in the update script with a sed line to fix the video link :)
  topics/galaxy-project/metadata.yaml
  topics/galaxy-project/tutorials/anatomy/tutorial.md
Labels: none

add said script
  update.sh
Labels: template-and-tools

Odd awkward bits...
  topics/galaxy-project/slides/introduction.html
Labels: none

update update.sh to fix both files for video link
  update.sh
Labels: template-and-tools

eeesh wrong path
  update.sh
Labels: template-and-tools

and agen
  update.sh
Labels: template-and-tools

try verbose sed
  update.sh
Labels: template-and-tools

argh
  update.sh
Labels: template-and-tools

More futzing
  Gemfile
  Gemfile.lock
  topics/galaxy-project/slides/introduction.html
Labels: template-and-tools

removed topic: introduction to see if silly 'we recommend you' message.
  topics/galaxy-project/slides/introduction.html
Labels: none

remove bogus v parameter from sed call
  update.sh
Labels: template-and-tools

grrrr Gemfile keeps disappearing and the actions don't work
  Gemfile
  Gemfile.lock
Labels: template-and-tools

Remove a slide from the intro - redundant...
  topics/galaxy-project/slides/introduction.html
  topics/galaxy-project/tutorials/anatomy/tutorial.md
Labels: none

Replace nginx logging with syslog
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/interactive-tools/tutorial.md
  topics/dev/tutorials/interactive-environments/slides.html
Labels: admin, dev

remove absolutely unintentional 88
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: admin

Add tip about checking the logs
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: admin

Add url param for hands on only
  assets/js/main.js
Labels: template-and-tools

Remove badges
  _layouts/badges.html
  badges/index.md
Labels: template-and-tools

Remove badge mention
  Makefile
Labels: template-and-tools
