Repository galaxyproject/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, template-and-tools, admin, ai4life, assembly, climate, computational-chemistry, contributing, data-science, dev, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

.github/labeler.yml:

faqs:
  - faqs/**/*
news:
  - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
  - any: ['!topics/**/*', '!faqs/**/*', '!news/**/*']


# topic labels
admin:
 - topics/admin/**/*
ai4life:
 - topics/ai4life/**/*
assembly:
  - topics/assembly/**/*
climate:
  - topics/climate/**/*
computational-chemistry:
  - topics/computational-chemistry/**/*
contributing:
  - topics/contributing/**/*
data-science:
  - topics/data-science/**/*
dev:
  - topics/dev/**/*
ecology:
  - topics/ecology/**/*
epigenetics:
  - topics/epigenetics/**/*
evolution:
  - topics/evolution/**/*
fair:
  - topics/fair/**/*
galaxy-interface:
  - topics/galaxy-interface/**/*
genome-annotation:
  - topics/genome-annotation/**/*
imaging:
  - topics/imaging/**/*
instructors:
  - topics/instructors/**/*
introduction:
  - topics/introduction/**/*
materials-science:
  - topics/materials-science/**/*
metabolomics:
  - topics/metabolomics/**/*
microbiome:
  - topics/microbiome/**/*
proteomics:
  - topics/proteomics/**/*
sequence-analysis:
  - topics/sequence-analysis/**/*
single-cell:
  - topics/single-cell/**/*
statistics:
  - topics/statistics/**/*
synthetic-biolocy:
  - topics/synthetic-biology/**/*
teaching:
  - topics/teaching/**/*
transcriptomics:
  - topics/transcriptomics/**/*
variant-analysis:
  - topics/variant-analysis/**/*
visualisation:
  - topics/visualisation/**/*

add webin ENA test server URL and fix issues regarding fastq.gz extensions
  topics/ecology/tutorials/ENA_Biodiv_submission/tutorial.md
Labels: ecology

update tool versions
  topics/single-cell/tutorials/scrna-ncbi-anndata/tutorial.md
Labels: single-cell

add updated workflow
  topics/single-cell/tutorials/scrna-ncbi-anndata/workflows/NCBI_to_Anndata.ga
Labels: single-cell

Adding new images for SCT route
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_FeaturePlot_CellTypeMarkers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_Violin_CellTypeMarkers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_elbowplot_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_violin_T_cell_markers_SCT.png
Labels: single-cell

Updating the image in Slide 5
  topics/single-cell/images/GO-enrichment/slides_images/roadmap_1_v2.png
Labels: single-cell

Fix some typos
  topics/ecology/tutorials/Metashrimps_tutorial/tutorial.md
Labels: ecology

Add images and citations
  topics/single-cell/images/GO-enrichment/slides_images/ontology_2_v2.png
  topics/single-cell/images/GO-enrichment/slides_images/roadmap_1_v2.png
  topics/single-cell/tutorials/GO-enrichment/slides.html
  topics/single-cell/tutorials/GO-enrichment/tutorial.bib
Labels: single-cell

Delete clashing image
  topics/single-cell/images/GO-enrichment/slides_images/roadmap_1_v2.png
Labels: single-cell

A new complete pass for cleaning
  topics/ecology/tutorials/ENA_Biodiv_submission/tutorial.md
Labels: ecology

Update Galaxy-Workflow-Workflow_constructed_from_history__Workflow_data_submission_.ga
  topics/ecology/tutorials/ENA_Biodiv_submission/workflows/Galaxy-Workflow-Workflow_constructed_from_history__Workflow_data_submission_.ga
Labels: ecology

add as author
  topics/ecology/tutorials/ENA_Biodiv_submission/tutorial.md
Labels: ecology

Welcome new SPOC Editorial Board members!
  topics/single-cell/metadata.yaml
Labels: single-cell

Update and rename Galaxy-Workflow-Workflow_constructed_from_history__Workflow_data_submission_.ga to README.md
  topics/ecology/tutorials/ENA_Biodiv_submission/workflows/Galaxy-Workflow-Workflow_constructed_from_history__Workflow_data_submission_.ga
  topics/ecology/tutorials/ENA_Biodiv_submission/workflows/README.md
Labels: ecology

Update metadata.yaml
  topics/single-cell/metadata.yaml
Labels: single-cell

add multiQC
  topics/epigenetics/images/cut_and_run/fastqc_adapter_content_plot_pre.png
  topics/epigenetics/tutorials/cut_and_run/tutorial.md
Labels: epigenetics

update last results
  topics/epigenetics/images/cut_and_run/GATA_motif.png
  topics/epigenetics/tutorials/cut_and_run/tutorial.md
Labels: epigenetics

update plugin name
  topics/admin/tutorials/monitoring/tutorial.md
Labels: admin

fix zenodo and data library
  topics/epigenetics/tutorials/cut_and_run/data-library.yaml
  topics/epigenetics/tutorials/cut_and_run/tutorial.md
Labels: epigenetics

update workflow and add tests
  topics/epigenetics/tutorials/cut_and_run/workflows/main_workflow.ga
  topics/epigenetics/tutorials/cut_and_run/workflows/main_workflow_tests.yml
Labels: epigenetics

SCT version of the FindMarkers section
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/tutorial.md
Labels: single-cell

add blog post
  news/_posts/2024-12-06-spoc_cofest.md
  news/images/2024_12_06-spoc_cofest_outputs.png
Labels: news

use again MultiQC after FastQC
  topics/epigenetics/images/cut_and_run/fastqc_adapter_content_plot_post.png
  topics/epigenetics/images/cut_and_run/fastqc_sequence_duplication_levels_plot.png
  topics/epigenetics/tutorials/cut_and_run/tutorial.md
Labels: epigenetics

show mouse overhang with adapter
  topics/epigenetics/images/cut_and_run/fastqc_adapter_content_plot_pre.png
Labels: epigenetics

update images and clean
  topics/epigenetics/images/cut_and_run/adapter_content_post.png
  topics/epigenetics/images/cut_and_run/adapter_content_pre.png
  topics/epigenetics/images/cut_and_run/duplication_level.png
  topics/epigenetics/images/cut_and_run/insert_size.png
  topics/epigenetics/images/cut_and_run/mapping_stats.png
  topics/epigenetics/images/cut_and_run/mark_duplicates_screen.png
  topics/epigenetics/images/cut_and_run/mark_duplicates_transpose.png
Labels: epigenetics

fix test file name
  topics/epigenetics/tutorials/cut_and_run/workflows/main_workflow-tests.yml
Labels: epigenetics

fix image
  news/images/2024-12-06-spoc-cofest-2024.png
  news/images/2024_12_06-spoc_cofest_outputs.png
Labels: news

fix self link
  news/_posts/2024-12-06-spoc_cofest.md
Labels: news

fix image link
  news/images/2024-12-06-spoc-cofest_outputs.png
Labels: news

fix name
  news/_posts/2024-12-06-spoc_cofest.md
Labels: news

change alt text
  news/_posts/2024-12-06-spoc_cofest.md
Labels: news

add emojis for fun
  news/_posts/2024-12-06-spoc_cofest.md
Labels: news

change title
  news/_posts/2024-12-06-spoc_cofest.md
Labels: news

Add pseudobulk-analysis tutorial and associated files
  topics/single-cell/tutorials/pseudobulk-analysis/data-library.yaml
  topics/single-cell/tutorials/pseudobulk-analysis/faqs/.Rhistory
  topics/single-cell/tutorials/pseudobulk-analysis/faqs/index.md
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.bib
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.md
  topics/single-cell/tutorials/pseudobulk-analysis/workflows/index.md
  topics/single-cell/tutorials/pseudobulk-analysis/workflows/pseudo-bulk_edgeR-tests.yml
  topics/single-cell/tutorials/pseudobulk-analysis/workflows/pseudo-bulk_edgeR.ga
Labels: single-cell

Delete topics/single-cell/tutorials/pseudobulk-analysis/faqs/.Rhistory
  topics/single-cell/tutorials/pseudobulk-analysis/faqs/.Rhistory
Labels: single-cell

Update data-library.yaml
  topics/single-cell/tutorials/pseudobulk-analysis/data-library.yaml
Labels: single-cell

Update tutorial.bib
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.bib
Labels: single-cell

Update tutorial.bib
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.bib
Labels: single-cell

Update tutorial.md
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.md
Labels: single-cell

Update tutorial.md
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.md
Labels: single-cell

Update tutorial.md
  topics/proteomics/tutorials/neoantigen-1-fusion-database-generation/tutorial.md
Labels: proteomics
