Repository galaxyproject/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, template-and-tools, admin, ai4life, assembly, climate, computational-chemistry, contributing, data-science, dev, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

.github/labeler.yml:

faqs:
  - faqs/**/*
news:
  - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
  - any: ['!topics/**/*', '!faqs/**/*', '!news/**/*']


# topic labels
admin:
 - topics/admin/**/*
ai4life:
 - topics/ai4life/**/*
assembly:
  - topics/assembly/**/*
climate:
  - topics/climate/**/*
computational-chemistry:
  - topics/computational-chemistry/**/*
contributing:
  - topics/contributing/**/*
data-science:
  - topics/data-science/**/*
dev:
  - topics/dev/**/*
ecology:
  - topics/ecology/**/*
epigenetics:
  - topics/epigenetics/**/*
evolution:
  - topics/evolution/**/*
fair:
  - topics/fair/**/*
galaxy-interface:
  - topics/galaxy-interface/**/*
genome-annotation:
  - topics/genome-annotation/**/*
imaging:
  - topics/imaging/**/*
instructors:
  - topics/instructors/**/*
introduction:
  - topics/introduction/**/*
materials-science:
  - topics/materials-science/**/*
metabolomics:
  - topics/metabolomics/**/*
microbiome:
  - topics/microbiome/**/*
proteomics:
  - topics/proteomics/**/*
sequence-analysis:
  - topics/sequence-analysis/**/*
single-cell:
  - topics/single-cell/**/*
statistics:
  - topics/statistics/**/*
synthetic-biolocy:
  - topics/synthetic-biology/**/*
teaching:
  - topics/teaching/**/*
transcriptomics:
  - topics/transcriptomics/**/*
variant-analysis:
  - topics/variant-analysis/**/*
visualisation:
  - topics/visualisation/**/*

update image of output file in tutorial
  topics/imaging/images/process-image-bioimageio/output-nucleus-seg-model.png
Labels: imaging

Add tutorial and images for BioImage.IO model processing
  Gemfile
  Gemfile.lock
  topics/imaging/images/process-image-bioimageio/input_nucleisegboundarymodel.png
  topics/imaging/images/process-image-bioimageio/output-nucleus-seg-model.png
  topics/imaging/tutorials/process-image-bioimageio/faqs/index.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.bib
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/workflows/index.md
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow.ga
Labels: template-and-tools, imaging

Update md file
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Updated the workflow, tools, and text of Visualization of RNA-Seq results with Volcano Plot
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot/DE_results.png
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot/volcano_genes.png
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/workflows/Visualization-Of-RNA-Seq-Results-With-Volcano-Plot-tests.yml
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/workflows/Visualization-Of-RNA-Seq-Results-With-Volcano-Plot.ga
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/workflows/test-data/volcano_pdf.pdf
Labels: transcriptomics

Removed the old files from the workflows folder of rna-seq-viz-with-volcanoplot
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/workflows/index.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/workflows/rna-seq-viz-with-volcanoplot-test.yml
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/workflows/rna-seq-viz-with-volcanoplot.ga
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/workflows/volcanoplot.pdf
Labels: transcriptomics

Update lint.rb to cover both -tests.yml and _tests.yml
  bin/lint.rb
Labels: template-and-tools
