Repository galaxyproject/training-material, changes with the labels that .github/labeler.yml gives for each.
All labels: faqs, news, template-and-tools, admin, ai4life, assembly, climate, computational-chemistry, contributing, data-science, dev, ecology, epigenetics, evolution, fair, galaxy-interface, genome-annotation, imaging, instructors, introduction, materials-science, metabolomics, microbiome, proteomics, sequence-analysis, single-cell, statistics, synthetic-biolocy, teaching, transcriptomics, variant-analysis, visualisation

Update tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/ecology/tutorials/openrefine_gbif/tutorial.md
  topics/ecology/tutorials/openrefine_gbif/tutorial.md
Labels: ecology

Update tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update tutorial.bib
  topics/imaging/tutorials/process-image-bioimageio/tutorial.bib
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update tutorial.md
  topics/ecology/tutorials/openrefine_gbif/tutorial.md
Labels: ecology

Update tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow.ga
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow.ga
Labels: imaging

Update tutorial and add new image for display feature
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

fix time estimation
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

update regex for time_estimation
  bin/schema-tutorial.yaml
Labels: template-and-tools

Update main_workflow.ga
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow.ga
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update tutorial.bib
  topics/imaging/tutorials/process-image-bioimageio/tutorial.bib
Labels: imaging

Update tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update image and add display-avivator screenshot
  topics/imaging/images/process-image-bioimageio/display-avivator.png
  topics/imaging/images/process-image-bioimageio/output-nucleus-seg-model.png
Labels: imaging

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update tutorial processimagebio (#4)
  Gemfile.lock
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: template-and-tools, imaging

Reset Gemfile.lock to upstream/main
  Gemfile.lock
Labels: template-and-tools

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

Update tutorial.md
  topics/ecology/tutorials/openrefine_gbif/tutorial.md
Labels: ecology

Update tutorial.md
  topics/ecology/tutorials/openrefine_gbif/tutorial.md
Labels: ecology

Restore Gemfile files from main branch
  Gemfile
  Gemfile.lock
Labels: template-and-tools

Update topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

.github/labeler.yml:

faqs:
  - faqs/**/*
news:
  - news/**/*

# if any files touched outside of topics, faqs and news, label as template-and-tools
template-and-tools:
  - any: ['!topics/**/*', '!faqs/**/*', '!news/**/*']


# topic labels
admin:
 - topics/admin/**/*
ai4life:
 - topics/ai4life/**/*
assembly:
  - topics/assembly/**/*
climate:
  - topics/climate/**/*
computational-chemistry:
  - topics/computational-chemistry/**/*
contributing:
  - topics/contributing/**/*
data-science:
  - topics/data-science/**/*
dev:
  - topics/dev/**/*
ecology:
  - topics/ecology/**/*
epigenetics:
  - topics/epigenetics/**/*
evolution:
  - topics/evolution/**/*
fair:
  - topics/fair/**/*
galaxy-interface:
  - topics/galaxy-interface/**/*
genome-annotation:
  - topics/genome-annotation/**/*
imaging:
  - topics/imaging/**/*
instructors:
  - topics/instructors/**/*
introduction:
  - topics/introduction/**/*
materials-science:
  - topics/materials-science/**/*
metabolomics:
  - topics/metabolomics/**/*
microbiome:
  - topics/microbiome/**/*
proteomics:
  - topics/proteomics/**/*
sequence-analysis:
  - topics/sequence-analysis/**/*
single-cell:
  - topics/single-cell/**/*
statistics:
  - topics/statistics/**/*
synthetic-biolocy:
  - topics/synthetic-biology/**/*
teaching:
  - topics/teaching/**/*
transcriptomics:
  - topics/transcriptomics/**/*
variant-analysis:
  - topics/variant-analysis/**/*
visualisation:
  - topics/visualisation/**/*
