Repository galaxyproject/training-material, pull requests merged in 2018-12, with the labels that each got.

#1170 More notes on peaks2genes
  _config.yml
  _includes/help.html
  snippets/change_datatype.md
  snippets/import_via_link.md
  snippets/warning_results_may_vary.md
  topics/galaxy-data-manipulation/tutorials/collections/tutorial.md
  topics/galaxy-data-manipulation/tutorials/get-data/slides.html
  topics/galaxy-data-manipulation/tutorials/processing-many-samples-at-once/tutorial.md
  topics/introduction/images/galaxy_help.png
  topics/introduction/images/galaxy_interface_build.png
  topics/introduction/images/galaxy_interface_history_switch.png
  topics/introduction/images/galaxy_interface_menu.png
  topics/introduction/images/galaxy_interface_multiple_histories.png
  topics/introduction/images/galaxy_tool.png
  topics/introduction/images/galaxy_ts.png
  topics/introduction/images/servers.png
  topics/introduction/images/visualizations.png
  topics/introduction/slides/introduction.html
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: improvement, topic: introduction, work-in-progress

#1172 Add example in algorithmic details of cutadapt
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: topic: sequence-analysis

#1171 Mothur MiSeq SOP updates
  topics/metagenomics/tutorials/mothur-miseq-sop/tools.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/workflows/mothur-miseq-sop.ga
Labels: topic: metagenomics

#1183 mothur miseq sop: update tool list
  topics/metagenomics/tutorials/mothur-miseq-sop/tools.yaml
Labels: topic: metagenomics

#1185 Fixes #1121
  assets/js/main.js
Labels: bug, improvement
