Repository galaxyproject/training-material, pull requests merged in 2018-06, with the labels that each got.

#803 Conda, Containers - small updates for 2018.
  topics/dev/images/quayioseqtk.png
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/containers/slides.html
Labels: improvement, topic: dev

#809 Remove mention of the external de novo workflow inside the tutorial
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Labels: broken link, topic: transcriptomics

#808 Add icons for insert tags
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic: transcriptomics

#737 transcriptomics/ref-based tour
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/ref-based/tours/tour.yaml
Labels: topic: transcriptomics

#550 Topic/metagenomics improvements
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Labels: topic: metagenomics, work-in-progress

#810 Fix effective genome size for MACS2 callpeak (estrogen tutorial - Chip-seq)
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tutorial.md
Labels: topic: chip-seq

#816 Add tutorial to explain how to contribute using command-line
  topics/contributing/images/PR_branch_check.png
  topics/contributing/images/PR_branch_github.png
  topics/contributing/images/PR_branch_master.png
  topics/contributing/images/PR_branches_01.png
  topics/contributing/images/PR_branches_02.png
  topics/contributing/images/PR_button.png
  topics/contributing/images/PR_description.png
  topics/contributing/images/PR_fork.jpg
  topics/contributing/images/PR_fork_repo.png
  topics/contributing/images/PR_form.png
  topics/contributing/images/PR_github_url.png
  topics/contributing/images/PR_global_schema.png
  topics/contributing/images/PR_list.png
  topics/contributing/images/PR_merged_branche.png
  topics/contributing/images/PR_schema_01.png
  topics/contributing/images/PR_schema_02.png
  topics/contributing/images/PR_schema_03.png
  topics/contributing/images/PR_schema_04.png
  topics/contributing/images/PR_schema_05.png
  topics/contributing/images/PR_schema_06.png
  topics/contributing/images/PR_test_green.png
  topics/contributing/images/PR_test_red.png
  topics/contributing/images/PR_test_yellow.png
  topics/contributing/images/oss_development_process.png
  topics/contributing/images/oss_development_process.svg
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
  topics/dev/images/PR_button.png
  topics/dev/images/PR_fork.png
  topics/dev/images/PR_github_url.png
Labels: topic: contributing

#819 Add tutorial to explain how to contribute via GitHub interface
  topics/contributing/images/github_contributor.png
  topics/contributing/images/github_contributor_edit.png
  topics/contributing/images/github_contributor_interface.png
  topics/contributing/images/github_edit.png
  topics/contributing/images/github_interface.png
  topics/contributing/images/github_pr_commit.png
  topics/contributing/images/github_pr_commit_changes.png
  topics/contributing/images/github_pr_file_changed.png
  topics/contributing/images/github_pr_form.png
  topics/contributing/images/github_pr_interface.png
  topics/contributing/images/github_propose_change_form.png
  topics/contributing/images/github_propose_change_form_submit.png
  topics/contributing/images/github_sign_up.png
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/github-interface-contribution/tutorial.md
Labels: topic: contributing

#779 FAQ edits
  _layouts/home.html
  faq.md
  shared/images/development_process.png
  shared/images/interactive_training.png
  shared/images/repo_organization.png
  shared/images/repo_organization.svg
  shared/images/training_infra.svg
Labels: work-in-progress

#814 Add contact email in config file
  _config.yml
Labels: template-and-tools

#827 Add annotation topic
  metadata/genome-annotation.yaml
  topics/genome-annotation/docker/Dockerfile
  topics/genome-annotation/images/antismash_full.png
  topics/genome-annotation/images/augustus.png
  topics/genome-annotation/images/augustus_out.png
  topics/genome-annotation/images/barchart_sequencecomposition.png
  topics/genome-annotation/images/blast database.png
  topics/genome-annotation/images/blastP.png
  topics/genome-annotation/images/blastprograms.png
  topics/genome-annotation/images/fasta_format.png
  topics/genome-annotation/images/gb_full.png
  topics/genome-annotation/images/gff3_format.png
  topics/genome-annotation/images/selectlines.png
  topics/genome-annotation/images/work flow_Screenshot from 2015-06-23 09-33-23.png
  topics/genome-annotation/index.md
  topics/genome-annotation/input_data/Streptomyces_coelicolor_part.genbank
  topics/genome-annotation/metadata.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/data-library.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/images/annotation_details.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/interface.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/jbrowse6.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/prokka_pipeline.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/seq_annotation.jpg
  topics/genome-annotation/tutorials/annotation-with-prokka/slides.html
  topics/genome-annotation/tutorials/annotation-with-prokka/tools.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/tours/tour.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-prokka/workflows/Galaxy-Workflow-Workflow_constructed_from_history__prokka-workflow_.ga
  topics/genome-annotation/tutorials/genome-annotation/data-library.yaml
  topics/genome-annotation/tutorials/genome-annotation/tools.yaml
  topics/genome-annotation/tutorials/genome-annotation/tours/tour.yaml
  topics/genome-annotation/tutorials/genome-annotation/tutorial.md
  topics/genome-annotation/tutorials/genome-annotation/workflows/workflow.ga
  topics/sequence-analysis/metadata.yaml
Labels: topic: genome annotation

#684 Statistics topic and IWTomics tutorial
  CONTRIBUTORS.yaml
  metadata/statistics.yaml
  topics/statistics/README.md
  topics/statistics/docker/Dockerfile
  topics/statistics/images/load_smooth_and_plot_output.png
  topics/statistics/images/plot_with_threshold_on_test_scale_output.png
  topics/statistics/images/test_and_plot_output.png
  topics/statistics/index.md
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/iwtomics/data-library.yaml
  topics/statistics/tutorials/iwtomics/tools.yaml
  topics/statistics/tutorials/iwtomics/tours/tour.yaml
  topics/statistics/tutorials/iwtomics/tutorial.md
  topics/statistics/tutorials/iwtomics/workflows/IWTomics_Workflow.ga
Labels: topic: statistics

#772 Tutorial on analysis of new assemblies
  _config.yml
  topics/assembly/images/CP020543_dp.png
  topics/assembly/images/CP024090_dp.png
  topics/assembly/images/LT906474_dp.png
  topics/assembly/images/bar-chart-o.png
  topics/assembly/images/best_genomes_chart.png
  topics/assembly/images/chart_cog.png
  topics/assembly/images/complement.png
  topics/assembly/images/disks.png
  topics/assembly/images/dotplot.png
  topics/assembly/images/ecoli_genome_selection.png
  topics/assembly/images/folder-o.png
  topics/assembly/images/genbank_dir.png
  topics/assembly/images/gsheet_import.png
  topics/assembly/images/id_vs_len.png
  topics/assembly/images/igv_co024090.png
  topics/assembly/images/igv_cp020543.png
  topics/assembly/images/igv_ecolic.png
  topics/assembly/images/igv_empty.png
  topics/assembly/images/igv_gap1.png
  topics/assembly/images/igv_gap_closeup.png
  topics/assembly/images/igv_gaps.png
  topics/assembly/images/igv_gaps2.png
  topics/assembly/images/igv_gaps3.png
  topics/assembly/images/igv_genes.png
  topics/assembly/images/igv_lt.png
  topics/assembly/images/igv_panels.png
  topics/assembly/images/intersect.png
  topics/assembly/images/lastz_collection.png
  topics/assembly/images/ncbi_assembly.png
  topics/assembly/images/ncbi_data.png
  topics/assembly/images/pencil.png
  topics/assembly/images/refresh.png
  topics/assembly/images/scatter.png
  topics/assembly/images/three_dot_plots.png
  topics/assembly/images/tool_search.png
  topics/assembly/metadata.yaml
  topics/assembly/tutorials/ecoli_comparison/data-library.yaml
  topics/assembly/tutorials/ecoli_comparison/tools.yaml
  topics/assembly/tutorials/ecoli_comparison/tours/tour.yaml
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Labels: topic: assembly

#833 update recommended parameter formatting
  _config.yml
  templates/tutorials/tutorial1/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools

#770 testing methylation tutorial
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq-job.yml
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq-test.yml
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq.ga
Labels: topic: epigenetics

#837 Add an overall tutorial about tutorial creation and clarify depending tutorials
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
Labels: topic: contributing

#841 Add love to "Form peaks to genes" tutorial
  _config.yml
  topics/introduction/images/create_new_history.png
  topics/introduction/images/input_expanded_file.png
  topics/introduction/images/intro_01.png
  topics/introduction/images/login_register.png
  topics/introduction/images/upload_button.png
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Labels: topic: introduction

#745 galaxy tour for seq-analysis/genome annotation with prokka
  topics/genome-annotation/tutorials/annotation-with-prokka/tours/tour.yaml
Labels: topic: sequence-analysis

#845 Fix cluster library stack image
  topics/admin/images/cluster_lib_stack.png
  topics/admin/tutorials/connect-to-compute-cluster/slides.html
Labels: improvement, topic: admin

#849 Modified admin/connect-to-compute-cluster tutorial to change .ini to …
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Labels: topic: admin

#863 Fix link to technical support tutorial in new tutorial creation tutorial
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Labels: topic: contributing

#867 "Me" is not necessary in edit link
  _includes/default-header.html
Labels: template-and-tools

#868 Allow usernames without names
  _layouts/topic.html
  topics/dev/metadata.yaml
Labels: template-and-tools

#871 Add script to setup the skeleton of a new topic/tutorial
  bin/setup_training_content.py
  environment.yml
  templates/index.md
  templates/metadata.yaml
  templates/tutorials/tutorial1/slides.html
  templates/tutorials/tutorial1/tutorial.md
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Labels: template-and-tools
