Repository galaxyproject/training-material, pull requests merged in 2018-02, with the labels that each got.

#690 small fixes to mothur miseq SOP
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Labels: topic: metagenomics

#671 Add tour metadata for de-novo transcriptomics tutorial
  topics/transcriptomics/metadata.yaml
Labels: topic: transcriptomics

#667 Added a tutorial for microbial variants
  CONTRIBUTORS.yaml
  topics/variant-analysis/images/interface.png
  topics/variant-analysis/images/jbrowse1.png
  topics/variant-analysis/images/jbrowse2.png
  topics/variant-analysis/images/micro-start-history.png
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/microbial-variants/data-library.yaml
  topics/variant-analysis/tutorials/microbial-variants/tools.yaml
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Labels: topic: variant-analysis

#691 Update ref-based RNA-seq tutorial
  topics/transcriptomics/images/five_type_rna_seq_reads.png
  topics/transcriptomics/images/five_type_rna_seq_reads.svg
  topics/transcriptomics/images/gene_counting.png
  topics/transcriptomics/images/gene_counting.svg
  topics/transcriptomics/images/junction_igv_screenshot.png
  topics/transcriptomics/images/ref_based_most_de_gene_heatmap.png
  topics/transcriptomics/images/rnaseq_library_type.png
  topics/transcriptomics/images/rnaseq_library_type.svg
  topics/transcriptomics/images/splice_aware_alignment.png
  topics/transcriptomics/images/splice_aware_alignment.svg
  topics/transcriptomics/images/spliced_read.png
  topics/transcriptomics/images/spliced_read.svg
  topics/transcriptomics/images/star.png
  topics/transcriptomics/images/star_igv_sashimi.png
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
  topics/transcriptomics/tutorials/ref-based/data-library.yaml
  topics/transcriptomics/tutorials/ref-based/tools.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/ref-based/workflows/count_table_extraction_for_one_sample.ga
  topics/transcriptomics/tutorials/ref-based/workflows/full_workflow.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc_mapping_counting.ga
Labels: review-needed, topic: transcriptomics
