Repository galaxyproject/training-material, pull requests merged in 2018-07, with the labels that each got.

#899 [GCCBOSC CodeFest] Creation of a jupyter tutorial
  topics/galaxy-ui/images/expanded_dataset.png
  topics/galaxy-ui/images/jupyter_plot.png
  topics/galaxy-ui/images/notebook_overview.png
  topics/galaxy-ui/images/save_notebook.png
  topics/galaxy-ui/images/visu_list.png
  topics/galaxy-ui/metadata.yaml
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/data-library.yaml
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/tutorial.md
  topics/introduction/metadata.yaml
Labels: topic: introduction

#896 ToolShed is growing baby!
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Labels: topic: contributing

#909 Update metadata.yaml
  CONTRIBUTORS.yaml
  topics/galaxy-ui/metadata.yaml
Labels: topic: introduction

#919 Update Intro 101 tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Labels: review-needed, topic: introduction, usage tip

#911 non-dip-tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Labels: topic: variant-analysis

#916 Changed wording and added key points to "Collections: Using dataset collection" tutorial
  topics/galaxy-data-manipulation/metadata.yaml
  topics/galaxy-data-manipulation/tutorials/collections/tutorial.md
Labels: topic: galaxy-data-manipulation

#926 Add a back/up button to slides
  _layouts/base_slides.html
  assets/css/slides.css
Labels: template-and-tools

#927 Fix some broken solution boxes
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Labels: topic: metagenomics

#928 Ansible: add note about choosing a role
  topics/admin/tutorials/ansible/tutorial.md
Labels: topic: admin

#918 Update HiCExplorer tutorial
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Labels: topic: epigenetics

#908 Updated tutorial.md and metadata.yaml
  topics/galaxy-ui/tutorials/history/tutorial.md
Labels: topic: introduction
