Repository galaxyproject/training-material, pull requests merged in 2018-08, with the labels that each got.

#948 tour for mapping-by-sequencing
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/tours/tour.yaml
Labels: topic: variant-analysis

#920 Microbial variants tour
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/microbial-variants/tours/tour.yaml
Labels: topic: variant-analysis

#952 FAQ: add checklist for tutorial editors
  faq.md
Labels: faq

#951 Add yaml file with correspondance between Zenodo ext and Galaxy datatype
  shared/datatypes.yaml
Labels: template-and-tools

#873 Update tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Labels: topic: proteomics

#955 Fix layout when tutorial associated slides
  _layouts/tutorial_hands_on.html
Labels: bug, template-and-tools

#870 tour for genetic map rad seq
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tours/tour.yaml
Labels: topic: sequence-analysis

#746 tour for ref-based-rad-seq
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tours/tour.yaml
Labels: topic: sequence-analysis

#929 tour for rna-seq-viz-with-cummerbund
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tours/tour.yaml
Labels: topic: transcriptomics

#562 added tour for srna
  topics/transcriptomics/tutorials/srna/tours/tour.yaml
  topics/transcriptomics/tutorials/srna/tutorial.md
Labels: topic: transcriptomics

#961 yamllint: don't fail on trailling whitespace
  .yamllint
Labels: template-and-tools

#944 Update rare variant calling tutorial for GTN consistency and new tool version.
  CONTRIBUTORS.yaml
  topics/variant-analysis/images/history-dunovo-raw.png
  topics/variant-analysis/images/history-dunovo.png
  topics/variant-analysis/images/history-dunovo.svg
  topics/variant-analysis/images/workflow-dunovo-variant-calling.png
  topics/variant-analysis/images/workflow-dunovo.png
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/dunovo/tutorial.md
  topics/variant-analysis/tutorials/dunovo/workflows/dunovo.ga
  topics/variant-analysis/tutorials/dunovo/workflows/variant-calling.ga
Labels: topic: variant-analysis

#959 FAQ: add instructions on testing interactive tours
  faq.md
Labels: faq

#953 Adding new Clip-Seq tutorial
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_1.png
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_2.png
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_3.png
  topics/transcriptomics/images/clipseq_correlation.png
  topics/transcriptomics/images/clipseq_data_uploaded.png
  topics/transcriptomics/images/clipseq_duplication_level_1.png
  topics/transcriptomics/images/clipseq_duplication_level_2.png
  topics/transcriptomics/images/clipseq_fingerprint.png
  topics/transcriptomics/images/clipseq_ma_plot.png
  topics/transcriptomics/images/clipseq_motif.png
  topics/transcriptomics/images/clipseq_peak_igv.png
  topics/transcriptomics/images/upload_data_page.png
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/clipseq/data-library.yaml
  topics/transcriptomics/tutorials/clipseq/tools.yaml
  topics/transcriptomics/tutorials/clipseq/tutorial.md
  topics/transcriptomics/tutorials/clipseq/workflows/init_workflow.ga
Labels: topic: transcriptomics

#970 Enable boolean for enable parameter
  _layouts/topic.html
Labels: template-and-tools

#973 Check if zenodo parameter exists in topic page
  _layouts/topic.html
Labels: template-and-tools

#974 Add possibility of shared parts inside tutorials
  _config.yml
  _includes/default-header.html
  _layouts/badges.html
  _layouts/faq.html
  _layouts/hall-of-fame.html
  _layouts/home.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  snippets/add_tag.md
  snippets/change_datatype.md
  snippets/import_from_data_library.md
  snippets/import_via_link.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: template-and-tools

#761 add workflow testing files
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling-job.yml
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling-test.yml
Labels: topic: variant-analysis

#765 testing general assembly tutorial
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction-job.yml
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction-test.yml
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction.ga
Labels: topic: assembly, work-in-progress

#976 Add nojekyll file to avoid GitHub page to try to build
  .nojekyll
  _config.yml
Labels: bug, template-and-tools

#771 testing unicycler assembly tutorial
  topics/assembly/tutorials/unicycler-assembly/workflows/Galaxy-Workflow-Unicycler_training.ga
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler-job.yml
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler-test.yml
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler.ga
Labels: topic: assembly, work-in-progress

#977 Add .nojekyll for gh-page
  bin/publish
Labels: bug

#894 new training ewas-suite - please review
  CONTRIBUTORS.yaml
  topics/epigenetics/images/Epigenetic_mechanisms.jpg
  topics/epigenetics/images/ewaschart1.png
  topics/epigenetics/images/ewaschart2.png
  topics/epigenetics/images/funcann.jpg
  topics/epigenetics/images/methylationassay.png
  topics/epigenetics/images/qcplot.png
  topics/epigenetics/images/ucsc.png
  topics/epigenetics/tutorials/ewas-suite/data-library.yaml
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/epigenetics/tutorials/ewas-suite/tools.yaml
  topics/epigenetics/tutorials/ewas-suite/tours/tour.yaml
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
  topics/epigenetics/tutorials/ewas-suite/workflows/ewas_training.ga
Labels: topic: epigenetics

#798 Added: Short introduction to Galaxy
  topics/introduction/images/cog.png
  topics/introduction/images/eye-icon.png
  topics/introduction/images/fastq.png
  topics/introduction/images/fastqc-out.png
  topics/introduction/images/filter-fastq1.png
  topics/introduction/images/galaxy-login.png
  topics/introduction/images/galaxy-panel.png
  topics/introduction/images/name_history.png
  topics/introduction/images/rerun.png
  topics/introduction/images/upload-box.png
  topics/introduction/images/view-all-hist.png
  topics/introduction/images/view-hist.png
  topics/introduction/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-short/data-library.yaml
  topics/introduction/tutorials/galaxy-intro-short/tools.yaml
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: topic: introduction
