Repository galaxyproject/training-material, pull requests merged in 2018-11, with the labels that each got.

#1122 [martenson-patch-3] Google analytics ID via travis variable
  Makefile
  _config.yml
  _layouts/base.html
  _layouts/base_slides.html
Labels: template-and-tools

#1100 implement ga
  Makefile
  _config.yml
  _layouts/base.html
  _layouts/base_slides.html
Labels: template-and-tools

#1123 Add some QR codes
  assets/images/qr-gtn-black-logo.png
  assets/images/qr-gtn-black.png
  assets/images/qr-gtn-darkblue-logo.png
  assets/images/qr-gtn-darkblue.png
  assets/images/qr-gtn-darkgrey-logo.png
  assets/images/qr-gtn-darkgrey.png
  assets/images/qr-gtn-logo.xcf
  assets/images/qr-gtn-white-logo.png
  assets/images/qr-gtn-white.png
  assets/images/qr-gtn.xcf
  faq.md
Labels: template-and-tools

#1124 Update tools.yaml for ref-based tutorial
  topics/transcriptomics/tutorials/ref-based/tools.yaml
Labels: bug

#972 Basics of machine learning
  CONTRIBUTORS.yaml
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/machinelearning/images/ml_basics.png
  topics/statistics/tutorials/machinelearning/images/prediction.png
  topics/statistics/tutorials/machinelearning/images/test_data.png
  topics/statistics/tutorials/machinelearning/images/train_data.png
  topics/statistics/tutorials/machinelearning/images/usage_ml.png
  topics/statistics/tutorials/machinelearning/images/variants_ml.png
  topics/statistics/tutorials/machinelearning/tutorial.md
Labels: new tutorial, topic: statistics

#1125 Add an icon for repeat parameters
  _config.yml
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools

#1117 remove screenshots and restructure tools settings -srna
  _config.yml
  snippets/build_dataset_list.md
  snippets/select_collection.md
  topics/transcriptomics/images/sRNA/Fig10_Filter_rRNA_tool_form.png
  topics/transcriptomics/images/sRNA/Fig11_Convert_to_fastq_tool_form.png
  topics/transcriptomics/images/sRNA/Fig12a_Manipulate_Fastq_siRNA_tool_form.png
  topics/transcriptomics/images/sRNA/Fig12b_Manipulate_Fastq_piRNA_tool_form.png
  topics/transcriptomics/images/sRNA/Fig14_salmon_siRNA_Blank_tool_form.png
  topics/transcriptomics/images/sRNA/Fig15_deseq2_sr_tool_form.png
  topics/transcriptomics/images/sRNA/Fig16_filter_tool_form.png
  topics/transcriptomics/images/sRNA/Fig1_build_dataset_list.png
  topics/transcriptomics/images/sRNA/Fig2_create_list.png
  topics/transcriptomics/images/sRNA/Fig4_fastqc_tool_form.png
  topics/transcriptomics/images/sRNA/Fig6_change_datatype.png
  topics/transcriptomics/images/sRNA/Fig7_trimgalore_tool_form.png
  topics/transcriptomics/images/sRNA/Fig9_HISAT_rRNA_tool_form.png
  topics/transcriptomics/tutorials/srna/tutorial.md
Labels: topic: transcriptomics

#1129 Document workflow testing briefly
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Labels: topic: contributing

#1131 Add translation support
  _config.yml
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
Labels: biohackathon, new feature, template-and-tools

#1116 removed screenshots from tools
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
Labels: topic: transcriptomics

#1127 tour for assembly-ecoli comparison
  topics/assembly/tutorials/ecoli_comparison/tours/tour.yaml
Labels: topic: assembly

#1118 tour for transcriptomics/network-viz-heinz
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tours/tour.yaml
Labels: topic: transcriptomics

#1132 Add a link to our publication to front page
  _layouts/home.html
  faq.md
Labels: template-and-tools

#1133 Hall of Fame: display username if no name provided
  _layouts/hall-of-fame.html
Labels: template-and-tools

#1135 fix some missing defaults
  _layouts/base_slides.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Labels: feature, template-and-tools

#1137 Search! (by TeSS)
  _includes/help.html
Labels: new feature, template-and-tools

#1074 RADseq denovo tuto
  snippets/create_new_file.md
  topics/sequence-analysis/images/RAD4_Population_Genomics/denovo/denovo_in.png
  topics/sequence-analysis/images/RAD4_Population_Genomics/multiqc.PNG
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/de-novo-rad-seq/workflows/Galaxy-Workflow-de-novo-rad-seq.ga
  topics/sequence-analysis/tutorials/de-novo-rad-seq/workflows/workflow-de-novo-rad-seq.ga
Labels: topic: sequence-analysis

#1138 Move dropdown left
  _includes/help.html
Labels: bug, template-and-tools

#1031 tours for formation_of_super-structures_on_xi
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tours/formation_of_super-structures_on_xi_main.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tours/formation_of_super-structures_on_xi_qualitycontrol_mapping.yaml
Labels: topic: chip-seq

#968 Update to Makefile for more flexible hosting params and incremental builds
  Makefile
Labels: template-and-tools

#1073 RADseq reference tuto improvement
  snippets/add_custom_build.md
  snippets/change_dbkey.md
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts_end.PNG
  topics/sequence-analysis/images/ref_based_workflow.PNG
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/Galaxy-Workflow-Workflow_constructed_from_history__STACKS_RAD__population_genomics_with_reference_genome_.ga
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/workflow.ga
Labels: topic: sequence-analysis

#994 workflow for intro-galaxy-for-strands
  topics/introduction/tutorials/galaxy-intro-strands/workflows/Galaxy-Workflow-galaxy-intro-strands-2.ga
  topics/introduction/tutorials/galaxy-intro-strands/workflows/Galaxy-Workflow-galaxy-intro-strands.ga
Labels: topic: introduction

#1142 Support arabic translation
  _config.yml
Labels: biohackathon, template-and-tools

#1153 Add Maria Doyle as maintainer for transcriptomics topic
  topics/transcriptomics/metadata.yaml
Labels: highlight, topic: transcriptomics

#1139 Disable tutorials without Zenodo link and some chip-seq
  bin/validate-frontmatter.rb
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tutorial.md
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
  topics/variant-analysis/tutorials/dip/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: template-and-tools

#1154 Add CODEOWNERS file
  CODEOWNERS
Labels: template-and-tools

#1157 Maker: fix typo
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Labels: topic: genome annotation

#958 Metabolomics second try
  CONTRIBUTORS.yaml
  _config.yml
  metadata/metabolomics.yaml
  snippets/create_dataset_collection.md
  snippets/import_via_link.md
  topics/metabolomics/README.md
  topics/metabolomics/docker/Dockerfile
  topics/metabolomics/images/slide-intro-metabolome_pathway.png
  topics/metabolomics/images/slide-intro-molecular_mass_range.png
  topics/metabolomics/images/slide-intro-ms_nmr_complementarity.png
  topics/metabolomics/images/slide-intro-omics.png
  topics/metabolomics/images/slide-intro-targeted_metabolomics.png
  topics/metabolomics/images/slide-intro-untargeted_metabolomics.png
  topics/metabolomics/images/slide-intro-wheel.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-01.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-02.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-03.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-04.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-05.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-06.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-07.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-08.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-09.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-10.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-11.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-01.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-02.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-03.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-04.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-workflow.png
  topics/metabolomics/images/tutorial-lcms-data-import-samplemetadata-01.png
  topics/metabolomics/images/tutorial-lcms-data-import-samplemetadata-02.png
  topics/metabolomics/images/tutorial-lcms-data-import-samplemetadata-03.png
  topics/metabolomics/images/tutorial-lcms-data-import-samplemetadata-04.png
  topics/metabolomics/images/tutorial-lcms-data-single-vs-zip-single.png
  topics/metabolomics/images/tutorial-lcms-data-single-vs-zip-zip.png
  topics/metabolomics/index.md
  topics/metabolomics/metadata.yaml
  topics/metabolomics/slides/introduction.html
  topics/metabolomics/tutorials/lcms-data-import/tools.yaml
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Labels: CoFest, feature, new contributor, new topic, new tutorial, review-needed, topic: metabolomics

#967 added proteogenomics to the GTN
  CONTRIBUTORS.yaml
  snippets/build_list_collection.md
  topics/galaxy-data-manipulation/images/buildList.png
  topics/proteomics/README.md
  topics/proteomics/images/CustomProDB.png
  topics/proteomics/images/Fasta_sequence.png
  topics/proteomics/images/IGV_viewer.png
  topics/proteomics/images/Output_PGC.png
  topics/proteomics/images/Output_PP.png
  topics/proteomics/images/PRoteinview.png
  topics/proteomics/images/Psm.png
  topics/proteomics/images/QT_output.png
  topics/proteomics/images/Third_workflow.png
  topics/proteomics/images/database_creation.png
  topics/proteomics/images/final_summary.png
  topics/proteomics/images/genomic_mapping_file.png
  topics/proteomics/images/load_from_Galaxy.png
  topics/proteomics/images/lorikeet.png
  topics/proteomics/images/mz2sqlite.png
  topics/proteomics/images/novel_peptides_view.png
  topics/proteomics/images/potential_novel_publication.png
  topics/proteomics/images/second_workflow.png
  topics/proteomics/images/select_IGV.png
  topics/proteomics/images/select_pep_PSM.png
  topics/proteomics/images/select_protein.png
  topics/proteomics/images/track_load.png
  topics/proteomics/images/tracks_align.png
  topics/proteomics/images/variant_calling.png
  topics/proteomics/images/view_in_prot.png
  topics/proteomics/images/viewing_SNP_Variant_IGV.png
  topics/proteomics/images/workflow_objective1.png
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/rnaseq-db-creation-tools.yaml
  topics/proteomics/tutorials/proteogenomics-dbcreation/tools.yaml
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/workflows/galaxy-workflow-mouse_rnaseq_dbcreation.ga
  topics/proteomics/tutorials/proteogenomics-dbsearch/protegenomics_rna-seqdb-workflow.yaml
  topics/proteomics/tutorials/proteogenomics-dbsearch/tools.yaml
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/workflow/galaxy-workflow-mouse_rnaseq_dbsearch.ga
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/proteogenomics_novelpeptides.yaml
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tools.yaml
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/workflow/galaxy-workflow-mouse_novel_peptide_analysis.ga
Labels: new tutorial, topic: proteomics

#1158 Proteogenomics: fix workflow folder names
  topics/proteomics/tutorials/proteogenomics-dbsearch/workflows/galaxy-workflow-mouse_rnaseq_dbsearch.ga
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/workflows/galaxy-workflow-mouse_novel_peptide_analysis.ga
Labels: topic: proteomics

#1161 fix leading spaces
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic: transcriptomics

#1163 Small enhancements to "A short introduction to Galaxy" tutorial
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: improvement, topic: introduction

#1162 Data library import snippet: update instructions
  snippets/import_from_data_library.md
Labels: snippets

#1149 Support learning paths
  Makefile
  _config.yml
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
  bin/validate-frontmatter.rb
  snippets/display_extra_training.md
  topics/assembly/metadata.yaml
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/assembly/tutorials/unicycler-assembly/tutorial.md
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/epigenetics/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/statistics/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Labels: biohackathon, new feature, template-and-tools

#1164 Adding the first mass spectrometry imaging tutorial
  snippets/create_new_file.md
  snippets/rename_dataset.md
  topics/proteomics/images/MSI1_angiotensin_image.png
  topics/proteomics/images/MSI1_foldchange.png
  topics/proteomics/images/MSI1_mouse_kidney.png
  topics/proteomics/images/MSI1_mz_error.png
  topics/proteomics/images/MSI1_npeaks_TIC.png
  topics/proteomics/images/MSI1_upload_composite.png
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/tutorial.md
Labels: new tutorial, topic: proteomics

#1165 Metabolomics: update requirements metadata format
  topics/metabolomics/metadata.yaml
Labels: broken link

#1160 QC: added details on cutadapt
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: topic: sequence-analysis

#1168 fix links: lowercase some anchors
  topics/instructors/tutorials/setup-galaxy-for-training/tutorial.md
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Labels: broken link

#1083 Cummerbund
  topics/transcriptomics/images/cummerbund-heatmap.png
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
Labels: new contributor(s), topic: transcriptomics

#1169 peak2genes tiny update
  _config.yml
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Labels: bug, topic: introduction
