Repository galaxyproject/training-material, pull requests merged in 2018-10, with the labels that each got.

#1052 Display instance section only for 'use' topic
  _layouts/topic.html
Labels: template-and-tools

#1050 Mothur MiSeq SOP: add extra background information about mock communities
  topics/metagenomics/images/mock_community.jpg
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Labels: topic: metagenomics

#1051 Create topic for material for instructors
  metadata/instructors.yaml
  topics/instructors/README.md
  topics/instructors/index.md
  topics/instructors/metadata.yaml
Labels: topic: instructors

#1067 Update RADseq ref-based tutorial.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Labels: topic: sequence-analysis

#1066 Test and correct / update RADseq de novo tutorial
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts_end.PNG
  topics/sequence-analysis/images/denovo_based_workflow.PNG
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Labels: topic: sequence-analysis

#1072 Redo: Add some more JSON-LD Terms
  _includes/material.jsonld
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-jsonld.rb
  topics/admin/tutorials/deployment-platforms-options/slides.html
  topics/admin/tutorials/dev-to-production/tutorial.md
  topics/admin/tutorials/galaxy-docker/slides.html
  topics/assembly/tutorials/debruijn-graph-assembly/slides.html
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.md
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/assembly/tutorials/general-introduction/slides.html
  topics/assembly/tutorials/general-introduction/tutorial.md
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-slides/slides.html
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/github-command-line-contribution/slides.html
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
  topics/contributing/tutorials/github-interface-contribution/tutorial.md
  topics/contributing/tutorials/good-practices/slides.html
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/data-source-integration/tutorial.md
  topics/dev/tutorials/interactive-environments/slides.html
  topics/dev/tutorials/visualization-generic/slides.html
  topics/dev/tutorials/visualization-generic/tutorial.md
  topics/galaxy-data-manipulation/tutorials/collections/tutorial.md
  topics/galaxy-data-manipulation/tutorials/processing-many-samples-at-once/tutorial.md
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/tutorial.md
  topics/galaxy-ui/tutorials/history/tutorial.md
  topics/genome-annotation/tutorials/genome-annotation/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
  topics/introduction/tutorials/igv-introduction/tutorial.md
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/database-handling/tutorial.md
  topics/proteomics/tutorials/labelfree-vs-labelled/tutorial.md
  topics/proteomics/tutorials/protein-id-oms/tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
  topics/proteomics/tutorials/secretome-prediction/tutorial.md
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Labels: feature, template-and-tools

#1069 Validate Frontmatter
  .travis.yml
  Makefile
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-duration.rb
  bin/validate-frontmatter.rb
  topics/dev/tutorials/data-source-integration/tutorial.md
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/epigenetics/tutorials/ewas-suite/tools.yaml
  topics/epigenetics/tutorials/ewas-suite/tours/tour.yaml
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-prokka/tours/tour.yaml
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/proteomics/tutorials/protein-quant-sil/tours/tour.yaml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tours/tour.yaml
  topics/transcriptomics/tutorials/de-novo/tours/tour.yaml
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tours/tour.yaml
  topics/transcriptomics/tutorials/srna/tours/tour.yaml
  topics/variant-analysis/tutorials/dunovo/tutorial.md
  topics/variant-analysis/tutorials/exome-seq/tutorial.md
  topics/variant-analysis/tutorials/mapping-by-sequencing/tours/tour.yaml
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Labels: feature, template-and-tools

#962 Training material for Heinz
  .jekyll-metadata
  CONTRIBUTORS.yaml
  snippets/history_create_new.md
  snippets/warning_results_may_vary.md
  topics/transcriptomics/images/Heinz_visualisation.png
  topics/transcriptomics/images/bum.jpeg
  topics/transcriptomics/images/flowchart-heinz.png
  topics/transcriptomics/images/heinz-workflow.png
  topics/transcriptomics/images/metaModules.png
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/network-analysis-with-heinz/data-library.yaml
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tools.yaml
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.md
  topics/transcriptomics/tutorials/network-analysis-with-heinz/workflows/Galaxy-Workflow-Heinz.ga
Labels: topic: transcriptomics

#1078 Fix casing of the time string
  _plugins/jekyll-jsonld.rb
Labels: bug, template-and-tools

#1089 Heinz: slides
  _layouts/base_slides.html
  topics/metagenomics/images/puzzles-amplicon.png
  topics/metagenomics/images/puzzles-shotgun.png
  topics/transcriptomics/images/heinz/16Sgene.png
  topics/transcriptomics/images/heinz/abstract.png
  topics/transcriptomics/images/heinz/bum.png
  topics/transcriptomics/images/heinz/butanoate.png
  topics/transcriptomics/images/heinz/caries.jpg
  topics/transcriptomics/images/heinz/dea.png
  topics/transcriptomics/images/heinz/find_subnetwork.png
  topics/transcriptomics/images/heinz/functionalsignatures.png
  topics/transcriptomics/images/heinz/globalapproach.png
  topics/transcriptomics/images/heinz/globalnetwork.png
  topics/transcriptomics/images/heinz/healthyvsdisease.png
  topics/transcriptomics/images/heinz/histogram.png
  topics/transcriptomics/images/heinz/identification.png
  topics/transcriptomics/images/heinz/kegg.png
  topics/transcriptomics/images/heinz/kegg1-2.png
  topics/transcriptomics/images/heinz/kegg1.png
  topics/transcriptomics/images/heinz/kegg2.png
  topics/transcriptomics/images/heinz/metamodules.png
  topics/transcriptomics/images/heinz/network.png
  topics/transcriptomics/images/heinz/network_heinz.png
  topics/transcriptomics/images/heinz/network_heinz2.png
  topics/transcriptomics/images/heinz/network_weight_annotated.png
  topics/transcriptomics/images/heinz/novelpathways.png
  topics/transcriptomics/images/heinz/oralcavity.jpg
  topics/transcriptomics/images/heinz/oralmicrobiome.png
  topics/transcriptomics/images/heinz/othergenome.png
  topics/transcriptomics/images/heinz/periodontaldisease.jpg
  topics/transcriptomics/images/heinz/petridish.png
  topics/transcriptomics/images/heinz/pvalue-to-weight.png
  topics/transcriptomics/images/heinz/pvalue-to-weight2.png
  topics/transcriptomics/images/heinz/random-vs-real.png
  topics/transcriptomics/images/heinz/results.png
  topics/transcriptomics/images/heinz/sampleextraction.png
  topics/transcriptomics/images/heinz/sequences.png
  topics/transcriptomics/images/heinz/sulfur.png
  topics/transcriptomics/images/heinz/sulfur_publication.png
  topics/transcriptomics/images/heinz/workflow.png
  topics/transcriptomics/tutorials/network-analysis-with-heinz/slides.html
Labels: topic: transcriptomics

#1090 A small update to Heinz based on the feedback
  snippets/extract_workflow.md
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.md
Labels: topic: transcriptomics

#1093 Metagenomics: update to intro slides
  topics/metagenomics/images/environmentalstudies.png
  topics/metagenomics/slides/introduction.html
Labels: topic: metagenomics

#1094 Contributing tutorials: some small tweaks and fixes
  topics/contributing/slides/introduction.html
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/workflows/example-workflow.ga
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
Labels: topic: contributing

#1096 Changes to CLIP-Seq tutorial
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Labels: topic: transcriptomics

#1097 Remove .jekyll-metadata
  .gitignore
  .jekyll-metadata
Labels: template-and-tools

#1102 More validation
  Makefile
  bin/validate-frontmatter.rb
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Labels: template-and-tools

#1087 reword masthead help
  _includes/help.html
Labels: template-and-tools

#1111 Ref-based RNA-seq: fix leading spaces in URLs
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic: transcriptomics

#1103 remove screenshots from genome-annot/annot-w-prokka
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
Labels: topic: genome annotation

#1113 Terraform tutorial
  topics/admin/images/graph.png
  topics/admin/images/graph2.png
  topics/admin/images/pets-vs-cattle.jpg
  topics/admin/images/plan.png
  topics/admin/metadata.yaml
  topics/admin/tutorials/ansible/slides.html
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/terraform/main.tf
  topics/admin/tutorials/terraform/slides.html
  topics/admin/tutorials/terraform/tutorial.md
Labels: topic: admin, work-in-progress
