Repository galaxyproject/training-material, pull requests merged in 2018-09, with the labels that each got.

#988 Embed a short feedback form at the bottom of the tutorial
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
Labels: help-wanted, template-and-tools

#1002 Make associated slides display and not introduction slides
  _layouts/tutorial_hands_on.html
Labels: bug, template-and-tools

#1005 Expand mapping tutorial and add workflow + tests
  topics/sequence-analysis/images/mapping/mapping.png
  topics/sequence-analysis/images/mapping/mapping.svg
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/mapping_explanation.md
  topics/sequence-analysis/tutorials/mapping/ref_genome_explanation.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/mapping/workflows/Galaxy-Workflow-mapping.ga
  topics/sequence-analysis/tutorials/mapping/workflows/mapping-job.yml
  topics/sequence-analysis/tutorials/mapping/workflows/mapping-test.yml
  topics/sequence-analysis/tutorials/mapping/workflows/mapping.ga
Labels: topic: sequence-analysis

#1007 Transcriptomics intro slides: Fix some comments after Freiburg workshop
  topics/transcriptomics/slides/introduction.html
Labels: topic: transcriptomics

#1004 limma-voom tutorial (fastq to counts)
  topics/transcriptomics/images/limma-voom_f2c/collection.png
  topics/transcriptomics/images/limma-voom_f2c/count_matrix.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_adapter_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_base_n_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_base_sequence_quality_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_sequence_gc_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_sequence_quality_scores_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_sequence_counts_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_sequence_duplication_levels_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_table.png
  topics/transcriptomics/images/limma-voom_f2c/featureCounts_assignment_plot.png
  topics/transcriptomics/images/limma-voom_f2c/genebodycoverage.png
  topics/transcriptomics/images/limma-voom_f2c/hisat2_se_plot.png
  topics/transcriptomics/images/limma-voom_f2c/mouse_exp.png
  topics/transcriptomics/images/limma-voom_f2c/multiqc_summary.png
  topics/transcriptomics/images/limma-voom_f2c/picard_deduplication.png
  topics/transcriptomics/images/limma-voom_f2c/post_cutadapt_adapter_content.png
  topics/transcriptomics/images/limma-voom_f2c/post_cutadapt_fastqc_sequence_length_distribution_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_gene_body_coverage_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_infer_experiment_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_read_distribution_plot.png
  topics/transcriptomics/images/limma-voom_f2c/samtools-idxstats-mapped-reads-plot.png
  topics/transcriptomics/images/limma-voom_f2c/samtools-idxstats-xy-plot.png
  topics/transcriptomics/images/limma-voom_f2c/workflow.png
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Labels: topic: transcriptomics, work-in-progress

#995 Update the contributor tutorial to add planemo
  environment.yml
  templates/README.md
  templates/docker/Dockerfile
  templates/images/template.graphml
  templates/index.md
  templates/metadata.yaml
  templates/slides/introduction.html
  templates/tutorials/tutorial1/data-library.yaml
  templates/tutorials/tutorial1/data-manager.yaml
  templates/tutorials/tutorial1/slides.html
  templates/tutorials/tutorial1/tools.yaml
  templates/tutorials/tutorial1/tours/tour.yaml
  templates/tutorials/tutorial1/tutorial.md
  templates/tutorials/tutorial1/workflows/empty_workflow.ga
  topics/contributing/images/image_caption_screenshot.png
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Labels: template-and-tools, topic: contributing

#1023 workflow for intro-short
  topics/introduction/tutorials/galaxy-intro-short/workflows/Galaxy-Workflow-galaxy-intro-short.ga
Labels: topic: introduction

#1030 Peaks2genes: modifications
  topics/introduction/images/input_tagged_file.png
  topics/introduction/images/intro_gene_names.png
  topics/introduction/images/intro_get_flanks.png
  topics/introduction/images/intro_overlapping_genes.png
  topics/introduction/images/intro_summits.png
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Labels: topic: introduction
