Repository galaxyproject/training-material, pull requests merged in 2018-04, with the labels that each got.

#726 Fix templates
  templates/metadata.yaml
  templates/tutorials/tutorial1/tutorial.md
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
Labels: template-and-tools

#728 Metagenomics: Work on the general tutorial
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Labels: topic: metagenomics

#729 Fix grafana link
  topics/admin/tutorials/monitoring-maintenance/slides.html
Labels: broken link

#715 Mothur tutorial updates
  topics/metagenomics/images/krona-multisample.png
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tools.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Labels: topic: metagenomics

#732 Add some love to microbial variant calling tutorial
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/microbial-variants/tools.yaml
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling.ga
Labels: topic: variant-analysis

#711 Fix some links
  _layouts/home.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
  topics/introduction/tutorials/options-for-using-galaxy/slides.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/protein-id-oms/tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Labels: broken link

#713 galaxy tour for hicexplorer
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
Labels: topic: epigenetics

#677 Add category tags for tutorials
  _layouts/topic.html
  assets/css/main.scss
  topics/assembly/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/variant-analysis/metadata.yaml
Labels: improvement, review-needed, template-and-tools
