Repository galaxyproject/training-material, pull requests merged in 2019-05, with the labels that each got.

#1360 Fix archival builds
  .travis.yml
  bin/publish-archive
Labels: template-and-tools

#1367 correct other MultiQC related typo
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
Labels: improvement, topic: transcriptomics

#1366 Add a sentence to give a ""normal"" duplication percentage
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
Labels: improvement, topic: transcriptomics

#1364 Update Galaxy introduction slides
  topics/introduction/images/servers.png
  topics/introduction/images/titleless-use-resource-banner.png
  topics/introduction/slides/introduction.html
Labels: improvement, topic: introduction

#1363 QC/Mapping small changes + JBrowse for Mapping
  assets/css/main.scss
  topics/sequence-analysis/images/fastqc-report.png
  topics/sequence-analysis/tutorials/mapping/jbrowse.md
  topics/sequence-analysis/tutorials/mapping/slides.html
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/mapping/workflows/mapping-jbrowse.ga
  topics/sequence-analysis/tutorials/quality-control/slides.html
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: improvement, topic: sequence-analysis

#1368 Maker updates
  topics/genome-annotation/images/intro-ab-initio.png
  topics/genome-annotation/images/intro-apo.png
  topics/genome-annotation/images/intro-apollo.png
  topics/genome-annotation/images/intro-consensus.png
  topics/genome-annotation/images/intro-eukaryotic-genes.png
  topics/genome-annotation/images/intro-evidences.png
  topics/genome-annotation/images/intro-go-source.png
  topics/genome-annotation/images/intro-go.png
  topics/genome-annotation/images/intro-ortho.png
  topics/genome-annotation/images/intro-prok1.png
  topics/genome-annotation/images/intro-prok2.png
  topics/genome-annotation/images/intro-steps.png
  topics/genome-annotation/images/intro-structural-annotation.png
  topics/genome-annotation/images/intro-tss.png
  topics/genome-annotation/images/intro-viz.png
  topics/genome-annotation/slides/introduction.html
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.bib
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-maker/workflows/main_workflow.ga
Labels: improvement, topic: genome annotation

#1379 Last minute changes to various stuff
  shared/images/workflow_editor_mark_output.png
  topics/introduction/images/101_11.png
  topics/introduction/images/101_28.png
  topics/introduction/images/101_32.png
  topics/introduction/images/101_34.png
  topics/introduction/images/101_38.png
  topics/introduction/images/copy-dataset.gif
  topics/introduction/images/upload-data.png
  topics/introduction/images/workflow_editor_mark_output.png
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
Labels: improvement

#1380 Mapping: update tool name and parameter
  topics/sequence-analysis/tutorials/mapping/tutorial.md
Labels: topic: sequence-analysis

#1382 Add bandage to de bruijn graph assembly tutorial
  topics/assembly/images/bandage-velvet-21.svg
  topics/assembly/images/bandage-velvet-33.svg
  topics/assembly/images/bandage-velvet-53.svg
  topics/assembly/images/bandage-velvet-77.svg
  topics/assembly/images/bandage-velvet.svg
  topics/assembly/images/bandage_spades.svg
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.bib
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.md
Labels: improvement, topic: genome annotation

#1383 Implement copy functionality for all code blocks
  _layouts/base.html
  _layouts/topic.html
  assets/css/main.scss
  assets/js/clipboard.min.js
Labels: new feature, template-and-tools

#1298 Support level metadata
  _config.yml
  _includes/difficulty-indicator.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-jsonld.rb
  assets/css/main.scss
  bin/validate-frontmatter.rb
  topics/assembly/tutorials/unicycler-assembly/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/galaxy-data-manipulation/tutorials/collections/tutorial.md
  topics/galaxy-data-manipulation/tutorials/processing-many-samples-at-once/tutorial.md
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
Labels: new feature, template-and-tools

#1348 Move citations to in-text/in-tutorial rather than topic level metadata
  .travis.yml
  CONTRIBUTORS.yaml
  Makefile
  _config.yml
  _layouts/bibtemplate.html
  _layouts/g3.csl
  _plugins/jekyll-figurify.rb
  bin/validate-references.sh
  topics/assembly/metadata.yaml
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.bib
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.md
  topics/assembly/tutorials/unicycler-assembly/tutorial.bib
  topics/assembly/tutorials/unicycler-assembly/tutorial.md
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.bib
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/dev/tutorials/visualization-generic/tutorial.md
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/methylation-seq/tutorial.bib
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
  topics/galaxy-data-manipulation/tutorials/name-tags/tutorial.md
  topics/galaxy-ui/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/introduction/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.bib
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/metabolomics/metadata.yaml
  topics/metabolomics/tutorials/lcms-data-import/tutorial.bib
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
  topics/metagenomics/metadata.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.bib
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/iwtomics/tutorial.bib
  topics/statistics/tutorials/iwtomics/tutorial.md
  topics/transcriptomics/metadata.yaml
Labels: help-wanted, template-and-tools, work-in-progress

#1391 Move header items to overview box
  _includes/instance-dropdown.html
  _includes/resource-handson.html
  _includes/resource-slides.html
  _includes/resource-tours.html
  _includes/resource-workflows.html
  _includes/resource-zenodo.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
Labels: template-and-tools

#1392 Handle zenodo_link: "" case
  _layouts/tutorial_hands_on.html
Labels: bug, template-and-tools
