Repository galaxyproject/training-material, pull requests merged in 2019-03, with the labels that each got.

#1288 small fix in HiCExplorer tutorial
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Labels: topic: epigenetics

#1291 Improvements and error fixes in MSI tutorials
  topics/metabolomics/images/msi_distribution_auto_images.png
  topics/metabolomics/images/msi_distribution_average_spectra.png
  topics/metabolomics/images/msi_distribution_overlay_plot.png
  topics/metabolomics/tutorials/msi-analyte-distribution/tutorial.md
  topics/proteomics/images/MSI1_angiotensin_image.png
  topics/proteomics/images/MSI1_foldchange.png
  topics/proteomics/images/MSI1_maldi_tof_imaging.png
  topics/proteomics/images/MSI1_mouse_kidney.png
  topics/proteomics/images/MSI1_mz_error.png
  topics/proteomics/images/MSI1_npeaks_TIC.png
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/tutorial.md
Labels: topic: metabolomics

#1295 added workflow for MSI imaging 1
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/MS_imaging_loading_exploring_data.ga
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/tutorial.md
Labels: topic: proteomics

#1264 schema.org annotation: use Course and add more properties
  _includes/material.jsonld
  _layouts/base_slides.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-jsonld.rb
  topics/statistics/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Labels: template-and-tools

#1296 Highlight contributors more prominently throughout the site
  _config.yml
  _includes/default-header.html
  _layouts/base_slides.html
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
Labels: template-and-tools

#1244 Add mini-tutorial for group tags
  topics/galaxy-data-manipulation/images/group-tags/rule_upload.png
  topics/galaxy-data-manipulation/tutorials/group-tags/tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: new tutorial, topic: data-manipulation

#1301 Changed contributing tutorials to not use the tools.yaml file anymore
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Labels: topic: contributing

#1243 Updates to troubleshooting
  topics/admin/tutorials/troubleshooting/slides.html
Labels: topic: admin

#1180 Reformat workflows + Catch future formatting issues
  .travis.yml
  Makefile
  bin/validate-json.sh
Labels: improvement, template-and-tools

#1299 Mothur rewrite dc
  CONTRIBUTORS.yaml
  topics/metagenomics/images/phylogenetic-distance.png
  topics/metagenomics/images/richness-evenness.png
  topics/metagenomics/tutorials/mothur-miseq-sop/extra-credit.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Labels: topic: metagenomics

#1187 Fix formatting
  topics/statistics/tutorials/classification_regression/data-library.yaml
  topics/statistics/tutorials/classification_regression/images/classification.png
  topics/statistics/tutorials/classification_regression/images/confusion_matrix.png
  topics/statistics/tutorials/classification_regression/images/precision_recall_f1.png
  topics/statistics/tutorials/classification_regression/images/regression.png
  topics/statistics/tutorials/classification_regression/images/residual_plot.png
  topics/statistics/tutorials/classification_regression/images/roc.png
  topics/statistics/tutorials/classification_regression/images/true_pred_curves.png
  topics/statistics/tutorials/classification_regression/images/true_vs_pred_scatter.png
  topics/statistics/tutorials/classification_regression/tutorial.md
  topics/statistics/tutorials/classification_regression/workflows/GradientBoostingRegression_TutorialWorkflow.ga
  topics/statistics/tutorials/classification_regression/workflows/LinearSupportVectorClassifier_TutorialWorkflow.ga
  topics/statistics/tutorials/machinelearning/tutorial.md
Labels: new tutorial, topic: statistics

#1303 Improve tutorial text
  topics/statistics/tutorials/classification_regression/tutorial.md
Labels: topic: statistics

#1302 add a note on how to get the environment file with the credentials
  CONTRIBUTORS.yaml
  topics/admin/tutorials/terraform/tutorial.md
Labels: improvement, topic: admin, usage tip

#1307 16S tutorial tweaks
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Labels: topic: metagenomics

#1308 Add new somatic variant calling tutorial
  topics/variant-analysis/tutorials/somatic-variants/data-library.yaml
  topics/variant-analysis/tutorials/somatic-variants/tutorial.md
Labels: new tutorial, topic: variant-analysis

#1310 Fixes to several snippets
  snippets/add_tag.md
  snippets/create_new_history.md
  snippets/rename_dataset.md
  snippets/rename_history.md
  snippets/select_multiple_datasets.md
Labels: improvement, template-and-tools

#1311 remove template fragments from somatic variant calling
  topics/variant-analysis/tutorials/somatic-variants/tutorial.md
Labels: topic: variant-analysis

#1300 Make the tip boxes expandable
  assets/js/main.js
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/admin/tutorials/heterogeneous-compute/tutorial.md
  topics/admin/tutorials/object-store/tutorial.md
  topics/admin/tutorials/terraform/tutorial.md
  topics/admin/tutorials/upstream-auth/tutorial.md
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/assembly/tutorials/general-introduction/tutorial.md
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
  topics/contributing/tutorials/github-interface-contribution/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/dev/tutorials/visualization-charts/tutorial.md
  topics/dev/tutorials/visualization-generic/tutorial.md
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
  topics/galaxy-ui/tutorials/history-to-workflow/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/genome-annotation/tutorials/genome-annotation/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/database-handling/tutorial.md
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/statistics/tutorials/iwtomics/tutorial.md
  topics/statistics/tutorials/machinelearning/tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/goenrichment/tutorial.md
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-counts-to-genes/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-genes-to-pathways/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-heatmap2/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/tutorial.md
  topics/transcriptomics/tutorials/scrna-umis/tutorial.md
  topics/transcriptomics/tutorials/scrna_preprocessing/tutorial.md
  topics/variant-analysis/tutorials/dip/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
  topics/variant-analysis/tutorials/exome-seq/tutorial.md
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Labels: template-and-tools

#1318 RNA-seq limma-voom tutorials: some more edits
  topics/transcriptomics/images/rna-seq-counts-to-genes/TREATdecounts.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/annodata.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/basal_luminal_decounts.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/decounts.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/factordata.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/heatmap.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/libinfo.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/sampleinfo.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/seqdata.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/EGSEA_KEGG.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/EGSEA_KEGG_luminal.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/EGSEA_report.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/basal_top_GO.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/fgsea_enrichplot.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/fgsea_table.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/fgsea_table_basal.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/fgsea_table_luminal.png
  topics/transcriptomics/images/rna-seq-genes-to-pathways/luminal_top_GO.png
  topics/transcriptomics/images/rna-seq-reads-to-counts/mouse_exp.png
  topics/transcriptomics/tutorials/rna-seq-counts-to-genes/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-genes-to-pathways/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-genes-to-pathways/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
Labels: topic: transcriptomics

#1320 Remove email address from admin tuto
  topics/admin/tutorials/ansible-galaxy/galaxyservers.txt
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: bug, topic: admin

#1282 Downstream Single-Cell RNA-seq analysis with RaceID, StemID and FateID
  _config.yml
  snippets/use_scratchbook.md
  topics/transcriptomics/images/raceid_cellcycle.svg
  topics/transcriptomics/images/raceid_clustinspect_cells.png
  topics/transcriptomics/images/raceid_contpheno.svg
  topics/transcriptomics/images/raceid_dimred.svg
  topics/transcriptomics/images/raceid_distance.svg
  topics/transcriptomics/images/raceid_fateid.png
  topics/transcriptomics/images/raceid_filter_plots.png
  topics/transcriptomics/images/raceid_geneheatmaps.png
  topics/transcriptomics/images/raceid_gexpr.png
  topics/transcriptomics/images/raceid_goi.png
  topics/transcriptomics/images/raceid_heatmaps.png
  topics/transcriptomics/images/raceid_jaccard.svg
  topics/transcriptomics/images/raceid_libsize.svg
  topics/transcriptomics/images/raceid_mountains.svg
  topics/transcriptomics/images/raceid_sat_jacc.png
  topics/transcriptomics/images/raceid_stemid_cells.png
  topics/transcriptomics/images/raceid_stemid_lineage.png
  topics/transcriptomics/images/raceid_stemid_linkscores.png
  topics/transcriptomics/images/raceid_stemid_other.png
  topics/transcriptomics/images/raceid_technical_variation.svg
  topics/transcriptomics/images/raceid_tsne_fr.png
  topics/transcriptomics/images/raceid_workflow.png
  topics/transcriptomics/tutorials/scrna-raceid/tutorial.md
  topics/transcriptomics/tutorials/scrna-raceid/workflows/main_workflow.ga
Labels: new tutorial, topic: transcriptomics, work-in-progress

#1317 Fix link to external tutorial for required or follow-up tutorials
  _layouts/base_slides.html
  _plugins/jekyll-jsonld.rb
  snippets/display_extra_training.md
  snippets/display_extra_training_slides.md
Labels: bug, template-and-tools

#1322 Improved and updated Peptide and Protein quantification via SIL
  CONTRIBUTORS.yaml
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
  topics/proteomics/tutorials/protein-quant-sil/workflows/workflow.ga
Labels: topic: proteomics
