Repository galaxyproject/training-material, pull requests merged in 2019-02, with the labels that each got.

#1239 Escape template sections
  topics/admin/tutorials/reports/tutorial.md
Labels: topic: admin

#1246 reorganize reports training to be more intuitive
  topics/admin/tutorials/reports/tutorial.md
Labels: improvement

#1249 include info on how to expose api with ext auth
  topics/admin/tutorials/upstream-auth/tutorial.md
Labels: topic: admin

#1251 Automatic archival builds of repository tags
  .travis.yml
  _config.yml
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  bin/publish-archive
  faq.md
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/dev/tutorials/visualization-generic/tutorial.md
  topics/instructors/tutorials/setup-galaxy-for-training/tutorial.md
Labels: highlight, new feature, template-and-tools

#1253 update shebang
  bin/publish-archive
Labels: template-and-tools

#1254 add git reset for subsequent actions
  bin/publish
Labels: template-and-tools

#1256 Update for proxying
  Makefile
  _config.yml
  _layouts/base.html
  _layouts/tutorial_hands_on.html
  bin/publish-archive
  topics/admin/tutorials/tool-management/tutorial.md
  topics/dev/tutorials/interactive-tours/slides.html
  topics/dev/tutorials/webhooks/slides.html
  topics/instructors/tutorials/setup-tiaas-for-training/tutorial.md
  topics/introduction/README.md
  topics/proteomics/tutorials/database-handling/workflows/readme.md
  topics/proteomics/tutorials/protein-id-sg-ps/workflows/readme.md
  topics/transcriptomics/README.md
Labels: highlight, template-and-tools

#1250 Final sync of architecture slides from galaxy repo
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/architecture/sync_architecture_from_galaxy.sh
Labels: topic: dev

#1207 RNA-seq limma-voom tuts: more edits
  CONTRIBUTORS.yaml
  topics/transcriptomics/images/rna-seq-counts-to-genes/download_report.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/report_plots.png
  topics/transcriptomics/images/rna-seq-counts-to-genes/saplot.png
  topics/transcriptomics/images/rna-seq-reads-to-counts/collection.png
  topics/transcriptomics/images/rna-seq-reads-to-counts/collection_download.png
  topics/transcriptomics/images/rna-seq-reads-to-counts/collection_element.png
  topics/transcriptomics/images/rna-seq-reads-to-counts/multiqc.png
  topics/transcriptomics/images/rna-seq-reads-to-counts/multiqc_download.png
  topics/transcriptomics/images/rna-seq-reads-to-counts/run_fastqc.png
  topics/transcriptomics/images/rna-seq-reads-to-counts/workflow.png
  topics/transcriptomics/tutorials/rna-seq-counts-to-genes/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-genes-to-pathways/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
Labels: topic: transcriptomics

#1240 small changes in the text
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Labels: topic: chip-seq

#1201 rna-seq-viz-with-cummerbund: isoforms instead of gene
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/workflows/workflow.ga
Labels: topic: transcriptomics

#1261 GitHub plugin
  Makefile
  _config.yml
  _includes/default-header.html
  _layouts/base_slides.html
  _layouts/introduction_slides.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  faq.md
  topics/admin/slides/introduction.html
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/admin/tutorials/galaxy-docker/slides.html
  topics/contributing/slides/introduction.html
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
  topics/contributing/tutorials/github-interface-contribution/tutorial.md
  topics/dev/tutorials/visualization-generic/tutorial.md
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
  topics/instructors/tutorials/running-workshop/tutorial.md
  topics/instructors/tutorials/setup-galaxy-for-training/tutorial.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-counts-to-genes/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-genes-to-pathways/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-heatmap2/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/tutorial.md
Labels: template-and-tools

#1193 Ecoli comparison tutorial workflow
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/assembly/tutorials/ecoli_comparison/workflows/ecoli-comparison.ga
Labels: topic: assembly

#1200 update tour -ecoli_comparison
  topics/assembly/tutorials/ecoli_comparison/tours/tour.yaml
Labels: topic: assembly

#1255 changed all data-library.yaml files to new format
  bin/mergeyaml.py
  topics/assembly/tutorials/debruijn-graph-assembly/data-library.yaml
  topics/assembly/tutorials/ecoli_comparison/data-library.yaml
  topics/assembly/tutorials/general-introduction/data-library.yaml
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/data-library.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
  topics/chip-seq/tutorials/tal1-binding-site-identification/data-library.yaml
  topics/epigenetics/tutorials/hicexplorer/data-library.yaml
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/data-library.yaml
  topics/genome-annotation/tutorials/annotation-with-maker/tours/tour.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/data-library.yaml
  topics/genome-annotation/tutorials/genome-annotation/data-library.yaml
  topics/genome-annotation/tutorials/genome-annotation/tours/tour.yaml
  topics/introduction/tutorials/galaxy-intro-101/data-library.yaml
  topics/introduction/tutorials/galaxy-intro-peaks2genes/data-library.yaml
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/data-library.yaml
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/introduction/tutorials/igv-introduction/data-library.yaml
  topics/introduction/tutorials/options-for-using-galaxy/data-library.yaml
  topics/metagenomics/tutorials/general-tutorial/data-library.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/data-library.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/database-handling/data-library.yaml
  topics/proteomics/tutorials/labelfree-vs-labelled/data-library.yaml
  topics/proteomics/tutorials/labelfree-vs-labelled/tours/tour.yaml
  topics/proteomics/tutorials/ntails/data-library.yaml
  topics/proteomics/tutorials/ntails/tours/tour.yaml
  topics/proteomics/tutorials/protein-id-sg-ps/data-library.yaml
  topics/proteomics/tutorials/protein-quant-sil/data-library.yaml
  topics/proteomics/tutorials/secretome-prediction/data-library.yaml
  topics/proteomics/tutorials/secretome-prediction/tours/tour.yaml
  topics/sequence-analysis/tutorials/de-novo-rad-seq/data-library.yaml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/data-library.yaml
  topics/sequence-analysis/tutorials/mapping/data-library.yaml
  topics/sequence-analysis/tutorials/quality-control/data-library.yaml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/data-library.yaml
  topics/statistics/tutorials/iwtomics/data-library.yaml
  topics/transcriptomics/tutorials/de-novo/data-library.yaml
  topics/transcriptomics/tutorials/goenrichment/data-library.yaml
  topics/transcriptomics/tutorials/network-analysis-with-heinz/data-library.yaml
  topics/transcriptomics/tutorials/ref-based/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-counts-to-genes/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-genes-to-pathways/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-heatmap2/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/data-library.yaml
  topics/transcriptomics/tutorials/srna/data-library.yaml
  topics/variant-analysis/tutorials/exome-seq/data-library.yaml
  topics/variant-analysis/tutorials/exome-seq/tours/tour.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/data-library.yaml
  topics/variant-analysis/tutorials/microbial-variants/data-library.yaml
Labels: new contributor(s), template-and-tools

#1245 Sequencing Plates, Lanes, and Batches
  topics/transcriptomics/images/scrna_pbb_barcodes_add.svg
  topics/transcriptomics/images/scrna_pbb_barcodes_overview.svg
  topics/transcriptomics/tutorials/scrna-plates-batches-barcodes/slides.html
Labels: topic: transcriptomics

#1269 Installing tools from workflows
  bin/docker-install-tutorials.sh
  topics/admin/docker/Dockerfile
  topics/assembly/docker/Dockerfile
  topics/assembly/tutorials/unicycler-assembly/data-library.yaml
  topics/chip-seq/docker/Dockerfile
  topics/contributing/docker/Dockerfile
  topics/dev/docker/Dockerfile
  topics/epigenetics/docker/Dockerfile
  topics/epigenetics/tutorials/ewas-suite/_workflows/ewas_training.ga
  topics/epigenetics/tutorials/methylation-seq/_data-library.yaml
  topics/epigenetics/tutorials/methylation-seq/data-library.yaml
  topics/genome-annotation/docker/Dockerfile
  topics/genome-annotation/tutorials/annotation-with-maker/data-library.yaml
  topics/introduction/docker/Dockerfile
  topics/metabolomics/docker/Dockerfile
  topics/metabolomics/tutorials/lcms-data-import/data-library.yaml
  topics/metagenomics/docker/Dockerfile
  topics/proteomics/docker/Dockerfile
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/data-library.yaml
  topics/proteomics/tutorials/metaproteomics/data-library.yaml
  topics/proteomics/tutorials/metaproteomics/workflows/workflow.ga
  topics/proteomics/tutorials/protein-id-oms/data-library.yaml
  topics/proteomics/tutorials/proteogenomics-dbcreation/data-library.yaml
  topics/proteomics/tutorials/proteogenomics-dbsearch/data-library.yaml
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/data-library.yaml
  topics/sequence-analysis/docker/Dockerfile
  topics/statistics/docker/Dockerfile
  topics/statistics/tutorials/age-prediction-with-ml/data-library.yaml
  topics/statistics/tutorials/age-prediction-with-ml/data_library.yaml
  topics/statistics/tutorials/machinelearning/data-library.yaml
  topics/transcriptomics/docker/Dockerfile
  topics/transcriptomics/tutorials/small_ncrna_clustering/data-library.yaml
  topics/variant-analysis/docker/Dockerfile
  topics/variant-analysis/tutorials/dip/data-library.yaml
  topics/variant-analysis/tutorials/non-dip/data-library.yaml
Labels: template-and-tools

#1272 Fix various links
  faq.md
  topics/admin/images/GVL-dash.png
  topics/admin/images/GVL-evolution.png
  topics/admin/images/GalaxyDocker.png
  topics/admin/images/Microsoft_Azure_Logo.svg
  topics/admin/images/admin_recalc_usage.png
  topics/admin/images/all_fasta.png
  topics/admin/images/architecture.png
  topics/admin/images/container_explainer.png
  topics/admin/images/container_picture.jpg
  topics/admin/images/containers.png
  topics/admin/images/dm404-1.png
  topics/admin/images/dm404-2.png
  topics/admin/images/dm404-3.png
  topics/admin/images/docker_compose_concept_without_compose.png
  topics/admin/images/docker_concept.png
  topics/admin/images/gil.png
  topics/admin/images/gvl-architecture.png
  topics/admin/images/installG1.png
  topics/admin/images/installG2.png
  topics/admin/images/nearly_empty_data_manager_tool_list.png
  topics/admin/images/scheme-dev_to_production.png
  topics/admin/images/timtams.jpg
  topics/admin/images/tool_development_bioconda_solution.png
  topics/admin/images/vms.png
  topics/admin/tutorials/ansible-galaxy/galaxyservers.txt
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/cloudbursting/slides.html
  topics/admin/tutorials/production/slides.html
  topics/admin/tutorials/reference-genomes/slides.html
  topics/admin/tutorials/tool-management/slides.html
  topics/admin/tutorials/tool-management/tutorial.md
  topics/admin/tutorials/troubleshooting/slides.html
  topics/admin/tutorials/uwsgi/slides.html
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-slides/slides.html
  topics/dev/tutorials/bioblend-api/slides.html
  topics/instructors/tutorials/running-workshop/tutorial.md
  topics/instructors/tutorials/setup-tiaas-for-training/tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
  topics/introduction/tutorials/igv-introduction/tutorial.md
  topics/proteomics/tutorials/protein-id-oms/tutorial.md
Labels: broken link, topic: admin

#1276 Add scRNA Pre-Processing hands-on
  assets/css/main.scss
  snippets/import_via_link.md
  topics/transcriptomics/images/celseq2_schema.png
  topics/transcriptomics/images/scrna_amplif_errors.png
  topics/transcriptomics/images/scrna_amplif_errors_umis.png
  topics/transcriptomics/images/scrna_crosscontamination.png
  topics/transcriptomics/images/scrna_fulltable.svg
  topics/transcriptomics/images/scrna_hematopoiesis.png
  topics/transcriptomics/images/scrna_nbt3711.png
  topics/transcriptomics/images/scrna_select_data.png
  topics/transcriptomics/images/scrna_workflow.svg
  topics/transcriptomics/images/scrna_workflow_lower.png
  topics/transcriptomics/images/scrna_workflow_nested.png
  topics/transcriptomics/images/scrna_workflow_single.png
  topics/transcriptomics/images/scrna_workflow_upper.png
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/scrna-umis/tutorial.md
  topics/transcriptomics/tutorials/scrna_preprocessing/data-library.yaml
  topics/transcriptomics/tutorials/scrna_preprocessing/data-manager.yaml
  topics/transcriptomics/tutorials/scrna_preprocessing/tutorial.md
  topics/transcriptomics/tutorials/scrna_preprocessing/workflows/scrna_mp_celseq.ga
  topics/transcriptomics/tutorials/scrna_preprocessing/workflows/scrna_pp_celseq.ga
Labels: new tutorial, topic: transcriptomics

#1262 Debruijn wf tour
  topics/assembly/tutorials/debruijn-graph-assembly/tours/tour.yaml
  topics/assembly/tutorials/debruijn-graph-assembly/workflows/debruijn-graph.ga
Labels: topic: assembly

#1280 remove redundant reuquirement from scRNA training
  topics/transcriptomics/tutorials/scrna_preprocessing/tutorial.md
Labels: topic: transcriptomics

#1281 Add sticky TOC on the left part of the tutorial page
  _layouts/base.html
  _layouts/tutorial_hands_on.html
  assets/css/bootstrap-toc.min.css
  assets/css/main.scss
  assets/js/bootstrap-toc.min.js
Labels: new feature, template-and-tools

#1275 Updated install_tutorial_requirements.sh + minor fixes
  bin/install_tutorial_requirements.sh
  shared/datatypes.yaml
  topics/chip-seq/tutorials/tal1-binding-site-identification/workflows/workflow.ga
  topics/genome-annotation/tutorials/annotation-with-maker/data-manager.yaml
  topics/genome-annotation/tutorials/annotation-with-maker/workflows/main_workflow.ga
  topics/genome-annotation/tutorials/genome-annotation/workflows/workflow.ga
  topics/metabolomics/tutorials/lcms-data-import/data-library.yaml
  topics/metabolomics/tutorials/msi-analyte-distribution/data-library.yaml
  topics/proteomics/tutorials/labelfree-vs-labelled/tools.yaml
  topics/proteomics/tutorials/labelfree-vs-labelled/workflows/workflow.ga
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/data-library.yaml
  topics/proteomics/tutorials/ntails/tools.yaml
  topics/proteomics/tutorials/proteogenomics-dbcreation/workflows/galaxy-workflow-mouse_rnaseq_dbcreation.ga
  topics/proteomics/tutorials/proteogenomics-dbsearch/workflows/galaxy-workflow-mouse_rnaseq_dbsearch.ga
  topics/statistics/tutorials/iwtomics/data-library.yaml
  topics/statistics/tutorials/iwtomics/tutorial.md
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based.ga
  topics/transcriptomics/tutorials/scrna_preprocessing/data-library.yaml
Labels: template-and-tools

#1285 Fix to ref-based Tutorial
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic: transcriptomics

#1287 spelling corrections
  topics/metabolomics/tutorials/msi-analyte-distribution/tutorial.md
Labels: topic: metabolomics
