Repository galaxyproject/training-material, pull requests merged in 2019-01, with the labels that each got.

#1186 tour for var-an/non-dip
  topics/variant-analysis/tutorials/non-dip/tours/tour.yaml
Labels: topic: variant-analysis

#1175 workflow for diploid
  topics/variant-analysis/tutorials/dip/workflows/diploid.ga
Labels: topic: variant-analysis

#1192 Clean Makefile and update packages
  .travis.yml
  Makefile
  package-lock.json
  package.json
Labels: bug

#1190 Goenrichment
  CONTRIBUTORS.yaml
  topics/transcriptomics/images/goenrichment_GOexample.png
  topics/transcriptomics/images/goenrichment_bpMouseDiff.png
  topics/transcriptomics/images/goenrichment_bpMouseDiffSum.png
  topics/transcriptomics/images/goenrichment_ccSlimSum.png
  topics/transcriptomics/images/goenrichment_ccSum.png
  topics/transcriptomics/images/goenrichment_formula.png
  topics/transcriptomics/images/goenrichment_galaxyFilter.png
  topics/transcriptomics/images/goenrichment_galaxyFilterNA.png
  topics/transcriptomics/images/goenrichment_galaxyMouseDiff.png
  topics/transcriptomics/images/goenrichment_galaxyMouseDiffSum.png
  topics/transcriptomics/images/goenrichment_galaxyMouseOver.png
  topics/transcriptomics/images/goenrichment_galaxyMouseSlim.png
  topics/transcriptomics/images/goenrichment_galaxyMouseUnder.png
  topics/transcriptomics/images/goenrichment_galaxySlimer.png
  topics/transcriptomics/images/goenrichment_galaxyTrapnell.png
  topics/transcriptomics/images/goenrichment_galaxyTrapnellNewPop.png
  topics/transcriptomics/images/goenrichment_galaxy_upload.png
  topics/transcriptomics/images/goenrichment_mfTrapnell.png
  topics/transcriptomics/images/goenrichment_mfTrapnellNew.png
  topics/transcriptomics/images/goenrichment_trapnellFile.png
  topics/transcriptomics/tutorials/goenrichment/data-library.yaml
  topics/transcriptomics/tutorials/goenrichment/tools.yaml
  topics/transcriptomics/tutorials/goenrichment/tutorial.md
Labels: new tutorial, topic: transcriptomics

#1199 Fix broken links
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/conda/slides.html
Labels: broken link, topic: dev

#1196 Age prediction using machine learning tools in Galaxy
  topics/statistics/images/age-prediction-with-ml/5fold_cv.png
  topics/statistics/images/age-prediction-with-ml/model_bad.png
  topics/statistics/images/age-prediction-with-ml/model_good.png
  topics/statistics/images/age-prediction-with-ml/plotting_output.png
  topics/statistics/images/age-prediction-with-ml/residual_plot.png
  topics/statistics/images/age-prediction-with-ml/scatter_plot.png
  topics/statistics/images/age-prediction-with-ml/true_vs_predicted_plot.png
  topics/statistics/tutorials/age-prediction-with-ml/data_library.yaml
  topics/statistics/tutorials/age-prediction-with-ml/tutorial.md
  topics/statistics/tutorials/age-prediction-with-ml/workflows/age-prediction-dnam.ga
  topics/statistics/tutorials/age-prediction-with-ml/workflows/age-prediction-rna.ga
Labels: new tutorial, topic: statistics

#1198 first round of updates to monitoring slides
  topics/admin/tutorials/monitoring-maintenance/slides.html
Labels: improvement, topic: admin

#1205 Ansible for installing + using CVMFS
  snippets/ansible_local.md
  topics/admin/images/available_genomes.png
  topics/admin/images/bwa_mem_indices.png
  topics/admin/tutorials/cvmfs/tutorial.md
Labels: new tutorial, topic: admin

#1203 add basic ephemeris exercise
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/terraform/tutorial.md
  topics/admin/tutorials/tool-management/slides.html
  topics/admin/tutorials/tool-management/tutorial.md
Labels: new tutorial, topic: admin

#1210 minor updates to upgrading slides
  topics/admin/tutorials/upgrading/slides.html
Labels: improvement

#1213 Heterogeneous compute resources
  topics/admin/images/australia_locations.png
  topics/admin/images/pulsar_australia.png
  topics/admin/images/pulsar_logo.png
  topics/admin/images/pulsar_schematic.png
  topics/admin/tutorials/heterogeneous-compute/slides.html
  topics/admin/tutorials/heterogeneous-compute/tutorial.md
Labels: new topic, topic: admin

#1211 Import all other admin slides
  topics/admin/images/TS_big_picture.png
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/admin/tutorials/database/slides.html
  topics/admin/tutorials/dev-to-production/tutorial.md
  topics/admin/tutorials/external-auth/slides.html
  topics/admin/tutorials/heterogeneous/slides.html
  topics/admin/tutorials/job-conf/slides.html
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/production/slides.html
  topics/admin/tutorials/reference-genomes/slides.html
  topics/admin/tutorials/systemd-supervisor/slides.html
  topics/admin/tutorials/tool-install/slides.html
  topics/admin/tutorials/toolshed/slides.html
  topics/admin/tutorials/troubleshooting/slides.html
  topics/admin/tutorials/users-groups-quotas/slides.html
  topics/admin/tutorials/uwsgi/slides.html
  topics/admin/tutorials/webservers/slides.html
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/interactive-environments/slides.html
  topics/dev/tutorials/interactive-tours/slides.html
  topics/dev/tutorials/webhooks/slides.html
  topics/dev/tutorials/webhooks/tutorial.md
Labels: new topic, topic: admin

#1208 Import exercise for object store
  topics/admin/tutorials/object-store/slides.html
  topics/admin/tutorials/object-store/tutorial.md
Labels: new topic, topic: admin

#1209 Add gxadmin tutorial
  topics/admin/tutorials/gxadmin/tutorial.md
Labels: new topic, topic: admin

#1195 Ansible for installing Galaxy
  snippets/display_extra_training.md
  topics/admin/tutorials/ansible-galaxy/galaxyservers.txt
  topics/admin/tutorials/ansible-galaxy/playbook.txt
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
Labels: new tutorial, topic: admin

#1218 Add external auth tutorial
  topics/admin/images/access_denied.png
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/heterogeneous-compute/tutorial.md
  topics/admin/tutorials/upstream-auth/tutorial.md
Labels: new tutorial, topic: admin

#1222 Fix broken build
  topics/admin/tutorials/cvmfs/tutorial.md
Labels: broken link

#1204 Update connect-to-compute-cluster
  topics/admin/tutorials/connect-to-compute-cluster/slurm-wlm-configurator.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/dev-to-production/tutorial.md
Labels: improvement, topic: admin

#1225 Fix dependencies for compute cluster
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Labels: improvement, topic: admin

#1230 Monitoring / Maintenance / Reports
  bin/validate-frontmatter.rb
  topics/admin/tutorials/gxadmin/tutorial.md
  topics/admin/tutorials/maintenance/slides.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.md
  topics/admin/tutorials/monitoring/slides.html
  topics/admin/tutorials/monitoring/tutorial.md
  topics/admin/tutorials/reports/tutorial.md
  topics/admin/tutorials/stuff/slides.html
Labels: new tutorial, topic: admin, work-in-progress

#1232 object store admin docs improvements...
  topics/admin/tutorials/object-store/tutorial.md
Labels: topic: admin

#1220 Slides on Admins / Empathy
  topics/admin/images/eu_jobs.png
  topics/admin/images/eu_users.png
  topics/admin/tutorials/empathy/slides.html
Labels: new tutorial, topic: admin

#1234 import slides for @slugger70
  topics/admin/images/Cloudman-tools.png
  topics/admin/images/GVL-dash.png
  topics/admin/images/GVL-evolution.png
  topics/admin/images/OpenStack-logo.png
  topics/admin/images/architecture.png
  topics/admin/images/aws_logo.png
  topics/admin/images/cloudman-admin.png
  topics/admin/images/cloudman-main.png
  topics/admin/images/cloudman-scaling.png
  topics/admin/images/cloudman_logo.png
  topics/admin/images/gce-logo.png
  topics/admin/images/gvl-architecture.png
  topics/admin/images/reference_data.png
  topics/admin/images/timtams.jpg
  topics/admin/tutorials/cloudbursting/slides.html
  topics/admin/tutorials/reports/tutorial.md
Labels: new tutorial, topic: admin
