Repository galaxyproject/training-material, pull requests merged in 2019-09, with the labels that each got.

#1472 ATAC-seq tutorial
  CONTRIBUTORS.yaml
  Makefile
  tools.yml
  topics/epigenetics/images/atac-seq/ATACWF.svg
  topics/epigenetics/images/atac-seq/NexteraLibraryConstruction.jpg
  topics/epigenetics/images/atac-seq/NexteraLibraryConstruction.png
  topics/epigenetics/images/atac-seq/Screenshot_bowtie2MappingStats.png
  topics/epigenetics/images/atac-seq/Screenshot_cutadaptSummary.png
  topics/epigenetics/images/atac-seq/Screenshot_fastqcAftercutadapt.png
  topics/epigenetics/images/atac-seq/Screenshot_fastqcBeforecutadapt.png
  topics/epigenetics/images/atac-seq/Screenshot_picardRemoveDup.png
  topics/epigenetics/images/atac-seq/Screenshot_picardRemoveDupAfterTranspose.png
  topics/epigenetics/images/atac-seq/Screenshot_samtoolsIdxStatsChrM.png
  topics/epigenetics/images/atac-seq/Screenshot_sizeDistribution.png
  topics/epigenetics/images/atac-seq/Screenshot_sizeDistribution_Failed.png
  topics/epigenetics/images/atac-seq/Screenshot_sizeDistribution_Failed2.png
  topics/epigenetics/images/atac-seq/Screenshot_sizeDistribution_Good.png
  topics/epigenetics/images/atac-seq/Screenshot_sizeDistribution_Naked.png
  topics/epigenetics/images/atac-seq/adapters.png
  topics/epigenetics/images/atac-seq/atac-seq.jpeg
  topics/epigenetics/images/atac-seq/macs2Options.jpg
  topics/epigenetics/images/atac-seq/nexteraLibraryPicture.svg
  topics/epigenetics/images/atac-seq/nexteraLibraryPicture.svg.png
  topics/epigenetics/images/atac-seq/plotHeatmapOutput.png
  topics/epigenetics/images/atac-seq/pyGenomeTracksOutput.png
  topics/epigenetics/images/atac-seq/pyGenomeTracksOutput_20M.png
  topics/epigenetics/images/atac-seq/schemeWithLegend.jpg
  topics/epigenetics/tutorials/atac-seq/tutorial.bib
  topics/epigenetics/tutorials/atac-seq/tutorial.md
  topics/epigenetics/tutorials/atac-seq/workflows/main_workflow.ga
Labels: CoFest, new contributor(s), new tutorial, topic: epigenetics

#1522 Sequence analysis: Expand QC tutorial with more explanation
  topics/sequence-analysis/images/quality-control/adapter_content_rna_seq.png
  topics/sequence-analysis/images/quality-control/kmer_content.png
  topics/sequence-analysis/images/quality-control/per_base_n_content_error.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content_bisulphite.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content_rnaseq.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality_binned.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality_cycle_loss.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality_manifold_burst.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality_read2_failure.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality_horizontal_lines.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels_rna_seq.png
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: topic: sequence-analysis

#1546 STARSolo Training
  topics/transcriptomics/images/tenx_anndata.svg
  topics/transcriptomics/images/tenx_cells.png
  topics/transcriptomics/images/tenx_clusters_intro.png
  topics/transcriptomics/images/tenx_knee.png
  topics/transcriptomics/images/tenx_libprep.png
  topics/transcriptomics/images/tenx_primers.svg
  topics/transcriptomics/images/tenx_runtimes.jpg
  topics/transcriptomics/images/tenx_workflow.png
  topics/transcriptomics/tutorials/scrna-preprocessing-tenx/tutorial.md
  topics/transcriptomics/tutorials/scrna-preprocessing-tenx/workflows/scrna_tenx.ga
Labels: new tutorial, topic: transcriptomics

#1571 Replace / in badge labels and values
  bin/add_galaxy_instance_badges.py
Labels: template-and-tools

#1567 Request feedback from instructors
  _layouts/tutorial_hands_on.html
Labels: template-and-tools

#1568 Implement redirect using JekyllRedirectFrom
  Gemfile
  Gemfile.lock
  Makefile
  _config.yml
  bin/schema-slides.yaml
  bin/schema-tutorial.yaml
  topics/ecology/tutorials/de-novo-rad-seq/tutorial.md
  topics/ecology/tutorials/genetic-map-rad-seq/tutorial.md
  topics/ecology/tutorials/ref-based-rad-seq/tutorial.md
  topics/transcriptomics/tutorials/scrna-preprocessing/tutorial.md
Labels: template-and-tools

#1574 Add redirect for chip-seq tutorials
  topics/epigenetics/tutorials/estrogen-receptor-binding-site-identification/tutorial.md
  topics/epigenetics/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/epigenetics/tutorials/tal1-binding-site-identification/tutorial.md
Labels: topic: epigenetics

#1564 Data source integration (Was #131)
  topics/dev/tutorials/data-source-integration/tutorial.bib
  topics/dev/tutorials/data-source-integration/tutorial.md
Labels: bug, topic: dev

#1597 10x SC: Only import Cell Barcodes once
  topics/transcriptomics/tutorials/scrna-preprocessing-tenx/tutorial.md
Labels: topic: transcriptomics

#1598 re-arrange the steps in Pre-processing of 10X
  topics/transcriptomics/tutorials/scrna-preprocessing-tenx/tutorial.md
Labels: topic: transcriptomics

#1549 Ref-based RNA-Seq: expand DEG analysis
  topics/transcriptomics/images/ref-based/dme00010.png
  topics/transcriptomics/images/ref-based/dme00010_empty.png
  topics/transcriptomics/images/ref-based/strandness_cases.png
  topics/transcriptomics/images/ref-based/strandness_cases.svg
  topics/transcriptomics/images/ref-based/strandness_why.png
  topics/transcriptomics/images/ref-based/strandness_why.svg
  topics/transcriptomics/images/ref-based/top_over-represented_go_terms.png
  topics/transcriptomics/images/ref-based/tutorial-scheme.png
  topics/transcriptomics/images/ref-based/tutorial-scheme.svg
  topics/transcriptomics/images/ref-based/z-score-heatmap.png
  topics/transcriptomics/images/splice_aware_alignment.png
  topics/transcriptomics/images/splice_aware_alignment.svg
  topics/transcriptomics/tutorials/ref-based/tutorial.bib
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/ref-based/workflows/deg-analysis-test.yml
  topics/transcriptomics/tutorials/ref-based/workflows/deg-analysis.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting-test.yml
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting.ga
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based-job.yml
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based.ga
Labels: topic: transcriptomics

#1595 16S with mothur tutorial updates
  topics/metagenomics/images/krona-multisample.png
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
  topics/metagenomics/tutorials/mothur-miseq-sop/krona_all.html
  topics/metagenomics/tutorials/mothur-miseq-sop/krona_multisample.html
Labels: topic: metagenomics

#1332 Data fetched at docker run to decrease container size
  bin/data_libarary_download.sh
  bin/docker-install-tutorials.sh
  bin/mergeyaml.py
  topics/admin/docker/Dockerfile
  topics/assembly/docker/Dockerfile
  topics/computational-chemistry/docker/Dockerfile
  topics/contributing/docker/Dockerfile
  topics/dev/docker/Dockerfile
  topics/ecology/docker/Dockerfile
  topics/epigenetics/docker/Dockerfile
  topics/genome-annotation/docker/Dockerfile
  topics/imaging/docker/Dockerfile
  topics/introduction/docker/Dockerfile
  topics/metabolomics/docker/Dockerfile
  topics/metagenomics/docker/Dockerfile
  topics/proteomics/docker/Dockerfile
  topics/sequence-analysis/docker/Dockerfile
  topics/statistics/docker/Dockerfile
  topics/transcriptomics/docker/Dockerfile
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/_workflows/workflow.ga
  topics/variant-analysis/docker/Dockerfile
Labels: Docker/Containers, template-and-tools

#1613 Ref-based RNA-seq: Fix the solution to extract up-regulated gen…
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic: transcriptomics
