Repository galaxyproject/training-material, pull requests merged in 2019-10, with the labels that each got.

#1617 Add date of last modification in the overview box of tutorial
  Gemfile
  Gemfile.lock
  Makefile
  _config.yml
  _layouts/tutorial_hands_on.html
Labels: template-and-tools

#1506 RNA Seq Counts to Viz in R lesson
  CONTRIBUTORS.yaml
  snippets/launch_rstudio.md
  snippets/launch_rstudio_cloud.md
  topics/galaxy-ui/images/rstudio/rstudio_session_4pane_layout.png
  topics/galaxy-ui/images/rstudio/rstudio_session_default.png
  topics/galaxy-ui/images/rstudio/studio_contexthelp1.png
  topics/galaxy-ui/images/rstudio/studio_contexthelp2.png
  topics/galaxy-ui/tutorials/rstudio/tutorial.md
  topics/introduction/images/r-basics/rstudio_script_warning.png
  topics/introduction/tutorials/r-basics/disclaimer.md
  topics/introduction/tutorials/r-basics/r_advantages.md
  topics/introduction/tutorials/r-basics/r_history.md
  topics/introduction/tutorials/r-basics/r_introduction.md
  topics/introduction/tutorials/r-basics/start_rstudio.md
  topics/introduction/tutorials/r-basics/tutorial.md
  topics/introduction/tutorials/r-basics/tutorial_origin.md
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/barPlot_v1.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/barPlot_v2.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/featurePlot.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/firstPlot.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/ggplotExercise01.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/ggplotExercise02.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v0.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v1.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v2.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v3.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v4.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v5.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v6.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v7.png
  topics/transcriptomics/images/rna-seq-counts-to-viz-in-r/volcanoPlot_v8.png
  topics/transcriptomics/tutorials/rna-seq-counts-to-viz-in-r/tutorial.md
Labels: new contributor(s), new tutorial, topic: transcriptomics

#1621 Initial addition of tutorial to download and delete data
  topics/galaxy-data-manipulation/images/download-delete/all_histories.png
  topics/galaxy-data-manipulation/images/download-delete/collection_download.png
  topics/galaxy-data-manipulation/images/download-delete/collection_in_history.png
  topics/galaxy-data-manipulation/images/download-delete/collection_selection.png
  topics/galaxy-data-manipulation/images/download-delete/collections_button.png
  topics/galaxy-data-manipulation/images/download-delete/delete_button.png
  topics/galaxy-data-manipulation/images/download-delete/delete_history.png
  topics/galaxy-data-manipulation/images/download-delete/expanded_file_history.png
  topics/galaxy-data-manipulation/images/download-delete/file_download_button.png
  topics/galaxy-data-manipulation/images/download-delete/history_export.png
  topics/galaxy-data-manipulation/images/download-delete/history_export_link.png
  topics/galaxy-data-manipulation/images/download-delete/history_export_not_ready.png
  topics/galaxy-data-manipulation/images/download-delete/list_interface.png
  topics/galaxy-data-manipulation/images/download-delete/one_deleted.png
  topics/galaxy-data-manipulation/images/download-delete/purge_deleted.png
  topics/galaxy-data-manipulation/images/download-delete/saved_histories.png
  topics/galaxy-data-manipulation/images/download-delete/show_deleted.png
  topics/galaxy-data-manipulation/tutorials/download-delete-data/tutorial.md
Labels: new tutorial, topic: data-manipulation

#1629 Mapping: update broken link in slides
  topics/sequence-analysis/tutorials/mapping/slides.html
Labels: topic: sequence-analysis

#1630 Metagenomics global picture: embed interactive krona plot
  topics/metagenomics/tutorials/general-tutorial/krona.html
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Labels: topic: metagenomics

#1634 Cheminformatics tutorial
  topics/computational-chemistry/images/2brc.png
  topics/computational-chemistry/images/activesite.gif
  topics/computational-chemistry/images/compound_library.png
  topics/computational-chemistry/images/fingerprints.png
  topics/computational-chemistry/images/nxn.png
  topics/computational-chemistry/images/scatterplot.png
  topics/computational-chemistry/tutorials/cheminformatics/tutorial.bib
  topics/computational-chemistry/tutorials/cheminformatics/tutorial.md
  topics/computational-chemistry/tutorials/cheminformatics/workflows/main_workflow.ga
Labels: new tutorial, topic: Computational chemistry

#1628 add section on upgrade procedures
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: topic: admin

#1559 New scRNA-seq quality control with scater tutorial
  CONTRIBUTORS.yaml
  topics/transcriptomics/images/scrna-scater-qc/Figure1.jpg
  topics/transcriptomics/images/scrna-scater-qc/PCAplot.png
  topics/transcriptomics/images/scrna-scater-qc/post_filter.png
  topics/transcriptomics/images/scrna-scater-qc/raw_data.png
  topics/transcriptomics/tutorials/scrna-scater-qc/tutorial.bib
  topics/transcriptomics/tutorials/scrna-scater-qc/tutorial.md
  topics/transcriptomics/tutorials/scrna-scater-qc/workflows/main_workflow.ga
Labels: new contributor(s), new tutorial, topic: transcriptomics

#1638 Fix minor issues in mapping tutorial
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/jbrowse.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
Labels: topic: sequence-analysis

#1642 Mention fetch from URL in get-data
  topics/galaxy-data-manipulation/images/fetch_from_url.png
  topics/galaxy-data-manipulation/tutorials/get-data/slides.html
Labels: topic: data-manipulation

#1644 Improve wording in Server-to-Server transfer slide
  topics/galaxy-data-manipulation/tutorials/get-data/slides.html
Labels: topic: data-manipulation
