Repository galaxyproject/training-material, pull requests merged in 2019-12, with the labels that each got.

#1672 Restructure of R-lessons + release
  snippets/launch_rstudio.md
  snippets/launch_rstudio_cloud.md
  topics/galaxy-ui/tutorials/rstudio/tutorial.md
  topics/introduction/images/rna-seq-counts-to-viz-in-r/featurePlot.png
  topics/introduction/metadata.yaml
  topics/introduction/slides/introduction.html
  topics/introduction/tutorials/galaxy-intro-101-everyone/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
  topics/introduction/tutorials/options-for-using-galaxy/slides.html
  topics/introduction/tutorials/r-advanced/tutorial.md
  topics/introduction/tutorials/r-basics/start_rstudio.md
  topics/introduction/tutorials/r-basics/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-counts-to-viz-in-r/tutorial.md
Labels: new tutorial, topic:introduction, topic:transcriptomics, work-in-progress

#1691 fix ansible-vault exercise in ansible tutorial
  topics/admin/tutorials/ansible/tutorial.md
Labels: bug, new contributor(s), topic:admin

#1696 Temporarily disable GA tutorial pending updates
  topics/genome-annotation/tutorials/genome-annotation/tutorial.md
Labels: topic:genome-annotation

#1698 Single-cell RNA-Seq: Tutorial "Clustering 3K PBMCs with Scanpy"
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/dotplot_annotated_clusters.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/feature_selection_highly_variable_genes.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/pca_loadings.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/pca_overview.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/pca_scatter.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/pca_variance_ratio.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/plot_rank_genes_groups_heatmap.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/qc_scatter_n_genes_by_counts_pct_counts_mito.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/qc_scatter_total_counts_n_genes_by_counts.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/qc_violin_plot.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/rank_genes_groups_t-test.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/rank_genes_groups_violin_wilcoxon_0_vs_1.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/rank_genes_groups_wilcoxon.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/rank_genes_groups_wilcoxon_0_vs_1.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/umap_after_clustering.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/umap_annotated_clusters.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/umap_before_clustering.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/umap_plot_marker_genes.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/violin_plot_marker_genes.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/violin_plot_rank_genes_groups_CST3_NKG7_PPBP.png
  topics/transcriptomics/images/scrna-scanpy-pbmc3k/violin_plot_rank_genes_groups_t-test.png
  topics/transcriptomics/tutorials/scrna-preprocessing-tenx/tutorial.md
  topics/transcriptomics/tutorials/scrna-scanpy-pbmc3k/tutorial.bib
  topics/transcriptomics/tutorials/scrna-scanpy-pbmc3k/tutorial.md
  topics/transcriptomics/tutorials/scrna-scanpy-pbmc3k/workflows/main_workflow.ga
Labels: new tutorial, topic:transcriptomics
