Repository galaxyproject/training-material, pull requests merged in 2020-03, with the labels that each got.

#1806 Update compute cluster slides
  topics/admin/tutorials/connect-to-compute-cluster/slides.html
Labels: topic:admin

#1808 Improvements to the Ansible slides and tutorial
  topics/admin/tutorials/ansible/slides.html
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/object-store/slides.html
Labels: topic:admin

#1811 Add Interactive Tools slides
  topics/admin/tutorials/interactive-tools/slides.html
Labels: topic:admin

#1814 Cleanup Tool Shed and Tool Management slides
  topics/admin/tutorials/tool-management/slides.html
  topics/admin/tutorials/toolshed/slides.html
  topics/dev/tutorials/toolshed/slides.html
Labels: topic:admin

#1815 Missing redirect for upstream-auth tutorial, nicer diffs
  topics/admin/tutorials/external-auth/slides.html
  topics/admin/tutorials/external-auth/tutorial.md
Labels: topic:admin

#1819 Update BioBlend slides
  topics/dev/tutorials/bioblend-api/slides.html
Labels: topic:dev

#1812 admin s3 support training whee
  topics/admin/tutorials/object-store/tutorial.md
Labels: topic:admin

#1776 Pulsar to py3k
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/general-monitoring/slides.html
  topics/admin/tutorials/pulsar/tutorial.md
  topics/admin/tutorials/reports/tutorial.md
  topics/admin/tutorials/uwsgi/slides.html
Labels: improvement, topic:admin

#1821 Update Maintenance slides
  topics/admin/tutorials/maintenance/slides.html
Labels: topic:admin

#1818 Do you wanna build a metrics database
  topics/admin/images/job-metrics-advanced.png
  topics/admin/images/job-metrics-basic.png
  topics/admin/tutorials/job-metrics/tutorial.bib
  topics/admin/tutorials/job-metrics/tutorial.md
Labels: new tutorial, topic:admin

#1825 Update tutorial.md
  topics/admin/tutorials/gxadmin/tutorial.md
Labels: topic:admin

#1828 Fixes
  topics/admin/tutorials/monitoring/tutorial.md
Labels: topic:admin

#1829 More fixes
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/monitoring/tutorial.md
Labels: topic:admin

#1832 Reorganise storage-related material
  topics/admin/slides/introduction.html
  topics/admin/tutorials/maintenance/slides.html
  topics/admin/tutorials/stuff/slides.html
Labels: topic:admin

#1830 Ansible tutorial TODOs from Barcelona
  topics/admin/tutorials/ansible/slides.html
  topics/admin/tutorials/ansible/tutorial.md
Labels: topic:admin

#1834 Fix solution of "Minimal Galaxy Playbook" hands-on
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: topic:admin

#1842 Fix indentation of some YAML code blocks
  topics/admin/tutorials/interactive-tools/tutorial.md
Labels: topic:admin

#1845 Contributing: add some tips
  topics/contributing/tutorials/running-jekyll/tutorial.md
Labels: topic:contributing

#1841 Update Troubleshooting slides
  topics/admin/images/troubleshooting/grafana-load-graph.png
  topics/admin/images/troubleshooting/hda-new.png
  topics/admin/images/troubleshooting/hda-queued.png
  topics/admin/images/troubleshooting/hda-running.png
  topics/admin/images/troubleshooting/manage-dependencies.png
  topics/admin/images/troubleshooting/wireshark.png
  topics/admin/tutorials/troubleshooting/slides.html
Labels: topic:admin

#1840 fix diff in metrics
  topics/admin/tutorials/job-metrics/tutorial.md
Labels: topic:admin

#1846 Cleanup Tool Integration slides
  topics/dev/images/job_conf.xml_1.png
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/tool-integration/slides.html
Labels: topic:dev

#1855 Metabolomics > Lcms analysis : update
  topics/metabolomics/images/lcms_BC_theo.png
  topics/metabolomics/images/lcms_BC_theo2.png
  topics/metabolomics/images/lcms_BPC_9samp.png
  topics/metabolomics/images/lcms_QM_9samp_raw.png
  topics/metabolomics/images/lcms_group_9samp.png
  topics/metabolomics/tutorials/lcms/tutorial.md
Labels: review-needed, topic:metabolomics

#1865 Update tutorial.md
  topics/computational-chemistry/tutorials/covid19-docking/tutorial.md
Labels: bug, topic:computational-chemistry
