Repository galaxyproject/training-material, pull requests merged in 2020-09, with the labels that each got.

#2034 Update external link on gxadmin tutorial
  topics/admin/tutorials/gxadmin/tutorial.md
Labels: broken link

#2014 Metabolomics > LC-MS preprocessing : going from "Under dev" to "available"
  topics/metabolomics/images/lcmspreproc_ICgp1.png
  topics/metabolomics/images/lcmspreproc_group12samp.png
  topics/metabolomics/images/lcmspreproc_slides_2.7.png
  topics/metabolomics/images/lcmspreproc_slides_3.8.png
  topics/metabolomics/images/lcmspreproc_slides_4.1.png
  topics/metabolomics/images/lcmspreproc_slides_4.2.png
  topics/metabolomics/images/lcmspreproc_wf.png
  topics/metabolomics/tutorials/lcms-preprocessing/slides.html
  topics/metabolomics/tutorials/lcms-preprocessing/tutorial.md
Labels: review-needed, topic:metabolomics

#2036 Add hrhotz and mtekman as contributors for scanpy tutorial
  topics/transcriptomics/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Labels: topic:transcriptomics

#2037 update galaxyproject.repos for ubuntu>18.04
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Labels: topic:admin

#2016 Update e. coli tutorial for various bugs
  topics/assembly/images/ecoli-comparison.png
  topics/assembly/images/ecoli-list-filter.png
  topics/assembly/images/ecoli-list.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Labels: topic:assembly

#2038 Askomics: add more info on gxit launching
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/tutorial.md
Labels: improvement, topic:transcriptomics
