Repository galaxyproject/training-material, pull requests merged in 2020-10, with the labels that each got.

#2048 Fix typo: histories > datasets
  topics/galaxy-interface/tutorials/download-delete-data/tutorial.md
Labels: bug

#2047 TAL1 tutorial updates
  topics/epigenetics/images/tal1/TAL1-plotheatmap.png
  topics/epigenetics/images/tal1/Trackster_Runx1_locus.png
  topics/epigenetics/images/tal1/add-tracks.png
  topics/epigenetics/images/tal1/configure-visualization.png
  topics/epigenetics/images/tal1/create-visualization.png
  topics/epigenetics/images/tal1/data_uploaded.png
  topics/epigenetics/images/tal1/fastqc_after.png
  topics/epigenetics/images/tal1/fastqc_before.png
  topics/epigenetics/images/tal1/hm.png
  topics/epigenetics/images/tal1/plotCorrelation_heatmap_pearson_1kb.png
  topics/epigenetics/images/tal1/plotFingerprint_graph_v2.png
  topics/epigenetics/images/tal1/upload_data_page.png
  topics/epigenetics/tutorials/tal1-binding-site-identification/references.bib
  topics/epigenetics/tutorials/tal1-binding-site-identification/tutorial.md
  topics/epigenetics/tutorials/tal1-binding-site-identification/workflows/index.md
  topics/epigenetics/tutorials/tal1-binding-site-identification/workflows/tal1-binding-site-identification-workflow-test.yml
  topics/epigenetics/tutorials/tal1-binding-site-identification/workflows/tal1-binding-site-identification-workflow.ga
Labels: improvement

#2040 Slides to Videos
  Makefile
  _config.yml
  _includes/resource-slides.html
  _plugins/jekyll-topic-filter.rb
  assets/css/slides.css
  assets/js/main.js
  bin/ari-subs.py
  bin/ari.sh
  bin/extract-frontmatter.rb
  bin/filter-has-videos
  bin/schema-slides.yaml
  bin/slides-fix.css
  environment.yml
  package-lock.json
  package.json
  topics/admin/tutorials/ansible/slides.html
  topics/dev/tutorials/architecture/slides.html
  topics/metagenomics/tutorials/mothur-miseq-sop-short/krona_all.html
  topics/metagenomics/tutorials/mothur-miseq-sop-short/krona_multisample.html
  videos/index.md
Labels: highlight, new feature

#2052 Remove wkhtmltopdf package which caused OSX builds to fail
  environment.yml
Labels: bug

#2053 Fix links to Galaxy libraries
  topics/galaxy-interface/tutorials/collections/tutorial.md
  topics/variant-analysis/tutorials/dip/tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Labels: broken link, bug

#2054 Somatic variants tutorial updates
  topics/variant-analysis/tutorials/somatic-variants/tutorial.md
  topics/variant-analysis/tutorials/somatic-variants/workflows/index.md
  topics/variant-analysis/tutorials/somatic-variants/workflows/somatic_variants_tutorial_workflow-test.yml
  topics/variant-analysis/tutorials/somatic-variants/workflows/somatic_variants_tutorial_workflow.ga
Labels: improvement

#2055 Use 'dataset' instead of 'file' when more appropriate
  topics/introduction/images/view-hist.png
  topics/introduction/slides/introduction.html
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: topic:introduction

#2059 Fix links and a datatype in rna-interactome data library
  topics/transcriptomics/tutorials/rna-interactome/data-library.yaml
  topics/transcriptomics/tutorials/rna-interactome/tutorial.md
  topics/transcriptomics/tutorials/scrna-preprocessing-tenx/data-library.yaml
Labels: topic:transcriptomics

#2064 Document per user/os object store with link to galaxy PRs.
  _includes/help.html
  assets/css/main.scss
  assets/css/slides.css
  topics/admin/tutorials/object-store/tutorial.md
Labels: Hacktoberfest, topic:admin

#2039 metaQuantome tutorial: part I
  CONTRIBUTORS.yaml
  topics/proteomics/README.md
  topics/proteomics/images/UnipeptJSON.png
  topics/proteomics/images/UnipeptJSONoutput.png
  topics/proteomics/images/biogasdataset.png
  topics/proteomics/images/biologicalprocess.png
  topics/proteomics/images/cellularcomponent.png
  topics/proteomics/images/metaquantomeworkflow.png
  topics/proteomics/images/microbiome.png
  topics/proteomics/images/molecularfunction.png
  topics/proteomics/images/taxa.png
  topics/proteomics/images/unipept_taxonomy_viewer.png
  topics/proteomics/tutorials/metaquantome-data-creation/tutorial.bib
  topics/proteomics/tutorials/metaquantome-data-creation/tutorial.md
  topics/proteomics/tutorials/metaquantome-data-creation/workflows/index.md
  topics/proteomics/tutorials/metaquantome-data-creation/workflows/main_workflow.ga
Labels: new contributor(s), new tutorial, topic:proteomics

#2065 The final redirect
  _layouts/base.html
  _layouts/base_slides.html
Labels: template-and-tools

#2088 Galaxy paper-cut: fix missing link for zenodo (input data) in climate101
  topics/climate/tutorials/climate-101/tutorial.md
Labels: paper-cut

#2091 Add workflow test for Short Intro to Galaxy tutorial
  topics/introduction/tutorials/galaxy-intro-short/workflows/Galaxy-Workflow-galaxy-intro-short-test.yml
  topics/introduction/tutorials/galaxy-intro-short/workflows/Galaxy-Workflow-galaxy-intro-short.ga
Labels: paper-cut

#2090 Add workflow test for Galaxy 101 for Everyone tutorial
  topics/introduction/tutorials/galaxy-intro-101-everyone/workflows/main_workflow-test.yml
  topics/introduction/tutorials/galaxy-intro-101-everyone/workflows/main_workflow.ga
Labels: paper-cut

#2094 Fix ENA broken link in tutorial.
  topics/galaxy-interface/tutorials/upload-rules/tutorial.md
Labels: broken link, topic:galaxy-ui

#2098 Add note following user support query
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: topic:admin

#2087 Update Genomics & Galaxy tutorial
  shared/images/rename_history.png
  topics/introduction/images/genes_human_chr22_dataset_view.png
  topics/introduction/images/genes_human_chr22_preview.png
  topics/introduction/images/status_running.png
  topics/introduction/images/ucsc_table_browser_w_default_settings.png
  topics/introduction/images/ucsc_tb_set_region_chr22.png
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
Labels: paper-cut
