Repository galaxyproject/training-material, pull requests merged in 2020-06, with the labels that each got.

#1906 2020 overhaul of architecture slides.
  .gitignore
  assets/css/slides.css
  topics/dev/images/Makefile
  topics/dev/images/core_branches.plantuml.svg
  topics/dev/images/core_branches.plantuml.txt
  topics/dev/images/core_files_ci.plantuml.svg
  topics/dev/images/core_files_ci.plantuml.txt
  topics/dev/images/core_files_code.plantuml.svg
  topics/dev/images/core_files_code.plantuml.txt
  topics/dev/images/core_files_project_docs.plantuml.svg
  topics/dev/images/core_files_project_docs.plantuml.txt
  topics/dev/images/core_files_scripts.plantuml.svg
  topics/dev/images/core_files_scripts.plantuml.txt
  topics/dev/images/core_files_test.plantuml.svg
  topics/dev/images/core_files_test.plantuml.txt
  topics/dev/images/hda_dataset.plantuml.svg
  topics/dev/images/hda_dataset.plantuml.txt
  topics/dev/images/hda_hdca.plantuml.svg
  topics/dev/images/hda_hdca.plantuml.txt
  topics/dev/images/objectstore.plantuml.svg
  topics/dev/images/objectstore.plantuml.txt
  topics/dev/images/plantuml_options.txt
  topics/dev/images/plantuml_style.txt
  topics/dev/images/server_client.plantuml.svg
  topics/dev/images/server_client.plantuml.txt
  topics/dev/images/server_client_old.plantuml.svg
  topics/dev/images/server_client_old.plantuml.txt
  topics/dev/images/server_client_vuejs.plantuml.svg
  topics/dev/images/server_client_vuejs.plantuml.txt
  topics/dev/images/webapp.plantuml.svg
  topics/dev/images/webapp.plantuml.txt
  topics/dev/images/webapp_classes.plantuml.svg
  topics/dev/images/webapp_classes.plantuml.txt
  topics/dev/images/wsgi_app.plantuml.svg
  topics/dev/images/wsgi_app.plantuml.txt
  topics/dev/tutorials/architecture/slides.html
Labels: improvement, topic:dev

#1909 ATAC-SEQ: update datalibrary.yaml
  topics/epigenetics/tutorials/atac-seq/data-library.yaml
Labels: topic:epigenetics

#1904 [NGS data logistics] Remove line break
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: improvement, topic:introduction

#1905 Remove greeter since often non-functional
  .github/workflows/greetings.yml
Labels: template-and-tools

#1900 Make translations more obvious
  _config.yml
  _includes/resource-handson.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Labels: highlight, improvement, template-and-tools

#1843 Themes!
  _includes/help.html
  _layouts/base.html
  _layouts/base_slides.html
  _layouts/topic.html
  assets/css/main.scss
  assets/css/slides.css
  assets/css/syntax_highlighting-dark.scss
  assets/js/theme.js
Labels: feature, improvement, new feature, template-and-tools

#1902 In/Out Blocks
  _config.yml
  assets/css/main.scss
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: highlight, new feature, template-and-tools, topic:admin

#1914 Gitter sidecar
  _includes/help.html
  _layouts/home.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  bin/schema-topic.yaml
  bin/schema-tutorial.yaml
  topics/genome-annotation/metadata.yaml
  topics/transcriptomics/tutorials/scrna-preprocessing-tenx/tutorial.md
  topics/transcriptomics/tutorials/scrna-preprocessing/tutorial.md
  topics/transcriptomics/tutorials/scrna-raceid/tutorial.md
  topics/transcriptomics/tutorials/scrna-scanpy-pbmc3k/tutorial.md
  topics/transcriptomics/tutorials/scrna-scater-qc/tutorial.md
  topics/transcriptomics/tutorials/scrna-umis/tutorial.md
Labels: template-and-tools

#1916 Fix "And more!" link
  _layouts/tutorial_hands_on.html
Labels: bug

#1917 Support setting theme by URL
  assets/js/theme.js
Labels: improvement, template-and-tools

#1910 Maxquant tutorial update
  topics/proteomics/images/maxquant_lfq_boxplots.png
  topics/proteomics/images/maxquant_lfq_fc_histogram.png
  topics/proteomics/tutorials/maxquant-label-free/tutorial.md
  topics/proteomics/tutorials/maxquant-label-free/workflows/maxquant_label_free.ga
Labels: topic:proteomics, work-in-progress

#1922 Incorporate GAT feedback
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/cvmfs-manual/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/admin/tutorials/external-auth/tutorial.md
  topics/admin/tutorials/gxadmin/tutorial.md
  topics/admin/tutorials/job-metrics/tutorial.md
  topics/admin/tutorials/pulsar/tutorial.md
  topics/admin/tutorials/tool-management/tutorial.md
  topics/admin/tutorials/troubleshooting/slides.html
  topics/admin/tutorials/users-groups-quotas/slides.html
Labels: highlight, topic:admin

#1938 Admin/cvmfs: fix broken markdown link
  topics/admin/tutorials/cvmfs/tutorial.md
Labels: bug

#1924 Tutorial for SARS-CoV-2 tutorial
  topics/variant-analysis/images/sra_entrez.png
  topics/variant-analysis/images/sra_entrez_result.png
  topics/variant-analysis/images/sra_entrez_send_to.png
  topics/variant-analysis/images/sra_run_selector.png
  topics/variant-analysis/tutorials/sars-cov-2/tutorial.bib
  topics/variant-analysis/tutorials/sars-cov-2/tutorial.md
  topics/variant-analysis/tutorials/sars-cov-2/workflows/index.md
  topics/variant-analysis/tutorials/sars-cov-2/workflows/main_workflow.ga
Labels: topic:variant-analysis, work-in-progress
