Repository galaxyproject/training-material, pull requests merged in 2020-12, with the labels that each got.

#2174 Ansible tuto: fix display of ansible var
  topics/admin/tutorials/ansible/tutorial.md
Labels: topic:admin

#2165 Ansible tutorial misc. edits
  topics/admin/tutorials/ansible/tutorial.md
Labels: broken link, improvement, topic:admin

#2105 Move UCSC steps into tips, and use data from zenodo
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Labels: topic:introduction

#2178 Merge Tool Shed slides into Tool Management
  topics/admin/tutorials/tool-management/slides.html
  topics/admin/tutorials/toolshed/slides.html
Labels: topic:admin

#1572 InterMine tutorial
  CONTRIBUTORS.yaml
  bin/check-broken-tool-links.sh
  topics/galaxy-interface/tutorials/intermine/tutorial.bib
  topics/galaxy-interface/tutorials/intermine/tutorial.md
  topics/galaxy-interface/tutorials/intermine/workflows/index.md
  topics/galaxy-interface/tutorials/intermine/workflows/main_workflow.ga
Labels: new contributor(s), new tutorial, review-needed, topic:data-manipulation

#2201 Interactive tools: add full path to diffs
  topics/admin/tutorials/interactive-tools/tutorial.md
Labels: topic:admin

#2195 Add Proteomics topic maintainers
  topics/proteomics/metadata.yaml
Labels: new maintainer
