Repository galaxyproject/training-material, pull requests merged in 2020-11, with the labels that each got.

#2101 How to host a GAT
  topics/instructors/images/gat.png
  topics/instructors/tutorials/galaxy-admin-training/tutorial.md
Labels: topic:admin, topic:instructors

#2133 GAT: fix url to terraform file
  topics/instructors/tutorials/galaxy-admin-training/tutorial.md
Labels: topic:admin, topic:instructors

#2154 Fix link, minor typos
  CONTRIBUTING.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Labels: broken link

#2135 Fix duplicated keys
  topics/proteomics/tutorials/metaquantome-function/tutorial.md
  topics/proteomics/tutorials/metaquantome-taxonomy/tutorial.md
Labels: bug

#2148 Update ansible-galaxy for 2021
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/interactive-tools/tutorial.md
Labels: topic:admin

#2159 Interactive tools wildcard certs
  topics/admin/tutorials/interactive-tools/tutorial.md
Labels: topic:admin
