Repository galaxyproject/training-material, pull requests merged in 2020-07, with the labels that each got.

#1943 Tutorial search page
  _includes/default-header.html
  _includes/tutorial_list.html
  _plugins/jekyll-topic-filter.rb
  assets/css/main.scss
  assets/js/search-script.js
  search.md
Labels: template-and-tools

#1944 Contributor pages
  CONTRIBUTORS.yaml
  _includes/contributor-badge.html
  _layouts/contributor_index.html
  _layouts/hall-of-fame.html
  _layouts/home.html
  _layouts/training_philosophies.html
  _plugins/author-page.rb
  _plugins/jekyll-annotate-page.rb
  topics/instructors/philosophies/2018-11-01-hexylena.md
Labels: template-and-tools

#1947 RNA-Seq analysis with AskOmics interactive tool
  CONTRIBUTORS.yaml
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/ask.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/datasets.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/de_results_preview.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/files.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/filter_links.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/filter_organism_name.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/galaxy_history_results.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/home.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/homolog_groups.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/mus_musculus_annotation_preview.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/nextprot_abstraction_preview.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/preview_results.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/qtl_preview.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/query_builder.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/query_builder_position.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/results_table.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/images/symbol_to_ensembl_preview.png
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/tutorial.bib
  topics/transcriptomics/tutorials/rna-seq-analysis-with-askomics-it/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-counts-to-genes/tutorial.md
Labels: new contributor(s), new tutorial, topic:transcriptomics

#1953 Implement feedback on click
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
  shared/images/feedback.png
  topics/admin/tutorials/cvmfs/tutorial.md
Labels: template-and-tools

#1955 GAT Update for BCC
  assets/css/main.scss
  topics/admin/tutorials/ansible-galaxy/group_vars/galaxyservers.yml
  topics/admin/tutorials/ansible-galaxy/templates/nginx/galaxy.j2
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: topic:admin

#1958 Rename code-io to code-2col for obviousness
  assets/css/main.scss
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools

#1956 But wait, there's more Stats!
  CONTRIBUTORS.yaml
  Makefile
  _plugins/jekyll-topic-filter.rb
  bin/schema-contributors.yaml
  bin/validate-contributors.rb
  stats.md
Labels: template-and-tools

#1975 Patch 2
  topics/admin/tutorials/ansible-galaxy/galaxy.yml
  topics/admin/tutorials/ansible-galaxy/group_vars/galaxyservers.yml
  topics/admin/tutorials/ansible-galaxy/requirements.yml
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: improvement, topic:admin

#1976 minor update to admin intro deck
  topics/admin/slides/introduction.html
Labels: improvement, topic:admin

#1978 Correct a few typos and add a tip in the ansible-galaxy tutorial
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: improvement, topic:admin

#1982 Pulsar + CVMFS update
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/admin/tutorials/interactive-tools/tutorial.md
  topics/admin/tutorials/pulsar/tutorial.md
Labels: highlight, new feature, topic:admin

#1985 More work on code architecture slides.
  topics/dev/images/core_ci.png
  topics/dev/images/core_files_client_build.mindmap.yml
  topics/dev/tutorials/architecture/slides.html
Labels: improvement, topic:dev

#1987 Update the HTMD workflows
  topics/computational-chemistry/tutorials/htmd-analysis/workflows/analysis_workflow.ga
  topics/computational-chemistry/tutorials/htmd-analysis/workflows/main_workflow.ga
Labels: topic:computational-chemistry

#1991 Added job conf section to ansible-galaxy tutorial
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: CoFest, improvement, topic:admin

#2005 Post BCC2020 fixes
  topics/admin/slides/introduction.html
  topics/admin/tutorials/tool-management/slides.html
  topics/admin/tutorials/tool-management/tutorial.md
  topics/dev/tutorials/bioblend-api/slides.html
Labels: CoFest, topic:admin, topic:dev

#2017 Document how to find tool IDs
  topics/contributing/images/tool-id.png
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: improvement, topic:contributing
