Repository galaxyproject/training-material, pull requests merged in 2021-12, with the labels that each got.

#3060 Image classification on fruit 360 dataset
  .github/workflows/ci.yml
  Gemfile.lock
  topics/statistics/images/Fruit_confusion_matrix.png
  topics/statistics/tutorials/fruit_360/data-library.yaml
  topics/statistics/tutorials/fruit_360/slides.html
  topics/statistics/tutorials/fruit_360/tutorial.bib
  topics/statistics/tutorials/fruit_360/tutorial.md
  topics/statistics/tutorials/fruit_360/workflows/fruit_360.ga
  topics/statistics/tutorials/fruit_360/workflows/index.md
Labels: topic:statistics, new tutorial

#3104 Update Conda tuto
  topics/dev/tutorials/tool-from-scratch/tutorial.md
Labels: topic:dev

#3105 Annotation: fix typos
  topics/genome-annotation/slides/introduction.html
  topics/genome-annotation/tutorials/funannotate/tutorial.md
Labels: topic:genome-annotation

#3086 VGP training: modifications suggested by Giulio Formenti
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.bib
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: work-in-progress

#3111 Annotate funding entities + Smörgåsbord2 news post
  CONTRIBUTORS.yaml
  _includes/news-card.html
  _layouts/contributor_index.html
  bin/schema-contributors.yaml
  news/_posts/2021-10-12-data-science.md
  news/_posts/2021-12-14-funding.md
  news/_posts/2021-12-14-smorgasbord.md
  topics/assembly/tutorials/flye-assembly/tutorial.md
  topics/assembly/tutorials/get-started-genome-assembly/slides.html
  topics/assembly/tutorials/mrsa-illumina/tutorial.md
  topics/assembly/tutorials/mrsa-nanopore/tutorial.md
  topics/data-science/tutorials/cli-advanced/tutorial.md
  topics/data-science/tutorials/cli-bashcrawl/tutorial.md
  topics/data-science/tutorials/cli-basics/tutorial.md
  topics/data-science/tutorials/python-advanced-np-pd/tutorial.md
  topics/data-science/tutorials/python-basics/tutorial.md
  topics/data-science/tutorials/python-plotting/tutorial.md
  topics/data-science/tutorials/r-advanced/tutorial.md
  topics/data-science/tutorials/r-basics/tutorial.md
  topics/data-science/tutorials/r-dplyr/tutorial.md
  topics/data-science/tutorials/snakemake/tutorial.md
  topics/data-science/tutorials/sql-advanced/tutorial.md
  topics/data-science/tutorials/sql-basic/tutorial.md
  topics/data-science/tutorials/sql-game/tutorial.md
  topics/data-science/tutorials/sql-python/tutorial.md
  topics/data-science/tutorials/sql-r/tutorial.md
  topics/galaxy-interface/tutorials/rstudio/tutorial.md
  topics/genome-annotation/tutorials/apollo/slides.html
  topics/genome-annotation/tutorials/apollo/tutorial.md
  topics/genome-annotation/tutorials/funannotate/tutorial.md
  topics/genome-annotation/tutorials/repeatmasker/tutorial.md
  topics/sequence-analysis/tutorials/mapping/slides.html
  topics/sequence-analysis/tutorials/quality-control/slides.html
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/statistics/tutorials/intro-to-ml-with-r/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-counts-to-viz-in-r/tutorial.md
  topics/visualisation/tutorials/circos/slides.html
  topics/visualisation/tutorials/jbrowse/tutorial.md
Labels: new feature, highlight

#3114 Fix typo
  topics/dev/tutorials/bioblend-dev/tutorial.md
Labels: bug, topic:dev
