Repository galaxyproject/training-material, pull requests merged in 2021-02, with the labels that each got.

#2319 Prokka slides: add TTS comments
  bin/ari-map.yml
  topics/genome-annotation/tutorials/annotation-with-prokka/slides.html
Labels: topic:genome-annotation

#2325 Add Cristóbal Gallardo as a maintaianer
  topics/assembly/metadata.yaml
Labels: new maintainer

#2321 New tutorial: From small to large-scale genome comparison
  CONTRIBUTORS.yaml
  topics/genome-annotation/images/hpc-for-lsgc/Chrom01.png
  topics/genome-annotation/images/hpc-for-lsgc/Chrom02.png
  topics/genome-annotation/images/hpc-for-lsgc/Chrom03.png
  topics/genome-annotation/images/hpc-for-lsgc/Chrom04.png
  topics/genome-annotation/images/hpc-for-lsgc/Chrom05.png
  topics/genome-annotation/images/hpc-for-lsgc/Chrom06.png
  topics/genome-annotation/images/hpc-for-lsgc/Chrom07.png
  topics/genome-annotation/images/hpc-for-lsgc/Chrom08.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot01.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot02.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot03.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot04.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot05.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot06.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot07.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot08.png
  topics/genome-annotation/images/hpc-for-lsgc/Dot09.png
  topics/genome-annotation/images/hpc-for-lsgc/Gecko01.png
  topics/genome-annotation/images/hpc-for-lsgc/Gecko02.png
  topics/genome-annotation/images/hpc-for-lsgc/Gecko03.png
  topics/genome-annotation/images/hpc-for-lsgc/Gecko04.png
  topics/genome-annotation/images/hpc-for-lsgc/Gecko05.png
  topics/genome-annotation/images/hpc-for-lsgc/GeckoMGV01.PNG
  topics/genome-annotation/images/hpc-for-lsgc/SRA.png
  topics/genome-annotation/images/hpc-for-lsgc/aegilops-triticum-events.png
  topics/genome-annotation/images/hpc-for-lsgc/aegilops-triticum.png
  topics/genome-annotation/tutorials/hpc-for-lsgc/slides.html
  topics/genome-annotation/tutorials/hpc-for-lsgc/tutorial.bib
  topics/genome-annotation/tutorials/hpc-for-lsgc/tutorial.md
  topics/genome-annotation/tutorials/hpc-for-lsgc/workflows/CHROMEISTER_chromosome_comparison.ga
  topics/genome-annotation/tutorials/hpc-for-lsgc/workflows/GECKO_pairwise_comparison.ga
  topics/genome-annotation/tutorials/hpc-for-lsgc/workflows/index.md
Labels: topic:genome-annotation

#2350 Update JBrowse option
  topics/sequence-analysis/tutorials/mapping/jbrowse.md
Labels: improvement, topic:sequence-analysis

#2355 Fix spelling
  topics/transcriptomics/tutorials/scrna-umis/tutorial.md
Labels: topic:transcriptomics

#2357 Update to NGS tutorial
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: review-needed, topic:introduction

#2383 Fix tool input formatting issue in metaproteomics tutorial.
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Labels: bug, topic:proteomics

#2396 Increase time estimated for workflow parameters tutorial.
  topics/galaxy-interface/tutorials/workflow-parameters/tutorial.md
Labels: bug, topic:galaxy-ui

#2395 Fix typo
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Labels: topic:introduction

#2408 Minor update in Galaxy 101 for everyone tutorial
  topics/introduction/tutorials/galaxy-intro-101-everyone/tutorial.md
Labels: paper-cut

#2393 Improved language for the compose parameter tool...
  topics/galaxy-interface/tutorials/workflow-parameters/tutorial.md
Labels: improvement, topic:galaxy-ui

#2418 Fix typo
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: topic:introduction

#2416 Update tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: bug, topic:introduction

#2417 Rephrase reference to "bits"
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: improvement, topic:introduction

#2412 Papercuts galaxy 101
  topics/introduction/images/101_01.png
  topics/introduction/images/101_02.png
  topics/introduction/images/101_04.png
  topics/introduction/images/101_06.png
  topics/introduction/images/101_07.png
  topics/introduction/images/101_14.png
  topics/introduction/images/101_16.png
  topics/introduction/images/101_19.png
  topics/introduction/images/101_21.png
  topics/introduction/images/101_25.png
  topics/introduction/images/101_26.png
  topics/introduction/images/101_27.png
  topics/introduction/images/101_28.png
  topics/introduction/images/101_34.png
  topics/introduction/images/101_37.png
  topics/introduction/images/101_38.png
  topics/introduction/images/101_39.png
  topics/introduction/images/101_copydataset.png
  topics/introduction/images/101_displayucsc.png
  topics/introduction/images/101_exons.png
  topics/introduction/images/101_history-overview.png
  topics/introduction/images/101_joined.png
  topics/introduction/images/101_rename.png
  topics/introduction/images/galaxy_interface.png
  topics/introduction/images/history_options_menu.png
  topics/introduction/images/upload-box.png
  topics/introduction/images/upload-data.png
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Labels: paper-cut
