Repository galaxyproject/training-material, pull requests merged in 2021-03, with the labels that each got.

#2419 Fix a few typos
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: topic:introduction

#2426 Shuffle contributors in hall of fame
  _layouts/hall-of-fame.html
  _layouts/home.html
Labels: feature, improvement

#2430 Misc fixes for ref-based RNA-Seq tutorial
  topics/transcriptomics/tutorials/ref-based/tutorial.bib
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: topic:transcriptomics

#2271 Introduce auto generated screenshots in rule-based uploader
  topics/galaxy-interface/images/rules/rules_example_4_2_initial_rules.png
  topics/galaxy-interface/images/rules/rules_example_4_3_basic_rules.png
  topics/galaxy-interface/images/rules/rules_example_4_4_sort.png
  topics/galaxy-interface/images/rules/rules_example_4_5_url.png
  topics/galaxy-interface/images/rules/rules_example_4_6_url_built.png
  topics/galaxy-interface/images/rules/rules_example_4_7_mapping_extension_and_name.png
  topics/galaxy-interface/images/rules/rules_example_4_8_source.png
  topics/galaxy-interface/images/rules/rules_example_5_1_inputs.png
  topics/galaxy-interface/images/rules/rules_example_5_2_source.png
  topics/galaxy-interface/images/rules/rules_example_5_3_initial_rules.png
  topics/galaxy-interface/images/rules/rules_example_5_5_url.png
  topics/galaxy-interface/images/rules/rules_example_5_6_presplit.png
  topics/galaxy-interface/images/rules/rules_example_5_7_split_columns.png
  topics/galaxy-interface/images/rules/rules_example_5_8_split.png
  topics/galaxy-interface/images/rules/rules_example_5_9_mapping.png
  topics/galaxy-interface/images/rules/rules_example_6_1_paste.png
  topics/galaxy-interface/images/rules/rules_example_6_2_rules_landing.png
  topics/galaxy-interface/images/rules/rules_example_6_3_end_of_table.png
  topics/galaxy-interface/images/rules/rules_example_6_4_regex.png
  topics/galaxy-interface/images/rules/rules_example_6_5_multiple_identifiers_edit.png
  topics/galaxy-interface/images/rules/rules_example_6_6_multiple_identifiers.png
  topics/galaxy-interface/images/rules/rules_example_6_7_named.png
  topics/galaxy-interface/tutorials/upload-rules-advanced/tutorial.md
Labels: new feature, template-and-tools, topic:galaxy-ui

#2444 Some updates - Topic: Contributing - Tutorial: Running website
  topics/contributing/tutorials/running-jekyll/tutorial.md
Labels: topic:contributing

#2176 Add MRSA assembly with Nanopore & Illumina versions
  CONTRIBUTORS.yaml
  _layouts/home.html
  faqs/galaxy/sequencing_illumina_miseq.md
  faqs/galaxy/sequencing_nanopore.md
  news/_posts/2021-03-24-tutorial_assembly_mrsa.md
  shared/images/logo-avans.png
  topics/assembly/faqs/visualizations_igv_add_genome.md
  topics/assembly/faqs/visualizations_igv_view_mapping.md
  topics/assembly/faqs/visualizations_jbrowse.html
  topics/assembly/faqs/visualizations_jbrowse_link.html
  topics/assembly/images/mrsa/after.png
  topics/assembly/images/mrsa/bandage-illumina.jpg
  topics/assembly/images/mrsa/bandage.png
  topics/assembly/images/mrsa/before.png
  topics/assembly/images/mrsa/card.png
  topics/assembly/images/mrsa/enter-loc.png
  topics/assembly/images/mrsa/fastqc-1.png
  topics/assembly/images/mrsa/fastqc-2.png
  topics/assembly/images/mrsa/highlight.png
  topics/assembly/images/mrsa/image1.jpeg
  topics/assembly/images/mrsa/quast-illumina.png
  topics/assembly/images/mrsa/quast.png
  topics/assembly/images/mrsa/search-features.png
  topics/assembly/images/mrsa/search-results.png
  topics/assembly/tutorials/mrsa-illumina/data/raw/14e421a8469880793f2a8d774224e10d_0.gff.gz
  topics/assembly/tutorials/mrsa-illumina/data/raw/14e421a8469880793f2a8d774224e10d_0.gff.gz.tbi
  topics/assembly/tutorials/mrsa-illumina/data/raw/6851a9d3f5d62263e4e4b34f1513980c_0.gff.gz
  topics/assembly/tutorials/mrsa-illumina/data/raw/6851a9d3f5d62263e4e4b34f1513980c_0.gff.gz.tbi
  topics/assembly/tutorials/mrsa-illumina/data/seq/genome.fasta
  topics/assembly/tutorials/mrsa-illumina/data/seq/genome.fasta.fai
  topics/assembly/tutorials/mrsa-illumina/data/seq/refSeqs.json
  topics/assembly/tutorials/mrsa-illumina/data/trackList.json
  topics/assembly/tutorials/mrsa-illumina/data/tracks.conf
  topics/assembly/tutorials/mrsa-illumina/tutorial.md
  topics/assembly/tutorials/mrsa-illumina/workflows/index.md
  topics/assembly/tutorials/mrsa-illumina/workflows/main_workflow.ga
  topics/assembly/tutorials/mrsa-nanopore/data/raw/81dca2c0e6930aa541a1a88927ed51dd_0.gff.gz
  topics/assembly/tutorials/mrsa-nanopore/data/raw/81dca2c0e6930aa541a1a88927ed51dd_0.gff.gz.tbi
  topics/assembly/tutorials/mrsa-nanopore/data/raw/d6de62f94b0de381be4ee8f27dd61ab9_0.gff.gz
  topics/assembly/tutorials/mrsa-nanopore/data/raw/d6de62f94b0de381be4ee8f27dd61ab9_0.gff.gz.tbi
  topics/assembly/tutorials/mrsa-nanopore/data/seq/genome.fasta
  topics/assembly/tutorials/mrsa-nanopore/data/seq/genome.fasta.fai
  topics/assembly/tutorials/mrsa-nanopore/data/seq/refSeqs.json
  topics/assembly/tutorials/mrsa-nanopore/data/trackList.json
  topics/assembly/tutorials/mrsa-nanopore/data/tracks.conf
  topics/assembly/tutorials/mrsa-nanopore/tutorial.bib
  topics/assembly/tutorials/mrsa-nanopore/tutorial.md
  topics/assembly/tutorials/mrsa-nanopore/workflows/index.md
  topics/assembly/tutorials/mrsa-nanopore/workflows/main_workflow.ga
  topics/metagenomics/tutorials/nanopore-16S-metagenomics/tutorial.md
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/tutorial.md
  topics/visualisation/faqs/visualizations_jbrowse.html
Labels: topic:assembly

#2468 Add new topic maintainers
  topics/epigenetics/metadata.yaml
  topics/transcriptomics/metadata.yaml
Labels: new maintainer

#2433 Adding ATAC-Seq slides
  bin/ari-map.yml
  topics/epigenetics/images/atac-seq/atac.jpg
  topics/epigenetics/images/atac-seq/per_base_sequence_content.png
  topics/epigenetics/slides/introduction_atac.html
Labels: topic:epigenetics
