Repository galaxyproject/training-material, pull requests merged in 2021-01, with the labels that each got.

#2213 Various fixes for ansible-galaxy tutorial
  topics/admin/tutorials/ansible-galaxy/galaxy.yml
  topics/admin/tutorials/ansible-galaxy/group_vars/galaxyservers.yml
  topics/admin/tutorials/ansible-galaxy/requirements.yml
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: topic:admin

#2199 Updated pulsar slides and tutorial to use MQ mode
  topics/admin/images/australia_locations.png
  topics/admin/images/pulsar_amqp_schema.png
  topics/admin/images/pulsar_amqp_schema.svg
  topics/admin/images/pulsar_australia.png
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/pulsar/slides.html
  topics/admin/tutorials/pulsar/tutorial.md
Labels: topic:admin

#2152 Update admin slides for 2021 GAT + videos
  Makefile
  _config.yml
  _layouts/tutorial_slides.html
  bin/ari-extract-script.rb
  bin/ari-map.yml
  bin/ari-prep-script.rb
  bin/ari-subs.py
  bin/ari-synthesize.rb
  bin/ari.sh
  topics/admin/images/grafana/cvmfs.png
  topics/admin/images/grafana/db.png
  topics/admin/images/grafana/galaxy.png
  topics/admin/images/grafana/node.png
  topics/admin/images/grafana/stats.png
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/admin/tutorials/ansible-galaxy/slides.html
  topics/admin/tutorials/ansible/slides.html
  topics/admin/tutorials/cloudbursting/slides.html
  topics/admin/tutorials/connect-to-compute-cluster/slides.html
  topics/admin/tutorials/cvmfs/slides.html
  topics/admin/tutorials/database/slides.html
  topics/admin/tutorials/empathy/slides.html
  topics/admin/tutorials/external-auth/slides.html
  topics/admin/tutorials/gxadmin/slides.html
  topics/admin/tutorials/interactive-tools/slides.html
  topics/admin/tutorials/maintenance/slides.html
  topics/admin/tutorials/monitoring/slides.html
  topics/admin/tutorials/object-store/slides.html
  topics/admin/tutorials/production/slides.html
  topics/admin/tutorials/pulsar/slides.html
  topics/admin/tutorials/reference-genomes/slides.html
  topics/admin/tutorials/systemd-supervisor/slides.html
  topics/admin/tutorials/terraform/slides.html
  topics/admin/tutorials/tool-management/slides.html
  topics/admin/tutorials/troubleshooting/slides.html
  topics/admin/tutorials/users-groups-quotas/slides.html
  topics/admin/tutorials/uwsgi/slides.html
  topics/contributing/tutorials/slides-with-video/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/slides.html
Labels: topic:admin

#2225 Fix invalid data lib yaml
  topics/proteomics/tutorials/DIA_Analysis_OSW/data-library.yaml
Labels: bug

#2221 Fix video subtitle styling
  assets/css/main.scss
Labels: template-and-tools

#2219 MAYBE fix modification date issue.
  .github/workflows/cron.yml
  .github/workflows/deploy.yml
  bin/make_release.py
Labels: template-and-tools

#2220 add wf to build videos
  .github/workflows/video.yml
  Makefile
  bin/ari-make.sh
  bin/ari.sh
Labels: template-and-tools, work-in-progress

#2095 Medium level assembly slides
  topics/assembly/images/Optical_mapping.jpg
  topics/assembly/images/coverage.png
  topics/assembly/images/hic.jpg
  topics/assembly/images/linked_reads.png
  topics/assembly/tutorials/algorithms-introduction/slides.html
  topics/assembly/tutorials/assembly-with-preprocessing/tutorial.md
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.md
  topics/assembly/tutorials/general-introduction/slides.html
  topics/assembly/tutorials/general-introduction/tutorial.md
  topics/assembly/tutorials/unicycler-assembly/slides.html
Labels: topic:assembly

#2247 YAML array version of the tool_data_table_config_path doesn't work
  topics/admin/tutorials/cvmfs/tutorial.md
Labels: bug, topic:admin

#2239 Add chat quick link
  chat.html
Labels: template-and-tools

#1848 Add data libraries tutorial
  bin/ari-extract-script.rb
  snippets/finding_your_admin_api_key.md
  topics/admin/images/data/data-library-screenshot-files.png
  topics/admin/images/data/data-library-screenshot.png
  topics/admin/images/data/import-admin.png
  topics/admin/images/data/import-history.png
  topics/admin/images/data/import-menu.png
  topics/admin/images/data/import-user.png
  topics/admin/images/data/imported.png
  topics/admin/images/data/lib.png
  topics/admin/images/data/library-permissions.png
  topics/admin/images/data/select-from-lib0.png
  topics/admin/images/data/select-from-lib1.png
  topics/admin/images/data/select-from-lib2.png
  topics/admin/images/data/select-from-lib3.png
  topics/admin/tutorials/data-library/slides.html
  topics/admin/tutorials/data-library/tutorial.md
  topics/admin/tutorials/interactive-tools/slides.html
  topics/admin/tutorials/singularity/tutorial.md
  topics/admin/tutorials/stuff/slides.html
  topics/admin/tutorials/tool-management/tutorial.md
  topics/dev/images/data_managers.svg
  topics/dev/images/hda.svg
  topics/dev/images/libraries.svg
  topics/dev/images/library_permissions.svg
  topics/dev/images/workflow_definition.svg
  topics/dev/images/workflow_run.svg
  topics/dev/images/wsgi_app.svg
  topics/dev/images/wsgi_request.svg
Labels: topic:admin

#2258 Maker short: little fixes
  topics/assembly/tutorials/chloroplast-assembly/tutorial.md
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-maker/content.md
  topics/genome-annotation/tutorials/annotation-with-prokka/tours/tour.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/tours/tour.yaml
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
Labels: bug, topic:genome-annotation

#2244 Job conf updates, sync with earlier tutos.
  bin/ari-map.yml
  topics/admin/tutorials/ansible-galaxy/requirements.yml
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/connect-to-compute-cluster/slides.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/job-destinations/tutorial.md
  topics/admin/tutorials/maintenance/slides.html
  topics/admin/tutorials/pulsar/tutorial.md
  topics/admin/tutorials/singularity/tutorial.md
Labels: topic:admin

#2265 sars-cov-2 assembly: minor fixes
  topics/assembly/tutorials/assembly-with-preprocessing/tutorial.md
Labels: topic:assembly

#2266 Allow manual triggering the video CI workflow
  .github/workflows/video.yml
Labels: improvement

#2267 sars-cov-2 slides typos
  topics/assembly/tutorials/assembly-with-preprocessing/slides.html
Labels: topic:assembly

#2269 Singularity role imposter
  topics/admin/tutorials/singularity/tutorial.md
Labels: topic:admin

#2264 More last minute admin fixes
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/job-destinations/tutorial.md
  topics/admin/tutorials/singularity/tutorial.md
Labels: topic:admin

#2272 Add DB backups to ansible-galaxy, RabbitMQ fix
  topics/admin/tutorials/ansible-galaxy/group_vars/galaxyservers.yml
  topics/admin/tutorials/ansible-galaxy/requirements.yml
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/pulsar/tutorial.md
Labels: topic:admin

#2141 add new prerequisites + info on workflows for FATES Galaxy tool tutorial
  CONTRIBUTORS.yaml
  bin/check-broken-tool-links.sh
  snippets/edit_workflow.md
  topics/climate/tutorials/fates/slides.html
  topics/climate/tutorials/fates/tutorial.bib
  topics/climate/tutorials/fates/tutorial.md
  topics/galaxy-interface/tutorials/workflow-parameters/tutorial.md
Labels: work-in-progress

#2150 Tutorials for PDAUG tool suite
  CONTRIBUTORS.yaml
  topics/proteomics/images/3DScattered.png
  topics/proteomics/images/FeatureSpace.png
  topics/proteomics/images/MLWorkFlow.png
  topics/proteomics/images/ML_HEATMAP.png
  topics/proteomics/images/PDAUG_ML_1.png
  topics/proteomics/images/PeptideAnalysisWorkflow.png
  topics/proteomics/images/SummaryPlot.png
  topics/proteomics/tutorials/ml-modeling-of-anti-cancer-peptides/data_library.yaml
  topics/proteomics/tutorials/ml-modeling-of-anti-cancer-peptides/tutorial.bib
  topics/proteomics/tutorials/ml-modeling-of-anti-cancer-peptides/tutorial.md
  topics/proteomics/tutorials/ml-modeling-of-anti-cancer-peptides/workflows/PeptideML.ga
  topics/proteomics/tutorials/ml-modeling-of-anti-cancer-peptides/workflows/index.md
  topics/proteomics/tutorials/peptide-library-data-analysis/tutorial.bib
  topics/proteomics/tutorials/peptide-library-data-analysis/tutorial.md
  topics/proteomics/tutorials/peptide-library-data-analysis/workflows/PeptideDataAnalysis.ga
  topics/proteomics/tutorials/peptide-library-data-analysis/workflows/index.md
Labels: review-needed, topic:proteomics

#2287 Wrong DB permissions for new tiaas
  topics/admin/tutorials/tiaas/tutorial.md
Labels: topic:admin

#2303 Fix prokka tuto typo
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
Labels: topic:genome-annotation

#2308 Reports location in galaxy.j2 template
  topics/admin/tutorials/reports/tutorial.md
Labels: bug, topic:admin

#2309 Jenkins tutorial: Need to update the java role for it to work.
  topics/admin/tutorials/jenkins/tutorial.md
Labels: bug, topic:admin
