Repository galaxyproject/training-material, pull requests merged in 2021-08, with the labels that each got.

#2734 New tutorial for cleaning SARS-CoV-2 sequencing data by removing human reads
  topics/sequence-analysis/tutorials/human-reads-removal/data-library.yaml
  topics/sequence-analysis/tutorials/human-reads-removal/tutorial.md
  topics/sequence-analysis/tutorials/human-reads-removal/workflows/human-reads-removal.ga
  topics/sequence-analysis/tutorials/human-reads-removal/workflows/index.md
Labels: covid19, new tutorial, topic:sequence-analysis

#2722 Update to collection tutorial
  faqs/galaxy/dataset_upload_fastqsanger_via_urls.md
  faqs/galaxy/datasets_import_via_link.md
  faqs/galaxy/images/paste_fetch_data_button.png
  faqs/galaxy/images/paste_fetch_data_modal.png
  faqs/galaxy/images/paste_fetch_set_data_type.png
  faqs/galaxy/images/upload_data_button.png
  topics/galaxy-interface/images/bwa_mem_interface_coll_tut.png
  topics/galaxy-interface/images/collections/build_list.svg
  topics/galaxy-interface/images/collections/collapse_collection.png
  topics/galaxy-interface/images/collections/collapse_collection.svg
  topics/galaxy-interface/images/collections/collection_expansion.svg
  topics/galaxy-interface/images/collections/collection_lifecycle.svg
  topics/galaxy-interface/images/collections/expanding_collection.gif
  topics/galaxy-interface/images/collections/filter_empty.svg
  topics/galaxy-interface/images/collections/filter_error.svg
  topics/galaxy-interface/images/collections/flatten.svg
  topics/galaxy-interface/images/collections/join_on_column.svg
  topics/galaxy-interface/images/collections/lofreq_interface.png
  topics/galaxy-interface/images/collections/paired_collection.svg
  topics/galaxy-interface/images/collections/select_multiple_datasets.gif
  topics/galaxy-interface/images/collections/snpsift_interface.png
  topics/galaxy-interface/images/collections/unzip.svg
  topics/galaxy-interface/images/collections/using_collection_wizard.gif
  topics/galaxy-interface/images/collections/zip.svg
  topics/galaxy-interface/tutorials/collections/tutorial.md
Labels: improvement, topic:data-manipulation

#2741 Metabolomics - LCMS preprocessing update
  topics/metabolomics/tutorials/lcms-preprocessing/slides.html
Labels: review-needed

#2725 Update TIaaS tutorial for new role feature that disassociates training groups from roles after the training has ended.
  topics/admin/tutorials/ftp/tutorial.md
  topics/admin/tutorials/reports/tutorial.md
  topics/admin/tutorials/tiaas/tutorial.md
Labels: topic:admin

#2658 Alevin - Spanish version
  topics/transcriptomics/tutorials/droplet-quantification-preprocessing/tutorial-ES.md
  topics/transcriptomics/tutorials/droplet-quantification-preprocessing/tutorial.md
Labels: work-in-progress
