Repository galaxyproject/training-material, pull requests merged in 2021-11, with the labels that each got.

#2816 Update tutorial.md
  topics/computational-chemistry/tutorials/md-simulation-gromacs/tutorial.md
Labels: topic:computational-chemistry

#2989 Tutorial "Data Science - Introduction to Python"
  CONTRIBUTORS.yaml
  topics/data-science/images/python-advanced-np-pd/Figure8_Operations_across_axis.png
  topics/data-science/images/python-basics/Figure16_Closing_Jupyter.png
  topics/data-science/images/python-basics/Figure1_Launch_Jupyter_Notebook.png
  topics/data-science/images/python-basics/Figure2_Jupyter_Lab.png
  topics/data-science/images/python-basics/Figure3_Python3_icon.png
  topics/data-science/images/python-basics/Figure4_New_Untitled_Notebook.png
  topics/data-science/images/python-basics/Figure5_Conditionals.png
  topics/data-science/images/python-basics/Figure6_For_loop.png
  topics/data-science/images/python-basics/Figure7_Functions.png
  topics/data-science/images/python-plotting/Figure10_Multiple_lines_plot.png
  topics/data-science/images/python-plotting/Figure11_Barplot.png
  topics/data-science/images/python-plotting/Figure12_ggplot_Barplot.png
  topics/data-science/images/python-plotting/Figure13_Barplot_2.png
  topics/data-science/images/python-plotting/Figure14_Scatterplot.png
  topics/data-science/images/python-plotting/Figure15_Exercise_plot.png
  topics/data-science/images/python-plotting/Figure9_Lineplot.png
  topics/data-science/metadata.yaml
  topics/data-science/tutorials/python-advanced-np-pd/tutorial.bib
  topics/data-science/tutorials/python-advanced-np-pd/tutorial.md
  topics/data-science/tutorials/python-basics/tutorial.bib
  topics/data-science/tutorials/python-basics/tutorial.md
  topics/data-science/tutorials/python-plotting/tutorial.bib
  topics/data-science/tutorials/python-plotting/tutorial.md
  topics/introduction/images/python-advanced-np-pd/Figure8_Operations_across_axis.png
  topics/introduction/images/python-basics/Figure16_Closing_Jupyter.png
  topics/introduction/images/python-basics/Figure1_Launch_Jupyter_Notebook.png
  topics/introduction/images/python-basics/Figure2_Jupyter_Lab.png
  topics/introduction/images/python-basics/Figure3_Python3_icon.png
  topics/introduction/images/python-basics/Figure4_New_Untitled_Notebook.png
  topics/introduction/images/python-basics/Figure5_Conditionals.png
  topics/introduction/images/python-basics/Figure6_For_loop.png
  topics/introduction/images/python-basics/Figure7_Functions.png
  topics/introduction/images/python-plotting/Figure10_Multiple_lines_plot.png
  topics/introduction/images/python-plotting/Figure11_Barplot.png
  topics/introduction/images/python-plotting/Figure12_ggplot_Barplot.png
  topics/introduction/images/python-plotting/Figure13_Barplot_2.png
  topics/introduction/images/python-plotting/Figure14_Scatterplot.png
  topics/introduction/images/python-plotting/Figure15_Exercise_plot.png
  topics/introduction/images/python-plotting/Figure9_Lineplot.png
  topics/introduction/tutorials/python-advanced-np-pd/tutorial.md
  topics/introduction/tutorials/python-basics/tutorial.md
  topics/introduction/tutorials/python-plotting/tutorial.md
Labels: new tutorial, highlight, new contributor(s)

#3009 Implement a very basic GTN API with our data available in JSON format
  _plugins/api.rb
  _plugins/jekyll-topic-filter.rb
Labels: new feature

#3016 Separate out RDM bites css
  _layouts/base_slides_rdmbites.html
  assets/css/slides-rdmbites.css
  assets/css/slides.css
Labels: biohackathon

#3026 Hackathon vgp edits- hiC scaffolding section
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: biohackathon

#3028 Update VGP tutorial
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: biohackathon

#3034 Hackathon vgp edits 3
  topics/assembly/images/vgp_assembly/hic-wf-summary.png
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: biohackathon

#3024 Test run of VGP tutorial at biohackathon
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: biohackathon

#3047 Detect "news" and send it to Matrix & Gitter
  .github/workflows/matrix.yml
  bin/news.rb
Labels: improvement, new feature

#2800 Snakemake Tutorial
  Makefile
  assets/js/main.js
  topics/data-science/images/snakemake.dag.svg
  topics/data-science/images/snakemake.dag2.svg
  topics/data-science/images/workflow.svg
  topics/data-science/metadata.yaml
  topics/data-science/tutorials/cli-advanced/tutorial.md
  topics/data-science/tutorials/cli-basics/tutorial.md
  topics/data-science/tutorials/snakemake/tutorial.md
Labels: review-needed, new tutorial, topic:data-science

#3030 Add GTN video library connection
  .github/workflows/deploy.yml
  _includes/resource-video-library.html
  _layouts/news.html
  _layouts/tutorial_hands_on.html
  news/_posts/2021-11-23-video-library.md
  news/images/gtn-videolib-connection.png
  news/images/gtn-videolib-stats.png
  news/images/gtn-videolib-versions.png
  news/images/gtn-videolib.png
  news/images/gtn-videolib2.gif
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: new feature, highlight, biohackathon

#3071 Fix typo in scRNA slides
  topics/transcriptomics/tutorials/scrna-intro/slides.html
  topics/transcriptomics/tutorials/scrna-intro/slides_CAT_ES.html
  topics/transcriptomics/tutorials/scrna-intro/slides_ES.html
Labels: topic:transcriptomics

#3066 Show enable:false in non-production builds
  Makefile
  _includes/tutorial_list.html
  _layouts/feedback.html
  _layouts/home.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-topic-filter.rb
  topics/data-management/metadata.yaml
  topics/transcriptomics/tutorials/full-de-novo/workflows/index.md
Labels: improvement, new feature

#3078 Update our GTN Video Infrastructure to use Editly
  .github/workflows/video-dry.yml
  .github/workflows/video.yml
  assets/css/slides.css
  bin/ari-prep-script.rb
  bin/ari-subs.py
  bin/ari.sh
  bin/schema-slides.yaml
  package.json
  topics/contributing/tutorials/slides-with-video/tutorial.md
  topics/transcriptomics/tutorials/scrna-intro/slides_ES.html
Labels: improvement

#2985 Genome annotation: funannotate + repeatmasker tutorials
  CONTRIBUTORS.yaml
  Makefile
  _plugins/jekyll-topic-filter.rb
  topics/computational-chemistry/tutorials/htmd-analysis/tutorial.md
  topics/genome-annotation/images/aegean_scaffold_11_637-7730.png
  topics/genome-annotation/images/interproscan_output.png
  topics/genome-annotation/images/ncbi_template.png
  topics/genome-annotation/slides/introduction.html
  topics/genome-annotation/tutorials/apollo/tutorial.md
  topics/genome-annotation/tutorials/funannotate/data-library.yaml
  topics/genome-annotation/tutorials/funannotate/tutorial.bib
  topics/genome-annotation/tutorials/funannotate/tutorial.md
  topics/genome-annotation/tutorials/funannotate/workflows/index.md
  topics/genome-annotation/tutorials/funannotate/workflows/main_workflow.ga
  topics/genome-annotation/tutorials/repeatmasker/data-library.yaml
  topics/genome-annotation/tutorials/repeatmasker/tutorial.bib
  topics/genome-annotation/tutorials/repeatmasker/tutorial.md
  topics/genome-annotation/tutorials/repeatmasker/workflows/index.md
  topics/genome-annotation/tutorials/repeatmasker/workflows/main_workflow.ga
  topics/transcriptomics/tutorials/scrna-preprocessing/tutorial.md
  topics/transcriptomics/tutorials/scrna-raceid/tutorial.md
  topics/transcriptomics/tutorials/scrna-scater-qc/tutorial.md
  topics/visualisation/tutorials/jbrowse/tutorial.md
Labels: topic:genome-annotation
