Repository galaxyproject/training-material, pull requests merged in 2021-06, with the labels that each got.

#2581 Update galaxyproject.nginx role to 0.7.0.
  topics/admin/tutorials/ansible-galaxy/requirements.yml
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: GCC, topic:admin

#2585 Install Jekyll tutorial - added git, curl and make installs
  topics/contributing/tutorials/running-jekyll/tutorial.md
Labels: GCC, topic:contributing

#1484 Genome Annotation with Apollo
  CONTRIBUTORS.yaml
  news/_posts/2021-06-04-apollo.md
  topics/genome-annotation/images/apollo/added_genes.png
  topics/genome-annotation/images/apollo/alteration_menu.png
  topics/genome-annotation/images/apollo/blastp.png
  topics/genome-annotation/images/apollo/change_start.gif
  topics/genome-annotation/images/apollo/gene.png
  topics/genome-annotation/images/apollo/gene_details.png
  topics/genome-annotation/images/apollo/gene_list.png
  topics/genome-annotation/images/apollo/gene_menu.png
  topics/genome-annotation/images/apollo/go_form.png
  topics/genome-annotation/images/apollo/history.png
  topics/genome-annotation/images/apollo/location.png
  topics/genome-annotation/images/apollo/missing_genes.png
  topics/genome-annotation/images/apollo/mrna_level.png
  topics/genome-annotation/images/apollo/perm_add_user.png
  topics/genome-annotation/images/apollo/perm_group_added.png
  topics/genome-annotation/images/apollo/perm_group_create.png
  topics/genome-annotation/images/apollo/perm_home.png
  topics/genome-annotation/images/apollo/sharing.png
  topics/genome-annotation/images/apollo/substitution.png
  topics/genome-annotation/images/apollo/tracks.png
  topics/genome-annotation/images/apollo/ui.png
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/genome-annotation/tutorials/apollo/data-library.yaml
  topics/genome-annotation/tutorials/apollo/tutorial.bib
  topics/genome-annotation/tutorials/apollo/tutorial.md
  topics/genome-annotation/tutorials/apollo/workflows/index.md
  topics/genome-annotation/tutorials/apollo/workflows/main_workflow.ga
  topics/genome-annotation/tutorials/genome-annotation/data-library.yaml
  topics/genome-annotation/tutorials/genome-annotation/tools.yaml
Labels: new contributor(s), new tutorial, topic:genome-annotation, work-in-progress

#2595 Apollo slides
  topics/genome-annotation/images/apollo/apollo_workflow.png
  topics/genome-annotation/images/apollo/exon_edit.gif
  topics/genome-annotation/images/apollo/perm_home.png
  topics/genome-annotation/images/apollo/rnaseq_cov.png
  topics/genome-annotation/slides/introduction.html
  topics/genome-annotation/tutorials/annotation-with-maker/content.md
  topics/genome-annotation/tutorials/apollo/slides.html
  topics/genome-annotation/tutorials/apollo/tutorial.md
  topics/visualisation/tutorials/jbrowse/slides.html
Labels: topic:genome-annotation

#2563 2021 Backend Dev Architecture Update
  topics/dev/images/Makefile
  topics/dev/images/asgi_app.plantuml.svg
  topics/dev/images/asgi_app.plantuml.txt
  topics/dev/images/core_api_docs.png
  topics/dev/images/core_api_docs_roles.png
  topics/dev/images/core_files_ci.plantuml.svg
  topics/dev/images/core_files_ci.plantuml.txt
  topics/dev/images/core_files_client_build.plantuml.svg
  topics/dev/images/core_files_client_build.plantuml.txt
  topics/dev/images/core_files_code.plantuml.svg
  topics/dev/images/core_files_code.plantuml.txt
  topics/dev/images/core_files_test.plantuml.svg
  topics/dev/images/core_files_test.plantuml.txt
  topics/dev/images/routers.plantuml.svg
  topics/dev/images/routers.plantuml.txt
  topics/dev/tutorials/architecture/slides.html
Labels: GCC, improvement, topic:dev

#2371 GAT2021 Followup Overhaul
  .github/workflows/git-gat.yml
  .gitignore
  Makefile
  _config.yml
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
  assets/js/main.js
  bin/ari-extract-script.rb
  bin/ari-map.yml
  bin/ari-prep-script.rb
  bin/ari-synthesize.rb
  bin/check-broken-boxes.py
  bin/data-library-update.sh
  bin/dump-meta
  bin/knit-automated.sh
  bin/knit-frog.py
  bin/knit.py
  bin/knittingneedles.py
  bin/schema-tutorial.yaml
  bin/validate-has-workflow.sh
  bin/video-browser-recorder.js
  bin/video-builder.py
  bin/video-diffplayer.py
  bin/video-extract-script.py
  bin/video-term-demo-magic.sh
  bin/video-term-recorder.sh
  topics/admin/faqs/missed-something.md
  topics/admin/tutorials/ansible-galaxy/ansible.cfg
  topics/admin/tutorials/ansible-galaxy/galaxy.yml
  topics/admin/tutorials/ansible-galaxy/group_vars/galaxyservers.yml
  topics/admin/tutorials/ansible-galaxy/requirements.yml
  topics/admin/tutorials/ansible-galaxy/templates/galaxy/config/job_conf.xml.j2
  topics/admin/tutorials/ansible-galaxy/templates/nginx/galaxy.j2
  topics/admin/tutorials/ansible-galaxy/templates/nginx/redirect-ssl.j2
  topics/admin/tutorials/ansible-galaxy/tests/0-galaxy-up.sh
  topics/admin/tutorials/ansible-galaxy/tests/1-galaxy-up.sh
  topics/admin/tutorials/ansible-galaxy/tests/requirements.txt
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/cvmfs-manual/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/admin/tutorials/data-library/tutorial.md
  topics/admin/tutorials/external-auth/tutorial.md
  topics/admin/tutorials/interactive-tools/tutorial.md
  topics/admin/tutorials/jenkins/tutorial.md
  topics/admin/tutorials/job-destinations/tutorial.md
  topics/admin/tutorials/job-metrics/tutorial.md
  topics/admin/tutorials/monitoring/tutorial.md
  topics/admin/tutorials/object-store/tutorial.md
  topics/admin/tutorials/pulsar/tutorial.md
  topics/admin/tutorials/reports/tutorial.md
  topics/admin/tutorials/singularity/tutorial.md
  topics/admin/tutorials/tiaas/tutorial.md
  topics/admin/tutorials/tool-management/tutorial.md
  topics/contributing/tutorials/admin-knitting/tutorial.md
Labels: topic:admin

#2558 Add Abbreviation plugin
  _config.yml
  _layouts/tutorial_hands_on.html
  _plugins/abbr.rb
  assets/css/main.scss
  bin/schema-tutorial.yaml
  bin/validate-frontmatter.rb
  news/_posts/2021-05-25-abbreviations-tag.md
  news/_posts/2021-05-25-new-dev-tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/dev/tutorials/bioblend-dev/tutorial.md
Labels: new feature

#2608 Initial version of the Upgrading Galaxy tutorial
  assets/js/main.js
  topics/admin/images/admin_page_version.png
  topics/admin/images/galaxy_doc_releases.png
  topics/admin/images/release_notes_2101.png
  topics/admin/tutorials/upgrading/slides.html
  topics/admin/tutorials/upgrading/tutorial.md
Labels: GCC, new tutorial, topic:admin

#2615 Revision on the architecture of wiring up Galaxy components.
  assets/css/slides.css
  topics/dev/images/app_decomposed.plantuml.svg
  topics/dev/images/app_decomposed.plantuml.txt
  topics/dev/images/app_py2.plantuml.svg
  topics/dev/images/app_py2.plantuml.txt
  topics/dev/images/app_types.plantuml.svg
  topics/dev/images/app_types.plantuml.txt
  topics/dev/images/app_types_no_interface.plantuml.svg
  topics/dev/images/app_types_no_interface.plantuml.txt
  topics/dev/tutorials/architecture/slides.html
Labels: improvement, topic:dev

#2620 Merge the job metrics tutorial into compute cluster since it's now only 1 step, and update the Pulsar tutorial accordingly.
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.bib
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/job-metrics/tutorial.md
  topics/admin/tutorials/pulsar/tutorial.md
Labels: GCC, topic:admin

#2621 Architecture Slides - Update Client Information
  topics/dev/images/core_files_client_build.mindmap.yml
  topics/dev/images/core_files_client_build.plantuml.svg
  topics/dev/images/core_files_client_build.plantuml.txt
  topics/dev/images/core_files_client_sources.mindmap.yml
  topics/dev/images/core_files_client_sources.plantuml.svg
  topics/dev/images/core_files_client_sources.plantuml.txt
  topics/dev/tutorials/architecture/slides.html
Labels: improvement, topic:dev

#2625 New tutorial: customise volcano plot output in R
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot-r/volcano_categories.png
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot-r/volcano_labels_size.png
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot-r/volcano_points_colours.png
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot-r/volcano_points_size.png
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot/volcanoplot_custom_genes.png
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot/volcanoplot_top10.png
  topics/transcriptomics/images/rna-seq-viz-with-volcanoplot/volcanoplot_top20.png
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot-r/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot-r/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/tutorial.bib
  topics/transcriptomics/tutorials/rna-seq-viz-with-volcanoplot/tutorial.md
Labels: new tutorial

#2628 More dev architecture slide updates.
  topics/dev/images/core_branches.plantuml.svg
  topics/dev/images/core_branches.plantuml.txt
  topics/dev/tutorials/architecture/slides.html
Labels: improvement, topic:dev

#2614 New tutorial: Debugging Galaxy
  CONTRIBUTORS.yaml
  topics/dev/tutorials/debugging/tutorial.md
Labels: new contributor(s), new tutorial, topic:dev

#2638 fix typo in pulsar tutorial
  topics/admin/tutorials/pulsar/tutorial.md
Labels: GCC, bug, topic:admin

#2648 Fix typo
  topics/dev/tutorials/debugging/tutorial.md
Labels: improvement, topic:dev

#2649 Clarify which `get` method
  topics/dev/tutorials/debugging/tutorial.md
Labels: improvement, topic:dev

#2650 Fix typo
  topics/dev/tutorials/debugging/tutorial.md
Labels: improvement, topic:dev

#2578 Add archive menu to extras
  .github/workflows/monthly-release.yml
  _includes/extras.html
  _plugins/jekyll-environment_variables.rb
  assets/css/main.scss
  news/_posts/2021-06-01-archive-menu.md
Labels: new feature

#2664 More small updates to the dev architecture slides.
  topics/dev/images/core_file_sources.plantuml.svg
  topics/dev/images/core_file_sources.plantuml.txt
  topics/dev/tutorials/architecture/slides.html
Labels: improvement, topic:dev

#2673 Revise information around forking Galaxy in dev tutorials.
  _layouts/faq.html
  _plugins/snippet.rb
  topics/dev/faqs/contributing.md
  topics/dev/tutorials/core-contributing/tutorial.md
  topics/dev/tutorials/debugging/tutorial.md
Labels: improvement, topic:dev

#2679 [Contributing] Add gitpod tutorial
  .gitignore
  .gitpod.yml
  topics/contributing/images/github_update_fork.png
  topics/contributing/images/gitpod-changed.png
  topics/contributing/images/gitpod.png
  topics/contributing/images/gitpod/access.png
  topics/contributing/images/gitpod/branch-change.png
  topics/contributing/images/gitpod/browser-extension.png
  topics/contributing/images/gitpod/changedfiles.png
  topics/contributing/images/gitpod/changes.png
  topics/contributing/images/gitpod/command.png
  topics/contributing/images/gitpod/permissions.png
  topics/contributing/images/gitpod/publlish.png
  topics/contributing/images/gitpod/push.png
  topics/contributing/images/gitpod/ready.png
  topics/contributing/images/gitpod/regenerating.png
  topics/contributing/images/gitpod/setup.png
  topics/contributing/images/gitpod/signin.gif
  topics/contributing/images/gitpod/signin.png
  topics/contributing/images/gitpod/stagechanges.png
  topics/contributing/images/gitpod/stopworkspace.png
  topics/contributing/images/gitpod/updated.png
  topics/contributing/images/gitpod/welcomepage.png
  topics/contributing/images/gitpod_popup.png
  topics/contributing/images/gitpod_tryagain.png
  topics/contributing/tutorials/gitpod/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
Labels: topic:contributing

#2689 [Variant analysis] New tutorial - "Identification of allelic variants in SARS-CoV-2 from deep sequencing reads"
  faqs/galaxy/datasets_upload.md
  faqs/galaxy/datasets_upload_ftp.md
  faqs/galaxy/histories_import.md
  faqs/galaxy/workflows_import_search.md
  topics/variant-analysis/images/sars-cov-2-variant-discovery/ncov_clades.png
  topics/variant-analysis/images/sars-cov-2-variant-discovery/schema.png
  topics/variant-analysis/images/sars-cov-2-variant-discovery/variant-frequency.svg
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/data-library.yaml
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/tutorial.bib
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/tutorial.md
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/workflows/index.md
Labels: new tutorial
