Repository galaxyproject/training-material, pull requests merged in 2021-05, with the labels that each got.

#2261 _Request to add a new tutorial "aberrant_pi3k_pathway_analysis"
  topics/statistics/images/aberrant_pi3k_pathway_analysis/PI3K_OG_classifier_coef.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/PI3K_OG_combined_heatmap.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/PI3K_OG_gdsc1_ccle_drug.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/PI3K_OG_total_decisions.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/all_targene_heatmap.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/ccle_classification.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/equation.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/external.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/gdsc_classification.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/pi3k_OG_auroc_aupr.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/pi3k_pathway.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/project_summary.png
  topics/statistics/images/aberrant_pi3k_pathway_analysis/within.png
  topics/statistics/tutorials/aberrant_pi3k_pathway_analysis/data-library.yaml
  topics/statistics/tutorials/aberrant_pi3k_pathway_analysis/tutorial.bib
  topics/statistics/tutorials/aberrant_pi3k_pathway_analysis/tutorial.md
  topics/statistics/tutorials/aberrant_pi3k_pathway_analysis/workflows/index.md
  topics/statistics/tutorials/aberrant_pi3k_pathway_analysis/workflows/main_workflow.ga
Labels: review-needed, topic:statistics

#2534 Spanish tutorials
  CODEOWNERS
  CONTRIBUTORS.yaml
  _config.yml
  _includes/extras.html
  _includes/resource-handson.html
  assets/css/main.scss
  bin/schema-tutorial.yaml
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial_ES.md
  topics/transcriptomics/tutorials/droplet-quantification-preprocessing/tutorial.md
Labels: new contributor(s)

#2501 Intro to ML using R
  topics/statistics/images/intro-to-ml-with-r/bioinformatics-ml.png
  topics/statistics/images/intro-to-ml-with-r/decisionTreeFull.png
  topics/statistics/images/intro-to-ml-with-r/decisionTreePruned.png
  topics/statistics/images/intro-to-ml-with-r/elbow-plot-kmeans.png
  topics/statistics/images/intro-to-ml-with-r/error-rate-rf.png
  topics/statistics/images/intro-to-ml-with-r/ggpairs5variables.png
  topics/statistics/images/intro-to-ml-with-r/ggpairs5variables_tr.png
  topics/statistics/images/intro-to-ml-with-r/hclust-fig1.png
  topics/statistics/images/intro-to-ml-with-r/hclust-fig2.png
  topics/statistics/images/intro-to-ml-with-r/hclust-fig3.png
  topics/statistics/images/intro-to-ml-with-r/hclust-fig4.png
  topics/statistics/images/intro-to-ml-with-r/hclust-pc12-Visualization.png
  topics/statistics/images/intro-to-ml-with-r/importance-variables.png
  topics/statistics/images/intro-to-ml-with-r/kmeans-pc12-Visualization.png
  topics/statistics/images/intro-to-ml-with-r/lm_full_dataset.png
  topics/statistics/images/intro-to-ml-with-r/lm_train_dataset.png
  topics/statistics/images/intro-to-ml-with-r/margin-rf.png
  topics/statistics/images/intro-to-ml-with-r/pc12Visualization_Full.png
  topics/statistics/images/intro-to-ml-with-r/predictionPlot.png
  topics/statistics/images/intro-to-ml-with-r/rfcv.png
  topics/statistics/tutorials/intro-to-ml-with-r/tutorial.bib
  topics/statistics/tutorials/intro-to-ml-with-r/tutorial.md
Labels: topic:statistics

#2556 Minor fixes uncovered during 21.05 release testing
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/job-metrics/tutorial.md
  topics/admin/tutorials/pulsar/tutorial.md
Labels: improvement, review-needed

#2428 New toolfactory tutorial for dev
  .dockerignore
  .github/workflows/ci.yml
  CONTRIBUTORS.yaml
  Makefile
  topics/dev/images/ToolFactory_big_picture.png
  topics/dev/images/ToolFactory_hello1form.png
  topics/dev/images/ToolFactory_hello2form.png
  topics/dev/images/ToolFactory_hello3form.png
  topics/dev/images/ToolFactory_hello4form.png
  topics/dev/images/ToolFactory_hello5form.png
  topics/dev/images/toolfactory_hello_collection.png
  topics/dev/images/toolfactory_hello_demo_form.png
  topics/dev/images/toolfactory_outputs_hello.png
  topics/dev/images/toolfactory_plotter_demo_form.png
  topics/dev/images/toolfactory_plotter_sample_output.png
  topics/dev/images/toolfactory_repeats_sample_form.png
  topics/dev/images/toolfactory_select_demo_form.png
  topics/dev/images/toolfactory_select_test_tool.png
  topics/dev/tutorials/tool-generators-advanced/tutorial.md
  topics/dev/tutorials/tool-generators/docker/Dockerfile
  topics/dev/tutorials/tool-generators/docker/start.sh
  topics/dev/tutorials/tool-generators/slides.html
  topics/dev/tutorials/tool-generators/tutorial.md
Labels: new contributor(s), new tutorial, topic:dev

#2458 Add LunrJS for Full Text Search
  .github/workflows/deploy.yml
  .github/workflows/monthly-release.yml
  Makefile
  assets/js/search-script.js
  bin/lunr-index.js
  bin/lunr-search.js
  package.json
  search.md
  topics/dev/tutorials/tool-generators-advanced/tutorial.md
  topics/statistics/tutorials/intro-to-ml-with-r/tutorial.md
  yarn.lock
Labels: new feature

#2565 Import and tidy NCBI tutorial
  CONTRIBUTORS.yaml
  topics/galaxy-interface/tutorials/ncbi-sarf/tutorial.md
Labels: GCC, covid19, topic:galaxy-ui
