Repository galaxyproject/training-material, pull requests merged in 2022-11, with the labels that each got.

#3730 Update Data Manipulation Olympics for Compute 2.0
  topics/introduction/tutorials/data-manipulation-olympics/tutorial.md
Labels: introduction

#3718 Add tags
  topics/ecology/tutorials/PAMPA-toolsuite-tutorial/tutorial.md
Labels: ecology

#3731 Update my details.
  CONTRIBUTORS.yaml
Labels: template-and-tools

#3715 [FAQs] add an FAQ for creating a GTN news post
  faqs/gtn/gtn_news_create_post.md
  news.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools, contributing, faqs

#3732 [Template] support new contributions metadata in "cite this tutorial"
  _layouts/tutorial_hands_on.html
Labels: template-and-tools

#3737 Remove last ? Climate data mention
  topics/ecology/tutorials/panoply_ebv/tutorial.md
Labels: ecology

#3740 Update tiaas role
  topics/admin/images/tiaas/tiaas_intro.png
  topics/admin/tutorials/ftp/tutorial.md
  topics/admin/tutorials/reports/tutorial.md
  topics/admin/tutorials/tiaas/tutorial.md
Labels: admin

#3741 Move `script` tags inside `body`
  _layouts/base.html
Labels: template-and-tools

#3744 Misc gat fixes
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: admin

#1529 WIP: Minor amplicon tutorial improvements
  topics/metagenomics/images/metagenomics_pipeline.png
  topics/metagenomics/images/metagenomics_pipeline.svg
  topics/metagenomics/slides/introduction.html
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
Labels: work-in-progress, metagenomics

#3745 [Metagenomics] 16S tutorial: add a layout so it is recognized as a page for boxify plugin
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
Labels: metagenomics

#3749 ignore 16S tutorial in html-proofer
  .github/workflows/ci.yml
Labels: template-and-tools

#3754 Add orcids from TIaaS authors
  CONTRIBUTORS.yaml
Labels: template-and-tools

#3757 Add single-cell topic to PR labeler
  .github/labeler.yml
  CODEOWNERS
Labels: template-and-tools

#3758 Add new avian influenza genome surveillance tutorial
  topics/variant-analysis/tutorials/aiv-analysis/faqs/index.md
  topics/variant-analysis/tutorials/aiv-analysis/tutorial.bib
  topics/variant-analysis/tutorials/aiv-analysis/tutorial.md
Labels: variant-analysis

#3760 add write permissions for pdfs to video action
  .github/workflows/video.yml
Labels: template-and-tools

#3756 Add news post about single cell topic
  _includes/contributor-badge.html
  news/_posts/2022-11-18-singlecell.md
  news/images/single_cell.png
Labels: template-and-tools, news

#3762 fix better image
  news/_posts/2022-11-18-singlecell.md
  news/images/single_cell.png
Labels: news

#3763 video.yml write permission fix part 2: Add recursive flag
  .github/workflows/video.yml
Labels: template-and-tools

#3768 Add self-link to hands on box
  assets/js/main.js
Labels: template-and-tools

#3766 Fixes gops intersect tutorial issue
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
Labels: introduction

#3767 Moving IGV introduction tutorial to draft mode
  topics/introduction/tutorials/igv-introduction/tutorial.md
Labels: introduction

#3765 Remove badges
  Makefile
  _layouts/badges.html
  badges/index.md
Labels: template-and-tools

#3773 Add small section on Simon's profile, remembering him.
  CONTRIBUTORS.yaml
  _layouts/contributor_index.html
  bin/schema-contributors.yaml
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Labels: transcriptomics, template-and-tools

#3769 Refine new AIV tutorial based on first training experience
  topics/variant-analysis/tutorials/aiv-analysis/tutorial.md
Labels: variant-analysis

#3770 clipseq workflow.ga updated
  topics/transcriptomics/tutorials/clipseq/workflows/init_workflow.ga
Labels: transcriptomics
