Repository galaxyproject/training-material, pull requests merged in 2022-10, with the labels that each got.

#3672 Update htmlproofer
  .github/workflows/ci.yml
  Gemfile.lock
  faqs/gtn/contributors_git_advanced.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/learning-principles/tutorial.md
  topics/dev/tutorials/interactive-tools/tutorial.md
  topics/epigenetics/images/formation_of_super-structures_on_xi/read1_per_base_sequence_content.png
  topics/epigenetics/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/galaxy-interface/tutorials/galaxy-intro-jupyter/tutorial.md
  topics/imaging/tutorials/tutorial-CP/tutorial.md
  topics/metagenomics/tutorials/general-tutorial/tutorial.bib
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
  topics/teaching/tutorials/hybrid-training/organizer-before.md
  topics/teaching/tutorials/learner_participation_engagement/tutorial.md
Labels: work-in-progress, dev, template-and-tools, metagenomics, epigenetics, proteomics, contributing, galaxy-interface, teaching, imaging, faqs

#3686 Fix minor typos
  topics/assembly/tutorials/get-started-genome-assembly/slides.html
  topics/dev/tutorials/bioblend-dev/tutorial.md
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.md
Labels: dev, transcriptomics

#3687 see typo
  topics/climate/tutorials/panoply/tutorial.md
Labels: climate

#3512 Fix errors
  topics/galaxy-interface/tutorials/collections/tutorial.md
Labels: galaxy-interface

#3357 Create Datasets_ Data_Privacy_Features.md
  CONTRIBUTORS.yaml
  faqs/galaxy/datasets_data_privacy_features.md
Labels: template-and-tools, faq, faqs

#3689 [Contributing] Stop markdown rendering by figurify plugin
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: contributing

#3691 Fix typo in labeler conf
  .github/labeler.yml
Labels: template-and-tools

#3693 Added a regex resource
  faqs/galaxy/analysis_regular_expressions.md
Labels: faqs

#3690 Remove invalid variables in ecology tutorial
  topics/ecology/tutorials/phylogeny-data-prep/tutorial.md
Labels: ecology

#3697 Fix `\\n` appearing in JSON-LD rather than `\n`
  _plugins/jekyll-jsonld.rb
Labels: template-and-tools

#3700 load news images lazily
  _includes/news-card.html
  _layouts/home.html
  _layouts/news.html
Labels: template-and-tools

#3698 update coline's name
  topics/ecology/tutorials/panoply_ebv/tutorial.md
Labels: ecology

#3696 Replace execution with environment
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/job-destinations/tutorial.md
  topics/admin/tutorials/pulsar/tutorial.md
Labels: admin

#3701 Build time improvements
  Gemfile
  Gemfile.lock
  _config.yml
  _includes/extras.html
  _layouts/slides-plain.html
  _layouts/tutorial_hands_on.html
  _plugins/gtn.rb
  _plugins/gtn/mod.rb
  _plugins/jekyll-environment_variables.rb
  _plugins/jekyll-jsonld.rb
  _plugins/jekyll-topic-filter.rb
  _plugins/notebook-jupyter.rb
  _plugins/notebook-rmarkdown.rb
  _plugins/sitemap.rb
  stats.md
Labels: template-and-tools

#3703 Remove remaining vestiges of last-modified-at
  Makefile
  _config-dev.yml
Labels: template-and-tools

#3704 Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#3711 Replace with a non 7y/o container 🤦‍♀️
  Makefile
  bin/ari-make.sh
  package-lock.json
Labels: template-and-tools

#3712 [News] Add dates to posts and fix an issue with author line on the card view
  _includes/contributors-line.html
  _includes/news-card.html
  _layouts/news.html
Labels: template-and-tools

#3710 Fix boxes in NetCDF xarray plotting tutorial
  faqs/galaxy/datasets_import_from_remote_files.md
  topics/contributing/tutorials/python/tutorial.md
  topics/ecology/tutorials/x-array-map-plot/tutorial.md
Labels: contributing, ecology, faqs

#3713 Misc stuff.
  .github/workflows/ci-libs.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-tutorial.yml
  .github/workflows/ci-yaml.yml
  .github/workflows/video.yml
  CONTRIBUTORS.yaml
  bin/schema-faq.yaml
  bin/validate-frontmatter.rb
  topics/contributing/tutorials/design/tutorial.md
  topics/contributing/tutorials/python/tutorial.md
  topics/data-science/tutorials/git-cli/tutorial.md
  topics/data-science/tutorials/python-argparse/tutorial.md
  topics/data-science/tutorials/python-basics-recap/tutorial.md
  topics/galaxy-interface/tutorials/galaxy-on-dockstore/slides.html
  topics/galaxy-interface/tutorials/workflow-editor/tutorial.md
  topics/genome-annotation/tutorials/gene-centric/tutorial.md
  topics/transcriptomics/tutorials/scrna-case_monocle3-trajectories/slides.html
  topics/transcriptomics/tutorials/scrna-case_monocle3-trajectories/tutorial.bib
  topics/transcriptomics/tutorials/scrna-case_monocle3-trajectories/tutorial.md
  topics/transcriptomics/tutorials/scrna-raceid/tutorial.bib
  topics/transcriptomics/tutorials/scrna-raceid/tutorial.md
  topics/variant-analysis/tutorials/somatic-variant-discovery/faqs/index.md
  topics/variant-analysis/tutorials/somatic-variant-discovery/tutorial.md
  topics/variant-analysis/tutorials/somatic-variant-discovery/workflows/index.md
Labels: variant-analysis, transcriptomics, template-and-tools, contributing, genome-annotation, galaxy-interface, data-science

#3714 Fix typo
  topics/climate/tutorials/panoply/tutorial.md
Labels: climate

#1615 Tutorial creation for GBIF data cleaning for the use in Ecology
  topics/ecology/tutorials/gbif_cleaning/tutorial.bib
  topics/ecology/tutorials/gbif_cleaning/tutorial.md
  topics/ecology/tutorials/gbif_cleaning/workflows/Galaxy-Workflow-GBIF_data_Quality_check_and_filtering_workflow.ga
  topics/ecology/tutorials/gbif_cleaning/workflows/index.md
Labels: work-in-progress, new tutorial, ecology

#3692 Initiate a simple tuto for using Panoply on EBV data cube
  CONTRIBUTORS.yaml
  topics/ecology/images/map0.PNG
  topics/ecology/images/map1.PNG
  topics/ecology/images/map2.PNG
  topics/ecology/images/map3.PNG
  topics/ecology/images/map4.PNG
  topics/ecology/images/select_dataset.png
  topics/ecology/tutorials/panoply_ebv/data-library.yaml
  topics/ecology/tutorials/panoply_ebv/tutorial.bib
  topics/ecology/tutorials/panoply_ebv/tutorial.md
Labels: template-and-tools, ecology

#3716 Ad tags
  topics/ecology/tutorials/gbif_cleaning/tutorial.md
Labels: ecology

#3717 Add tags
  topics/ecology/tutorials/biodiversity-data-exploration/tutorial.md
Labels: ecology

#3720 Add tags
  topics/ecology/tutorials/phylogeny-data-prep/tutorial.md
Labels: ecology

#3721 Add tags
  topics/ecology/tutorials/de-novo-rad-seq/tutorial.md
Labels: ecology

#3722 Add tags
  topics/ecology/tutorials/genetic-map-rad-seq/tutorial.md
Labels: ecology

#3724 Add tags
  topics/ecology/tutorials/regionalGAM/tutorial.md
Labels: ecology

#3725 Add tags
  topics/ecology/tutorials/panoply_ebv/tutorial.md
Labels: ecology

#3726 Add tags
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: ecology

#3723 Add tags
  topics/ecology/tutorials/ref-based-rad-seq/tutorial.md
Labels: ecology

#3729 Added DOCTYPE
  chat.html
Labels: template-and-tools
