Repository galaxyproject/training-material, pull requests merged in 2022-04, with the labels that each got.

#3420 Add JupyterLite to GTN, launch python notebooks there
  .github/workflows/deploy.yml
  _layouts/tutorial_hands_on.html
  bin/filter-pyolite-safe
  bin/schema-tutorial.yaml
  jupyter/index.md
  jupyter/lab/index.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/data-science/tutorials/python-advanced-np-pd/tutorial.md
  topics/data-science/tutorials/python-basics/tutorial.md
  topics/data-science/tutorials/python-plotting/tutorial.md
Labels: new feature

#3272 Update ref-based tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: discussion

#3140 Modular python curriculum + notebooks without solutions
  .github/workflows/video-dry.yml
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _plugins/api.rb
  _plugins/jekyll-topic-filter.rb
  _plugins/notebook-jupyter.rb
  _plugins/notebook.rb
  bin/schema-topic.yaml
  topics/data-science/images/python-flowchart-conditional.png
  topics/data-science/metadata.yaml
  topics/data-science/tutorials/python-argparse/tutorial.md
  topics/data-science/tutorials/python-basics-recap/tutorial.md
  topics/data-science/tutorials/python-exceptions/tutorial.md
  topics/data-science/tutorials/python-files/tutorial.md
  topics/data-science/tutorials/python-flow/tutorial.md
  topics/data-science/tutorials/python-functions/tutorial.md
  topics/data-science/tutorials/python-glob/tutorial.md
  topics/data-science/tutorials/python-iterables/tutorial.bib
  topics/data-science/tutorials/python-iterables/tutorial.md
  topics/data-science/tutorials/python-loops/tutorial.md
  topics/data-science/tutorials/python-math/tutorial.md
  topics/data-science/tutorials/python-subprocess/tutorial.md
  topics/data-science/tutorials/python-types/tutorial.md
Labels: new tutorial
