Repository galaxyproject/training-material, pull requests merged in 2023-01, with the labels that each got.

#3792 Updating information for MarisaJL
  CONTRIBUTORS.yaml
Labels: template-and-tools

#3787 add workflow for dataset generation for meta assembly tutorial
  topics/metagenomics/tutorials/metagenomics-assembly/workflows/workflow-generate-dataset-for-assembly-tutorial.ga
Labels: metagenomics

#3796 Fix bug base urls
  assets/css/main.scss
Labels: template-and-tools

#3797 Css updates
  Gemfile.lock
  _layouts/workflow-list.html
  _plugins/gtn.rb
  _plugins/jekyll-jsonld.rb
  _plugins/jekyll-topic-filter.rb
  _plugins/notebook.rb
  assets/css/main.scss
Labels: template-and-tools

#3781 Champ blocs
  topics/ecology/images/champbloc/after_before.png
  topics/ecology/images/champbloc/bf_bm.png
  topics/ecology/images/champbloc/close.png
  topics/ecology/images/champbloc/data_charged.png
  topics/ecology/images/champbloc/data_charging.png
  topics/ecology/images/champbloc/fs_fi.png
  topics/ecology/images/champbloc/galaxy_homepage.png
  topics/ecology/images/champbloc/galaxy_interface.png
  topics/ecology/images/champbloc/ivr.png
  topics/ecology/images/champbloc/start.png
  topics/ecology/images/champbloc/tuto_find.png
  topics/ecology/images/champbloc/upload.png
  topics/ecology/images/champbloc/workflow.png
  topics/ecology/images/champbloc/workflow_interface.png
  topics/ecology/tutorials/champs-blocs/data-library.yaml
  topics/ecology/tutorials/champs-blocs/tutorial.bib
  topics/ecology/tutorials/champs-blocs/tutorial.md
  topics/ecology/tutorials/champs-blocs/workflows/index.md
  topics/ecology/tutorials/champs-blocs/workflows/main_workflow.ga
Labels: ecology

#3798 Add url param for hands on only
  assets/js/main.js
Labels: template-and-tools

#3795 WIP: Update TB Variant Analysis tutorial
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
  topics/variant-analysis/tutorials/tb-variant-analysis/workflows/tb-variant-analysis.ga
Labels: variant-analysis

#3807 Add mastodon link
  _layouts/home.html
Labels: template-and-tools

#3809 Add news about the GTN paper
  faqs/gtn/gtn_citing.md
  news/_posts/2023-01-10-gtn-paper.md
  news/images/2023-01-10-gtn-paper-fig1.png
  news/images/2023-01-10-gtn-paper-fig2.png
Labels: faqs, news

#3810 Update Compute tool to latest version
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/ref-based/workflows/deg-analysis.ga
Labels: transcriptomics

#3816 correct contributor's GitHub Id
  CONTRIBUTORS.yaml
  topics/variant-analysis/tutorials/somatic-variant-discovery/tutorial.md
Labels: variant-analysis, template-and-tools

#3803 New tutorial for Blast analysis against MAdLand
  CONTRIBUTORS.yaml
  topics/sequence-analysis/images/ncbi-blast-against-the-madland/blast-example.png
  topics/sequence-analysis/tutorials/ncbi-blast-against-the-madland/tutorial.md
Labels: template-and-tools, sequence-analysis

#3815 Break redirects to plain text slides
  _plugins/plaintext-slides.rb
Labels: template-and-tools

#3822 first fr translation pass
  metadata/lang/fr.yml
Labels: template-and-tools

#3821 second pass of review
  topics/ecology/tutorials/champs-blocs/tutorial.md
Labels: ecology

#3819 Madland blast
  topics/sequence-analysis/tutorials/ncbi-blast-against-the-madland/tutorial.bib
  topics/sequence-analysis/tutorials/ncbi-blast-against-the-madland/tutorial.md
Labels: sequence-analysis

#3820 Showcase tool features for GPU Jupyterlab interactive tool
  topics/statistics/images/workflow_gpu_jupyterlab.png
  topics/statistics/tutorials/gpu_jupyter_lab/tutorial.md
  topics/statistics/tutorials/gpu_jupyter_lab/workflows/gpu_jupyterlab_as_jupytool.ga
  topics/statistics/tutorials/gpu_jupyter_lab/workflows/index.md
Labels: statistics

#3755 MuSiC bulk and compare tutorial
  news/_posts/2022-11-29-deconvolution.md
  news/images/heatmap.png
  topics/single-cell/images/bulk-music-benchmark/MAPE.png
  topics/single-cell/images/bulk-music-benchmark/Overall_benchmark.png
  topics/single-cell/images/bulk-music-benchmark/actual_residual.png
  topics/single-cell/images/bulk-music-benchmark/heatmap.png
  topics/single-cell/images/bulk-music-benchmark/residual.png
  topics/single-cell/images/bulk-music-benchmark/retrieving_actuals.png
  topics/single-cell/images/bulk-music-benchmark/rsme.png
  topics/single-cell/images/bulk-music-benchmark/scatter.png
  topics/single-cell/images/bulk-music-benchmark/scatters_combined.png
  topics/single-cell/images/bulk-music-benchmark/violin.png
  topics/single-cell/images/bulk-music/altogether_comparison.png
  topics/single-cell/images/bulk-music/bulk-metadata-annoying.png
  topics/single-cell/images/bulk-music/bulk-metadata-pretty.png
  topics/single-cell/images/bulk-music/compare_3.png
  topics/single-cell/images/bulk-music/compare_like.png
  topics/single-cell/images/bulk-music/compare_workflow.png
  topics/single-cell/images/bulk-music/comparison.png
  topics/single-cell/images/bulk-music/data_table.png
  topics/single-cell/images/bulk-music/ensidcollapse_bulk.png
  topics/single-cell/images/bulk-music/generalinfo.png
  topics/single-cell/images/bulk-music/individual_heatmaps.png
  topics/single-cell/images/bulk-music/plot_altogether.png
  topics/single-cell/images/bulk-music/raw-matrix.png
  topics/single-cell/images/bulk-music/summary_statistics.png
  topics/single-cell/images/bulk-music/workflow-bulk.png
  topics/single-cell/tutorials/bulk-music-2-preparescref/faqs/index.md
  topics/single-cell/tutorials/bulk-music-2-preparescref/tutorial.bib
  topics/single-cell/tutorials/bulk-music-2-preparescref/tutorial.md
  topics/single-cell/tutorials/bulk-music-2-preparescref/workflows/index.md
  topics/single-cell/tutorials/bulk-music-2-preparescref/workflows/sc_matrix.ga
  topics/single-cell/tutorials/bulk-music-2-preparescref/workflows/sc_metadata.ga
  topics/single-cell/tutorials/bulk-music-3-preparebulk/faqs/index.md
  topics/single-cell/tutorials/bulk-music-3-preparebulk/tutorial.bib
  topics/single-cell/tutorials/bulk-music-3-preparebulk/tutorial.md
  topics/single-cell/tutorials/bulk-music-3-preparebulk/workflows/bulk_ESet.ga
  topics/single-cell/tutorials/bulk-music-3-preparebulk/workflows/index.md
  topics/single-cell/tutorials/bulk-music-4-compare/faqs/index.md
  topics/single-cell/tutorials/bulk-music-4-compare/tutorial.bib
  topics/single-cell/tutorials/bulk-music-4-compare/tutorial.md
  topics/single-cell/tutorials/bulk-music-4-compare/workflows/compare.ga
  topics/single-cell/tutorials/bulk-music-4-compare/workflows/index.md
  topics/single-cell/tutorials/bulk-music/tutorial.bib
  topics/single-cell/tutorials/bulk-music/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
Labels: news, single-cell

#3828 Arabidopsis training: revert wrong changes
  topics/transcriptomics/images/transcriptomics_images/targetFinder_results.png
  topics/transcriptomics/tutorials/mirna-target-finder/tutorial.md
  topics/transcriptomics/tutorials/mirna-target-finder/workflows/main_workflow.ga
Labels: transcriptomics

#3808 Traced from the originals
  assets/branding/gtn-logo.png
  assets/branding/gtn-logo.svg
Labels: template-and-tools

#3829 Swap to Atkinson Hyperlegible
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Bold-102.woff
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Italic-102.woff
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Regular-102.woff
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2
  bin/lint.rb
Labels: template-and-tools, accessibility

#3830 Duplicate time key, I picked one randomly
  topics/single-cell/tutorials/bulk-music-3-preparebulk/tutorial.md
Labels: single-cell

#3801 Monocle3 slides update
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/slides.bib
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/slides.html
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
Labels: single-cell

#3834 Update links
  topics/statistics/tutorials/gpu_jupyter_lab/tutorial.md
Labels: statistics

#3791 Creating cell cycle regression tutorial
  topics/single-cell/images/scrna-case_cell-cycle/CellCycle_PCA1.png
  topics/single-cell/images/scrna-case_cell-cycle/CellCycle_PCA2.png
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.bib
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/workflows/index.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/workflows/main_workflow.ga
Labels: single-cell

#3817 synthetic topics from tags
  .github/workflows/monthly-release.yml
  Gemfile.lock
  _config.yml
  _includes/help.html
  _includes/resource-faqs.html
  _includes/resource-handson.html
  _includes/resource-notebooks.html
  _includes/resource-slides.html
  _includes/resource-tours.html
  _includes/resource-video-library.html
  _includes/resource-workflows.html
  _includes/tutorial_list.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _plugins/gtn.rb
  _plugins/gtn/synthetic.rb
  _plugins/jekyll-jsonld.rb
  _plugins/jekyll-topic-filter.rb
  bin/schema-topic.yaml
  faq.md
  faqs/index.md
  metadata/covid19.yaml
  news.md
  news/_posts/2023-01-23-new-covid19-topic.md
  topics/contributing/tutorials/create-new-topic/tutorial.md
  videos/index.md
Labels: template-and-tools, contributing, faqs, news

#3844 Fix selector for expanding all
  assets/js/main.js
Labels: template-and-tools

#3847 fix broken h2 on epigenetics
  _layouts/topic.html
Labels: template-and-tools

#3848 Fixing some formatting errors
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
Labels: contributing, single-cell

#3849 Revert "Update for new plugin based data structure"
  _includes/resource-video-library.html
Labels: template-and-tools

#3836 Rename tools in NGS data logistics tutorial
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: introduction

#3850 Fix very obvious typo
  _plugins/jekyll-topic-filter.rb
Labels: template-and-tools

#3824 Foodborne tutorial
  CONTRIBUTORS.yaml
  news/_posts/2023-01-26-pathogen-detection-tutorial.md
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/data-library.yaml
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/BAA94855_Part_of_tree.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/Biolytix_Workflow_Sequencing.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/FoodBorne-Workflow-updated.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/NP_249099_Part_of_tree.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/NP_461819_Part_of_tree.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/bandage_image_flye_graph.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/fastqc_per_base_sequence_quality_plot_barcode10.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/heatmap.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/phinch_taxonomy_bar_chart.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.bib
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/index.md
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_all_samples_phylogenetic_trees_and_heatmap.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_gene_based_pathogenic_identification.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_preprocessing.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_snp_based_pathogenetic_identification.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_taxonomy_profiling_and_visualization.ga
Labels: template-and-tools, metagenomics, news

#3851 Update sequencing_nanopore.md
  _plugins/snippet.rb
  faqs/galaxy/sequencing_nanopore.md
Labels: template-and-tools, faqs

#3855 Icons in Automatic Jupyter Notebooks
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: contributing
