Repository galaxyproject/training-material, pull requests merged in 2023-02, with the labels that each got.

#3860 foodborne tutorial typos and language
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: metagenomics

#3862 Revert foodborne tutorial preprocessing WF to correct state
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_preprocessing.ga
Labels: metagenomics

#3863 Simplify foodborne tutorial preprocessing WF setup
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_preprocessing.ga
Labels: metagenomics

#3865 Update short introduction tutorial with interface changes
  faqs/galaxy/histories_rename.md
  shared/images/rename_history.png
  shared/images/rename_history_old.png
  topics/introduction/images/galaxy_interface_history_switch.png
  topics/introduction/images/galaxy_interface_history_switch_old.png
  topics/introduction/images/intro_short_run_workflow.png
  topics/introduction/images/intro_short_run_workflow_old.png
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: introduction, template-and-tools, faqs

#3866 1st of Feb 2023 Training updates for Foodborne pathogen detection
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/data-library.yaml
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/Biolytix_Workflow_Sequencing.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: metagenomics

#3868 Add insecable space between icon and text in tutorial overview
  _includes/resource-workflows.html
  _includes/resource-zenodo.html
Labels: template-and-tools

#3869 foodborne tutorial - fixed unescaped pipes
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: metagenomics

#3867 Update `Extracting Workflows from Histories` tutorial
  topics/galaxy-interface/tutorials/history-to-workflow/tutorial.md
Labels: galaxy-interface

#3858 Release testing fixes
  _config.yml
  _plugins/colour-tags.rb
  _plugins/gtn/hsluv.rb
  assets/css/main.scss
  faqs/galaxy/datasets_add_tag.md
  faqs/galaxy/datasets_icons.md
  faqs/galaxy/workflows_extract_from_history.md
  faqs/gtn/galaxy_tested_with.md
  topics/admin/tutorials/cvmfs/tutorial.bib
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/climate/tutorials/pangeo-notebook/tutorial.md
  topics/galaxy-interface/images/annotations.png
  topics/galaxy-interface/images/current-history-buttons.png
  topics/galaxy-interface/images/delete.png
  topics/galaxy-interface/images/details.png
  topics/galaxy-interface/images/hide.png
  topics/galaxy-interface/images/history.png
  topics/galaxy-interface/images/multiselect.png
  topics/galaxy-interface/images/name_tags.png
  topics/galaxy-interface/images/rules/uniprot_fasta.png
  topics/galaxy-interface/images/rules/uniprot_url.png
  topics/galaxy-interface/images/summary.png
  topics/galaxy-interface/images/tags.png
  topics/galaxy-interface/tutorials/collections/tutorial.md
  topics/galaxy-interface/tutorials/download-delete-data/tutorial.md
  topics/galaxy-interface/tutorials/history-to-workflow/tutorial.md
  topics/galaxy-interface/tutorials/history/tutorial.md
  topics/galaxy-interface/tutorials/search/search.md
  topics/galaxy-interface/tutorials/upload-rules-advanced/tutorial.md
  topics/galaxy-interface/tutorials/upload-rules/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101-everyone/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/slides.html
  topics/introduction/tutorials/galaxy-intro-short/slides_CAT_ES.html
  topics/introduction/tutorials/galaxy-intro-short/slides_ES.html
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
Labels: admin, introduction, template-and-tools, galaxy-interface, climate, faqs

#3871 Editing and typos
  topics/single-cell/tutorials/bulk-music-3-preparebulk/tutorial.md
Labels: single-cell

#3870 Editing and correcting typos
  topics/single-cell/tutorials/bulk-music-2-preparescref/tutorial.md
Labels: single-cell

#3872 Editing and typos
  topics/single-cell/tutorials/bulk-music-4-compare/tutorial.md
Labels: single-cell

#3876 Unify css, themes, CSS variables used throughout.
  CONTRIBUTORS.yaml
  _includes/extras.html
  _includes/newslist.html
  _layouts/base.html
  _layouts/base_slides.html
  _layouts/contributor_index.html
  _layouts/home.html
  _layouts/tutorial_hands_on.html
  _plugins/api.rb
  _plugins/gtn.rb
  _plugins/gtn/scholar.rb
  _plugins/jekyll-environment_variables.rb
  _plugins/jekyll-scholar.rb
  assets/css/main.scss
  assets/css/slides.css
  assets/css/slides.scss
  assets/css/syntax_highlighting-dark.scss
  assets/css/syntax_highlighting.scss
  assets/css/themes.scss
  assets/js/theme.js
  bin/lint.rb
  faqs/gtn/gtn_stats.md
  news/_posts/2023-02-02-black-history-month.bib
  news/_posts/2023-02-02-black-history-month.md
  topics/imaging/tutorials/hela-screen-analysis/tutorial.md
  topics/imaging/tutorials/imaging-introduction/tutorial.md
  topics/proteomics/tutorials/protein-id-oms/tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
Labels: template-and-tools, proteomics, imaging, faqs, news

#3877 Accelerate theme loading, experiment collecting "top cited papers"
  _includes/extras.html
  _layouts/base.html
  _layouts/base_slides.html
  _plugins/gtn.rb
  _plugins/gtn/scholar.rb
  _plugins/jekyll-scholar.rb
  assets/js/main.js
  assets/js/theme.js
  references.md
Labels: template-and-tools

#3879 Only activate theme on home page landing
  assets/js/theme.js
Labels: template-and-tools

#3878 Fix box titles in included snippets
  .github/workflows/monthly-release.yml
  .github/workflows/video.yml
  _layouts/faq.html
  _plugins/gtn.rb
  _plugins/gtn/boxify.rb
  _plugins/snippet.rb
  assets/css/main.scss
  assets/css/themes.scss
  faqs/galaxy/interactive_tools_jupyter_launch.md
  topics/genome-annotation/tutorials/annotation-with-maker/content.md
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
  topics/genome-annotation/tutorials/functional/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial_ES.md
  topics/metagenomics/tutorials/metatranscriptomics/content.md
  topics/metagenomics/tutorials/metatranscriptomics/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/teaching/tutorials/hybrid-training/tutorial.bib
  topics/teaching/tutorials/hybrid-training/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-counts-to-genes/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
Labels: introduction, transcriptomics, template-and-tools, metagenomics, genome-annotation, teaching, faqs

#3881 Add Citation.cff, make our news feed fancier, add top tool listing
  CITATION.cff
  _layouts/by_tool.html
  _layouts/workflow-list.html
  _plugins/api.rb
  _plugins/gtn.rb
  _plugins/jekyll-topic-filter.rb
  _plugins_dev/notebook.rb
  faqs/misc.bib
  feed.xslt.xml
  news/_posts/2023-02-08-top-tools.md
  top-tools.html
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics, template-and-tools, faqs, news

#3884 Minor corrections
  topics/single-cell/tutorials/bulk-music/tutorial.md
Labels: single-cell

#3885 Typos and removing repeated sentences
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
Labels: single-cell

#3530 multiplex-tissue-imaging-TMA Tutorial
  CONTRIBUTORS.yaml
  galaxy_instances.yaml
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_avivatorHistory.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_combined_avivator.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_dearray.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_example_GMMs.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_fullVitessce.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_galaxyWF.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_getData.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_markersFile.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_phenotypeWF.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_squidpy_enrichment.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_squidpy_ripleys.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_vitessce_zoomed.png
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/data-library.yaml
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/tutorial.bib
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/tutorial.md
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/workflows/index.md
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/workflows/main_workflow.ga
Labels: template-and-tools, imaging

#3889 no longer need text to hide glitch
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
Labels: single-cell

#3890 updates from scRNA-seq course
  faqs/galaxy/tutorial_mode.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
Labels: introduction, faqs, single-cell

#3891 rename data library to `data-library.yaml`
  bin/lint.rb
  topics/assembly/tutorials/vgp_genome_assembly/data-library.yaml
  topics/assembly/tutorials/vgp_genome_assembly/data_library.yml
  topics/assembly/tutorials/vgp_workflow_training/tutorial.md
  topics/computational-chemistry/tutorials/analysis-md-simulations/data-library.yaml
  topics/computational-chemistry/tutorials/md-simulation-gromacs/data-library.yaml
  topics/proteomics/tutorials/ml-modeling-of-anti-cancer-peptides/data-library.yaml
Labels: template-and-tools, assembly, proteomics, computational-chemistry

#3892 Fix truly cursed parsing failure
  faqs/galaxy/account_create.md
  faqs/galaxy/account_reduce_quota_usage.md
  faqs/galaxy/analysis_differential_expression_help.md
  faqs/galaxy/troubleshooting_cluster_failure.md
  faqs/galaxy/troubleshooting_excess_memory.md
  faqs/galaxy/troubleshooting_input_problem.md
  faqs/galaxy/troubleshooting_value_error.md
  faqs/galaxy/troubleshooting_walltime.md
Labels: faqs

#3895 Miscellaneous stuff
  _layouts/home.html
  _plugins/api.rb
  _plugins/jekyll-topic-filter.rb
  bin/lint.rb
  faqs/gtn/gtn_workflow_testing.md
  manifest.json
Labels: template-and-tools, faqs

#3897 Fix sorting on topic page
  CONTRIBUTORS.yaml
  _includes/tutorial_list.html
  _layouts/home.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _plugins/api.rb
  _plugins/gtn.rb
  _plugins/jekyll-topic-filter.rb
  bin/schema-slides.yaml
  bin/schema-topic.yaml
  bin/schema-tutorial.yaml
  topics/admin/tutorials/stuff/slides.html
  topics/computational-chemistry/tutorials/md-simulation-namd/tutorial.md
  topics/dev/tutorials/interactive-environments/slides.html
  topics/epigenetics/tutorials/estrogen-receptor-binding-site-identification/tutorial.md
  topics/evolution/metadata.yaml
  topics/evolution/tutorials/mtb_phylogeny/tutorial.md
  topics/evolution/tutorials/mtb_transmission/tutorial.md
  topics/genome-annotation/tutorials/genome-annotation/tutorial.md
  topics/introduction/tutorials/dummy/tutorial.md
  topics/introduction/tutorials/igv-introduction/tutorial.md
  topics/metabolomics/tutorials/gcms/tutorial.md
  topics/proteomics/tutorials/maxquant-msstats-tmt/tutorial.md
  topics/sequence-analysis/tutorials/ncbi-blast-against-the-madland/tutorial.md
  topics/teaching/tutorials/hybrid-training/tutorial.md
  topics/teaching/tutorials/live-coding/tutorial.md
  topics/teaching/tutorials/teaching-online/tutorial.md
  topics/transcriptomics/tutorials/full-de-novo/tutorial.md
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
  topics/variant-analysis/tutorials/aiv-analysis/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: admin, dev, variant-analysis, introduction, transcriptomics, template-and-tools, epigenetics, proteomics, metabolomics, sequence-analysis, genome-annotation, teaching, computational-chemistry, evolution

#3899 Fixed typo
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
Labels: single-cell

#3898 Add miRlyKayleigh as contributor
  CONTRIBUTORS.yaml
Labels: template-and-tools

#3900 Add more topic level EDAM terms, improved admin/annotation link previews
  _layouts/base.html
  bin/schema-slides.yaml
  bin/schema-topic.yaml
  bin/schema-tutorial.yaml
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/computational-chemistry/metadata.yaml
  topics/data-science/metadata.yaml
  topics/dev/metadata.yaml
  topics/evolution/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/imaging/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/synthetic-biology/metadata.yaml
  topics/visualisation/metadata.yaml
Labels: admin, dev, template-and-tools, assembly, sequence-analysis, genome-annotation, computational-chemistry, imaging, data-science, visualisation, evolution, synthetic-biolocy

#3904 Formation of the Super-Structures on the Inactive X: improve introduction
  topics/epigenetics/tutorials/formation_of_super-structures_on_xi/tutorial.md
Labels: epigenetics

#3912 `VGP assembly pipeline`: some textual changes
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: assembly

#3913 Update tutorial.md - suggested rewording to match figure 5
  topics/single-cell/tutorials/scrna-umis/tutorial.md
Labels: single-cell
