Repository galaxyproject/training-material, pull requests merged in 2023-11, with the labels that each got.

#4464 Update preamble.md in RStudio Seurat Filter, Plot, and Explore (small line edit changes)
  topics/single-cell/tutorials/scrna-case_FilterPlotandExploreRStudio/preamble.md
Labels: single-cell

#4456 NEW LESSON ENA sequence submission #4447
  CONTRIBUTORS.yaml
  topics/fair/tutorials/fair-ena/images/metadata_model.png
  topics/fair/tutorials/fair-ena/images/submission_routes.png
  topics/fair/tutorials/fair-ena/tutorial.md
Labels: template-and-tools, fair

#4466 Fix analytics
  _includes/analytics.html
  _includes/extras.html
  preferences.md
Labels: template-and-tools

#4468 Add tool version to tool buttons
  _plugins/jekyll-tool-tag.rb
  assets/css/main.scss
Labels: template-and-tools

#4467 Remove updates from SC news
  bin/lint.rb
  bin/news.rb
Labels: template-and-tools

#4425 fix ansible-vault diff
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: admin

#4433 add FAQ about upgrading through 22.05
  topics/admin/faqs/galaxy-update-22.05.md
Labels: admin

#4474 add authorship to FAIR lessons
  topics/fair/tutorials/fair-clinical/tutorial.md
  topics/fair/tutorials/fair-ena/tutorial.md
Labels: fair

#4308 Proposed changes to job-destinations and ansible-galaxy admin tutorials to prevent ansible-playbook errors.
  topics/admin/tutorials/job-destinations/tutorial.md
Labels: admin

#4436 Final updates for gallantries
  _includes/default-footer.html
  _includes/pathway-card.html
  bin/schema-learning-pathway.yaml
  bin/validate-frontmatter.rb
  learning-pathways/climate-learning.md
  learning-pathways/io1.md
  learning-pathways/io2.md
  learning-pathways/io3.md
  learning-pathways/io4.md
  learning-pathways/io5.md
  topics/contributing/tutorials/create-new-tutorial-content/faqs/remote-teaching-cyoa.md
  topics/contributing/tutorials/create-new-tutorial-content/faqs/remote-teaching-faqs.md
  topics/contributing/tutorials/create-new-tutorial-content/faqs/remote-teaching-selfstudy.md
  topics/contributing/tutorials/create-new-tutorial-content/faqs/remote-teaching.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/genome-annotation/tutorials/official-gene-set/tutorial.md
  topics/teaching/tutorials/gallantries-async/helper-after.md
  topics/teaching/tutorials/gallantries-async/helper-before.md
  topics/teaching/tutorials/gallantries-async/helper-during.md
  topics/teaching/tutorials/gallantries-async/instructor-after.md
  topics/teaching/tutorials/gallantries-async/instructor-before.md
  topics/teaching/tutorials/gallantries-async/instructor-during.md
  topics/teaching/tutorials/gallantries-async/organizer-after.md
  topics/teaching/tutorials/gallantries-async/organizer-before.md
  topics/teaching/tutorials/gallantries-async/organizer-during.md
  topics/teaching/tutorials/gallantries-async/tutorial.md
  topics/teaching/tutorials/gallantries-coursebuilder/tutorial.md
  topics/teaching/tutorials/running-workshop/tutorial.md
  videos/index.md
Labels: template-and-tools, contributing, genome-annotation, teaching

#4471 fix selector for faq links
  assets/js/main.js
Labels: template-and-tools

#4477 Credit Edwin for admin testing
  CONTRIBUTORS.yaml
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/job-destinations/tutorial.md
Labels: admin, template-and-tools

#4476 fix broken links gallantries
  learning-pathways/io1.md
  learning-pathways/io2.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools, contributing

#4478 add gsc verificaiton
  _includes/analytics.html
Labels: template-and-tools

#4485 expose version number
  _config.yml
  _layouts/tutorial_hands_on.html
  _plugins/gtn.rb
Labels: template-and-tools

#4481 add circos microbial plot tutorial
  bin/lint.rb
  learning-pathways/io2.md
  topics/visualisation/tutorials/circos-microbial/images/montage.gif
  topics/visualisation/tutorials/circos-microbial/images/plot.png
  topics/visualisation/tutorials/circos-microbial/tutorial.md
  topics/visualisation/tutorials/circos-microbial/workflows/index.md
  topics/visualisation/tutorials/circos-microbial/workflows/main_workflow-test.yml
  topics/visualisation/tutorials/circos-microbial/workflows/main_workflow.ga
  topics/visualisation/tutorials/circos-microbial/workflows/test-data/plot.png
Labels: template-and-tools, visualisation

#4479 Improve TeSS scraping
  FUNDERS.yaml
  _layouts/base.html
  _layouts/faq.html
  _layouts/learning-pathway.html
  _plugins/gtn/boxify.rb
  _plugins/gtn/contributors.rb
  _plugins/jekyll-jsonld.rb
  bin/workflows-fetch.rb
Labels: template-and-tools

#4490 Update tutorial Maxquant LFQ
  topics/proteomics/tutorials/maxquant-label-free/tutorial.bib
  topics/proteomics/tutorials/maxquant-label-free/tutorial.md
Labels: proteomics

#4482 add hash to js bundle
  _plugins/jekyll-bundler.rb
Labels: template-and-tools

#4498 Simplify PR template
  .github/pull_request_template.md
Labels: template-and-tools

#4438 Fixing icon on single cell training page
  _config.yml
Labels: template-and-tools

#4483 Conditionally load mathjax
  _layouts/base.html
  _layouts/base_slides.html
  _layouts/base_slides_ai4life.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-mathjax.rb
Labels: template-and-tools

#4501 Fix icon
  _config.yml
Labels: template-and-tools

#4366 Rewrite links to fix all remaining GTN:003 errors
  bin/lint.rb
  faqs/galaxy/account_reduce_quota_usage.md
  faqs/galaxy/analysis_reporting_issues.md
  faqs/galaxy/datasets_chromosome_identifiers.md
  faqs/galaxy/datasets_download_using_command_line.md
  faqs/galaxy/datasets_hidden.md
  faqs/galaxy/datasets_quotas_for_datasets_and_histories.md
  faqs/galaxy/datasets_working_with_fasta.md
  faqs/galaxy/datasets_working_with_reference_annotation.md
  faqs/galaxy/datatypes_fastq_and_fastqsanger.md
  faqs/galaxy/datatypes_understanding_datatypes.md
  faqs/galaxy/histories_shared.md
  faqs/galaxy/reference_genomes_troubleshooting_custom_genome.md
  faqs/galaxy/troubleshooting_cluster_failure.md
  faqs/galaxy/troubleshooting_excess_memory.md
  faqs/galaxy/troubleshooting_input_problem.md
  faqs/galaxy/troubleshooting_walltime.md
  faqs/gtn/fair_training.md
  topics/assembly/tutorials/vgp_workflow_training/tutorial.md
  topics/contributing/tutorials/slides-with-video/tutorial.md
  topics/data-science/tutorials/online-resources-protein/tutorial.md
  topics/dev/tutorials/tool-from-scratch/faqs/get_planemo.md
  topics/evolution/tutorials/mtb_phylogeny/tutorial.md
  topics/fair/tutorials/ro-crate-in-galaxy/tutorial.md
  topics/galaxy-interface/tutorials/collections/tutorial.md
  topics/sequence-analysis/tutorials/ncbi-blast-against-the-madland/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
Labels: dev, template-and-tools, assembly, contributing, sequence-analysis, galaxy-interface, data-science, faqs, single-cell, evolution, fair

#4511 fixes Makefile, prefers mamba over conda if available
  Makefile
Labels: template-and-tools

#4512 Updates imaging tutorials to up-to-date tool names and parameters
  topics/imaging/tutorials/hela-screen-analysis/tutorial.md
  topics/imaging/tutorials/imaging-introduction/tutorial.md
Labels: imaging

#4411 link EBI data retrieval into the filter/plot/explore
  topics/single-cell/images/scrna-casestudy/version.png
  topics/single-cell/tutorials/EBI-retrieval/images/cell-metadata.png
  topics/single-cell/tutorials/EBI-retrieval/images/cells-output.png
  topics/single-cell/tutorials/EBI-retrieval/images/genes-output.png
  topics/single-cell/tutorials/EBI-retrieval/images/matrix-output.png
  topics/single-cell/tutorials/EBI-retrieval/tutorial.md
  topics/single-cell/tutorials/EBI-retrieval/workflows/EBI-Single-Cell-Expression-Atlas-files-to-AnnData-test.yml
  topics/single-cell/tutorials/EBI-retrieval/workflows/EBI-Single-Cell-Expression-Atlas-files-to-AnnData.ga
  topics/single-cell/tutorials/EBI-retrieval/workflows/index.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
Labels: single-cell

#4516 Remove unnecessary label
  topics/single-cell/tutorials/bulk-music-2-preparescref/tutorial.md
Labels: single-cell

#4509 implement toot embedding
  _layouts/home.html
  assets/css/main.scss
  assets/js/dompurify/purify.es.js
  assets/js/dompurify/purify.es.js.map
  assets/js/emfed/client.js
  assets/js/emfed/core.js
  assets/js/emfed/emfed.js
  assets/js/emfed/toots.css
Labels: template-and-tools

#4398 Add workflowhub to cross .* workflow list page
  .github/workflows/workflow-list.yaml
  bin/workflows-fetch.rb
  metadata/workflows.yml
  workflows/list.html
Labels: template-and-tools

#4520 Improved workflow listing query language
  _layouts/base.html
  _layouts/base_slides.html
  _layouts/base_slides_ai4life.html
  _layouts/embed.html
  workflows/embed.html
  workflows/list.html
Labels: template-and-tools

#4523 workflow listing, move to just deploy
  .github/workflows/workflow-list.yaml
  metadata/workflows.yml
Labels: template-and-tools

#4521 fix some misc intros
  topics/admin/tutorials/interactive-tools/tutorial.md
  topics/data-science/tutorials/git-cli/tutorial.md
  topics/data-science/tutorials/python-multiprocessing/tutorial.md
  topics/data-science/tutorials/sql-basic/tutorial.md
  topics/data-science/tutorials/sql-python/tutorial.md
  topics/data-science/tutorials/sql-r/tutorial.md
  topics/dev/tutorials/bioblend-api/tutorial.md
  topics/galaxy-interface/tutorials/search/tutorial.md
Labels: admin, dev, galaxy-interface, data-science

#4518 More defensive layout testing
  _plugins/jekyll-topic-filter.rb
Labels: template-and-tools

#4515 Implement nicer categories for toolshed install instructions
  Makefile
  _plugins/api.rb
  _plugins/gtn/toolshed.rb
  _plugins/jekyll-topic-filter.rb
  bin/fetch-categories.rb
Labels: template-and-tools

#4526 Missing execute
  bin/fetch-categories.rb
Labels: template-and-tools

#3750 [Ecology] Changes sdm tut
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Labels: ecology

#4535 Fix container resolvers in admin tutorial
  topics/admin/tutorials/apptainer/tutorial.md
Labels: admin

#4537 Add news post about embedded workflow list updates.
  news/_posts/2023-11-20-workflow-search.md
  workflows/embed.html
  workflows/list.html
Labels: template-and-tools, news

#4538 Hardcode voice for bad graphs, it is perfect
  topics/visualisation/tutorials/bad-graphs/slides.html
Labels: visualisation

#4539 Fix link to workflowhub in news post
  news/_posts/2023-11-20-workflow-search.md
Labels: news

#4528 CVMFS without Ansible: Provide real-world example of CVMFS_QUOTA_LIMIT
  topics/admin/tutorials/cvmfs-manual/tutorial.md
Labels: admin

#4540 Add some news posts
  _plugins/jekyll-scholar.rb
  assets/css/main.scss
  assets/js/main.js
  news/_posts/2023-02-02-black-history-month.md
  news/_posts/2023-05-11-ro-crate.md
  news/_posts/2023-11-21-mastodon.md
  news/_posts/2023-11-21-video.md
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/apptainer/tutorial.md
  topics/admin/tutorials/celery/tutorial.md
  topics/admin/tutorials/cvmfs-manual/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.md
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/assembly/tutorials/mrsa-illumina/tutorial.md
  topics/assembly/tutorials/mrsa-nanopore/tutorial.md
  topics/contributing/tutorials/admin-knitting/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/learning-principles/tutorial.md
  topics/contributing/tutorials/python/tutorial.md
  topics/data-science/tutorials/snakemake/tutorial.md
  topics/data-science/tutorials/sql-game/tutorial.md
  topics/evolution/tutorials/mtb_phylogeny/tutorial.md
  topics/statistics/tutorials/intro-to-ml-with-r/tutorial.md
  topics/visualisation/tutorials/circos/tutorial.md
  topics/visualisation/tutorials/jbrowse/tutorial.md
Labels: admin, template-and-tools, assembly, contributing, statistics, data-science, visualisation, news, evolution

#4543 Update workflow listing page
  _config.yml
  _layouts/workflow-list.html
  _plugins/jekyll-topic-filter.rb
  assets/css/main.scss
  assets/js/mermaid@10.6.1.js
Labels: template-and-tools

#4550 Add uni-freiburg affiliation for ElectronicBlueberry
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4554 fix number of samples for mothur tutorial
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
Labels: metagenomics

#4405 Add Ocean data view tutorial and new topic
  CONTRIBUTORS.yaml
  FUNDERS.yaml
  assets/images/eurosciencegateway.png
  assets/images/fair_ease_colour.png
  topics/climate/images/coastal_water_dyn/1st_profile.png
  topics/climate/images/coastal_water_dyn/2_curves.png
  topics/climate/images/coastal_water_dyn/2_profiles.png
  topics/climate/images/coastal_water_dyn/2_station.png
  topics/climate/images/coastal_water_dyn/argo_stations.png
  topics/climate/images/coastal_water_dyn/clipboard.png
  topics/climate/images/coastal_water_dyn/eu_fe.png
  topics/climate/images/coastal_water_dyn/filter_custom.png
  topics/climate/images/coastal_water_dyn/final_scatter.png
  topics/climate/images/coastal_water_dyn/map.png
  topics/climate/images/coastal_water_dyn/scatter.png
  topics/climate/images/coastal_water_dyn/scatter_prep.png
  topics/climate/images/coastal_water_dyn/station_filter.png
  topics/climate/images/coastal_water_dyn/xvar_temp.png
  topics/climate/images/coastal_water_dyn/yvar_pres.png
  topics/climate/metadata.yaml
  topics/climate/tutorials/ocean-data-view/tutorial.bib
  topics/climate/tutorials/ocean-data-view/tutorial.md
Labels: template-and-tools, climate

#4556 Adding afflication
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4557 Adding MicroGalaxy tag to Microbiom training materials, so we can add then in the microgalaxy webserver
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/assembly/tutorials/unicycler-assembly/tutorial.md
  topics/evolution/tutorials/mtb_phylogeny/tutorial.md
  topics/evolution/tutorials/mtb_transmission/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/genome-annotation/tutorials/apollo/tutorial.md
  topics/genome-annotation/tutorials/gene-centric/tutorial.md
  topics/metagenomics/tutorials/beer-data-analysis/tutorial.md
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/metagenomics-assembly/tutorial.md
  topics/metagenomics/tutorials/metatranscriptomics-short/tutorial.md
  topics/metagenomics/tutorials/metatranscriptomics/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop-short/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/proteomics/tutorials/metaquantome-data-creation/tutorial.md
  topics/proteomics/tutorials/metaquantome-function/tutorial.md
  topics/proteomics/tutorials/metaquantome-taxonomy/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
Labels: variant-analysis, metagenomics, assembly, proteomics, genome-annotation, evolution

#4555 Add FAQ about how to ask for help with your analysis
  faqs/galaxy/analysis_getting_help.md
Labels: faqs

#4560 more microgalaxy tags to metagenomics training materials
  topics/metagenomics/tutorials/nanopore-16S-metagenomics/tutorial.md
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/tutorial.md
  topics/metagenomics/tutorials/taxonomic-profiling/tutorial.md
Labels: metagenomics

#4562 Tiny - final tag and fix snippet rendering
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
Labels: single-cell

#4563 Ocean variables tutorial
  topics/climate/images/ocean_var/all_files.png
  topics/climate/images/ocean_var/big_dots.png
  topics/climate/images/ocean_var/export.png
  topics/climate/images/ocean_var/galaxy_output.png
  topics/climate/images/ocean_var/history.png
  topics/climate/images/ocean_var/hompage.png
  topics/climate/images/ocean_var/launching_odv.png
  topics/climate/images/ocean_var/new_folder_name.png
  topics/climate/images/ocean_var/select_data.png
  topics/climate/images/ocean_var/select_subset.png
  topics/climate/images/ocean_var/select_var.png
  topics/climate/images/ocean_var/size_dots.png
  topics/climate/images/ocean_var/subset.png
  topics/climate/images/ocean_var/text.png
  topics/climate/images/ocean_var/visualise_data.png
  topics/climate/tutorials/ocean-variables/tutorial.bib
  topics/climate/tutorials/ocean-variables/tutorial.md
Labels: climate
