Repository galaxyproject/training-material, pull requests merged in 2023-09, with the labels that each got.

#4330 New Automated Cell Annotation Slide Deck
  topics/single-cell/images/scrna-cell-annotation/cell-annotation-overview.png
  topics/single-cell/images/scrna-cell-annotation/cell-annotation.png
  topics/single-cell/images/scrna-cell-annotation/correlation-figure.png
  topics/single-cell/images/scrna-cell-annotation/data-object.png
  topics/single-cell/images/scrna-cell-annotation/gene-features.png
  topics/single-cell/images/scrna-cell-annotation/manual-annotation.png
  topics/single-cell/images/scrna-cell-annotation/marker-figure.png
  topics/single-cell/images/scrna-cell-annotation/random-forrest-figure.png
  topics/single-cell/images/scrna-cell-annotation/svd-figure.png
  topics/single-cell/images/scrna-cell-annotation/visualisation.png
  topics/single-cell/tutorials/scrna-case-cell-annotation/slides.bib
  topics/single-cell/tutorials/scrna-case-cell-annotation/slides.html
Labels: single-cell

#4334 Add eye-slash icon
  _config.yml
  topics/single-cell/tutorials/scanpy_parameter_iterator/tutorial.md
Labels: template-and-tools, single-cell

#4326 Add tutorials "One gene across biological resources and formats" and "One protein along the UniProt page"
  CONTRIBUTORS.yaml
  assets/images/BioNT_Logo.png
  bin/schema-slides.yaml
  topics/data-science/tutorials/online-resources-gene/images/BLASTresults.png
  topics/data-science/tutorials/online-resources-gene/images/GenomeDataViewerofgeneOPN1LW.png
  topics/data-science/tutorials/online-resources-gene/images/GenomeDataViewerpage.png
  topics/data-science/tutorials/online-resources-gene/images/NIHresults.png
  topics/data-science/tutorials/online-resources-gene/images/Opsin1NIH.png
  topics/data-science/tutorials/online-resources-gene/images/SequenceTextView.png
  topics/data-science/tutorials/online-resources-gene/images/UniProt.png
  topics/data-science/tutorials/online-resources-gene/images/UniProt_proteins.png
  topics/data-science/tutorials/online-resources-gene/images/dbSNPs.png
  topics/data-science/tutorials/online-resources-gene/images/merged-info.png
  topics/data-science/tutorials/online-resources-gene/slides.html
  topics/data-science/tutorials/online-resources-gene/tutorial.bib
  topics/data-science/tutorials/online-resources-gene/tutorial.md
  topics/data-science/tutorials/online-resources-protein/images/UniProt.png
  topics/data-science/tutorials/online-resources-protein/images/complexDB.jpeg
  topics/data-science/tutorials/online-resources-protein/tutorial.md
Labels: template-and-tools, data-science

#4336 Fixed typos in BioNT tutorials
  topics/data-science/tutorials/online-resources-gene/tutorial.md
  topics/data-science/tutorials/online-resources-protein/tutorial.md
Labels: data-science

#4341 Add two learning pathways for avans/erasmus+
  _includes/pathway-card.html
  _plugins/gtn.rb
  learning-pathways/python.md
  learning-pathways/sql.md
Labels: template-and-tools

#4340 Add LPs to HoF chart
  _layouts/contributor_index.html
Labels: template-and-tools

#4329 New tutorials in bioimaging x FAIR data management
  CONTRIBUTORS.yaml
  topics/fair/tutorials/bioimage-REMBI/tutorial.md
  topics/fair/tutorials/bioimage-metadata/tutorial.md
  topics/imaging/metadata.yaml
Labels: template-and-tools, imaging

#4350 Neoformit patch 1
  topics/sequence-analysis/images/HistogramReadlength.png
  topics/sequence-analysis/images/LengthvsQualityScatterPlot_dot.png
  topics/sequence-analysis/images/quality-control/HistogramReadlength.png
  topics/sequence-analysis/images/quality-control/LengthvsQualityScatterPlot_dot.png
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: sequence-analysis

#4344 Adding banner to show that FTP is no longer supported on UseGalaxy.org
  faqs/galaxy/datasets_upload_ftp.md
Labels: faqs

#4355 Add python memory leak debugging faq
  topics/admin/faqs/python-memory-leaks.md
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Labels: admin

#4356 Python tutorial to code section
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/tutorial.md
Labels: single-cell

#4361 Fix for tutorial nav back button
  assets/css/slides.scss
Labels: template-and-tools

#4360 TB Variant Analysis: Update tb_variant_filter to v. 0.4.0
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
  topics/variant-analysis/tutorials/tb-variant-analysis/workflows/tb-variant-analysis.ga
Labels: variant-analysis

#4357 Move trajectories slide deck to concepts section
  topics/single-cell/metadata.yaml
  topics/single-cell/tutorials/scrna-case_monocle3-rstudio/preamble.md
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-trajectories/slides.bib
  topics/single-cell/tutorials/scrna-trajectories/slides.html
Labels: single-cell

#4363 Misc systemd, python tutorial fixes
  topics/admin/tutorials/stop-worrying-love-systemd/tutorial.md
  topics/data-science/tutorials/python-multiprocessing/tutorial.md
Labels: admin, data-science

#4362 Fixes instance list dropdown for 'empty' tutorials
  _includes/instance-dropdown.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-topic-filter.rb
Labels: template-and-tools

#4353 Add internal linking section
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: contributing

#4279 User Preferences
  _includes/analytics.html
  _includes/extras.html
  _includes/help.html
  _layouts/base.html
  _layouts/base_slides.html
  _layouts/base_slides_ai4life.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-figurify.rb
  _plugins/notebook-jupyter.rb
  _plugins_dev/notebook.rb
  assets/css/fonts.css
  assets/css/fontsmain.scss
  assets/css/main.scss
  assets/css/syntax_highlighting.scss
  assets/css/themes.scss
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Bold-102.woff
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Italic-102.woff
  assets/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Regular-102.woff
  assets/fonts/AtkinsonHyperlegible/LICENSE.txt
  assets/fonts/ComicMono/ComicMono-Bold.ttf
  assets/fonts/ComicMono/ComicMono.ttf
  assets/fonts/ComicMono/LICENSE
  assets/fonts/OpenDyslexic/LICENSE
  assets/fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff2
  assets/fonts/OpenDyslexic/OpenDyslexic-Bold.woff2
  assets/fonts/OpenDyslexic/OpenDyslexic-Italic.woff2
  assets/fonts/OpenDyslexic/OpenDyslexic-Regular.woff2
  assets/fonts/yanonekaffeesatz/LICENSE.txt
  assets/fonts/yanonekaffeesatz/YanoneKaffeesatz-VariableFont_wght.woff2
  assets/fonts/yanonekaffeesatz/v24/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZc2GKOnU.woff2
  assets/fonts/yanonekaffeesatz/v24/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZd2GK.woff2
  assets/fonts/yanonekaffeesatz/v24/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZeGGKOnU.woff2
  assets/fonts/yanonekaffeesatz/v24/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZeWGKOnU.woff2
  assets/js/main.js
  assets/js/theme.js
  faqs/gtn/gtn_licenses.md
  licenses.md
  news/_posts/2023-07-20-prefs.md
  preferences.md
  topics/dev/tutorials/tool-from-scratch/tutorial.md
Labels: dev, template-and-tools, faqs, news
