Repository galaxyproject/training-material, pull requests merged in 2023-03, with the labels that each got.

#3883 ga4gh/trs/Write files ending with json, rewrite in nginx
  _plugins/api.rb
  topics/variant-analysis/tutorials/trio-analysis/workflows/main_workflow.ga
Labels: variant-analysis, template-and-tools

#3907 Cell cycle feedback
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
Labels: single-cell

#3896 Remove notranslate
  _config.yml
  _layouts/faqs.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-notranslate.rb
Labels: template-and-tools

#3910 Edited as discussed with @nomadscientist
  topics/single-cell/images/scrna-case_cell-cycle/CellCycle_PCA3.png
  topics/single-cell/images/scrna-case_cell-cycle/CellCycle_PCA4.png
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
Labels: single-cell

#3917 Restructure variant analysis into subtopics
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/aiv-analysis/tutorial.md
  topics/variant-analysis/tutorials/dip/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
  topics/variant-analysis/tutorials/exome-seq/tutorial.md
  topics/variant-analysis/tutorials/introduction/slides.html
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/tutorial.md
  topics/variant-analysis/tutorials/sars-cov-2/tutorial.md
  topics/variant-analysis/tutorials/somatic-variant-discovery/tutorial.md
  topics/variant-analysis/tutorials/somatic-variants/tutorial.md
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
  topics/variant-analysis/tutorials/trio-analysis/tutorial.md
Labels: variant-analysis

#3914 edited Chrome browser extension link as existing link is now a 404
  topics/contributing/tutorials/gitpod/tutorial.md
Labels: contributing

#3916 Fix click to run workflows for .org, and expose additional WF info in UI
  _config.yml
  _layouts/home.html
  _layouts/workflow-list.html
  _plugins/api.rb
  _plugins/gtn.rb
  _plugins/jekyll-tool-tag.rb
  _plugins/jekyll-topic-filter.rb
  assets/css/main.scss
  assets/js/theme.js
  faqs/galaxy/workflows_run_trs.md
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
Labels: template-and-tools, metagenomics, faqs

#3921 Add import to eu
  _layouts/workflow-list.html
Labels: template-and-tools

#3652 New tutorial - large genome assembly and polishing
  CONTRIBUTORS.yaml
  faqs/galaxy/workflows_import_from_workflowhub.md
  topics/assembly/tutorials/largegenome/data-library.yaml
  topics/assembly/tutorials/largegenome/images/assembly.png
  topics/assembly/tutorials/largegenome/images/assess.png
  topics/assembly/tutorials/largegenome/images/bandagegraphpartial.png
  topics/assembly/tutorials/largegenome/images/challenges.png
  topics/assembly/tutorials/largegenome/images/fastp.png
  topics/assembly/tutorials/largegenome/images/genomescope.png
  topics/assembly/tutorials/largegenome/images/icarus.png
  topics/assembly/tutorials/largegenome/images/kmers.png
  topics/assembly/tutorials/largegenome/images/mitocontigs.png
  topics/assembly/tutorials/largegenome/images/polish.png
  topics/assembly/tutorials/largegenome/images/quast.png
  topics/assembly/tutorials/largegenome/images/quast2.png
  topics/assembly/tutorials/largegenome/images/sampletogenome.png
  topics/assembly/tutorials/largegenome/images/steps.png
  topics/assembly/tutorials/largegenome/images/summary.png
  topics/assembly/tutorials/largegenome/images/trimfilterreads.png
  topics/assembly/tutorials/largegenome/tutorial.bib
  topics/assembly/tutorials/largegenome/tutorial.md
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Assembly_polishing.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Assembly_with_Flye.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Assess_genome_quality.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Combined_workflows_for_large_genome_assembly.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Data_QC.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Racon_polish_with_Illumina_reads_x2.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Racon_polish_with_long_reads_x4.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Trim_and_filter_reads.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-kmer_counting.ga
  topics/assembly/tutorials/largegenome/workflows/index.md
  topics/assembly/tutorials/vgp_workflow_training/tutorial.md
Labels: work-in-progress, template-and-tools, assembly, faqs

#3930 minor change
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/tutorial.md
Labels: single-cell

#3946 Fix borked wf links
  _layouts/workflow-list.html
  faqs/galaxy/workflows_run_trs.md
Labels: template-and-tools, faqs

#3948 Update
  topics/genome-annotation/tutorials/repeatmasker/tutorial.md
Labels: genome-annotation, new contributor(s)

#3926 Fist commit
  CONTRIBUTORS.yaml
Labels: template-and-tools

#3943 Velvet tutorial updates
  topics/assembly/tutorials/general-introduction/tutorial.md
Labels: assembly

#3778 Convert dagobah version of the Data Managers tutorial
  topics/admin/images/dm-admin-local-data.png
  topics/admin/images/dm-all-fasta-populated-2.png
  topics/admin/images/dm-all-fasta-populated.png
  topics/admin/tutorials/cvmfs-manual/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/admin/tutorials/data-library/tutorial.md
  topics/admin/tutorials/reference-genomes/tutorial.md
  topics/admin/tutorials/tool-management/tutorial.md
  topics/admin/tutorials/upgrading/tutorial.md
  topics/admin/tutorials/wireguard-headscale/tutorial.md
Labels: admin

#3953 More defensive feedback
  .github/workflows/deploy.yml
  bin/prepare_feedback.py
  bin/prepare_feedback.rb
  feedback.md
  metadata/feedback.csv
  topics/dev/tutorials/bioblend-api/tutorial.md
Labels: dev, template-and-tools

#3956 change agenda tag
  topics/ecology/tutorials/champs-blocs/tutorial.md
Labels: ecology

#3823 first try of fr translation of a tuto
  _includes/cyoa-choice-fr.html
  _plugins/gtn/boxify.rb
  bin/lint.rb
  bin/schema-tutorial.yaml
  faqs/galaxy-fr/datasets_change_datatype.md
  faqs/galaxy-fr/datasets_importa_via_link.md
  faqs/galaxy-fr/histories_create_new.md
  topics/ecology/images/champbloc/avant_apres.png
  topics/ecology/tutorials/champs-blocs/tutorial.md
  topics/ecology/tutorials/champs-blocs/tutorial_FR.md
Labels: template-and-tools, ecology, faqs

#3960 Update email address
  CONTRIBUTORS.yaml
Labels: template-and-tools

#3959 Update some en in fr
  topics/ecology/tutorials/champs-blocs/tutorial_FR.md
Labels: ecology

#3963 Do not run ci workflow on draft PRs
  .github/pull_request_template.md
  .github/workflows/ci.yml
  topics/contributing/images/PR_create_menu.png
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
  topics/contributing/tutorials/github-interface-contribution/tutorial.md
Labels: template-and-tools, contributing

#3966 Fix FAQ relative to datatype due to 23.0
  faqs/galaxy/datasets_change_datatype.md
  faqs/galaxy/datasets_convert_datatype.md
Labels: faqs

#3968 Remove any mention of "For all dataset selected..." in FAQ and different tutorials
  faqs/galaxy/collections_build_list.md
  faqs/galaxy/collections_build_list_paired.md
  faqs/galaxy/datasets_working_with_deleted_datasets.md
  topics/evolution/tutorials/mtb_transmission/tutorial.md
  topics/galaxy-interface/tutorials/group-tags/tutorial.md
  topics/galaxy-interface/tutorials/history/tutorial.md
  topics/introduction/tutorials/galaxy-reproduce/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
  topics/proteomics/tutorials/metaproteomics/tours/metaproteomics.yaml
  topics/proteomics/tutorials/metaquantome-data-creation/tutorial.md
  topics/single-cell/tutorials/scrna-umis/tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.md
  topics/transcriptomics/tutorials/srna/tours/tour.yaml
  topics/variant-analysis/tutorials/trio-analysis/tutorial.md
Labels: variant-analysis, introduction, transcriptomics, metagenomics, proteomics, galaxy-interface, faqs, single-cell, evolution, re-record

#3971 Update contributor information
  CONTRIBUTORS.yaml
  topics/transcriptomics/tutorials/network-analysis-with-heinz/slides.html
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.md
Labels: transcriptomics, template-and-tools

#3972 Change to import history text
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
Labels: single-cell

#3969 Try different language to make the PR template clearer
  .github/pull_request_template.md
Labels: template-and-tools

#3973 update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#3974 Update my info
  CONTRIBUTORS.yaml
Labels: template-and-tools
