Repository galaxyproject/training-material, pull requests merged in 2023-08, with the labels that each got.

#4314 Fixes the imaging tutorials (functionalities of tools had changed over time)
  CONTRIBUTORS.yaml
  topics/imaging/images/imaging-introduction/viz_segmentation_mask.png
  topics/imaging/tutorials/hela-screen-analysis/tutorial.md
  topics/imaging/tutorials/imaging-introduction/tutorial.md
Labels: template-and-tools, imaging

#4318 Fixes #4305
  _plugins/notebook.rb
Labels: template-and-tools

#4315 New Filter, Plot and Explore (Jupyter Notebook) tutorial
  topics/single-cell/images/scrna-casestudy-jupyter/annotated_umap.png
  topics/single-cell/images/scrna-casestudy-jupyter/batch_effect.png
  topics/single-cell/images/scrna-casestudy-jupyter/counts_across_clusters.png
  topics/single-cell/images/scrna-casestudy-jupyter/genotype_differences.png
  topics/single-cell/images/scrna-casestudy-jupyter/hemoglobin.png
  topics/single-cell/images/scrna-casestudy-jupyter/itm2a_across_clusters.png
  topics/single-cell/images/scrna-casestudy-jupyter/known_marker_gene_locations.png
  topics/single-cell/images/scrna-casestudy-jupyter/louvain_clustering.png
  topics/single-cell/images/scrna-casestudy-jupyter/pca-variance.png
  topics/single-cell/images/scrna-casestudy-jupyter/scatter-mito-genes.png
  topics/single-cell/images/scrna-casestudy-jupyter/scatter-mito-umis.png
  topics/single-cell/images/scrna-casestudy-jupyter/sex_differences.png
  topics/single-cell/images/scrna-casestudy-jupyter/violin-batch-log.png
  topics/single-cell/images/scrna-casestudy-jupyter/violin-filteredgenesxfilteredcounts.png
  topics/single-cell/images/scrna-casestudy-jupyter/violin-genotype-log.png
  topics/single-cell/images/scrna-casestudy-jupyter/violin-mitofilter.png
  topics/single-cell/images/scrna-casestudy-jupyter/violin-raw-filteredgenes.png
  topics/single-cell/images/scrna-casestudy-jupyter/violin-sex-log.png
  topics/single-cell/images/scrna-casestudy-jupyter/violins2gether.png
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/data-library.yaml
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/faqs/index.md
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/preamble.md
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/tutorial.bib
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
Labels: single-cell

#4310 testing_parameter_iterator_updates
  topics/single-cell/tutorials/scanpy_parameter_iterator/tutorial.md
Labels: single-cell

#4307 Update broken link to single cell requests
  topics/single-cell/metadata.yaml
Labels: single-cell
