Repository galaxyproject/training-material, pull requests merged in 2023-07, with the labels that each got.

#4252 Foodborne Training Updates new PR to the updates since the #4241 PR is blocking my pushes
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/AAF37887_tree.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/BAA94855_Part_of_tree.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/NP_249099_Part_of_tree.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/NP_459543_tree.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/images/NP_461819_Part_of_tree.png
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/Nanopore_Datasets_Gene_based_pathogenic_Identification-test.yml
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/Nanopore_Datasets_Gene_based_pathogenic_Identification.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/Nanopore_Datasets_Pathogen_Tracking_among_all_samples-test.yml
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/Nanopore_Datasets_Pathogen_Tracking_among_all_samples.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_preprocessing-test.yml
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_preprocessing.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_snp_based_pathogenetic_identification-test.yml
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_snp_based_pathogenetic_identification.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_taxonomy_profiling_and_visualization-test.yml
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/nanopore_taxonomy_profiling_and_visualization.ga
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-all-samples/All VFs in one Tabular.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-all-samples/VFs accessions with SampleID_Barcode10.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-all-samples/VFs accessions with SampleID_Barcode11.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-all-samples/VFs accessions_Barcode10.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-all-samples/VFs accessions_Barcode11.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-all-samples/VFs_split_file_000000.txt.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-all-samples/VFs_split_file_000001.txt.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-gene-based/Extracted Lables.txt
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-gene-based/MLST Report Header.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-pre-processing/MultiQC Stats Before and After Preprocessing_sources.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-snp-based/Extracted Fields from the VCF output_Barcode10.tabular
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/test-data-taxonomy/Kraken2 with PlusPF database output report_Barcode10.tabular
Labels: metagenomics

#4222 Fix unintentional passing on failed notebooks
  .github/workflows/ci.yml
  Gemfile.lock
  _layouts/tutorial_hands_on.html
  _plugins/notebook-jupyter.rb
  _plugins/notebook.rb
  bin/check-valid-json.rb
  bin/check-valid-notebook.rb
Labels: template-and-tools

#4254 Add AI4Life to the list of funders
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4256 add another Mastodon account (CONTRIBUTORS.yaml)
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4250 Add sars anvil tutorial
  CONTRIBUTORS.yaml
  _plugins/jekyll-duration.rb
  bin/lint.rb
  topics/sequence-analysis/faqs/quality_score.md
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/00-anvil-workspaces.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/01-sars-workspace.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/02-clone-button.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/03-clone-settings.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/04-select-galaxy.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/05-start-galaxy.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/06-galaxy-next.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/07-galaxy-create.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/08-galaxy-provisioning.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/09-galaxy-open.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/10-galaxy-on-anvil.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/11-galaxy-data-workspace.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/12-fastq-view.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/13-fastqc-report.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/14-galaxy-jbrowse-bams.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/15-galaxy-jbrowse-ref.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/16-export-history.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/17-export.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/18-export-verify.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/19-galaxy-env.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/20-galaxy-edit.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/21-galaxy-delete.png
  topics/sequence-analysis/images/sars-with-galaxy-in-anvil/22-galaxy-delete-pd.png
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/sequence-analysis/tutorials/sars-with-galaxy-on-anvil/tutorial.md
Labels: template-and-tools, sequence-analysis

#4269 Add gene.iobio to tutorial Trio Analysis using Synthetic Datasets from RD-Connect GPAP
  topics/variant-analysis/images/trio-analysis/workflow.png
  topics/variant-analysis/tutorials/trio-analysis/tutorial.bib
  topics/variant-analysis/tutorials/trio-analysis/tutorial.md
  topics/variant-analysis/tutorials/trio-analysis/workflows/main_workflow.ga
Labels: variant-analysis

#4261 End of pride month, fix a handful of broken snippets
  .github/workflows/ci.yml
  _config.yml
  topics/assembly/tutorials/largegenome/tutorial.md
  topics/epigenetics/tutorials/atac-seq/tutorial.md
  topics/metabolomics/tutorials/gc_ms_with_xcms/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-bash-star-align/tutorial.md
Labels: transcriptomics, template-and-tools, assembly, epigenetics, metabolomics

#4276 Update Pathways Page
  _includes/pathway-card.html
  assets/css/main.scss
  learning-pathways/admin-training.md
  learning-pathways/genome-annotation-eukaryote.md
  learning-pathways/genome-annotation-prokaryote.md
  learning-pathways/index.md
  learning-pathways/intro-to-galaxy-and-ecology.md
  learning-pathways/intro-to-galaxy-and-genomics.md
  learning-pathways/intro-to-r-and-ml.md
  learning-pathways/metagenomics.md
  learning-pathways/pathway-example.md
  learning-pathways/train-the-trainers.md
Labels: template-and-tools

#4278 Pathwaycards
  assets/css/main.scss
  assets/images/galaxy-e-logo.png
  assets/images/microgalaxy-logo.png
  learning-pathways/intro-to-galaxy-and-ecology.md
  learning-pathways/metagenomics.md
Labels: template-and-tools

#4277 Add pathways for climate and galaxy discovering
  learning-pathways/climate-learning.md
Labels: template-and-tools

#4281 Added missing step-by-step part for all sample analysis step
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: metagenomics

#4280 Small update to cron job for cleanup
  topics/admin/tutorials/backup-cleanup/tutorial.md
Labels: admin

#4290 Update ChIP-Seq tutorial with latest tool versions and links
  topics/epigenetics/images/formation_of_super-structures_on_xi/peak_heatmap_1.png
  topics/epigenetics/images/formation_of_super-structures_on_xi/peak_heatmap_all.png
  topics/epigenetics/images/formation_of_super-structures_on_xi/plotCorrelation.png
  topics/epigenetics/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/epigenetics/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-test.yml
  topics/epigenetics/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Labels: epigenetics

#4287 Update tutorial: GC MS data processing [metabolomics]
  topics/metabolomics/tutorials/gc_ms_with_xcms/tutorial.md
  topics/metabolomics/tutorials/gc_ms_with_xcms/workflows/main_workflow-test.yml
  topics/metabolomics/tutorials/gc_ms_with_xcms/workflows/main_workflow.ga
  topics/metabolomics/tutorials/gc_ms_with_xcms/workflows/test-data/matchms_scores.tsv
Labels: metabolomics

#4292 Update exome-seq tutorial/WFs to latest tool versions
  topics/variant-analysis/tutorials/exome-seq/tutorial.md
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/autosomal_recessive_pattern_report.tsv
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/father.bam
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/father_R1.fastq.gz
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/father_R2.fastq.gz
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/mother.bam
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/mother_R1.fastq.gz
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/mother_R2.fastq.gz
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/pedigree.tsv
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/proband.bam
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/proband_R1.fastq.gz
  topics/variant-analysis/tutorials/exome-seq/workflows/test-data/proband_R2.fastq.gz
  topics/variant-analysis/tutorials/exome-seq/workflows/workflow_exome_seq_from_premapped-test.yml
  topics/variant-analysis/tutorials/exome-seq/workflows/workflow_exome_seq_from_premapped.ga
  topics/variant-analysis/tutorials/exome-seq/workflows/workflow_exome_seq_full-test.yml
  topics/variant-analysis/tutorials/exome-seq/workflows/workflow_exome_seq_full.ga
Labels: variant-analysis

#4283 Add tags to tutorial.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
Labels: single-cell

#4291 Update tutorial.md
  topics/single-cell/tutorials/scatac-preprocessing-tenx/tutorial.md
Labels: single-cell

#4285 Correct link for image in Figure 6
  topics/single-cell/tutorials/bulk-music-4-compare/tutorial.md
Labels: single-cell

#4284 Adding link to cell cycle tutorial
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
Labels: single-cell

#4273 Rename maintainers as editorial board
  _layouts/contributor_index.html
  _layouts/learning-pathway.html
  _layouts/topic.html
  _plugins/api.rb
  _plugins/author-page.rb
  _plugins/jekyll-duration.rb
  _plugins/jekyll-topic-filter.rb
  bin/lint.rb
  bin/schema-learning-pathway.yaml
  bin/schema-topic.yaml
  bin/validate-frontmatter.rb
  learning-pathways/admin-training.md
  learning-pathways/genome-annotation-eukaryote.md
  learning-pathways/genome-annotation-prokaryote.md
  learning-pathways/intro-to-galaxy-and-ecology.md
  learning-pathways/intro-to-galaxy-and-genomics.md
  learning-pathways/intro-to-r-and-ml.md
  learning-pathways/metagenomics.md
  learning-pathways/pathway-example.md
  learning-pathways/train-the-trainers.md
  metadata/covid19.yaml
  metadata/one-health.yaml
  metadata/swagger.yaml
  topics/admin/metadata.yaml
  topics/ai4life/metadata.yaml
  topics/assembly/metadata.yaml
  topics/climate/metadata.yaml
  topics/computational-chemistry/metadata.yaml
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/data-science/metadata.yaml
  topics/dev/metadata.yaml
  topics/ecology/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/evolution/metadata.yaml
  topics/fair/metadata.yaml
  topics/galaxy-interface/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/imaging/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metabolomics/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/single-cell/metadata.yaml
  topics/statistics/metadata.yaml
  topics/synthetic-biology/metadata.yaml
  topics/teaching/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
  topics/visualisation/metadata.yaml
Labels: admin, dev, variant-analysis, introduction, transcriptomics, template-and-tools, metagenomics, assembly, epigenetics, proteomics, contributing, metabolomics, sequence-analysis, genome-annotation, statistics, galaxy-interface, teaching, computational-chemistry, ecology, imaging, climate, data-science, visualisation, single-cell, evolution, synthetic-biolocy

#4193 New tutorial: Scanpy Parameter Iterator
  topics/single-cell/images/scrna-casestudy_parameter-iterator/n_neighbours.png
  topics/single-cell/images/scrna-casestudy_parameter-iterator/perplexity.png
  topics/single-cell/images/scrna-casestudy_parameter-iterator/resolution_pca.png
  topics/single-cell/images/scrna-casestudy_parameter-iterator/resolution_tsne.png
  topics/single-cell/images/scrna-casestudy_parameter-iterator/resolution_umap.png
  topics/single-cell/images/scrna-casestudy_parameter-iterator/workflow.png
  topics/single-cell/images/scrna-casestudy_parameter-iterator/workflow_n-neighbours.png
  topics/single-cell/images/scrna-casestudy_parameter-iterator/workflow_perplexity.png
  topics/single-cell/images/scrna-casestudy_parameter-iterator/workflow_resolution.png
  topics/single-cell/tutorials/scanpy_parameter_iterator/faqs/index.md
  topics/single-cell/tutorials/scanpy_parameter_iterator/tutorial.bib
  topics/single-cell/tutorials/scanpy_parameter_iterator/tutorial.md
  topics/single-cell/tutorials/scanpy_parameter_iterator/workflows/Scanpy-Parameter-Iterator-workflow-full-test.yml
  topics/single-cell/tutorials/scanpy_parameter_iterator/workflows/Scanpy-Parameter-Iterator-workflow-full.ga
  topics/single-cell/tutorials/scanpy_parameter_iterator/workflows/index.md
Labels: single-cell

#4299 Correct krakentools input
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: metagenomics

#4300 Foodborne update v2
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: metagenomics

#4295 Fixes #4268
  _layouts/workflow-list.html
Labels: template-and-tools

#4296 Only add changed shortlinks, not e.g. gemfile
  .github/workflows/shortlinks.yaml
Labels: template-and-tools

#4302 use igraph instead of python-igraph, as the latter name is deprecated for "pip install"
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/tutorial.md
Labels: single-cell

#4306 Small updates from feedback from the last workshop
  topics/metagenomics/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: metagenomics
