Repository galaxyproject/training-material, pull requests merged in 2023-12, with the labels that each got.

#4492 updated ga file for imaging tutorial: Introduction to image analysis using Galaxy
  topics/imaging/tutorials/imaging-introduction/workflows/Galaxy-Workflow-GTN_Tutorial__Introduction_to_Imaging-test.yml
  topics/imaging/tutorials/imaging-introduction/workflows/Galaxy-Workflow-GTN_Tutorial__Introduction_to_Imaging.ga
  topics/imaging/tutorials/imaging-introduction/workflows/test-data/input_image.tiff
  topics/imaging/tutorials/imaging-introduction/workflows/test-data/output.tabular
Labels: imaging

#4064 Metagenomics binning tutorial
  CONTRIBUTORS.yaml
  bin/schema-tutorial.yaml
  topics/metagenomics/tutorials/metagenomics-binning/binning.png
  topics/metagenomics/tutorials/metagenomics-binning/individual-assembly.png
  topics/metagenomics/tutorials/metagenomics-binning/tutorial.bib
  topics/metagenomics/tutorials/metagenomics-binning/tutorial.md
Labels: template-and-tools, metagenomics

#4573 adding microGalaxy tag to the new training
  topics/metagenomics/tutorials/metagenomics-binning/tutorial.md
Labels: metagenomics

#4574 Improve 'extras' menu by renaming, making theme choice more explicit
  _includes/default-header.html
  _includes/extras.html
  assets/css/main.scss
  user/privacy.md
  user/theme.md
Labels: template-and-tools

#4367 Adding tutorial on trajectory analysis
  topics/single-cell/images/scrna-case_trajectories/TrajectoriesFDG1.png
  topics/single-cell/images/scrna-case_trajectories/TrajectoriesFDG2.png
  topics/single-cell/images/scrna-case_trajectories/TrajectoriesFDG3.png
  topics/single-cell/images/scrna-case_trajectories/TrajectoriesFDGExpression.png
  topics/single-cell/images/scrna-case_trajectories/TrajectoriesFDGGenotype.png
  topics/single-cell/images/scrna-case_trajectories/TrajectoriesFDGPseudotime.png
  topics/single-cell/images/scrna-case_trajectories/TrajectoriesPAGA.png
  topics/single-cell/tutorials/scrna-case_trajectories/data-library.yaml
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.bib
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_trajectories/workflows/index.md
  topics/single-cell/tutorials/scrna-case_trajectories/workflows/inferring-trajectories-with-scanpy-workflow-test.yml
  topics/single-cell/tutorials/scrna-case_trajectories/workflows/inferring-trajectories-with-scanpy-workflow.ga
Labels: single-cell

#4583 Update analysis_differential_expression_help.md
  faqs/galaxy/analysis_differential_expression_help.md
Labels: faqs

#4582 Update analysis_add_custom_build.md
  faqs/galaxy/analysis_add_custom_build.md
Labels: faqs

#4580 Update account_create.md
  faqs/galaxy/account_create.md
Labels: faqs

#4579 Update account_multiple.md
  faqs/galaxy/account_multiple.md
Labels: CoFest, faqs

#4581 Update account_update_preference.md
  _config.yml
  faqs/galaxy/account_update_preference.md
Labels: template-and-tools, faqs

#4480 New NCBI to AnnData tutorial
  _config.yml
  topics/single-cell/images/scrna-ncbi-anndata/cell_metadata.png
  topics/single-cell/images/scrna-ncbi-anndata/clinical_info_spreadsheet.png
  topics/single-cell/images/scrna-ncbi-anndata/metadata.png
  topics/single-cell/images/scrna-ncbi-anndata/patient_samples_paper.png
  topics/single-cell/images/scrna-ncbi-anndata/replicates_paper.png
  topics/single-cell/tutorials/scrna-ncbi-anndata/tutorial.bib
  topics/single-cell/tutorials/scrna-ncbi-anndata/tutorial.md
  topics/single-cell/tutorials/scrna-ncbi-anndata/workflows/NCBI_to_Anndata-test.yml
  topics/single-cell/tutorials/scrna-ncbi-anndata/workflows/NCBI_to_Anndata.ga
  topics/single-cell/tutorials/scrna-ncbi-anndata/workflows/index.md
Labels: template-and-tools, single-cell

#4591 Misc improvements
  .github/workflows/ci-main.yml
  .github/workflows/matrix.yml
  _layouts/base.html
  _layouts/base_slides.html
  _layouts/slides-plain.html
  _layouts/tutorial_hands_on.html
  _layouts/workflow-list.html
  _plugins/gtn.rb
  _plugins/gtn/mod.rb
  _plugins/jekyll-bundler.rb
  _plugins/jekyll-jsonld.rb
  _plugins/jekyll-scholar.rb
  _plugins/jekyll-topic-filter.rb
  assets/css/main.scss
  search-tools.html
  search.md
  search2.html
  stats/index.md
  workflows/list.html
Labels: template-and-tools

#4586 Update reference_genomes_custom_genomes.md
  faqs/galaxy/datasets_chromosome_identifiers.md
  faqs/galaxy/histories_transfer_entire_histories_from_one_galaxy_server_to_another.md
  faqs/galaxy/reference_genomes_custom_genomes.md
Labels: faqs

#4599 Blog post: user story
  news/_posts/2023-12-18-medchem-user.md
  news/images/2023-12-18-medchem-user.jpg
Labels: news

#4584 Add linting for an unknown icon
  bin/lint.rb
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools, contributing

#4585 Improve my.galaxy.training
  _layouts/base.html
  assets/css/main.scss
  faqs/galaxy/workflows_run_ds.md
  faqs/galaxy/workflows_run_trs.md
  faqs/galaxy/workflows_run_wfh.md
  faqs/gtn/my-galaxy-training.md
  news/_posts/2023-12-12-tutorial-run-wfh-ds.md
  short/galaxy.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools, contributing, faqs, news

#4575 Update dev GxITs to run with shiny-server
  topics/dev/tutorials/interactive-tools/tutorial.md
Labels: dev

#4604 de-dupe icons
  _config.yml
  _plugins/author-page.rb
  _plugins/gtn.rb
  _plugins/gtn/contributors.rb
  topics/contributing/tutorials/create-new-tutorial-content/faqs/icons_list.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools, contributing

#4603 Add UseGalaxy Help Forum to Matrix channel Bot
  .github/workflows/scrna-galaxyhelp-matrix.yml
  bin/galaxy-help-news.sh
Labels: template-and-tools

#4605 misc e+/metadata
  FUNDERS.yaml
  _plugins/gtn/git.rb
  _plugins/jekyll-jsonld.rb
  bin/schema-funders.yaml
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: template-and-tools, contributing

#4606 Add variables for usegalaxy.star servers
  Makefile
  _layouts/workflow-list.html
  _plugins/gtn.rb
  _plugins/gtn/supported.rb
  _plugins/gtn/usegalaxy.rb
  bin/fetch-categories.rb
  bin/lint.rb
  bin/workflow-test.rb
  bin/workflows-fetch.rb
  faqs/galaxy/account_create.md
  faqs/galaxy/support_admins.md
  faqs/gtn/contributors_getting_started.md
  faqs/gtn/contributors_tours.md
  short/galaxy.html
  topics/admin/tutorials/introduction/slides.html
  topics/galaxy-interface/tutorials/ncbi-sarf/tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/slides.html
  topics/introduction/tutorials/galaxy-intro-short/slides_CAT_ES.html
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/introduction/tutorials/galaxy-reproduce/tutorial.md
  topics/teaching/tutorials/setup-tiaas-for-training/tutorial.md
  topics/teaching/tutorials/workshop-intro/slides.html
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
  workflows/list.html
Labels: admin, introduction, transcriptomics, template-and-tools, galaxy-interface, teaching, faqs

#4609 Add News/Event: helper bots event
  .github/workflows/ci-main.yml
  news/_posts/2023-12-20-matrix-bots.md
Labels: template-and-tools, news
