Repository galaxyproject/training-material, pull requests merged in 2023-05, with the labels that each got.

#4080 [monthly archives] revert changes
  .github/workflows/monthly-release.yml
Labels: template-and-tools

#4071 Remove review_requested from list of ci triggers
  .github/workflows/ci.yml
Labels: template-and-tools

#4072 Update beer data analysis tutorial
  topics/metagenomics/tutorials/beer-data-analysis/images/beerdecoded.gif
  topics/metagenomics/tutorials/beer-data-analysis/images/krona.png
  topics/metagenomics/tutorials/beer-data-analysis/images/krona_saccharomyces_1.png
  topics/metagenomics/tutorials/beer-data-analysis/images/krona_saccharomyces_2.png
  topics/metagenomics/tutorials/beer-data-analysis/krona.html
  topics/metagenomics/tutorials/beer-data-analysis/tutorial.bib
  topics/metagenomics/tutorials/beer-data-analysis/tutorial.md
  topics/metagenomics/tutorials/beer-data-analysis/workflows/main_workflow-test.yml
  topics/metagenomics/tutorials/beer-data-analysis/workflows/main_workflow.ga
Labels: metagenomics

#4063 Update CONTRIBUTORS with orcid I found
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4086 Update link in Mitochondrial Flagging
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
Labels: single-cell

#4085 Initiate a first try of learning pathway for ecology
  learning-pathways/intro-to-galaxy-and-ecology.md
Labels: template-and-tools

#4043 Add SECURITY.md
  SECURITY.md
Labels: template-and-tools

#4087 Apollo slides: fix overlapping text
  topics/genome-annotation/tutorials/apollo/slides.html
Labels: genome-annotation

#4089 Editing monocle3 r - here are Weesnufkin's updates
  topics/single-cell/images/scrna-casestudy-monocle/switch_kernel.jpg
  topics/single-cell/tutorials/scrna-case_monocle3-rstudio/tutorial.md
Labels: single-cell

#4091 Typo/minor hiccups in ansible galaxy/IT
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/interactive-tools/tutorial.md
Labels: admin

#4076 Update tutorial to match Alevin 1.9
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin/workflows/Galaxy-Workflow-Generating_a_single_cell_matrix_using_Alevin_1.9.ga
Labels: single-cell

#4060 Update Transcriptomics Reference-based tutorial
  .gitignore
  tools.yml
  topics/transcriptomics/images/ref-based/deseq2.pdf
  topics/transcriptomics/images/ref-based/deseq2_pca.png
  topics/transcriptomics/images/ref-based/deseq2_sample_sample_distance_heatmap.png
  topics/transcriptomics/images/ref-based/dme00010.png
  topics/transcriptomics/images/ref-based/featureCounts_assignment_plot.png
  topics/transcriptomics/images/ref-based/go_term.pdf
  topics/transcriptomics/images/ref-based/heatmap2_normalized_counts.pdf
  topics/transcriptomics/images/ref-based/heatmap2_normalized_counts.png
  topics/transcriptomics/images/ref-based/menubarWithScratchbook.png
  topics/transcriptomics/images/ref-based/menubarWithScratchbookEnabled.png
  topics/transcriptomics/images/ref-based/pyGenomeTracks.png
  topics/transcriptomics/images/ref-based/pyGenomeTracks_USvsRS.png
  topics/transcriptomics/images/ref-based/rseqc_gene_body_coverage_plot.png
  topics/transcriptomics/images/ref-based/rseqc_read_distribution_plot.png
  topics/transcriptomics/images/ref-based/samtools-idxstats-xy-plot.png
  topics/transcriptomics/images/ref-based/scratchbookDisabledWithSavedDatasets.png
  topics/transcriptomics/images/ref-based/scratchbookOneDataset.png
  topics/transcriptomics/images/ref-based/scratchbookOneSavedView.png
  topics/transcriptomics/images/ref-based/scratchbookTwoDatasetsShown.png
  topics/transcriptomics/images/ref-based/star_alignment_plot.png
  topics/transcriptomics/images/ref-based/star_gene_counts_reverse.png
  topics/transcriptomics/images/ref-based/star_gene_counts_same.png
  topics/transcriptomics/images/ref-based/star_gene_counts_unstranded.png
  topics/transcriptomics/images/ref-based/top_over-represented_go_terms.png
  topics/transcriptomics/images/ref-based/z-score-heatmap.pdf
  topics/transcriptomics/images/ref-based/z-score-heatmap.png
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/ref-based/workflows/deg-analysis-test.yml
  topics/transcriptomics/tutorials/ref-based/workflows/deg-analysis.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting-paired-and-single-test.yml
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting-paired-and-single.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting-test.yml
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting.ga
  topics/transcriptomics/tutorials/ref-based/workflows/test-data/.gitignore
Labels: transcriptomics, template-and-tools

#3949 Add tutorial: GC MS data processing [metabolomics]
  CONTRIBUTORS.yaml
  Gemfile.lock
  topics/metabolomics/tutorials/gc_ms_with_xcms/faqs/index.md
  topics/metabolomics/tutorials/gc_ms_with_xcms/tutorial.bib
  topics/metabolomics/tutorials/gc_ms_with_xcms/tutorial.md
  topics/metabolomics/tutorials/gc_ms_with_xcms/workflows/index.md
  topics/metabolomics/tutorials/gc_ms_with_xcms/workflows/main_workflow-tests.yml
  topics/metabolomics/tutorials/gc_ms_with_xcms/workflows/main_workflow.ga
  topics/metabolomics/tutorials/gc_ms_with_xcms/workflows/test-data/matchms_scores.tsv
Labels: template-and-tools, metabolomics

#4097 Ref-based: update data library
  topics/transcriptomics/tutorials/ref-based/data-library.yaml
Labels: transcriptomics

#4099 Small fixes to Intro short tutorial
  faqs/galaxy/histories_sharing.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: introduction, faqs

#4098 Fixes for the "Basics of machine learning" tutorial
  topics/statistics/tutorials/machinelearning/data-library.yaml
  topics/statistics/tutorials/machinelearning/tutorial.md
Labels: statistics

#4100 Updated workflow with new version of Fasta Stats
  topics/assembly/tutorials/chloroplast-assembly/workflows/Galaxy-Workflow-Chloroplast-genome-assembly-and-annotation.ga
Labels: assembly

#4101 Update tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
Labels: single-cell

#4102 Add versions of a few ML tools
  topics/statistics/tutorials/classification_machinelearning/tutorial.md
  topics/statistics/tutorials/regression_machinelearning/tutorial.md
Labels: statistics

#4104 New training material - Ai4Life
  topics/ai4life/images/welcome-bioimageio-01.png
  topics/ai4life/images/welcome-bioimageio-02.png
  topics/ai4life/images/welcome-bioimageio-03.png
  topics/ai4life/images/welcome-bioimageio-04.png
  topics/ai4life/images/welcome-bioimageio-05.png
  topics/ai4life/images/welcome-bioimageio-06.png
  topics/ai4life/images/welcome-bioimageio-07.png
  topics/ai4life/tutorials/example-slides/slides.html
  topics/ai4life/tutorials/getting-started/slides.html
  topics/ai4life/tutorials/welcome-bioimageio/slides.html
  topics/variant-analysis/tutorials/trio-analysis/workflows/main_workflow-tests.yml
  topics/variant-analysis/tutorials/trio-analysis/workflows/test-data/EGA Download Client - authorized datasets.txt
Labels: variant-analysis

#4059 Extract some slides as FAQs for better visibility
  topics/admin/faqs/database-slow-query.md
  topics/admin/faqs/galaxy-blank-screen.md
  topics/admin/faqs/galaxy-tool-error.md
  topics/admin/faqs/galaxy-tool-memory-error.md
  topics/admin/faqs/galaxy-tool-missing.md
  topics/admin/faqs/galaxy-ui-slow.md
  topics/admin/tutorials/troubleshooting/slides.html
Labels: admin

#4108 fix 2 typos in Reference-based RNA-seq
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics

#4107 RO-crate blog post, misc schemas updates
  CONTRIBUTORS.yaml
  _layouts/base.html
  _layouts/tutorial_hands_on.html
  _plugins/api.rb
  _plugins/jekyll-jsonld.rb
  _plugins/jekyll-topic-filter.rb
  assets/images/BYCOVID_logo_tagline.png
  bin/lint.rb
  news/_posts/2023-05-11-ro-crate.md
  stats/index.md
  stats/top-tools.html
  topics/fair/metadata.yaml
  topics/fair/tutorials/ro-crate-submitting-life-monitor/tutorial.md
Labels: template-and-tools, news

#4109 Updates to assembly tutorial for large genome
  topics/assembly/tutorials/largegenome/tutorial.md
Labels: assembly

#4106 Review taxonomic profiling
  CONTRIBUTORS.yaml
  topics/metagenomics/tutorials/taxonomic-profiling/tutorial.bib
  topics/metagenomics/tutorials/taxonomic-profiling/tutorial.md
Labels: template-and-tools, metagenomics

#4067 Add new tutorial: Pox virus genome analysis
  CONTRIBUTORS.yaml
  topics/teaching/tutorials/experiences/2018-11-02-tklingstrom.md
  topics/variant-analysis/images/pox-virus-tiled-amplicon/pox-tiled-amplicon-wf.png
  topics/variant-analysis/tutorials/pox-tiled-amplicon/faqs/index.md
  topics/variant-analysis/tutorials/pox-tiled-amplicon/tutorial.bib
  topics/variant-analysis/tutorials/pox-tiled-amplicon/tutorial.md
  topics/variant-analysis/tutorials/pox-tiled-amplicon/workflows/index.md
  topics/variant-analysis/tutorials/pox-tiled-amplicon/workflows/pox-virus-tiled-amplicon-ref-masking-tests.yml
  topics/variant-analysis/tutorials/pox-tiled-amplicon/workflows/pox-virus-tiled-amplicon-ref-masking.ga
  topics/variant-analysis/tutorials/pox-tiled-amplicon/workflows/test-data/test_primer_scheme.bed
Labels: variant-analysis, template-and-tools, teaching

#4065 New Tutorial RNA-seq STAR alignment (shell commands)
  topics/transcriptomics/images/bash-star-rnaseq/sam_bam.png
  topics/transcriptomics/images/bash-star-rnaseq/sam_bam3.png
  topics/transcriptomics/images/bash-star-rnaseq/workflow_align.png
  topics/transcriptomics/tutorials/rna-seq-bash-star-align/tutorial.md
Labels: transcriptomics

#4115 Fix and update taxonomic profiling tutorial
  topics/metagenomics/tutorials/taxonomic-profiling/tutorial.md
Labels: metagenomics

#4118 Smorg misc
  assets/js/main.js
  bin/schema-slides.yaml
  topics/admin/tutorials/data-library/slides.html
  topics/ecology/tutorials/x-array-map-plot/tutorial.md
  topics/metabolomics/tutorials/lcms-preprocessing/slides.html
  topics/teaching/tutorials/workshop-intro/slides.html
  topics/variant-analysis/tutorials/sars-cov-2/tutorial.md
  topics/visualisation/tutorials/circos/tutorial.md
Labels: admin, variant-analysis, template-and-tools, metabolomics, teaching, ecology, visualisation

#4119 add workflow tests
  topics/single-cell/tutorials/scrna-case_alevin/workflows/Galaxy-Workflow-Generating_a_single_cell_matrix_using_Alevin_1.9.ga
  topics/single-cell/tutorials/scrna-case_alevin/workflows/Generating-a-single-cell-matrix-using-Alevin-1.9-tests.yml
  topics/single-cell/tutorials/scrna-case_alevin/workflows/Generating-a-single-cell-matrix-using-Alevin-1.9.ga
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/workflows/Galaxy-Workflow-Trajectory_analysis_using_Monocle3-full_tutorial_workflow.ga
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/workflows/Trajectory-analysis-using-Monocle3---full-tutorial-workflow-tests.yml
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/workflows/Trajectory-analysis-using-Monocle3---full-tutorial-workflow.ga
Labels: single-cell

#4121 Misc smorg stuff
  .github/workflows/ci-main.yml
  CONTRIBUTING.md
  CONTRIBUTORS.yaml
  Gemfile
  Gemfile.lock
  Makefile
  _layouts/contributor_index.html
  assets/audio/amy.mp3
  assets/audio/amy.mp3.json
  assets/audio/aria.mp3
  assets/audio/aria.mp3.json
  assets/audio/ayanda.mp3
  assets/audio/ayanda.mp3.json
  assets/audio/brian.mp3
  assets/audio/brian.mp3.json
  assets/audio/emma.mp3
  assets/audio/emma.mp3.json
  assets/audio/geraint.mp3
  assets/audio/geraint.mp3.json
  assets/audio/joanna.mp3
  assets/audio/joanna.mp3.json
  assets/audio/joey.mp3
  assets/audio/joey.mp3.json
  assets/audio/kendra.mp3
  assets/audio/kendra.mp3.json
  assets/audio/matthew.mp3
  assets/audio/matthew.mp3.json
  assets/audio/nicole.mp3
  assets/audio/nicole.mp3.json
  assets/audio/olivia.mp3
  assets/audio/olivia.mp3.json
  assets/audio/raveena.mp3
  assets/audio/raveena.mp3.json
  assets/audio/salli.mp3
  assets/audio/salli.mp3.json
  bin/ari-extract-script.rb
  bin/ari-gen-sample-audio.sh
  bin/ari-synthesize.rb
  bin/dump-meta
  bin/filter-pyolite-safe
  bin/filter-resource-metadata
  bin/lint.rb
  bin/schema-contributors.yaml
  faqs/gtn/gtn_workflow_testing.md
  topics/contributing/tutorials/slides-with-video/tutorial.md
Labels: template-and-tools, contributing, faqs

#4120 Update 10x preprocessing tutorial
  topics/single-cell/images/scrna-pre-processing/tenx_cells.png
  topics/single-cell/images/scrna-pre-processing/tenx_knee.png
  topics/single-cell/tutorials/scrna-preprocessing-tenx/tutorial.md
Labels: single-cell

#4123 Misc smorg 5
  Gemfile
  _plugins/jekyll-jsonld.rb
  bin/prepare_feedback.rb
  bin/schema-slides.yaml
  bin/schema-topic.yaml
  bin/schema-tutorial.yaml
  metadata/feedback.csv
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/backup-cleanup/tutorial.md
  topics/ai4life/metadata.yaml
  topics/assembly/metadata.yaml
  topics/computational-chemistry/metadata.yaml
  topics/data-science/metadata.yaml
  topics/dev/metadata.yaml
  topics/ecology/metadata.yaml
  topics/ecology/tutorials/regionalGAM/tutorial.md
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
  topics/epigenetics/tutorials/tal1-binding-site-identification/tutorial.md
  topics/evolution/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/imaging/metadata.yaml
  topics/metabolomics/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/proteomics/tutorials/database-handling/tutorial.md
  topics/proteomics/tutorials/mass-spectrometry-imaging-loading-exploring-data/tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/proteomics/tutorials/ntails/tutorial.md
  topics/sequence-analysis/metadata.yaml
  topics/statistics/metadata.yaml
  topics/synthetic-biology/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
  topics/visualisation/metadata.yaml
Labels: admin, dev, variant-analysis, transcriptomics, template-and-tools, metagenomics, assembly, epigenetics, proteomics, metabolomics, sequence-analysis, genome-annotation, statistics, computational-chemistry, ecology, imaging, data-science, visualisation, evolution, synthetic-biolocy

#4125 Update PyEGA to version 5 and remove EGA track if Zenodo track is chosen.
  topics/variant-analysis/tutorials/trio-analysis/tutorial.md
  topics/variant-analysis/tutorials/trio-analysis/workflows/main_workflow.ga
Labels: variant-analysis

#4124 Update metatranscriptomics toturial
  topics/metagenomics/tutorials/metatranscriptomics-short/workflows/workflow1_preprocessing.ga
  topics/metagenomics/tutorials/metatranscriptomics-short/workflows/workflow2_community_profile-test.yml
  topics/metagenomics/tutorials/metatranscriptomics-short/workflows/workflow2_community_profile.ga
  topics/metagenomics/tutorials/metatranscriptomics-short/workflows/workflow3_functional_information-test.yml
  topics/metagenomics/tutorials/metatranscriptomics-short/workflows/workflow3_functional_information.ga
  topics/metagenomics/tutorials/metatranscriptomics-short/workflows/workflow3_functional_information_quick.ga
  topics/metagenomics/tutorials/metatranscriptomics/tutorial.bib
  topics/metagenomics/tutorials/metatranscriptomics/workflows/main_workflow.ga
Labels: metagenomics

#4126 Update screenshots for UCSC genome browser
  topics/introduction/images/101_displayucsc.png
  topics/introduction/images/101_ucsc_visualize.png
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Labels: introduction

#4127 Misc Smorg 6
  .github/workflows/ci.yml
  _includes/analytics.html
  _includes/default-footer.html
  _includes/extras.html
  _layouts/base.html
  _layouts/tutorial_hands_on.html
  _layouts/workflow-list.html
  _plugins/jekyll-tool-tag.rb
  assets/css/main.scss
  assets/js/theme.js
  assets/js/topic.js
  bin/lint.rb
  faqs/galaxy/workflows_run_trs.md
Labels: template-and-tools, faqs

#4092 Update the SARS-CoV-2 variant discovery tutorial
  faqs/galaxy/datasets_import_from_data_library.md
  faqs/galaxy/workflows_import_search.md
  topics/variant-analysis/images/sars-cov-2-variant-discovery/ncov_clades.png
  topics/variant-analysis/images/sars-cov-2-variant-discovery/ncov_clades.svg
  topics/variant-analysis/images/sars-cov-2-variant-discovery/schema.png
  topics/variant-analysis/images/sars-cov-2-variant-discovery/variant-frequency.svg
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/data-library.yaml
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/tutorial.md
Labels: variant-analysis, faqs

#4135 [Metagenomics] Enable click-to-run workflows for 16S tutorial
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
Labels: metagenomics

#4133 Revert "Move Zenodo choice below EGA-Archive choice"
  _plugins/gtn.rb
  topics/genome-annotation/tutorials/apollo-euk/tutorial.md
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/tutorial.md
  topics/variant-analysis/tutorials/trio-analysis/tutorial.md
Labels: variant-analysis, template-and-tools, genome-annotation

#4137 Update tutorial.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
Labels: single-cell

#4139 change to github name
  CONTRIBUTORS.yaml
  topics/metagenomics/tutorials/metatranscriptomics-short/tutorial.md
  topics/metagenomics/tutorials/metatranscriptomics/tutorial.md
  topics/metagenomics/tutorials/taxonomic-profiling/tutorial.md
Labels: template-and-tools, metagenomics

#4140 Update content.md
  topics/metagenomics/tutorials/metatranscriptomics/content.md
Labels: metagenomics

#3929 New training: genome-wide alternative splicing analysis
  bin/lint.rb
  topics/transcriptomics/images/differential_isoform/CPAT_distributions.jpg
  topics/transcriptomics/images/differential_isoform/RNASTAR_twopass_mode.png
  topics/transcriptomics/images/differential_isoform/consequences_dataset.png
  topics/transcriptomics/images/differential_isoform/differential_cancer.png
  topics/transcriptomics/images/differential_isoform/fastqc_per_base_sequence_quality.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_consequences_features.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_consequences_isoform.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_consequences_isoform_fulldata.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_gene.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_isoform_usage.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_splicing_event.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_splicing_event_fulldata.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_summary.png
  topics/transcriptomics/images/differential_isoform/isoformSwitcher_splicing_patterns.png
  topics/transcriptomics/images/differential_isoform/list_genes.png
  topics/transcriptomics/images/differential_isoform/pgt_RGMB_zoom_out.png
  topics/transcriptomics/images/differential_isoform/rseqc_gene_body_coverage_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_infer_experiment_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_junction_annotation_junctions_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_junction_saturation_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_read_distribution_plot.png
  topics/transcriptomics/images/differential_isoform/scheme.jpeg
  topics/transcriptomics/images/differential_isoform/star_alignment.png
  topics/transcriptomics/images/differential_isoform/stringtie_algorithm.png
  topics/transcriptomics/tutorials/differential-isoform-expression/data-library.yaml
  topics/transcriptomics/tutorials/differential-isoform-expression/faqs/index.md
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.bib
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.md
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/index.md
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/main_workflow.ga
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/main_workflow_tests.yml
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/consequences_enrichment.tabular
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/consequences_summary.tabular
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/splicing_enrichment.tabular
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/splicing_summary.tabular
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/switching_gene_isoforms.tabular
Labels: transcriptomics, template-and-tools

#4143 fix importing via links snippet
  topics/single-cell/tutorials/scrna-case_monocle3-rstudio/preamble.md
Labels: single-cell

#4142 Updates for Learning Pathways
  _layouts/learning-pathway.html
  learning-pathways/intro-to-galaxy-and-ecology.md
  learning-pathways/train-the-trainers.md
Labels: template-and-tools

#4117 Improvements & polish for mtb tutorials
  topics/evolution/metadata.yaml
  topics/evolution/tutorials/mtb_phylogeny/images/mtbc_1strainPerLineage.nwk.COMB.svg
  topics/evolution/tutorials/mtb_phylogeny/images/tree_unrooted_galaxy_vis.png
  topics/evolution/tutorials/mtb_phylogeny/tutorial.md
  topics/evolution/tutorials/mtb_transmission/tutorial.md
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
Labels: variant-analysis, evolution

#4145 Alternative splicing training: minor modifications
  news/_posts/2023-04-19-shortlinks.md
  news/_posts/2023-05-11-ro-crate.md
  news/_posts/2023-05-15-isoform-usage-training.md
  news/images/isoform_usage_post.jpg
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.md
Labels: transcriptomics, news

#4146 Alternative splicing training: fix typo in abbreviation definition
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.md
Labels: transcriptomics

#4147 [16S mothur tutorial] update workflows and remove Phinch section
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow1_quality_control.ga
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow2_data_cleaning.ga
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow3_classification.ga
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow4_mock_otu_clustering.ga
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow5_otu_clustering.ga
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow6_alpha_diversity.ga
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow7_beta_diversity.ga
  topics/metagenomics/tutorials/mothur-miseq-sop/content.md
Labels: metagenomics

#4150 16S short: update workflows
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow2_data_cleaning.ga
  topics/metagenomics/tutorials/mothur-miseq-sop-short/workflows/workflow3_classification.ga
Labels: metagenomics

#4149 Update 10x scRNA preprocessing tutorial
  topics/single-cell/tutorials/scrna-preprocessing-tenx/tutorial.md
  topics/single-cell/tutorials/scrna-preprocessing-tenx/workflows/scRNA-seq-Preprocessing-TenX-test.yml
  topics/single-cell/tutorials/scrna-preprocessing-tenx/workflows/scRNA-seq-Preprocessing-TenX.ga
  topics/single-cell/tutorials/scrna-preprocessing-tenx/workflows/scrna_tenx.ga
Labels: single-cell

#4153 Alternative splicing training: improve introduction
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.md
Labels: transcriptomics

#4158 Updates to both ToolFactory topics to fix broken installation instructions.
  .github/workflows/ci-main.yml
  bin/validate-frontmatter.rb
  metadata/one-health.yaml
  news/_posts/2023-05-15-isoform-usage-training.md
  topics/dev/images/ToolFactory_big_picture.png
  topics/dev/tutorials/tool-generators-advanced/tutorial.md
  topics/dev/tutorials/tool-generators/tutorial.md
Labels: dev, template-and-tools, news

#4160 Lots of polishing for the simple SARS-CoV-2 variant analysis tutorial
  topics/variant-analysis/images/get_runinfo.png
  topics/variant-analysis/images/metadata_from_run_selector.png
  topics/variant-analysis/tutorials/sars-cov-2/tutorial.bib
  topics/variant-analysis/tutorials/sars-cov-2/tutorial.md
Labels: variant-analysis

#4163 Update pox-virus-tiled-amplicon-ref-masking.ga
  topics/variant-analysis/tutorials/pox-tiled-amplicon/workflows/pox-virus-tiled-amplicon-ref-masking.ga
Labels: variant-analysis

#4167 Update tutorial.md - workflow name typo
  topics/assembly/tutorials/largegenome/tutorial.md
Labels: assembly

#4166 Add FAIR data and RO-Crate module
  CONTRIBUTORS.yaml
  _includes/default-footer.html
  _layouts/tutorial_hands_on.html
  bin/schema-tutorial.yaml
  topics/fair/images/ro-crate-intro/crate1-folders.png
  topics/fair/images/ro-crate-intro/crate1-folders.svg
  topics/fair/images/ro-crate-intro/introduction-figure-1.png
  topics/fair/images/ro-crate-intro/introduction-figure-1.svg
  topics/fair/images/ro-crate-intro/jsonld-playground-table.png
  topics/fair/images/ro-crate-intro/jsonld-playground-visualized.png
  topics/fair/images/ro-crate-intro/ro-crate-preview-example.png
  topics/fair/tutorials/ro-crate-intro/rainfall-1.2.1/data.csv
  topics/fair/tutorials/ro-crate-intro/rainfall-1.2.1/index.html
  topics/fair/tutorials/ro-crate-intro/rainfall-1.2.1/ro-crate-metadata.json
  topics/fair/tutorials/ro-crate-intro/rainfall-1.2.1/ro-crate-preview.html
  topics/fair/tutorials/ro-crate-intro/rainfall-1.2.1/ro-crate-preview_files/bootstrap.min.css
  topics/fair/tutorials/ro-crate-intro/rainfall-1.2.1/ro-crate-preview_files/font-awesome.min.css
  topics/fair/tutorials/ro-crate-intro/rainfall-1.2.1/ro-crate-preview_files/ro-crate-dynamic.js
  topics/fair/tutorials/ro-crate-intro/tutorial.md
Labels: template-and-tools

#4136 Convert numerous workflow imports to automatic versions
  topics/assembly/tutorials/largegenome/tutorial.md
  topics/computational-chemistry/tutorials/zauberkugel/tutorial.md
  topics/fair/tutorials/ro-crate-in-galaxy/tutorial.md
  topics/galaxy-interface/tutorials/workflow-reports/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101-everyone/tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/proteomics/tutorials/metaquantome-data-creation/tutorial.md
  topics/synthetic-biology/tutorials/basic_assembly_analysis/tutorial.md
  topics/synthetic-biology/tutorials/pathway_analysis/tutorial.md
  topics/synthetic-biology/tutorials/retrosynthesis_analysis/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
Labels: introduction, transcriptomics, assembly, proteomics, galaxy-interface, computational-chemistry, synthetic-biolocy

#4176 Fix TRS import for workflows with capital letters
  _plugins/gtn.rb
  bin/workflow-test.rb
Labels: template-and-tools

#4177 Fix workflow parameter tutorial for updated Add_a_column1 tool
  topics/galaxy-interface/tutorials/workflow-parameters/tutorial.md
Labels: galaxy-interface

#4179 Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4180 Methyl-seq updates
  faqs/galaxy/datasets_import_from_data_library.md
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
Labels: epigenetics, faqs

#4168 Expand the FAIR Training Topic
  CONTRIBUTORS.yaml
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
  topics/fair/images/fair_gtn.png
  topics/fair/images/fair_open.png
  topics/fair/metadata.yaml
  topics/fair/tutorials/data-management/faqs/index.md
  topics/fair/tutorials/data-management/tutorial.md
  topics/fair/tutorials/fair-gtn/faqs/index.md
  topics/fair/tutorials/fair-gtn/tutorial.bib
  topics/fair/tutorials/fair-gtn/tutorial.md
  topics/fair/tutorials/fair-intro/faqs/index.md
  topics/fair/tutorials/fair-intro/tutorial.bib
  topics/fair/tutorials/fair-intro/tutorial.md
  topics/variant-analysis/tutorials/somatic-variant-discovery/tutorial.md
Labels: variant-analysis, template-and-tools, epigenetics
