Repository galaxyproject/training-material, pull requests merged in 2024-07, with the labels that each got.

#5112 Drop help@galaxyproject.org from US help
  faqs/galaxy/support_admins.md
Labels: faqs

#4846 History tutorial update
  _config.yml
  faqs/galaxy/datasets_add_tag.md
  faqs/galaxy/datasets_deleting.md
  faqs/galaxy/datasets_hidden.md
  faqs/galaxy/datasets_multiple.md
  faqs/galaxy/datasets_undelete.md
  faqs/galaxy/datasets_unhidden.md
  faqs/galaxy/histories_annotation.md
  faqs/galaxy/histories_create_new.md
  faqs/galaxy/histories_dataset_colors.md
  faqs/galaxy/histories_dataset_item.md
  faqs/galaxy/histories_datasets_vs_collections.md
  faqs/galaxy/histories_options.md
  faqs/galaxy/histories_rename.md
  faqs/galaxy/histories_switch.md
  faqs/galaxy/histories_tagging.md
  faqs/galaxy/histories_top_control_buttons.md
  faqs/galaxy/histories_undelete.md
  faqs/galaxy/images/histories_undelete.gif
  faqs/galaxy/images/multiselect.gif
  faqs/gtn/gtn_faq_create.md
  shared/images/datasets_deleting.gif
  shared/images/datasets_hide.gif
  shared/images/datasets_undeleting.gif
  shared/images/datasets_unhide.gif
  shared/images/galactic_colors.svg
  shared/images/histories_why_nametags.svg
  shared/images/history_annotations.png
  shared/images/history_item_collapsed.png
  shared/images/history_item_expanded.png
  shared/images/history_size_storage_views.png
  shared/images/history_tags.png
  shared/images/history_top_level_buttons.svg
  shared/images/list_of_histories.png
  shared/images/paired_collection.svg
  shared/images/simple_collection.svg
  topics/galaxy-interface/images/details.png
  topics/galaxy-interface/images/history.svg
  topics/galaxy-interface/images/history_options.png
  topics/galaxy-interface/images/summary.png
  topics/galaxy-interface/tutorials/history/tutorial.md
Labels: template-and-tools, galaxy-interface, faqs

#5102 Added placeholder text when no feedback has been recieved yet.
  _layouts/tutorial_hands_on.html
Labels: template-and-tools

#5113 Biont event added as external event
  events/2024-09-10-biont-rnaseq.md
Labels: template-and-tools

#5091 Cofest
  _layouts/topic-maintainer.html
  _plugins/jekyll-topic-filter.rb
  bin/lint.rb
  faqs/gtn/gtn_faq_create.md
  faqs/gtn/translations.md
  faqs/random.html
  topics/assembly/maintainer.md
  topics/climate/maintainer.md
  topics/computational-chemistry/maintainer.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/ecology/maintainer.md
  topics/epigenetics/maintainer.md
  topics/evolution/maintainer.md
  topics/galaxy-interface/maintainer.md
  topics/genome-annotation/maintainer.md
  topics/imaging/maintainer.md
  topics/introduction/maintainer.md
  topics/materials-science/maintainer.md
  topics/metabolomics/maintainer.md
  topics/microbiome/maintainer.md
  topics/proteomics/maintainer.md
  topics/sequence-analysis/maintainer.md
  topics/statistics/maintainer.md
  topics/synthetic-biology/maintainer.md
  topics/transcriptomics/maintainer.md
  topics/variant-analysis/maintainer.md
  topics/visualisation/maintainer.md
  user/privacy.md
  user/theme.md
Labels: variant-analysis, introduction, transcriptomics, template-and-tools, assembly, epigenetics, proteomics, contributing, metabolomics, sequence-analysis, genome-annotation, statistics, galaxy-interface, computational-chemistry, ecology, imaging, climate, visualisation, faqs, evolution, synthetic-biolocy, microbiome, materials-science

#5094 Change Matrix to Slack for user-facing channels
  _config.yml
  _includes/default-footer.html
  faqs/galaxy/analysis_troubleshooting.md
  faqs/galaxy/images/slack-logo.png
Labels: template-and-tools, faqs

#5118 misc small fixes
  _includes/tutorial_list.html
  _layouts/event.html
  _plugins/jekyll-jsonld.rb
  assets/js/anchor.min.js
  search2.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  workflows/embed.html
Labels: template-and-tools, contributing

#5121 [Events] allow missing metadata
  _includes/calendar-buttons.html
  _includes/event-table.html
  _layouts/event.html
  _plugins/gtn.rb
  _plugins/jekyll-jsonld.rb
  events/2023-04-17-gat-gent.md
  faqs/gtn/gtn_event_create.md
Labels: template-and-tools, faqs

#5126 Event form updates
  _layouts/recordings.html
  bin/google-form-event.rb
  events/index.md
  faqs/gtn/gtn_event_create.md
  faqs/gtn/recordings_add.md
  faqs/gtn/recordings_create.md
  news/_posts/2024-06-14-gtn-video-library.md
Labels: template-and-tools, faqs, news

#5127 Ref-based RNA-seq: updated tools in tutorial.md before training
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/ref-based/workflows/deg-analysis-tests.yml
  topics/transcriptomics/tutorials/ref-based/workflows/deg-analysis.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting-paired-and-single-tests.yml
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting-paired-and-single.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting-tests.yml
  topics/transcriptomics/tutorials/ref-based/workflows/qc-mapping-counting.ga
Labels: transcriptomics

#5130 Fix location formatting
  _includes/calendar-buttons.html
Labels: template-and-tools

#5131 Minor formatting change to make yellow-outline Comment box appear in UI
  topics/dev/tutorials/visualization-charts/tutorial.md
Labels: dev

#5133 Correct my name in contributors.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5142 [Events] added location field to Google Form
  bin/google-form-event.rb
Labels: template-and-tools

#5144 [News From] fix key names for cover image metadata
  bin/google-form-news.rb
Labels: template-and-tools

#5106 New tutorials - What is a SIG and how to make a SIG! - WIP
  metadata/community.yaml
  topics/community/README.md
  topics/community/faqs/governance_gcb.md
  topics/community/faqs/governance_gcb_join.md
  topics/community/faqs/governance_structure.md
  topics/community/faqs/index.md
  topics/community/faqs/meeting_times.md
  topics/community/images/matrix-badge.jpeg
  topics/community/images/matrix-badge.png
  topics/community/images/matrix-badge.svg
  topics/community/images/mind_map.svg
  topics/community/images/structure.png
  topics/community/images/timezones.png
  topics/community/index.md
  topics/community/maintainer.md
  topics/community/metadata.yaml
  topics/community/tutorials/sig_create/faqs/index.md
  topics/community/tutorials/sig_create/tutorial.md
  topics/community/tutorials/sig_define/faqs/index.md
  topics/community/tutorials/sig_define/tutorial.md
Labels: template-and-tools

#5148 [GitHub Actions] fix yaml loading for ruby 3.1+
  bin/google-form-event.rb
  bin/google-form-faq.rb
  bin/google-form-recordings.rb
Labels: template-and-tools

#5086 Add news post, pending photo
  .github/workflows/ci.yml
  _includes/contributor-quilt.html
  _includes/tutorial_list.html
  bin/validate-frontmatter.rb
  branding/index.md
  learning-pathways/building_tutorials.md
  news/_posts/2024-07-09-gcc-updates.md
  news/_posts/2024-07-17-google-forms.md
  news/images/2024-gcc-updates.png
  news/images/2024-google-forms.png
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial_ES.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
  topics/statistics/tutorials/CNN/tutorial.md
  topics/statistics/tutorials/fruit_360/tutorial.md
  topics/statistics/tutorials/gpu_jupyter_lab/tutorial.md
Labels: introduction, template-and-tools, statistics, news

#5120 July workshop
  CONTRIBUTORS.yaml
  events/2024-07-22-freiburg-july.md
Labels: template-and-tools

#5152 Update my job title
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4972 WiP / Draft - Galaxy SSA Poll Results Slides
  _includes/contributor-human-icons.html
  _includes/contributor-list2.html
  assets/css/slides.scss
  bin/schema-slides.yaml
  bin/schema-tutorial.yaml
  topics/admin/images/poll-ssa/01-Active-Users.jpg
  topics/admin/images/poll-ssa/02-DB-Tech.png
  topics/admin/images/poll-ssa/03-Computing-Method.png
  topics/admin/images/poll-ssa/04-Object-Store-Backend.png
  topics/admin/images/poll-ssa/06-End-User-Support-Burden.jpg
  topics/admin/images/poll-ssa/07-User-Training-Burden.jpg
  topics/admin/images/poll-ssa/08A-User-Tool-Dev-Local.png
  topics/admin/images/poll-ssa/08B-User-Tool-Dev-Planemo.png
  topics/admin/images/poll-ssa/09-Admin-Workflow-Dev-Burden.jpg
  topics/admin/images/poll-ssa/10-Admin-Tool-Dev-Planemo.png
  topics/admin/images/poll-ssa/11-Admin-Tool-Dev-Storage.png
  topics/admin/images/poll-ssa/12-Admin-Tool-Dev-Creation-Burden.jpg
  topics/admin/images/poll-ssa/13-Admin-Tool-Dev-Updating-Burden.jpg
  topics/admin/images/poll-ssa/14-Tool-Dev-Packaging-Method.png
  topics/admin/images/poll-ssa/15-Tool-Dev-Packaging-Burden.jpg
  topics/admin/images/poll-ssa/16-DB-Schema-Update-Frequency.jpg
  topics/admin/images/poll-ssa/17-DB-Schema-Update-Duration.jpg
  topics/admin/images/poll-ssa/18-Galaxy-Upgrades-Ansible.png
  topics/admin/images/poll-ssa/19-Galaxy-Upgrades-Current-Version.jpg
  topics/admin/images/poll-ssa/20-Galaxy-Upgrades-Frequency.jpg
  topics/admin/images/poll-ssa/21-Galaxy-Upgrades-Duration.jpg
  topics/admin/images/poll-ssa/22-DB-Backup-Frequency.jpg
  topics/admin/images/poll-ssa/23-Intentional-Restarts-Frequency.jpg
  topics/admin/images/poll-ssa/24-Crashes-Frequency.jpg
  topics/admin/images/poll-ssa/25-Other-Recurrent-Tasks-Duration.jpg
  topics/admin/images/poll-ssa/26-Total-Time-Non-Dev-Admin-Tasks.png
  topics/admin/tutorials/poll-ssa/faqs/index.md
  topics/admin/tutorials/poll-ssa/slides.html
Labels: admin, template-and-tools

#4973 Add new training for scATAC-seq analysis using SnapATAC2
  CONTRIBUTORS.yaml
  topics/single-cell/faqs/single_cell_omics.md
  topics/single-cell/images/scatac-standard-snapatac2/anndata_schema.svg
  topics/single-cell/images/scatac-standard-snapatac2/doublets-and-scrublet.png
  topics/single-cell/images/scatac-standard-snapatac2/log_pl.frag_size.png
  topics/single-cell/images/scatac-standard-snapatac2/magic_method.png
  topics/single-cell/images/scatac-standard-snapatac2/number_features.png
  topics/single-cell/images/scatac-standard-snapatac2/pl.frag_size.png
  topics/single-cell/images/scatac-standard-snapatac2/pl.tsse.png
  topics/single-cell/images/scatac-standard-snapatac2/pl.umap.png
  topics/single-cell/images/scatac-standard-snapatac2/snapatac2-pipeline.png
  topics/single-cell/images/scatac-standard-snapatac2/tenx_libprep_scatac.png
  topics/single-cell/images/scatac-standard-snapatac2/umap_cell-types.png
  topics/single-cell/images/scatac-standard-snapatac2/umap_leiden_marker-genes.png
  topics/single-cell/tutorials/scatac-preprocessing-tenx/tutorial.md
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/data-library.yaml
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/faqs/index.md
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/tutorial.bib
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/tutorial.md
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/Standard-processing-of-10X-single-cell-ATAC-seq-data-with-SnapATAC2-tests.yml
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/Standard-processing-of-10X-single-cell-ATAC-seq-data-with-SnapATAC2.ga
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/index.md
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/Replace_file.tabular
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/cell_type_annotation.tabular
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/final_inspect_anndata.txt
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/leiden_annotation.tabular
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/plot_frag_size.png
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/plot_log_frag_size.png
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/plot_tsse.png
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/umap_cell-type.png
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/umap_leiden-clusters.png
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/test-data/umap_marker-genes.png
Labels: template-and-tools, single-cell

#5157 Remove duplicated instructions in hands-on box
  topics/evolution/tutorials/mtb_transmission/tutorial.md
Labels: evolution

#5155 SnapATAC2 tutorial: update data-library.yaml
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/data-library.yaml
Labels: single-cell

#5154 new-tutorial-announcement-snapatac2-standard
  CONTRIBUTORS.yaml
  news/_posts/2024-07-12-tutorial-snapatac-standard.md
Labels: template-and-tools, news

#5153 Cc2024
  events/2024-11-12-biont-CC2024.md
  news/_posts/2024-07-11-CC2024-registration.md
Labels: template-and-tools, news

#5062 Add 'Quality and contamination control in bacterial isolate using Illumina MiSeq Data' tutorial
  CONTRIBUTORS.yaml
  learning-pathways/amr-gene-detection.md
  topics/sequence-analysis/tutorials/quality-contamination-control/data-library.yaml
  topics/sequence-analysis/tutorials/quality-contamination-control/faqs/index.md
  topics/sequence-analysis/tutorials/quality-contamination-control/images/recentrifuge.html
  topics/sequence-analysis/tutorials/quality-contamination-control/recentrifuge_report.html
  topics/sequence-analysis/tutorials/quality-contamination-control/tutorial.bib
  topics/sequence-analysis/tutorials/quality-contamination-control/tutorial.md
  topics/sequence-analysis/tutorials/quality-contamination-control/workflows/Quality_and_contamination_control_in_bacterial_isolate_using_Illumina_MiSeq_Data-tests.yml
  topics/sequence-analysis/tutorials/quality-contamination-control/workflows/Quality_and_contamination_control_in_bacterial_isolate_using_Illumina_MiSeq_Data.ga
  topics/sequence-analysis/tutorials/quality-contamination-control/workflows/index.md
Labels: template-and-tools, sequence-analysis

#5165 Itemised feed
  _layouts/event.html
  _plugins/feeds.rb
  feeds/index.md
Labels: template-and-tools

#5163 Fix geocoding ci job
  _layouts/event.html
  assets/css/images/marker-icon-2x.png
  assets/css/images/marker-shadow-2x.png
  bin/geocode.rb
  events/2024-09-02-eurobioc2024-carpentries-workshops.md
Labels: template-and-tools

#5170 Correct title for Mycobacterium tuberculosis NGS made easy blog post
  news/_posts/2024-07-08-4th-mycobamycobacterium-tuberculosis-complex-ngs-made-easy.md
Labels: news

#5171 Cc2024
  FUNDERS.yaml
  news/_posts/2024-07-11-CC2024-registration.md
Labels: template-and-tools, news

#5174 Ref-based RNA-seq: updated tutorial.md before training
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics

#5177 News Post: Galaxy Administrator Time Burden and Technology Usage
  bin/schema-news.yaml
  news/_posts/2024-07-22-Galaxy-Administrator-Time-Burden-and-Technology-Usage.md
  news/images/2024-Galaxy-Administrator-Burden.jpg
Labels: template-and-tools, news

#5178 Update Galaxy Interactive tools training (path-based tools and general review)
  topics/admin/tutorials/interactive-tools/tutorial.md
Labels: admin

#5132 added wkflw run snippets to VGP wkflw tutorial
  .github/workflows/ci.yml
  faqs/galaxy/workflows_run_ds.md
  faqs/galaxy/workflows_run_trs.md
  faqs/galaxy/workflows_run_wfh.md
  news/_posts/2023-12-12-tutorial-run-wfh-ds.md
  news/_posts/2024-03-28-by-covid-pathways.md
  topics/assembly/tutorials/vgp_workflow_training/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/microbiome/tutorials/dada-16S/tutorial.md
  topics/transcriptomics/tutorials/minerva-pathways/tutorial.md
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
  workflows/trs_import.html
Labels: variant-analysis, transcriptomics, template-and-tools, assembly, contributing, faqs, news, microbiome

#5184 Fix rendering issue in Filter Plot and Explore (Python) tutorial
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/tutorial.md
Labels: single-cell

#5114 New single-cell formats and sources slide deck
  topics/single-cell/images/scrna-data-formats/anndata-object.png
  topics/single-cell/images/scrna-data-formats/gene-expression-diagram-cells.png
  topics/single-cell/images/scrna-data-formats/gene-expression-diagram-genes.png
  topics/single-cell/images/scrna-data-formats/gene-expression-diagram-matrix.png
  topics/single-cell/images/scrna-data-formats/gene-expression-diagram-metadata.png
  topics/single-cell/images/scrna-data-formats/gene-expression-diagram.png
  topics/single-cell/images/scrna-data-formats/tabular-example.png
  topics/single-cell/images/scrna-data-formats/unzip-tool.png
  topics/single-cell/tutorials/scrna-data-formats/slides.bib
  topics/single-cell/tutorials/scrna-data-formats/slides.html
Labels: single-cell

#5063 Pathogen detection from (direct Nanopore) sequencing data using Galaxy - Foodborne Edition
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: microbiome

#5189 Fix typo in VGP tutorial
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: assembly
