Repository galaxyproject/training-material, pull requests merged in 2024-09, with the labels that each got.

#5264 VGP short (workflow) tutorial edits
  topics/assembly/images/vgp_assembly/busco_after_contiging.svg
  topics/assembly/images/vgp_assembly/quast_plot.png
  topics/assembly/tutorials/vgp_workflow_training/tutorial.md
Labels: assembly

#5272 Update maxquant and msstats tutorial
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.bib
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
Labels: proteomics

#5277 update version tools
  topics/genome-annotation/tutorials/lncrna/tutorial.md
Labels: genome-annotation

#5266 VGP longform tutorial edits
  CONTRIBUTORS.yaml
  topics/assembly/images/vgp_assembly/WF3vsWF4_decisiontree.png
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: template-and-tools, assembly

#5236 Creation of a tutorial for Asssembly decontamination
  topics/assembly/tutorials/assembly-decontamination/data-library.yaml
  topics/assembly/tutorials/assembly-decontamination/faqs/index.md
  topics/assembly/tutorials/assembly-decontamination/tutorial.bib
  topics/assembly/tutorials/assembly-decontamination/tutorial.md
  topics/assembly/tutorials/assembly-decontamination/workflows/index.md
  topics/assembly/tutorials/assembly-decontamination/workflows/main_workflow-tests.yml
  topics/assembly/tutorials/assembly-decontamination/workflows/main_workflow.ga
Labels: assembly

#5280 [GTA] Rename microbiome track file and restructure the section
  events/tracks/gta2024-microbiome.md
Labels: template-and-tools

#5283 Gta2024
  CONTRIBUTORS.yaml
  events/galaxy-academy-2024.md
  events/tracks/gta2024-assembly.md
  events/tracks/gta2024-bacterial-genomics.md
  events/tracks/gta2024-bycovid.md
  events/tracks/gta2024-microbiome.md
  events/tracks/gta2024-ml.md
  events/tracks/gta2024-single-cell.md
  events/tracks/gta2024-transcriptomics.md
Labels: template-and-tools

#5286 Fix link to microbiome track
  events/galaxy-academy-2024.md
Labels: template-and-tools

#5265 Update galaxy-intro-short slides
  topics/assembly/images/tool_search.png
  topics/introduction/images/event_horizon.png
  topics/introduction/images/galaxy_history_dataset_expand.gif
  topics/introduction/images/galaxy_interface_multiple_histories.png
  topics/introduction/images/galaxy_tool.png
  topics/introduction/images/publish.PNG
  topics/introduction/images/publish.png
  topics/introduction/images/shared_data.png
  topics/introduction/images/shared_data_legacy.png
  topics/introduction/images/tool_favorite.png
  topics/introduction/images/tool_run.gif
  topics/introduction/images/tool_search.png
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/slides.html
Labels: introduction, assembly

#5287 Update history interface tutorial.md
  topics/galaxy-interface/images/history.png
  topics/galaxy-interface/tutorials/history/tutorial.md
  topics/galaxy-interface/tutorials/search/search.md
Labels: galaxy-interface

#5296 Update tutorial.md http => https metadatacenter cedar api
  topics/ecology/tutorials/MetaShARK_tutorial/tutorial.md
Labels: ecology

#5299 Update plot confusion matrix tool's version in the workflow
  topics/statistics/tutorials/classification_machinelearning/workflows/ml_classification.ga
Labels: statistics

#5288 Add tips to regular expression FAQ
  faqs/galaxy/analysis_regular_expressions.md
Labels: faqs

#5282 Update splicing tutorial
  topics/transcriptomics/images/differential_isoform/ADD3_WB.png
  topics/transcriptomics/images/differential_isoform/fastqc_per_base_sequence_quality.png
  topics/transcriptomics/images/differential_isoform/full_workflow.png
  topics/transcriptomics/images/differential_isoform/galaxyworkflow.drawio
  topics/transcriptomics/images/differential_isoform/galaxyworkflow.drawio.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_consequences_features.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_consequences_isoform.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_consequences_isoform_fulldata.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_gene.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_isoform_usage.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_splicing_event.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_splicing_event_fulldata.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_summary.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_summary_fulldata.png
  topics/transcriptomics/images/differential_isoform/isoformSwitchAnalyzer_volcano.png
  topics/transcriptomics/images/differential_isoform/list_genes.png
  topics/transcriptomics/images/differential_isoform/pgt_ADD3.png
  topics/transcriptomics/images/differential_isoform/pgt_ADD3_zoom.png
  topics/transcriptomics/images/differential_isoform/pgt_RGMB_zoom_in.png
  topics/transcriptomics/images/differential_isoform/pgt_RGMB_zoom_out.png
  topics/transcriptomics/images/differential_isoform/pgt_intronic.png
  topics/transcriptomics/images/differential_isoform/rnaQUAST_NAx.png
  topics/transcriptomics/images/differential_isoform/rnaQUAST_cumulative_isoform.png
  topics/transcriptomics/images/differential_isoform/rnaQUAST_summary_table.png
  topics/transcriptomics/images/differential_isoform/rseqc_gene_body_coverage_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_infer_experiment_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_inner_distance_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_junction_annotation_junctions_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_junction_annotation_junctions_plot_events.png
  topics/transcriptomics/images/differential_isoform/rseqc_junction_annotation_junctions_plot_junctions.png
  topics/transcriptomics/images/differential_isoform/rseqc_junction_saturation_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_junction_saturation_plot_known.png
  topics/transcriptomics/images/differential_isoform/rseqc_junction_saturation_plot_novel.png
  topics/transcriptomics/images/differential_isoform/rseqc_read_distribution_plot.png
  topics/transcriptomics/images/differential_isoform/rseqc_read_distribution_plot_all.png
  topics/transcriptomics/images/differential_isoform/rseqc_read_distribution_plot_rare.png
  topics/transcriptomics/images/differential_isoform/slides/STAR_pipeline.drawio
  topics/transcriptomics/images/differential_isoform/slides/STAR_pipeline.drawio.png
  topics/transcriptomics/images/differential_isoform/slides/STAR_pipeline.png
  topics/transcriptomics/images/differential_isoform/slides/consequences_plot.png
  topics/transcriptomics/images/differential_isoform/slides/full_workflow.png
  topics/transcriptomics/images/differential_isoform/slides/initial_QC.png
  topics/transcriptomics/images/differential_isoform/slides/rnaQUAST_cumulative_isoform.png
  topics/transcriptomics/images/differential_isoform/slides/rseqc_junction_saturation_plot.png
  topics/transcriptomics/images/differential_isoform/slides/simple_workflow.png
  topics/transcriptomics/images/differential_isoform/star_alignment.png
  topics/transcriptomics/tutorials/differential-isoform-expression/slides.html
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.bib
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.md
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/main_workflow-tests.yml
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/main_workflow.cwl
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/main_workflow.ga
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/consequences_enrichment.tabular
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/consequences_summary.tabular
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/splicing_enrichment.tabular
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/splicing_summary.tabular
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/test-data/switching_gene_isoforms.tabular
Labels: transcriptomics

#5270 Contigs built - Update tutorial.md
  topics/assembly/tutorials/general-introduction/tutorial.md
Labels: assembly

#5273 Create tool version FAQ to help debugging
  topics/single-cell/faqs/sc_version.md
Labels: single-cell

#5309 Add metaproteomics to GTA microbiome track
  events/tracks/gta2024-microbiome.md
Labels: template-and-tools

#4942 New Training: Introduction to Data Management Plan (DMP) for Peatland Research and PeatDataHub
  CONTRIBUTORS.yaml
  topics/fair/tutorials/data-management-peatlands/faqs/index.md
  topics/fair/tutorials/data-management-peatlands/tutorial.bib
  topics/fair/tutorials/data-management-peatlands/tutorial.md
Labels: template-and-tools, fair

#5285 Update FAQ about 22.01 to 23.0
  topics/admin/faqs/galaxy-update-22.05.md
Labels: admin

#5297 Updates to single cell coded tutorials
  topics/single-cell/images/scrna-casestudy/fa2_modified.png
  topics/single-cell/tutorials/EBI-retrieval/tutorial.md
  topics/single-cell/tutorials/alevin-commandline/preamble.md
  topics/single-cell/tutorials/alevin-commandline/tutorial.md
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/preamble.md
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/tutorial.md
Labels: single-cell

#5311 add videos to GTN tutorials
  topics/computational-chemistry/tutorials/med-chem-data/tutorial.md
  topics/fair/tutorials/bioimage-REMBI/tutorial.md
  topics/fair/tutorials/fair-clinical/tutorial.md
  topics/single-cell/tutorials/EBI-retrieval/tutorial.md
  topics/single-cell/tutorials/scrna-ncbi-anndata/tutorial.md
Labels: computational-chemistry, single-cell, fair

#5300 Updating case study tutorials
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.bib
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.md
Labels: single-cell

#5315 Update tutorial.md to put in "analysis" section
  topics/ecology/tutorials/marine_omics_bgc/tutorial.md
Labels: ecology

#5281 Adding single cell GO enrichment tutorial
  CONTRIBUTORS.yaml
  topics/single-cell/images/GO-enrichment/slides_images/components_5.png
  topics/single-cell/images/GO-enrichment/slides_images/enrichment_7.png
  topics/single-cell/images/GO-enrichment/slides_images/example1_16.png
  topics/single-cell/images/GO-enrichment/slides_images/example2.png
  topics/single-cell/images/GO-enrichment/slides_images/example2_int.png
  topics/single-cell/images/GO-enrichment/slides_images/example_6.png
  topics/single-cell/images/GO-enrichment/slides_images/go_3.png
  topics/single-cell/images/GO-enrichment/slides_images/go_enrichment_8.png
  topics/single-cell/images/GO-enrichment/slides_images/hierarchy_4.png
  topics/single-cell/images/GO-enrichment/slides_images/interpretation_18.png
  topics/single-cell/images/GO-enrichment/slides_images/m_17.png
  topics/single-cell/images/GO-enrichment/slides_images/ontology_2.png
  topics/single-cell/images/GO-enrichment/slides_images/purpose_19.png
  topics/single-cell/images/GO-enrichment/slides_images/roadmap_1.png
  topics/single-cell/images/GO-enrichment/slides_images/step1_9.png
  topics/single-cell/images/GO-enrichment/slides_images/step2_10.png
  topics/single-cell/images/GO-enrichment/slides_images/step3_11.png
  topics/single-cell/images/GO-enrichment/slides_images/step4_12.png
  topics/single-cell/images/GO-enrichment/slides_images/step5_13.png
  topics/single-cell/images/GO-enrichment/slides_images/step6_14.png
  topics/single-cell/images/GO-enrichment/slides_images/step7_15.png
  topics/single-cell/images/workflow.png
  topics/single-cell/tutorials/GO-enrichment/data-library.yaml
  topics/single-cell/tutorials/GO-enrichment/faqs/index.md
  topics/single-cell/tutorials/GO-enrichment/slides.html
  topics/single-cell/tutorials/GO-enrichment/tutorial.bib
  topics/single-cell/tutorials/GO-enrichment/tutorial.md
  topics/single-cell/tutorials/GO-enrichment/workflows/index.md
  topics/single-cell/tutorials/GO-enrichment/workflows/main_workflow-tests.yml
  topics/single-cell/tutorials/GO-enrichment/workflows/main_workflow.ga
Labels: template-and-tools, single-cell

#5319 Fix bad link in circos, other minor
  _plugins/jekyll-jsonld.rb
  topics/teaching/tutorials/galaxy-admin-training/tutorial.md
  topics/variant-analysis/tutorials/trio-analysis/tutorial.md
  topics/visualisation/tutorials/circos-microbial/tutorial.md
  topics/visualisation/tutorials/circos/tutorial.md
  topics/visualisation/tutorials/jbrowse/tutorial.md
Labels: variant-analysis, template-and-tools, teaching, visualisation

#5322 Fix for CYOA videos
  _includes/youtube.html
  _layouts/recordings.html
  bin/schema-tutorial.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics, template-and-tools

#5324 Updating input history link in text
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
Labels: single-cell

#5317 Update tutorial.md add analysis topic
  topics/ecology/tutorials/Ecoregionalization_tutorial/tutorial.md
Labels: ecology

#5327 Create tutorial_mode-sc.md
  topics/single-cell/faqs/gtn-in-galaxy_mode-cs.md
Labels: single-cell

#5330 typo
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.md
Labels: single-cell

#5329 Update gtn-in-galaxy_mode-cs.md
  topics/single-cell/faqs/gtn-in-galaxy_mode-cs.md
Labels: single-cell

#5321 set filetypes in workflow test of isoform
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/main_workflow-tests.yml
Labels: transcriptomics

#5334 Update tutorial.md add tags, add warning and correct typos
  topics/ecology/tutorials/Ecoregionalization_tutorial/tutorial.md
Labels: ecology

#5335 Update tuto as Galaxy is not displaying properly file with too many columns
  topics/ecology/tutorials/Ecoregionalization_tutorial/Images/pivot_file_example.png
  topics/ecology/tutorials/Ecoregionalization_tutorial/tutorial.md
Labels: ecology

#5332 Update Single-cell PBMC 3k clustering tutorial
  topics/single-cell/images/scrna-scanpy-pbmc3k/dotplot_annotated_clusters.png
  topics/single-cell/images/scrna-scanpy-pbmc3k/qc_violin_plot.png
  topics/single-cell/images/scrna-scanpy-pbmc3k/umap_after_clustering.png
  topics/single-cell/images/scrna-scanpy-pbmc3k/umap_annotated_clusters.png
  topics/single-cell/images/scrna-scanpy-pbmc3k/umap_before_clustering.png
  topics/single-cell/images/scrna-scanpy-pbmc3k/umap_plot_marker_genes.png
  topics/single-cell/images/scrna-scanpy-pbmc3k/violin_plot_marker_genes.png
  topics/single-cell/images/scrna-scanpy-pbmc3k/violin_plot_rank_genes_groups_CST3_NKG7_PPBP.png
  topics/single-cell/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Labels: single-cell

#5316 Update tutorial.md add tags
  topics/ecology/tutorials/champs-blocs/tutorial.md
Labels: ecology

#5293 update Beacon tutorials
  topics/variant-analysis/tutorials/beacon_cnv_query/data-library.yaml
  topics/variant-analysis/tutorials/beacon_cnv_query/tutorial.md
  topics/variant-analysis/tutorials/somatic-variant-discovery/tutorial.md
Labels: variant-analysis

#5336 fix workflow test for diff isoform tutorial
  topics/transcriptomics/tutorials/differential-isoform-expression/workflows/main_workflow-tests.yml
Labels: transcriptomics

#5338 match updated Scanpy fa2-modified, add an option to download input data
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/tutorial.md
Labels: single-cell

#5342 Fix linking to sections within tabs
  _layouts/event.html
  _plugins/gtn.rb
Labels: template-and-tools

#5343 minor GitHub tweaks
  .github/pull_request_template.md
  .github/workflows/ci.yml
Labels: template-and-tools

#5350 temporarily hide docker images while they aren't updated
  _includes/instance-dropdown.html
  _layouts/topic.html
Labels: template-and-tools

#5355 correct the scanpy tool names in the tutorial
  topics/single-cell/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Labels: single-cell

#5301 update IT entrypoint subdomain
  topics/admin/tutorials/interactive-tools/slides.html
  topics/admin/tutorials/interactive-tools/tutorial.md
Labels: admin

#5356 fixes linter for workflow tags
  bin/lint.rb
Labels: template-and-tools

#5346 added Slack channels to the gta event page
  _layouts/event-track.html
  events/galaxy-academy-2024.md
  events/tracks/gta2024-assembly.md
  events/tracks/gta2024-bacterial-genomics.md
  events/tracks/gta2024-bycovid.md
  events/tracks/gta2024-microbiome.md
  events/tracks/gta2024-ml.md
  events/tracks/gta2024-proteomics.md
  events/tracks/gta2024-single-cell.md
  events/tracks/gta2024-transcriptomics.md
Labels: template-and-tools

#5359 Move to e-learning learningResourceType
  _plugins/jekyll-jsonld.rb
  _plugins/util.rb
Labels: template-and-tools

#5360 Update workflow best practices tutorial
  _config.yml
  faqs/galaxy/workflows_best_practices.md
  topics/fair/tutorials/ro-crate-galaxy-best-practices/img/workflow-entry.png
  topics/fair/tutorials/ro-crate-galaxy-best-practices/img/workflow-invocation.png
  topics/fair/tutorials/ro-crate-galaxy-best-practices/img/workflow-run-page.png
  topics/fair/tutorials/ro-crate-galaxy-best-practices/tutorial.md
  topics/fair/tutorials/ro-crate-submitting-life-monitor/tutorial.md
Labels: template-and-tools, faqs, fair

#5344 Support tutorial mode via postMessage
  _config.yml
  assets/js/main.js
  assets/js/tutorial-mode.js
Labels: template-and-tools

#5363 broken box
  topics/data-science/tutorials/sql-advanced/tutorial.md
Labels: data-science

#5366 Only scroll if hash given in url
  _layouts/event.html
Labels: template-and-tools

#5370 Update pangolin version used in SARS-CoV-2 variant discovery tutorial
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/tutorial.md
Labels: variant-analysis

#5368 Fix remaining broken boxes since our checker stopped working
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
  topics/community/tutorials/sig_define/tutorial.md
  topics/dev/tutorials/community-tool-table/tutorial.md
  topics/dev/tutorials/tool-annotation/tutorial.md
  topics/dev/tutorials/tool-from-scratch/tutorial.md
  topics/dev/tutorials/tool-generators-advanced/tutorial.md
  topics/fair/tutorials/fair-data-registration/tutorial.md
  topics/fair/tutorials/ro-crate-galaxy-best-practices/tutorial.md
  topics/genome-annotation/tutorials/secondary-metabolite-discovery/tutorial.md
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
  topics/single-cell/tutorials/GO-enrichment/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.md
  topics/variant-analysis/tutorials/beacon_cnv_query/tutorial.md
  topics/variant-analysis/tutorials/beaconise_1000hg/tutorial.md
Labels: dev, variant-analysis, transcriptomics, assembly, genome-annotation, single-cell, fair, microbiome

#5379 EncyclopeDIA typo in URL
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Labels: proteomics

#5369 PWDK now available on usegalaxy.org
  faqs/gtn/gtn_workflow_testing.md
  topics/fair/tutorials/ro-crate-galaxy-best-practices/tutorial.md
Labels: faqs, fair

#5381 update registration deadline
  events/galaxy-academy-2024.md
Labels: template-and-tools

#5339 Add new ecology tutorial on identifying mycorrhizal fungi using lotus2 tool
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  shared/images/spun-logo.png
  topics/microbiome/tutorials/lotus2-identifying-fungi/images/history-build-list-of-dataset-pairs.png
  topics/microbiome/tutorials/lotus2-identifying-fungi/images/history-download-zip.png
  topics/microbiome/tutorials/lotus2-identifying-fungi/tutorial.bib
  topics/microbiome/tutorials/lotus2-identifying-fungi/tutorial.md
  topics/microbiome/tutorials/lotus2-identifying-fungi/workflows/index.md
  topics/microbiome/tutorials/lotus2-identifying-fungi/workflows/lotus2-fungi-workflow-tests.yml
  topics/microbiome/tutorials/lotus2-identifying-fungi/workflows/lotus2-fungi-workflow.ga
Labels: template-and-tools, microbiome

#5382 tiny edits to LOTUS2
  topics/microbiome/tutorials/lotus2-identifying-fungi/tutorial.md
Labels: microbiome
