Repository galaxyproject/training-material, pull requests merged in 2024-11, with the labels that each got.

#5498 Update tutorial.md
  topics/dev/tutorials/community-tool-table/tutorial.md
Labels: dev

#5500 Fix typo
  topics/dev/tutorials/tool-annotation/tutorial.md
Labels: dev

#5478 improve security of some workflows
  .github/workflows/ci-main.yml
  .github/workflows/ci.yml
  .github/workflows/cron-commit-cache.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-build.yaml
  .github/workflows/docker-build.yaml.txt
  .github/workflows/git-gat.yml
  .github/workflows/google-form-events.yml
  .github/workflows/google-form-faqs.yml
  .github/workflows/google-form-news.yml
  .github/workflows/google-form-recordings.yml
  .github/workflows/matrix.yml
  .github/workflows/monthly-release-backfill.yml
  .github/workflows/monthly-release.yml
  .github/workflows/optimize-images.yml
  .github/workflows/shortlinks.yaml
  .github/workflows/social.yml
  .github/workflows/update-libraries.yaml
  .github/workflows/video-dry.yml
  .github/workflows/video.yml
  .github/workflows/workflowhub.yml
  _includes/instance-dropdown.html
  _layouts/topic.html
Labels: template-and-tools

#5501 Update biotools
  topics/dev/tutorials/tool-annotation/tutorial.md
Labels: dev

#5503 [Community Tool Table Generation] Update the process to curate TS filtered community tool table
  topics/dev/tutorials/community-tool-table/tutorial.md
Labels: dev

#5499 [BHEU2024] Update the "Introduction to image analysis using Galaxy" and "HeLa screen analysis" tutorials
  topics/imaging/images/hela-screen-analysis/analyze_screen_workflow.png
  topics/imaging/images/hela-screen-analysis/feature_extraction_workflow.png
  topics/imaging/images/imaging-introduction/LittleJobIcons.png
  topics/imaging/tutorials/hela-screen-analysis/tutorial.md
  topics/imaging/tutorials/hela-screen-analysis/workflows/analyze_screen-tests.yml
  topics/imaging/tutorials/hela-screen-analysis/workflows/analyze_screen.ga
  topics/imaging/tutorials/hela-screen-analysis/workflows/feature_extraction-tests.yml
  topics/imaging/tutorials/hela-screen-analysis/workflows/feature_extraction.ga
  topics/imaging/tutorials/hela-screen-analysis/workflows/test-data/analyze_screen_output.tabular
  topics/imaging/tutorials/hela-screen-analysis/workflows/test-data/feature_extraction_output.tabular
  topics/imaging/tutorials/imaging-introduction/tutorial.md
  topics/imaging/tutorials/imaging-introduction/workflows/Galaxy-Workflow-GTN_Tutorial__Introduction_to_Imaging-tests.yml
  topics/imaging/tutorials/imaging-introduction/workflows/Galaxy-Workflow-GTN_Tutorial__Introduction_to_Imaging.ga
  topics/imaging/tutorials/imaging-introduction/workflows/test-data/out.png
Labels: imaging

#5505 Fix last section of the `hela-screen-analysis` tutorial
  topics/imaging/tutorials/hela-screen-analysis/tutorial.md
Labels: imaging

#5507 Add an FAQ to explain how to prepare a tutorial to support tutorial mode
  faqs/gtn/gtn_event_create.md
  faqs/gtn/gtn_tutorial_mode.md
  faqs/gtn/gtn_workflow_testing.md
  faqs/gtn/images/tool_toolshed_link.png
  faqs/gtn/my-galaxy-training.md
  faqs/gtn/why-the-gtn.md
Labels: faqs

#5492 Update tutorial.md_Assembly
  topics/assembly/tutorials/assembly-decontamination/tutorial.md
Labels: assembly

#5510 Update Reference-based RNA-Seq data analysis
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics

#5496 Add caveat, simplified celery deployment option that doesn't use RabbitMQ/Redis/Flower
  faqs/galaxy/collections_change_datatype.md
  topics/admin/tutorials/celery/tutorial.md
  topics/admin/tutorials/celeryless/tutorial.md
Labels: admin, faqs

#5489 fixes faqs on contribs
  _layouts/contributor_index.html
  _plugins/author-page.rb
Labels: template-and-tools

#5371 misc jsonld
  _plugins/jekyll-jsonld.rb
Labels: template-and-tools

#5513 misc framework
  .github/workflows/monthly-release.yml
  _layouts/recordings.html
  _plugins/feeds.rb
  _plugins/jekyll-jsonld.rb
  _plugins/sitemap.rb
  _plugins_dev/sitemap-fake.rb
  bin/last-month-on.rb
  faqs/gtn/recordings_add.md
  learning-pathways/beyond_single_cell.md
  learning-pathways/intro_single_cell.md
Labels: template-and-tools, faqs

#5518 Gitpod tutorial updates
  404.md
  Makefile
  topics/contributing/images/github_update_fork.png
  topics/contributing/tutorials/gitpod/images/gitpod-home.png
  topics/contributing/tutorials/gitpod/images/gitpod-launched.png
  topics/contributing/tutorials/gitpod/images/gitpod-workspace.png
  topics/contributing/tutorials/gitpod/tutorial.md
Labels: template-and-tools, contributing

#5517 add wip pdf2slides script
  bin/pdf2slides.py
Labels: template-and-tools

#5512 Add a third way to run DESeq2 in Ref-based tuto
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics

#5519 Reorder tutorrials in Contributing topic
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-slides/slides.html
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
  topics/contributing/tutorials/gitpod/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
Labels: contributing

#5521 [Gitpod] Add tip box about configuring prebuilds
  topics/contributing/tutorials/gitpod/images/gitpod-prebuilds.png
  topics/contributing/tutorials/gitpod/tutorial.md
Labels: contributing

#5522 GTN in CodeSpaces tutorial
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/welcome-message.txt
  Makefile
  topics/contributing/tutorials/running-codespaces/faqs/index.md
  topics/contributing/tutorials/running-codespaces/images/codespaces-commit-1.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-commit-2.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-compare-pr.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-export-to-branch.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-home.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-launch.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-make-preview.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-ports-preview-buttons.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-ports-tab.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-preview-editor.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-regenerating.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-reloaded.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-stop-1.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-stop-2.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-tutorial-edited.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-viewbutton.png
  topics/contributing/tutorials/running-codespaces/tutorial.md
Labels: template-and-tools, contributing

#5526 add registration link to SPOC CoFest
  events/2024-12-06-spoc-cofest-2024.md
Labels: template-and-tools

#5528 Fix CYOA of collection split in Ref-based
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics

#5529 update training for CYOA if space in option
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Labels: contributing

#5531 lint cyoa branches
  _plugins/gtn.rb
  _plugins/util.rb
  bin/lint.rb
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/galaxy-interface/tutorials/workflow-posters/tutorial.md
  topics/single-cell/tutorials/scrna-case_FilterPlotandExplore_SeuratTools/tutorial.md
Labels: template-and-tools, contributing, galaxy-interface, single-cell

#5534 more codespaces config
  Makefile
Labels: template-and-tools

#5537 Update GitHub Actions workflows
  .github/workflows/cron-commit-cache.yml
  .github/workflows/google-form-events.yml
  .github/workflows/google-form-faqs.yml
  .github/workflows/google-form-news.yml
  .github/workflows/google-form-recordings.yml
  .github/workflows/shortlinks.yaml
  .github/workflows/update-libraries.yaml
Labels: template-and-tools

#5535 Update GitHub Actions Workflow for Image Optimization
  .github/workflows/optimize-images.yml
Labels: template-and-tools

#5536 Update GitHub Actions Workflow for workflowhub
  .github/workflows/workflowhub.yml
Labels: template-and-tools

#5514 New Tutorial: Detection of Mitoflashes
  topics/imaging/images/detection-of-mitoflashes/Curve_fitting_results_mitoflash.png
  topics/imaging/images/detection-of-mitoflashes/Workflow_mitoflash.png
  topics/imaging/tutorials/detection-of-mitoflashes/faqs/index.md
  topics/imaging/tutorials/detection-of-mitoflashes/tutorial.bib
  topics/imaging/tutorials/detection-of-mitoflashes/tutorial.md
  topics/imaging/tutorials/detection-of-mitoflashes/workflows/Capturing-mitoflashes-tests.yml
  topics/imaging/tutorials/detection-of-mitoflashes/workflows/Capturing-mitoflashes.ga
  topics/imaging/tutorials/detection-of-mitoflashes/workflows/index.md
Labels: imaging

#5551 add about page
  _includes/contributor-quilt.html
  _includes/cta.html
  _includes/default-footer.html
  _layouts/page.html
  about.md
  assets/images/mastodon.svg
  assets/images/tutorial-overview.png
  assets/images/undraw_accessible.svg
  assets/images/undraw_automation.svg
  assets/images/undraw_community.svg
  assets/images/undraw_developer.svg
  assets/images/undraw_online_learning.svg
  assets/images/undraw_open_source.svg
  bin/lint.rb
  faqs/gtn/gtn-what-is-it.md
  shared/images/interactive_training-old.png
  shared/images/interactive_training.png
Labels: template-and-tools, faqs

#5563 Update security guide reference
  faqs/galaxy/analysis_reporting_issues.md
  topics/admin/tutorials/upgrading/tutorial.md
Labels: admin, faqs

#5555 Fix percentage
  topics/microbiome/tutorials/metagenomics-assembly/tutorial.md
Labels: microbiome

#5565 Fixes bibtex formatting issues in training material bibtex export
  _layouts/tutorial_hands_on.html
Labels: template-and-tools

#5552 Create a Subdomain
  topics/admin/images/create_subdomain/add_customize_tool.png
  topics/admin/images/create_subdomain/add_gxit.png
  topics/admin/images/create_subdomain/customize_tool.png
  topics/admin/images/create_subdomain/earth_system_subdo_gxit.png
  topics/admin/images/create_subdomain/earth_system_subdo_infra.png
  topics/admin/tutorials/subdomain/faqs/index.md
  topics/admin/tutorials/subdomain/tutorial.md
Labels: admin

#5559 Tutorial on updating tutorials
  _config.yml
  topics/contributing/tutorials/updating_tutorial/tutorial.bib
  topics/contributing/tutorials/updating_tutorial/tutorial.md
Labels: template-and-tools, contributing

#5541 Fix MRSA nanopore tutorial CYOA
  topics/assembly/tutorials/mrsa-nanopore/tutorial.md
  topics/microbiome/tutorials/beer-data-analysis/tutorial.md
Labels: assembly, microbiome
