Repository galaxyproject/training-material, pull requests merged in 2024-08, with the labels that each got.

#4282 Creation of Diversity tutorial
  topics/microbiome/tutorials/diversity/images/alpha_diversity.svg
  topics/microbiome/tutorials/diversity/images/alpha_diversity_richness_evenness.png
  topics/microbiome/tutorials/diversity/images/alphadiversity_metrics.png
  topics/microbiome/tutorials/diversity/images/bracken_output.png
  topics/microbiome/tutorials/diversity/images/diversity_differences.png
  topics/microbiome/tutorials/diversity/images/hill_numbers.png
  topics/microbiome/tutorials/diversity/images/test
  topics/microbiome/tutorials/diversity/images/unifrac.png
  topics/microbiome/tutorials/diversity/krona-kraken.html
  topics/microbiome/tutorials/diversity/tutorial.bib
  topics/microbiome/tutorials/diversity/tutorial.md
  topics/microbiome/tutorials/diversity/workflow/test
Labels: metagenomics, microbiome

#5191 Set diversity toturial to draft until finalized
  topics/microbiome/tutorials/diversity/tutorial.md
Labels: microbiome

#5192 [Bacterial Genome Annotation] Update tool versions
  topics/genome-annotation/tutorials/bacterial-genome-annotation/tutorial.md
  topics/genome-annotation/tutorials/bacterial-genome-annotation/workflows/Bacterial-Genome-Annotation.ga
Labels: genome-annotation

#5197 Avoid duplicate Recording PRs from Google Form
  .github/workflows/google-form-recordings.yml
  bin/google-form-recordings.rb
Labels: template-and-tools

#5193 Update diversity toturial
  topics/microbiome/tutorials/diversity/data-library.yaml
  topics/microbiome/tutorials/diversity/images/unifrac.png
  topics/microbiome/tutorials/diversity/tutorial.md
  topics/microbiome/tutorials/diversity/workflow/test
  topics/microbiome/tutorials/diversity/workflows/index.md
  topics/microbiome/tutorials/diversity/workflows/workflow-tests.yml
  topics/microbiome/tutorials/diversity/workflows/workflow.ga
Labels: microbiome

#5202 Add subtopic for diversity toturial
  topics/microbiome/tutorials/diversity/tutorial.md
Labels: microbiome

#5190 Add beacon2 tutorial
  topics/variant-analysis/images/Beacon_framework_and_model.png
  topics/variant-analysis/images/phenopacket-schema-v2-overview.png
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/beacon_cnv_query/faqs/index.md
  topics/variant-analysis/tutorials/beacon_cnv_query/tutorial.bib
  topics/variant-analysis/tutorials/beacon_cnv_query/tutorial.md
  topics/variant-analysis/tutorials/beaconise_1000hg/data-library.yaml
  topics/variant-analysis/tutorials/beaconise_1000hg/faqs/index.md
  topics/variant-analysis/tutorials/beaconise_1000hg/tutorial.bib
  topics/variant-analysis/tutorials/beaconise_1000hg/tutorial.md
Labels: variant-analysis

#5206 Update tutorial.md Prokka typo
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
Labels: genome-annotation

#5205 fix typing error
  topics/variant-analysis/tutorials/beaconise_1000hg/tutorial.md
Labels: variant-analysis

#5210 add GTN YouTube thumbnail images
  videos/images/video_cover.png
  videos/images/video_cover_cyoa.png
  videos/images/video_cover_lecture.png
Labels: template-and-tools

#5212 improve recordings metadata yaml formatting
  bin/google-form-recordings.rb
Labels: template-and-tools

#5209 Add Filtering Hands-on to Data Manipulation Olympics.md
  CONTRIBUTORS.yaml
  topics/introduction/tutorials/data-manipulation-olympics/tutorial.md
Labels: introduction, template-and-tools

#5204 Major update of the introduction to microbiome analysis
  topics/microbiome/images/Experimental-workflows-for-mainstream-omics-analysis-types-Arrow-colours-indicate-omics.png
  topics/microbiome/images/binning.png
  topics/microbiome/images/diversity_differences.png
  topics/microbiome/images/individual-assembly.png
  topics/microbiome/images/maaslin2.jpg
  topics/microbiome/tutorials/introduction/slides.html
Labels: microbiome

#5213 Adding Video recordings to the tutorials
  learning-pathways/clinical-metaproteomics.md
  topics/proteomics/tutorials/clinical-mp-1-database-generation/tutorial.md
  topics/proteomics/tutorials/clinical-mp-1-database-generation/workflows/WF1_Database_Generation_Workflow.ga
  topics/proteomics/tutorials/clinical-mp-1-database-generation/workflows/index.md
  topics/proteomics/tutorials/clinical-mp-2-discovery/tutorial.md
  topics/proteomics/tutorials/clinical-mp-2-discovery/workflows/WF2_Discovery-Workflow.ga
  topics/proteomics/tutorials/clinical-mp-2-discovery/workflows/index.md
  topics/proteomics/tutorials/clinical-mp-3-verification/tutorial.md
  topics/proteomics/tutorials/clinical-mp-3-verification/workflows/WF3_Verification_Workflow.ga
  topics/proteomics/tutorials/clinical-mp-3-verification/workflows/index.md
  topics/proteomics/tutorials/clinical-mp-4-quantitation/tutorial.md
  topics/proteomics/tutorials/clinical-mp-4-quantitation/workflows/WF4_Quantitation_Workflow.ga
  topics/proteomics/tutorials/clinical-mp-4-quantitation/workflows/index.md
  topics/proteomics/tutorials/clinical-mp-5-data-interpretation/tutorial.md
  topics/proteomics/tutorials/clinical-mp-5-data-interpretation/workflows/WF5_Data_Interpretation_Worklow.ga
  topics/proteomics/tutorials/clinical-mp-5-data-interpretation/workflows/index.md
Labels: template-and-tools, proteomics

#5219 dada2: bit of polishing
  topics/microbiome/tutorials/dada-16S/tutorial.md
Labels: microbiome

#5218 Corrections to the SnapATAC2 standard processing tutorial
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/tutorial.md
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/workflows/Standard-processing-of-10X-single-cell-ATAC-seq-data-with-SnapATAC2.ga
Labels: single-cell

#5217 rename Shared Data to Data
  faqs/galaxy/datasets_import_from_data_library.md
  topics/epigenetics/tutorials/estrogen-receptor-binding-site-identification/tutorial.md
  topics/microbiome/tutorials/general-tutorial/tutorial.md
  topics/transcriptomics/tutorials/mirna-target-finder/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
Labels: transcriptomics, epigenetics, faqs, microbiome

#5215 Ocean variables big update
  topics/climate/tutorials/ocean-variables/tutorial.md
  topics/climate/tutorials/ocean-variables/workflows/main_workflow-tests.yml
  topics/climate/tutorials/ocean-variables/workflows/main_workflow.ga
Labels: climate

#5214 Created a learning pathway for GTA- proteogenomics.md
  learning-pathways/clinical-metaproteomics.md
  learning-pathways/proteogenomics.md
  shared/images/proteomics.png
  topics/proteomics/README.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Labels: template-and-tools, proteomics

#5225 Update confusion matrices
  topics/statistics/tutorials/classification_machinelearning/images/confusion_matrix_NN.png
  topics/statistics/tutorials/classification_machinelearning/images/confusion_matrix_bagging.png
  topics/statistics/tutorials/classification_machinelearning/images/confusion_matrix_linear.png
  topics/statistics/tutorials/classification_machinelearning/tutorial.md
Labels: statistics

#5229 Update matrix link
  topics/single-cell/index.md
Labels: single-cell

#5228 Update of ro-crate export
  topics/fair/tutorials/ro-crate-in-galaxy/images/show_invocation.png
  topics/fair/tutorials/ro-crate-in-galaxy/images/workflow-invocation-export.png
  topics/fair/tutorials/ro-crate-in-galaxy/images/workflow-invocation-summary.png
  topics/fair/tutorials/ro-crate-in-galaxy/tutorial.md
Labels: fair

#5234 Adding Natalie WA to GTN contributors list
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5232 Update short introduction tutorial.md with interface changes for 24.1
  CONTRIBUTORS.yaml
  _config.yml
  faqs/galaxy/histories_import.md
  faqs/galaxy/histories_sharing.md
  shared/images/rename_history.png
  topics/introduction/images/copy-dataset.gif
  topics/introduction/images/eye-icon.png
  topics/introduction/images/filter-fastq1.png
  topics/introduction/images/galaxy-login.png
  topics/introduction/images/galaxy_interface.png
  topics/introduction/images/galaxy_interface_history_switch.png
  topics/introduction/images/intro_short_run_workflow.png
  topics/introduction/images/intro_short_workflow_list.png
  topics/introduction/images/rerun.png
  topics/introduction/images/upload-box.png
  topics/introduction/images/upload-data.png
  topics/introduction/images/upload-data_old.png
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: introduction, template-and-tools, faqs

#5230 Added myself to CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5235 Add a new question about gene annotations to PBMC3k tutorial
  CONTRIBUTORS.yaml
  topics/single-cell/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Labels: template-and-tools, single-cell

#5224 Marine omics new tuto
  topics/ecology/images/marineomics/genbank.png
  topics/ecology/images/marineomics/history.png
  topics/ecology/images/marineomics/interproscan.png
  topics/ecology/images/marineomics/prodigal.png
  topics/ecology/images/marineomics/rocrate.png
  topics/ecology/images/marineomics/sanntis.png
  topics/ecology/images/marineomics/showinvoc.png
  topics/ecology/images/marineomics/workflowinvoc.png
  topics/ecology/tutorials/marine_omics_bgc/faqs/index.md
  topics/ecology/tutorials/marine_omics_bgc/tutorial.bib
  topics/ecology/tutorials/marine_omics_bgc/tutorial.md
  topics/ecology/tutorials/marine_omics_bgc/workflows/index.md
  topics/ecology/tutorials/marine_omics_bgc/workflows/main_workflow-tests.yml
  topics/ecology/tutorials/marine_omics_bgc/workflows/main_workflow.ga
  topics/ecology/tutorials/marine_omics_bgc/workflows/test-data/Clean_protein_fasta_file.fasta
  topics/ecology/tutorials/marine_omics_bgc/workflows/test-data/Fasta_nucelotide_file.fasta
  topics/ecology/tutorials/marine_omics_bgc/workflows/test-data/Genbank_file.genbank
  topics/ecology/tutorials/marine_omics_bgc/workflows/test-data/Protein_fasta_file.fasta
  topics/ecology/tutorials/marine_omics_bgc/workflows/test-data/SMBGC_Annotation.gff3
  topics/ecology/tutorials/marine_omics_bgc/workflows/test-data/Tabular_file.tabular
Labels: ecology

#5176 [WIP] Event page Galaxy Training Academy
  CONTRIBUTORS.yaml
  FUNDERS.yaml
  _layouts/event-track.html
  _layouts/event.html
  assets/images/MWK.png
  events/2024-04-01-example-event.md
  events/galaxy-academy-2024.md
  events/tracks/gta2024-assembly.md
  events/tracks/gta2024-bacterial-genomeics.md
  events/tracks/gta2024-bycovid.md
  events/tracks/gta2024-micorbiome.md
  events/tracks/gta2024-ml.md
  events/tracks/gta2024-proteomics.md
  events/tracks/gta2024-single-cell.md
  events/tracks/gta2024-transcriptomics.md
Labels: template-and-tools

#5241 Events framework updates
  _layouts/event.html
  bin/schema-event.yaml
  bin/validate-other.rb
  events/2024-04-01-example-event.md
  events/2024-07-22-freiburg-july.md
  events/galaxy-academy-2024.md
  learning-pathways/fair-training.md
Labels: template-and-tools

#5242 Academy tweaks
  _layouts/event.html
  assets/css/main.scss
  events/galaxy-academy-2024.md
Labels: template-and-tools

#5243 added python workshop
  events/2024-10-17-biont-python.md
Labels: template-and-tools

#5244 Updating my contact info in Contributors section
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5245 registration link and intro program update
  _layouts/event.html
  events/galaxy-academy-2024.md
Labels: template-and-tools

#5247 [Event] updated instructor lists
  events/tracks/gta2024-assembly.md
  events/tracks/gta2024-bacterial-genomeics.md
  events/tracks/gta2024-single-cell.md
Labels: template-and-tools

#4876 Add Helixer training
  topics/genome-annotation/tutorials/funannotate/tutorial.md
  topics/genome-annotation/tutorials/helixer/data-library.yaml
  topics/genome-annotation/tutorials/helixer/faqs/index.md
  topics/genome-annotation/tutorials/helixer/tutorial.bib
  topics/genome-annotation/tutorials/helixer/tutorial.md
  topics/genome-annotation/tutorials/helixer/workflows/Helixer-tests.yml
  topics/genome-annotation/tutorials/helixer/workflows/Helixer.ga
  topics/genome-annotation/tutorials/helixer/workflows/index.md
  topics/genome-annotation/tutorials/helixer/workflows/test-data/sequence.fasta
Labels: genome-annotation

#5256 Fixed some typos in (Helixer) tutorial.md
  topics/genome-annotation/tutorials/helixer/tutorial.md
Labels: genome-annotation

#5257 add enabling rocrate locally
  topics/fair/tutorials/ro-crate-in-galaxy/tutorial.md
Labels: fair

#5259 updates of the peaks to genes tutorials
  topics/galaxy-interface/images/upload_button.png
  topics/introduction/images/101_01.png
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Labels: introduction, galaxy-interface

#5255 Update CONTRIBUTORS.yaml - contribution to microGalaxy technical paper
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5261 Galaxy Training Academy: Update bacterial genomics track
  events/galaxy-academy-2024.md
  events/tracks/gta2024-bacterial-genomeics.md
  events/tracks/gta2024-bacterial-genomics.md
Labels: template-and-tools
