Repository galaxyproject/training-material, pull requests merged in 2024-02, with the labels that each got.

#4677 New Bacterial genome annotation tutorial
  learning-pathways/genome-annotation-prokaryote.md
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/raw/7e37ab7a5f0a1610de9d213b6a714666_0.gff.gz
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/raw/7e37ab7a5f0a1610de9d213b6a714666_0.gff.gz.tbi
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/raw/dd555b269a8894688c3c7551d0d6a868_0.gff.gz
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/raw/dd555b269a8894688c3c7551d0d6a868_0.gff.gz.tbi
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/raw/e1c36f2c4382e60836c6c4b4d8026fa5_0.gff.gz
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/raw/e1c36f2c4382e60836c6c4b4d8026fa5_0.gff.gz.tbi
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/seq/genome.fasta
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/seq/genome.fasta.fai
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/seq/refSeqs.json
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/trackList.json
  topics/genome-annotation/tutorials/bacterial-genome-annotation/data/tracks.conf
  topics/genome-annotation/tutorials/bacterial-genome-annotation/faqs/index.md
  topics/genome-annotation/tutorials/bacterial-genome-annotation/images/bakta_plot.png
  topics/genome-annotation/tutorials/bacterial-genome-annotation/images/bakta_plot.svg
  topics/genome-annotation/tutorials/bacterial-genome-annotation/images/bakta_wf.png
  topics/genome-annotation/tutorials/bacterial-genome-annotation/tutorial.bib
  topics/genome-annotation/tutorials/bacterial-genome-annotation/tutorial.md
  topics/genome-annotation/tutorials/bacterial-genome-annotation/workflows/Bacterial-Genome-Annotation-tests.yml
  topics/genome-annotation/tutorials/bacterial-genome-annotation/workflows/Bacterial-Genome-Annotation.ga
  topics/genome-annotation/tutorials/bacterial-genome-annotation/workflows/index.md
Labels: template-and-tools, genome-annotation

#4696 cleaned up practical part
  topics/data-science/tutorials/gnmx-lecture3/tutorial.md
Labels: data-science

#4695 Add inline contributor badges from `@gtn:username`
  _includes/contributor-badge-inline.html
  _plugins/gtn.rb
  assets/css/main.scss
  news/_posts/2021-03-16-slides_to_videos.md
  news/_posts/2021-04-06-new-video-player.md
  news/_posts/2021-05-20-spanish_project_begins.md
  news/_posts/2021-05-25-abbreviations-tag.md
  news/_posts/2021-05-25-new-dev-tutorial.md
  news/_posts/2021-07-27-a11y.md
  topics/admin/tutorials/gxadmin/tutorial.md
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.md
  topics/dev/tutorials/tool-generators-advanced/tutorial.md
  topics/dev/tutorials/tool-generators/tutorial.md
Labels: admin, dev, template-and-tools, assembly, news

#4693 Minor clarifications and consistency improvements for the ML RNN tutorial
  topics/statistics/tutorials/RNN/tutorial.md
Labels: statistics

#4697 Update AMR gene detection pathway
  learning-pathways/amr-gene-detection.md
Labels: template-and-tools

#4692 PostmarketOS Galaxy Joke Post
  news/_posts/2024-01-31-postmarketos.md
  news/images/2024-01-31-postmarket-phone-cover.jpg
  news/images/2024-01-31-postmarket-phone.jpg
Labels: news

#4698 Update tutorial.md typo * -> "
  topics/ecology/tutorials/Metashrimps_tutorial/tutorial.md
Labels: ecology

#4690 send news to goats
  _plugins/gtn.rb
  bin/news.rb
Labels: template-and-tools

#4701 fix deploy not degrading gracefully
  bin/news.rb
  bin/workflows-fetch.rb
Labels: template-and-tools

#4703 Update datasets_icons.md
  faqs/galaxy/datasets_icons.md
Labels: faqs

#4704 Lecture 4 for genomics course...
  learning-pathways/data-driven-biology.md
  topics/data-science/tutorials/gnmx-lecture4/images/orfs.svg
  topics/data-science/tutorials/gnmx-lecture4/tutorial.md
Labels: template-and-tools, data-science

#4529 created 5 clinical metaproteomics tutorials
  CONTRIBUTORS.yaml
  clinical-mp-data-interpretation-figure2.jpeg
  topics/proteomics/README.md
  topics/proteomics/images/clinical-mp/clinical-mp-data-interpretation-figure2.jpg
  topics/proteomics/images/clinical-mp/clinical-mp-data-interpretation-figure3.jpg
  topics/proteomics/images/clinical-mp/clinical-mp-data-interpretation.JPG
  topics/proteomics/images/clinical-mp/clinical-mp-database-generation.JPG
  topics/proteomics/images/clinical-mp/clinical-mp-discovery.JPG
  topics/proteomics/images/clinical-mp/clinical-mp-overview.JPG
  topics/proteomics/images/clinical-mp/clinical-mp-quantification.JPG
  topics/proteomics/images/clinical-mp/clinical-mp-verification-1.JPG
  topics/proteomics/images/clinical-mp/clinical-mp-verification-2.JPG
  topics/proteomics/images/cmp-figure1.png
  topics/proteomics/metadata.yaml
  topics/proteomics/tutorials/clinical-mp-data-interpretation/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-data-interpretation/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-data-interpretation/tutorial.md
  topics/proteomics/tutorials/clinical-mp-data-verification/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-data-verification/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-data-verification/tutorial.md
  topics/proteomics/tutorials/clinical-mp-database-generation/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-database-generation/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-database-generation/tutorial.md
  topics/proteomics/tutorials/clinical-mp-discovery/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-discovery/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-discovery/tutorial.md
  topics/proteomics/tutorials/clinical-mp-quantitation/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-quantitation/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-quantitation/tutorial.md
  topics/proteomics/tutorials/metaquantome-data-creation/tutorial.md
Labels: template-and-tools, proteomics

#4706 use hreflang attribute to indicate a link will be in another language
  _includes/resource-handson.html
  _includes/resource-slides.html
Labels: template-and-tools

#4713 Add mod_date/pub_date to api responses
  _plugins/jekyll-topic-filter.rb
Labels: template-and-tools

#4707 Created learning pathways and renamed the modules
  learning-pathways/clinical-metaproteomics.md
  topics/proteomics/README.md
  topics/proteomics/tutorials/clinical-mp-1-database-generation/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-1-database-generation/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-1-database-generation/tutorial.md
  topics/proteomics/tutorials/clinical-mp-2-discovery/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-2-discovery/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-2-discovery/tutorial.md
  topics/proteomics/tutorials/clinical-mp-3-verification/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-3-verification/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-3-verification/tutorial.md
  topics/proteomics/tutorials/clinical-mp-4-quantitation/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-4-quantitation/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-4-quantitation/tutorial.md
  topics/proteomics/tutorials/clinical-mp-5-data-interpretation/faqs/index.md
  topics/proteomics/tutorials/clinical-mp-5-data-interpretation/tutorial.bib
  topics/proteomics/tutorials/clinical-mp-5-data-interpretation/tutorial.md
Labels: template-and-tools, proteomics

#4717 renamed verification tutorial
  topics/proteomics/tutorials/clinical-mp-3-verification/tutorial.md
Labels: proteomics

#4716 some text edits for VGP longform tut
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: assembly

#4689 oembed news post
  assets/images/oembed.png
  news/_posts/2024-01-30-oembed-testing.md
Labels: template-and-tools, news

#4655 Update affiliations CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  shared/images/logo-vib.png
Labels: template-and-tools

#4683 Implement stellar nursery
  _plugins/jekyll-topic-filter.rb
  utils/stellar-nursery.md
Labels: template-and-tools

#4719 Add eurosciencegateway affiliation to tutorial
  topics/fair/tutorials/ro-crate-in-galaxy/tutorial.md
Labels: fair

#4720 fix instance listing
  _layouts/workflow-list.html
  faqs/gtn/contributors_getting_started.md
  faqs/gtn/contributors_tours.md
  short/galaxy.html
  topics/admin/tutorials/introduction/slides.html
  topics/galaxy-interface/tutorials/ncbi-sarf/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/slides.html
  topics/introduction/tutorials/galaxy-intro-short/slides_CAT_ES.html
  topics/introduction/tutorials/galaxy-reproduce/tutorial.md
  topics/teaching/tutorials/workshop-intro/slides.html
  topics/transcriptomics/tutorials/rna-seq-reads-to-counts/tutorial.md
Labels: admin, introduction, transcriptomics, template-and-tools, galaxy-interface, teaching, faqs

#4590 New tutorial - single cell data import and format conversion
  _includes/cyoa-choice-fr.html
  _includes/cyoa-choices.html
  assets/js/main.js
  bin/lint.rb
  news/_posts/2024-01-17-sc-fair-data.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/ecology/tutorials/champs-blocs/tutorial_FR.md
  topics/single-cell/images/scrna-data/HCA.jpg
  topics/single-cell/images/scrna-data/exp_id.jpg
  topics/single-cell/tutorials/EBI-retrieval/tutorial.md
  topics/single-cell/tutorials/alevin-commandline/tutorial.md
  topics/single-cell/tutorials/bulk-music-2-preparescref/tutorial.md
  topics/single-cell/tutorials/bulk-music-3-preparebulk/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-data-ingest/faqs/index.md
  topics/single-cell/tutorials/scrna-data-ingest/tutorial.bib
  topics/single-cell/tutorials/scrna-data-ingest/tutorial.md
  topics/single-cell/tutorials/scrna-data-ingest/workflows/AnnData-to-Cell-Data-Set-(CDS)-conversion-test.yml
  topics/single-cell/tutorials/scrna-data-ingest/workflows/AnnData-to-Cell-Data-Set-(CDS)-conversion.ga
  topics/single-cell/tutorials/scrna-data-ingest/workflows/AnnData-to-Seurat-conversion-test.yml
  topics/single-cell/tutorials/scrna-data-ingest/workflows/AnnData-to-Seurat-conversion.ga
  topics/single-cell/tutorials/scrna-data-ingest/workflows/AnnData-to-SingleCellExperiment-(SCE)-conversion-test.yml
  topics/single-cell/tutorials/scrna-data-ingest/workflows/AnnData-to-SingleCellExperiment-(SCE)-conversion.ga
  topics/single-cell/tutorials/scrna-data-ingest/workflows/index.md
  topics/single-cell/tutorials/scrna-data-ingest/workflows/test-data/CDS Monocle file.rdata
  topics/single-cell/tutorials/scrna-data-ingest/workflows/test-data/Converted SCE object.rdata
  topics/single-cell/tutorials/scrna-data-ingest/workflows/test-data/Converted Seurat object.rdata
  topics/single-cell/tutorials/scrna-data-ingest/workflows/test-data/Inspect AnnData_ obs.tabular
  topics/single-cell/tutorials/scrna-data-ingest/workflows/test-data/Inspect AnnData_ var.tabular
  topics/single-cell/tutorials/scrna-ncbi-anndata/tutorial.md
Labels: template-and-tools, contributing, new tutorial, ecology, news, single-cell

#4723 added lecture5 ...
  learning-pathways/data-driven-biology.md
  topics/data-science/tutorials/gnmx-lecture5/tutorial.md
Labels: template-and-tools, data-science

#4724 expose license always in api
  _plugins/jekyll-topic-filter.rb
Labels: template-and-tools

#4721 send news to hub social
  .github/workflows/deploy.yml
  _plugins/jekyll-topic-filter.rb
  bin/news.rb
  bin/workflows-fetch.rb
Labels: template-and-tools

#4726 Add short link to tpv shared db
  topics/admin/tutorials/job-destinations/tutorial.md
  topics/admin/tutorials/troubleshooting/slides.html
Labels: admin

#4728 Update tutorial.md
  topics/data-science/tutorials/python-basics/tutorial.md
Labels: bug, improvement, data-science

#4742 adding pandas lecture
  learning-pathways/data-driven-biology.md
  topics/data-science/tutorials/gnmx-lecture1/tutorial.md
  topics/data-science/tutorials/gnmx-lecture2/tutorial.md
  topics/data-science/tutorials/gnmx-lecture3/tutorial.md
  topics/data-science/tutorials/gnmx-lecture4/tutorial.md
  topics/data-science/tutorials/gnmx-lecture5/tutorial.md
  topics/data-science/tutorials/gnmx-lecture6/tutorial.md
Labels: template-and-tools, data-science

#4732 Fix odd bzip2 record
  topics/assembly/tutorials/mrsa-illumina/data-library.yaml
  topics/assembly/tutorials/mrsa-illumina/tutorial.md
  topics/assembly/tutorials/mrsa-illumina/workflows/main_workflow-test.yml
  topics/assembly/tutorials/mrsa-nanopore/data-library.yaml
  topics/assembly/tutorials/mrsa-nanopore/tutorial.md
Labels: assembly

#4743 Update CONTRIBUTORS.yaml add Dominique Pelletier
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4691 Add support url to customisations tutorial for GAT
  topics/admin/tutorials/apptainer/tutorial.md
  topics/admin/tutorials/celery/tutorial.md
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/customization/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/admin/tutorials/data-library/tutorial.md
  topics/admin/tutorials/ftp/tutorial.md
  topics/admin/tutorials/job-destinations/tutorial.md
  topics/admin/tutorials/monitoring/tutorial.md
  topics/admin/tutorials/pulsar/tutorial.md
  topics/admin/tutorials/reports/tutorial.md
  topics/admin/tutorials/sentry/tutorial.md
  topics/admin/tutorials/tiaas/tutorial.md
  topics/admin/tutorials/tus/tutorial.md
Labels: admin

#4744 Update tutorial.md
  topics/data-science/tutorials/gnmx-lecture6/tutorial.md
Labels: data-science

#4733 Add ThibaudGlinez as contributor
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4745 Update tutorial.md add dominique contribution
  topics/ecology/tutorials/PAMPA-toolsuite-tutorial/tutorial.md
Labels: ecology

#4741 Add training for secondary metabolite discovery
  topics/genome-annotation/images/bgc_screening/Ampicillin_Structural_Formulae_V.1.svg.png
  topics/genome-annotation/images/bgc_screening/Selection_111.png
  topics/genome-annotation/images/bgc_screening/bacteria-svgrepo-com.svg
  topics/genome-annotation/images/bgc_screening/borrelidin.png
  topics/genome-annotation/images/bgc_screening/compound.png
  topics/genome-annotation/images/bgc_screening/flowchart.drawio
  topics/genome-annotation/images/bgc_screening/flowchart.drawio.png
  topics/genome-annotation/tutorials/secondary-metabolite-discovery/data-library.yaml
  topics/genome-annotation/tutorials/secondary-metabolite-discovery/faqs/index.md
  topics/genome-annotation/tutorials/secondary-metabolite-discovery/tutorial.bib
  topics/genome-annotation/tutorials/secondary-metabolite-discovery/tutorial.md
  topics/genome-annotation/tutorials/secondary-metabolite-discovery/workflows/index.md
  topics/genome-annotation/tutorials/secondary-metabolite-discovery/workflows/main_workflow.ga
Labels: genome-annotation

#4748 add tuto over time graph
  _plugins/gtn.rb
  stats/index.md
Labels: template-and-tools

#4751 fixes broken RO Crate documentation links
  topics/fair/tutorials/ro-crate-intro/tutorial.md
Labels: fair
