Repository galaxyproject/training-material, pull requests merged in 2024-03, with the labels that each got.

#4763 Typo fix in "Use Jupyter notebooks in Galaxy" tutorial
  topics/galaxy-interface/tutorials/galaxy-intro-jupyter/tutorial.md
Labels: galaxy-interface

#4766 Fix commit cache GH action
  .github/workflows/google-form.yml
  _plugins/gtn/mod.rb
  bin/commit-cache-update.rb
  metadata/git-mod-0e10fcf163b914ce1837f087eec1cd0066c0e7e3.txt
  metadata/git-pub-0e10fcf163b914ce1837f087eec1cd0066c0e7e3.txt
Labels: template-and-tools

#4752 Line edits by author for Filter Plot and Explore RStudio
  topics/single-cell/tutorials/scrna-case_FilterPlotandExploreRStudio/preamble.md
  topics/single-cell/tutorials/scrna-case_FilterPlotandExploreRStudio/tutorial.md
Labels: single-cell

#4684 New Bacterial isolation species contamination checking tutorial
  .github/workflows/ci.yml
  learning-pathways/amr-gene-detection.md
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/faqs/index.md
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/images/recentrifuge.html
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/recentrifuge_report.html
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/tutorial.bib
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/tutorial.md
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/workflows/Checking-expected-species-and-contamination-in-bacterial-isolate-tests.yml
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/workflows/Checking-expected-species-and-contamination-in-bacterial-isolate.ga
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/workflows/index.md
Labels: template-and-tools, ecology

#4761 Update MRSA Nanopore Assembly tutorial
  faqs/galaxy/features_scratchbook.md
  learning-pathways/amr-gene-detection.md
  topics/assembly/tutorials/mrsa-nanopore/images/bandage_before_polishing.jpg
  topics/assembly/tutorials/mrsa-nanopore/images/fastqc.png
  topics/assembly/tutorials/mrsa-nanopore/images/nanoplot_after.png
  topics/assembly/tutorials/mrsa-nanopore/images/nanoplot_before.png
  topics/assembly/tutorials/mrsa-nanopore/tutorial.bib
  topics/assembly/tutorials/mrsa-nanopore/tutorial.md
  topics/assembly/tutorials/mrsa-nanopore/workflows/main-workflow-tests.yml
  topics/assembly/tutorials/mrsa-nanopore/workflows/main-workflow.ga
  topics/assembly/tutorials/mrsa-nanopore/workflows/main_workflow.ga
Labels: template-and-tools, assembly, faqs

#4768 Revert "Swap for semantic a, provide href"
  _plugins/jekyll-tool-tag.rb
Labels: template-and-tools

#4753 Initiate EML Assembly Line ecology metadata management tutorial
  topics/ecology/tutorials/MetaShARK_tutorial/Images/0_Upload_datafiles.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/10_MetaShARK_personal.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/11_MetaShARK_abstract.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/12_MetaShARK_methods.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/13_MetaShARK_keywords.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/14_MetaShARK_makeeml.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/15_MetaShRIMPS.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/17_MetaShARK_annotations_predicate.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/18_MetaShARK_annotations_object.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/1_upload_shapefile.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/2_MetaShARK.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/3_MetaShARK_create.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/4_MetaShARK_upload.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/5_MetaShARK_geotiffattributes.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/6_MetaShARK_catvars.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/7_MetaShARK_spatialinfo.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/8_MetaShARK_geocov.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/9_MetaShARK_taxcov.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/Download_HTML.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/Download_docx.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/FAIR_data_principles.jpg
  topics/ecology/tutorials/MetaShARK_tutorial/Images/Fairscore_tab.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/Fairscore_tab2.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/WARNING.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/readme.md
  topics/ecology/tutorials/MetaShARK_tutorial/Images/upload_1.png
  topics/ecology/tutorials/MetaShARK_tutorial/Images/upload_2.png
  topics/ecology/tutorials/MetaShARK_tutorial/data-library.yaml
  topics/ecology/tutorials/MetaShARK_tutorial/tutorial.bib
  topics/ecology/tutorials/MetaShARK_tutorial/tutorial.md
  topics/ecology/tutorials/MetaShARK_tutorial/workflows/index.md
Labels: ecology

#4771 Update analysis_differential_expression_help.md
  faqs/galaxy/analysis_differential_expression_help.md
Labels: faqs

#4772 Update tutorial.md try to make hyperlink and bold work
  topics/ecology/tutorials/MetaShARK_tutorial/tutorial.md
Labels: ecology

#4762 add fair, data science to 'fields', cta for genomics
  _layouts/home.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _plugins/gtn/metrics.rb
  assets/css/main.scss
  assets/images/galaxy-for-admins.svg
  assets/images/galaxy-for-developers.svg
  assets/images/galaxy-for-scientists.svg
  assets/images/galaxy-for-trainers.svg
  assets/js/main.js
  bin/schema-topic.yaml
  news/_posts/2024-03-04-gtn-learning-path-highlights.md
  topics/admin/metadata.yaml
  topics/data-science/metadata.yaml
  topics/fair/metadata.yaml
  topics/microbiome/metadata.yaml
  topics/single-cell/index.md
  topics/single-cell/metadata.yaml
Labels: admin, template-and-tools, data-science, news, single-cell, fair, microbiome

#4774 Ensure stronger URL persistence
  .github/workflows/ci.yml
  bin/check-url-persistence.sh
  faqs/galaxy/account_create.md
  topics/assembly/tutorials/vgp_genome_assembly/faqs/dataset_upload_fastqsanger_via_urls.md
  topics/contributing/tutorials/create-new-tutorial-content/faqs/tutorial_from_workflows.md
  topics/epigenetics/tutorials/introduction-chip-seq/slides.html
  topics/epigenetics/tutorials/introduction-dna-methylation/slides.html
  topics/genome-annotation/faqs/index.md
  topics/genome-annotation/index.md
  topics/genome-annotation/tutorials/crispr-screen/tutorial.md
  topics/genome-annotation/tutorials/crispr-screen/workflows/index.md
  topics/microbiome/faqs/index.md
  topics/microbiome/index.md
  topics/microbiome/tutorials/beer-data-analysis/workflows/index.md
  topics/microbiome/tutorials/general-tutorial/faqs/index.md
  topics/microbiome/tutorials/general-tutorial/workflows/index.md
  topics/microbiome/tutorials/metagenomics-assembly/workflows/index.md
  topics/microbiome/tutorials/metatranscriptomics-short/faqs/index.md
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/index.md
  topics/microbiome/tutorials/metatranscriptomics/faqs/index.md
  topics/microbiome/tutorials/metatranscriptomics/workflows/index.md
  topics/microbiome/tutorials/mothur-miseq-sop-short/workflows/index.md
  topics/microbiome/tutorials/mothur-miseq-sop/faqs/index.md
  topics/microbiome/tutorials/mothur-miseq-sop/workflows/index.md
  topics/microbiome/tutorials/nanopore-16S-metagenomics/faqs/index.md
  topics/microbiome/tutorials/nanopore-16S-metagenomics/workflows/index.md
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/faqs/index.md
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/index.md
  topics/microbiome/tutorials/plasmid-metagenomics-nanopore/faqs/index.md
  topics/microbiome/tutorials/plasmid-metagenomics-nanopore/workflows/index.md
  topics/microbiome/tutorials/taxonomic-profiling/workflows/index.md
  topics/proteomics/tutorials/metaproteomics/faqs/comparing_measurement.md
  topics/proteomics/tutorials/metaproteomics/faqs/convert_to_MGF.md
  topics/proteomics/tutorials/metaproteomics/faqs/converting_FASTA.md
  topics/proteomics/tutorials/metaproteomics/faqs/determine_taxonomic_composition.md
  topics/proteomics/tutorials/metaproteomics/faqs/functional_analysis_tools.md
  topics/proteomics/tutorials/metaproteomics/faqs/reusing_workflows.md
  topics/proteomics/tutorials/metaproteomics/faqs/search_algorithms.md
  topics/proteomics/tutorials/metaproteomics/faqs/search_strategies.md
  topics/proteomics/tutorials/metaproteomics/faqs/studying_microbiome_state.md
  topics/proteomics/tutorials/metaproteomics/faqs/tools_versions.md
  topics/single-cell/tutorials/scrna-case_alevin/workflows/index.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/workflows/index.md
  topics/single-cell/tutorials/scrna-plant/workflows/index.md
  topics/single-cell/tutorials/scrna-preprocessing-tenx/workflows/index.md
  topics/single-cell/tutorials/scrna-preprocessing/workflows/index.md
  topics/single-cell/tutorials/scrna-raceid/workflows/index.md
  topics/single-cell/tutorials/scrna-scanpy-pbmc3k/workflows/index.md
  topics/single-cell/tutorials/scrna-scater-qc/workflows/index.md
  topics/transcriptomics/tutorials/de-novo/faqs/transcript.md
  topics/transcriptomics/tutorials/mirna-target-finder/faqs/different_padj_value.md
  topics/transcriptomics/tutorials/mirna-target-finder/faqs/quantification_alternatives.md
Labels: transcriptomics, template-and-tools, assembly, epigenetics, proteomics, contributing, genome-annotation, faqs, single-cell, microbiome

#4773 restrict zenodo link, cleanup
  bin/schema-tutorial.yaml
  topics/assembly/tutorials/chloroplast-assembly/tutorial.md
  topics/assembly/tutorials/largegenome/tutorial.md
  topics/computational-chemistry/tutorials/htmd-analysis/tutorial.md
  topics/computational-chemistry/tutorials/zauberkugel/tutorial.md
  topics/ecology/tutorials/Obitools-metabarcoding/tutorial.md
  topics/ecology/tutorials/biodiversity-data-exploration/tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
  topics/galaxy-interface/tutorials/galaxy-intro-jupyter/tutorial.md
  topics/imaging/tutorials/object-tracking-using-cell-profiler/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101-everyone/tutorial.md
  topics/introduction/tutorials/galaxy-reproduce/tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
  topics/sequence-analysis/tutorials/Manage_AB1_Sanger/tutorial.md
  topics/statistics/tutorials/age-prediction-with-ml/tutorial.md
  topics/statistics/tutorials/classification_machinelearning/tutorial.md
  topics/statistics/tutorials/classification_regression/tutorial.md
  topics/statistics/tutorials/intro_deep_learning/tutorial.md
  topics/statistics/tutorials/machinelearning/tutorial.md
  topics/statistics/tutorials/regression_machinelearning/tutorial.md
  topics/statistics/tutorials/text-mining_simtext/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/goenrichment/tutorial.md
Labels: introduction, transcriptomics, template-and-tools, assembly, proteomics, sequence-analysis, statistics, galaxy-interface, computational-chemistry, ecology, imaging

#4734 Add tutorial for tool annotation with EDAM via bio.tools
  CONTRIBUTORS.yaml
  topics/dev/tutorials/tool-annotation/add_edam_function.md
  topics/dev/tutorials/tool-annotation/add_edam_topic.md
  topics/dev/tutorials/tool-annotation/images/EDAMrelations.png
  topics/dev/tutorials/tool-annotation/images/edam_browser.png
  topics/dev/tutorials/tool-annotation/tutorial.bib
  topics/dev/tutorials/tool-annotation/tutorial.md
Labels: dev, template-and-tools

#4775 Conditional loading of mermaid.js library
  _config.yml
  _layouts/base.html
  _layouts/home.html
  _plugins/jekyll-bundler.rb
  _plugins/jekyll-mathjax.rb
  bin/commit-cache-update.rb
Labels: template-and-tools

#4777 Add tutorial mode to short intro to Galaxy
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: introduction

#4781 New learning pathway - building training material in Galaxy
  learning-pathways/building_tutorials.md
Labels: template-and-tools

#4778 Add EDAM terms for metagenomics assembly tutorial
  topics/microbiome/tutorials/metagenomics-assembly/tutorial.md
Labels: microbiome

#4782 New learning pathway: Intermediate single cell analysis
  learning-pathways/beyond_single_cell.md
Labels: template-and-tools

#4784 Typo in genome-wide-alt-splicing tutorial
  topics/transcriptomics/tutorials/differential-isoform-expression/tutorial.md
Labels: transcriptomics

#4786 [VGP assembly] removwd purge_dups comment box in genomescope section
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: assembly

#4783 Update tutorial.md ameliorate details
  topics/ecology/tutorials/MetaShARK_tutorial/tutorial.md
Labels: ecology

#4791 Add EDAM topic for Making sense of a newly assembled genome tutorial
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Labels: assembly

#4800 Gnmx l7
  topics/data-science/tutorials/gnmx-lecture7/tutorial.md
Labels: data-science

#4801 Add EDAM topic for MTb phylogeny tutorial
  topics/evolution/tutorials/mtb_phylogeny/tutorial.md
Labels: evolution

#4802 Add EDAM topic for MTb transmission tutorial
  topics/evolution/tutorials/mtb_transmission/tutorial.md
Labels: evolution

#4794 Add EDAM topic for Unicycler tutorial
  topics/assembly/tutorials/unicycler-assembly/tutorial.md
Labels: assembly

#4797 Add microGalaxy tag to AMR gene detection tutorial
  topics/genome-annotation/tutorials/amr-gene-detection/tutorial.md
Labels: genome-annotation

#4795 Add EDAM topic for Checking expected species tutorial
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/tutorial.md
Labels: ecology

#4793 Add EDAM topic for MRSA Nanopore assembly tutorial
  topics/assembly/tutorials/mrsa-nanopore/tutorial.md
Labels: assembly

#4792 Add EDAM topic for MRSA Illumina assembly tutorial
  topics/assembly/tutorials/mrsa-illumina/tutorial.md
Labels: assembly

#4799 Update tutorial.md to add EDAM topics
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
Labels: microbiome

#4805 move mothur tutorials to the end
  topics/microbiome/tutorials/mothur-miseq-sop-short/tutorial.md
  topics/microbiome/tutorials/mothur-miseq-sop/tutorial.md
Labels: microbiome

#4806 Add EDAM topic for annotation with prokka tutorial
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
Labels: genome-annotation

#4740 Add tutorial for community Galaxy tool table creation
  topics/dev/tutorials/community-tool-table/images/galaxy_tool_metadata_extractor_pipeline.png
  topics/dev/tutorials/community-tool-table/images/microgalaxy_tools.png
  topics/dev/tutorials/community-tool-table/tutorial.md
Labels: dev

#4811 fix translation links, dropdown
  _includes/resource-handson.html
  _includes/resource-slides.html
Labels: template-and-tools

#4812 add some more languages to the dropdown no one clicks
  _config.yml
Labels: template-and-tools

#4808 Add EDAM topic for bacterial genome annotation tutorial
  topics/genome-annotation/tutorials/bacterial-genome-annotation/tutorial.md
Labels: genome-annotation

#4809 Add EDAM topic for ARG detection tutorial
  topics/genome-annotation/tutorials/amr-gene-detection/tutorial.md
Labels: genome-annotation

#4796 vgp assembly: replaced est. genome size calculation with upload via paste data
  topics/assembly/images/vgp_assembly/paste_data_to_upload.png
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: assembly

#4813 Update tutorial.md
  topics/microbiome/tutorials/nanopore-16S-metagenomics/tutorial.md
Labels: microbiome

#4815 Update tutorial.md
  topics/microbiome/tutorials/metatranscriptomics/tutorial.md
Labels: microbiome

#4817 Update tutorial.md to include EDAM topics microbiome Beer data analysis tutorial
  topics/microbiome/tutorials/beer-data-analysis/tutorial.md
Labels: microbiome

#4818 Update tutorial.md to include EDAM topics metatransciptimics tutorial
  topics/microbiome/tutorials/metatranscriptomics-short/tutorial.md
Labels: microbiome

#4821 Adding EDAM topics to mothur miseq sop short tutorial
  topics/microbiome/tutorials/mothur-miseq-sop-short/tutorial.md
Labels: microbiome

#4819 Adding to include EDAM topics to the Microbiome Taxonomy profiling Tutorial
  topics/microbiome/tutorials/taxonomic-profiling/tutorial.md
Labels: microbiome

#4822 Adding EDAM topics for Plasmid metagenomics nanopore tutorial
  topics/microbiome/tutorials/plasmid-metagenomics-nanopore/tutorial.md
Labels: microbiome

#4820 Adding to include EDAM topics to mothur miseq sop tutorial in microbiome
  topics/microbiome/tutorials/mothur-miseq-sop/tutorial.md
Labels: microbiome

#4816 Update tutorial.md To include EDAM topics microbiome General Tutorial
  topics/microbiome/tutorials/general-tutorial/tutorial.md
Labels: microbiome

#4814 Add subtopics to microbial catecory
  topics/microbiome/metadata.yaml
  topics/microbiome/tutorials/beer-data-analysis/tutorial.md
  topics/microbiome/tutorials/general-tutorial/tutorial.md
  topics/microbiome/tutorials/metagenomics-assembly/tutorial.md
  topics/microbiome/tutorials/metagenomics-binning/tutorial.md
  topics/microbiome/tutorials/metatranscriptomics-short/tutorial.md
  topics/microbiome/tutorials/metatranscriptomics/tutorial.md
  topics/microbiome/tutorials/mothur-miseq-sop-short/tutorial.md
  topics/microbiome/tutorials/mothur-miseq-sop/tutorial.md
  topics/microbiome/tutorials/nanopore-16S-metagenomics/tutorial.md
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
  topics/microbiome/tutorials/plasmid-metagenomics-nanopore/tutorial.md
  topics/microbiome/tutorials/qiime2-cancer-microbiome-intervention/tutorial.md
  topics/microbiome/tutorials/taxonomic-profiling/tutorial.md
Labels: microbiome

#4804 add another (external) qiime2 tutorial
  topics/microbiome/tutorials/qiime2-moving-pictures/tutorial.md
Labels: microbiome

#4824 Adding EDAM topics to metagenomics-binning tutorial
  topics/microbiome/tutorials/metagenomics-binning/tutorial.md
Labels: microbiome

#4826 Adding EDAM topics to proteomics metaquantome data creation tutorial
  topics/proteomics/tutorials/metaquantome-data-creation/tutorial.md
Labels: proteomics

#4825 Adding EDAM topics for qiime2 caner microbiome intervention tutorial
  topics/microbiome/tutorials/qiime2-cancer-microbiome-intervention/tutorial.md
Labels: microbiome

#4832 Adding EDAM topics to tb variants analysis tutorial
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
Labels: variant-analysis

#4831 Adding EDAM topics microbial variants tutorial
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Labels: variant-analysis

#4830 Adding EDAM topics non-dip variant-analysis
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Labels: variant-analysis

#4829 Adding EDAM topics metaquantome function proteomics tutorial
  topics/proteomics/tutorials/metaquantome-function/tutorial.md
Labels: proteomics

#4828 Adding EDAM topics metaproteomics tutorial
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Labels: proteomics

#4827 Adding EDAM topics to metaquantome taxonomy tutorial
  topics/proteomics/tutorials/metaquantome-taxonomy/tutorial.md
Labels: proteomics

#4833 Alternative DESeq2 hands-on for ref-based RNA-seq tutorial
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics

#4836 fix build
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Labels: proteomics

#4838 Typo DESeq2 hands.on in Ref-based tutorial
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics

#4834 Adding EDAM topics to genome annotation gene centric tutorial
  topics/genome-annotation/tutorials/gene-centric/tutorial.md
Labels: genome-annotation

#4810 Add EDAM topic for tnseq tutorial
  topics/genome-annotation/tutorials/tnseq/tutorial.md
Labels: genome-annotation

#4807 Add EDAM topic for apollo tutorial
  topics/genome-annotation/tutorials/apollo/tutorial.md
Labels: genome-annotation

#4798 Add microGalaxy tag to tnseq tutorial
  topics/genome-annotation/tutorials/tnseq/tutorial.md
Labels: genome-annotation

#4842 Add a news post bragging about our URL persistence
  bin/check-url-persistence.sh
  news/_posts/2024-03-18-url-persistence.md
  topics/admin/tutorials/upgrading/tutorial.md
Labels: admin, template-and-tools, news

#4843 vgp assembly: clarifying text to one of the hic images
  topics/assembly/images/vgp_assembly/hic_map_pretext.png
Labels: assembly

#4847 update advanced cut tool
  topics/ecology/tutorials/obisindicators/tutorial.md
  topics/ecology/tutorials/obisindicators/workflows/Obis-indicators.ga
Labels: ecology

#4848 fix matrix poster
  bin/news.rb
Labels: template-and-tools

#4790 Document collapsing boxes in reports/pages in an FAQ
  api/swagger.json
  faqs/galaxy/images/report_table_history_dataset_as_table.png
  faqs/galaxy/images/report_table_history_dataset_compact.png
  faqs/galaxy/images/report_table_history_dataset_display.png
  faqs/galaxy/images/report_table_history_dataset_embedded.png
  faqs/galaxy/images/report_table_history_dataset_title.png
  faqs/galaxy/reports_collapsible_box.md
  faqs/galaxy/reports_tables.md
  metadata/swagger.yaml
  topics/galaxy-interface/tutorials/workflow-reports/tutorial.md
Labels: template-and-tools, galaxy-interface, faqs

#4850 Improvements to RO-Crate in Python tutorial
  CONTRIBUTORS.yaml
  topics/fair/tutorials/ro-crate-in-python/tutorial.md
Labels: template-and-tools, fair

#4852 Simplify MSA generation steps in tutorials by using latest MAFFT version
  topics/variant-analysis/tutorials/aiv-analysis/tutorial.md
  topics/variant-analysis/tutorials/pox-tiled-amplicon/tutorial.md
Labels: variant-analysis

#4844 modernization of Galaxy101
  _config.yml
  faqs/galaxy/activity_bar_how_to_enable.md
  faqs/galaxy/datasets_change_datatype.md
  faqs/galaxy/datasets_change_dbkey.md
  faqs/galaxy/histories_create_new.md
  faqs/galaxy/histories_list.md
  faqs/galaxy/histories_sharing.md
  faqs/galaxy/histories_side_by_side_view.md
  shared/images/activity_bar_how_to_enable.svg
  shared/images/datasets_dbkey.svg
  shared/images/histories_list.svg
  shared/images/histories_list_via_activity_bar.svg
  shared/images/histories_list_via_masthead.svg
  shared/images/histories_multiview_via_activity_bar.svg
  shared/images/histories_side_by_side_view.svg
  shared/images/history_create_new.svg
  shared/images/rename_history.svg
  topics/introduction/images/101_26.png
  topics/introduction/images/configure_wf_output.png
  topics/introduction/images/drag_n_drop_dataset.gif
  topics/introduction/images/galaxy_interface.svg
  topics/introduction/images/histories_side_by_side_view.png
  topics/introduction/images/history_menu_extract_workflow.png
  topics/introduction/images/history_options_menu.png
  topics/introduction/images/open_in_center_pane_button.png
  topics/introduction/images/open_wf_editor.png
  topics/introduction/images/run_workflow_button.png
  topics/introduction/images/wf_editor_open.png
  topics/introduction/images/workflow_cards.png
  topics/introduction/images/workflow_running.png
  topics/introduction/images/workflow_setting_inputs.png
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/workflows/galaxy-intro-101-workflow.ga
Labels: introduction, template-and-tools, faqs

#4851 FAIR medchem tutorials updates
  topics/computational-chemistry/tutorials/med-chem-data/tutorial.md
  topics/fair/tutorials/med-chem-data
Labels: computational-chemistry, fair

#4858 Fix wording under Basic QC>Adding in Gene Metadata
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
Labels: single-cell

#4857 Add Mehgan-E as contributor
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4854 Fix spacing/indentation in nanopore 16s
  topics/microbiome/tutorials/nanopore-16S-metagenomics/tutorial.md
Labels: microbiome

#4845 Add tuto Argo
  bin/lint.rb
  topics/climate/images/argo_pangeo/argo_history.png
  topics/climate/images/argo_pangeo/argo_odv_open.png
  topics/climate/images/argo_pangeo/argofloats_cycle.png
  topics/climate/images/argo_pangeo/clipboard.png
  topics/climate/images/argo_pangeo/earth_system_galaxy.png
  topics/climate/images/argo_pangeo/odv_properties.png
  topics/climate/images/argo_pangeo/odv_result.png
  topics/climate/images/argo_pangeo/workflow.png
  topics/climate/tutorials/argo_pangeo/faqs/index.md
  topics/climate/tutorials/argo_pangeo/tutorial.bib
  topics/climate/tutorials/argo_pangeo/tutorial.md
  topics/climate/tutorials/argo_pangeo/workflows/index.md
  topics/climate/tutorials/argo_pangeo/workflows/main_workflow.ga
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Labels: template-and-tools, contributing, climate

#4835 Add Fair pointers tutorials
  CONTRIBUTORS.yaml
  learning-pathways/fair-training.md
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
  topics/fair/images/figure1-2_fair-vs-open.png
  topics/fair/images/figure2-1_human-welsh-cohort.png
  topics/fair/images/figure2-2_rnaseq-database.png
  topics/fair/images/figure3-1-fairsharing.png
  topics/fair/images/figure5-1.png
  topics/fair/images/figure5-2.png
  topics/fair/metadata.yaml
  topics/fair/tutorials/fair-access/faqs/index.md
  topics/fair/tutorials/fair-access/tutorial.md
  topics/fair/tutorials/fair-data-registration/faqs/index.md
  topics/fair/tutorials/fair-data-registration/tutorial.md
  topics/fair/tutorials/fair-metadata/faqs/index.md
  topics/fair/tutorials/fair-metadata/tutorial.bib
  topics/fair/tutorials/fair-metadata/tutorial.md
  topics/fair/tutorials/fair-origin/faqs/index.md
  topics/fair/tutorials/fair-origin/tutorial.bib
  topics/fair/tutorials/fair-origin/tutorial.md
  topics/fair/tutorials/fair-persistent-identifiers/faqs/index.md
  topics/fair/tutorials/fair-persistent-identifiers/tutorial.bib
  topics/fair/tutorials/fair-persistent-identifiers/tutorial.md
  topics/variant-analysis/tutorials/somatic-variant-discovery/tutorial.md
Labels: variant-analysis, template-and-tools, epigenetics, fair

#4864 Very short introductions: QC
  topics/introduction/images/qc_elem_ill.svg
  topics/introduction/tutorials/vsi_qc/tutorial.md
Labels: introduction

#4866 Add fair RNA tutorial, add news about adding the pathway, and fix the ELIXIR dash funder username
  FUNDERS.yaml
  learning-pathways/fair-training.md
  news/_posts/2024-03-26-FAIR-pointers.md
  news/images/2024-03-26-FAIR-pathway.png
  topics/computational-chemistry/tutorials/med-chem-data/tutorial.md
  topics/fair/images/fair_rna_1.png
  topics/fair/images/fair_rna_10.png
  topics/fair/images/fair_rna_11.png
  topics/fair/images/fair_rna_12.png
  topics/fair/images/fair_rna_13.png
  topics/fair/images/fair_rna_14.png
  topics/fair/images/fair_rna_15.png
  topics/fair/images/fair_rna_16.png
  topics/fair/images/fair_rna_2.png
  topics/fair/images/fair_rna_3.png
  topics/fair/images/fair_rna_4.png
  topics/fair/images/fair_rna_5.png
  topics/fair/images/fair_rna_6.png
  topics/fair/images/fair_rna_7.png
  topics/fair/images/fair_rna_8.png
  topics/fair/images/fair_rna_9.png
  topics/fair/tutorials/bioimage-REMBI/tutorial.md
  topics/fair/tutorials/bioimage-metadata/tutorial.md
  topics/fair/tutorials/data-management/tutorial.md
  topics/fair/tutorials/fair-access/tutorial.md
  topics/fair/tutorials/fair-clinical/tutorial.md
  topics/fair/tutorials/fair-data-registration/tutorial.md
  topics/fair/tutorials/fair-ena/tutorial.md
  topics/fair/tutorials/fair-gtn/tutorial.md
  topics/fair/tutorials/fair-intro/tutorial.md
  topics/fair/tutorials/fair-metadata/tutorial.md
  topics/fair/tutorials/fair-origin/tutorial.md
  topics/fair/tutorials/fair-persistent-identifiers/tutorial.md
  topics/fair/tutorials/fair-rna/faqs/index.md
  topics/fair/tutorials/fair-rna/tutorial.bib
  topics/fair/tutorials/fair-rna/tutorial.md
Labels: template-and-tools, computational-chemistry, news, fair

#4869 [fair news] de-emph gtn, highlight link to materials
  learning-pathways/fair-training.md
  news/_posts/2024-03-26-FAIR-pointers.md
Labels: template-and-tools, news

#4867 RO-Crate in Python: Update CLI section to use simpler example and remove repeated cd commands
  topics/fair/tutorials/ro-crate-in-python/tutorial.md
Labels: fair

#4872 Cleanup datasets_job_status.md
  faqs/galaxy/datasets_job_status.md
Labels: faqs
