Repository galaxyproject/training-material, pull requests merged in 2024-12, with the labels that each got.

#5543 use workflow listing to point to our new workflow pages
  _layouts/workflow-list.html
Labels: template-and-tools

#5458 Update slides.html- Including ASCII code
  CONTRIBUTORS.yaml
  assets/css/slides.scss
  topics/sequence-analysis/tutorials/quality-control/slides.html
Labels: template-and-tools, sequence-analysis

#5571 Add News Post about Tracking Mitochondria and Capturing mitoflashes
  news/_posts/2024-11-29-tracking-of-mitochondria-and-capturing-mitoflashes.md
Labels: news

#5585 Update request-galaxy-tools-on-a-specific-server.md
  faqs/galaxy/request-galaxy-tools-on-a-specific-server.md
Labels: faqs

#5575 Add jupyterlab stuff & other small updates
  topics/dev/tutorials/interactive-tools/tutorial.md
Labels: dev

#5590 Subdomain pathway
  assets/images/galaxy_climate.png
  assets/images/galaxy_subdomain.png
  bin/schema-learning-pathway.yaml
  learning-pathways/climate-learning.md
  learning-pathways/dev_tools_training.md
  topics/community/metadata.yaml
Labels: template-and-tools

#5568 New Tutorial: OMERO-suite for Galaxy
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  shared/images/nfdi4bioimage.jpeg
  topics/imaging/images/omero-suite/omero_credential.png
  topics/imaging/images/omero-suite/omero_import.png
  topics/imaging/images/omero-suite/omero_metadata.png
  topics/imaging/images/omero-suite/omero_rois.png
  topics/imaging/images/omero-suite/workflow.png
  topics/imaging/images/omero-suite/workflow_invocation.png
  topics/imaging/tutorials/omero-suite/data-library.yaml
  topics/imaging/tutorials/omero-suite/tutorial.md
  topics/imaging/tutorials/omero-suite/workflows/index.md
Labels: template-and-tools, imaging

#5593 Add GokceOGUZ as contributor
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5594 Add adairama as contributor
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5538 Update codespace
  topics/contributing/faqs/github-fork-gtn.md
  topics/contributing/faqs/github-fork-master-main.md
  topics/contributing/faqs/github-fork-sync.md
  topics/contributing/tutorials/gitpod/tutorial.md
  topics/contributing/tutorials/running-codespaces/images/codespace-publlish.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-branch-change1.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-branch-change2.png
  topics/contributing/tutorials/running-codespaces/images/codespaces-commit-plus.png
  topics/contributing/tutorials/running-codespaces/tutorial.md
Labels: contributing

#5599 Add teresa as contributor
  topics/contributing/tutorials/running-codespaces/tutorial.md
Labels: contributing

#5600 Add subtopics to sequence analysis topic
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: sequence-analysis

#5583 Update single-cell topic layout and content
  _layouts/topic.html
  bin/schema-topic.yaml
  topics/single-cell/index.md
  topics/single-cell/metadata.yaml
Labels: template-and-tools, single-cell

#5085 Fix the hands on in Creation of an interactive Galaxy tools table for your community
  topics/dev/tutorials/community-tool-table/tutorial.md
Labels: dev

#5506 Update CoDex tutorial and make an FAQ
  bin/check-url-persistence.sh
  learning-pathways/dev_tools_training.md
  topics/community/faqs/codex.md
  topics/community/tutorials/community-tool-table/images/galaxy_tool_metadata_extractor_pipeline.png
  topics/community/tutorials/community-tool-table/images/microgalaxy_tools.png
  topics/community/tutorials/community-tool-table/tutorial.md
Labels: template-and-tools

#5058 Edit dada-16S tutorial.md
  topics/microbiome/tutorials/dada-16S/tutorial.md
Labels: microbiome

#4937 Update Clinical metaproteomics tutorials
  topics/proteomics/tutorials/clinical-mp-1-database-generation/tutorial.md
  topics/proteomics/tutorials/clinical-mp-2-discovery/tutorial.md
  topics/proteomics/tutorials/clinical-mp-3-verification/tutorial.md
  topics/proteomics/tutorials/clinical-mp-4-quantitation/tutorial.md
Labels: proteomics

#5481 add omark section on Helixer GTN
  topics/genome-annotation/tutorials/helixer/tutorial.md
  topics/genome-annotation/tutorials/helixer/workflows/Helixer-tests.yml
  topics/genome-annotation/tutorials/helixer/workflows/Helixer.ga
Labels: genome-annotation

#2864 fix: 🐛 add fix to duplicated tutorial
  events/2022-07-08-gat.md
  events/2023-04-17-gat-gent.md
  faqs/galaxy/visualisations_igv.md
  learning-pathways/admin-training.md
  topics/galaxy-interface/metadata.yaml
  topics/galaxy-interface/tutorials/collections/faqs/index.md
  topics/galaxy-interface/tutorials/collections/faqs/visualisations_igv.md
  topics/galaxy-interface/tutorials/collections/tutorial.md
  topics/galaxy-interface/tutorials/processing-many-samples-at-once/faqs/index.md
  topics/galaxy-interface/tutorials/processing-many-samples-at-once/tutorial.md
Labels: template-and-tools, galaxy-interface, faqs

#5606 [Fix failing deploy] Remove duplicate metadata
  topics/single-cell/tutorials/scrna-case_FilterPlotandExplore_SeuratTools/tutorial.md
Labels: single-cell

#5596 Add adya29 as contributor
  CONTRIBUTORS.yaml
Labels: template-and-tools, spoc-cofest

#5608 Update tools for "NCBI to AnnData" tutorial
  topics/single-cell/tutorials/scrna-ncbi-anndata/tutorial.md
  topics/single-cell/tutorials/scrna-ncbi-anndata/workflows/NCBI_to_Anndata.ga
Labels: single-cell, spoc-cofest

#5605 Update slides.html
  topics/single-cell/tutorials/scrna-intro/slides.html
Labels: single-cell, spoc-cofest

#5609 Fix some typos
  topics/ecology/tutorials/Metashrimps_tutorial/tutorial.md
Labels: ecology

#5613 update plugin name
  topics/admin/tutorials/monitoring/tutorial.md
Labels: admin

#1657 Enable dunovo (calling rare variants) tutorial.
  topics/variant-analysis/images/workflow-dunovo-variant-calling.png
  topics/variant-analysis/images/workflow-dunovo.png
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Labels: work-in-progress, variant-analysis

#5624 Add total module duration + LOs per module in LPs
  _layouts/learning-pathway.html
  _plugins/jekyll-duration.rb
  bin/schema-learning-pathway.yaml
  bin/schema-tutorial.yaml
Labels: template-and-tools

#5623 Fix beacon tutorial issues
  topics/admin/tutorials/beacon/tutorial.md
Labels: admin

#5515 improved by-tools page
  .github/workflows/deploy.yml
  _includes/cyoa-choices.html
  _layouts/by_tool.html
  _plugins/api.rb
  _plugins/gtn.rb
  _plugins/gtn/hooks.rb
  _plugins/gtn/supported.rb
  _plugins/jekyll-jsonld.rb
  _plugins/jekyll-topic-filter.rb
  _plugins/util.rb
  bin/fetch-categories.rb
  bin/find-duplicate-workflows.sh
  bin/lint.rb
  stats/top-tools.html
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
  topics/epigenetics/tutorials/cut_and_run/tutorial.md
  topics/galaxy-interface/tutorials/upload-data-to-ena/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.md
  topics/statistics/tutorials/galaxy-ludwig/tutorial.md
  topics/statistics/tutorials/galaxy-ludwig/workflows/main_workflow.ga
Labels: introduction, template-and-tools, assembly, epigenetics, statistics, galaxy-interface, single-cell

#5630 Improve single cell topic page
  _layouts/home.html
  _layouts/topic.html
  assets/css/main.scss
  bin/schema-topic.yaml
  topics/single-cell/metadata.yaml
Labels: template-and-tools, single-cell

#5627 Add the DFG grant to the omero training matherial
  GRANTS.yaml
  ORGANISATIONS.yaml
  _layouts/contributor_index.html
  _plugins/gtn/contributors.rb
  bin/schema-grants.yaml
  shared/images/DFG_grant.png
  topics/fair/tutorials/dataplant-arcs/tutorial.md
  topics/imaging/tutorials/omero-suite/tutorial.md
Labels: template-and-tools, imaging, fair

#5539 PyCaret - LORIS Tutorial
  topics/statistics/images/loris_tutorial/hyperparameters.png
  topics/statistics/images/loris_tutorial/model_comparison.png
  topics/statistics/images/loris_tutorial/report_tabs.png
  topics/statistics/images/loris_tutorial/robustness.png
  topics/statistics/images/loris_tutorial/test_metrics_results.png
  topics/statistics/images/loris_tutorial/tutorial_schema.png
  topics/statistics/tutorials/loris_model/README.md
  topics/statistics/tutorials/loris_model/data-library.yaml
  topics/statistics/tutorials/loris_model/faqs/index.md
  topics/statistics/tutorials/loris_model/tutorial.bib
  topics/statistics/tutorials/loris_model/tutorial.md
  topics/statistics/tutorials/loris_model/workflows/index.md
  topics/statistics/tutorials/loris_model/workflows/main_workflow-tests.yml
  topics/statistics/tutorials/loris_model/workflows/main_workflow.ga
Labels: statistics

#5117 Add ENA_Biodiv_submission Tutorial
  CONTRIBUTORS.yaml
  topics/ecology/tutorials/ENA_Biodiv_submission/images/image.PNG
  topics/ecology/tutorials/ENA_Biodiv_submission/images/image1.png
  topics/ecology/tutorials/ENA_Biodiv_submission/images/image2.png
  topics/ecology/tutorials/ENA_Biodiv_submission/images/image3.png
  topics/ecology/tutorials/ENA_Biodiv_submission/images/image4.png
  topics/ecology/tutorials/ENA_Biodiv_submission/images/image5.png
  topics/ecology/tutorials/ENA_Biodiv_submission/images/image7.PNG
  topics/ecology/tutorials/ENA_Biodiv_submission/images/imageI.png
  topics/ecology/tutorials/ENA_Biodiv_submission/metadata_GdBqCOI_ERC000011_Test.xlsx
  topics/ecology/tutorials/ENA_Biodiv_submission/tutorial.bib
  topics/ecology/tutorials/ENA_Biodiv_submission/tutorial.md
  topics/ecology/tutorials/ENA_Biodiv_submission/workflows/index.md
Labels: template-and-tools, ecology

#5639 add workflow test for single-cell raceid tutorial
  topics/single-cell/tutorials/scrna-raceid/data-library.yaml
  topics/single-cell/tutorials/scrna-raceid/tutorial.md
  topics/single-cell/tutorials/scrna-raceid/workflows/RaceID-Workflow-tests.yml
  topics/single-cell/tutorials/scrna-raceid/workflows/RaceID-Workflow.ga
Labels: single-cell

#5641 Add scrna-plant WF tests
  topics/single-cell/tutorials/scrna-plant/tutorial.md
  topics/single-cell/tutorials/scrna-plant/workflows/scRNA-Plant-Analysis-tests.yml
  topics/single-cell/tutorials/scrna-plant/workflows/scRNA-Plant-Analysis.ga
Labels: single-cell

#5642 add WF tests for scrna basic pipeline
  topics/single-cell/tutorials/scrna-case_basic-pipeline/workflows/CS3_Filter,-Plot-and-Explore-Single-cell-RNA-seq-Data-tests.yml
  topics/single-cell/tutorials/scrna-case_basic-pipeline/workflows/CS3_Filter,-Plot-and-Explore-Single-cell-RNA-seq-Data.ga
Labels: single-cell

#5648 Fix event program for small screens
  _includes/tutorial_list.html
  events/2025-03-10-hts-workshop-freiburg.md
Labels: template-and-tools

#5650 Biont software
  events/2025-02-04-biont-software-best-practice.md
Labels: template-and-tools

#5651 added news about feedback from for GTA2025
  news/_posts/2024-12-17-gta-feedback.md
Labels: news

#5652 fix reports nginx config to avoid localhost issues
  topics/admin/tutorials/beacon/tutorial.md
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/monitoring/tutorial.md
  topics/admin/tutorials/reports/tutorial.md
  topics/admin/tutorials/tiaas/tutorial.md
Labels: admin

#5649 Training material for Galaxy and Pulsar on Surf Research Cloud
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  _layouts/event.html
  _plugins/api.rb
  bin/schema-event.yaml
  events/2025-01-28-src.md
  shared/images/surf.png
  shared/images/surf.svg
  topics/admin/tutorials/surf-research-cloud-galaxy/images/1.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/10.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/11.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/12.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/13.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/14.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/15.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/16.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/2.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/3.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/4.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/5.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/6.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/7.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/8.png
  topics/admin/tutorials/surf-research-cloud-galaxy/images/9.png
  topics/admin/tutorials/surf-research-cloud-galaxy/tutorial.md
  topics/admin/tutorials/surf-research-cloud-pulsar/images/id1.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/id2.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf1.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf10.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf2.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf3.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf4.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf5.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf6.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf7.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf8.png
  topics/admin/tutorials/surf-research-cloud-pulsar/images/surf9.png
  topics/admin/tutorials/surf-research-cloud-pulsar/tutorial.md
Labels: admin, template-and-tools

#5654 small tweak to unify metadata on the two SURF tutorials
  topics/admin/tutorials/surf-research-cloud-galaxy/tutorial.md
  topics/admin/tutorials/surf-research-cloud-pulsar/tutorial.md
Labels: admin

#5659 Update 2025-01-28-src.md
  events/2025-01-28-src.md
  topics/admin/tutorials/cloudbursting/slides.html
  topics/admin/tutorials/k8s-managing-galaxy/tutorial.md
  topics/admin/tutorials/surf-research-cloud-galaxy/tutorial.md
  topics/admin/tutorials/surf-research-cloud-pulsar/tutorial.md
  topics/admin/tutorials/terraform/slides.html
  topics/admin/tutorials/terraform/tutorial.md
  topics/admin/tutorials/wireguard-headscale/tutorial.md
  topics/admin/tutorials/wireguard/tutorial.md
Labels: admin, template-and-tools

#5655 Add end-of-year blog post for SPOC Community
  news/_posts/2024-12-18-spoc.md
  news/images/spoc_images/2024_spoc.png
  news/images/spoc_images/2024_spoc_pretty.png
  news/images/spoc_images/community_resources_2024.png
Labels: news

#5663 Typo
  news/_posts/2024-12-18-spoc.md
Labels: news

#5664 Typo_again
  news/_posts/2024-12-18-spoc.md
Labels: news

#5661 Add community content resource page
  _layouts/topic-maintainer.html
  news/_posts/2024-12-19-community_page.md
  news/images/spoc_images/community_page.png
  topics/community/faqs/community_activites_calendar.md
  topics/community/faqs/community_home.md
  topics/community/faqs/maintainer_home.md
  topics/community/images/community_home.png
  topics/community/images/community_maintainer_home_buttons.png
  topics/community/images/maintainer_home.png
  topics/community/metadata.yaml
  topics/community/tutorials/community-tool-table/tutorial.md
  topics/community/tutorials/community_content/faqs/index.md
  topics/community/tutorials/community_content/tutorial.md
  topics/community/tutorials/sig_create/tutorial.md
  topics/community/tutorials/sig_define/tutorial.md
  topics/community/tutorials/tools_subdomains/tutorial.md
Labels: template-and-tools, news

#5662 News layout same as LP layout
  _includes/contributor-badge.html
  _includes/news-card.html
  assets/css/main.scss
  news.md
Labels: template-and-tools

#5668 Add some links to community home pages to Wendi's news posts
  news/_posts/2024-12-19-community_page.md
Labels: news

#5670 Put in correct zone
  topics/single-cell/faqs/amplification.md
Labels: single-cell
