Repository galaxyproject/training-material, pull requests merged in 2024-06, with the labels that each got.

#4980 Update 2023-10-02-mtb-ngs.html
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  events/2024-06-10-mtb-ngs.html
  shared/images/irccs.jpg
  shared/images/uni_san_raffaele.svg
Labels: template-and-tools

#4985 ensure contribs/orgs/funders are linted
  .github/workflows/ci-main.yml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#4986 updating tutorial with new bam file
  topics/genome-annotation/tutorials/lncrna/data-library.yaml
  topics/genome-annotation/tutorials/lncrna/tutorial.md
Labels: genome-annotation

#4963 Link to events from a tutorial that's included in those events
  _includes/event-table.html
  _layouts/tutorial_hands_on.html
  _plugins/gtn.rb
  _plugins/util.rb
Labels: template-and-tools

#4989 Update 2024-06-10-mtb-ngs.html
  CONTRIBUTORS.yaml
  _includes/tutorial_list.html
  _layouts/event.html
  events/2024-04-01-example-event.md
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#4993 add FAIR training event
  _layouts/event.html
  events/2024-06-18-FAIR-data-management.md
  events/index.md
  faqs/gtn/gtn_event_create.md
Labels: template-and-tools, faqs

#4994 Add external events to eventstable on homepage
  _layouts/home.html
Labels: template-and-tools

#4995 Update 2024-06-10-mtb-ngs.html
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#4996 fix link for external events
  _layouts/home.html
Labels: template-and-tools

#5001 Mtb misc
  ORGANISATIONS.yaml
  _includes/funding-statement.md
  _layouts/event.html
  assets/css/main.scss
  events/2024-06-10-mtb-ngs.html
  shared/images/EU-logo.jpg
  shared/images/FIND.png
  shared/images/edctp.jpg
  shared/images/linq.jpg
  shared/images/panacea.jpg
  shared/images/pangens.jpg
  shared/images/sanbi.png
  shared/images/swiss-tph.png
  shared/images/tb_capt.svg
Labels: template-and-tools

#4998 some tess fixes, rss blogpost
  _layouts/event.html
  _layouts/learning-pathway.html
  _plugins/feeds.rb
  _plugins/gtn.rb
  _plugins/jekyll-bundler.rb
  _plugins/jekyll-jsonld.rb
  _plugins/util.rb
  assets/images/valid-atom.png
  events/2024-06-10-mtb-ngs.html
  news/_posts/2024-06-04-gtn-standards-rss.md
Labels: template-and-tools, news

#4992 Add Tool Form integration Article
  _layouts/news.html
  news/_posts/2024-06-04-tool-form-integration.md
  news/images/2024-06-04-tool-form-integration.png
Labels: template-and-tools, news

#4997 Update 2024-06-10-mtb-ngs.html
  _includes/tutorial_list.html
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#5004 MTB event: Fix link
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#4982 Update actions
  .github/workflows/ci-main.yml
  .github/workflows/ci.yml
  .github/workflows/cron-commit-cache.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-build.yaml
  .github/workflows/git-gat.yml
  .github/workflows/google-form.yml
  .github/workflows/matrix.yml
  .github/workflows/monthly-release-backfill.yml
  .github/workflows/monthly-release.yml
  .github/workflows/optimize-images.yml
  .github/workflows/shortlinks.yaml
  .github/workflows/update-libraries.yaml
  .github/workflows/video-dry.yml
  .github/workflows/video.yml
  bin/news.rb
Labels: template-and-tools

#5006 Update 2024-06-10-mtb-ngs.html
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#4965 Add DADA2 tutorial
  topics/microbiome/tutorials/dada-16S/faqs/index.md
  topics/microbiome/tutorials/dada-16S/images/alpha_diversity.png
  topics/microbiome/tutorials/dada-16S/images/alphadiversity_metrics.png
  topics/microbiome/tutorials/dada-16S/images/barplot1.png
  topics/microbiome/tutorials/dada-16S/images/barplot2.png
  topics/microbiome/tutorials/dada-16S/images/learnErrors_forward.png
  topics/microbiome/tutorials/dada-16S/images/learnErrors_reverse.png
  topics/microbiome/tutorials/dada-16S/images/ordination.png
  topics/microbiome/tutorials/dada-16S/images/plotQualityProfile_forward.png
  topics/microbiome/tutorials/dada-16S/images/plotQualityProfile_reverse.png
  topics/microbiome/tutorials/dada-16S/images/plotQualityProfile_reverse_after_filter_trim.png
  topics/microbiome/tutorials/dada-16S/images/sequence_length_distribution.png
  topics/microbiome/tutorials/dada-16S/tutorial.bib
  topics/microbiome/tutorials/dada-16S/tutorial.md
  topics/microbiome/tutorials/dada-16S/workflows/index.md
  topics/microbiome/tutorials/dada-16S/workflows/test-data/header.tabular
  topics/microbiome/tutorials/dada-16S/workflows/test-data/taxons.tabular
  topics/microbiome/tutorials/dada-16S/workflows/workflow-tests.yml
  topics/microbiome/tutorials/dada-16S/workflows/workflow.ga
  topics/microbiome/tutorials/mothur-miseq-sop/background_16S.md
  topics/microbiome/tutorials/mothur-miseq-sop/content.md
Labels: microbiome

#5007 Final tweaks to mTB course
  ORGANISATIONS.yaml
  bin/filter-pyolite-safe
  bin/prepare_feedback.rb
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#5008 Add 2 news: 400 tutorial milestone & dada2 tutorial
  news/_posts/2024-06-06-400-tutorials-milestone.md
  news/_posts/2024-06-06-dada2-tutorial.md
  news/images/2024-06-06-400-tutorials.png
  news/images/2024-06-06-contributions.png
Labels: news

#5010 Update 2024-06-10-mtb-ngs.html
  CONTRIBUTORS.yaml
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#5013 Change names to distinguish package and language
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_FilterPlotandExploreRStudio/tutorial.md
  topics/single-cell/tutorials/scrna-case_FilterPlotandExplore_SeuratTools/tutorial.md
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-rstudio/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.md
Labels: single-cell

#5019 Update 2024-06-10-mtb-ngs.html
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#5015 Add SPOC to the Talk to other users FAQ
  topics/single-cell/faqs/user_community_join.md
Labels: single-cell

#5021 Update tb variant analysis tutorial: fix some numbers
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
Labels: variant-analysis

#5009 Edit dada-16S tutorial.md
  topics/microbiome/tutorials/dada-16S/tutorial.md
Labels: microbiome

#5023 Update: TB Variant Analysis: Add alternative instructions on importing the workflow into Galaxy
  topics/variant-analysis/tutorials/tb-variant-analysis/tutorial.md
Labels: variant-analysis

#5024 fix a little typo in ref-bas rna-seq tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Labels: transcriptomics

#5026 fix remaining youtube snippets
  _includes/youtube.html
  assets/css/main.scss
  news/_posts/2021-06-26-tutorial-volcanoplot-r.md
  topics/climate/tutorials/climate-101/tutorial.md
  topics/galaxy-interface/tutorials/collections/tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
  topics/introduction/tutorials/vsi_qc/tutorial.md
  topics/teaching/tutorials/gtn-for-instructors/slides.html
  topics/teaching/tutorials/learner_participation_engagement/tutorial.md
Labels: introduction, template-and-tools, galaxy-interface, teaching, climate, news

#5025 Improve fallback behaviour of workflow import snippets
  _plugins/snippet.rb
  assets/css/main.scss
  faqs/galaxy/workflows_import.md
  faqs/galaxy/workflows_import_from_dockstore.md
  faqs/galaxy/workflows_import_from_workflowhub.md
  faqs/galaxy/workflows_run_ds.md
  faqs/galaxy/workflows_run_trs.md
  faqs/galaxy/workflows_run_wfh.md
  news/_posts/2023-12-12-tutorial-run-wfh-ds.md
  news/_posts/2024-03-28-by-covid-pathways.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/transcriptomics/tutorials/minerva-pathways/tutorial.md
  topics/transcriptomics/tutorials/minerva-pathways/workflows/Galaxy-Workflow-BY-COVID__Data_Download.ga
Labels: transcriptomics, template-and-tools, contributing, faqs, news

#5027 Adding news about call for trainers for the Galaxy Training Academy
  events/galaxy-academy-2024.md
  news/_posts/2024-06-11-GalaxyTrainingAcademy-Call-Contribution.md
Labels: template-and-tools, news

#5029 For Teresa: table layout tweaks
  news/_posts/2024-06-11-GalaxyTrainingAcademy-Call-Contribution.md
Labels: news

#5030 adding Machine to Machine Learning
  news/_posts/2024-06-11-GalaxyTrainingAcademy-Call-Contribution.md
Labels: news

#5031 Update 2024-06-10-mtb-ngs.html
  CONTRIBUTORS.yaml
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#5032 Show ongoing events on home page
  _layouts/home.html
Labels: template-and-tools

#5033 replaced with RSS integration of element/matrix
  .github/workflows/ci-main.yml
  _plugins/api.rb
  _plugins/feeds.rb
  _plugins/gtn.rb
  _plugins/gtn/mod.rb
  _plugins/jekyll-jsonld.rb
  _plugins/jekyll-topic-filter.rb
  bin/news.rb
  events/2024-06-10-mtb-ngs.html
Labels: template-and-tools

#5035 fix api build
  _plugins/api.rb
Labels: template-and-tools

#5036 missing feed stylesheet
  feed-html.xslt.xml
Labels: template-and-tools

#5037 fix google news github action
  .github/workflows/google-form.yml
  bin/google-form-news.rb
Labels: template-and-tools

#5041 Reorder parameters to match tool form
  topics/introduction/tutorials/galaxy-intro-101-everyone/tutorial.md
Labels: introduction

#5042 fix google form workflow
  .github/workflows/google-form.yml
Labels: template-and-tools

#5044 remove unwanted puts
  bin/google-form-recordings.rb
Labels: template-and-tools

#5045 [Actions] Split news and recordings google form processing
  .github/workflows/google-form-news.yml
  .github/workflows/google-form-recordings.yml
  bin/google-form-recordings.rb
Labels: template-and-tools

#5046 [Action] fix wrong id
  .github/workflows/google-form-recordings.yml
Labels: template-and-tools

#5052 Edit dada-16S tutorial.md
  topics/microbiome/tutorials/dada-16S/tutorial.md
Labels: microbiome

#5053 Edit dada-16S tutorial.md
  topics/microbiome/tutorials/dada-16S/tutorial.md
Labels: microbiome

#5059 Pathogen detection from (direct Nanopore) sequencing data using Galaxy - Foodborne Edition
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/tutorial.md
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/allele_based_pathogen_identification-test.yml
  topics/microbiome/tutorials/pathogen-detection-from-nanopore-foodborne-data/workflows/allele_based_pathogen_identification.ga
Labels: microbiome

#5064 Update testing tutorial for GCC-24
  topics/dev/tutorials/writing_tests/api1.md
  topics/dev/tutorials/writing_tests/api2.md
  topics/dev/tutorials/writing_tests/api3.md
  topics/dev/tutorials/writing_tests/api5.md
  topics/dev/tutorials/writing_tests/tutorial.md
  topics/dev/tutorials/writing_tests/unit15.md
  topics/dev/tutorials/writing_tests/unit16.md
Labels: dev

#5070 Expose feedback2 as JSON in API
  _plugins/api.rb
Labels: template-and-tools

#5057 Update shortlinks.yaml
  metadata/shortlinks.yaml
Labels: template-and-tools

#5065 Improve the supported.rb for admins
  _plugins/gtn/supported.rb
Labels: template-and-tools

#5066 Miscellaneous stuff
  _plugins/api.rb
  _plugins/feeds.rb
  _plugins/jekyll-topic-filter.rb
  _plugins/sitemap.rb
  assets/branding/gtn-heart-venn.png
  assets/branding/gtn-heart-venn.svg
  branding/index.md
  faqs/gtn/gtn_stats.md
  feed-widget.xslt.xml
  feeds/index.md
  json-ld.html
  robots.html
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/dev/tutorials/webhooks/slides.html
  topics/epigenetics/index.md
  topics/single-cell/tutorials/EBI-retrieval/workflows/EBI-SCXA-to-AnnData-(Scanpy)-or-Seurat-Object-test.yml
  topics/single-cell/tutorials/EBI-retrieval/workflows/test-data/Mito genes check.zip
Labels: dev, template-and-tools, assembly, epigenetics, faqs, single-cell

#5071 Use full image path in OG tags
  _layouts/base.html
Labels: template-and-tools

#5072 Rename Galaxy Tool Metadata Extractor to Galaxy Codex in tutorials
  topics/dev/tutorials/community-tool-table/tutorial.md
  topics/dev/tutorials/tool-annotation/tutorial.md
Labels: dev

#5074 Add URLs for data to import
  topics/epigenetics/tutorials/tal1-binding-site-identification/tutorial.md
  topics/fair/tutorials/fair-ena/tutorial.md
Labels: epigenetics, fair

#4908 dev.wfh upload
  .github/workflows/workflowhub.yml
  ORGANISATIONS.yaml
  _config.yml
  _layouts/base_slides.html
  _layouts/contributor_index.html
  _layouts/workflow.html
  _plugins/api.rb
  _plugins/generator-workflows.rb
  _plugins/gtn.rb
  _plugins/gtn/ro-crate.rb
  _plugins/gtn/shortlinks.rb
  _plugins/jekyll-topic-filter.rb
  assets/branding/gtn-heart.png
  assets/branding/gtn-logo.png
  assets/branding/gtn-logo@512-bot.png
  assets/branding/gtn-logo@512.png
  assets/branding/gtn-workflows.png
  bin/lint.rb
  bin/schema-organisations.yaml
  bin/wfh-upload.py
  faqs/galaxy/workflows_report_view.md
  topics/admin/tutorials/introduction/slides.html
  topics/admin/tutorials/tool-management/slides.html
  topics/admin/tutorials/troubleshooting/slides.html
Labels: admin, template-and-tools, faqs

#5075 Fix metadata for TeSS
  _plugins/jekyll-jsonld.rb
  topics/admin/tutorials/object-store/tutorial.md
  topics/admin/tutorials/reports/tutorial.md
  topics/data-science/tutorials/python-iterables/tutorial.md
  topics/dev/tutorials/tool-generators-advanced/tutorial.md
  topics/dev/tutorials/writing_tests/tutorial.md
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
  topics/fair/tutorials/fair-ena/tutorial.md
  topics/galaxy-interface/tutorials/processing-many-samples-at-once/tutorial.md
  topics/introduction/tutorials/vsi_qc/tutorial.md
  topics/microbiome/tutorials/dada-16S/tutorial.md
  topics/teaching/tutorials/hybrid-training/tutorial.md
Labels: admin, dev, introduction, template-and-tools, epigenetics, galaxy-interface, teaching, data-science, fair, microbiome

#5079 GCC-24: testing tutorial update
  topics/dev/tutorials/writing_tests/unit6.md
  topics/dev/tutorials/writing_tests/unit7.md
Labels: bug, dev

#5078 Fixed columns selection
  topics/ecology/tutorials/obisindicators/tutorial.md
Labels: ecology

#5087 Add subtopics
  topics/ecology/metadata.yaml
  topics/ecology/tutorials/MetaShARK_tutorial/tutorial.md
  topics/ecology/tutorials/Metashrimps_tutorial/tutorial.md
  topics/ecology/tutorials/Obitools-metabarcoding/tutorial.md
  topics/ecology/tutorials/PAMPA-toolsuite-tutorial/tutorial.md
  topics/ecology/tutorials/QGIS_Web_Feature_Services/tutorial.md
  topics/ecology/tutorials/bacterial-isolate-species-contamination-checking/tutorial.md
  topics/ecology/tutorials/biodiversity-data-exploration/tutorial.md
  topics/ecology/tutorials/champs-blocs/tutorial.md
  topics/ecology/tutorials/de-novo-rad-seq/tutorial.md
  topics/ecology/tutorials/gbif_cleaning/tutorial.md
  topics/ecology/tutorials/genetic-map-rad-seq/tutorial.md
  topics/ecology/tutorials/ndvi_openeo/tutorial.md
  topics/ecology/tutorials/obisindicators/tutorial.md
  topics/ecology/tutorials/panoply_ebv/tutorial.md
  topics/ecology/tutorials/phylogeny-data-prep/tutorial.md
  topics/ecology/tutorials/ref-based-rad-seq/tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
  topics/ecology/tutorials/remote-sensing/tutorial.md
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
  topics/ecology/tutorials/x-array-map-plot/tutorial.md
Labels: ecology

#5089 Replace broken zenodo links in Annotation with Maker trainings
  topics/genome-annotation/tutorials/annotation-with-maker/content.md
Labels: genome-annotation

#5092 Changed Gittr to Matrix.
  CONTRIBUTORS.yaml
  _includes/help.html
Labels: template-and-tools

#5097 Small fixes
  topics/climate/tutorials/ocean-variables/tutorial.md
  topics/ecology/tutorials/QGIS_Web_Feature_Services/tutorial.md
  topics/ecology/tutorials/ndvi_openeo/tutorial.md
Labels: ecology, climate

#5101 adds the missing workflow-hub icon
  assets/images/workflowhub-icon.svg
Labels: template-and-tools

#5103 Deleted mention of create_db.py (deleted script)
  topics/dev/tutorials/core-contributing/tutorial.md
Labels: dev

#5098 Updated tutorial especially to reflect use for Developers
  topics/dev/tutorials/visualization-charts/tutorial.md
Labels: dev

#5105 Update the intro to k8s tutorial
  topics/admin/tutorials/backup-cleanup/slides.html
  topics/admin/tutorials/k8s-deploying-galaxy/tutorial.md
Labels: admin
