Repository galaxyproject/training-material, pull requests merged in 2024-05, with the labels that each got.

#4927 Update for newer Data menu histories_transfer_entire_histories_from_o…
  faqs/galaxy/histories_transfer_entire_histories_from_one_galaxy_server_to_another.md
Labels: faqs

#4920 update annotation workflow with correct input to JBrowse
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-prokka/workflows/Galaxy-Workflow-Workflow_constructed_from_history__prokka-workflow_.ga
Labels: genome-annotation

#4914 Bioimaging tutorial typo fixed
  topics/fair/tutorials/bioimage-REMBI/tutorial.md
Labels: fair

#4924 Upgrading workflows in large genome assembly tutorial
  topics/assembly/tutorials/largegenome/tutorial.md
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Assembly_polishing.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Assembly_with_Flye.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Assess_genome_quality.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Combined_workflows_for_large_genome_assembly.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Data_QC.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Racon_polish_with_Illumina_reads_x2.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Racon_polish_with_long_reads_x4.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-Trim_and_filter_reads.ga
  topics/assembly/tutorials/largegenome/workflows/Galaxy-Workflow-kmer_counting.ga
Labels: assembly

#4930 Fixed a "import with link" snippet that was using the wrong format
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: assembly

#4921 Change create list to create collection and add include.name in snippet link
  faqs/galaxy/collections_build_list.md
Labels: faqs

#4935 Add quick gitpod serve
  Makefile
Labels: template-and-tools

#4889 Make sections easier to link to by adding deep anchor tags
  _config.yml
  _layouts/base.html
  assets/js/anchor.min.js
Labels: template-and-tools

#4881 GTN Header - Adding a Answer Key Histories drop-down menu
  _config.yml
  _includes/resource-answer-histories.html
  _includes/resource-input-histories.html
  _layouts/tutorial_hands_on.html
  bin/schema-tutorial.yaml
  bin/validate-frontmatter.rb
  faqs/gtn/gtn_example_histories.md
  topics/contributing/tutorials/create-new-tutorial-content/images/example-histories.png
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
Labels: template-and-tools, contributing, faqs, single-cell

#4941 Cite circos tool
  topics/visualisation/tutorials/circos/tutorial.bib
  topics/visualisation/tutorials/circos/tutorial.md
Labels: visualisation

#4945 Create Freiburg Team job posting May 2024
  CONTRIBUTORS.yaml
  news/_posts/2024-05-15-galaxy-europe-freiburg-job.md
Labels: template-and-tools, news

#4936 [news] Perfectly FAIR Training!
  faqs/gtn/gtn_citing.md
  news/_posts/2024-05-13-fair.md
  news/images/FAIR-Checker-others.png
  news/images/FAIR-Checker-us.png
Labels: faqs, news

#4949 Upgrade tool versions for Galaxy-ML 1.0
  topics/statistics/tutorials/classification_machinelearning/tutorial.md
  topics/statistics/tutorials/classification_machinelearning/workflows/ml_classification-tests.yml
  topics/statistics/tutorials/classification_machinelearning/workflows/ml_classification.ga
  topics/statistics/tutorials/regression_machinelearning/tutorial.md
  topics/statistics/tutorials/regression_machinelearning/workflows/ml_regression-tests.yml
  topics/statistics/tutorials/regression_machinelearning/workflows/ml_regression.ga
  topics/statistics/tutorials/regression_machinelearning/workflows/regression.ga
Labels: statistics

#4863 vgp assembly: flowcharts for meryl and purge_dups
  topics/assembly/images/vgp_assembly/meryl_collections.png
  topics/assembly/images/vgp_assembly/purge_dups.png
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: assembly

#4955 Fix a couple actions
  .github/workflows/cron-commit-cache.yml
  .github/workflows/update-libraries.yaml
Labels: template-and-tools

#4958 swap tile providers in interim
  _layouts/event.html
Labels: template-and-tools

#4962 Fix annoying square around map marker
  assets/css/images/marker-shadow.png
Labels: template-and-tools

#4956 Reference the in-house Ansible tutorial, from the Ansible-Galaxy tutorial
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  shared/images/logo-uga.svg
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
Labels: admin, template-and-tools

#4967 Fix slide/youtube selector when included multiple times
  _includes/slides-youtube-selector.html
  assets/css/main.scss
Labels: template-and-tools

#4976 Simplify requirements display, fix duplicated hands-on
  _includes/display_extra_training.md
  _plugins/gtn.rb
  _plugins/search.rb
Labels: template-and-tools

#4964 add slack version, schedule version
  _layouts/event.html
  events/2023-10-02-mtb-ngs.html
Labels: template-and-tools

#4961 Add geocoding to cron workflow
  .github/workflows/cron-commit-cache.yml
Labels: template-and-tools

#4896 Fix our RTL support for RTL languages
  _includes/help.html
  _layouts/base.html
  _layouts/topic.html
  assets/css/main.scss
Labels: template-and-tools

#4977 Add new informations: Helixer, compleasm and OMArk
  topics/genome-annotation/tutorials/introduction/slides.html
Labels: genome-annotation

#4979 Update slides.html
  topics/genome-annotation/tutorials/introduction/slides.html
Labels: genome-annotation
