Repository galaxyproject/training-material, pull requests merged in 2025-07, with the labels that each got.

#6224 Add news about GTN and ELIXIR Training Life-Cycle
  news/_posts/2025-07-01-gtn-elixir-life-cycle.md
  news/images/2025-07-01-gtn-elixir-life-cycle_training_lifecycle.png
Labels: news

#6193 [WIP] Biont learning path
  CONTRIBUTORS.yaml
  bin/schema-learning-pathway.yaml
  learning-pathways/biont-python.md
Labels: template-and-tools

#6082 New FAQ: How to use Matrix for newbies and why use Matrix for experienced users (in other platforms: Discord/Slack/Teams)
  faqs/galaxy/images/support_matrix_element.jpg
  faqs/galaxy/support_messaging_system.md
Labels: faqs

#6233 adding barchart tool ID to the Allowed_Short_IDs
  _plugins/util.rb
Labels: template-and-tools

#6234 Updated the list of tools with short IDs. Sorted alphabetically.
  _plugins/util.rb
Labels: template-and-tools

#6242 Update metadata.yaml to add Galaxy Ecology ref & data access and mngt
  topics/ecology/metadata.yaml
Labels: ecology

#6247 Include OSCARS-FIESTA as organisation
  GRANTS.yaml
  ORGANISATIONS.yaml
  shared/images/logos/OSCARS-logo-EUflag.png
  shared/images/logos/logo-FIESTA.png
  topics/imaging/tutorials/voronoi-segmentation/tutorial.md
Labels: template-and-tools, imaging

#6245 update collection creation FAQs
  faqs/galaxy/collections_build_list.md
  faqs/galaxy/collections_build_list_paired.md
  topics/galaxy-interface/images/buildList.png
  topics/galaxy-interface/images/flat_list_edit.png
  topics/galaxy-interface/images/flat_list_selector.png
  topics/galaxy-interface/images/paired_list_edit.png
  topics/galaxy-interface/images/paired_list_selector.png
Labels: galaxy-interface, faqs

#6226 Update last tool in metatranscriptomics tutorials
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow3_functional_information_quick.ga
  topics/microbiome/tutorials/metatranscriptomics/content.md
Labels: microbiome

#6266 Small fixes to the NGS data logistics tutorial
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Labels: introduction

#6268 new yolo training tutorial
  CONTRIBUTORS.yaml
  topics/imaging/images/yolo-train/al_chng_dir.png
  topics/imaging/images/yolo-train/al_finish.png
  topics/imaging/images/yolo-train/al_label.png
  topics/imaging/images/yolo-train/al_label_1.png
  topics/imaging/images/yolo-train/al_open_dir.png
  topics/imaging/tutorials/yolo-segmentation-training/data-library.yaml
  topics/imaging/tutorials/yolo-segmentation-training/faqs/index.md
  topics/imaging/tutorials/yolo-segmentation-training/tutorial.bib
  topics/imaging/tutorials/yolo-segmentation-training/tutorial.md
  topics/imaging/tutorials/yolo-segmentation-training/workflows/index.md
  topics/imaging/tutorials/yolo-segmentation-training/workflows/main_workflow.ga
Labels: template-and-tools, imaging

#6284 use PAT for reviewdog to allow comments on PRs from forks
  .github/workflows/ci-main.yml
Labels: template-and-tools

#6286 Revert "use PAT for reviewdog to allow comments on PRs from forks"
  .github/workflows/ci-main.yml
Labels: template-and-tools
