Repository galaxyproject/training-material, pull requests merged in 2025-03, with the labels that each got.

#5815 Update tutorial.bib
  topics/statistics/tutorials/text_mining_chinese/tutorial.bib
Labels: statistics

#5817 Update GTA2025 event page
  events/2025-05-12-galaxy-academy-2025.md
  events/images/Galaxy_GTA2025.png
  events/tracks/gta2025-assembly.md
  events/tracks/gta2025-bioNT.md
  events/tracks/gta2025-microbiome.md
  events/tracks/gta2025-ml.md
  events/tracks/gta2025-proteomics.md
  events/tracks/gta2025-single-cell.md
  events/tracks/gta2025-transcriptomics.md
Labels: template-and-tools

#5816 Deconvolution learning pathway and blog
  _layouts/learning-pathway.html
  _plugins/jekyll-liquefy.rb
  assets/images/wab-lp-deconvolution.png
  learning-pathways/deconvolution_projects.md
  news/_posts/2025-03-03-deconvo-project.md
Labels: template-and-tools, news

#5821 Blog post
  news/_posts/2025-03-07-ode_to_helena.md
  news/images/wab-helena.png
Labels: news

#5822 Update request-galaxy-tools-on-a-specific-server.md
  faqs/galaxy/request-galaxy-tools-on-a-specific-server.md
Labels: faqs

#5823 Created a post in the FAQ section for Job Cache feature (re_use_equivalent_jobs)
  faqs/galaxy/re_use_equivalent_jobs.md
Labels: faqs

#5828 tiny edits to intro slides
  topics/introduction/tutorials/introduction/slides.html
Labels: introduction

#5829 Update Tutorial.md
  topics/statistics/tutorials/text_mining_chinese/tutorial.md
Labels: statistics

#5808 Add tutorial for multigsea
  CONTRIBUTORS.yaml
  topics/proteomics/images/p-value.png
  topics/proteomics/tutorials/multiGSEA-tutorial/data-library.yaml
  topics/proteomics/tutorials/multiGSEA-tutorial/faqs/index.md
  topics/proteomics/tutorials/multiGSEA-tutorial/tutorial.bib
  topics/proteomics/tutorials/multiGSEA-tutorial/tutorial.md
  topics/proteomics/tutorials/multiGSEA-tutorial/workflows/MultiGSEA-tests.yml
  topics/proteomics/tutorials/multiGSEA-tutorial/workflows/MultiGSEA.ga
  topics/proteomics/tutorials/multiGSEA-tutorial/workflows/index.md
  topics/statistics/index.md
  topics/statistics/metadata.yaml
Labels: template-and-tools, proteomics, statistics

#5831 Update slides.html (fix typo)
  topics/epigenetics/tutorials/formation_of_super-structures_on_xi/slides.html
Labels: epigenetics

#5832 Update tutorial.md
  topics/statistics/tutorials/text_mining_chinese/tutorial.md
Labels: statistics

#5833 Add missing reference to MultiGSEA tutorial
  topics/proteomics/tutorials/multiGSEA-tutorial/tutorial.bib
  topics/proteomics/tutorials/multiGSEA-tutorial/tutorial.md
Labels: proteomics

#5830 Draft tutorials for ELIXIR ML & AI school
  CONTRIBUTORS.yaml
  bin/schema-slides.yaml
  learning-pathways/ml-using-python.md
  metadata/elixir.yaml
  topics/contributing/tutorials/design/tutorial.md
  topics/contributing/tutorials/learning-principles/tutorial.md
  topics/data-science/tutorials/python-warmup-stat-ml/tutorial.md
  topics/statistics/tutorials/deep-learning-without-gai-with-python/slides.html
  topics/statistics/tutorials/deep-learning-without-gai-with-python/tutorial.md
  topics/statistics/tutorials/dome/slides.html
  topics/statistics/tutorials/dome/tutorial.md
  topics/statistics/tutorials/gai-llm-with-python/slides.html
  topics/statistics/tutorials/gai-llm-with-python/tutorial.md
  topics/statistics/tutorials/intro-to-ml-with-python/images/output_6_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/slides.html
  topics/statistics/tutorials/intro-to-ml-with-python/tutorial.md
  topics/statistics/tutorials/neural-networks-with-python/slides.html
  topics/statistics/tutorials/neural-networks-with-python/tutorial.md
  topics/teaching/tutorials/assessment/tutorial.md
  topics/teaching/tutorials/learner_participation_engagement/tutorial.md
  topics/teaching/tutorials/motivation_demotivation/tutorial.md
  topics/teaching/tutorials/workshop-final-exercise/tutorial.md
Labels: template-and-tools, contributing, statistics, teaching, data-science

#5840 integrate tags for the elixir-uk-dash funding
  GRANTS.yaml
  learning-pathways/deconvolution_projects.md
  news/_posts/2023-06-21-fair.md
  news/_posts/2024-01-17-sc-fair-data.md
  news/_posts/2025-03-03-deconvo-project.md
  topics/single-cell/tutorials/EBI-retrieval/tutorial.md
  topics/single-cell/tutorials/bulk-deconvolution-evaluate/tutorial.md
  topics/single-cell/tutorials/scrna-data-ingest/tutorial.md
  topics/single-cell/tutorials/scrna-ncbi-anndata/tutorial.md
Labels: template-and-tools, news, single-cell

#5837 Fix tags of tutorials
  topics/single-cell/tutorials/scrna-case-jupyter_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_FilterPlotandExploreRStudio/tutorial.md
  topics/single-cell/tutorials/scrna-case_FilterPlotandExplore_SeuratTools/tutorial.md
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-rstudio/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.md
Labels: single-cell

#5839 Spoc affiliation
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  shared/images/logos/logo_ou.png
  shared/images/logos/spoc_hand.png
Labels: template-and-tools

#5836 Faq where to post issues
  topics/contributing/faqs/where-to-report.md
Labels: contributing

#5810 Update "End-to-End Tissue Microarray Image Analysis with Galaxy-ME" tools, workflow, and tutorial
  redirects/multiplex_imaging_tma_rename.md
  topics/imaging/images/multiplex-tissue-imaging-TMA/avivator_new_display.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/avivator_old_display.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_avivatorHistory.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_example_GMMs.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_fullVitessce.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_galaxyWF.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_squidpy_enrichment.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_squidpy_ripleys.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_squidpy_scatter.png
  topics/imaging/images/multiplex-tissue-imaging-TMA/ex2_vitessce_zoomed.png
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/tutorial.bib
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/tutorial.md
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/workflows/GTN_Exemplar_002_TMA_workflow_Feb2025-tests.yml
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/workflows/GTN_Exemplar_002_TMA_workflow_Feb2025.ga
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/workflows/main_workflow.ga
Labels: template-and-tools, imaging

#5848 Draft tutorials for bacterial comparative genomics learning pathway
  CONTRIBUTORS.yaml
  learning-pathways/bacterial-comparative-genomics.md
  topics/evolution/tutorials/bacterial-comparative-genomics/tutorial.bib
  topics/evolution/tutorials/bacterial-comparative-genomics/tutorial.md
  topics/genome-annotation/tutorials/bacterial-comparative-genomics-dataset-construction/tutorial.bib
  topics/genome-annotation/tutorials/bacterial-comparative-genomics-dataset-construction/tutorial.md
  topics/genome-annotation/tutorials/bacterial-genome-quality-control/tutorial.bib
  topics/genome-annotation/tutorials/bacterial-genome-quality-control/tutorial.md
  topics/genome-annotation/tutorials/bacterial-pangenomics/tutorial.bib
  topics/genome-annotation/tutorials/bacterial-pangenomics/tutorial.md
Labels: template-and-tools, genome-annotation, evolution

#5849 add reviewers to contributions metadata
  topics/imaging/tutorials/multiplex-tissue-imaging-TMA/tutorial.md
Labels: imaging

#5851 Minor format fix
  topics/contributing/faqs/where-to-report.md
Labels: contributing

#5844 Github Desktop version of how to contribute
  CONTRIBUTORS.yaml
  faqs/gtn/gtn_minor_correction.md
  learning-pathways/io1.md
  topics/contributing/images/clone_a_repo.png
  topics/contributing/images/desktop-commit.png
  topics/contributing/images/desktop-commit_suggestion.png
  topics/contributing/images/desktop-contributors_file.png
  topics/contributing/images/desktop-create_branch.png
  topics/contributing/images/desktop-fetch_origin.png
  topics/contributing/images/desktop-new_branch.png
  topics/contributing/images/desktop-open_in_editor.png
  topics/contributing/images/desktop-publish_branch.png
  topics/contributing/images/desktop-push_origin.png
  topics/contributing/images/desktop-select_a_branch.png
  topics/contributing/images/desktop-select_current_branch.png
  topics/contributing/tutorials/github-command-line-contribution/faqs/index.md
  topics/contributing/tutorials/github-contribution/faqs/index.md
  topics/contributing/tutorials/github-contribution/slides.html
  topics/contributing/tutorials/github-contribution/tutorial.md
  topics/dev/tutorials/core-contributing/tutorial.md
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: dev, introduction, template-and-tools, contributing, faqs

#5845 Combine 3 GTN website rendering tutorials into 1 CYOA
  Makefile
  _includes/cyoa-choices.html
  learning-pathways/building_tutorials.md
  news/_posts/2021-06-25-gitpod.md
  topics/contributing/images/gitpod/gitpod-home.png
  topics/contributing/images/gitpod/gitpod-launched.png
  topics/contributing/images/gitpod/gitpod-prebuilds.png
  topics/contributing/images/gitpod/gitpod-workspace.png
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
  topics/contributing/tutorials/gitpod/faqs/index.md
  topics/contributing/tutorials/gitpod/tutorial.md
  topics/contributing/tutorials/introduction/slides.html
  topics/contributing/tutorials/rendering_gtn/faqs/index.md
  topics/contributing/tutorials/rendering_gtn/images/codespace-publlish.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-branch-change1.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-branch-change2.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-commit-1.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-commit-2.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-commit-plus.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-compare-pr.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-export-to-branch.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-home.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-launch.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-make-preview.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-ports-preview-buttons.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-ports-tab.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-preview-editor.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-regenerating.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-reloaded.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-stop-1.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-stop-2.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-tutorial-edited.png
  topics/contributing/tutorials/rendering_gtn/images/codespaces-viewbutton.png
  topics/contributing/tutorials/rendering_gtn/tutorial.md
  topics/contributing/tutorials/running-codespaces/faqs/index.md
  topics/contributing/tutorials/running-codespaces/tutorial.md
  topics/contributing/tutorials/running-jekyll/faqs/index.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
  user/privacy.md
Labels: template-and-tools, contributing, news

#5854 Minor update - OU logo to fit
  shared/images/logos/logo_ou.png
Labels: template-and-tools

#5857 typo
  topics/contributing/tutorials/github-contribution/tutorial.md
Labels: contributing

#5806 Change from fastqc to falco in ref-based-rad-seq tutorial
  topics/ecology/tutorials/ref-based-rad-seq/tutorial.md
Labels: ecology

#5869 Update Jbrowse parameter
  topics/assembly/tutorials/chloroplast-assembly/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-prokka/tours/tour.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/tours/tour.yaml
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Labels: variant-analysis, assembly, genome-annotation

#5863 Update CUT and RUN tutorial
  topics/epigenetics/images/cut_and_run/fastqc_adapter_content_plot_post.png
  topics/epigenetics/images/cut_and_run/fastqc_adapter_content_plot_pre.png
  topics/epigenetics/images/cut_and_run/fingerprint.png
  topics/epigenetics/images/cut_and_run/peak_coverage_heatmap.png
  topics/epigenetics/tutorials/cut_and_run/tutorial.md
  topics/epigenetics/tutorials/cut_and_run/workflows/main_workflow-tests.yml
  topics/epigenetics/tutorials/cut_and_run/workflows/main_workflow.ga
Labels: epigenetics

#5868 Add training on designing viral primer schemes with MAFFT and VarVamp
  CONTRIBUTORS.yaml
  topics/sequence-analysis/images/mafft_varvamp_training/aligned_Polio1_sequence128-142.png
  topics/sequence-analysis/tutorials/viral_primer_design/faqs/index.md
  topics/sequence-analysis/tutorials/viral_primer_design/tutorial.bib
  topics/sequence-analysis/tutorials/viral_primer_design/tutorial.md
  topics/sequence-analysis/tutorials/viral_primer_design/workflows/index.md
  topics/sequence-analysis/tutorials/viral_primer_design/workflows/main_workflow-tests.yml
  topics/sequence-analysis/tutorials/viral_primer_design/workflows/main_workflow.ga
Labels: template-and-tools, sequence-analysis

#5865 New Tutorial: 2D-spot detection and smFISH quantification
  topics/imaging/images/2d_spot_detection/2025_overlay.png
  topics/imaging/images/2d_spot_detection/2025_post_clahe.png
  topics/imaging/images/2d_spot_detection/2025_pre_clahe.png
  topics/imaging/images/2d_spot_detection/2025_visual_labels.png
  topics/imaging/images/2d_spot_detection/2025_workflow.png
  topics/imaging/images/2d_spot_detection/TSV_output.png
  topics/imaging/tutorials/2D-spot-detection/data-library.yaml
  topics/imaging/tutorials/2D-spot-detection/tutorial.bib
  topics/imaging/tutorials/2D-spot-detection/tutorial.md
  topics/imaging/tutorials/2D-spot-detection/workflows/2025_2D_spot_detection-tests.yml
  topics/imaging/tutorials/2D-spot-detection/workflows/2025_2D_spot_detection.ga
  topics/imaging/tutorials/2D-spot-detection/workflows/index.md
  topics/imaging/tutorials/2D-spot-detection/workflows/test-data/out_png_Exp1_rep1_10min_im1__4496770__0__0__2048__2048.png
  topics/imaging/tutorials/2D-spot-detection/workflows/test-data/out_png_Exp1_rep1_15min_im2__4496781__0__0__2048__2048.png
Labels: imaging

#5873 Change from fastqc to falco in ENA_Biodiv_submission
  topics/ecology/tutorials/ENA_Biodiv_submission/tutorial.md
Labels: ecology

#5871 Change from fastqc to falco in de-novo-rad-seq tutorial
  topics/ecology/tutorials/de-novo-rad-seq/tutorial.md
Labels: ecology

#5880 Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5878 2D-spots detection in Galaxy: Small tutorial fixes
  topics/imaging/images/2d_spot_detection/2025_workflow.png
  topics/imaging/tutorials/2D-spot-detection/tutorial.md
Labels: imaging

#5883 Change from fastqc to falco in somatic-variants tutorial
  topics/variant-analysis/tutorials/somatic-variants/tutorial.md
Labels: variant-analysis

#5881 Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5877 Introduction to Image Analysis using Galaxy: Fix explanations about 16bit images
  topics/imaging/tutorials/imaging-introduction/tutorial.md
Labels: imaging

#5882 Change from fastqc to falco in somatic-variant-discovery tutorial
  topics/variant-analysis/tutorials/somatic-variant-discovery/tutorial.md
Labels: variant-analysis

#5803 Change from FastQC to Falco in the tutorials quality-contamination-control and mrsa-illumina
  topics/assembly/images/mrsa/falco-1.png
  topics/assembly/images/mrsa/falco-2.png
  topics/assembly/images/mrsa/fastqc-1.png
  topics/assembly/images/mrsa/fastqc-2.png
  topics/assembly/tutorials/mrsa-illumina/tutorial.md
  topics/sequence-analysis/tutorials/quality-contamination-control/tutorial.md
  topics/sequence-analysis/tutorials/quality-contamination-control/workflows/Quality_and_contamination_control_in_bacterial_isolate_using_Illumina_MiSeq_Data.ga
Labels: assembly, sequence-analysis

#5870 Add GTN slides for ML tutorials
  topics/statistics/tutorials/classification_machinelearning/images/c1.png
  topics/statistics/tutorials/classification_machinelearning/images/c2.png
  topics/statistics/tutorials/classification_machinelearning/images/c3.png
  topics/statistics/tutorials/classification_machinelearning/images/c4.png
  topics/statistics/tutorials/classification_machinelearning/images/c5.png
  topics/statistics/tutorials/classification_machinelearning/images/c6.png
  topics/statistics/tutorials/classification_machinelearning/slides.html
  topics/statistics/tutorials/fine_tuning_protTrans/images/ft0.png
  topics/statistics/tutorials/fine_tuning_protTrans/images/ft1.png
  topics/statistics/tutorials/fine_tuning_protTrans/images/ft3.png
  topics/statistics/tutorials/fine_tuning_protTrans/images/ft4.png
  topics/statistics/tutorials/fine_tuning_protTrans/images/ft5.png
  topics/statistics/tutorials/fine_tuning_protTrans/slides.html
  topics/statistics/tutorials/machinelearning/images/it1.png
  topics/statistics/tutorials/machinelearning/images/it10.png
  topics/statistics/tutorials/machinelearning/images/it2.png
  topics/statistics/tutorials/machinelearning/images/it3.png
  topics/statistics/tutorials/machinelearning/images/it4.png
  topics/statistics/tutorials/machinelearning/images/it5.png
  topics/statistics/tutorials/machinelearning/images/it6.png
  topics/statistics/tutorials/machinelearning/images/it7.png
  topics/statistics/tutorials/machinelearning/images/it8.png
  topics/statistics/tutorials/machinelearning/images/it9.png
  topics/statistics/tutorials/machinelearning/slides.html
  topics/statistics/tutorials/regression_machinelearning/images/r0.png
  topics/statistics/tutorials/regression_machinelearning/images/r0_1.png
  topics/statistics/tutorials/regression_machinelearning/images/r1.png
  topics/statistics/tutorials/regression_machinelearning/images/r2.png
  topics/statistics/tutorials/regression_machinelearning/images/r3.png
  topics/statistics/tutorials/regression_machinelearning/images/r4.png
  topics/statistics/tutorials/regression_machinelearning/images/r5.png
  topics/statistics/tutorials/regression_machinelearning/slides.html
Labels: statistics

#5875 Add missing parameters to neoantigen tutorials
  topics/proteomics/tutorials/neoantigen-2-non-reference-database-generation/tutorial.md
  topics/proteomics/tutorials/neoantigen-4-peptide-verification/tutorial.md
  topics/proteomics/tutorials/neoantigen-7-hla-binding-novel-peptides/tutorial.md
Labels: proteomics

#5897 add suffix to recordings PR branch
  .github/workflows/google-form-recordings.yml
Labels: template-and-tools

#5855 WIP: Started GTN tutorial on TAPScan
  CONTRIBUTORS.yaml
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/faqs/index.md
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/arath-filtered-expanded.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/mafft-expanded.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/sequence-ids.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/tapscan-extra-output.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/tree-viz-ete.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/tree-viz-galaxy.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/trimal-screenshot-summary.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/trimal-screenshot.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/visualize-msa-galaxy-length.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/visualize-msa-galaxy.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/images/visualize-msa-screenshot.png
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/tutorial.bib
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/tutorial.md
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/workflows/index.md
  topics/sequence-analysis/tutorials/tapscan-streptophyte-algae/workflows/main_workflow.ga
Labels: template-and-tools, sequence-analysis

#5908 Update CODEOWNERS
  CODEOWNERS
Labels: template-and-tools

#5909 update CODEOWNERS file
  CODEOWNERS
  editorial-board.md
  metadata/one-health.yaml
  topics/assembly/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/galaxy-interface/metadata.yaml
Labels: dev, template-and-tools, assembly, epigenetics, galaxy-interface

#5890 Adjust WF FAQs to Activity Bar-based UI
  faqs/galaxy/workflows_edit.md
  faqs/galaxy/workflows_import.md
  faqs/galaxy/workflows_import_from_workflowhub.md
  faqs/galaxy/workflows_import_search.md
  faqs/galaxy/workflows_publish.md
  faqs/galaxy/workflows_run.md
  faqs/galaxy/workflows_run_ds.md
  faqs/galaxy/workflows_run_trs.md
  faqs/galaxy/workflows_run_wfh.md
  topics/assembly/tutorials/largegenome/tutorial.md
  topics/variant-analysis/tutorials/sars-cov-2-variant-discovery/tutorial.md
Labels: variant-analysis, assembly, faqs

#5910 add @delphine-l as EB member
  CODEOWNERS
  topics/galaxy-interface/metadata.yaml
  topics/introduction/metadata.yaml
Labels: introduction, template-and-tools, galaxy-interface

#5905 GTA post
  news/_posts/2025-03-26-gta-registration-open.md
Labels: news

#5911 indicate type of editorial role on hall of fame page
  _layouts/contributor_index.html
Labels: template-and-tools

#5912 Fix quality calculation in QC tutorial
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: sequence-analysis

#5913 Maintainter page fixes
  _layouts/topic-maintainer.html
Labels: template-and-tools

#5918 added register link
  news/_posts/2025-03-26-gta-registration-open.md
Labels: news
