Repository galaxyproject/training-material, pull requests merged in 2025-09, with the labels that each got.

#6327 [Bugfix] Fix pURLs being replaced
  metadata/shortlinks.yaml
Labels: template-and-tools

#6321 Add GAT Brno event, the gtn-style
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  events/2025-11-24-gat-brno.md
Labels: template-and-tools

#6330 fix link to registration form
  events/2025-11-24-gat-brno.md
Labels: template-and-tools

#6332 [JSON-LD markup] remove obsolete terms
  _plugins/jekyll-jsonld.rb
Labels: template-and-tools

#6335 add logos rfmf metabohub
  shared/images/metabohub.png
  shared/images/rfmf.png
Labels: template-and-tools

#6341 image compress action -- do not create a unique branch each time
  .github/workflows/optimize-images.yml
Labels: template-and-tools

#6344 add input history
  topics/assembly/tutorials/vgp_workflow_training/tutorial.md
Labels: assembly

#6342 Update ORGANISATIONS.yaml rfmf metabohub
  ORGANISATIONS.yaml
Labels: template-and-tools

#6347 Update tutorial.md
  topics/digital-humanities/tutorials/text_mining_chinese/tutorial.md
Labels: digital-humanities

#6351 Update tutorial.md
  topics/digital-humanities/tutorials/introduction_to_dh/tutorial.md
Labels: digital-humanities

#6349 added new blog post for gta orga call
  news/_posts/2025-09-12-gta-orga-2026.md
Labels: news

#6317 Qcv analysis update
  CONTRIBUTORS.yaml
  faqs/galaxy/collections_autobuild_list.md
  faqs/galaxy/workflows_run.md
  topics/climate/images/bgc_calib/bgc_10d.png
  topics/climate/images/bgc_calib/bgc_2a.png
  topics/climate/images/bgc_calib/bgc_2f.png
  topics/climate/images/bgc_calib/bgc_3a.png
  topics/climate/images/bgc_calib/bgc_4d.png
  topics/climate/images/bgc_calib/bgc_5d.png
  topics/climate/images/bgc_calib/bgc_6d.png
  topics/climate/images/bgc_calib/bgc_6ebis.png
  topics/climate/images/bgc_calib/bgc_6k.png
  topics/climate/images/bgc_calib/bgc_calibration.png
  topics/climate/images/bgc_calib/bgc_calibtool_config.png
  topics/climate/images/bgc_calib/bgc_workflow.png
  topics/climate/images/bgc_calib/build_collection.png
  topics/climate/images/bgc_calib/change_ext.png
  topics/climate/images/bgc_calib/collection_emptyhist.png
  topics/climate/images/bgc_calib/collection_hist.png
  topics/climate/images/bgc_calib/galaxy_storage_handling.png
  topics/climate/images/bgc_calib/interface_1.png
  topics/climate/images/bgc_calib/interface_2.png
  topics/climate/images/bgc_calib/local_upload.png
  topics/climate/images/bgc_calib/odv_coll.png
  topics/climate/images/bgc_calib/odv_history.png
  topics/climate/images/bgc_calib/odv_launch.png
  topics/climate/images/bgc_calib/odv_launch_2.png
  topics/climate/images/bgc_calib/odv_view.png
  topics/climate/images/bgc_calib/qcv_harmonizer.png
  topics/climate/images/bgc_calib/s3_upload.png
  topics/climate/tutorials/ocean_qcv_analysis/tutorial.md
  topics/climate/tutorials/ocean_qcv_analysis/workflows/Galaxy-Workflow-Argo-Glider_Nitrate_QCV.ga
Labels: template-and-tools, climate, faqs

#6360 GAT brno: add pauldg to instructors
  events/2025-11-24-gat-brno.md
Labels: template-and-tools

#6361 Update DH tutorial.md
  topics/digital-humanities/tutorials/introduction_to_dh/tutorial.md
Labels: digital-humanities

#6363 Fix broken links for installation steps
  topics/fair/tutorials/dataplant-arcs/tutorial.md
Labels: fair

#6365 MaxQuant and MSstats for the analysis of label-free data - update maxquant version and results
  topics/proteomics/images/maxquant-msstats-lfq/features_sample.png
  topics/proteomics/images/maxquant-msstats-lfq/qc_plot.png
  topics/proteomics/images/maxquant-msstats-lfq/upload.png
  topics/proteomics/images/maxquant-msstats-lfq/volcano_plot.png
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
Labels: proteomics

#6366 Mass spectrometry: LC-MS analysis - add links to tools
  topics/metabolomics/tutorials/lcms/tutorial.md
Labels: metabolomics

#6374 maxquant training update links
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
Labels: proteomics

#6376 update links - maxquant
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
Labels: proteomics

#6387 correcting the organizer - graz workshop
  events/2025-09-24-wokshop-graz.md
Labels: template-and-tools
