Repository galaxyproject/training-material, pull requests merged in 2025-02, with the labels that each got.

#5730 Grammar edit
  faqs/galaxy/datasets_import_from_data_library.md
Labels: faqs

#5731 Grammar edit
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Labels: introduction

#5709 Training for the bioconductor-scp tool
  CONTRIBUTORS.yaml
  topics/proteomics/images/bioconductor-scp_SCOPE2.png
  topics/proteomics/tutorials/bioconductor-scp/faqs/index.md
  topics/proteomics/tutorials/bioconductor-scp/tutorial.bib
  topics/proteomics/tutorials/bioconductor-scp/tutorial.md
  topics/proteomics/tutorials/bioconductor-scp/workflows/index.md
Labels: template-and-tools, proteomics

#5732 Few edits
  topics/introduction/tutorials/data-manipulation-olympics/tutorial.md
Labels: introduction

#5735 Update tutorial.md of a tutorial called "Formation of the Super-Structures on the Inactive X"
  topics/epigenetics/tutorials/formation_of_super-structures_on_xi/tutorial.md
Labels: epigenetics

#5736 scp tutorial add self as editor
  topics/proteomics/tutorials/bioconductor-scp/tutorial.md
Labels: proteomics

#5733 Dadrasarmin updated galaxy intro peaks2genes tutorial
  faqs/galaxy/datasets_import_from_data_library.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Labels: introduction, faqs

#5723 Update tutorial.md
  redirects/proteomics_neoantigen-2_rename.md
  topics/microbiome/tutorials/clinical-mp-2-discovery
  topics/proteomics/README.md
  topics/proteomics/tutorials/neoantigen-1-fusion-database-generation/tutorial.md
  topics/proteomics/tutorials/neoantigen-2-non-normal-database-generation/faqs/index.md
  topics/proteomics/tutorials/neoantigen-2-non-normal-database-generation/workflows/index.md
  topics/proteomics/tutorials/neoantigen-2-non-normal-database-generation/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-2-non-reference-database-generation/data-library.yaml
  topics/proteomics/tutorials/neoantigen-2-non-reference-database-generation/faqs/index.md
  topics/proteomics/tutorials/neoantigen-2-non-reference-database-generation/tutorial.bib
  topics/proteomics/tutorials/neoantigen-2-non-reference-database-generation/tutorial.md
  topics/proteomics/tutorials/neoantigen-2-non-reference-database-generation/workflows/index.md
  topics/proteomics/tutorials/neoantigen-2-non-reference-database-generation/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-5-variant-annotation/tutorial.md
  topics/proteomics/tutorials/neoantigen-5-variant-annotation/workflows/main_workflow.ga
Labels: template-and-tools, proteomics, microbiome

#5720 Galaxy Training Academy 2025 event page
  CONTRIBUTORS.yaml
  events/2025-05-12-galaxy-academy-2025.md
  events/tracks/gta2025-microbiome.md
  events/tracks/gta2025-ml.md
  events/tracks/gta2025-proteomics.md
  events/tracks/gta2025-single-cell.md
  events/tracks/gta2025-transcriptomics.md
Labels: template-and-tools

#5179 Add section on high availability setups to Galaxy Interactive Tools training
  topics/admin/tutorials/interactive-tools/tutorial.md
Labels: admin

#5741 Change cutadapt version to 4.9 in section Processing multiple datasets
  topics/sequence-analysis/images/quality-control/fastqe-mean-after.png
  topics/sequence-analysis/images/quality-control/fastqe-mean-before.png
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Labels: sequence-analysis

#5743 RSS-to-Bluesky action
  .github/workflows/blueskyfeedbot.yml
Labels: template-and-tools

#5744 Bluesky feed
  .github/workflows/blueskyfeedbot.yml
Labels: template-and-tools

#5745 add description
  .github/workflows/blueskyfeedbot.yml
Labels: template-and-tools

#5747 shorted template to make it less likely to hit character limit
  .github/workflows/blueskyfeedbot.yml
Labels: template-and-tools

#5750 Fix wording
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: introduction

#5753 Addressing maintainer page X in SPOC
  topics/single-cell/tutorials/GO-enrichment/tutorial.md
  topics/single-cell/tutorials/bulk-deconvolution-evaluate/tutorial.md
  topics/single-cell/tutorials/bulk-music-4-compare/tutorial.md
  topics/single-cell/tutorials/bulk-music/tutorial.md
  topics/single-cell/tutorials/scanpy_parameter_iterator/tutorial.md
  topics/single-cell/tutorials/scatac-preprocessing-tenx/tutorial.md
  topics/single-cell/tutorials/scatac-standard-processing-snapatac2/tutorial.md
  topics/single-cell/tutorials/scrna-case-cell-annotation/slides.html
  topics/single-cell/tutorials/scrna-case_FilterPlotandExploreRStudio/tutorial.md
  topics/single-cell/tutorials/scrna-case_FilterPlotandExplore_SeuratTools/tutorial.md
  topics/single-cell/tutorials/scrna-case_JUPYTER-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-rstudio/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-data-formats/slides.html
  topics/single-cell/tutorials/scrna-data-ingest/tutorial.md
  topics/single-cell/tutorials/scrna-intro/slides.html
  topics/single-cell/tutorials/scrna-ncbi-anndata/tutorial.md
  topics/single-cell/tutorials/scrna-plant/tutorial.md
  topics/single-cell/tutorials/scrna-plates-batches-barcodes/slides.html
  topics/single-cell/tutorials/scrna-preprocessing-tenx/tutorial.md
  topics/single-cell/tutorials/scrna-preprocessing/tutorial.md
  topics/single-cell/tutorials/scrna-scanpy-pbmc3k/tutorial.md
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/tutorial.md
  topics/single-cell/tutorials/scrna-trajectories/slides.html
Labels: single-cell, Spocathon-HDR-ELIXIR

#5758 Correct underscore to hyphen in repo URL
  topics/contributing/faqs/github-fork-master-main.md
Labels: contributing, Spocathon-HDR-ELIXIR

#5759 Correct underscore to hyphen in repo URL
  topics/contributing/faqs/github-fork-sync.md
Labels: contributing, Spocathon-HDR-ELIXIR

#5766 Update metadata for single-cell materials
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.md
  topics/single-cell/tutorials/scrna-intro/slides.html
  topics/single-cell/tutorials/scrna-plates-batches-barcodes/slides.html
Labels: single-cell, Spocathon-HDR-ELIXIR

#5769 SPOC improve text and images in short intro
  topics/introduction/images/upload-box.png
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: introduction

#5767 Fix ``create-env`` Make command
  Makefile
Labels: template-and-tools, Spocathon-HDR-ELIXIR

#5768 Small fixes to the single-cell GO Enrichement tuto
  topics/single-cell/tutorials/GO-enrichment/tutorial.md
Labels: single-cell, Spocathon-HDR-ELIXIR

#5772 Fixed typo in tag 'introcuction'
  learning-pathways/intro-to-galaxy-and-genomics.md
Labels: template-and-tools

#5771 Giving Phil credit for edits
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Labels: introduction

#5773 Update contributors
  topics/single-cell/tutorials/bulk-music/tutorial.md
Labels: single-cell

#5777 Hdr cofest blog
  news/_posts/2025-02-14-spoc_hdr_cofest.md
  news/images/2024-02-14-spoc_maintainer_updates.png
  news/images/2025-02-14-spoc-hdr-cofest_outputs.png
Labels: news, Spocathon-HDR-ELIXIR

#5778 add follow up training to cell annotation slide deck
  topics/single-cell/tutorials/scrna-case-cell-annotation/slides.html
Labels: single-cell, Spocathon-HDR-ELIXIR

#5779 Fix ELIXIR-UK typos
  news/_posts/2025-02-14-spoc_hdr_cofest.md
Labels: news

#5598 Update tutorial.md
  topics/single-cell/tutorials/scrna-umis/tutorial.md
Labels: single-cell, spoc-cofest

#5776 New FAQ post: Making a minor correction to any training material
  faqs/gtn/contributors_github_interface.md
  faqs/gtn/gtn_minor_correction.md
  faqs/gtn/images/minor-fix-01.png
  faqs/gtn/images/minor-fix-02.png
  faqs/gtn/images/minor-fix-04.png
  faqs/gtn/images/minor-fix-06.png
  faqs/gtn/images/minor-fix-07.png
  faqs/gtn/images/minor-fix-08.png
  faqs/gtn/images/minor-fix-11.png
Labels: faqs, Spocathon-HDR-ELIXIR

#5761 Update tutorial listing and archive tutorials
  topics/single-cell/metadata.yaml
  topics/single-cell/tutorials/scrna-preprocessing/tutorial.md
  topics/single-cell/tutorials/scrna-raceid/tutorial.md
  topics/single-cell/tutorials/scrna-scater-qc/tutorial.md
Labels: single-cell, Spocathon-HDR-ELIXIR

#5592 Add shrutikhare-git as contributor
  CONTRIBUTORS.yaml
Labels: template-and-tools, spoc-cofest

#5781 Importing From Public atlas - Tool Updates
  topics/single-cell/tutorials/EBI-retrieval/tutorial.md
  topics/single-cell/tutorials/EBI-retrieval/workflows/EBI-SCXA-to-AnnData-(Scanpy)-or-Seurat-Object-tests.yml
  topics/single-cell/tutorials/EBI-retrieval/workflows/EBI-SCXA-to-AnnData-(Scanpy)-or-Seurat-Object.ga
Labels: single-cell, Spocathon-HDR-ELIXIR

#5782 Fix galaxy installation tutorial: add raw tags to ensure template not evaluated
  topics/admin/tutorials/ansible-galaxy/tutorial.md
Labels: bug, admin

#5787 Update GTA2025 Logo in Events Post
  events/2025-05-12-galaxy-academy-2025.md
  events/images/Galaxy_GTA2025_Transparent.png
Labels: template-and-tools

#5789 added biont fair workshop as an external event
  events/2025-03-06-biont-fair
Labels: template-and-tools

#5788 Gta2025 call for trainer news
  news/_posts/2025-02-14-gtn2025-call-trainer.md
  news/images/GTA2025_call_trainer_banner.png
Labels: news

#5791 Update gta banner in news for call for trainer
  news/images/GTA2025_call_trainer_banner.png
Labels: news

#5794 Update abretaud infos
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5799 Uncomment category tags for event details in XML output
  _plugins/feeds.rb
Labels: template-and-tools

#5603 Rephrasing some of the captions/notes.
  topics/single-cell/images/GO-enrichment/slides_images/ontology_2_v2.png
  topics/single-cell/images/GO-enrichment/slides_images/roadmap_1_v2.png
  topics/single-cell/tutorials/GO-enrichment/slides.html
  topics/single-cell/tutorials/GO-enrichment/tutorial.bib
Labels: single-cell, spoc-cofest

#5602 Update tutorial.md
  topics/single-cell/tutorials/GO-enrichment/tutorial.md
Labels: single-cell, spoc-cofest

#5756 Update tutorial.md
  topics/data-science/tutorials/gnmx-lecture6/tutorial.md
Labels: data-science

#5755 Update tutorial.md
  topics/data-science/tutorials/gnmx-lecture6/tutorial.md
Labels: data-science

#5802 Add microgalaxy search short link
  metadata/shortlinks.yaml
Labels: template-and-tools

#5604 Edited training material "Automated Cell Annotation" upto slide 10
  topics/single-cell/tutorials/scrna-case-cell-annotation/slides.html
Labels: single-cell, spoc-cofest

#5805 Editorial board page
  editorial-board.md
  topics/admin/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/introduction/metadata.yaml
Labels: admin, introduction, template-and-tools, genome-annotation

#5804 Update request-galaxy-tools-on-a-specific-server.md
  faqs/galaxy/request-galaxy-tools-on-a-specific-server.md
Labels: faqs

#5061 Add new training for scATAC-seq batch correction using SnapATAC2
  faqs/galaxy/histories_datasets_vs_collections.md
  topics/single-cell/images/scatac-batch-correction-snapatac2/Batch-correction-pipeline-overview.png
  topics/single-cell/images/scatac-batch-correction-snapatac2/batch-umap-harmony-leiden.png
  topics/single-cell/images/scatac-batch-correction-snapatac2/batch-umap-harmony-spectral.png
  topics/single-cell/images/scatac-batch-correction-snapatac2/batch-umap-no_harmony-spectral.png
  topics/single-cell/images/scatac-batch-correction-snapatac2/harmony-graphical-abstract.png
  topics/single-cell/images/scatac-batch-correction-snapatac2/mnc-correct-scanorama-umap-spectral.png
  topics/single-cell/images/scatac-batch-correction-snapatac2/mnn-graphical-abstract.png
  topics/single-cell/images/scatac-batch-correction-snapatac2/scanorama-graphical-abstract.png
  topics/single-cell/images/scatac-batch-correction-snapatac2/tsse-colon01-colon02.png
  topics/single-cell/tutorials/scatac-batch-correction-snapatac2/data-library.yaml
  topics/single-cell/tutorials/scatac-batch-correction-snapatac2/faqs/index.md
  topics/single-cell/tutorials/scatac-batch-correction-snapatac2/tutorial.bib
  topics/single-cell/tutorials/scatac-batch-correction-snapatac2/tutorial.md
  topics/single-cell/tutorials/scatac-batch-correction-snapatac2/workflows/index.md
  topics/single-cell/tutorials/scatac-batch-correction-snapatac2/workflows/main_workflow.ga
Labels: faqs, single-cell

#5809 Add Tutorial for Text-Mining Chinese
  topics/statistics/tutorials/text_mining_chinese/faqs/index.md
  topics/statistics/tutorials/text_mining_chinese/images/Diff_WF_HTML.jpg
  topics/statistics/tutorials/text_mining_chinese/images/Example_x_censored_Chinese_article.svg
  topics/statistics/tutorials/text_mining_chinese/images/Wordcloud_censored_characters.png
  topics/statistics/tutorials/text_mining_chinese/images/Workflow_Screenshot.jpg
  topics/statistics/tutorials/text_mining_chinese/tutorial.bib
  topics/statistics/tutorials/text_mining_chinese/tutorial.md
  topics/statistics/tutorials/text_mining_chinese/workflows/index.md
  topics/statistics/tutorials/text_mining_chinese/workflows/main_workflow.ga
Labels: statistics

#5807 Updates to Editorial Boards
  topics/assembly/metadata.yaml
  topics/imaging/metadata.yaml
Labels: assembly, imaging
