Repository galaxyproject/training-material, pull requests merged in 2025-01, with the labels that each got.

#5646 [Microbiome] New tutorial: Annotate MGEs in metagenomics data using custom database
  CONTRIBUTORS.yaml
  topics/microbiome/tutorials/metaplasmidome_query/faqs/index.md
  topics/microbiome/tutorials/metaplasmidome_query/images/mapping_score_histogram.png
  topics/microbiome/tutorials/metaplasmidome_query/images/mapping_score_histogram_after_coverage_filtering.png
  topics/microbiome/tutorials/metaplasmidome_query/images/plasmid_coverage_histogram.png
  topics/microbiome/tutorials/metaplasmidome_query/tutorial.bib
  topics/microbiome/tutorials/metaplasmidome_query/tutorial.md
  topics/microbiome/tutorials/metaplasmidome_query/workflows/index.md
  topics/microbiome/tutorials/metaplasmidome_query/workflows/metaplasmidome-tests.yml
  topics/microbiome/tutorials/metaplasmidome_query/workflows/metaplasmidome.ga
Labels: template-and-tools, microbiome

#5679 Update CONTRIBUTORS with my updated affiliations
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5680 Maxquant and MSstats TMT: Adding missing MaxQuant parameters
  topics/proteomics/tutorials/maxquant-msstats-tmt/tutorial.md
Labels: proteomics

#5682 Update ORGANISATIONS.yaml add ASOC Antarctic
  ORGANISATIONS.yaml
  shared/images/ASOC.jpeg
  topics/ecology/tutorials/Ecoregionalization_tutorial/tutorial.md
Labels: template-and-tools, ecology

#5686 Fix deploy
  bin/workflows-fetch.rb
Labels: template-and-tools

#5631 Update answer key histories to be archived
  topics/single-cell/tutorials/EBI-retrieval/tutorial.md
  topics/single-cell/tutorials/scrna-case_FilterPlotandExplore_SeuratTools/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-case_trajectories/tutorial.md
  topics/single-cell/tutorials/scrna-preprocessing-tenx/tutorial.md
  topics/single-cell/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Labels: single-cell

#5640 Add workflow test and history for SC cell cycle regression tutorial
  topics/single-cell/tutorials/scrna-case_cell-cycle/data-library.yaml
  topics/single-cell/tutorials/scrna-case_cell-cycle/tutorial.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/workflows/index.md
  topics/single-cell/tutorials/scrna-case_cell-cycle/workflows/main_workflow-tests.yml
  topics/single-cell/tutorials/scrna-case_cell-cycle/workflows/main_workflow.ga
  topics/single-cell/tutorials/scrna-case_cell-cycle/workflows/test-data/annotation_header.tabular
Labels: single-cell

#5629 Archive answer key histories
  faqs/galaxy/histories_archive.md
  faqs/gtn/gtn_example_histories.md
  faqs/gtn/using-answer-key-histories.md
  topics/contributing/faqs/input-and-answer-keys.md
Labels: contributing, faqs

#5467 GTN-tutorials-for-neoantigen
  CONTRIBUTORS.yaml
  topics/proteomics/README.md
  topics/proteomics/images/neoantigen/FragPipe_Discovery_1.PNG
  topics/proteomics/images/neoantigen/FragPipe_Discovery_2.PNG
  topics/proteomics/images/neoantigen/FragPipe_Discovery_3.PNG
  topics/proteomics/images/neoantigen/Fusions_Protein_Database.PNG
  topics/proteomics/images/neoantigen/Non-Normal_Protein_Database_1.PNG
  topics/proteomics/images/neoantigen/Non-Normal_Protein_Database_2.PNG
  topics/proteomics/images/neoantigen/Non-Normal_Protein_Database_3.PNG
  topics/proteomics/images/neoantigen/Non-Normal_Protein_Database_4.PNG
  topics/proteomics/images/neoantigen/PepPointer_Characterization_1.PNG
  topics/proteomics/images/neoantigen/PepPointer_Characterization_2.PNG
  topics/proteomics/images/neoantigen/PepPointer_Characterization_3.PNG
  topics/proteomics/images/neoantigen/PepQuery2_Verification_1.PNG
  topics/proteomics/images/neoantigen/PepQuery2_Verification_2.PNG
  topics/proteomics/images/neoantigen/PepQuery2_Verification_3.PNG
  topics/proteomics/images/neoantigen/Predict_MHC_Binding_for_Novel_Neoantigens.PNG
  topics/proteomics/images/neoantigen/Prediction_of_HLA_Binding.PNG
  topics/proteomics/metadata.yaml
  topics/proteomics/tutorials/neoantigen-1-fusion-database-generation/faqs/index.md
  topics/proteomics/tutorials/neoantigen-1-fusion-database-generation/tutorial.bib
  topics/proteomics/tutorials/neoantigen-1-fusion-database-generation/tutorial.md
  topics/proteomics/tutorials/neoantigen-1-fusion-database-generation/workflows/index.md
  topics/proteomics/tutorials/neoantigen-1-fusion-database-generation/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-2-non-normal-database-generation/faqs/index.md
  topics/proteomics/tutorials/neoantigen-2-non-normal-database-generation/tutorial.bib
  topics/proteomics/tutorials/neoantigen-2-non-normal-database-generation/tutorial.md
  topics/proteomics/tutorials/neoantigen-2-non-normal-database-generation/workflows/index.md
  topics/proteomics/tutorials/neoantigen-2-non-normal-database-generation/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-3-fragpipe-discovery/faqs/index.md
  topics/proteomics/tutorials/neoantigen-3-fragpipe-discovery/tutorial.bib
  topics/proteomics/tutorials/neoantigen-3-fragpipe-discovery/tutorial.md
  topics/proteomics/tutorials/neoantigen-3-fragpipe-discovery/workflows/index.md
  topics/proteomics/tutorials/neoantigen-3-fragpipe-discovery/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-4-peptide-verification/faqs/index.md
  topics/proteomics/tutorials/neoantigen-4-peptide-verification/tutorial.bib
  topics/proteomics/tutorials/neoantigen-4-peptide-verification/tutorial.md
  topics/proteomics/tutorials/neoantigen-4-peptide-verification/workflows/index.md
  topics/proteomics/tutorials/neoantigen-4-peptide-verification/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-5-variant-annotation/faqs/index.md
  topics/proteomics/tutorials/neoantigen-5-variant-annotation/tutorial.bib
  topics/proteomics/tutorials/neoantigen-5-variant-annotation/tutorial.md
  topics/proteomics/tutorials/neoantigen-5-variant-annotation/workflows/index.md
  topics/proteomics/tutorials/neoantigen-5-variant-annotation/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-6-predicting-hla-binding/faqs/index.md
  topics/proteomics/tutorials/neoantigen-6-predicting-hla-binding/tutorial.bib
  topics/proteomics/tutorials/neoantigen-6-predicting-hla-binding/tutorial.md
  topics/proteomics/tutorials/neoantigen-6-predicting-hla-binding/workflows/index.md
  topics/proteomics/tutorials/neoantigen-6-predicting-hla-binding/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-7-hla-binding-novel-peptides/faqs/index.md
  topics/proteomics/tutorials/neoantigen-7-hla-binding-novel-peptides/tutorial.bib
  topics/proteomics/tutorials/neoantigen-7-hla-binding-novel-peptides/tutorial.md
  topics/proteomics/tutorials/neoantigen-7-hla-binding-novel-peptides/workflows/index.md
  topics/proteomics/tutorials/neoantigen-7-hla-binding-novel-peptides/workflows/main_workflow.ga
Labels: template-and-tools, proteomics

#5638 Add workflow tests for Scater QC workflow
  topics/single-cell/tutorials/scrna-scater-qc/data-library.yaml
  topics/single-cell/tutorials/scrna-scater-qc/tutorial.md
  topics/single-cell/tutorials/scrna-scater-qc/workflows/main_workflow-tests.yml
  topics/single-cell/tutorials/scrna-scater-qc/workflows/main_workflow.ga
Labels: single-cell

#5690 Fix event google form processing
  bin/google-form-event.rb
Labels: template-and-tools

#5693 Update tutorial.md good link ?
  topics/fair/tutorials/data-management/tutorial.md
Labels: fair

#5658 Updated the examples of `cX.count` operations to make them easier to understand.
  topics/introduction/tutorials/data-manipulation-olympics/tutorial.md
Labels: introduction

#5695 [CI] return to latest ubuntu since its failing now anyway
  .github/workflows/video.yml
Labels: template-and-tools

#5696 fix to upcoming version
  .github/workflows/video.yml
Labels: template-and-tools

#5699 Fix Automated video creation GitHub action
  .github/workflows/video.yml
  package.json
Labels: template-and-tools

#5705 Add first file-source tutorial
  topics/admin/images/file_sources/argo_registry.png
  topics/admin/images/file_sources/s3_in_galaxy.png
  topics/admin/tutorials/file_sources/tutorial.md
Labels: admin

#5704 add link to codespaces tutorial to readme
  README.md
Labels: template-and-tools

#5698 Filled the missing import and export section of a tutorial called "Rstudio in Galaxy"
  CONTRIBUTORS.yaml
  faqs/gtn/gtn_event_create.md
  topics/galaxy-interface/tutorials/rstudio/tutorial.md
Labels: template-and-tools, galaxy-interface, faqs

#5694 Openrefine tuto addition
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  shared/images/gbif-standard-green-logo.jpg
  topics/ecology/images/openrefine/1_openrefine.png
  topics/ecology/images/openrefine/README.md
  topics/ecology/images/openrefine/openrefine_facet_kingdom.PNG
  topics/ecology/images/openrefine/openrefine_parsinginput.PNG
  topics/ecology/images/openrefine/openrefine_start.PNG
  topics/ecology/tutorials/openrefine_gbif/tutorial.bib
  topics/ecology/tutorials/openrefine_gbif/tutorial.md
Labels: template-and-tools, ecology

#5712 New news
  news/_posts/2024-11-18-gta2024.md
  news/_posts/2024-12-18-biont-community-event.md
  news/_posts/2025-01-21-biont-workshops.md
Labels: news

#5491 Adding Seurat version of the PBMC clustering tutorial
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_DoHeatmap_CellType_markers.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_DoHeatmap_CellType_markers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_DoHeatmap_TopPositiveMarkers.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_DoHeatmap_TopPositiveMarkers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_FeaturePlot_CellTypeMarkers.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_FeaturePlot_CellTypeMarkers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_FeaturePlot_T_Markers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_MS4A1_CD79A_Violin.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_MS4A1_CD79A_Violin_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_PCA_12_featureplots.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_PCA_12_featureplots_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_PCA_23_featureplots.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_PCA_23_featureplots_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_PCA_DimPlot.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_PCA_DimPlot_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_QC_scatter_after.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_QC_scatter_before.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_UMAP_DimPlot.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_UMAP_DimPlot_CellTypes.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_UMAP_DimPlot_CellTypes_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_UMAP_DimPlot_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_UMAP_DimPlot_top_genes.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_UMAP_DimPlot_top_genes_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_Violin_CellTypeMarkers.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_Violin_CellTypeMarkers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_Violin_T_Markers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_elbowplot.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_elbowplot_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_heatmap_PC_1.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_heatmap_PC_1_15.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_heatmap_PC_1_15_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_heatmap_PC_1_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_topgenes_violin.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_topgenes_violin_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_variable_genes.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_variable_genes_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_violin_QC_before.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_violin_T_cell_markers.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_violin_T_cell_markers_SCT.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_violin_after.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_vizdimloadings.png
  topics/single-cell/images/scrna-seurat-pbmc3k/seurat_vizdimloadings_SCT.png
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/data-library.yaml
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/tutorial.bib
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/tutorial.md
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/workflows/Seurat_PBMC_Workflow-tests.yml
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/workflows/Seurat_PBMC_Workflow.ga
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/workflows/Seurat_PBMC_Workflow_SCT-tests.yml
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/workflows/Seurat_PBMC_Workflow_SCT.ga
  topics/single-cell/tutorials/scrna-seurat-pbmc3k/workflows/index.md
Labels: single-cell

#5719 Shorten text in button
  topics/single-cell/metadata.yaml
Labels: single-cell
