Repository galaxyproject/training-material, pull requests merged in 2025-06, with the labels that each got.

#6019 Switch to production WorkflowHub
  .github/workflows/workflowhub.yml
Labels: template-and-tools

#6055 [New Tutorial] Taxonomic Analysis of eDNA
  CONTRIBUTORS.yaml
  topics/ecology/tutorials/eDNA-taxonomic-analysis/data-library.yaml
  topics/ecology/tutorials/eDNA-taxonomic-analysis/images/HP3_R1_Species.png
  topics/ecology/tutorials/eDNA-taxonomic-analysis/images/HP3_R2_Species.png
  topics/ecology/tutorials/eDNA-taxonomic-analysis/images/History.png
  topics/ecology/tutorials/eDNA-taxonomic-analysis/images/Workflow.png
  topics/ecology/tutorials/eDNA-taxonomic-analysis/tutorial.md
  topics/ecology/tutorials/eDNA-taxonomic-analysis/workflows/index.md
  topics/ecology/tutorials/eDNA-taxonomic-analysis/workflows/main_workflow.ga
Labels: template-and-tools, ecology

#6142 Fix "access_type is too permissive" on WorkflowHub submission
  bin/wfh-upload.py
Labels: template-and-tools

#6143 corrected answer to question
  topics/transcriptomics/tutorials/rna-seq-analysis-clustering-viz/tutorial.md
Labels: transcriptomics

#6146 Update link on workflow page to use production workflowhub
  _layouts/workflow.html
Labels: template-and-tools

#6144 add Mira as topic maintainer
  CODEOWNERS
  topics/admin/metadata.yaml
Labels: admin, template-and-tools

#6147 add Genomics as EDAM topic
  topics/genome-annotation/tutorials/apollo-euk/tutorial.md
Labels: genome-annotation

#6150 add one more EDAM topic to gene-centric tutorial
  topics/genome-annotation/tutorials/gene-centric/tutorial.md
Labels: genome-annotation

#6151 add EDAM topic to "Masking repeats with RepeatMasker"
  topics/genome-annotation/tutorials/repeatmasker/tutorial.md
Labels: genome-annotation

#6152 adding edam ontology
  topics/assembly/tutorials/vgp_workflow_training/tutorial.md
Labels: assembly

#6163 Add EDAM to OBS marine indicators tutorial
  topics/ecology/tutorials/obisindicators/tutorial.md
Labels: ecology

#6155 Add EDAM to assembly decontamination tutorial
  topics/assembly/tutorials/assembly-decontamination/tutorial.md
Labels: assembly

#6164 Adding EDAM terms to helixer annotation tuto
  topics/genome-annotation/tutorials/helixer/tutorial.md
Labels: genome-annotation

#6160 Add EDAM to ERGA post assembly QC tutorial
  topics/assembly/tutorials/ERGA-post-assembly-QC/tutorial.md
Labels: assembly

#6156 Added EDAM to vgp genome assembly tutorial
  topics/assembly/tutorials/vgp_genome_assembly/tutorial.md
Labels: assembly

#6166 Added a FAQ for exporting citations of a history.
  faqs/galaxy/cite-tools-used-in-a-history.md
Labels: faqs

#6169 Update 2025-06-10-mtb-ngs.md
  events/2025-06-10-mtb-ngs.md
Labels: template-and-tools

#6171 Update 2025-06-10-mtb-ngs.md
  events/2025-06-10-mtb-ngs.md
Labels: template-and-tools

#6134 try to rePR phylodiversity tuto
  CONTRIBUTORS.yaml
  topics/ecology/images/phylodiversity/phylodiversity_format.png
  topics/ecology/tutorials/phylodiversity_workflow/data-library.yaml
  topics/ecology/tutorials/phylodiversity_workflow/faqs/index.md
  topics/ecology/tutorials/phylodiversity_workflow/tutorial.bib
  topics/ecology/tutorials/phylodiversity_workflow/tutorial.md
  topics/ecology/tutorials/phylodiversity_workflow/workflows/index.md
Labels: template-and-tools, ecology

#6172 Update tutorial.md fix typo.. on the title...
  topics/ecology/tutorials/ecoregiolifetraits/tutorial.md
Labels: ecology

#6182 Add and update affiliations
  CONTRIBUTORS.yaml
  ORGANISATIONS.yaml
  shared/images/Melbourne-Bioinformatics-logo.png
  shared/images/unimelb_Logo_RGB.png
Labels: template-and-tools

#6183 added parentheses in line 459 and 468
  topics/transcriptomics/tutorials/rna-seq-analysis-clustering-viz/tutorial.md
Labels: transcriptomics

#6188 Update metatranscriptomics tutorials
  CONTRIBUTORS.yaml
  topics/microbiome/tutorials/metatranscriptomics-short/tutorial.md
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow1_preprocessing-test.yml
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow1_preprocessing-tests.yml
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow1_preprocessing.ga
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow2_community_profile-test.yml
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow2_community_profile-tests.yml
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow2_community_profile.ga
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow3_functional_information-test.yml
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow3_functional_information-tests.yml
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow3_functional_information.ga
  topics/microbiome/tutorials/metatranscriptomics-short/workflows/workflow3_functional_information_quick-tests.yml
  topics/microbiome/tutorials/metatranscriptomics/content.md
  topics/microbiome/tutorials/metatranscriptomics/images/graphlan.png
  topics/microbiome/tutorials/metatranscriptomics/images/krona.png
  topics/microbiome/tutorials/metatranscriptomics/images/krona_bacteria.png
  topics/microbiome/tutorials/metatranscriptomics/krona.html
  topics/microbiome/tutorials/metatranscriptomics/tutorial.md
  topics/microbiome/tutorials/metatranscriptomics/workflows/main_workflow-test.yml
  topics/microbiome/tutorials/metatranscriptomics/workflows/main_workflow-tests.yml
  topics/microbiome/tutorials/metatranscriptomics/workflows/main_workflow.ga
Labels: template-and-tools, microbiome

#6191 changes essentially in pre-processing steps of metatranscriptomics tutorial
  topics/microbiome/tutorials/metatranscriptomics/content.md
Labels: microbiome

#6196 Update neoantigen.md
  learning-pathways/neoantigen.md
Labels: template-and-tools

#6208 typo error in the download URL for the bam file
  topics/genome-annotation/tutorials/comparison-braker-helixer-annotation/tutorial.md
Labels: genome-annotation
