Repository galaxyproject/training-material, pull requests merged in 2025-05, with the labels that each got.

#6013 Slides for LORIS model tutorial
  topics/statistics/tutorials/loris_model/slides.html
Labels: statistics

#6022 GTA ML track landing page, adjustments and fixes for readability
  events/tracks/gta2025-ml.md
Labels: template-and-tools

#6018 updates based on Lisannas comments
  topics/galaxy-interface/images/jupyter_plot.png
  topics/galaxy-interface/images/jupyterlab_history.png
  topics/galaxy-interface/tutorials/galaxy-intro-jupyter/data-library.yaml
  topics/galaxy-interface/tutorials/galaxy-intro-jupyter/tutorial.md
Labels: galaxy-interface, GTA

#6034 [GTA] fix track layout issue
  events/tracks/gta2025-variant-analysis.md
Labels: template-and-tools, GTA

#6030 Proteogenomics 1: Database Creation - update tools in tutorial and workflow
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/workflows/galaxy-workflow-mouse_rnaseq_dbcreation.ga
Labels: proteomics, GTA

#6040 [New Topic] Digital Humanities
  .github/labeler.yml
  CODEOWNERS
  metadata/digital-humanities.yaml
  redirects/text-mining-chinese.md
  topics/digital-humanities/community.md
  topics/digital-humanities/faqs/index.md
  topics/digital-humanities/index.md
  topics/digital-humanities/maintainer.md
  topics/digital-humanities/metadata.yaml
  topics/digital-humanities/tutorials/text_mining_chinese/data-library.yaml
  topics/digital-humanities/tutorials/text_mining_chinese/faqs/index.md
  topics/digital-humanities/tutorials/text_mining_chinese/images/Diff_WF_HTML.jpg
  topics/digital-humanities/tutorials/text_mining_chinese/images/Example_x_censored_Chinese_article.svg
  topics/digital-humanities/tutorials/text_mining_chinese/images/Wordcloud_censored_characters.png
  topics/digital-humanities/tutorials/text_mining_chinese/images/Workflow_Screenshot.jpg
  topics/digital-humanities/tutorials/text_mining_chinese/tutorial.bib
  topics/digital-humanities/tutorials/text_mining_chinese/tutorial.md
  topics/digital-humanities/tutorials/text_mining_chinese/workflows/index.md
  topics/digital-humanities/tutorials/text_mining_chinese/workflows/main_workflow.ga
  topics/statistics/tutorials/text-mining_simtext/tutorial.md
  topics/statistics/tutorials/text_mining_chinese/workflows/index.md
Labels: template-and-tools, statistics, digital-humanities

#6041 Detailed program description of gta2025-single-cell track
  events/tracks/gta2025-single-cell.md
Labels: template-and-tools, GTA

#6038 Update Chinese Text Mining Tutorial for a workshop
  topics/digital-humanities/tutorials/text_mining_chinese/tutorial.md
Labels: digital-humanities

#6042 [Event] Add DHLab workshop as external event
  events/2025-05-19-dh-lab.md
Labels: template-and-tools

#6043 Proteogenomics 1 - fix regex for merging fasta files
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/workflows/galaxy-workflow-mouse_rnaseq_dbcreation.ga
Labels: proteomics

#6048 Fix collection input for diversity toturial
  topics/microbiome/tutorials/diversity/tutorial.md
Labels: microbiome

#6049 Update microbiome gta2025
  events/tracks/gta2025-microbiome.md
Labels: template-and-tools

#6051 Added note regarding the timeseries plot
  topics/climate/tutorials/panoply/tutorial.md
Labels: climate

#6045 several small edits to data manipulation olympics and related
  faqs/galaxy/analysis_regular_expressions.md
  faqs/galaxy/datasets_convert_datatype.md
  topics/introduction/tutorials/data-manipulation-olympics/tutorial.md
Labels: introduction, faqs, GTA

#6036 Modification of NGS tutorial
  topics/introduction/images/bwamem2.svg
  topics/introduction/images/collapse.svg
  topics/introduction/images/collapse_ui.svg
  topics/introduction/images/f_and_r.svg
  topics/introduction/images/fasterq_download_history.png
  topics/introduction/images/fastp.svg
  topics/introduction/images/fastp_history.svg
  topics/introduction/images/fastq_download.png
  topics/introduction/images/filter_gene_name.svg
  topics/introduction/images/grep.svg
  topics/introduction/images/gtf_upload.svg
  topics/introduction/images/indel_qual_lofreq.svg
  topics/introduction/images/lofreq.svg
  topics/introduction/images/markdups.svg
  topics/introduction/images/multiqc.svg
  topics/introduction/images/multiqc_f.png
  topics/introduction/images/multiqc_history.svg
  topics/introduction/images/paired_collection.svg
  topics/introduction/images/paste.png
  topics/introduction/images/qc_plot.svg
  topics/introduction/images/realign_lofreq.svg
  topics/introduction/images/snpeff.svg
  topics/introduction/images/snpeff_build.svg
  topics/introduction/images/snpsift_extract_fields.svg
  topics/introduction/images/upload_button.png
  topics/introduction/images/upload_genome.svg
  topics/introduction/images/upload_name_datatype.svg
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.bib
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
  topics/introduction/tutorials/vsi_qc/tutorial.bib
Labels: introduction, GTA

#6053 Pseudobulk tutorial add histories from other servers
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.md
Labels: single-cell, GTA

#6052 Hotfixes for Machine Learning: Intro to CNN Hands-On tutorial
  topics/statistics/images/Conv_confusion_matrix.png
  topics/statistics/images/Conv_confusion_matrix_new_model.png
  topics/statistics/tutorials/CNN/tutorial.md
Labels: statistics, GTA

#6058 Add external link to event feeds
  _plugins/feeds.rb
Labels: template-and-tools

#6062 add subtopics for climate
  topics/climate/metadata.yaml
  topics/climate/tutorials/argo_pangeo/tutorial.md
  topics/climate/tutorials/climate-101/tutorial.md
  topics/climate/tutorials/earth_system/tutorial.md
  topics/climate/tutorials/fates-jupyterlab/tutorial.md
  topics/climate/tutorials/fates/tutorial.md
  topics/climate/tutorials/introduction/slides.html
  topics/climate/tutorials/jupytergis_collaboration/tutorial.md
  topics/climate/tutorials/ocean-data-view/tutorial.md
  topics/climate/tutorials/ocean-variables/tutorial.md
  topics/climate/tutorials/pangeo-notebook/tutorial.md
  topics/climate/tutorials/pangeo/tutorial.md
  topics/climate/tutorials/panoply/tutorial.md
  topics/climate/tutorials/sentinel5_data/tutorial.md
Labels: climate

#6061 Hotfixes for Machine Learning: Intro to RNN Hands-On tutorial
  topics/statistics/tutorials/RNN/tutorial.md
Labels: statistics, GTA

#6065 updated people who signed up for Slack support
  events/2025-05-12-galaxy-academy-2025.md
  events/tracks/gta2025-assembly.md
  events/tracks/gta2025-bioNT.md
  events/tracks/gta2025-climate.md
  events/tracks/gta2025-microbiome.md
  events/tracks/gta2025-ml.md
  events/tracks/gta2025-proteomics.md
  events/tracks/gta2025-single-cell.md
  events/tracks/gta2025-transcriptomics.md
  events/tracks/gta2025-variant-analysis.md
Labels: template-and-tools

#6066 add FAIR2Adapt to GTA as funding contributor
  ORGANISATIONS.yaml
  _layouts/event-track.html
  events/2025-05-12-galaxy-academy-2025.md
  events/tracks/gta2025-climate.md
  shared/images/logos/FAIR2Adapt.png
Labels: template-and-tools, GTA

#6073 Update Chin Text-mining tutorial.md
  topics/digital-humanities/tutorials/text_mining_chinese/tutorial.md
Labels: digital-humanities

#6079 Update model output format and tool's versions
  topics/statistics/tutorials/machinelearning/tutorial.md
Labels: statistics

#6080 Update collections_build_list.md
  faqs/galaxy/collections_build_list.md
Labels: faqs

#6087 fix typo in MaxQuant and MSstats for the analysis of label-free data
  events/tracks/gta2024-assembly.md
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
Labels: template-and-tools, proteomics

#6085 GTA event , assembly track , warn about QC data size
  events/tracks/gta2024-assembly.md
Labels: template-and-tools

#6072 Create news item for Galaxy Workshop promotion 2025-05-12_Galaxy_WS_Freiburg
  news/_posts/2025-05-12_Galaxy_WS_Freiburg.md
Labels: news

#6090 Remove mention of tabular file containing estimators' hyperparameters
  topics/statistics/tutorials/classification_machinelearning/tutorial.md
  topics/statistics/tutorials/regression_machinelearning/tutorial.md
Labels: statistics

#6089 News post was not available ...
  news/_posts/2025-05-12-Galaxy_WS_Freiburg.md
Labels: news

#6093 updated FAQ on collection
  topics/microbiome/tutorials/metagenomics-binning/tutorial.md
Labels: microbiome, GTA

#6095 Fix zenodo links - binning of metagenomic data tutorial
  topics/microbiome/tutorials/metagenomics-binning/tutorial.md
Labels: microbiome

#6077 Proteogenomics 3: Novel peptide analysis : fix and update tutorial and workflow
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/workflows/galaxy-workflow-mouse_novel_peptide_analysis.ga
Labels: proteomics, GTA

#6098 Update tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Labels: proteomics

#6099 Update tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Labels: proteomics

#6078 Update tutorial.md
  topics/proteomics/tutorials/DIA_Analysis_OSW/tutorial.md
Labels: proteomics

#6101 added neoantigen to learning pathways
  learning-pathways/neoantigen.md
Labels: template-and-tools

#5710 Galaxy training for the MFAssignR tool
  CONTRIBUTORS.yaml
  topics/metabolomics/tutorials/mfassignr/data-library.yaml
  topics/metabolomics/tutorials/mfassignr/faqs/index.md
  topics/metabolomics/tutorials/mfassignr/images/KMDplot.png
  topics/metabolomics/tutorials/mfassignr/images/KMDplot_explained.png
  topics/metabolomics/tutorials/mfassignr/images/MSgroups.png
  topics/metabolomics/tutorials/mfassignr/images/SNplot.png
  topics/metabolomics/tutorials/mfassignr/images/errorMZ.png
  topics/metabolomics/tutorials/mfassignr/images/mfassignr_scheme.png
  topics/metabolomics/tutorials/mfassignr/images/msassign.png
  topics/metabolomics/tutorials/mfassignr/images/vankrevelen.png
  topics/metabolomics/tutorials/mfassignr/images/workflow_overview.png
  topics/metabolomics/tutorials/mfassignr/tutorial.bib
  topics/metabolomics/tutorials/mfassignr/tutorial.md
  topics/metabolomics/tutorials/mfassignr/workflows/index.md
  topics/metabolomics/tutorials/mfassignr/workflows/main_workflow-tests.yml
  topics/metabolomics/tutorials/mfassignr/workflows/main_workflow.ga
  topics/metabolomics/tutorials/mfassignr/workflows/test-data/Ambig.tabular
  topics/metabolomics/tutorials/mfassignr/workflows/test-data/None.tabular
  topics/metabolomics/tutorials/mfassignr/workflows/test-data/Unambig.tabular
  topics/metabolomics/tutorials/mfassignr/workflows/test-data/final_series.tabular
  topics/metabolomics/tutorials/mfassignr/workflows/test-data/recal_series.tabular
Labels: template-and-tools, metabolomics

#6100 added voronoi segmentation for astronomy info
  topics/imaging/images/voronoi-segmentation/sky_image_IMAGE.png
  topics/imaging/images/voronoi-segmentation/sky_image_OVERLAY_VORONOI.png
  topics/imaging/tutorials/voronoi-segmentation/tutorial.bib
  topics/imaging/tutorials/voronoi-segmentation/tutorial.md
Labels: imaging

#6103 Update tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Labels: proteomics

#6110 Update analysis_differential_expression_help.md typo fix
  faqs/galaxy/analysis_differential_expression_help.md
Labels: faqs

#6088 Update tutorial.md
  topics/proteomics/tutorials/DIA_Analysis_OSW/tutorial.md
Labels: proteomics

#6112 update contributors for Teresa and Lisanna
  CONTRIBUTORS.yaml
  events/2025-05-19-dh-lab.md
  topics/digital-humanities/tutorials/text_mining_chinese/tutorial.md
Labels: template-and-tools, digital-humanities

#6102 Update neoantigen.md
  learning-pathways/neoantigen.md
Labels: template-and-tools

#6114 Update tutorial.md
  topics/proteomics/tutorials/maxquant-label-free/tutorial.md
Labels: proteomics

#6115 Add proper tags to fit tutorials in ELIXIR topic
  topics/statistics/tutorials/genomic-llm-finetuning/tutorial.md
  topics/statistics/tutorials/genomic-llm-pretraining/tutorial.md
  topics/statistics/tutorials/genomic-llm-sequence-generation/tutorial.md
  topics/statistics/tutorials/genomic-llm-sequence-optimization/tutorial.md
  topics/statistics/tutorials/genomic-llm-zeroshot-prediction/tutorial.md
Labels: statistics

#6130 Add (draft) RNA-seq intro tutorial
  CONTRIBUTORS.yaml
  topics/transcriptomics/tutorials/rna-seq-analysis-clustering-viz/faqs/index.md
  topics/transcriptomics/tutorials/rna-seq-analysis-clustering-viz/tutorial.bib
  topics/transcriptomics/tutorials/rna-seq-analysis-clustering-viz/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-analysis-clustering-viz/workflows/RNA_seq_analysis_and_visualisation.ga
  topics/transcriptomics/tutorials/rna-seq-analysis-clustering-viz/workflows/index.md
Labels: transcriptomics, template-and-tools

#6131 Update 2024-06-10-mtb-ngs.md
  events/2025-06-10-mtb-ngs.md
Labels: template-and-tools

#6133 Minor edits to draft transcriptiomics tutorial
  CONTRIBUTORS.yaml
  topics/transcriptomics/tutorials/rna-seq-analysis-clustering-viz/tutorial.md
Labels: transcriptomics, template-and-tools
