Repository galaxyproject/training-material, pull requests merged in 2025-04, with the labels that each got.

#5920 Update neoantigen tutorials
  topics/proteomics/tutorials/neoantigen-3-fragpipe-discovery/tutorial.md
  topics/proteomics/tutorials/neoantigen-3-fragpipe-discovery/workflows/main_workflow.ga
  topics/proteomics/tutorials/neoantigen-4-peptide-verification/tutorial.md
Labels: proteomics

#5895 FAQs for BYOD and BYOS
  _includes/cyoa-choice-fr.html
  _includes/cyoa-choices.html
  _plugins/util.rb
  faqs/galaxy/manage_your_galaxy_storage.md
  faqs/galaxy/manage_your_repositories.md
Labels: template-and-tools, faqs

#5926 Fix broken GAT tutorials, minor edits
  topics/admin/tutorials/ansible-galaxy/tutorial.md
  topics/admin/tutorials/apptainer/tutorial.md
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/cvmfs/tutorial.md
  topics/admin/tutorials/tool-management/tutorial.md
Labels: bug, admin

#5921 added FR server and Variant Analysis
  CONTRIBUTORS.yaml
  events/2025-05-12-galaxy-academy-2025.md
  events/tracks/gta2025-variant-analysis.md
Labels: template-and-tools

#5876 Update Methylation data analysis tutorial
  topics/epigenetics/images/fastqc.png
  topics/epigenetics/images/methylation_falco.png
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
Labels: epigenetics

#5850 JupyterGIS collaborative features tutorial
  CONTRIBUTORS.yaml
  topics/climate/images/jupytergis_collaboration/create_notebook.png
  topics/climate/images/jupytergis_collaboration/cursor.png
  topics/climate/images/jupytergis_collaboration/new_gis_file.png
  topics/climate/images/jupytergis_collaboration/open_notebook.png
  topics/climate/images/jupytergis_collaboration/run_tool.png
  topics/climate/images/jupytergis_collaboration/share.png
  topics/climate/images/jupytergis_collaboration/shared_users.png
  topics/climate/images/jupytergis_collaboration/start_jgis.png
  topics/climate/images/jupytergis_collaboration/username.png
  topics/climate/tutorials/jupytergis_collaboration/tutorial.md
Labels: template-and-tools, climate

#5923 Update tutorial.md and workflow.ga, tested workflow (GTA2025-update material)
  CONTRIBUTORS.yaml
  topics/microbiome/tutorials/taxonomic-profiling/tutorial.md
  topics/microbiome/tutorials/taxonomic-profiling/workflows/main-workflow-tests.yml
  topics/microbiome/tutorials/taxonomic-profiling/workflows/main-workflow.ga
Labels: template-and-tools, microbiome

#5928 Add Teresa to editorial board
  CODEOWNERS
  topics/galaxy-interface/metadata.yaml
  topics/introduction/metadata.yaml
Labels: introduction, template-and-tools, galaxy-interface

#5938 Update tutorial.md
  topics/ecology/tutorials/openrefine_gbif/tutorial.md
Labels: ecology

#5940 adding de.kcd to GRANTS.yaml
  ORGANISATIONS.yaml
Labels: template-and-tools

#5942 Adding de.kcd to my information in CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Labels: template-and-tools

#5919 ✨ Add tutorial: Using BioImage.IO models for image inference in Galaxy
  topics/imaging/images/process-image-bioimageio/display-avivator.png
  topics/imaging/images/process-image-bioimageio/input_nucleisegboundarymodel.png
  topics/imaging/images/process-image-bioimageio/output-nucleus-seg-model.png
  topics/imaging/tutorials/process-image-bioimageio/faqs/index.md
  topics/imaging/tutorials/process-image-bioimageio/tutorial.bib
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/workflows/index.md
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow-tests.yml
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow.ga
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/input-test.png
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/output_predicted_image.tiff
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/output_predicted_image_matrix.npy
Labels: imaging

#5944 Linter update
  bin/schema-tutorial.yaml
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: template-and-tools, imaging

#5945 Adding reviewer to OR tutorial
  topics/ecology/tutorials/openrefine_gbif/tutorial.md
Labels: ecology

#5955 Update tutorial: Using BioImage.IO models for image analysis in Galaxy
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow-tests.yml
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow.ga
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/output_predicted_image.tiff
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/output_predicted_image_matrix.npy
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/segmentation.tiff
Labels: imaging

#5957 Replace TensorFlow model to a Pytorch one
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
Labels: imaging

#5956 Update GTA ML track table
  events/tracks/gta2025-ml.md
Labels: template-and-tools, GTA

#5959 Event page gta added Climat track
  CONTRIBUTORS.yaml
  events/2025-05-12-galaxy-academy-2025.md
  events/tracks/gta2025-climate.md
Labels: template-and-tools

#5958 Update tutorial: Using BioImage.IO models for image analysis in Galaxy
  topics/imaging/images/process-image-bioimageio/segmentation.png
  topics/imaging/tutorials/process-image-bioimageio/tutorial.md
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow-tests.yml
  topics/imaging/tutorials/process-image-bioimageio/workflows/main_workflow.ga
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/segmentation.png
  topics/imaging/tutorials/process-image-bioimageio/workflows/test-data/segmentation.tiff
Labels: imaging

#5907 Dome training material for AI school.
  CONTRIBUTORS.yaml
  topics/statistics/tutorials/dome/images/ML_Biology.png
  topics/statistics/tutorials/dome/slides.html
  topics/statistics/tutorials/dome/tutorial.bib
  topics/statistics/tutorials/dome/tutorial.md
Labels: template-and-tools, statistics

#5962 Large Langage Model for Genomics using Python
  bin/check-url-persistence.sh
  learning-pathways/ml-using-python.md
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/gai-llm-with-python/slides.html
  topics/statistics/tutorials/gai-llm-with-python/tutorial.md
  topics/statistics/tutorials/genomic-llm-finetuning/images/two_dna_sequences.png
  topics/statistics/tutorials/genomic-llm-finetuning/tutorial.bib
  topics/statistics/tutorials/genomic-llm-finetuning/tutorial.md
  topics/statistics/tutorials/genomic-llm-pretraining/images/genomics_llm.png
  topics/statistics/tutorials/genomic-llm-pretraining/images/sickle_cell_anemia_dna_mutation.png
  topics/statistics/tutorials/genomic-llm-pretraining/tutorial.md
  topics/statistics/tutorials/genomic-llm-sequence-generation/images/pca_k_4_t_0_1.png
  topics/statistics/tutorials/genomic-llm-sequence-generation/tutorial.bib
  topics/statistics/tutorials/genomic-llm-sequence-generation/tutorial.md
  topics/statistics/tutorials/genomic-llm-sequence-optimization/tutorial.md
  topics/statistics/tutorials/genomic-llm-zeroshot-prediction/images/boxplot.png
  topics/statistics/tutorials/genomic-llm-zeroshot-prediction/tutorial.md
Labels: template-and-tools, statistics

#5968 Update faqs1
  faqs/galaxy/datasets_BAM_dataset_identifiers.md
  faqs/galaxy/user_preferences_manage_information.md
Labels: faqs

#5973 Fix purls
  _plugins/gtn/shortlinks.rb
  metadata/shortlinks.yaml
Labels: template-and-tools

#5960 Added admin survey as a news post
  news/_posts/2025-04-16-admin-training-survey.md
Labels: news

#5946 **Ready for Review** | galaxy-intro-101 tutorial |updated the workflow, tutorial, tools, and text.
  faqs/gtn/gtn_workflow_testing.md
  topics/introduction/images/101_04.png
  topics/introduction/images/101_bed_intersect_interface.png
  topics/introduction/images/101_datamash_1.png
  topics/introduction/images/101_displayucsc.png
  topics/introduction/images/101_rename.png
  topics/introduction/images/configure_wf_output.png
  topics/introduction/images/drag_n_drop_dataset.gif
  topics/introduction/images/galaxy_interface.png
  topics/introduction/images/histories_side_by_side_view.png
  topics/introduction/images/wf_editor_open.png
  topics/introduction/images/workflow_cards.png
  topics/introduction/images/workflow_running.png
  topics/introduction/images/workflow_setting_inputs.png
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/workflows/galaxy-intro-101-workflow-test.yml
  topics/introduction/tutorials/galaxy-intro-101/workflows/galaxy-intro-101-workflow-tests.yml
  topics/introduction/tutorials/galaxy-intro-101/workflows/galaxy-intro-101-workflow.eu.json
  topics/introduction/tutorials/galaxy-intro-101/workflows/galaxy-intro-101-workflow.ga
  topics/introduction/tutorials/galaxy-intro-101/workflows/test-data/top_5_exons.bed
Labels: introduction, faqs

#5943 updating dada's version for GTN
  topics/microbiome/tutorials/dada-16S/tutorial.md
  topics/microbiome/tutorials/dada-16S/workflows/workflow.ga
Labels: microbiome, GTA

#5983 Update gta event page
  CONTRIBUTORS.yaml
  events/2025-05-12-galaxy-academy-2025.md
  events/tracks/gta2025-bioNT.md
  events/tracks/gta2025-ml.md
Labels: template-and-tools

#5969 updating slides "Introduction to Genome Annotation"
  topics/genome-annotation/tutorials/introduction/slides.html
Labels: genome-annotation

#5906 Case Study 1 and 2 - Tutorial update
  bin/validate-frontmatter.rb
  redirects/scrna_alevin_combine_workflow_archived.md
  redirects/scrna_alevin_workflow_archived.md
  topics/single-cell/images/scrna-casestudy/CS1-case_study_overview_1.png
  topics/single-cell/images/scrna-casestudy/CS1-lung-atlas-barcodes-raw.png
  topics/single-cell/images/scrna-casestudy/CS1-raw_barcodes-400k.png
  topics/single-cell/images/scrna-casestudy/CS1-raw_barcodes-total.png
  topics/single-cell/images/scrna-casestudy/CS2-case_study_overview_2.png
  topics/single-cell/images/scrna-casestudy/CS2-history-files-ascending.png
  topics/single-cell/images/scrna-casestudy/wab-alevin-barcodes-400k.png
  topics/single-cell/images/scrna-casestudy/wab-alevin-barcodes-lung.png
  topics/single-cell/images/scrna-casestudy/wab-alevin-barcodes-total.png
  topics/single-cell/images/scrna-casestudy/wab-alevin-part1workflow.png
  topics/single-cell/images/scrna-casestudy/wab_raw_barcodes_sidebyside.png
  topics/single-cell/tutorials/alevin-commandline/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/tutorial_ES.md
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/workflows/Combining-datasets-after-pre-processing-ARCHIVE.ga
  topics/single-cell/tutorials/scrna-case_alevin-combine-datasets/workflows/Combining_single_cell_datasets_after_pre-processing.ga
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
  topics/single-cell/tutorials/scrna-case_alevin/tutorial_ES.md
  topics/single-cell/tutorials/scrna-case_alevin/workflows/Generating-a-single-cell-matrix-using-Alevin-ARCHIVE.ga
  topics/single-cell/tutorials/scrna-case_alevin/workflows/Generating_a_single_cell_matrix_using_Alevin.ga
Labels: template-and-tools, single-cell

#5842 Onboarding learning pathway
  _includes/tutorial_list.html
  _plugins/gtn.rb
  bin/schema-learning-pathway.yaml
  learning-pathways/building_tutorials.md
  learning-pathways/onboarding-contributing.md
  learning-pathways/pathway-example.md
Labels: template-and-tools, Spocathon-HDR-ELIXIR

#5987 Update Tool-versions in Tutorial Text Mining Chinese
  topics/statistics/tutorials/text_mining_chinese/tutorial.md
Labels: statistics

#5989 Add updated Workflow for Chinese Text Mining Tutorial
  topics/statistics/tutorials/text_mining_chinese/workflows/main_workflow.ga
Labels: statistics

#5990 [fix deploy] move single cell redirects to redirects folder
  redirects/scrna_alevin_combine_spanish.md
  redirects/scrna_alevin_spanish.md
Labels: template-and-tools

#5866 Case Study 3 - Tutorial update
  topics/single-cell/images/scrna-casestudy/CS3-Annotated_Cell_Types.png
  topics/single-cell/images/scrna-casestudy/CS3-Batch_Differences.png
  topics/single-cell/images/scrna-casestudy/CS3-Depth_Differences.png
  topics/single-cell/images/scrna-casestudy/CS3-Genotype_Differences.png
  topics/single-cell/images/scrna-casestudy/CS3-Hemoglobin.png
  topics/single-cell/images/scrna-casestudy/CS3-Itm2a.png
  topics/single-cell/images/scrna-casestudy/CS3-PCA_Plot.png
  topics/single-cell/images/scrna-casestudy/CS3-PCA_Variance_Plot.png
  topics/single-cell/images/scrna-casestudy/CS3-Scatter_GenesxMito.png
  topics/single-cell/images/scrna-casestudy/CS3-Scatter_GenesxUMI.png
  topics/single-cell/images/scrna-casestudy/CS3-Scatter_UMIxMito.png
  topics/single-cell/images/scrna-casestudy/CS3-Sex_Differences.png
  topics/single-cell/images/scrna-casestudy/CS3-UMAP_Plot.png
  topics/single-cell/images/scrna-casestudy/CS3-UMAP_Plotv2.png
  topics/single-cell/images/scrna-casestudy/CS3-Violin_log_batch.png
  topics/single-cell/images/scrna-casestudy/CS3-Violin_log_genotype-Genes.png
  topics/single-cell/images/scrna-casestudy/CS3-Violin_log_genotype-Mito.png
  topics/single-cell/images/scrna-casestudy/CS3-Violin_log_genotype-UMIs.png
  topics/single-cell/images/scrna-casestudy/CS3-Violin_log_genotype.png
  topics/single-cell/images/scrna-casestudy/CS3-Violin_log_sex.png
  topics/single-cell/images/scrna-casestudy/CS3-case_study_overview_3.png
  topics/single-cell/images/scrna-casestudy/CS3-tSNE_Plot.png
  topics/single-cell/images/scrna-casestudy/wab-3visualisations.png
  topics/single-cell/images/scrna-casestudy/wab-annotatedcells.png
  topics/single-cell/images/scrna-casestudy/wab-batcheffect.png
  topics/single-cell/images/scrna-casestudy/wab-genotypedifferences.png
  topics/single-cell/images/scrna-casestudy/wab-hba.png
  topics/single-cell/images/scrna-casestudy/wab-hbalocation.png
  topics/single-cell/images/scrna-casestudy/wab-markergeneumaps.png
  topics/single-cell/images/scrna-casestudy/wab-pca-louvain.png
  topics/single-cell/images/scrna-casestudy/wab-pcavariance.png
  topics/single-cell/images/scrna-casestudy/wab-scatter-countsxmito.png
  topics/single-cell/images/scrna-casestudy/wab-scatter-genesxmito.png
  topics/single-cell/images/scrna-casestudy/wab-scatter-mitoxtotal.png
  topics/single-cell/images/scrna-casestudy/wab-sex-batch.png
  topics/single-cell/images/scrna-casestudy/wab-tsne-louvain.png
  topics/single-cell/images/scrna-casestudy/wab-umap-itm2a.png
  topics/single-cell/images/scrna-casestudy/wab-umap-louvain.png
  topics/single-cell/images/scrna-casestudy/wab-umap-totalcounts.png
  topics/single-cell/images/scrna-casestudy/wab-violin-batch-log.png
  topics/single-cell/images/scrna-casestudy/wab-violin-filteredgenesxfilteredcounts.png
  topics/single-cell/images/scrna-casestudy/wab-violin-genotype-log.png
  topics/single-cell/images/scrna-casestudy/wab-violin-mitofilter.png
  topics/single-cell/images/scrna-casestudy/wab-violin-raw-filteredgenes.png
  topics/single-cell/images/scrna-casestudy/wab-violin-sex-log.png
  topics/single-cell/images/scrna-casestudy/wab-violins2gether.png
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/tutorial_ES.md
  topics/single-cell/tutorials/scrna-case_basic-pipeline/workflows/Filter-plot-and-explore-single-cell-RNA-seq-data-with-Scanpy-tests.yml
  topics/single-cell/tutorials/scrna-case_basic-pipeline/workflows/Filter-plot-and-explore-single-cell-RNA-seq-data-with-Scanpy.ga
  topics/single-cell/tutorials/scrna-case_monocle3-trajectories/tutorial.md
Labels: single-cell

#5992 embedded workflow list: open links in full body of the window
  workflows/embed.html
Labels: template-and-tools

#5994 [fix deploy] move redirect
  redirects/scrna_basic-pipeline_spanish.md
Labels: template-and-tools

#5993 Updated slides on short assembly/QC training to include srobin feedback
  topics/assembly/images/arima.png
  topics/assembly/images/assembly_overview.png
  topics/assembly/images/assembly_vs_align.png
  topics/assembly/images/debruijn_4.png
  topics/assembly/images/goat_logo.png
  topics/assembly/images/goat_logo_lq.jpg
  topics/assembly/tutorials/assembly_and_qc_short/slides.html
Labels: assembly

#5995 typo error
  topics/genome-annotation/tutorials/introduction/slides.html
Labels: genome-annotation

#5998 ML&AI - LLM tutorials 1-4
  topics/statistics/tutorials/genomic-llm-finetuning/tutorial.md
  topics/statistics/tutorials/genomic-llm-pretraining/tutorial.md
  topics/statistics/tutorials/genomic-llm-sequence-generation/tutorial.md
  topics/statistics/tutorials/genomic-llm-zeroshot-prediction/tutorial.md
Labels: statistics

#5988 New Tutorial: Parameter tuning and optimization - Evaluating nuclei segmentation with Galaxy
  topics/imaging/images/parameter-tuning/fetch_data.jpg
  topics/imaging/images/parameter-tuning/graph_comparison.png
  topics/imaging/images/parameter-tuning/output_workflow.png
  topics/imaging/images/parameter-tuning/sigma_comparisons.png
  topics/imaging/images/parameter-tuning/workflow_overview.png
  topics/imaging/tutorials/parameter-tuning/tutorial.bib
  topics/imaging/tutorials/parameter-tuning/tutorial.md
  topics/imaging/tutorials/parameter-tuning/workflows/Segmentation_Values_Testing-tests.yml
  topics/imaging/tutorials/parameter-tuning/workflows/Segmentation_Values_Testing.ga
  topics/imaging/tutorials/parameter-tuning/workflows/index.md
  topics/imaging/tutorials/parameter-tuning/workflows/test-data/Sigma Values.tabular
  topics/imaging/tutorials/parameter-tuning/workflows/test-data/example_image.tiff
  topics/imaging/tutorials/parameter-tuning/workflows/test-data/example_image_ground_truth.tiff
  topics/imaging/tutorials/parameter-tuning/workflows/test-data/output.tabular
Labels: imaging

#6010 Update the GTA varinat analysis learninig path
  events/tracks/gta2025-variant-analysis.md
Labels: template-and-tools

#5947 Update tutorial: Pseudobulk with decoupler and edgeR – Merge me for the GTA! 🚀
  topics/single-cell/images/pseudobulk-analysis/Decoupler_Filter_by_Expression_Plot.png
  topics/single-cell/images/pseudobulk-analysis/Decoupler_Pseudobulk_Plot.png
  topics/single-cell/images/pseudobulk-analysis/VolcanoPlot.png
  topics/single-cell/images/pseudobulk-analysis/Volcano_plot_NCMs.png
  topics/single-cell/images/pseudobulk-analysis/Volcano_plot_pDCs.png
  topics/single-cell/images/pseudobulk-analysis/Volcano_plot_tcells.png
  topics/single-cell/images/pseudobulk-analysis/bcvplot.png
  topics/single-cell/images/pseudobulk-analysis/mdplot_bonemarrow-pbmcs.png
  topics/single-cell/images/pseudobulk-analysis/mdplot_normal-COVID_19.png
  topics/single-cell/images/pseudobulk-analysis/mdsplot_disease.png
  topics/single-cell/images/pseudobulk-analysis/mdsplot_tissue.png
  topics/single-cell/images/pseudobulk-analysis/qlplot.png
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.bib
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.md
Labels: single-cell, GTA

#6012 update Calling variants in non-diploid systems workflow
  topics/variant-analysis/tutorials/non-dip/workflows/Calling_variants_in_non-diploid_systems-test.yml
  topics/variant-analysis/tutorials/non-dip/workflows/Calling_variants_in_non-diploid_systems-tests.yml
  topics/variant-analysis/tutorials/non-dip/workflows/Calling_variants_in_non-diploid_systems.ga
  topics/variant-analysis/tutorials/non-dip/workflows/test-data/out_file1.tabular
  topics/variant-analysis/tutorials/non-dip/workflows/test-data/raw_child-ds-1.fq.fastqsanger
  topics/variant-analysis/tutorials/non-dip/workflows/test-data/raw_child-ds-2.fq.fastqsanger
  topics/variant-analysis/tutorials/non-dip/workflows/test-data/raw_mother-ds-1.fq.fastqsanger
  topics/variant-analysis/tutorials/non-dip/workflows/test-data/raw_mother-ds-2.fq.fastqsanger
Labels: variant-analysis

#6004 Gießen hub news
  CONTRIBUTORS.yaml
  events/2025-05-12-galaxy-academy-2025.md
  news/_posts/2025-04-27-gta-giessen-localhub.md
Labels: template-and-tools, news, GTA

#6015 scRNA preprocessing: add history links...
  topics/single-cell/tutorials/scrna-preprocessing-tenx/tutorial.md
  topics/single-cell/tutorials/scrna-preprocessing-tenx/workflows/scRNA-seq-Preprocessing-TenX.ga
Labels: single-cell, GTA

#6016 Improve tutorial text for clarity of the video recording
  topics/single-cell/tutorials/pseudobulk-analysis/tutorial.md
Labels: single-cell

#6017 Add more answer history links to single-cell tutorials
  topics/single-cell/tutorials/scrna-case_alevin/tutorial.md
  topics/single-cell/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Labels: single-cell

#6003 added Slack channels to the event page
  _layouts/event-track.html
  events/2025-05-12-galaxy-academy-2025.md
  events/tracks/gta2025-assembly.md
  events/tracks/gta2025-bioNT.md
  events/tracks/gta2025-climate.md
  events/tracks/gta2025-microbiome.md
  events/tracks/gta2025-ml.md
  events/tracks/gta2025-proteomics.md
  events/tracks/gta2025-single-cell.md
  events/tracks/gta2025-transcriptomics.md
  events/tracks/gta2025-variant-analysis.md
Labels: template-and-tools, GTA

#5904 Added updated material for tutorial "Foundational Aspects of Machine Learning using Python" in statistics/tutorials/intro-to-ml-with-python/
  bin/check-url-persistence.sh
  topics/statistics/tutorials/intro-to-ml-with-python/images/BlockedTimeSeriesSplit.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/RF.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/TPFP.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/TimeSeriesSplit.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/Tree.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/kfold.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_100_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_101_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_102_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_103_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_107_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_111_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_115_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_116_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_117_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_121_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_124_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_128_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_147_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_148_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_150_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_152_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_15_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_166_3.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_166_4.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_166_5.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_171_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_172_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_174_2.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_177_2.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_177_5.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_180_2.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_180_5.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_21_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_23_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_26_2.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_29_2.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_34_2.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_36_2.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_45_2.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_51_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_53_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_73_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_75_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_79_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_83_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_86_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_8_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_94_1.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/outputs/output_97_0.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/train_test.png
  topics/statistics/tutorials/intro-to-ml-with-python/images/tree_ex.png
  topics/statistics/tutorials/intro-to-ml-with-python/slides.html
  topics/statistics/tutorials/intro-to-ml-with-python/tutorial.bib
  topics/statistics/tutorials/intro-to-ml-with-python/tutorial.md
Labels: template-and-tools, statistics

#6020 [GTA] add usegalaxy.fr tiaas link
  events/2025-05-12-galaxy-academy-2025.md
Labels: template-and-tools, GTA
