Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

added Torsten Seemann
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

added images for prokka annotation slides
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/annotation_details.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/prokka_pipeline.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/seq_annotation.jpg
Owners: @bebatut, @shiltemann

Using latest syntax for icons in template tutorial.md
  templates/tutorials/tutorial1/tutorial.md
Owners: @bebatut, @shiltemann

prokka annotation slides update
  topics/sequence-analysis/tutorials/annotation-with-prokka/slides.html
Owners: @bebatut, @shiltemann

added prokka Galaxy workflow
  topics/sequence-analysis/tutorials/annotation-with-prokka/workflows/Galaxy-Workflow-Workflow_constructed_from_history__prokka-workflow_.ga
Owners: @bebatut, @shiltemann

fixed lines too long in data-manager.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-manager.yaml
Owners: @bebatut, @shiltemann

fixed missing space
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-manager.yaml
Owners: @bebatut, @shiltemann

fixed spacing problems in tools.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/tools.yaml
Owners: @bebatut, @shiltemann

fixed error in github name for contributor Torsten Seemann
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

change hyphen to underscore in tutorial.md
  topics/training/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

Added a tutorial for microbial variants
  CONTRIBUTORS.yaml
  topics/variant-analysis/images/interface.png
  topics/variant-analysis/images/jbrowse1.png
  topics/variant-analysis/images/jbrowse2.png
  topics/variant-analysis/images/micro-start-history.png
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/microbial-variants/data-library.yaml
  topics/variant-analysis/tutorials/microbial-variants/slides.html
  topics/variant-analysis/tutorials/microbial-variants/tools.yaml
  topics/variant-analysis/tutorials/microbial-variants/tours/tour.yaml
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann, @TorHou

Fixed empty line issue
  topics/variant-analysis/tutorials/microbial-variants/tools.yaml
Owners: @bebatut, @shiltemann

Removed empty template files
  topics/variant-analysis/tutorials/microbial-variants/slides.html
  topics/variant-analysis/tutorials/microbial-variants/tours/tour.yaml
  topics/variant-analysis/tutorials/microbial-variants/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

Update on: Tue Jan 23 08:16:35 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Tue Jan 23 08:56:45 UTC 2018
  feed.xml
  topics/training/tutorials/create-new-tutorial-content/tutorial.html
Owners: @bebatut, @shiltemann

Add cosmetic changes
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Owners: @bebatut, @shiltemann

Update the tutorial to the latest workflow, runs on tools from IUC only now.
  topics/proteomics/images/metaproteomics_summary.png
  topics/proteomics/tutorials/metaproteomics/tools.yaml
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/proteomics/tutorials/metaproteomics/workflows/_workflow._ga
Owners: @bebatut, @shiltemann

Update workflow.ga
  topics/proteomics/tutorials/metaproteomics/workflows/_workflow._ga
Owners: @bebatut, @shiltemann

Include fixes.
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Owners: @bebatut, @shiltemann

Fix some minor issues.
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Owners: @bebatut, @shiltemann

TESTING HEROKU AUTO DEPLOY
  topics/proteomics/index.md
Owners: @Stortebecker, @bgruening, @blankclemens

one more test of heroku auto deploy
  hall-of-fame.md
Owners: @bebatut, @shiltemann

Update on: Wed Jan 24 16:50:47 UTC 2018
  feed.xml
  topics/proteomics/images/metaproteomics_summary.png
  topics/proteomics/tutorials/metaproteomics/tutorial.html
Owners: @bebatut, @shiltemann

changed layout to "tutorial_slides"
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-manager.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/slides.html
Owners: @bebatut, @shiltemann

added details of the tools prokka and jbrowse
  topics/sequence-analysis/tutorials/annotation-with-prokka/tools.yaml
Owners: @bebatut, @shiltemann

removed link to a different module (spades)
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
Owners: @bebatut, @shiltemann

added learning objectives (prokka/jbrowse) into metadata.yml
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

format metadata.yml objectives (prokka)
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

removed learning objectives from tutorial; put in metadata.yml
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
Owners: @bebatut, @shiltemann

removed data library mention
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
Owners: @bebatut, @shiltemann

fixed objectives formatting
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

fixing learning objectives
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

changed the jbrowse instruction formatting for consistency
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
Owners: @bebatut, @shiltemann

fixed accidental edit of genetic maps section in yaml
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

added key points
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

more formatting for jbrowse for consistency
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
  topics/sequence-analysis/tutorials/annotation-with-prokka/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

formatting updates to tutorial
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
Owners: @bebatut, @shiltemann

fixed tseemann github name
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

move ref-based RNA seq - we now have two
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
Owners: @bebatut, @shiltemann

move dip
  topics/variant-analysis/tutorials/dip/tutorial.md
Owners: @bebatut, @shiltemann
