Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Use comment box for the citation
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Owners: @bebatut, @shiltemann

more tip boxes, tracks column included, still some image troubles
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(18)_Apollo_Accessed_Within_Galaxy.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(20)_JBrowse_Embedded_in_Apollo.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(22)_Zoomed_Out_Gene_Tracks.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(23)_Zooomed_In_Gene_Tracks.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/10_genbank_header_p22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/11_genbank_features_p22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/12_genbank_sequence_data_p22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/13_compare_and_contrast_file_formats.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/14_jbrowse_in_galaxy.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/15_jbrowse_instance_setup.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/16_jbrowse_instance_within_galaxy.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/17_apollo_galaxy_jbrowse_general_workflow.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/18_create_or_update_organism.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/19_jbrowse_embedded_in_apollo.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/20_genome_selector.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/21_genome_selector_options.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/22_zooomed_out_gene_tracks.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/23_zoomed_in_gene_tracks.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/2_artemis.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/3_gbrowse_from_gmod_wiki.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/4_jbrowse.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/5_compare_and_contrast_browsers.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/6_fasta_ sequence_example.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/7_gff3.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/8_gff3_visually.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/9 _eukaryotic_gene_model.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/0_upload_file.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/1_find_workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/2_import_workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/3_successfully_imported_workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/4_imported_workflows.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/5_workflow_parameters_top.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/6_workflow_parameters_bottom.png
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
  topics/genome-annotation/tutorials/structural-annotation-workflow/tutorial.md
Owners: @bebatut, @shiltemann

Uniform the rename dataset instructions
  snippets/rename_dataset.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Owners: @bebatut, @shiltemann

Remove number from hands_on title
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Change hint to Solution
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Sep 25 17:39:44 UTC 2018
  feed.xml
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.html
Owners: @bebatut, @shiltemann

added workflow for intro-short
  topics/introduction/tutorials/galaxy-intro-short/workflows/Galaxy-Workflow-galaxy-intro-short.ga
Owners: @bebatut, @shiltemann

tour for var-analysis-dunovo
  topics/variant-analysis/tutorials/dunovo/tours/dunovo.yaml
Owners: @bebatut, @shiltemann

Update on: Tue Sep 25 20:08:09 UTC 2018
  feed.xml
  snippets/rename_dataset.md
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.html
  topics/introduction/tutorials/galaxy-intro-101/tutorial.html
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

Fixes for the Ansible tutorial
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Sep 26 07:05:40 UTC 2018
  feed.xml
  topics/admin/tutorials/ansible/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Wed Sep 26 07:30:45 UTC 2018
  feed.xml
  topics/introduction/index.html
  topics/introduction/tutorials/galaxy-intro-short/workflows/Galaxy-Workflow-galaxy-intro-short.ga
Owners: @bebatut, @shiltemann, @tnabtaf

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

WIP: update hicexplorer tutorial
  topics/epigenetics/images/hicPlotMatrix_option.png
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @bebatut, @shiltemann

update bwa in tools.yml
  topics/epigenetics/tutorials/hicexplorer/tools.yaml
Owners: @bebatut, @shiltemann

dm3->dm6; update workflow to reflect that as well and incl. non optional bigwig files
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @bebatut, @shiltemann

fix missing favicon
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

git fix broken slide icon
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Owners: @bebatut, @shiltemann

missing slash
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

Add some og: tags for our pages
  _layouts/base.html
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

tours for formation_of_super-structures_on_xi
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tours/formation_of_super-structures_on_xi_main.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tours/formation_of_super-structures_on_xi_qualitycontrol_mapping.yaml
Owners: @bebatut, @shiltemann

make the datalibrary also consistent with dm3
  topics/epigenetics/tutorials/hicexplorer/data-library.yaml
Owners: @bebatut, @shiltemann

add sarah
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

add sarah
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Try to clarify get flanks step
  topics/introduction/images/intro_get_flanks.png
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Minor edit to Introduction section
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Edits from @bgruening review
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Sep 28 10:59:19 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/introduction/index.html
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.html
Owners: @bebatut, @shiltemann, @tnabtaf

MSI tutorial: first draft qc and preprocessing
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc-preprocessing/data-library.yaml
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc-preprocessing/tools.yaml
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc-preprocessing/tours/proteomics-database-handling-mycroplasma.yaml
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc-preprocessing/tours/proteomics-database-handling.yaml
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc-preprocessing/tutorial.md
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc-preprocessing/workflows/readme.md
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc-preprocessing/workflows/wf_database-handling.ga
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc-preprocessing/workflows/wf_database-handling_mycoplasma.ga
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc/data-library.yaml
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc/tools.yaml
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc/tours/proteomics-database-handling-mycroplasma.yaml
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc/tours/proteomics-database-handling.yaml
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc/tutorial.md
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc/workflows/readme.md
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc/workflows/wf_database-handling.ga
  topics/proteomics/tutorials/mass-spectrometry-imaging-qc/workflows/wf_database-handling_mycoplasma.ga
Owners: @bebatut, @shiltemann

complete tutorial draft
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/10_workflow_parameters_table.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/11_gene_callers.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/12_create_gene.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/1_new_history_option.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/2_find_workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/3_import_workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/4_successfully_imported_workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/5_imported_workflows.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/6_workflow_parameters_top.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/7_workflow_parameters_bottom.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/8_drag_n_drop_fasta_file.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/9_report_bug.png
  topics/genome-annotation/tutorials/structural-annotation-workflow/tutorial.md
Owners: @bebatut, @shiltemann

Update chromosome with highest no. of genes
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Small edits
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Add steps to add tags to inputs to make easier to track in history
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Remove Convert Genomic Intervals to BED step as seems unecessary and confusing
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Add some screenshots
  topics/introduction/images/input_tagged_file.png
  topics/introduction/images/intro_overlapping_genes.png
Owners: @bebatut, @shiltemann

Few more edits
  topics/introduction/images/intro_gene_names.png
  topics/introduction/images/intro_summits.png
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
