Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

finished all text. Now needs to be polished and restructured a bit
  topics/assembly/images/igv_gap1.png
  topics/assembly/images/igv_gap_closeup.png
  topics/assembly/images/igv_gaps2.png
  topics/assembly/images/igv_gaps3.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Thu May 31 13:38:57 UTC 2018
  feed.xml
  hall-of-fame.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

adds more slides with points
  topics/phylogenetics/tutorials/GeneSeqToFamily/slides.html
Owners: @bebatut, @shiltemann

adds more information
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
Owners: @bebatut, @shiltemann

adds list of tools requird for GeneSeqToFamily workflow
  topics/phylogenetics/tutorials/GeneSeqToFamily/tools.yaml
Owners: @bebatut, @shiltemann

first proof-reading and typo correction
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Update client upgrading slide
  topics/admin/tutorials/upgrading/slides.html
Owners: @bebatut, @shiltemann

Clarify that client artifacts are no longer included at all.
  topics/admin/tutorials/upgrading/slides.html
Owners: @bebatut, @shiltemann

Update client upgrading slide (#797)
  topics/admin/tutorials/upgrading/slides.html
Owners: @bebatut, @shiltemann

Update on: Thu May 31 21:01:00 UTC 2018
  feed.xml
  topics/admin/tutorials/upgrading/slides.html
Owners: @bebatut, @shiltemann

more corrections
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Fixing conda installation
  .travis.yml
  Makefile
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sun Jun 3 15:17:58 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Mon Jun 4 07:12:25 UTC 2018
  assets/css/main.css
  assets/js/main.js
  feed.xml
  shared/images/tutorial_collapsed_detail_box.png
  shared/images/tutorial_expanded_detail_box.png
  shared/images/tutorial_question_box.png
  shared/images/tutorial_question_box_collapsed.png
  shared/images/tutorial_question_box_expanded.png
  topics/training/tutorials/create-new-tutorial-content/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann

Replace images with real examples
  shared/images/tutorial_agenda_box.png
  shared/images/tutorial_collapsed_detail_box.png
  shared/images/tutorial_comment_box.png
  shared/images/tutorial_expanded_detail_box.png
  shared/images/tutorial_hand_on_box.png
  shared/images/tutorial_question_box_collapsed.png
  shared/images/tutorial_question_box_expanded.png
  shared/images/tutorial_tip_box.png
  topics/training/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

Add raw around markdown and more detail hands-on box
  topics/training/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

Replace all details boxes with question/solution
  topics/assembly/tutorials/general-introduction/tutorial.md
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tutorial.md
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/database-handling/tutorial.md
  topics/proteomics/tutorials/labelfree-vs-labelled/tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/proteomics/tutorials/protein-id-oms/tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/genome-annotation/tutorial.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
  topics/transcriptomics/tutorials/srna/tutorial.md
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.md
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Owners: @bebatut, @shiltemann

Fix Anna's comments
  topics/sequence-analysis/tutorials/annotation-with-prokka/tours/tour.yaml
Owners: @bebatut, @shiltemann

added tour for genome annotation with prokka
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/tours/tour.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff, @shiltemann

Remove a training space
  topics/sequence-analysis/tutorials/annotation-with-prokka/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update on: Mon Jun 4 10:03:01 UTC 2018
  feed.xml
  shared/images/tutorial_agenda_box.png
  shared/images/tutorial_collapsed_detail_box.png
  shared/images/tutorial_comment_box.png
  shared/images/tutorial_expanded_detail_box.png
  shared/images/tutorial_hand_on_box.png
  shared/images/tutorial_question_box_collapsed.png
  shared/images/tutorial_question_box_expanded.png
  shared/images/tutorial_tip_box.png
  topics/training/tutorials/create-new-tutorial-content/tutorial.html
Owners: @bebatut, @shiltemann

updates tutorial
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
Owners: @bebatut, @shiltemann

adds data files
  topics/sequence-analysis/tutorials/genome-annotation/data-library.yaml
Owners: @bebatut, @shiltemann

Reformate table in solution
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
Owners: @bebatut, @shiltemann

Remove empty solution from genome annotation tutorial
  topics/sequence-analysis/tutorials/genome-annotation/tutorial.md
Owners: @bebatut, @shiltemann

Fix mathematic formatting in diploid variant calling
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.md
Owners: @bebatut, @shiltemann

Fix links to the renamed tutorial
  topics/training/tutorials/create-new-tutorial-content/tutorial.md
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.md
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/training/tutorials/create-new-tutorial-tours/tutorial.md
Owners: @bebatut, @shiltemann

Reformate the technical tutorial to incorporate not only Docker
  environment.yml
  topics/training/metadata.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/data-library.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/tools.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/tutorial.md
Owners: @bebatut, @shiltemann, @bgruening

Simplify CONTRIBUTING to limit redundancy
  CONTRIBUTING.md
Owners: @bebatut, @shiltemann

Rebrand training topic
  metadata/contributing.yaml
  metadata/training.yaml
  topics/contributing/README.md
  topics/contributing/docker/Dockerfile
  topics/contributing/images/github_repo.png
  topics/contributing/images/image_caption_screenshot.png
  topics/contributing/images/interactivity.jpg
  topics/contributing/images/structure.png
  topics/contributing/images/structure.svg
  topics/contributing/images/template.graphml
  topics/contributing/index.md
  topics/contributing/metadata.yaml
  topics/contributing/slides/introduction.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-jekyll/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/good-practices/slides.html
  topics/training/tutorials/create-new-tutorial-content/data-library.yaml
  topics/training/tutorials/create-new-tutorial-content/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-content/tools.yaml
  topics/training/tutorials/create-new-tutorial-jekyll/data-library.yaml
  topics/training/tutorials/create-new-tutorial-jekyll/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-jekyll/tools.yaml
  topics/training/tutorials/create-new-tutorial-metadata/data-library.yaml
  topics/training/tutorials/create-new-tutorial-metadata/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-metadata/tools.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/data-library.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/tools.yaml
  topics/training/tutorials/create-new-tutorial-tours/data-library.yaml
  topics/training/tutorials/create-new-tutorial-tours/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-tours/tools.yaml
Owners: @bebatut, @shiltemann

Start new topic creation tutorial
  topics/contributing/tutorials/create-new-topic/tutorial.md
Owners: @bebatut, @shiltemann

Fill new topic creation tutorial
  topics/contributing/tutorials/create-new-topic/tutorial.md
Owners: @bebatut, @shiltemann

Move github contribution tutorial to contributing topic
  topics/contributing/tutorials/github-command-line-contribution/slides.html
  topics/dev/metadata.yaml
Owners: @bebatut, @shiltemann, @lecorguille

Fixing contributing topic display
  _layouts/home.html
  _layouts/topic.html
  topics/contributing/index.md
  topics/contributing/metadata.yaml
Owners: @bebatut, @shiltemann, @willdurand

Change home page to emphasize contributing
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

use latest version of ephemeris
  bin/docker-install-tutorials.sh
Owners: @bebatut, @shiltemann, @bgruening

add provisioning scripts
  bin/install_topic_requirements.sh
  bin/install_tutorial_requirements.sh
Owners: @bebatut, @shiltemann, @bgruening

add tutorial about provisioning galaxy
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
