Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Small edits, typo fixes
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

completed informational
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(19) Genome Selector.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(20) JBrowse Embedded in Apollo.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(21) Genome Selector Options.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(22) Zoomed Out Gene Tracks.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(23) Zoomed In Gene Tracks.png
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

compete tutorial
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

complete tutorial i mean it this time
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

Fixes for setup-galaxy-for-training tutorial
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Sep 22 07:13:01 UTC 2018
  feed.xml
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.html
Owners: @bebatut, @shiltemann

Some more edits and screenshots
  topics/transcriptomics/images/limma-voom_f2c/count_matrix.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_sequence_counts_plot.png
  topics/transcriptomics/images/limma-voom_f2c/featureCounts_assignment_plot.png
  topics/transcriptomics/images/limma-voom_f2c/genebodycoverage.png
  topics/transcriptomics/images/limma-voom_f2c/hisat2_se_plot.png
  topics/transcriptomics/images/limma-voom_f2c/mouse_exp.png
  topics/transcriptomics/images/limma-voom_f2c/multiqc_summary.png
  topics/transcriptomics/images/limma-voom_f2c/picard_deduplication.png
  topics/transcriptomics/images/limma-voom_f2c/post_cutadapt_adapter_content.png
  topics/transcriptomics/images/limma-voom_f2c/post_cutadapt_fastqc_sequence_length_distribution_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_gene_body_coverage_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_infer_experiment_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_read_distribution_plot.png
  topics/transcriptomics/images/limma-voom_f2c/samtools-idxstats-mapped-reads-plot.png
  topics/transcriptomics/images/limma-voom_f2c/samtools-idxstats-xy-plot.png
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Add enable: false to prevent showing on topic page
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sun Sep 23 10:49:56 UTC 2018
  feed.xml
  index.html
  topics/transcriptomics/images/limma-voom_f2c/collection.png
  topics/transcriptomics/images/limma-voom_f2c/count_matrix.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_adapter_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_base_n_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_base_sequence_quality_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_sequence_gc_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_sequence_quality_scores_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_sequence_counts_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_sequence_duplication_levels_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_table.png
  topics/transcriptomics/images/limma-voom_f2c/featureCounts_assignment_plot.png
  topics/transcriptomics/images/limma-voom_f2c/genebodycoverage.png
  topics/transcriptomics/images/limma-voom_f2c/hisat2_se_plot.png
  topics/transcriptomics/images/limma-voom_f2c/mouse_exp.png
  topics/transcriptomics/images/limma-voom_f2c/multiqc_summary.png
  topics/transcriptomics/images/limma-voom_f2c/picard_deduplication.png
  topics/transcriptomics/images/limma-voom_f2c/post_cutadapt_adapter_content.png
  topics/transcriptomics/images/limma-voom_f2c/post_cutadapt_fastqc_sequence_length_distribution_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_gene_body_coverage_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_infer_experiment_plot.png
  topics/transcriptomics/images/limma-voom_f2c/rseqc_read_distribution_plot.png
  topics/transcriptomics/images/limma-voom_f2c/samtools-idxstats-mapped-reads-plot.png
  topics/transcriptomics/images/limma-voom_f2c/samtools-idxstats-xy-plot.png
  topics/transcriptomics/images/limma-voom_f2c/workflow.png
  topics/transcriptomics/index.html
  topics/transcriptomics/slides/introduction.html
  topics/transcriptomics/tutorials/clipseq/tutorial.html
  topics/transcriptomics/tutorials/de-novo/tutorial.html
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.html
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
  topics/transcriptomics/tutorials/srna/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Typo correction.
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Formatted the JSON format of the workflow file.
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/workflows/Galaxy-Workflow-Heinz.ga
Owners: @bebatut, @shiltemann

Update on: Mon Sep 24 06:05:55 UTC 2018
  environment.yml
  feed.xml
  topics/contributing/images/image_caption_screenshot.png
  topics/contributing/tutorials/create-new-topic/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.html
  topics/contributing/tutorials/create-new-tutorial/tutorial.html
Owners: @bebatut, @shiltemann

Fixes for ref-base RNA-Seq and sequence analysis
  topics/sequence-analysis/tutorials/mapping/ref_genome_explanation.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/fastq_question.md
  topics/sequence-analysis/tutorials/quality-control/paired_end_question.md
  topics/sequence-analysis/tutorials/quality-control/slides.html
  topics/transcriptomics/tutorials/ref-based/tools.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

address review comments
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Sep 24 13:50:17 UTC 2018
  feed.xml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.html
  topics/sequence-analysis/tutorials/mapping/ref_genome_explanation.md
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/sequence-analysis/tutorials/quality-control/fastq_question.md
  topics/sequence-analysis/tutorials/quality-control/paired_end_question.md
  topics/sequence-analysis/tutorials/quality-control/slides.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann

Small edits, typo fixes
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

Expand the QC tutorial and add workflow testing
  topics/sequence-analysis/images/quality-control/adapter_content.png
  topics/sequence-analysis/images/quality-control/per_base_n_content.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution.png
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control-job.yml
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control-test.yml
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control.ga
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control_2.ga
Owners: @bebatut, @shiltemann

small whitespace fix
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

merge 2 hands-on boxes + give proper titles to all hands-on boxes
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

Fix Maria's comments
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

Replace Trim Galore with Cutadapt
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control-test.yml
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control.ga
Owners: @bebatut, @shiltemann

adjusted image file names
  CONTRIBUTORS.yaml
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(10)_GenBank_Header_P22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(11)_GenBank_Features_P22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(12)_GenBank_Sequence_Data_P22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(13)_Compare_and_Contrast_File_Formats.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(14)_JBrowse_in_Galaxy.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(15)_JBrowse_Instance_Setup.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(16)_Apollo_Galaxy_JBrowse_general_workflow.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(16.5)_JBrowse_Instance_Within_Galaxy.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(17)_Create_or_Update_Organism.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(18)_Apollo_Accessed_Within_Galaxy.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(19)_Genome_Selector.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(2)_Artemis.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(20)_JBrowse_Embedded_in_Apollo.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(21)_Genome_Selector_Options.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(22)_Zoomed_Out_Gene_Tracks.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(23)_Zooomed_In_Gene_Tracks.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(3)_GBrowse_from_GMOD_Wiki.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(4)_JBrowse.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(5)_Compare_and_Contrast_Browsers.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(6)_FASTA_ Sequence_Example.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(7)_GFF3.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(8)_GFF3_Visually.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(9) _Eukaryotic_Gene_Model.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/(0) Upload File.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/(1) Find Workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/(2) Import Workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/(3) Successfully Imported Workflow.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/(4) Imported Workflows.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/(5) Workflow Parameters top.png
  topics/genome-annotation/images/structural-annotation-workflow-screenshots/(6) Workflow Parameters bottom.png
  topics/genome-annotation/metadata.yaml
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
  topics/genome-annotation/tutorials/structural-annotation-workflow/data-library.yaml
  topics/genome-annotation/tutorials/structural-annotation-workflow/data-manager.yaml
  topics/genome-annotation/tutorials/structural-annotation-workflow/slides.html
  topics/genome-annotation/tutorials/structural-annotation-workflow/tools.yaml
  topics/genome-annotation/tutorials/structural-annotation-workflow/tours/tour.yaml
  topics/genome-annotation/tutorials/structural-annotation-workflow/tutorial.md
  topics/genome-annotation/tutorials/structural-annotation-workflow/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

Update on: Mon Sep 24 18:15:17 UTC 2018
  feed.xml
  index.html
  topics/genome-annotation/images/busco_genome_summary.png
  topics/genome-annotation/images/jbrowse_navigate.png
  topics/genome-annotation/index.html
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.html
  topics/genome-annotation/tutorials/annotation-with-maker/workflows/main_workflow.ga
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Owners: @bebatut, @shiltemann

added package files to gitignore
  .gitignore
Owners: @bebatut, @shiltemann

Update Galaxy 101 tutorial
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Owners: @bebatut, @shiltemann

Small fixes to `contributing` training
  topics/contributing/slides/introduction.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

Add limma-voom tutorial contributors
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Replace authors with GitHub usernames
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Sep 25 07:28:27 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/limma-voom/tutorial.html
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Replace <div> elements with comment blocks
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Owners: @bebatut, @shiltemann

Fix some spelling errors
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Sep 25 10:00:20 UTC 2018
  feed.xml
  topics/contributing/slides/introduction.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.html
  topics/introduction/tutorials/galaxy-intro-101/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Tue Sep 25 10:25:49 UTC 2018
  feed.xml
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.html
Owners: @bebatut, @shiltemann

fixed links to section requirements within all slides
  _layouts/base_slides.html
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Fix blockquote of Dündar et al
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Owners: @bebatut, @shiltemann
