Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

cpoy paste error
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

typo
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Owners: @bebatut, @shiltemann

Add files via upload
  topics/ecology/tutorials/regionalGAM/Images/Phenology chart .png
Owners: @bebatut, @shiltemann

Delete Phenology regional GAM.png
  topics/ecology/tutorials/regionalGAM/Images/Phenology regional GAM.png
Owners: @bebatut, @shiltemann

Delete Phenology Pyronia tithonus.png
  topics/ecology/tutorials/regionalGAM/Images/Phenology Pyronia tithonus.png
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Multispecies_tutorial.md
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

New visualization possibility
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

change for the good "trier" tool
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

ref
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Barcoding and plating examples
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

added plating examples
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann

Brought in tool params from b's branch
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann

Completed cross-contamination section
  topics/transcriptomics/images/scrna_crosscontamination.gif
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann

hands on icon
  topics/transcriptomics/tutorials/scrna/tutorial.md
  topics/transcriptomics/tutorials/scrna/tutorial.md~
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

converted mini excercises into q&a's, reformatted tables with style
  topics/transcriptomics/images/scrna_barcodes_fastq.png
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann

step 2 typo
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Owners: @bebatut, @shiltemann

Updated the fasta files
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotFingerPrint.png
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

Updated the data-library.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
Owners: @bebatut, @shiltemann

Add a new tutorial for ChIP-seq data analysis
  package-lock.json
  package.json
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotCorrelation.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotFingerPrint.png
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

Detail and reformate the tutorial
  topics/chip-seq/images/formation_of_super-structures_on_xi/Chromatin_immunoprecipitation_sequencing.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/Chromatin_immunoprecipitation_sequencing.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/bamcompare_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/bamcoverage_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/graphical_abstract.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/histone_modifications.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/macs2_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/peak_heatmap_1.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_adapter_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per base_sequence_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_base_n_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_base_sequence_quality.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_sequence_quality_scores.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_sequence_duplication_levels.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read2_per_base_sequence_quality.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/rep1_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.svg
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

Add workflow and tests
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-job.yml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-test.yml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Owners: @malloryfreeberg, @bebatut, @shiltemann

Add formatted data library
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
Owners: @malloryfreeberg, @bebatut, @shiltemann

Update on: Tue Aug 14 15:38:54 UTC 2018
  feed.xml
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @TorHou

Added image for background, converted most questions into hands-on tutorials
  topics/transcriptomics/images/nbt.3711-F1.jpg
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann

Update wf
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Owners: @bebatut, @shiltemann

Add yaml file with correspondance between Zenodo ext and Galaxy datatype
  shared/datatypes.yaml
Owners: @bebatut, @shiltemann

Update on: Wed Aug 15 06:37:11 UTC 2018
  feed.xml
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @TorHou

minor changes
  package-lock.json
  package.json
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

Changes JSON file
  package.json
Owners: @bebatut, @shiltemann

add checklist for tutorial editors
  faq.md
Owners: @bebatut, @shiltemann

fix typo
  faq.md
Owners: @bebatut, @shiltemann

add links
  faq.md
Owners: @bebatut, @shiltemann
