Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Instruction on which bam file to select (#735)
  topics/variant-analysis/tutorials/exome-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Apr 13 17:48:40 UTC 2018
  feed.xml
  topics/variant-analysis/tutorials/exome-seq/tutorial.html
Owners: @bebatut, @shiltemann

updated workflow
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @bebatut, @shiltemann

added tour
  topics/proteomics/tutorials/protein-quant-sil/tours/tour.yaml
Owners: @bebatut, @shiltemann

Typos and smaller enhancements
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Typos and smaller enhancements (#740)
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Apr 17 09:51:20 UTC 2018
  feed.xml
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
Owners: @bebatut, @shiltemann

Update tour.yaml
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update tour.yaml
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update hyperlinks and add Zenodo repo
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial_ja_notag.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

use https
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

replace galaxy-appliance links with bioteam homepage
  topics/admin/slides/introduction.html
  topics/introduction/tutorials/options-for-using-galaxy/slides.html
Owners: @bebatut, @shiltemann

add link to STACKS publication
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Fix some links
  _layouts/home.html
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
  topics/proteomics/tutorials/protein-id-oms/tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand, @Slugger70, @malloryfreeberg, @yvanlebras, @joachimwolff

another link fix
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @bebatut, @shiltemann

replace broken link to prodigal with link to publication
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
Owners: @bebatut, @shiltemann

Fixed broken links
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Owners: @bebatut, @shiltemann

Fix contributor id
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

link directly to pdf instead
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Fix spelling
  topics/proteomics/tutorials/protein-id-oms/tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
Owners: @bebatut, @shiltemann

fix link to variable.less (we should change this slide after next release and switch to scss)
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
Owners: @bebatut, @shiltemann

Update and rename tutorial.md to tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update and rename tutorial_ja.md to tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Create tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Delete .fa extensions + bullets
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update hyperlinks and add Zenodo repo (#741)
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Apr 20 06:56:02 UTC 2018
  feed.xml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.html
Owners: @bebatut, @shiltemann

"fork" is probably unknown to our users
  _includes/default-header.html
Owners: @bebatut, @shiltemann, @willdurand

1-3 points
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update on: Mon Apr 23 08:33:24 UTC 2018
  feed.xml
  index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.html
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.html
  topics/introduction/tutorials/options-for-using-galaxy/slides.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
  topics/proteomics/tutorials/protein-id-oms/tutorial.html
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.html
  topics/sequence-analysis/index.html
  topics/sequence-analysis/tutorials/annotation-with-prokka/slides.html
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.html
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.html
  topics/transcriptomics/tutorials/de-novo/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
  topics/variant-analysis/tutorials/non-dip/tutorial.html
Owners: @bebatut, @shiltemann, @Slugger70, @malloryfreeberg, @yvanlebras, @joachimwolff

Update on: Mon Apr 23 08:45:01 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

corrected things
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @bebatut, @shiltemann

Update of HiCExplorer tour
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update Galaxy-Workflow-Galaxy_Hi-C.ga
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @bebatut, @shiltemann

Update on: Mon Apr 23 18:46:17 UTC 2018
  feed.xml
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @bebatut, @shiltemann

hicexplorer has a tour
  topics/epigenetics/metadata.yaml
Owners: @joachimwolff, @dpryan79

add prokaryote tag
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

Add tagging
  _layouts/topic.html
  assets/css/main.scss
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @shiltemann, @willdurand, @malloryfreeberg

Add prokaryote tag
  topics/assembly/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @Slugger70, @yvanlebras, @bebatut, @joachimwolff, @malloryfreeberg, @TorHou
