Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Fix trailing space in hicexplorer tour
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
Owners: @bebatut, @shiltemann

Fix new errors
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update on: Fri Apr 27 14:15:48 UTC 2018
  feed.xml
  topics/epigenetics/index.html
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79

Update on: Fri Apr 27 14:29:06 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Fri Apr 27 20:58:50 UTC 2018
  assets/css/main.css
  feed.xml
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/dev/index.html
  topics/epigenetics/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/training/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update on: Fri Apr 27 21:16:44 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Add make command
  Makefile
Owners: @bebatut, @shiltemann

Fix extraction of tested galaxy instances
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Drop instance if tools can be accessed
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Add Martin server list
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Add code to check tools and versions
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Start script to annotate public galaxy instance in metadata
  bin/add_galaxy_instance_annotations.py
  galaxy_instances.yaml
Owners: @bebatut, @shiltemann, @bgruening

Catch and fix connection error
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Add annotations of tested instances in topic and hands-on
  _config.yml
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Add extra packages for instance annotation
  environment.yml
Owners: @bebatut, @shiltemann

Add first version of instances file
  metadata/instances.yaml
Owners: @bebatut, @shiltemann

Fix dropdowns
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Add badges page
  _layouts/badges.html
  badges/index.md
Owners: @bebatut, @shiltemann, @willdurand

Initial work on badge support
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  bin/add_galaxy_instance_annotations.py
  bin/add_galaxy_instance_badges.py
  metadata/instances.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tools.yaml
Owners: @bebatut, @shiltemann, @willdurand, @bgruening

Refactor annotation script for necessary information
  bin/add_galaxy_instance_annotations.py
  bin/add_galaxy_instance_badges.py
  metadata/instances.yaml
Owners: @bebatut, @shiltemann, @bgruening

Add make command
  Makefile
Owners: @bebatut, @shiltemann

Add supported attributes for topics and tutorials in instance file
  _layouts/badges.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  bin/add_galaxy_instance_annotations.py
  bin/add_galaxy_instance_badges.py
  metadata/instances.yaml
Owners: @bebatut, @shiltemann, @willdurand, @bgruening

Center element in topic table
  assets/css/main.scss
Owners: @bebatut, @shiltemann

Update on: Thu May 3 15:24:52 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

list all mothur tools explicitly
  topics/metagenomics/tutorials/mothur-miseq-sop/tools.yaml
Owners: @bebatut, @shiltemann

Add alt tag for badge images
  _layouts/badges.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Thu May 3 20:20:41 UTC 2018
  badges/index.html
  feed.xml
Owners: @bebatut, @shiltemann

Update training to run locally
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

Add make target to help conda env installation
  Makefile
Owners: @bebatut, @shiltemann

Add conda prefix to install bundler
  Makefile
Owners: @bebatut, @shiltemann

Remove r channel
  Makefile
Owners: @bebatut, @shiltemann

Add local install for bundle
  Makefile
Owners: @bebatut, @shiltemann

Fixing local installation on osx
  Makefile
Owners: @bebatut, @shiltemann

Update dependencies
  Gemfile
  Gemfile.lock
  environment.yml
  package-lock.json
  package.json
Owners: @bebatut, @shiltemann

Add local dependency install to ignore files
  .dockerignore
  .gitignore
Owners: @bebatut, @shiltemann

Remove build pin in conda env
  environment.yml
Owners: @bebatut, @shiltemann

Simplify requirements
  environment.yml
Owners: @bebatut, @shiltemann

Correct name of contributor
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Tue May 8 11:55:48 UTC 2018
  feed.xml
  hall-of-fame.html
  topics/admin/index.html
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/dev/index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/dev/tutorials/interactive-environments/slides.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @lecorguille

pretty'fy workflow
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling.ga
Owners: @bebatut, @shiltemann
