Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update Rdata_tutorial.md
  topics/ecology/tutorials/regionalGAM/Rdata_tutorial.md
Owners: @bebatut, @shiltemann

Add regionalGAM tuto Zenodo links
  topics/ecology/tutorials/regionalGAM/data-library.yaml
Owners: @bebatut, @shiltemann

Delete old files
  topics/ecology/tutorials/regionalGAM/Reference_tutorial_FR.md
Owners: @bebatut, @shiltemann

Put regionalgam workflows on right place
  topics/ecology/tutorials/regionalGAM/workflows/Galaxy-Workflow-Abundance_index__stacked__visualization_creation.ga
  topics/ecology/tutorials/regionalGAM/workflows/Galaxy-Workflow-Phenology__stacked__visualization_creation.ga
  topics/ecology/tutorials/regionalGAM/workflows/Galaxy-Workflow-Tutorial_regionalGAM_complete_Multispecies.ga
  topics/ecology/tutorials/regionalGAM/workflows/Galaxy-Workflow-Tutorial_training_regionalGAM_complete_workflow.ga
  topics/ecology/tutorials/workflows/README.md
Owners: @bebatut, @shiltemann

Add more snippets
  snippets/create_new_history.md
  snippets/import_from_data_library.md
  snippets/rename_history.md
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

Update data-library.yaml
  topics/ecology/tutorials/species-distribution-modeling/data-library.yaml
Owners: @bebatut, @shiltemann

Remove changes on package files
  package-lock.json
  package.json
Owners: @bebatut, @shiltemann

Add LeilyR in the CONTRIBUTORS
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

more edits on chip-seq tutorial
  .gitignore
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

Remove changes in .gitignore
  .gitignore
Owners: @bebatut, @shiltemann

Add mblue9 in the contributors
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Thu Sep 13 19:54:41 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

updated tour
  topics/transcriptomics/tutorials/de-novo/tours/tour.yaml
Owners: @bebatut, @shiltemann

workflow updated
  topics/transcriptomics/tutorials/de-novo/workflows/_rnaseq-denovo-transcriptome-reconstruction._ga
  topics/transcriptomics/tutorials/de-novo/workflows/transcriptomics-denovo-workflow.ga
Owners: @bebatut, @shiltemann

updated tools in tutorial
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Owners: @bebatut, @shiltemann

Add slides for tutorial
  topics/chip-seq/images/formation_of_super-structures_on_xi/SCHMD1.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/chip_vs_input.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/chipseq.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/chipseq_generation.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/chipseq_pipeline.png
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/slides.html
Owners: @bebatut, @shiltemann

Make associated slides display and not introduction slides
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Few small edits
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Add limma-voom tutorial fastq to counts [WIP]
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Sep 17 08:46:30 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Mon Sep 17 09:13:04 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/de-novo/tutorial.html
  topics/transcriptomics/tutorials/de-novo/workflows/transcriptomics-denovo-workflow.ga
Owners: @bebatut, @shiltemann

Expand mapping tutorial and add workflow + tests
  topics/sequence-analysis/images/mapping/mapping.png
  topics/sequence-analysis/images/mapping/mapping.svg
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/mapping_explanation.md
  topics/sequence-analysis/tutorials/mapping/ref_genome_explanation.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/mapping/workflows/Galaxy-Workflow-mapping.ga
  topics/sequence-analysis/tutorials/mapping/workflows/mapping-job.yml
  topics/sequence-analysis/tutorials/mapping/workflows/mapping-test.yml
  topics/sequence-analysis/tutorials/mapping/workflows/mapping.ga
Owners: @bebatut, @shiltemann

Add myself to Contributors
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Specify to add genome (mm10) when uploading as needed for featurecounts
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Some edits and screenshots
  topics/transcriptomics/images/limma-voom_f2c/collection.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_adapter_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_base_n_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_base_sequence_quality_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_sequence_gc_content_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_per_sequence_quality_scores_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_sequence_counts_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_sequence_duplication_levels_plot.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_table.png
  topics/transcriptomics/images/limma-voom_f2c/workflow.png
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Fix Nicola's spelling comments
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/ref_genome_explanation.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
Owners: @bebatut, @shiltemann

Expand the QC tutorial and add workflow testing
  topics/sequence-analysis/images/quality-control/adapter_content.png
  topics/sequence-analysis/images/quality-control/per_base_n_content.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_content.png
  topics/sequence-analysis/images/quality-control/per_base_sequence_quality.png
  topics/sequence-analysis/images/quality-control/per_sequence_gc_content.png
  topics/sequence-analysis/images/quality-control/per_sequence_quality_scores.png
  topics/sequence-analysis/images/quality-control/per_tile_sequence_quality.png
  topics/sequence-analysis/images/quality-control/sequence_duplication_levels.png
  topics/sequence-analysis/images/quality-control/sequence_length_distribution.png
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control-job.yml
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control-test.yml
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control.ga
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control_2.ga
Owners: @bebatut, @shiltemann

images added, background information near completion
  CONTRIBUTORS.yaml
  package-lock.json
  package.json
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(10) GenBank Header P22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(11) GenBank Features P22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(12) GenBank Sequence Data P22.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(13) Compare:Contrast File Formats.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(14) JBrowse in Galaxy.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(15) JBrowse Instance Setup.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(16) Apollo-Glaxy-JBrowse general workflow.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(17) Create or Update Organism.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(18) Apollo Accessed Within Galaxy.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(19) Genome Selector.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(2) Artemis.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(3) GBrowse from GMOD Wiki.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(4) JBrowse.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(5) Compare and Contrast Browsers.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(6) FASTA Sequence Example.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(7) GFF3.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(8) GFF3 Visually.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(9) Eukaryotic Gene Model.png
  topics/genome-annotation/metadata.yaml
  topics/genome-annotation/tutorials/getting-started-with-apollo/data-library.yaml
  topics/genome-annotation/tutorials/getting-started-with-apollo/data-manager.yaml
  topics/genome-annotation/tutorials/getting-started-with-apollo/slides.html
  topics/genome-annotation/tutorials/getting-started-with-apollo/tools.yaml
  topics/genome-annotation/tutorials/getting-started-with-apollo/tours/tour.yaml
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
  topics/genome-annotation/tutorials/getting-started-with-apollo/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

Add nanopore tutorial
  topics/sequence-analysis/tutorials/nanopore/data-library.yaml
  topics/sequence-analysis/tutorials/nanopore/data-manager.yaml
  topics/sequence-analysis/tutorials/nanopore/slides.html
  topics/sequence-analysis/tutorials/nanopore/tools.yaml
  topics/sequence-analysis/tutorials/nanopore/tours/tour.yaml
  topics/sequence-analysis/tutorials/nanopore/tutorial.md
  topics/sequence-analysis/tutorials/nanopore/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

Smoothed out the expression (ongoing).
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Add reference paper tutorial
  topics/sequence-analysis/tutorials/nanopore/tutorial.md
Owners: @bebatut, @shiltemann

Update reference paper tutorial
  topics/sequence-analysis/tutorials/nanopore/tutorial.md
Owners: @bebatut, @shiltemann

Getting Started With Apollo current status
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(6) FASTA Sequence Example.png
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

current status
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(13) Compare and Contrast File Formats.png
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Sep 20 07:29:58 UTC 2018
  feed.xml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.html
  topics/sequence-analysis/images/mapping/mapping.png
  topics/sequence-analysis/images/mapping/mapping.svg
  topics/sequence-analysis/index.html
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/mapping_explanation.md
  topics/sequence-analysis/tutorials/mapping/ref_genome_explanation.md
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/sequence-analysis/tutorials/mapping/workflows/Galaxy-Workflow-mapping.ga
  topics/sequence-analysis/tutorials/mapping/workflows/mapping.ga
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Fix some comments after Freiburg workshop
  topics/transcriptomics/slides/introduction.html
Owners: @bebatut, @shiltemann

Update on: Thu Sep 20 09:55:59 UTC 2018
  feed.xml
  topics/transcriptomics/slides/introduction.html
Owners: @bebatut, @shiltemann

test commit weird erver stuff
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(16) Apollo Galaxy JBrowse general workflow.png
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/(16.5) JBrowse Instance Within Galaxy.png
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

Smoothed out the expressions (done)
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

small whitespace fix
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
