Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Update on: Wed Apr 4 14:30:43 UTC 2018
  feed.xml
  topics/training/tutorials/create-new-tutorial-content/tutorial.html
Owners: @bebatut, @shiltemann

Use IUC tool
  topics/variant-analysis/tutorials/microbial-variants/tools.yaml
Owners: @bebatut, @shiltemann

Add some love to microbial variant calling tutorial
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Owners: @bebatut, @shiltemann

Add microbial variant workflow
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling.ga
Owners: @TorHou, @bebatut, @shiltemann

update tutorial to new version of mothur
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

more updates to mothur 1.39
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

create extra credit section to cut down on length of tutorial
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

small fixes
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Fix the answer for pre.cluster
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Apr 5 17:16:08 UTC 2018
  feed.xml
  topics/metagenomics/tutorials/general-tutorial/tutorial.html
Owners: @bebatut, @shiltemann

fix link to zenodo file
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

explicitly ask for logfile output
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

this is now the default setting
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

clarify parameters
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

trailing whitespace
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

parameter value is now default
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

update answer to question
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

update parameter name
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

update krona section and add question
  topics/metagenomics/images/krona-multisample.png
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

typo
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Apr 6 14:31:33 UTC 2018
  feed.xml
  topics/metagenomics/images/krona-multisample.png
  topics/metagenomics/tutorials/general-tutorial/tutorial.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
Owners: @bebatut, @shiltemann

Fix Saskia's comments
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Owners: @bebatut, @shiltemann

Add some love to microbial variant calling tutorial (#732)
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/microbial-variants/tools.yaml
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling.ga
Owners: @TorHou, @bebatut, @shiltemann

Update on: Fri Apr 6 19:50:55 UTC 2018
  feed.xml
  topics/variant-analysis/index.html
  topics/variant-analysis/tutorials/microbial-variants/tutorial.html
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling.ga
Owners: @bebatut, @shiltemann, @TorHou

Updates to the location of the hg19
  topics/variant-analysis/tutorials/exome-seq/tutorial.md
Owners: @bebatut, @shiltemann

Instruction on which bam file to select
  topics/variant-analysis/tutorials/exome-seq/tutorial.md
Owners: @bebatut, @shiltemann

Correcting typos
  topics/variant-analysis/tutorials/exome-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sun Apr 8 20:08:55 UTC 2018
  feed.xml
  topics/variant-analysis/tutorials/exome-seq/tutorial.html
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

added tour
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/ref-based/tours/tour.yaml
Owners: @bebatut, @malloryfreeberg, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md (#738)
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Apr 13 11:26:16 UTC 2018
  feed.xml
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.html
Owners: @bebatut, @shiltemann

trimming additional blank spaces in tour.yaml
  topics/statistics/tutorials/iwtomics/tours/tour.yaml
Owners: @bebatut, @shiltemann
