Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

update
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

Add files via upload
  topics/epigenetics/images/funcann.jpg
Owners: @bebatut, @shiltemann

update
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

flake8
  bin/setup_training_content.py
Owners: @bebatut, @shiltemann, @bgruening

update
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

Fix update of tutorial and tutorial type
  bin/setup_training_content.py
Owners: @bebatut, @shiltemann, @bgruening

Update on: Sat Jun 30 00:50:59 UTC 2018
  feed.xml
  topics/proteomics/tutorials/database-handling/tutorial.html
  topics/proteomics/tutorials/labelfree-vs-labelled/tutorial.html
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.html
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.html
Owners: @bebatut, @shiltemann

test
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Jun 30 15:55:42 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

update
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Jun 30 16:49:37 UTC 2018
  feed.xml
  topics/contributing/tutorials/github-command-line-contribution/tutorial.html
  topics/proteomics/tutorials/database-handling/workflows/readme.md
Owners: @bebatut, @shiltemann

grammar and style
  topics/assembly/tutorials/general-introduction/tutorial.md
Owners: @bebatut, @shiltemann

typo: "m" -> ","
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.md
Owners: @bebatut, @shiltemann

Add mccalluc as a contributor
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Sat Jun 30 19:37:32 UTC 2018
  feed.xml
  topics/assembly/tutorials/general-introduction/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Sat Jun 30 20:34:12 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Sat Jun 30 20:43:08 UTC 2018
  feed.xml
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.html
Owners: @bebatut, @shiltemann

Style and grammar tweaks
  topics/assembly/tutorials/unicycler-assembly/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Jun 30 22:10:56 UTC 2018
  environment.yml
  feed.xml
  topics/contributing/tutorials/create-new-topic/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.html
  topics/contributing/tutorials/create-new-tutorial/tutorial.html
Owners: @bebatut, @shiltemann

ToolShed is growing baby!
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Fix some typo & improvements
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Show topic structure
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Typo corection & some improvements
  topics/contributing/tutorials/create-new-topic/tutorial.md
Owners: @bebatut, @shiltemann

create the ecology topic
  topics/ecology/README.md
  topics/ecology/docker/Dockerfile
  topics/ecology/index.md
  topics/ecology/metadata.yaml
  topics/ecology/slides/introduction.html
  topics/ecology/tutorials/species-distribution-modeling/data-library.yaml
  topics/ecology/tutorials/species-distribution-modeling/tools.yaml
  topics/ecology/tutorials/species-distribution-modeling/tours/tour.yaml
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
  topics/ecology/tutorials/species-distribution-modeling/workflows/chip_seq.ga
  topics/ecology/tutorials/species-distribution-modeling/workflows/qc_mapping.ga
Owners: @bebatut, @shiltemann

Add recommendation for tool run times in tutorials
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Typos, prepositions, and verbs, mostly
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sun Jul 1 06:34:36 UTC 2018
  feed.xml
  topics/assembly/tutorials/ecoli_comparison/tutorial.html
Owners: @bebatut, @shiltemann

Updating the initial material
  topics/ecology/README.md
  topics/ecology/index.md
  topics/ecology/metadata.yaml
  topics/ecology/slides/sdm.html
  topics/ecology/slides/spipoll.html
  topics/ecology/slides/taxref.html
  topics/ecology/slides/vigie-chiro.html
  topics/ecology/tutorials/species-distribution-modeling/workflows/chip_seq.ga
  topics/ecology/tutorials/species-distribution-modeling/workflows/qc_mapping.ga
  topics/ecology/tutorials/spipoll_indicators/data-library.yaml
  topics/ecology/tutorials/spipoll_indicators/tools.yaml
  topics/ecology/tutorials/spipoll_indicators/tutorial.md
  topics/ecology/tutorials/taxref/data-library.yaml
  topics/ecology/tutorials/taxref/tools.yaml
  topics/ecology/tutorials/taxref/tutorial.md
  topics/ecology/tutorials/vigie-chiro/data-library.yaml
  topics/ecology/tutorials/vigie-chiro/tools.yaml
  topics/ecology/tutorials/vigie-chiro/tutorial.md
Owners: @bebatut, @shiltemann

move existing tutorials to basics topic
  topics/galaxy-basics/metadata.yaml
  topics/galaxy-basics/tutorials/galaxy-intro-collections/data-library.yaml
  topics/galaxy-basics/tutorials/galaxy-intro-collections/tools.yaml
  topics/galaxy-basics/tutorials/galaxy-intro-collections/tutorial.md
  topics/galaxy-basics/tutorials/galaxy-intro-get-data/data-library.yaml
  topics/galaxy-basics/tutorials/galaxy-intro-get-data/slides.html
  topics/galaxy-basics/tutorials/galaxy-intro-get-data/tools.yaml
  topics/galaxy-basics/tutorials/galaxy-intro-history/tutorial.md
  topics/galaxy-basics/tutorials/galaxy-intro-rules/PRJNA355367.csv
  topics/galaxy-basics/tutorials/galaxy-intro-rules/PRJNA355367.tsv
  topics/galaxy-basics/tutorials/galaxy-intro-rules/gen_images.sh
  topics/galaxy-basics/tutorials/galaxy-intro-rules/tutorial.md
  topics/galaxy-basics/tutorials/tutorial.md
  topics/introduction/metadata.yaml
Owners: @bebatut, @shiltemann, @tnabtaf

create galaxy basics tutorial
  _layouts/home.html
  metadata/galaxy-basics.yaml
  topics/galaxy-basics/index.md
  topics/galaxy-basics/metadata.yaml
Owners: @bebatut, @shiltemann, @willdurand

Update tutorial.md
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
Owners: @bebatut, @shiltemann

Name section tips and tricks
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

microbial-variant-tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Owners: @bebatut, @shiltemann

Updated tutorial.md
  topics/introduction/tutorials/galaxy-intro-history/tutorial.md
Owners: @bebatut, @shiltemann

Add vijay as contributor
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Sun Jul 1 23:56:12 UTC 2018
  feed.xml
  topics/contributing/tutorials/create-new-tutorial/tutorial.html
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.html
  topics/variant-analysis/tutorials/microbial-variants/tutorial.html
Owners: @bebatut, @shiltemann

Update metadata.yaml
  topics/introduction/metadata.yaml
Owners: @tnabtaf

Update on: Mon Jul 2 08:49:34 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

yamllint fixes
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tours/tour.yaml
Owners: @bebatut, @shiltemann

yamllint fixes
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tours/tour.yaml
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
