Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @hexylena, @galaxyproject/training-admin, @galaxyproject/training-assembly, @galaxyproject/training-chip-seq, @galaxyproject/training-computational-chemistry, @galaxyproject/training-contributing, @galaxyproject/training-dev, @abretaud, @galaxyproject/training-ecology, @galaxyproject/training-epigenetics, @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation, @galaxyproject/training-genome-annotation, @galaxyproject/training-instructors, @galaxyproject/training-introduction, @galaxyproject/training-metabolomics, @galaxyproject/training-metagenomics, @galaxyproject/training-proteomics, @galaxyproject/training-sequence-analysis, @galaxyproject/training-statistics, @galaxyproject/training-transcriptomics, @galaxyproject/training-variant-analysis

Now under dev as tool-generators
  metadata/tool-generators.yaml
  topics/dev/tutorials/tool-generators/introduction.md
Owners: @bebatut, @shiltemann, @hexylena, @galaxyproject/training-dev, @abretaud

fix filter tabular replacement expression
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Moved to dev as a single "Tools from simple scripts using a Galaxy tool - the ToolFactory" tutorial rather than a whole new topic. Much more comfortable there. Need the video then ready to expose.
  topics/dev/images/ToolFactory_hello1form.png
  topics/dev/images/ToolFactory_hello2form.png
  topics/dev/images/ToolFactory_hello3form.png
  topics/dev/images/ToolFactory_hello4form.png
  topics/dev/images/ToolFactory_hello5form.png
  topics/dev/tutorials/tool-generators/docker/Dockerfile
  topics/dev/tutorials/tool-generators/docker/maketf.sh
  topics/dev/tutorials/tool-generators/docker/welcome.html
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

again filter tabular regex
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

More metaproteomics select format fixes.
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Added crummy hello world video
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Minor tweaks
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

added beta warning and some more thoughts...
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

more werds...
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Tweaking.
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

simplify..
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

read on
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

edits and minor tweaks
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

More fiddling
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Correct test specification for mtbva
  topics/variant-analysis/tutorials/tb-variant-analysis/workflows/tb-variant-analysis-test.yml
Owners: @galaxyproject/training-variant-analysis

Added advanced examples - selects, collections
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

fixes
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

add moz tts
  topics/contributing/tutorials/slides-with-video/tutorial.md
Owners: @galaxyproject/training-contributing

does that fix it?
  videos/index.md
Owners: none

Done for tonight....
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

informaticians rather than bioinformaticians! World domination here we come!
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Tweaking.
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Aesthetics - introduction is now mostly paragraphs rather than point form. Might make sense to show that the first part is passive.
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Small tweaks..
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

adjusted Dockerfile so mytools is exported so the instructions on unpacking and restarting will make sense...
  topics/dev/tutorials/tool-generators/docker/Dockerfile
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

tweak
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

tweaks
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

few typos
  topics/dev/tutorials/tool-generators/docker/maketf.sh
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Added command/test over-ride documentation
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

added plotter collection screenshot.
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

forgot image
  topics/dev/images/toolfactory_plotter_sample_output.png
Owners: @galaxyproject/training-dev, @abretaud

added plotter collection stuff
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Added select form image
  topics/dev/images/toolfactory_select_test_tool.png
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

fix layout a bit
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Owners: @galaxyproject/training-contributing

Added alt text to figures and other minor revisions per review.
  topics/statistics/tutorials/RNN/tutorial.md
Owners: @galaxyproject/training-statistics

Update tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Owners: @galaxyproject/training-proteomics

CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/
#
# Anybody is free to add their name here

assets/     @bebatut @shiltemann @hexylena
bin/        @bebatut @shiltemann @hexylena
metadata/   @bebatut @shiltemann @hexylena
badges/     @hexylena
_layouts/   @bebatut @shiltemann @hexylena
_includes/  @bebatut @shiltemann @hexylena
_plugins/   @bebatut @hexylena

# Topic maintainers are placed in github teams @galaxyproject/training-<topic-name>
topics/admin/                      @galaxyproject/training-admin
topics/assembly/                   @galaxyproject/training-assembly
topics/chip-seq/                   @galaxyproject/training-chip-seq
topics/computational-chemistry/    @galaxyproject/training-computational-chemistry
topics/contributing/               @galaxyproject/training-contributing
topics/dev/                        @galaxyproject/training-dev @abretaud
topics/ecology/                    @galaxyproject/training-ecology
topics/epigenetics/                @galaxyproject/training-epigenetics
topics/galaxy-interface/           @galaxyproject/training-galaxy-ui @galaxyproject/training-galaxy-data-manipulation
topics/genome-annotation/          @galaxyproject/training-genome-annotation
topics/instructors/                @galaxyproject/training-instructors
topics/introduction/               @galaxyproject/training-introduction
topics/metabolomics/               @galaxyproject/training-metabolomics
topics/metagenomics/               @galaxyproject/training-metagenomics
topics/proteomics/                 @galaxyproject/training-proteomics
topics/sequence-analysis/          @galaxyproject/training-sequence-analysis
topics/statistics/                 @galaxyproject/training-statistics
topics/transcriptomics/            @galaxyproject/training-transcriptomics
topics/variant-analysis/           @galaxyproject/training-variant-analysis

# Lines starting with '#' are comments.
# # Order is important. The last matching pattern has the most precedence.
