Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @hexylena, @galaxyproject/training-admin, @galaxyproject/training-assembly, @galaxyproject/training-chip-seq, @galaxyproject/training-computational-chemistry, @galaxyproject/training-contributing, @galaxyproject/training-dev, @abretaud, @galaxyproject/training-ecology, @galaxyproject/training-epigenetics, @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation, @galaxyproject/training-genome-annotation, @galaxyproject/training-instructors, @galaxyproject/training-introduction, @galaxyproject/training-metabolomics, @galaxyproject/training-metagenomics, @galaxyproject/training-proteomics, @galaxyproject/training-sequence-analysis, @galaxyproject/training-statistics, @galaxyproject/training-transcriptomics, @galaxyproject/training-variant-analysis

Improved language for the compose parameter tool in the workflow parameters tutorial.
  topics/galaxy-interface/tutorials/workflow-parameters/tutorial.md
Owners: @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation

Update tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Owners: @galaxyproject/training-introduction

Increase time estimated for workflow parameters tutorial.
  topics/galaxy-interface/tutorials/workflow-parameters/tutorial.md
Owners: @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation

More details on hello example in intro section Added --extra_tools path to docker entry_point
  topics/dev/tutorials/tool-generators/docker/Dockerfile
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Added an image/paragraph for confusion matrix
  topics/statistics/images/ConfusionMatrix.png
  topics/statistics/tutorials/RNN/tutorial.md
Owners: @galaxyproject/training-statistics

Added hello form image
  topics/dev/images/ToolFactory_big_picture.png
  topics/dev/images/toolfactory_hello_demo_form.png
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Update tutorial.md
  topics/galaxy-interface/tutorials/group-tags/tutorial.md
Owners: @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation

Delete EncyclopeDIA_Figure1.png
  topics/proteomics/images/EncyclopeDIA_Figure1.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure2.png
  topics/proteomics/images/EncyclopeDIA_Figure2.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure3.png
  topics/proteomics/images/EncyclopeDIA_Figure3.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure4.png
  topics/proteomics/images/EncyclopeDIA_Figure4.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure5.png
  topics/proteomics/images/EncyclopeDIA_Figure5.png
Owners: @galaxyproject/training-proteomics

Add files via upload
  topics/proteomics/images/EncyclopeDIA_Figure1.png
  topics/proteomics/images/EncyclopeDIA_Figure2.png
  topics/proteomics/images/EncyclopeDIA_Figure3.png
  topics/proteomics/images/EncyclopeDIA_Figure4.png
  topics/proteomics/images/EncyclopeDIA_Figure5.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure1.png
  topics/proteomics/images/EncyclopeDIA_Figure1.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure2.png
  topics/proteomics/images/EncyclopeDIA_Figure2.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure3.png
  topics/proteomics/images/EncyclopeDIA_Figure3.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure4.png
  topics/proteomics/images/EncyclopeDIA_Figure4.png
Owners: @galaxyproject/training-proteomics

Delete EncyclopeDIA_Figure5.png
  topics/proteomics/images/EncyclopeDIA_Figure5.png
Owners: @galaxyproject/training-proteomics

Add files via upload
  topics/proteomics/images/EncyclopeDIA_Figure1.png
  topics/proteomics/images/EncyclopeDIA_Figure2.png
  topics/proteomics/images/EncyclopeDIA_Figure3.png
  topics/proteomics/images/EncyclopeDIA_Figure4.png
  topics/proteomics/images/EncyclopeDIA_Figure5.png
Owners: @galaxyproject/training-proteomics

Update tutorial.bib
  topics/proteomics/tutorials/encyclopedia/tutorial.bib
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/encyclopedia/tutorial.md
Owners: @galaxyproject/training-proteomics

added high level overview diagram
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

rearranged hello example to include some notes
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Added output images for hello tool
  topics/dev/images/toolfactory_hello_collection.png
  topics/dev/images/toolfactory_outputs_hello.png
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Add tutorial workflow
  topics/ecology/tutorials/PAMPA-toolsuite-tutorial/workflows/Galaxy-Workflow-Compute_and_analyze_biodiversity_metrics_with_PAMPA_toolsuite.ga
Owners: @galaxyproject/training-ecology

Delete Galaxy-Workflow-Compute_and_analyze_biodiversity_metrics_with_PAMPA_toolsuite.ga
  topics/ecology/tutorials/PAMPA-toolsuite-tutorial/workflows/Galaxy-Workflow-Compute_and_analyze_biodiversity_metrics_with_PAMPA_toolsuite.ga
Owners: @galaxyproject/training-ecology

Add updated workflow
  topics/ecology/tutorials/PAMPA-toolsuite-tutorial/workflows/Galaxy-Workflow-Compute_and_analyze_biodiversity_metrics_with_PAMPA_toolsuite.ga
Owners: @galaxyproject/training-ecology

Delete Galaxy-Workflow-Compute_and_analyze_biodiversity_metrics_with_PAMPA_toolsuite.ga
  topics/ecology/tutorials/PAMPA-toolsuite-tutorial/workflows/Galaxy-Workflow-Compute_and_analyze_biodiversity_metrics_with_PAMPA_toolsuite.ga
Owners: @galaxyproject/training-ecology

Third version with good tag
  topics/ecology/tutorials/PAMPA-toolsuite-tutorial/workflows/Galaxy-Workflow-Compute_and_analyze_biodiversity_metrics_with_PAMPA_toolsuite.ga
Owners: @galaxyproject/training-ecology

Fix label for Upload button
  topics/galaxy-interface/tutorials/upload-rules-advanced/tutorial.md
Owners: @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation

fixed odd error in hello xml from formatting cleans up or is it clean ups?
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

added a comment block to the tutorial to highlight the saved rules selector
  topics/galaxy-interface/tutorials/upload-rules-advanced/tutorial.md
Owners: @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation

Revert "Add a simple program view"
  _includes/program_table.html
  _includes/simple.md
  _layouts/home.html
  metadata/training_sessions.yaml
  smorgasbord.md
Owners: @bebatut, @shiltemann, @hexylena

fix the action?
  .github/workflows/deploy-s3.yml
Owners: none

Minor consistency update
  topics/introduction/tutorials/galaxy-intro-101-everyone/tutorial.md
Owners: @galaxyproject/training-introduction

adjust requirements - need some dev tool background ?
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

added some form images to the tips and tricks
  topics/dev/images/toolfactory_plotter_demo_form.png
  topics/dev/images/toolfactory_select_demo_form.png
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

Added some explanation about what's needed to generate a tool and the form mess resulting from lots of repeats...
  topics/dev/tutorials/tool-generators/tutorial.md
Owners: @galaxyproject/training-dev, @abretaud

rework help menu - add link to plausible page metrics - add language selector - add icons
  _includes/help.html
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
Owners: @bebatut, @shiltemann, @hexylena

Update topics/galaxy-interface/tutorials/upload-rules-advanced/tutorial.md
  topics/galaxy-interface/tutorials/upload-rules-advanced/tutorial.md
Owners: @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation

CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/
#
# Anybody is free to add their name here

assets/     @bebatut @shiltemann @hexylena
bin/        @bebatut @shiltemann @hexylena
metadata/   @bebatut @shiltemann @hexylena
badges/     @hexylena
_layouts/   @bebatut @shiltemann @hexylena
_includes/  @bebatut @shiltemann @hexylena
_plugins/   @bebatut @hexylena

# Topic maintainers are placed in github teams @galaxyproject/training-<topic-name>
topics/admin/                      @galaxyproject/training-admin
topics/assembly/                   @galaxyproject/training-assembly
topics/chip-seq/                   @galaxyproject/training-chip-seq
topics/computational-chemistry/    @galaxyproject/training-computational-chemistry
topics/contributing/               @galaxyproject/training-contributing
topics/dev/                        @galaxyproject/training-dev @abretaud
topics/ecology/                    @galaxyproject/training-ecology
topics/epigenetics/                @galaxyproject/training-epigenetics
topics/galaxy-interface/           @galaxyproject/training-galaxy-ui @galaxyproject/training-galaxy-data-manipulation
topics/genome-annotation/          @galaxyproject/training-genome-annotation
topics/instructors/                @galaxyproject/training-instructors
topics/introduction/               @galaxyproject/training-introduction
topics/metabolomics/               @galaxyproject/training-metabolomics
topics/metagenomics/               @galaxyproject/training-metagenomics
topics/proteomics/                 @galaxyproject/training-proteomics
topics/sequence-analysis/          @galaxyproject/training-sequence-analysis
topics/statistics/                 @galaxyproject/training-statistics
topics/transcriptomics/            @galaxyproject/training-transcriptomics
topics/variant-analysis/           @galaxyproject/training-variant-analysis

# Lines starting with '#' are comments.
# # Order is important. The last matching pattern has the most precedence.
