Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

This is transcluded from another piece of documentation
  topics/chip-seq/images/igv_select_genome.png
Owners: @bebatut, @shiltemann

BWA options precision
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Data input precision
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Precision on input datasets
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Add multiqc.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/multiqc.PNG
Owners: @bebatut, @shiltemann

fix broken link
  topics/introduction/slides/introduction.html
Owners: @bebatut, @shiltemann

Add a multiQC step
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Add a MultiQC step
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

typo
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

typo
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Finish updating badges code
  bin/add_galaxy_instance_annotations.py
  bin/add_galaxy_instance_badges.py
  metadata/instances.yaml
Owners: @bebatut, @shiltemann, @bgruening

add population map info
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Add more info on preparing population map
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

population map detail example
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

app population map details
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

rm TODO
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

complete draft of phage comparative genomics tutorial
  topics/genome-annotation/images/phage-comparative-genomics-screenshots/7_report_bug.png
  topics/genome-annotation/tutorials/phage-comparative-genomics/tutorial.md
Owners: @bebatut, @shiltemann

More edits
  topics/transcriptomics/images/limma-voom/basal_top_GO.png
  topics/transcriptomics/images/limma-voom/download_report.png
  topics/transcriptomics/images/limma-voom/luminal_top_GO.png
  topics/transcriptomics/images/limma-voom/multiple_contrasts.png
  topics/transcriptomics/images/limma-voom/report_plots.png
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

stacks manual references
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

stacks manual references
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Delete ref_based_workflow.PNG
  topics/sequence-analysis/images/ref_based_workflow.PNG
Owners: @bebatut, @shiltemann

add ref_based_workflow.PNG
  topics/sequence-analysis/images/ref_based_workflow.PNG
Owners: @bebatut, @shiltemann

Delete workflow.ga
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Create test
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/test
Owners: @bebatut, @shiltemann

Add modified original simple workflow
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Delete test
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/test
Owners: @bebatut, @shiltemann

Add a complete usegalaxy.eu workflow
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/Galaxy-Workflow-Workflow_constructed_from_history__STACKS_RAD__population_genomics_with_reference_genome_.ga
Owners: @bebatut, @shiltemann

Add a modified version of Galaxy-Workflow-de-novo-rad-seq.ga
  topics/sequence-analysis/tutorials/de-novo-rad-seq/workflows/Galaxy-Workflow-de-novo-rad-seq.ga
Owners: @bebatut, @shiltemann

Delete workflow-de-novo-rad-seq.ga
  topics/sequence-analysis/tutorials/de-novo-rad-seq/workflows/workflow-de-novo-rad-seq.ga
Owners: @bebatut, @shiltemann

Update on: Thu Oct 11 08:43:23 UTC 2018
  feed.xml
  topics/transcriptomics/images/limma-voom/TMM.png
  topics/transcriptomics/images/limma-voom/basal_top_GO.png
  topics/transcriptomics/images/limma-voom/download_report.png
  topics/transcriptomics/images/limma-voom/filtcounts.png
  topics/transcriptomics/images/limma-voom/fu_egf.png
  topics/transcriptomics/images/limma-voom/heatmap.png
  topics/transcriptomics/images/limma-voom/luminal_top_GO.png
  topics/transcriptomics/images/limma-voom/multiple_contrasts.png
  topics/transcriptomics/images/limma-voom/report_plots.png
  topics/transcriptomics/images/limma-voom/report_summary.png
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/limma-voom/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

fix time estimation format
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Oct 11 11:11:37 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  snippets/history_create_new.md
  snippets/warning_results_may_vary.md
  topics/transcriptomics/images/Heinz_visualisation.png
  topics/transcriptomics/images/bum.jpeg
  topics/transcriptomics/images/flowchart-heinz.png
  topics/transcriptomics/images/heinz-workflow.png
  topics/transcriptomics/images/metaModules.png
  topics/transcriptomics/index.html
  topics/transcriptomics/slides/introduction.html
  topics/transcriptomics/tutorials/clipseq/tutorial.html
  topics/transcriptomics/tutorials/de-novo/tutorial.html
  topics/transcriptomics/tutorials/limma-voom/tutorial.html
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.html
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.html
  topics/transcriptomics/tutorials/network-analysis-with-heinz/workflows/Galaxy-Workflow-Heinz.ga
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
  topics/transcriptomics/tutorials/srna/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Fix casing of the time string
  _plugins/jekyll-jsonld.rb
Owners: @bebatut, @shiltemann, @willdurand

remove broken link to unneeded image
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Oct 11 13:22:01 UTC 2018
  feed.xml
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

check not nil
  _plugins/jekyll-jsonld.rb
Owners: @bebatut, @shiltemann, @willdurand

Validate all yaml files
  Makefile
Owners: @bebatut, @shiltemann

Validate other yaml files
  Makefile
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction-job.yml
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction-test.yml
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler-job.yml
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler-test.yml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-job.yml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-test.yml
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq-job.yml
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq-test.yml
  topics/metagenomics/tutorials/general-tutorial/workflows/amplicon-job.yml
  topics/metagenomics/tutorials/general-tutorial/workflows/amplicon-test.yml
  topics/sequence-analysis/tutorials/mapping/workflows/mapping-job.yml
  topics/sequence-analysis/tutorials/mapping/workflows/mapping-test.yml
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control-job.yml
  topics/sequence-analysis/tutorials/quality-control/workflows/quality_control-test.yml
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based-job.yml
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based-test.yml
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling-job.yml
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling-test.yml
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
