Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update on: Fri Oct 19 16:37:18 UTC 2018
  feed.xml
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Fri Oct 19 18:03:14 UTC 2018
  feed.xml
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.html
Owners: @bebatut, @shiltemann

Correct naming of dataset to join with DESeq2 output
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Oct 19 21:59:41 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann

Add fgsea and EGSEA wip
  topics/transcriptomics/images/limma-voom/EGSEA_KEGG.png
  topics/transcriptomics/images/limma-voom/EGSEA_heatmap.png
  topics/transcriptomics/images/limma-voom/fgsea_enrichplot.png
  topics/transcriptomics/images/limma-voom/fgsea_table.png
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

Fix review comments
  topics/statistics/tutorials/machinelearning/images/model_3.png
  topics/statistics/tutorials/machinelearning/images/predictions_6.png
  topics/statistics/tutorials/machinelearning/images/set_classifier_params_2.png
  topics/statistics/tutorials/machinelearning/images/test_data.png
  topics/statistics/tutorials/machinelearning/images/test_dataset_4.png
  topics/statistics/tutorials/machinelearning/images/test_model_5.png
  topics/statistics/tutorials/machinelearning/images/train_data.png
  topics/statistics/tutorials/machinelearning/images/upload_1.png
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

remove slides
  topics/statistics/tutorials/machinelearning/slides.html
Owners: @bebatut, @shiltemann

Update zenodo link
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Some edits
  topics/transcriptomics/images/limma-voom/EGSEA_KEGG.png
  topics/transcriptomics/images/limma-voom/EGSEA_heatmaps.png
  topics/transcriptomics/images/limma-voom/EGSEA_report.png
  topics/transcriptomics/images/limma-voom/fgsea_enrichplot.png
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

Remove ununsed file
  topics/transcriptomics/images/limma-voom/EGSEA_heatmap.png
Owners: @bebatut, @shiltemann

Update zenodo link
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Oct 22 10:37:17 UTC 2018
  feed.xml
  topics/transcriptomics/images/limma-voom/EGSEA_KEGG.png
  topics/transcriptomics/images/limma-voom/EGSEA_heatmaps.png
  topics/transcriptomics/images/limma-voom/EGSEA_report.png
  topics/transcriptomics/images/limma-voom/fgsea_enrichplot.png
  topics/transcriptomics/images/limma-voom/fgsea_table.png
  topics/transcriptomics/tutorials/limma-voom/tutorial.html
Owners: @bebatut, @shiltemann

Fix image name
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

trigger rebuild
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Oct 22 18:53:07 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/limma-voom/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Mon Oct 22 20:56:06 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

fix leading spaces
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Oct 23 10:10:47 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann

Add images and update text
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/Miniasm.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/Minimap2.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/NanoPlot.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/PlasFlow.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/Racon.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/StarAmr.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/Workflow_Minimap2_Miniasm_Racon.PNG
  topics/sequence-analysis/tutorials/nanopore/tutorial.md
Owners: @bebatut, @shiltemann

Update topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
Owners: @bebatut, @shiltemann

Update topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
Owners: @bebatut, @shiltemann

Update text and images
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/Bandage.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/Bandage_output.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/NanoPlot_output.png
  topics/sequence-analysis/images/nanopore_seqeunce_analysis/Workflow.png
  topics/sequence-analysis/tutorials/nanopore/tutorial.md
Owners: @bebatut, @shiltemann

Update other files
  topics/sequence-analysis/tutorials/nanopore/data-library.yaml
  topics/sequence-analysis/tutorials/nanopore/data-manager.yaml
  topics/sequence-analysis/tutorials/nanopore/slides.html
  topics/sequence-analysis/tutorials/nanopore/tools.yaml
  topics/sequence-analysis/tutorials/nanopore/workflows/Workflow_Minimap2_Miniasm_Racon.ga
Owners: @bebatut, @shiltemann

Fixes #1086
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Wed Oct 24 12:49:30 UTC 2018
  feed.xml
  index.html
Owners: @bebatut, @shiltemann

Add tour
  topics/sequence-analysis/tutorials/nanopore/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update instances
  metadata/instances.yaml
Owners: @bebatut, @shiltemann

Fix tour
  topics/sequence-analysis/tutorials/nanopore/tours/tour.yaml
Owners: @bebatut, @shiltemann

Fix instances
  metadata/instances.yaml
Owners: @bebatut, @shiltemann

Update tour
  topics/sequence-analysis/tutorials/nanopore/tours/tour.yaml
Owners: @bebatut, @shiltemann

fix yaml linting
  metadata/instances.yaml
  topics/sequence-analysis/tutorials/nanopore/tours/tour.yaml
Owners: @bebatut, @shiltemann

Remove depricated lines
  topics/sequence-analysis/tutorials/nanopore/tutorial.md
Owners: @bebatut, @shiltemann

Update tour, to include more text
  topics/sequence-analysis/tutorials/nanopore/tours/tour.yaml
Owners: @bebatut, @shiltemann

Fix yaml tour
  topics/sequence-analysis/tutorials/nanopore/tours/tour.yaml
Owners: @bebatut, @shiltemann

finish terraform
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

First half of terraform tutorial
  topics/admin/metadata.yaml
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bgruening, @martenson, @hrhotz, @erasche, @bebatut, @shiltemann

swap to definition list
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

forgot file
  topics/admin/tutorials/terraform/main.tf
Owners: @bebatut, @shiltemann

Fix comments from @bgruening
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

Add ansible intro slides
  topics/admin/tutorials/ansible/slides.html
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
