Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

adopt templates
  templates/docker/Dockerfile
  templates/tutorials/tutorial1/data-library.yaml
Owners: @bebatut, @shiltemann

adopt data-libraries to new template
  topics/introduction/tutorials/galaxy-intro-get-data/data-library.yaml
  topics/introduction/tutorials/igv-introduction/data-library.yaml
  topics/introduction/tutorials/options-for-using-galaxy/data-library.yaml
  topics/introduction/tutorials/processing-many-samples-at-once/data-library.yaml
  topics/sequence-analysis/tutorials/de-novo-rad-seq/data-library.yaml
  topics/sequence-analysis/tutorials/mapping/data-library.yaml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/data-library.yaml
  topics/variant-analysis/tutorials/diploid-variant-calling/data-library.yaml
Owners: @bebatut, @shiltemann

clenups
  bin/mergeyaml.py
Owners: @bebatut, @shiltemann, @bgruening

Update on: Sun Dec 3 11:30:39 UTC 2017
  feed.xml
  topics/transcriptomics/tutorials/de-novo/tutorial.html
Owners: @bebatut, @shiltemann

more cleanuos
  bin/mergeyaml.py
Owners: @bebatut, @shiltemann, @bgruening

add merge script to all other Dockerfiles
  topics/admin/docker/Dockerfile
  topics/assembly/docker/Dockerfile
  topics/chip-seq/docker/Dockerfile
  topics/dev/docker/Dockerfile
  topics/introduction/docker/Dockerfile
  topics/metagenomics/docker/Dockerfile
  topics/training/docker/Dockerfile
Owners: @bebatut, @shiltemann

Quay > DockerHub
  topics/epigenetics/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @joachimwolff, @dpryan79, @tnabtaf, @bebatut, @shiltemann, @Stortebecker, @bgruening, @blankclemens, @yvanlebras, @malloryfreeberg, @TorHou

prepare ChIP-seq for Docker
  topics/chip-seq/docker/Dockerfile
  topics/chip-seq/metadata.yaml
Owners: @bebatut, @shiltemann, @malloryfreeberg

broken workflow
  topics/transcriptomics/tutorials/de-novo/workflows/_rnaseq-denovo-transcriptome-reconstruction._ga
Owners: @bebatut, @shiltemann

too big and hopefully available on CVMFS
  topics/variant-analysis/tutorials/exome-seq/data-library.yaml
Owners: @bebatut, @shiltemann

broken workflow
  topics/proteomics/tutorials/metaproteomics/workflows/_workflow._ga
Owners: @bebatut, @shiltemann

whitelist vimeo in awesomebot
  Makefile
Owners: @bebatut, @shiltemann

Use real booleans for hands-on and slides in metadata
  _layouts/topic.html
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/training/metadata.yaml
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/transcriptomics/metadata.yaml
  topics/usegalaxy/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update on: Mon Dec 4 14:32:33 UTC 2017
  feed.xml
  topics/admin/slides/introduction.html
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.html
  topics/assembly/tutorials/general-introduction/tutorial.html
  topics/assembly/tutorials/unicycler-assembly/tutorial.html
  topics/chip-seq/slides/introduction.html
  topics/dev/slides/introduction.html
  topics/dev/tutorials/visualization-charts/tutorial.html
  topics/dev/tutorials/visualization-generic/tutorial.html
  topics/dev/tutorials/webhooks/tutorial.html
  topics/epigenetics/slides/introduction.html
  topics/introduction/slides/introduction.html
  topics/metagenomics/slides/introduction.html
  topics/proteomics/slides/introduction.html
  topics/sequence-analysis/slides/introduction.html
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/sequence-analysis/tutorials/quality-control/tutorial.html
  topics/training/slides/introduction.html
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.html
  topics/transcriptomics/slides/introduction.html
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.html
  topics/usegalaxy/slides/index.html
  topics/variant-analysis/slides/introduction.html
Owners: @bebatut, @shiltemann

Add workflows in the topic page
  _config.yml
  _layouts/topic.html
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @shiltemann, @willdurand, @malloryfreeberg

Update doc about the workflow metadata
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
Owners: @bebatut, @shiltemann

Fix layout: identation and variable name
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Fix yaml linting
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

Simplify the links to workflows in topic page
  _layouts/topic.html
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

Add workflow info in metadata files
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @Slugger70, @malloryfreeberg, @joachimwolff, @dpryan79, @tnabtaf, @bebatut, @shiltemann, @Stortebecker, @bgruening, @blankclemens, @yvanlebras, @TorHou

Fix path to interactive tour
  _layouts/topic.html
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

Update on: Mon Dec 4 15:57:33 UTC 2017
  feed.xml
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/dev/index.html
  topics/epigenetics/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/training/index.html
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.html
  topics/transcriptomics/index.html
  topics/usegalaxy/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Fix the tour metadata
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/training/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @bebatut, @shiltemann, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Use boolean for tour metadata
  _layouts/topic.html
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/transcriptomics/metadata.yaml
  topics/usegalaxy/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bebatut, @shiltemann, @willdurand, @Slugger70, @malloryfreeberg, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @bgruening, @blankclemens, @yvanlebras, @TorHou

added workflow for ref-based-rad-seq
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Update on: Mon Dec 4 16:27:56 UTC 2017
  Makefile
  feed.xml
Owners: @bebatut, @shiltemann

Add workflow metadata
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

Update on: Mon Dec 4 16:32:19 UTC 2017
  feed.xml
  topics/assembly/index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/dev/tutorials/visualization-generic/tutorial.html
  topics/dev/tutorials/webhooks/tutorial.html
  topics/epigenetics/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/training/tutorials/create-new-tutorial-content/tutorial.html
  topics/training/tutorials/create-new-tutorial-docker/tutorial.html
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.html
  topics/training/tutorials/create-new-tutorial-tours/tutorial.html
  topics/transcriptomics/index.html
Owners: @bebatut, @shiltemann, @Slugger70, @joachimwolff, @dpryan79, @Stortebecker, @bgruening, @blankclemens, @yvanlebras, @malloryfreeberg

added the tour for tal1 binding site identification
  topics/chip-seq/tutorials/tal1-binding-site-identification/tours/tour.yaml
Owners: @bebatut, @shiltemann

Add tour metadata
  topics/chip-seq/metadata.yaml
Owners: @malloryfreeberg

Update on: Tue Dec 5 10:13:38 UTC 2017
  feed.xml
  topics/sequence-analysis/index.html
  topics/sequence-analysis/tutorials/ref-based-rad-seq/workflows/workflow.ga
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

added workflow for the tutorial on tal1 binding site identification
  topics/chip-seq/tutorials/tal1-binding-site-identification/workflows/tal1-binding-site-identification.ga
  topics/chip-seq/tutorials/tal1-binding-site-identification/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Add TAL1 workflow metadata
  topics/chip-seq/metadata.yaml
Owners: @malloryfreeberg

Add annotation file
  topics/chip-seq/tutorials/tal1-binding-site-identification/tours/tour.yaml
Owners: @bebatut, @shiltemann

Add libiconv to environment file
  environment.yml
Owners: @bebatut, @shiltemann

Add Gemfile.lock
  Gemfile.lock
Owners: @bebatut, @shiltemann

Add workflows for ref based RNA Seq tutorial
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/ref-based/workflows/count_table_extraction_for_one_sample.ga
  topics/transcriptomics/tutorials/ref-based/workflows/full_workflow.ga
  topics/transcriptomics/tutorials/ref-based/workflows/workflow.ga
Owners: @bebatut, @malloryfreeberg, @shiltemann

Update on: Tue Dec 5 14:57:57 UTC 2017
  feed.xml
  topics/chip-seq/index.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Fix linting of TAL1 tour
  topics/chip-seq/tutorials/tal1-binding-site-identification/tours/tour.yaml
Owners: @bebatut, @shiltemann

Add Heroku files/config
  Gemfile
  Procfile
  app.json
Owners: @bebatut, @shiltemann
