Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Use curl instead of wget, should be preinstalled on OSX
  Makefile
Owners: @bebatut, @shiltemann

fix the path alteration
  topics/contributing/tutorials/running-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

Fixed conclusion that was copied from ref-based tutorial
  RNA-Seq/tutorials/de_novo.md
Owners: @bebatut, @shiltemann

Add pkg-config to requirements
  environment.yml
Owners: @bebatut, @shiltemann

Update environment.yml
  environment.yml
Owners: @bebatut, @shiltemann

Update on: Tue Jun 26 03:50:55 UTC 2018
  environment.yml
  feed.xml
Owners: @bebatut, @shiltemann

initial transfer of uwsgi training from dagobah
  topics/admin/metadata.yaml
  topics/admin/tutorials/uwsgi/slides.html
Owners: @bgruening, @martenson, @hrhotz, @erasche, @bebatut, @shiltemann

remove superfluous classes
  topics/admin/tutorials/uwsgi/slides.html
Owners: @bebatut, @shiltemann

authors are tracked in metadata
  topics/admin/tutorials/uwsgi/slides.html
Owners: @bebatut, @shiltemann

add slugger
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

Update tutorial to include changing index.md
  topics/contributing/tutorials/create-new-topic/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Jun 26 04:39:41 UTC 2018
  feed.xml
  topics/contributing/tutorials/create-new-topic/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Tue Jun 26 04:44:11 UTC 2018
  feed.xml
  topics/contributing/tutorials/running-jekyll/tutorial.html
Owners: @bebatut, @shiltemann

update link
  topics/contributing/slides/introduction.html
Owners: @bebatut, @shiltemann

Update on: Tue Jun 26 09:05:10 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/contributing/slides/introduction.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

Delete tutorial_ja_notag.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Delete tutorial_ja_notag.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Delete tutorial_ja_notag.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Delete tutorial_ja.md
  topics/metagenomics/tutorials/general-tutorial/tutorial_ja.md
Owners: @bebatut, @shiltemann

Delete tutorial_ja.md
  topics/assembly/tutorials/general-introduction/tutorial_ja.md
Owners: @bebatut, @shiltemann

Fix link to technical support tuto
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

filebox image
  topics/introduction/images/upload-box.png
Owners: @bebatut, @shiltemann

updated galaxy short into with review suggestions
  topics/introduction/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Owners: @tnabtaf, @bebatut, @shiltemann

galaxy short introduction module, including images
  topics/introduction/images/cog.png
  topics/introduction/images/eye-icon.png
  topics/introduction/images/fastq.png
  topics/introduction/images/fastqc-out.png
  topics/introduction/images/filter-fastq1.png
  topics/introduction/images/galaxy-login.png
  topics/introduction/images/galaxy-panel.png
  topics/introduction/images/name_history.png
  topics/introduction/images/rerun.png
  topics/introduction/images/view-all-hist.png
  topics/introduction/images/view-hist.png
  topics/introduction/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-short/data-library.yaml
  topics/introduction/tutorials/galaxy-intro-short/tools.yaml
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Owners: @bebatut, @shiltemann, @tnabtaf

Attempt to fix slide render problem
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

Update on: Tue Jun 26 18:56:53 UTC 2018
  feed.xml
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

Update on: Tue Jun 26 19:01:24 UTC 2018
  feed.xml
  topics/contributing/tutorials/create-new-tutorial/tutorial.html
Owners: @bebatut, @shiltemann

Fix YAML linting
  topics/introduction/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-short/tools.yaml
Owners: @tnabtaf, @bebatut, @shiltemann

Add some formatting
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Owners: @bebatut, @shiltemann

Add mvbeek and MoffMade as contributors
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Wed Jun 27 07:28:47 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

"Me" is not necessary
  _includes/default-header.html
Owners: @bebatut, @shiltemann, @willdurand

Support usernames without `name:`
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

But it was actually just a quoting issue
  topics/dev/metadata.yaml
Owners: @lecorguille, @bebatut, @shiltemann

Update on: Wed Jun 27 17:24:25 UTC 2018
  badges/index.html
  faq.html
  feed.xml
  hall-of-fame.html
  index.html
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/contributing/index.html
  topics/dev/index.html
  topics/epigenetics/index.html
  topics/genome-annotation/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/statistics/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update on: Wed Jun 27 18:21:43 UTC 2018
  feed.xml
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/contributing/index.html
  topics/dev/index.html
  topics/dev/tutorials/architecture/slides.html
  topics/epigenetics/index.html
  topics/genome-annotation/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/statistics/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

added a tour for genetic map rad seq
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tours/tour.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff, @shiltemann

Added email
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Modified conclusion
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Owners: @bebatut, @shiltemann
