Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

wording
  snippets/extract_workflow.md
Owners: @bebatut, @shiltemann

fix order of points
  topics/metagenomics/slides/introduction.html
Owners: @bebatut, @shiltemann

update instructions
  topics/contributing/tutorials/running-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

update instructions
  topics/contributing/tutorials/generating-pdf/tutorial.md
Owners: @bebatut, @shiltemann

conda environment activation no longer needed
  topics/contributing/tutorials/running-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

update links
  topics/contributing/slides/introduction.html
Owners: @bebatut, @shiltemann

typo
  topics/contributing/tutorials/running-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

show training_init from local workflow .ga file
  topics/contributing/files/example-workflow.ga
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Oct 16 14:46:35 UTC 2018
  feed.xml
  snippets/extract_workflow.md
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Update on: Tue Oct 16 16:43:37 UTC 2018
  feed.xml
  topics/metagenomics/images/environmentalstudies.png
  topics/metagenomics/slides/introduction.html
Owners: @bebatut, @shiltemann

weekly update commit
  topics/genome-annotation/images/annotating-tmp-chaperone-frameshifts-screenshots/1_lambda_tail_assembly.png
  topics/genome-annotation/images/annotating-tmp-chaperone-frameshifts-screenshots/2_programmed_translational_frameshift.png
  topics/genome-annotation/images/annotating-tmp-chaperone-frameshifts-screenshots/3_canonical_phage_slippery_sequences.png
  topics/genome-annotation/metadata.yaml
  topics/genome-annotation/tutorials/annotating-tmp-chaperone-frameshifts/tutorial.md
  topics/genome-annotation/tutorials/introduction-to-cpt-galaxy/data-library.yaml
  topics/genome-annotation/tutorials/introduction-to-cpt-galaxy/data-manager.yaml
  topics/genome-annotation/tutorials/introduction-to-cpt-galaxy/slides.html
  topics/genome-annotation/tutorials/introduction-to-cpt-galaxy/tools.yaml
  topics/genome-annotation/tutorials/introduction-to-cpt-galaxy/tours/tour.yaml
  topics/genome-annotation/tutorials/introduction-to-cpt-galaxy/tutorial.md
  topics/genome-annotation/tutorials/introduction-to-cpt-galaxy/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

move workflow file
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/workflows/example-workflow.ga
Owners: @bebatut, @shiltemann

Update on: Wed Oct 17 18:05:48 UTC 2018
  feed.xml
  topics/contributing/slides/introduction.html
  topics/contributing/tutorials/create-new-tutorial/tutorial.html
  topics/contributing/tutorials/create-new-tutorial/workflows/example-workflow.ga
  topics/contributing/tutorials/generating-pdf/tutorial.html
  topics/contributing/tutorials/running-jekyll/tutorial.html
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq tutorial
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

Remove .jekyll-metadata
  .jekyll-metadata
Owners: @bebatut, @shiltemann

Add .jekyll-metadata to gitignore
  .gitignore
Owners: @bebatut, @shiltemann

Reword help
  _includes/help.html
Owners: @bebatut, @shiltemann, @willdurand

fix make pdf (fixes #1095)
  Makefile
Owners: @bebatut, @shiltemann

fix wrong dataset name
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

add ga to the base layout, send pageview
  _layouts/base.html
Owners: @bebatut, @shiltemann, @willdurand

add ga to base slide layout
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

Start workshop organization and running handbooks
  topics/instructors/tutorials/organize-workshop/tutorial.md
  topics/instructors/tutorials/running-workshop/tutorial.md
Owners: @bebatut, @shiltemann

Remove previous slides
  topics/contributing/tutorials/good-practices/slides.html
Owners: @bebatut, @shiltemann

Move tutorial to setup galaxy for training
  topics/instructors/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

Add some more things to do
  topics/instructors/tutorials/organize-workshop/tutorial.md
Owners: @bebatut, @shiltemann

typo in documentation
  bin/install_tutorial_requirements.sh
Owners: @bebatut, @shiltemann, @bgruening

Expand on running a workshop
  topics/instructors/tutorials/running-workshop/tutorial.md
Owners: @bebatut, @shiltemann

tiny typos
  topics/instructors/tutorials/organize-workshop/tutorial.md
  topics/instructors/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

Document how to use TIaaS
  topics/instructors/tutorials/setup-tiaas-for-training/tutorial.md
Owners: @bebatut, @shiltemann

Add IDs for badges
  _layouts/badges.html
Owners: @bebatut, @shiltemann, @willdurand

fix filter
  _layouts/badges.html
Owners: @bebatut, @shiltemann, @willdurand

some URLs
  topics/instructors/tutorials/running-workshop/tutorial.md
  topics/instructors/tutorials/setup-tiaas-for-training/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Oct 18 19:45:36 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/clipseq/tutorial.html
Owners: @bebatut, @shiltemann

validate more about frontmatter
  bin/validate-frontmatter.rb
Owners: @bebatut, @shiltemann, @bgruening

fix validation
  Makefile
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

remove screenshots from genome-annot/annot-w-prokka
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
Owners: @bebatut, @shiltemann

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

More formating for annotation_with_prokka
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
Owners: @bebatut, @shiltemann

remove screenshot genetic-map-rad-seq
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

removed screenshots from tools and restructured hands-on from non-dip
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @bebatut, @shiltemann
