Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Add annotations of tested instances in topic and hands-on
  _config.yml
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Add code to check tools and versions
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Fix extraction of tested galaxy instances
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Start script to annotate public galaxy instance in metadata
  bin/add_galaxy_instance_annotations.py
  galaxy_instances.yaml
Owners: @bebatut, @shiltemann, @bgruening

Catch and fix connection error
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Add Martin server list
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Drop instance if tools can be accessed
  bin/add_galaxy_instance_annotations.py
Owners: @bebatut, @shiltemann, @bgruening

Add first version of instances file
  metadata/instances.yaml
Owners: @bebatut, @shiltemann

Add extra packages for instance annotation
  environment.yml
Owners: @bebatut, @shiltemann

Fix dropdowns
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Fix url to requirements in slides
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

Initial work on badge support
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  bin/add_galaxy_instance_annotations.py
  bin/add_galaxy_instance_badges.py
  metadata/instances.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tools.yaml
Owners: @bebatut, @shiltemann, @willdurand, @bgruening

Add badges page
  _layouts/badges.html
  badges/index.md
Owners: @bebatut, @shiltemann, @willdurand

Refactor annotation script for necessary information
  bin/add_galaxy_instance_annotations.py
  bin/add_galaxy_instance_badges.py
  metadata/instances.yaml
Owners: @bebatut, @shiltemann, @bgruening

fix links to github for introduction slides
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

Add dropdown for help, share logic across pages
  _config.yml
  _includes/default-header.html
  _includes/help.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Reorder topic tables
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

change docker link
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Fix link to github
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

correct docker image name
  topics/variant-analysis/metadata.yaml
Owners: @TorHou

remove old Dockerfile
  topics/variant-analysis/docker/Dockerfile.old
Owners: @bebatut, @shiltemann

add Docker container as annotation and fix base images
  topics/admin/metadata.yaml
  topics/epigenetics/docker/Dockerfile
  topics/epigenetics/metadata.yaml
  topics/introduction/metadata.yaml
  topics/proteomics/docker/Dockerfile
  topics/sequence-analysis/docker/Dockerfile
  topics/transcriptomics/docker/Dockerfile
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/docker/Dockerfile
Owners: @bgruening, @martenson, @hrhotz, @erasche, @bebatut, @shiltemann, @joachimwolff, @dpryan79, @tnabtaf, @malloryfreeberg

remove a bunch of Dockerfiles
  topics/admin/docker/Dockerfile.old
  topics/assembly/docker/Dockerfile.old
  topics/chip-seq/docker/Dockerfile.old
  topics/dev/docker/Dockerfile.old
  topics/epigenetics/docker/Dockerfile.old
  topics/proteomics/docker/Dockerfile.old
  topics/sequence-analysis/docker/Dockerfile.old
  topics/transcriptomics/docker/Dockerfile.old
Owners: @bebatut, @shiltemann

fix library builds
  bin/docker-install-tutorials.sh
Owners: @bebatut, @shiltemann, @bgruening

disable data-managers
  bin/docker-install-tutorials.sh
Owners: @bebatut, @shiltemann, @bgruening

fix a few tool definitions
  topics/transcriptomics/tutorials/de-novo/tools.yaml
  topics/transcriptomics/tutorials/ref-based/tools.yaml
  topics/transcriptomics/tutorials/srna/tools.yaml
Owners: @bebatut, @shiltemann

sorry, 9GB is too big for the Docker container
  topics/epigenetics/tutorials/methylation-seq/_data-library.yaml
Owners: @bebatut, @shiltemann

Quote URLs to avoid formatting (e.g. italics).
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Dec 2 22:20:05 UTC 2017
  feed.xml
  topics/transcriptomics/tutorials/de-novo/tutorial.html
Owners: @bebatut, @shiltemann

enhance template
  templates/tutorials/tutorial1/tools.yaml
Owners: @bebatut, @shiltemann

fix docker install script
  bin/docker-install-tutorials.sh
Owners: @bebatut, @shiltemann, @bgruening

enhance tools file
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tools.yaml
  topics/introduction/tutorials/processing-many-samples-at-once/tools.yaml
  topics/sequence-analysis/tutorials/quality-control/tools.yaml
  topics/variant-analysis/tutorials/diploid-variant-calling/tools.yaml
  topics/variant-analysis/tutorials/exome-seq/tools.yaml
Owners: @bebatut, @shiltemann

enable verbose logs
  bin/docker-install-tutorials.sh
Owners: @bebatut, @shiltemann, @bgruening

fix data-library file
  topics/variant-analysis/tutorials/exome-seq/data-library.yaml
Owners: @bebatut, @shiltemann

fix tools.yaml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tools.yaml
Owners: @bebatut, @shiltemann

change datatype
  topics/variant-analysis/tutorials/exome-seq/data-library.yaml
Owners: @bebatut, @shiltemann

add new script that merges all data-library yaml files to avoid redundancy
  bin/mergeyaml.py
Owners: @bebatut, @shiltemann, @bgruening

import data libraries only once, but the merged one
  bin/docker-install-tutorials.sh
Owners: @bebatut, @shiltemann, @bgruening

various changes to avoid duplicated data libs
  topics/epigenetics/docker/Dockerfile
  topics/proteomics/docker/Dockerfile
  topics/sequence-analysis/docker/Dockerfile
  topics/transcriptomics/docker/Dockerfile
  topics/transcriptomics/tutorials/de-novo/tools.yaml
  topics/variant-analysis/docker/Dockerfile
Owners: @bebatut, @shiltemann

Fix quoting inside a box
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Owners: @bebatut, @shiltemann
