Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

creation of tutorial for jupyter notebook
  topics/introduction/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-jupyter/tutorial.md
Owners: @tnabtaf, @bebatut, @shiltemann

Update metadata.yaml
  topics/introduction/metadata.yaml
Owners: @tnabtaf

Update metadata.yaml
  topics/introduction/metadata.yaml
Owners: @tnabtaf

moved images for galaxy-data-manipulation from galaxy-ui
  topics/galaxy-data-manipulation/images/FileZilla_logo.png
  topics/galaxy-data-manipulation/images/files_uploaded_into_history.png
  topics/galaxy-data-manipulation/images/ftp_client_connect.png
  topics/galaxy-data-manipulation/images/ftp_client_connected.png
  topics/galaxy-data-manipulation/images/ftp_client_transferred.png
  topics/galaxy-data-manipulation/images/ftp_client_transferring.png
  topics/galaxy-data-manipulation/images/ftp_client_upload.png
  topics/galaxy-data-manipulation/images/get_data_boxed.png
  topics/galaxy-data-manipulation/images/get_data_expanded.png
  topics/galaxy-data-manipulation/images/upload_button.png
  topics/galaxy-data-manipulation/images/upload_file_close_form.png
  topics/galaxy-data-manipulation/images/upload_file_file_list.png
  topics/galaxy-data-manipulation/images/upload_file_form_empty.png
  topics/galaxy-data-manipulation/images/upload_file_form_empty_local_choices.png
  topics/galaxy-data-manipulation/images/upload_file_form_empty_paste.png
  topics/galaxy-data-manipulation/images/upload_file_in_progress.png
  topics/galaxy-data-manipulation/images/upload_file_ready.png
  topics/galaxy-data-manipulation/images/upload_file_set_all_datatype.png
  topics/galaxy-data-manipulation/images/upload_file_set_individual_file_type.png
  topics/galaxy-data-manipulation/images/upload_file_toolbox_entry.png
  topics/galaxy-data-manipulation/images/upload_paste_direct.png
Owners: @bebatut, @shiltemann

add nicherndon to contributors file
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

non-dip-tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @bebatut, @shiltemann

completed jupyter tutorial
  topics/galaxy-ui/images/expanded_dataset.png
  topics/galaxy-ui/images/jupyter_plot.png
  topics/galaxy-ui/images/notebook_overview.png
  topics/galaxy-ui/images/save_notebook.png
  topics/galaxy-ui/images/visu_list.png
  topics/galaxy-ui/metadata.yaml
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/data-library.yaml
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/tutorial.md
  topics/introduction/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-jupyter/tutorial.md
Owners: @bebatut, @shiltemann, @tnabtaf

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Mon Jul 2 21:22:55 UTC 2018
  feed.xml
  index.html
  topics/galaxy-ui/images/expanded_dataset.png
  topics/galaxy-ui/images/jupyter_plot.png
  topics/galaxy-ui/images/notebook_overview.png
  topics/galaxy-ui/images/save_notebook.png
  topics/galaxy-ui/images/visu_list.png
  topics/galaxy-ui/index.html
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/tutorial.html
Owners: @bebatut, @shiltemann

corrected extension of image link to jpg
  topics/contributing/tutorials/github-command-line-contribution/slides.html
Owners: @bebatut, @shiltemann

updated link to image
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Jul 2 21:55:09 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

removed spaces in filenames
  topics/genome-annotation/images/blast_database.png
  topics/genome-annotation/images/work_flow_Screenshot_from_2015-06-23_09-33-23.png
  topics/genome-annotation/tutorials/genome-annotation/tutorial.md
Owners: @bebatut, @shiltemann

dip_tutorial.md
  topics/variant-analysis/tutorials/dip/tutorial.md
Owners: @bebatut, @shiltemann

Fixed wording
  topics/galaxy-data-manipulation/tutorials/collections/tutorial.md
Owners: @bebatut, @shiltemann

Added key_points for the "Collections: Using dataset collection" tutorial
  topics/galaxy-data-manipulation/metadata.yaml
Owners: @bebatut, @shiltemann

dunovo_tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Jul 3 00:08:50 UTC 2018
  feed.xml
  topics/contributing/tutorials/create-new-topic/tutorial.html
  topics/contributing/tutorials/create-new-tutorial/tutorial.html
  topics/variant-analysis/tutorials/dip/tutorial.html
Owners: @bebatut, @shiltemann

Update HiCExplorer tutorial
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Jul 3 00:35:59 UTC 2018
  feed.xml
  topics/variant-analysis/tutorials/dunovo/tutorial.html
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Owners: @bebatut, @shiltemann

fix box formatting
  topics/introduction/tutorials/galaxy-intro-101/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Jul 3 09:18:31 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/galaxy-ui/tutorials/history/tutorial.html
  topics/introduction/tutorials/galaxy-intro-101/tutorial.html
Owners: @bebatut, @shiltemann

galaxy tour for microbial-variants
  topics/variant-analysis/tutorials/microbial-variants/tours/tour.yaml
Owners: @bebatut, @shiltemann

metadata
  topics/variant-analysis/metadata.yaml
Owners: @TorHou

add contributor
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Jul 3 10:04:17 UTC 2018
  feed.xml
  topics/contributing/tutorials/github-command-line-contribution/slides.html
  topics/galaxy-data-manipulation/images/FileZilla_logo.png
  topics/galaxy-data-manipulation/images/files_uploaded_into_history.png
  topics/galaxy-data-manipulation/images/ftp_client_connect.png
  topics/galaxy-data-manipulation/images/ftp_client_connected.png
  topics/galaxy-data-manipulation/images/ftp_client_transferred.png
  topics/galaxy-data-manipulation/images/ftp_client_transferring.png
  topics/galaxy-data-manipulation/images/ftp_client_upload.png
  topics/galaxy-data-manipulation/images/get_data_boxed.png
  topics/galaxy-data-manipulation/images/get_data_expanded.png
  topics/galaxy-data-manipulation/images/upload_button.png
  topics/galaxy-data-manipulation/images/upload_file_close_form.png
  topics/galaxy-data-manipulation/images/upload_file_file_list.png
  topics/galaxy-data-manipulation/images/upload_file_form_empty.png
  topics/galaxy-data-manipulation/images/upload_file_form_empty_local_choices.png
  topics/galaxy-data-manipulation/images/upload_file_form_empty_paste.png
  topics/galaxy-data-manipulation/images/upload_file_in_progress.png
  topics/galaxy-data-manipulation/images/upload_file_ready.png
  topics/galaxy-data-manipulation/images/upload_file_set_all_datatype.png
  topics/galaxy-data-manipulation/images/upload_file_set_individual_file_type.png
  topics/galaxy-data-manipulation/images/upload_file_toolbox_entry.png
  topics/galaxy-data-manipulation/images/upload_paste_direct.png
  topics/genome-annotation/images/blast_database.png
  topics/genome-annotation/images/work_flow_Screenshot_from_2015-06-23_09-33-23.png
  topics/genome-annotation/tutorials/genome-annotation/tutorial.html
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.html
Owners: @bebatut, @shiltemann

Use auto-toc
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Jul 3 11:44:50 UTC 2018
  feed.xml
  topics/variant-analysis/tutorials/non-dip/tutorial.html
Owners: @bebatut, @shiltemann

yamllint fixes
  topics/variant-analysis/tutorials/microbial-variants/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update on: Tue Jul 3 13:10:37 UTC 2018
  feed.xml
  topics/galaxy-data-manipulation/tutorials/collections/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Tue Jul 3 15:18:48 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

added QCFAIL blog link
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

Update on: Tue Jul 3 19:12:30 UTC 2018
  feed.xml
  topics/sequence-analysis/index.html
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Update on: Wed Jul 4 08:34:20 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

link to Snippy
  topics/variant-analysis/tutorials/microbial-variants/tours/tour.yaml
Owners: @bebatut, @shiltemann

Replacement of zenodo link by a zenodo repo that contains only the data necessary to the training.
  topics/assembly/metadata.yaml
  topics/assembly/tutorials/ecoli_comparison/data-library.yaml
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @Slugger70, @bebatut, @shiltemann

Update on: Thu Jul 5 17:48:30 UTC 2018
  feed.xml
  topics/assembly/index.html
  topics/assembly/tutorials/ecoli_comparison/tutorial.html
Owners: @bebatut, @shiltemann, @Slugger70

Add ansible tutorial
  topics/admin/metadata.yaml
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bgruening, @martenson, @hrhotz, @erasche, @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
