Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Fix logo paths
  _config.yml
Owners: @bebatut, @shiltemann, @willdurand

Update on: Tue Dec 5 16:15:59 UTC 2017
  feed.xml
Owners: @bebatut, @shiltemann

Add an emoji to the homepage
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

added workflow and metadata
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/workflows/empty_workflow.ga
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/workflows/workflow.ga
Owners: @bebatut, @malloryfreeberg, @shiltemann

Update on: Thu Dec 7 11:12:56 UTC 2017
  feed.xml
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/workflows/empty_workflow.ga
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/workflows/workflow.ga
Owners: @bebatut, @shiltemann, @malloryfreeberg

Update on: Thu Dec 7 12:12:32 UTC 2017
  feed.xml
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/ref-based/workflows/count_table_extraction_for_one_sample.ga
  topics/transcriptomics/tutorials/ref-based/workflows/full_workflow.ga
  topics/transcriptomics/tutorials/ref-based/workflows/workflow.ga
Owners: @bebatut, @shiltemann, @malloryfreeberg

fix typo
  topics/admin/slides/introduction.html
Owners: @bebatut, @shiltemann

Update on: Fri Dec 8 07:35:32 UTC 2017
  feed.xml
  topics/admin/slides/introduction.html
Owners: @bebatut, @shiltemann

small correction in ref-based tutorial
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

added workflow for genetic map
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/workflows/genetic-map-rad-seq.ga
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/workflows/workflow.ga
Owners: @yvanlebras, @bebatut, @joachimwolff, @shiltemann

added workflow for de-novo-rad-seq
  topics/sequence-analysis/tutorials/de-novo-rad-seq/workflows/workflow-de-novo-rad-seq.ga
  topics/sequence-analysis/tutorials/de-novo-rad-seq/workflows/workflow.ga
Owners: @bebatut, @shiltemann

metadata
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

Update metadata.yaml
  topics/chip-seq/metadata.yaml
Owners: @malloryfreeberg

Update metadata.yaml
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

Update metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @TorHou

Update the tutorial to the latest workflow, runs on tools from IUC only now.
  topics/proteomics/images/metaproteomics_summary.png
  topics/proteomics/tutorials/metaproteomics/tools.yaml
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/proteomics/tutorials/metaproteomics/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Update workflow.ga
  topics/proteomics/tutorials/metaproteomics/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Update on: Thu Dec 14 16:51:11 UTC 2017
  feed.xml
  topics/sequence-analysis/index.html
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/workflows/genetic-map-rad-seq.ga
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/workflows/workflow.ga
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Update on: Thu Dec 14 16:56:51 UTC 2017
  environment.yml
  feed.xml
  topics/sequence-analysis/index.html
  topics/sequence-analysis/tutorials/de-novo-rad-seq/workflows/workflow-de-novo-rad-seq.ga
  topics/sequence-analysis/tutorials/de-novo-rad-seq/workflows/workflow.ga
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Update on: Thu Dec 14 17:08:37 UTC 2017
  feed.xml
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann

adding tour for de-novo-rad-seq
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tours/tour.yaml
Owners: @bebatut, @shiltemann

remove screenshot with wrong parameters
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Typo fix and clarified an input as a collection
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Clarified collection output
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Dec 21 10:20:22 UTC 2017
  feed.xml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
Owners: @bebatut, @shiltemann

add slides for deployment and platform options
  topics/admin/tutorials/deployment-platforms-options/slides.html
Owners: @bebatut, @shiltemann

add new slides to metadata
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

add new tutorial about Quotas and User management
  topics/admin/images/Library_roles.png
  topics/admin/images/dataset_roles.png
  topics/admin/tutorials/users-groups-quotas/slides.html
Owners: @bebatut, @shiltemann

add Nate as official contributor
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

add metadata for the new Quota slides and a few new css rules
  assets/css/slides.css
  topics/admin/metadata.yaml
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

add monitoring slides and tutorial
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.md
Owners: @bebatut, @shiltemann

add metadata for the new tutorial
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

imrovements and questions
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts_tablemodif.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_in_advancedparameter0.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_in_advancedparameter1.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_in_advancedparameter_compare_copy.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_in_advancedparameter_compare_paste.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_out_log.png
  topics/sequence-analysis/images/RAD4_Population_Genomics/reference/populations_in.png
  topics/sequence-analysis/images/RAD4_Population_Genomics/reference/reference_map_out.png
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

changed to SRA and Zenodo
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

added zenodo link
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

changed all SRR034316 to SRR034310
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Fix some minor issues.
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Owners: @bebatut, @shiltemann

mothur-miseq-sop: 'men and women' to 'early and late'
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Jan 4 22:26:03 UTC 2018
  feed.xml
  topics/admin/tutorials/database-schema/tutorial.html
  topics/dev/tutorials/visualization-charts/tutorial.html
  topics/dev/tutorials/visualization-generic/tutorial.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
Owners: @bebatut, @shiltemann

header typo
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann
