Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

add conda sysadmin prerequisites
  topics/dev/metadata.yaml
  topics/dev/tutorials/conda_sys/slides.html
Owners: @lecorguille, @bebatut, @shiltemann

new tutorial for hicexplorer
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/hicexplorer/tools.yaml
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
  topics/epigenetics/tutorials/hicexplorer/workflows/empty_workflow.ga
Owners: @joachimwolff, @dpryan79, @bebatut, @shiltemann

fixes
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/conda_sys/slides.html
Owners: @bebatut, @shiltemann

fixes
  topics/dev/tutorials/conda_sys/slides.html
Owners: @bebatut, @shiltemann

fixes
  topics/dev/tutorials/conda_sys/slides.html
Owners: @bebatut, @shiltemann

address review comments
  topics/dev/metadata.yaml
  topics/dev/tutorials/conda_sys/slides.html
Owners: @lecorguille, @bebatut, @shiltemann

better title!
  topics/dev/metadata.yaml
Owners: @lecorguille, @bebatut, @shiltemann

adopt URL
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

Update on: Thu Feb 15 12:12:56 UTC 2018
  feed.xml
  index.html
  topics/dev/index.html
  topics/dev/slides/introduction.html
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/conda_sys/slides.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/dev/tutorials/visualization-charts/tutorial.html
  topics/dev/tutorials/visualization-generic/tutorial.html
  topics/dev/tutorials/webhooks/tutorial.html
Owners: @bebatut, @shiltemann, @lecorguille

use iuc krona tool
  topics/metagenomics/tutorials/mothur-miseq-sop/tools.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

fix broken slides
  topics/dev/tutorials/toolshed/slides.html
Owners: @bebatut, @shiltemann

be coherent with the image
  topics/dev/tutorials/tool-integration/slides.html
Owners: @bebatut, @shiltemann

add lib pinning example + fix formating
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

fix missing libgcc req
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

Update on: Tue Feb 20 12:15:17 UTC 2018
  feed.xml
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/tool-integration/slides.html
  topics/dev/tutorials/toolshed/slides.html
Owners: @bebatut, @shiltemann

Statistics topic and IWTomics tutorial
  topics/statistics/README.md
  topics/statistics/docker/Dockerfile
  topics/statistics/index.md
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/iwtomics/tools.yaml
  topics/statistics/tutorials/iwtomics/tours/tour.yaml
  topics/statistics/tutorials/iwtomics/tutorial.md
Owners: @bebatut, @shiltemann

adjusted to comments
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

all the typos
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update metadata.yaml
  topics/epigenetics/metadata.yaml
Owners: @joachimwolff, @dpryan79

Update metadata.yaml
  topics/epigenetics/metadata.yaml
Owners: @joachimwolff, @dpryan79

Update tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Feb 23 11:16:26 UTC 2018
  feed.xml
  index.html
  topics/epigenetics/index.html
  topics/epigenetics/slides/introduction.html
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
  topics/epigenetics/tutorials/hicexplorer/workflows/empty_workflow.ga
  topics/epigenetics/tutorials/methylation-seq/tutorial.html
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79

see: https://github.com/galaxyproject/training-material/pull/682 ; my review after the merge
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

data-library
  topics/epigenetics/tutorials/hicexplorer/data-library.yaml
  topics/epigenetics/tutorials/hicexplorer/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

workflow
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @bebatut, @shiltemann

minor changes to tutorial
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

metadata
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @joachimwolff, @dpryan79, @bebatut, @shiltemann

small fixes
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Change to dm3
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Feb 23 16:27:12 UTC 2018
  feed.xml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
Owners: @bebatut, @shiltemann

Update ref-based RNA-seq tutorial
  topics/transcriptomics/images/five_type_rna_seq_reads.png
  topics/transcriptomics/images/five_type_rna_seq_reads.svg
  topics/transcriptomics/images/gene_counting.png
  topics/transcriptomics/images/gene_counting.svg
  topics/transcriptomics/images/junction_igv_screenshot.png
  topics/transcriptomics/images/ref_based_most_de_gene_heatmap.png
  topics/transcriptomics/images/rnaseq_library_type.png
  topics/transcriptomics/images/rnaseq_library_type.svg
  topics/transcriptomics/images/splice_aware_alignment.png
  topics/transcriptomics/images/splice_aware_alignment.svg
  topics/transcriptomics/images/spliced_read.png
  topics/transcriptomics/images/spliced_read.svg
  topics/transcriptomics/images/star.png
  topics/transcriptomics/images/star_igv_sashimi.png
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
  topics/transcriptomics/tutorials/ref-based/tools.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/ref-based/workflows/count_table_extraction_for_one_sample.ga
  topics/transcriptomics/tutorials/ref-based/workflows/full_workflow.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc_mapping_counting.ga
Owners: @bebatut, @shiltemann

Update on: Fri Feb 23 17:39:13 UTC 2018
  feed.xml
  topics/epigenetics/index.html
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
  topics/epigenetics/tutorials/hicexplorer/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update on: Sun Feb 25 17:13:33 UTC 2018
  feed.xml
  topics/variant-analysis/tutorials/dunovo/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Sun Feb 25 17:27:17 UTC 2018
  feed.xml
  topics/transcriptomics/index.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
