Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

some updates to ansible
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

Updates
  topics/admin/tutorials/ansible/tutorial.md
  topics/admin/tutorials/terraform/graph.png
  topics/admin/tutorials/terraform/graph2.png
  topics/admin/tutorials/terraform/plan.png
  topics/admin/tutorials/terraform/slides.html
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

forgot image
  topics/admin/images/pets-vs-cattle.jpg
Owners: @bebatut, @shiltemann

better spacing
  topics/admin/tutorials/terraform/slides.html
Owners: @bebatut, @shiltemann

add note about other galaxy
  topics/admin/tutorials/ansible/slides.html
Owners: @bebatut, @shiltemann

move some speaker notes into text
  topics/admin/tutorials/ansible/slides.html
Owners: @bebatut, @shiltemann

spellcheck
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

Use page title when available
  _layouts/base.html
Owners: @bebatut, @shiltemann, @willdurand

Update topics/admin/tutorials/terraform/tutorial.md
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

removed screenshot from settings
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
Owners: @bebatut, @shiltemann

remove screenshots and restructure tools settings
  topics/transcriptomics/tutorials/srna/tutorial.md
Owners: @bebatut, @shiltemann

update image links
  topics/admin/images/graph.png
  topics/admin/images/graph2.png
  topics/admin/images/plan.png
  topics/admin/tutorials/terraform/slides.html
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

tour for network-viz-heinz
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tours/tour.yaml
Owners: @bebatut, @shiltemann

More cleaning and formatting of the tool description
  _config.yml
  snippets/build_dataset_list.md
  snippets/select_collection.md
  topics/transcriptomics/images/sRNA/Fig10_Filter_rRNA_tool_form.png
  topics/transcriptomics/images/sRNA/Fig11_Convert_to_fastq_tool_form.png
  topics/transcriptomics/images/sRNA/Fig12a_Manipulate_Fastq_siRNA_tool_form.png
  topics/transcriptomics/images/sRNA/Fig12b_Manipulate_Fastq_piRNA_tool_form.png
  topics/transcriptomics/images/sRNA/Fig14_salmon_siRNA_Blank_tool_form.png
  topics/transcriptomics/images/sRNA/Fig15_deseq2_sr_tool_form.png
  topics/transcriptomics/images/sRNA/Fig16_filter_tool_form.png
  topics/transcriptomics/images/sRNA/Fig1_build_dataset_list.png
  topics/transcriptomics/images/sRNA/Fig2_create_list.png
  topics/transcriptomics/images/sRNA/Fig4_fastqc_tool_form.png
  topics/transcriptomics/images/sRNA/Fig6_change_datatype.png
  topics/transcriptomics/images/sRNA/Fig7_trimgalore_tool_form.png
  topics/transcriptomics/images/sRNA/Fig9_HISAT_rRNA_tool_form.png
  topics/transcriptomics/tutorials/srna/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

add alt text
  topics/admin/tutorials/terraform/slides.html
Owners: @bebatut, @shiltemann

add missing alt
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

add alt text
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Oct 27 08:05:02 UTC 2018
  feed.xml
  index.html
  topics/admin/images/graph.png
  topics/admin/images/graph2.png
  topics/admin/images/pets-vs-cattle.jpg
  topics/admin/images/plan.png
  topics/admin/index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/ansible/slides.html
  topics/admin/tutorials/ansible/tutorial.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/terraform/main.tf
  topics/admin/tutorials/terraform/slides.html
  topics/admin/tutorials/terraform/tutorial.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

make title more descriptive
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sun Oct 28 11:40:55 UTC 2018
  feed.xml
  topics/admin/index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/terraform/tutorial.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

Fix review comments
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Support DO too?
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

remove some OS references
  topics/admin/tutorials/terraform/tutorial.md
Owners: @bebatut, @shiltemann

Add tutorial for classification and regression
  topics/statistics/tutorials/classification_regression/images/classification_1.png
  topics/statistics/tutorials/classification_regression/images/confusion_matrix.png
  topics/statistics/tutorials/classification_regression/images/precision_recall_f1.png
  topics/statistics/tutorials/classification_regression/images/regression_1.png
  topics/statistics/tutorials/classification_regression/images/roc.png
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Add test and training data snippets
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Update sentence
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Update images
  topics/statistics/tutorials/classification_regression/images/classification_1.png
  topics/statistics/tutorials/classification_regression/images/regression_1.png
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Update images
  topics/statistics/tutorials/classification_regression/images/residual_plot.png
  topics/statistics/tutorials/classification_regression/images/true_pred_curves.png
  topics/statistics/tutorials/classification_regression/images/true_vs_pred_scatter.png
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Update images
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Update the image formatting
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

use google analytics id from travis environment
  Makefile
  _layouts/base.html
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

fix tags
  _layouts/base.html
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

add plugin
  _config.yml
Owners: @bebatut, @shiltemann, @willdurand

add quotes
  _layouts/base.html
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Sat Nov 3 15:28:27 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

typo in tour
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tours/tour.yaml
Owners: @bebatut, @shiltemann

add QR codes
  assets/images/qr-gtn-black-logo.png
  assets/images/qr-gtn-black.png
  assets/images/qr-gtn-darkblue-logo.png
  assets/images/qr-gtn-darkblue.png
  assets/images/qr-gtn-darkgrey-logo.png
  assets/images/qr-gtn-darkgrey.png
  assets/images/qr-gtn-logo.xcf
  assets/images/qr-gtn-white-logo.png
  assets/images/qr-gtn-white.png
  assets/images/qr-gtn.xcf
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
