Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Changes to metadata.yaml
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

Changes to CLIP-Seq tools.yaml
  topics/transcriptomics/tutorials/clipseq/tools.yaml
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

Adding new pictures for CLIP-Seq tutorial
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_1.png
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_2.png
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_3.png
  topics/transcriptomics/images/clipseq_correlation.png
  topics/transcriptomics/images/clipseq_data_uploaded.png
  topics/transcriptomics/images/clipseq_duplication_level_1.png
  topics/transcriptomics/images/clipseq_duplication_level_2.png
  topics/transcriptomics/images/clipseq_fingerprint.png
  topics/transcriptomics/images/clipseq_ma_plot.png
  topics/transcriptomics/images/clipseq_motif.png
  topics/transcriptomics/images/clipseq_peak_igv.png
  topics/transcriptomics/images/upload_data_page.png
Owners: @bebatut, @shiltemann

add note about reviewing pull requests
  faq.md
Owners: @bebatut, @shiltemann

move section up
  faq.md
Owners: @bebatut, @shiltemann

Update on: Wed Aug 15 12:52:07 UTC 2018
  faq.html
  feed.xml
Owners: @bebatut, @shiltemann

adds contributor
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

adds topic
  metadata/phylogenetics.yaml
Owners: @bebatut, @shiltemann

first commit for phylogenetics tutorial
  topics/phylogenetics/README.md
  topics/phylogenetics/docker/Dockerfile
  topics/phylogenetics/images/template.graphml
  topics/phylogenetics/index.md
  topics/phylogenetics/metadata.yaml
  topics/phylogenetics/slides/introduction.html
  topics/phylogenetics/tutorials/GeneSeqToFamily/data-library.yaml
  topics/phylogenetics/tutorials/GeneSeqToFamily/data-manager.yaml
  topics/phylogenetics/tutorials/GeneSeqToFamily/slides.html
  topics/phylogenetics/tutorials/GeneSeqToFamily/tools.yaml
  topics/phylogenetics/tutorials/GeneSeqToFamily/tours/tour.yaml
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
  topics/phylogenetics/tutorials/GeneSeqToFamily/workflows/GeneSeqToFamily.ga
Owners: @bebatut, @shiltemann

Found a public data set, must convert all zebrafish refs. Finished single batch workflow.
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann

Try to trick the colors and boxes
  assets/css/main.scss
Owners: @bebatut, @shiltemann

Add idat datatype
  shared/datatypes.yaml
Owners: @bebatut, @shiltemann

Fix layout when tutorial associated slides
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

add bg bedgraph extension
  shared/datatypes.yaml
Owners: @bebatut, @shiltemann

Update on: Thu Aug 16 07:53:38 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Fix Bjoern's comments
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Aug 16 10:05:19 UTC 2018
  feed.xml
  topics/proteomics/tutorials/metaproteomics/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Thu Aug 16 10:10:09 UTC 2018
  feed.xml
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.html
  topics/assembly/tutorials/general-introduction/tutorial.html
  topics/assembly/tutorials/unicycler-assembly/tutorial.html
  topics/contributing/tutorials/github-command-line-contribution/tutorial.html
  topics/dev/tutorials/visualization-charts/tutorial.html
  topics/dev/tutorials/visualization-generic/tutorial.html
  topics/dev/tutorials/webhooks/tutorial.html
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.html
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/sequence-analysis/tutorials/quality-control/tutorial.html
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.html
Owners: @bebatut, @shiltemann

tweaks for contrast
  assets/css/main.scss
Owners: @bebatut, @shiltemann

meet wcag AA for normal text
  assets/css/main.scss
Owners: @bebatut, @shiltemann

adds Slides and images
  topics/phylogenetics/images/GSTF/gstf_clusteraln.png
  topics/phylogenetics/images/GSTF/gstf_clustering.png
  topics/phylogenetics/images/GSTF/gstf_gafa.png
  topics/phylogenetics/images/GSTF/gstf_preclustering.png
  topics/phylogenetics/images/GSTF/gstf_prep.png
  topics/phylogenetics/images/GSTF/gstf_result.png
  topics/phylogenetics/images/GSTF/gstf_translate.png
  topics/phylogenetics/images/GSTF/gstf_tree.png
  topics/phylogenetics/images/GSTF/gstf_viz.png
  topics/phylogenetics/tutorials/GeneSeqToFamily/slides.html
Owners: @bebatut, @shiltemann

updates metadata
  topics/phylogenetics/metadata.yaml
Owners: @bebatut, @shiltemann

updtes slides
  topics/phylogenetics/tutorials/GeneSeqToFamily/slides.html
Owners: @bebatut, @shiltemann

Replace fa fa-pencil by hands_on icon
  topics/admin/tutorials/galaxy-docker/slides.html
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/containers/slides.html
  topics/dev/tutorials/interactive-tours/slides.html
  topics/dev/tutorials/tool-integration/slides.html
  topics/dev/tutorials/toolshed/slides.html
  topics/dev/tutorials/webhooks/slides.html
Owners: @bebatut, @shiltemann

updates tutorial
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Aug 16 15:22:14 UTC 2018
  feed.xml
  topics/admin/tutorials/galaxy-docker/slides.html
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/containers/slides.html
  topics/dev/tutorials/interactive-tours/slides.html
  topics/dev/tutorials/tool-integration/slides.html
  topics/dev/tutorials/toolshed/slides.html
  topics/dev/tutorials/webhooks/slides.html
Owners: @bebatut, @shiltemann

remove temporary template topic was only needed to test colour scheme
  metadata/templates.yaml
  topics/templates
Owners: @bebatut, @shiltemann

Update on: Thu Aug 16 15:43:29 UTC 2018
  badges/index.html
  feed.xml
  index.html
  topics/templates/docker/Dockerfile
  topics/templates/images/template.graphml
  topics/templates/index.html
  topics/templates/slides/introduction.html
  topics/templates/tutorials/tutorial1/slides.html
  topics/templates/tutorials/tutorial1/tutorial.html
  topics/templates/tutorials/tutorial1/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

Add tour in metadata
  topics/proteomics/metadata.yaml
Owners: @Stortebecker, @bgruening, @blankclemens

Update on: Thu Aug 16 15:47:20 UTC 2018
  feed.xml
  topics/sequence-analysis/index.html
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Update on: Thu Aug 16 15:52:53 UTC 2018
  feed.xml
  topics/sequence-analysis/index.html
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Completed workflows of both single and multiple batches. New data needs to be adapated into hands-on sections
  topics/transcriptomics/images/scrna_nbt3711.png
  topics/transcriptomics/images/scrna_workflow.svg
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

Update on: Fri Aug 17 08:30:15 UTC 2018
  feed.xml
  topics/proteomics/index.html
Owners: @bebatut, @shiltemann, @Stortebecker, @bgruening, @blankclemens

Update on: Fri Aug 17 08:41:25 UTC 2018
  feed.xml
  topics/transcriptomics/index.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

add instructions on testing interactive tours to the FAQ
  faq.md
Owners: @bebatut, @shiltemann

Adding new contributors to contributors.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

add suggested edits from tour to tutorial
  topics/transcriptomics/tutorials/srna/tutorial.md
Owners: @bebatut, @shiltemann

Add skeleton for clipseq tutorial
  topics/transcriptomics/tutorials/clipseq/data-library.yaml
  topics/transcriptomics/tutorials/clipseq/data-manager.yaml
  topics/transcriptomics/tutorials/clipseq/tools.yaml
  topics/transcriptomics/tutorials/clipseq/tours/tour.yaml
  topics/transcriptomics/tutorials/clipseq/tutorial.md
  topics/transcriptomics/tutorials/clipseq/workflows/init_workflow.ga
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann
