Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

more edits
  topics/assembly/images/tool_search.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Wed May 23 05:55:49 UTC 2018
  feed.xml
  hall-of-fame.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Wed May 23 06:01:23 UTC 2018
  feed.xml
  hall-of-fame.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

remove bioconda to get lastest ruby version
  Makefile
Owners: @bebatut, @shiltemann

Remove link to unfinished tutorial
  topics/admin/images/you.jpg
  topics/admin/slides/introduction.html
Owners: @bebatut, @shiltemann

Fix typo
  .gitignore
Owners: @bebatut, @shiltemann

Cleaning installation
  Gemfile
  Gemfile.lock
  Makefile
  environment.yml
  package-lock.json
  package.json
Owners: @bebatut, @shiltemann

Update on: Wed May 23 09:40:32 UTC 2018
  feed.xml
  topics/admin/images/you.jpg
  topics/admin/slides/introduction.html
Owners: @bebatut, @shiltemann

add test for amplicon tutorial
  topics/metagenomics/tutorials/general-tutorial/workflows/amplicon-job.yml
  topics/metagenomics/tutorials/general-tutorial/workflows/amplicon-test.yml
  topics/metagenomics/tutorials/general-tutorial/workflows/amplicon-workflow.ga
  topics/metagenomics/tutorials/general-tutorial/workflows/amplicon.ga
Owners: @bebatut, @shiltemann

minor language cleanup in QC tutorial
  CONTRIBUTORS.yaml
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

fix spacing in contributors file
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Use make commands for travis
  .travis.yml
  Makefile
Owners: @bebatut, @shiltemann

initial commit for GeneSeqToFamily training also creates new topic
  metadata/phylogenetics.yaml
  topics/phylogenetics/README.md
  topics/phylogenetics/docker/Dockerfile
  topics/phylogenetics/images/template.graphml
  topics/phylogenetics/index.md
  topics/phylogenetics/metadata.yaml
  topics/phylogenetics/metadataold.yaml
  topics/phylogenetics/slides/introduction.html
  topics/phylogenetics/tutorials/GeneSeqToFamily/data-library.yaml
  topics/phylogenetics/tutorials/GeneSeqToFamily/data-manager.yaml
  topics/phylogenetics/tutorials/GeneSeqToFamily/slides.html
  topics/phylogenetics/tutorials/GeneSeqToFamily/tools.yaml
  topics/phylogenetics/tutorials/GeneSeqToFamily/tours/tour.yaml
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
  topics/phylogenetics/tutorials/GeneSeqToFamily/workflows/GeneSeqToFamily.ga
Owners: @bebatut, @shiltemann

Add a tip box for possible trouble on ubuntu
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

ambiguity of missing bases
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

Added schema.org annotations for training materials
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Add expandable/collapsing boxes
  _config.yml
  assets/css/main.scss
  assets/js/main.js
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

adds more steps for tutorial
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
Owners: @bebatut, @shiltemann

Moved schema.org into _includes partial for readability
  _includes/material.jsonld
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Added better fix for tailing array commas
  _includes/material.jsonld
Owners: @bebatut, @shiltemann, @willdurand

Update documentation about boxes
  shared/images/tutorial_collapsed_detail_box.png
  shared/images/tutorial_expanded_detail_box.png
  shared/images/tutorial_question_box.png
  shared/images/tutorial_question_box_collapsed.png
  shared/images/tutorial_question_box_expanded.png
  templates/tutorials/tutorial1/tutorial.md
  topics/training/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed May 23 13:36:45 UTC 2018
  feed.xml
  hall-of-fame.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/sequence-analysis/tutorials/quality-control/tutorial.html
Owners: @bebatut, @shiltemann

update commands to latest version of ephemeris and publish workflows
  bin/docker-install-tutorials.sh
Owners: @bebatut, @shiltemann, @bgruening

update links to tutorial
  CONTRIBUTING.md
  bin/install_topic_requirements.sh
  bin/install_tutorial_requirements.sh
  topics/training/metadata.yaml
  topics/training/tutorials/create-new-tutorial-content/tutorial.md
  topics/training/tutorials/create-new-tutorial-galaxy/create-new-tutorial-docker/data-library.yaml
  topics/training/tutorials/create-new-tutorial-galaxy/create-new-tutorial-docker/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-galaxy/create-new-tutorial-docker/tools.yaml
  topics/training/tutorials/create-new-tutorial-galaxy/create-new-tutorial-docker/tutorial.md
  topics/training/tutorials/create-new-tutorial-galaxy/tutorial.md
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.md
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/training/tutorials/create-new-tutorial-tours/tutorial.md
Owners: @bebatut, @shiltemann, @bgruening

reorg
  topics/training/tutorials/create-new-tutorial-galaxy/create-new-tutorial-docker/data-library.yaml
  topics/training/tutorials/create-new-tutorial-galaxy/create-new-tutorial-docker/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-galaxy/create-new-tutorial-docker/tools.yaml
  topics/training/tutorials/create-new-tutorial-galaxy/create-new-tutorial-docker/tutorial.md
Owners: @bebatut, @shiltemann

reorg
  topics/training/tutorials/create-new-tutorial-galaxy/data-library.yaml
  topics/training/tutorials/create-new-tutorial-galaxy/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-galaxy/tools.yaml
Owners: @bebatut, @shiltemann

add metadata
  topics/training/metadata.yaml
Owners: @bebatut, @bgruening

formatting
  topics/training/tutorials/create-new-tutorial-galaxy/tutorial.md
Owners: @bebatut, @shiltemann

fix links
  topics/training/tutorials/create-new-tutorial-galaxy/tutorial.md
Owners: @bebatut, @shiltemann

tweak
  topics/training/tutorials/create-new-tutorial-galaxy/tutorial.md
Owners: @bebatut, @shiltemann

fix typo
  topics/training/tutorials/create-new-tutorial-galaxy/tutorial.md
Owners: @bebatut, @shiltemann

fix typo
  CONTRIBUTING.md
Owners: @bebatut, @shiltemann

fix typo
  topics/training/tutorials/create-new-tutorial-galaxy/tutorial.md
Owners: @bebatut, @shiltemann

add link to ephemeris
  topics/training/tutorials/create-new-tutorial-galaxy/tutorial.md
Owners: @bebatut, @shiltemann

added text up to lastz analysis
  topics/assembly/images/folder-o.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

add @jennaj as maintainer
  topics/introduction/metadata.yaml
Owners: @tnabtaf

Update on: Thu May 24 08:47:10 UTC 2018
  feed.xml
  topics/introduction/index.html
Owners: @bebatut, @shiltemann, @tnabtaf

Add "Upgrading Galaxy" admin slides
  topics/admin/metadata.yaml
  topics/admin/tutorials/upgrading/slides.html
Owners: @bgruening, @martenson, @hrhotz, @erasche, @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
