Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Reproducible builds
  _layouts/topic.html
  _plugins/jekyll-topic-filter.rb
Owners: @bebatut, @shiltemann, @willdurand

getting closer
  _layouts/base_slides.html
  _layouts/introduction_slides.html
  _layouts/tutorial_hands_on.html
  _layouts/tutorial_slides.html
  faq.md
Owners: @bebatut, @shiltemann, @willdurand

make sure intro always comes first
  _plugins/jekyll-topic-filter.rb
Owners: @bebatut, @shiltemann, @willdurand

Use a plugin for autodetecting metadata
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _layouts/tutorial_slides.html
  _plugins/jekyll-topic-filter.rb
Owners: @bebatut, @shiltemann, @willdurand

more name → tutorial_name fixes
  _includes/material.jsonld
  _layouts/introduction_slides.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-topic-filter.rb
  faq.md
Owners: @bebatut, @shiltemann, @willdurand

fix extra keys on slides
  topics/admin/slides/introduction.html
  topics/chip-seq/slides/introduction.html
  topics/contributing/slides/introduction.html
  topics/dev/slides/introduction.html
  topics/epigenetics/slides/introduction.html
  topics/introduction/slides/introduction.html
  topics/metagenomics/slides/introduction.html
  topics/transcriptomics/slides/introduction.html
  topics/variant-analysis/slides/introduction.html
Owners: @bebatut, @shiltemann

Update docs
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
Owners: @bebatut, @shiltemann

fix template
  templates/metadata.yaml
  templates/slides/introduction.html
  templates/tutorials/tutorial1/slides.html
  templates/tutorials/tutorial1/tutorial.md
Owners: @bebatut, @shiltemann

fix some vars
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

automatically set tutorial_name:/topic_name:
  _plugins/jekyll-topic-filter.rb
Owners: @bebatut, @shiltemann, @willdurand

more explicit documentation/comments for whoever edits it next
  _plugins/jekyll-topic-filter.rb
Owners: @bebatut, @shiltemann, @willdurand

support missing objectives/keypoints
  _layouts/tutorial_slides.html
Owners: @bebatut, @shiltemann, @willdurand

Update the tutorials
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Fix display of tours
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Fix yaml for transcriptomics
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

cleanup some requirements
  _layouts/base_slides.html
Owners: @bebatut, @shiltemann, @willdurand

Fix clipseq tutorial
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/clipseq/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Owners: @bebatut, @malloryfreeberg, @shiltemann

the only people using internal links include the topic
  _layouts/base_slides.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Add a new tutorial for ChIP-seq data analysis
  package-lock.json
  package.json
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotCorrelation.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotFingerPrint.png
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

Updated the data-library.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
Owners: @bebatut, @shiltemann

Updated the fasta files
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotFingerPrint.png
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

Detail and reformate the tutorial
  topics/chip-seq/images/formation_of_super-structures_on_xi/Chromatin_immunoprecipitation_sequencing.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/Chromatin_immunoprecipitation_sequencing.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/bamcompare_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/bamcoverage_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/graphical_abstract.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/histone_modifications.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/macs2_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/peak_heatmap_1.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_adapter_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per base_sequence_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_base_n_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_base_sequence_quality.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_sequence_quality_scores.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_sequence_duplication_levels.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read2_per_base_sequence_quality.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/rep1_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.svg
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

Add workflow and tests
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-job.yml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-test.yml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Owners: @malloryfreeberg, @bebatut, @shiltemann

more awkward pirouettes
  topics/genome-annotation/images/busco_genome_summary.png
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-maker/workflows/init_workflow.ga
Owners: @bebatut, @shiltemann

Add formatted data library
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
Owners: @malloryfreeberg, @bebatut, @shiltemann

Remove changes on package files
  package-lock.json
  package.json
Owners: @bebatut, @shiltemann

Remove GC bias section
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.svg
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Owners: @bebatut, @shiltemann

Update wf
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Owners: @bebatut, @shiltemann

small edits in the text
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

Add modular parts and fix comments
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/mapping_explanation.md
  topics/sequence-analysis/tutorials/quality-control/fastq_question.md
  topics/sequence-analysis/tutorials/quality-control/paired_end_question.md
Owners: @bebatut, @shiltemann

minor changes
  package-lock.json
  package.json
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

Remove changes on package file
  package-lock.json
Owners: @bebatut, @shiltemann

metadata
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

Add nojekyll file to avoid GitHub page to try to build
  .nojekyll
  _config.yml
Owners: @bebatut, @shiltemann, @willdurand

[WIP] Update ref-based RNA-seq tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

More edits
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Last edits at collaboration fest
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

More edits
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Update workflow and add tests
  topics/transcriptomics/tutorials/ref-based/workflows/full_workflow.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc_mapping_counting.ga
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based-job.yml
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based-test.yml
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based.ga
Owners: @bebatut, @shiltemann

Add snippets for qc and mapping
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/mapping_explanation.md
  topics/sequence-analysis/tutorials/quality-control/fastq_question.md
  topics/sequence-analysis/tutorials/quality-control/paired_end_question.md
  topics/sequence-analysis/tutorials/quality-control/trimming_question.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
