Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

unify overview boxes
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

Rename jekyll tutorial, fix it and move PDFs generation to a new tutorial
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-jekyll/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

ignore .swp files
  .gitignore
Owners: @bebatut, @shiltemann

update tutorial
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

update topic overview boxes
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

fix link to tutorial
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

add workflow-to-tools command and replace section on testing with link to new tutorial
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Owners: @bebatut, @shiltemann

small edits
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Re-add how to run jekyll and fix content tutorial
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

Add bioconda in channels
  environment.yml
Owners: @bebatut, @shiltemann

Update on: Mon Jun 4 15:30:03 UTC 2018
  feed.xml
  topics/assembly/tutorials/general-introduction/tutorial.html
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tutorial.html
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.html
  topics/epigenetics/tutorials/methylation-seq/tutorial.html
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.html
  topics/metagenomics/tutorials/general-tutorial/tutorial.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
  topics/proteomics/tutorials/database-handling/tutorial.html
  topics/proteomics/tutorials/labelfree-vs-labelled/tutorial.html
  topics/proteomics/tutorials/metaproteomics/tutorial.html
  topics/proteomics/tutorials/protein-id-oms/tutorial.html
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.html
  topics/proteomics/tutorials/protein-quant-sil/tutorial.html
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.html
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.html
  topics/sequence-analysis/tutorials/genome-annotation/tutorial.html
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/sequence-analysis/tutorials/quality-control/tutorial.html
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.html
  topics/transcriptomics/tutorials/de-novo/tutorial.html
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.html
  topics/transcriptomics/tutorials/srna/tutorial.html
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.html
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.html
  topics/variant-analysis/tutorials/microbial-variants/tutorial.html
Owners: @bebatut, @shiltemann

Remove new tutorial on Github interface
  topics/contributing/metadata.yaml
Owners: @bebatut, @shiltemann

Add table with contributor tutorials on main page
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

fix metadata
  topics/contributing/slides/introduction.html
Owners: @bebatut, @shiltemann

Update on: Mon Jun 4 17:15:42 UTC 2018
  badges/index.html
  environment.yml
  feed.xml
  index.html
  topics/contributing/docker/Dockerfile
  topics/contributing/images/github_repo.png
  topics/contributing/images/image_caption_screenshot.png
  topics/contributing/images/interactivity.jpg
  topics/contributing/images/structure.png
  topics/contributing/images/structure.svg
  topics/contributing/images/template.graphml
  topics/contributing/index.html
  topics/contributing/slides/introduction.html
  topics/contributing/tutorials/create-new-topic/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.html
  topics/contributing/tutorials/generating-pdf/tutorial.html
  topics/contributing/tutorials/github-command-line-contribution/slides.html
  topics/contributing/tutorials/good-practices/slides.html
  topics/contributing/tutorials/running-jekyll/tutorial.html
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.html
  topics/dev/slides/introduction.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/dev/tutorials/visualization-charts/tutorial.html
  topics/dev/tutorials/visualization-generic/tutorial.html
  topics/dev/tutorials/webhooks/tutorial.html
  topics/training/index.html
Owners: @bebatut, @shiltemann, @bgruening

Remove mention of FAQ in home page
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

Add automatic generation of other contributing tutorials at end of tutorial
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

Fix internal links
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
  topics/introduction/tutorials/galaxy-intro-rules/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

escape quotes in url for htmlproofer
  topics/introduction/tutorials/galaxy-intro-rules/tutorial.md
Owners: @bebatut, @shiltemann

Deduplicate
  _layouts/tutorial_hands_on.html
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

Conda, Containers - updates.
  topics/dev/images/quayioseqtk.png
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/containers/slides.html
Owners: @bebatut, @shiltemann

Update on: Tue Jun 5 17:47:00 UTC 2018
  feed.xml
  topics/dev/images/quayioseqtk.png
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/containers/slides.html
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md (#804)
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Jun 6 12:11:48 UTC 2018
  feed.xml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
Owners: @bebatut, @shiltemann

Allow slide to fail
  .travis.yml
Owners: @bebatut, @shiltemann

Update on: Wed Jun 6 13:04:00 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Remove placeholder metadata
  topics/admin/metadata.yaml
  topics/dev/metadata.yaml
  topics/introduction/metadata.yaml
  topics/sequence-analysis/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche, @lecorguille, @bebatut, @shiltemann, @tnabtaf, @yvanlebras, @joachimwolff

Add icons for insert tags
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Remove mention of the external de novo workflow inside the tutorial (dead link)
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Owners: @bebatut, @shiltemann

Fix effective genome size for MACS2 callpeak
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tutorial.md
Owners: @bebatut, @shiltemann

add preferred contact for maintainers
  CONTRIBUTORS.yaml
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

tour for ref-based-rad-seq
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tours/tour.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff, @shiltemann

add space after icon
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Wed Jun 6 16:12:01 UTC 2018
  feed.xml
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/introduction/tutorials/igv-introduction/tutorial.html
  topics/introduction/tutorials/processing-many-samples-at-once/tutorial.html
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.html
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.html
  topics/sequence-analysis/tutorials/genome-annotation/tutorial.html
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.html
  topics/transcriptomics/tutorials/de-novo/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann

Fix some terms and formatting
  topics/transcriptomics/tutorials/ref-based/tours/tour.yaml
Owners: @bebatut, @shiltemann

fix slides
  topics/contributing/tutorials/good-practices/slides.html
Owners: @bebatut, @shiltemann

some more
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
Owners: @bebatut, @shiltemann

done
  topics/sequence-analysis/tutorials/quality-control/slides.html
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
