Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

define icon since used in assembly/ecoli_comparison as well
  _config.yml
Owners: @bebatut, @shiltemann, @willdurand

switch to icon
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

no slides
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

30 is probably hella optimistic
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

"long-read contigs" ->
  topics/assembly/tutorials/unicycler-assembly/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Jul 6 16:31:40 UTC 2018
  feed.xml
  topics/assembly/tutorials/unicycler-assembly/tutorial.html
Owners: @bebatut, @shiltemann

add back button to slides
  _layouts/base_slides.html
  assets/css/slides.css
Owners: @bebatut, @shiltemann, @willdurand

cowsay note
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

minor tweaks
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

tweak my tweak
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

remove duplicate warning icon definition
  _config.yml
Owners: @bebatut, @shiltemann, @willdurand

rename hosts group
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Jul 11 08:33:03 UTC 2018
  feed.xml
  index.html
  topics/admin/index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/ansible/tutorial.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

fix detail boxes of Zenodo URLs
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

fix solution box
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

fix solution box
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

fix solution box
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Add note about choosing a role
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

rewrite it a bit
  topics/admin/tutorials/ansible/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Jul 11 13:16:54 UTC 2018
  feed.xml
  topics/metagenomics/tutorials/general-tutorial/tutorial.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
Owners: @bebatut, @shiltemann

reformat instructions
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

put instructions in a handson box
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

fix handson box name
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Jul 11 15:19:34 UTC 2018
  feed.xml
  topics/admin/tutorials/ansible/tutorial.html
Owners: @bebatut, @shiltemann

tour for rna-seq-viz-with-cummerbund
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tours/tour.yaml
Owners: @bebatut, @malloryfreeberg, @shiltemann

reformat hands_on boxes
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

set handon title
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

provide table as collapsed box
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

add exercise
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

tweak last handson box
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

format
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

format
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

spelling
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

Some small stuff
  topics/galaxy-data-manipulation/tutorials/upload-rules/tutorial.md
Owners: @bebatut, @shiltemann

Fix tool invocation documentation
  topics/chip-seq/images/BWA_tool_form.png
  topics/chip-seq/images/bamcom.png
  topics/chip-seq/images/compM.png
  topics/chip-seq/images/compM2.png
  topics/chip-seq/images/computeGCBias.png
  topics/chip-seq/images/multiBamSummary_1000bin.png
  topics/chip-seq/images/plotCorrelation.png
  topics/chip-seq/images/plotFingerprint1_v2.png
  topics/chip-seq/images/plotFingerprint2.png
  topics/chip-seq/images/plothm.png
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
Owners: @bebatut, @shiltemann

Fix semantic depth of solution boxes
  templates/tutorials/tutorial1/tutorial.md
  topics/admin/tutorials/ansible/tutorial.md
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/assembly/tutorials/general-introduction/tutorial.md
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tutorial.md
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/database-handling/tutorial.md
  topics/proteomics/tutorials/labelfree-vs-labelled/tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/proteomics/tutorials/protein-id-oms/tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/srna/tutorial.md
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.md
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Owners: @bebatut, @shiltemann

fix param quoting
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
Owners: @bebatut, @shiltemann

Revert "fix param quoting"
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
Owners: @bebatut, @shiltemann

re-add the colon :(
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
Owners: @bebatut, @shiltemann

minor reformatting
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
Owners: @bebatut, @shiltemann
