Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Updates for 18.05 and fixes
  topics/admin/tutorials/upgrading/slides.html
Owners: @bebatut, @shiltemann

Review fixes
  topics/admin/metadata.yaml
  topics/admin/tutorials/upgrading/slides.html
Owners: @bgruening, @martenson, @hrhotz, @erasche, @bebatut, @shiltemann

Update zenodo link for Hi-C tutorial
  topics/epigenetics/metadata.yaml
Owners: @joachimwolff, @dpryan79

edit styling
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
Owners: @bebatut, @shiltemann

updates references and contributors
  topics/phylogenetics/metadata.yaml
Owners: @bebatut, @shiltemann

Redirect to GitHub edit directly
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Fix Regina's GitHub username
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Remove mention ot Freiburg server
  topics/sequence-analysis/tutorials/mapping/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update on: Thu May 24 12:43:09 UTC 2018
  feed.xml
  topics/epigenetics/index.html
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79

Update on: Thu May 24 16:09:20 UTC 2018
  feed.xml
  index.html
  topics/admin/index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
  topics/admin/tutorials/upgrading/slides.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

download the file on demand
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq-job.yml
Owners: @bebatut, @shiltemann

at the stage of three genomes
  _config.yml
  topics/assembly/images/bar-chart-o.png
  topics/assembly/images/best_genomes_chart.png
  topics/assembly/images/chart_cog.png
  topics/assembly/images/disks.png
  topics/assembly/images/id_vs_len.png
  topics/assembly/images/lastz_collection.png
  topics/assembly/images/ncbi_assembly.png
  topics/assembly/images/ncbi_data.png
  topics/assembly/images/scatter.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

up to igv startup
  topics/assembly/images/CP020543_dp.png
  topics/assembly/images/CP024090_dp.png
  topics/assembly/images/LT906474_dp.png
  topics/assembly/images/igv_empty.png
  topics/assembly/images/three_dot_plots.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

rewrite tutorial formatting
  topics/introduction/images/rules/ena_table_download.png
  topics/introduction/images/rules/rules_example_1_1_rules_landing.png
  topics/introduction/images/rules/rules_example_3_12_swap_columns.png
  topics/introduction/images/rules/rules_example_4_4_sort.png
  topics/introduction/images/rules/rules_example_4_5_url.png
  topics/introduction/images/rules/uniprot_fasta.png
  topics/introduction/images/rules/uniprot_fasta_url.png
  topics/introduction/images/rules/uniprot_url.png
  topics/introduction/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-rules/PRJNA355367.csv
  topics/introduction/tutorials/galaxy-intro-rules/PRJNA355367.tsv
  topics/introduction/tutorials/galaxy-intro-rules/tutorial.md
Owners: @bebatut, @shiltemann, @tnabtaf

fix box
  topics/introduction/tutorials/galaxy-intro-rules/tutorial.md
Owners: @bebatut, @shiltemann

rework hands-on boxes
  topics/introduction/tutorials/galaxy-intro-rules/tutorial.md
Owners: @bebatut, @shiltemann

add margin around images
  assets/css/main.scss
Owners: @bebatut, @shiltemann

Fix typo
  topics/introduction/tutorials/galaxy-intro-rules/tutorial.md
Owners: @bebatut, @shiltemann

Fix typo (#789)
  topics/introduction/tutorials/galaxy-intro-rules/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue May 29 06:07:44 UTC 2018
  feed.xml
  topics/introduction/tutorials/galaxy-intro-rules/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Tue May 29 06:37:42 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Tue May 29 13:22:30 UTC 2018
  feed.xml
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/dev/index.html
  topics/epigenetics/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/training/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

typo
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

typo (#790)
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue May 29 20:21:22 UTC 2018
  feed.xml
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.html
Owners: @bebatut, @shiltemann

processing alignments
  topics/assembly/images/dotplot.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

more incremental changes
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Hyperlink DOIs against preferred resolver
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
  topics/metagenomics/metadata.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/ntails/tutorial.md
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-library.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.md
Owners: @joachimwolff, @dpryan79, @bebatut, @shiltemann, @TorHou

Hyperlink DOIs against preferred resolver (#793)
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
  topics/metagenomics/metadata.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/proteomics/tutorials/ntails/tutorial.md
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-library.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.md
Owners: @joachimwolff, @dpryan79, @bebatut, @shiltemann, @TorHou

almost done
  topics/assembly/images/complement.png
  topics/assembly/images/igv_co024090.png
  topics/assembly/images/igv_cp020543.png
  topics/assembly/images/igv_ecolic.png
  topics/assembly/images/igv_lt.png
  topics/assembly/images/igv_panels.png
  topics/assembly/images/pencil.png
  topics/assembly/images/refresh.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Add katrinleinweber in contributors
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Wed May 30 17:54:03 UTC 2018
  feed.xml
  topics/epigenetics/index.html
  topics/epigenetics/tutorials/methylation-seq/tutorial.html
  topics/metagenomics/index.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
  topics/proteomics/tutorials/ntails/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
  topics/variant-analysis/index.html
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.html
  topics/variant-analysis/tutorials/exome-seq/tutorial.html
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79, @TorHou

Add Katrin's email & ORCiD
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

adding bed intersection
  topics/assembly/images/igv_gaps.png
  topics/assembly/images/igv_genes.png
  topics/assembly/images/intersect.png
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed May 30 21:32:44 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
