Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

annotate workflow outputs
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling.ga
Owners: @bebatut, @shiltemann

Complete my contributor info
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Mon May 14 11:44:13 UTC 2018
  feed.xml
  hall-of-fame.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Mon May 14 11:56:58 UTC 2018
  feed.xml
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling.ga
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Fix for display of input datasets in de novo rna-seq
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed May 16 20:32:34 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/de-novo/tutorial.html
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

example of the new data library format
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-library.yaml
Owners: @bebatut, @shiltemann

Fix hall of fame layout
  _layouts/hall-of-fame.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Tue May 22 11:11:56 UTC 2018
  feed.xml
  hall-of-fame.html
Owners: @bebatut, @shiltemann

add zenodo DOIs to metadata for seq analysis
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

explicitly list tools in yaml file instead of suite
  topics/metagenomics/tutorials/general-tutorial/tools.yaml
Owners: @bebatut, @shiltemann

add tool
  topics/metagenomics/tutorials/mothur-miseq-sop/tools.yaml
Owners: @bebatut, @shiltemann

move Aspergillus fumigatus file to zenodo
  topics/sequence-analysis/input_data/Aspergillus_sequence.fasta
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/genome-annotation/tutorial.md
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Update on: Tue May 22 12:59:45 UTC 2018
  feed.xml
  topics/sequence-analysis/index.html
  topics/sequence-analysis/input_data/Aspergillus_sequence.fasta
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.html
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.html
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.html
  topics/sequence-analysis/tutorials/genome-annotation/tutorial.html
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/sequence-analysis/tutorials/quality-control/tutorial.html
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.html
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

replace suite with list of tools
  topics/chip-seq/tutorials/tal1-binding-site-identification/tools.yaml
  topics/proteomics/tutorials/metaproteomics/tools.yaml
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tools.yaml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tools.yaml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tools.yaml
Owners: @bebatut, @shiltemann

replace suite with list of tools
  topics/variant-analysis/tutorials/diploid-variant-calling/tools.yaml
Owners: @bebatut, @shiltemann

remove unused tool
  topics/variant-analysis/tutorials/diploid-variant-calling/tools.yaml
Owners: @bebatut, @shiltemann

replace suite with list of tools
  topics/variant-analysis/tutorials/exome-seq/tools.yaml
Owners: @bebatut, @shiltemann

format fix
  topics/chip-seq/tutorials/tal1-binding-site-identification/tools.yaml
Owners: @bebatut, @shiltemann

remove unused tool
  topics/variant-analysis/tutorials/diploid-variant-calling/tools.yaml
Owners: @bebatut, @shiltemann

remove blank lines for yaml lint
  topics/metagenomics/tutorials/general-tutorial/tools.yaml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tools.yaml
  topics/variant-analysis/tutorials/diploid-variant-calling/tools.yaml
Owners: @bebatut, @shiltemann

non-dip variant calling zenodo
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @TorHou, @bebatut, @shiltemann

remove old workflow
  topics/assembly/tutorials/general-introduction/workflows/Galaxy-Workflow-assembly-general-intro.ga
Owners: @bebatut, @shiltemann

add new testing files
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction-job.yml
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction-test.yml
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction.ga
Owners: @bebatut, @shiltemann

rerun instance annotation with fixed server list
  metadata/instances.yaml
Owners: @bebatut, @shiltemann

Update on: Tue May 22 14:56:13 UTC 2018
  feed.xml
  topics/variant-analysis/index.html
  topics/variant-analysis/tutorials/non-dip/tutorial.html
Owners: @bebatut, @shiltemann, @TorHou

Add missing contributors
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

add name for Clare
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

add methylation workflow test data
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq.ga
Owners: @bebatut, @shiltemann

add methylation workflow test data
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq-job.yml
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq-test.yml
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq.ga
Owners: @bebatut, @shiltemann

remove old workflow
  topics/assembly/tutorials/unicycler-assembly/workflows/Galaxy-Workflow-Unicycler_training.ga
Owners: @bebatut, @shiltemann

add testing for unicycler
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler-job.yml
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler-test.yml
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler.ga
Owners: @bebatut, @shiltemann

Update on: Tue May 22 16:38:41 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

add workflow testing files
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling-job.yml
  topics/variant-analysis/tutorials/microbial-variants/workflows/microbial_variant_calling-test.yml
Owners: @bebatut, @shiltemann

use URLs
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction-job.yml
Owners: @bebatut, @shiltemann

starting new tutorial on analysis of new assemblies
  topics/assembly/images/ecoli_genome_selection.png
  topics/assembly/images/genbank_dir.png
  topics/assembly/images/gsheet_import.png
  topics/assembly/metadata.yaml
  topics/assembly/tutorials/ecoli_comparison/data-library.yaml
  topics/assembly/tutorials/ecoli_comparison/data-manager.yaml
  topics/assembly/tutorials/ecoli_comparison/slides.html
  topics/assembly/tutorials/ecoli_comparison/tools.yaml
  topics/assembly/tutorials/ecoli_comparison/tours/tour.yaml
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/assembly/tutorials/ecoli_comparison/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann, @Slugger70

update test data
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler-test.yml
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
