Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

spelling on admin slides
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/admin/tutorials/deployment-platforms-options/slides.html
  topics/admin/tutorials/galaxy-docker/slides.html
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/users-groups-quotas/slides.html
Owners: @bebatut, @shiltemann

more typos
  topics/introduction/tutorials/galaxy-intro-get-data/slides.html
  topics/introduction/tutorials/options-for-using-galaxy/slides.html
  topics/metagenomics/slides/introduction.html
Owners: @bebatut, @shiltemann

dev done
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/bioblend-api/slides.html
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/conda_sys/slides.html
  topics/dev/tutorials/interactive-environments/slides.html
  topics/dev/tutorials/interactive-tours/slides.html
  topics/dev/tutorials/tool-integration/slides.html
  topics/dev/tutorials/toolshed/slides.html
Owners: @bebatut, @shiltemann

assembly
  topics/assembly/tutorials/debruijn-graph-assembly/slides.html
  topics/assembly/tutorials/unicycler-assembly/slides.html
Owners: @bebatut, @shiltemann

finished contributing/*/tutorial.md
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
Owners: @bebatut, @shiltemann

spelling in admin tutorials
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/database-schema/tutorial.md
  topics/admin/tutorials/dev-to-production/tutorial.md
  topics/admin/tutorials/monitoring-maintenance/tutorial.md
Owners: @bebatut, @shiltemann

Spelling mistakes
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

templates
  templates/tutorials/tutorial1/data-manager.yaml
  templates/tutorials/tutorial1/tutorial.md
Owners: @bebatut, @shiltemann

some more
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Owners: @bebatut, @shiltemann

fix
  topics/admin/tutorials/galaxy-docker/slides.html
Owners: @bebatut, @shiltemann

undo
  topics/admin/tutorials/galaxy-docker/slides.html
Owners: @bebatut, @shiltemann

fix
  topics/contributing/tutorials/create-new-topic/tutorial.md
Owners: @bebatut, @shiltemann

fix
  topics/dev/tutorials/architecture/slides.html
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Create tutorial_ja_notag.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Update tutorial_ja_notag.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

attempt to fix heroku review apps deployment
  app.json
Owners: @bebatut, @shiltemann

specify docker image
  app.json
Owners: @bebatut, @shiltemann

make json valid
  app.json
Owners: @bebatut, @shiltemann

Some spelling corrections (#812)
  templates/tutorials/tutorial1/data-manager.yaml
  templates/tutorials/tutorial1/tutorial.md
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
  topics/admin/tutorials/database-schema/tutorial.md
  topics/admin/tutorials/deployment-platforms-options/slides.html
  topics/admin/tutorials/dev-to-production/tutorial.md
  topics/admin/tutorials/galaxy-docker/slides.html
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.md
  topics/admin/tutorials/users-groups-quotas/slides.html
  topics/assembly/tutorials/debruijn-graph-assembly/slides.html
  topics/assembly/tutorials/unicycler-assembly/slides.html
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.md
  topics/contributing/tutorials/generating-pdf/tutorial.md
  topics/contributing/tutorials/good-practices/slides.html
  topics/contributing/tutorials/running-jekyll/tutorial.md
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.md
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/bioblend-api/slides.html
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/conda_sys/slides.html
  topics/dev/tutorials/interactive-environments/slides.html
  topics/dev/tutorials/interactive-tours/slides.html
  topics/dev/tutorials/tool-integration/slides.html
  topics/dev/tutorials/toolshed/slides.html
  topics/introduction/tutorials/galaxy-intro-get-data/slides.html
  topics/introduction/tutorials/options-for-using-galaxy/slides.html
  topics/metagenomics/slides/introduction.html
  topics/sequence-analysis/tutorials/quality-control/slides.html
Owners: @bebatut, @shiltemann

Update on: Wed Jun 6 22:12:24 UTC 2018
  feed.xml
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/deployment-platforms-options/slides.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/galaxy-docker/slides.html
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
  topics/admin/tutorials/users-groups-quotas/slides.html
  topics/assembly/tutorials/debruijn-graph-assembly/slides.html
  topics/assembly/tutorials/unicycler-assembly/slides.html
  topics/contributing/tutorials/create-new-topic/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.html
  topics/contributing/tutorials/create-new-tutorial-tours/tutorial.html
  topics/contributing/tutorials/generating-pdf/tutorial.html
  topics/contributing/tutorials/good-practices/slides.html
  topics/contributing/tutorials/running-jekyll/tutorial.html
  topics/contributing/tutorials/setup-galaxy-for-training/tutorial.html
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/bioblend-api/slides.html
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/conda_sys/slides.html
  topics/dev/tutorials/interactive-environments/slides.html
  topics/dev/tutorials/interactive-tours/slides.html
  topics/dev/tutorials/tool-integration/slides.html
  topics/dev/tutorials/toolshed/slides.html
  topics/introduction/tutorials/galaxy-intro-get-data/slides.html
  topics/introduction/tutorials/options-for-using-galaxy/slides.html
  topics/metagenomics/slides/introduction.html
  topics/sequence-analysis/tutorials/quality-control/slides.html
Owners: @bebatut, @shiltemann

Update on: Thu Jun 7 06:28:06 UTC 2018
  feed.xml
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/contributing/index.html
  topics/dev/index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/epigenetics/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update on: Thu Jun 7 06:54:52 UTC 2018
  feed.xml
  topics/transcriptomics/index.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Update tutorial_ja_notag.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Add contact email in config file
  _config.yml
Owners: @bebatut, @shiltemann, @willdurand

Add more ideas for the FAQ
  faq.md
Owners: @bebatut, @shiltemann

Start filling FAQ page
  _includes/help.html
  _layouts/faq.html
  faq.md
Owners: @bebatut, @shiltemann, @willdurand

Updated draft FAQ page.
  faq.md
Owners: @bebatut, @shiltemann

Fixing some comments and tune content
  faq.md
  shared/images/development_process.png
  shared/images/interactive_training.png
  shared/images/repo_organization.png
  shared/images/repo_organization.svg
  shared/images/training_infra.svg
Owners: @bebatut, @shiltemann

Slightly cleaned up and linkified revision.
  faq.md
Owners: @bebatut, @shiltemann

Add link to FAQ on home page
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

Remove TODO
  faq.md
Owners: @bebatut, @shiltemann

feedback box fix
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
Owners: @bebatut, @shiltemann, @willdurand

standardise warning box
  _config.yml
  topics/assembly/tutorials/unicycler-assembly/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

change colour scheme
  assets/css/main.scss
Owners: @bebatut, @shiltemann

add warning box to template
  templates/tutorials/tutorial1/tutorial.md
Owners: @bebatut, @shiltemann

revert later: add template as topic for easy previewing
  metadata/templates.yaml
  templates/index.md
  templates/metadata.yaml
  templates/tutorials/tutorial1/tutorial.md
  topics/templates
Owners: @bebatut, @shiltemann

fix duplicate light-grey
  assets/css/main.scss
Owners: @bebatut, @shiltemann
