Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

bar diagram to stacked
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Delete Process_radtags_charts_end.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts_end.PNG
Owners: @bebatut, @shiltemann

Update Process_radtags_charts_end.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts_end.PNG
Owners: @bebatut, @shiltemann

Reorganization because of duplication
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Table update
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Some more edits
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

Correct manner to calculate FST
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Some more edits
  topics/transcriptomics/images/limma-voom/report_plots.png
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

add last filtering step
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Delete denovo_based_workflow.PNG
  topics/sequence-analysis/images/denovo_based_workflow.PNG
Owners: @bebatut, @shiltemann

Update denovo_based_workflow.PNG
  topics/sequence-analysis/images/denovo_based_workflow.PNG
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

remove typo
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

add precision
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Fix Saskia eagle eye typo ;)
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

indent question box to correct numbering of second step
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

remove unneeded > characters
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Oct 9 10:51:24 UTC 2018
  feed.xml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.html
Owners: @bebatut, @shiltemann

Added more background information, a new question for the visualization and enriched the ending
  topics/transcriptomics/images/Heinz_visualisation.png
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Rephrased the running time of DESeq2
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Some more edits
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

move question about handson
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Update text for tutorial
  topics/sequence-analysis/tutorials/nanopore/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Oct 9 12:14:30 UTC 2018
  feed.xml
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts_end.PNG
  topics/sequence-analysis/images/denovo_based_workflow.PNG
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.html
Owners: @bebatut, @shiltemann

Added a flowchart for Heinz, added a visualization of the result from the paper and adjusted the texts accordingly.
  .jekyll-metadata
  topics/transcriptomics/images/flowchart-heinz.png
  topics/transcriptomics/images/metaModules.png
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial_backup_to_delete.md
Owners: @bebatut, @shiltemann

Test adjusted
  .jekyll-metadata
Owners: @bebatut, @shiltemann

Removed the mistakenly added files
  .jekyll-metadata
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial_backup_to_delete.md
Owners: @bebatut, @shiltemann

Added some info about pathway and subnetwork
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

remove stray word
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Test requiring internal links to pass
  .travis.yml
  Makefile
Owners: @bebatut, @shiltemann

fix indentation
  Makefile
Owners: @bebatut, @shiltemann

add link to heinz publication
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Add script for validating tutorial/slides frontmatter
  .travis.yml
  Makefile
  bin/validate-frontmatter.rb
Owners: @bebatut, @shiltemann, @bgruening

skip disabled
  bin/validate-frontmatter.rb
Owners: @bebatut, @shiltemann, @bgruening

Added some explanations to the Heinz score.
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

A small test adjustment.
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Check contributors list
  bin/validate-frontmatter.rb
Owners: @bebatut, @shiltemann, @bgruening

Nicely convert the time estimation into a human readable string
  _layouts/tutorial_hands_on.html
  _plugins/jekyll-duration.rb
Owners: @bebatut, @shiltemann, @willdurand

Incorrectly referenced contributor
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

Fix contributor name
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/tutorial.md
Owners: @bebatut, @shiltemann
