Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

fix yamllint warnings
  metadata/instances.yaml
  templates/metadata.yaml
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tours/tour.yaml
  topics/chip-seq/tutorials/tal1-binding-site-identification/tours/tour.yaml
  topics/contributing/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
  topics/genome-annotation/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/proteomics/tutorials/protein-id-oms/tours/tour.yaml
  topics/proteomics/tutorials/protein-id-sg-ps/tours/tour.yaml
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tours/tour.yaml
  topics/sequence-analysis/tutorials/mapping/tours/tour.yaml
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/iwtomics/tours/tour.yaml
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/de-novo/tours/tour.yaml
  topics/transcriptomics/tutorials/ref-based/tools.yaml
  topics/transcriptomics/tutorials/ref-based/tours/tour.yaml
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/exome-seq/data-library.yaml
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

fix gitignore
  .gitignore
Owners: @bebatut, @shiltemann

use true/false values
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/contributing/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/statistics/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @bebatut, @shiltemann, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

use true/false values
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/contributing/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/statistics/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @bebatut, @shiltemann, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

use true/false values
  templates/metadata.yaml
Owners: @bebatut, @shiltemann

Disable truthyness annoyance
  .yamllint
Owners: @bebatut, @shiltemann

Revert "use true/false values"
  templates/metadata.yaml
Owners: @bebatut, @shiltemann

Revert "use true/false values"
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/contributing/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/statistics/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @bebatut, @shiltemann, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Revert "use true/false values"
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/contributing/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/statistics/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @bebatut, @shiltemann, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Partial revert of db1ebd1
  templates/metadata.yaml
  topics/admin/metadata.yaml
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/contributing/metadata.yaml
  topics/dev/metadata.yaml
  topics/epigenetics/metadata.yaml
  topics/genome-annotation/metadata.yaml
  topics/introduction/metadata.yaml
  topics/metagenomics/metadata.yaml
  topics/proteomics/metadata.yaml
  topics/sequence-analysis/metadata.yaml
  topics/statistics/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/ref-based/tools.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update on: Thu Jun 14 20:27:52 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja_notag.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Add bash script to run on all tutorial
  bin/create-data-libraries.sh
Owners: @bebatut, @shiltemann, @bgruening

Update doc on how to create the data library
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Owners: @bebatut, @shiltemann

Fix detection of Zenodo record
  bin/create-data-library.py
Owners: @bebatut, @shiltemann, @bgruening

Add mising data library files
  topics/assembly/tutorials/unicycler-assembly/data-library.yaml
  topics/epigenetics/tutorials/methylation-seq/data-library.yaml
  topics/proteomics/tutorials/metaproteomics/data-library.yaml
  topics/proteomics/tutorials/protein-id-oms/data-library.yaml
  topics/variant-analysis/tutorials/non-dip/data-library.yaml
Owners: @bebatut, @shiltemann

Fix identation
  bin/create-data-library.py
  topics/assembly/tutorials/unicycler-assembly/data-library.yaml
Owners: @bebatut, @shiltemann, @bgruening

Add script to create data library file from Zenodo info in the metadata file
  bin/create-data-library.py
Owners: @bebatut, @shiltemann, @bgruening

Regenerate all data library file
  topics/assembly/tutorials/debruijn-graph-assembly/data-library.yaml
  topics/assembly/tutorials/ecoli_comparison/data-library.yaml
  topics/assembly/tutorials/general-introduction/data-library.yaml
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/data-library.yaml
  topics/chip-seq/tutorials/tal1-binding-site-identification/data-library.yaml
  topics/epigenetics/tutorials/hicexplorer/data-library.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/data-library.yaml
  topics/genome-annotation/tutorials/genome-annotation/data-library.yaml
  topics/introduction/tutorials/galaxy-intro-peaks2genes/data-library.yaml
  topics/metagenomics/tutorials/general-tutorial/data-library.yaml
  topics/metagenomics/tutorials/mothur-miseq-sop/data-library.yaml
  topics/proteomics/tutorials/protein-id-sg-ps/data-library.yaml
  topics/proteomics/tutorials/protein-quant-sil/data-library.yaml
  topics/proteomics/tutorials/secretome-prediction/data-library.yaml
  topics/sequence-analysis/tutorials/de-novo-rad-seq/data-library.yaml
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/data-library.yaml
  topics/sequence-analysis/tutorials/mapping/data-library.yaml
  topics/sequence-analysis/tutorials/quality-control/data-library.yaml
  topics/sequence-analysis/tutorials/ref-based-rad-seq/data-library.yaml
  topics/statistics/tutorials/iwtomics/data-library.yaml
  topics/transcriptomics/tutorials/de-novo/data-library.yaml
  topics/transcriptomics/tutorials/ref-based/data-library.yaml
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/data-library.yaml
  topics/transcriptomics/tutorials/srna/data-library.yaml
  topics/variant-analysis/tutorials/exome-seq/data-library.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/data-library.yaml
  topics/variant-analysis/tutorials/microbial-variants/data-library.yaml
Owners: @bebatut, @shiltemann

creation tutorial for variants analysis with snpeff (Pa14 data)
  topics/variant-analysis/tutorials/snpeff_variants/data-library.yaml
  topics/variant-analysis/tutorials/snpeff_variants/tools.yaml
  topics/variant-analysis/tutorials/snpeff_variants/tours/tour.yaml
  topics/variant-analysis/tutorials/snpeff_variants/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja_notag.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Replace Edit by View for GitHub link in header
  _includes/default-header.html
Owners: @bebatut, @shiltemann, @willdurand

Clarify some contribution steps
  topics/contributing/tutorials/github-interface-contribution/tutorial.md
Owners: @bebatut, @shiltemann

Add local copy update step
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
Owners: @bebatut, @shiltemann

Clarify and comments for some steps
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
Owners: @bebatut, @shiltemann

Some english changes + add tip on re-adding remote
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
Owners: @bebatut, @shiltemann

Fix some things from in-person discussion
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Jun 18 12:46:09 UTC 2018
  badges/index.html
  faq.html
  feed.xml
  hall-of-fame.html
  index.html
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/contributing/index.html
  topics/contributing/tutorials/github-command-line-contribution/tutorial.html
  topics/contributing/tutorials/github-interface-contribution/tutorial.html
  topics/dev/index.html
  topics/epigenetics/index.html
  topics/epigenetics/tutorials/methylation-seq/workflows/methylation-seq.ga
  topics/genome-annotation/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/statistics/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Add overall tutorial about tutorial creation and clarify linked tutorials
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Fix some links in the README file
  README.md
Owners: @bebatut, @shiltemann

Update on: Mon Jun 18 14:35:11 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Fix Jen's Twitter username
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

advancing snpeff training
  topics/variant-analysis/images/collection_icon.png
  topics/variant-analysis/images/get_file_url.png
  topics/variant-analysis/images/multiqc_quality.png
  topics/variant-analysis/images/paste_urls.png
  topics/variant-analysis/images/upload_icon.png
  topics/variant-analysis/tutorials/snpeff_variants/tutorial.md
Owners: @bebatut, @shiltemann

fix broken link
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

lots of sentence rewrites
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

rewrite more things
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
Owners: @bebatut, @shiltemann

remove duplicate block
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
Owners: @bebatut, @shiltemann

remove trailing whitespace
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
Owners: @bebatut, @shiltemann
