Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
Owners: @bebatut, @shiltemann

yamllint
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tours/formation_of_super-structures_on_xi_qualitycontrol_mapping.yaml
Owners: @bebatut, @shiltemann

update zenodo links
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Owners: @bebatut, @shiltemann

fix link
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Nov 16 09:30:37 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
Owners: @bebatut, @shiltemann

add contact icons to avatars
  _layouts/training_philosophies.html
Owners: @bebatut, @shiltemann, @willdurand

yamllint
  topics/proteomics/tutorials/proteogenomics-dbcreation/tools.yaml
  topics/proteomics/tutorials/proteogenomics-dbsearch/tools.yaml
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tools.yaml
Owners: @bebatut, @shiltemann

Update workflows
  topics/statistics/tutorials/classification_regression/workflows/GradientBoostingRegression_TutorialWorkflow.ga
  topics/statistics/tutorials/classification_regression/workflows/LinearSupportVectorClassifier_TutorialWorkflow.ga
Owners: @bebatut, @shiltemann

fix link
  topics/instructors/philosophies/2018-11-01-erasche.md
Owners: @bebatut, @shiltemann

move to metagenomics topic
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/data-library.yaml
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/tools.yaml
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/tours/tour.yaml
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/tutorial.md
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/workflows/Workflow_Minimap2_Miniasm_Racon.ga
Owners: @bebatut, @shiltemann

update title
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/tutorial.md
Owners: @bebatut, @shiltemann

move images
  topics/metagenomics/images/nanopore_seqeunce_analysis/Bandage.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/Bandage_output.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/Miniasm.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/Minimap2.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/NanoPlot.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/NanoPlot_output.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/PlasFlow.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/Racon.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/StarAmr.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/Workflow.png
  topics/metagenomics/images/nanopore_seqeunce_analysis/sequence_method.jpg
Owners: @bebatut, @shiltemann

add snippets and fix formatting
  topics/metagenomics/tutorials/plasmid-metagenomics-nanopore/tutorial.md
Owners: @bebatut, @shiltemann

fix links
  _layouts/training_philosophies.html
Owners: @bebatut, @shiltemann, @willdurand

remove file
  metadata/instances.yaml
Owners: @bebatut, @shiltemann

add FAQ about sustainability
  faq.md
Owners: @bebatut, @shiltemann

Update on: Sat Nov 17 17:13:52 UTC 2018
  badges/cache/Detection%20and%20quantitation%20of%20N--termini%20(degradomics)%20via%20N--TAILS-Supported-green.svg
  badges/cache/EWAS%20Epigenome--Wide%20Association%20Studies%20Introduction-Supported-green.svg
  badges/cache/Identification%20of%20the%20binding%20sites%20of%20the%20T--cell%20acute%20lymphocytic%20leukemia%20protein%201%20(TAL1)-Supported-green.svg
  badges/cache/Peptide%20and%20Protein%20ID%20using%20OpenMS%20tools-Supported-green.svg
  badges/cache/Protein%20FASTA%20Database%20Handling-Supported-green.svg
  badges/cache/Reference--based%20RNA--Seq%20data%20analysis-Supported-green.svg
  badges/cache/Transcriptomics-6%2f9-orange.svg
  faq.html
  feed.xml
Owners: @bebatut, @shiltemann

add @mblue9 as maintainer
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
