Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update ml tutorial
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/machinelearning/images/ml_basics.png
  topics/statistics/tutorials/machinelearning/slides.html
Owners: @bebatut, @shiltemann

cloud-hosting params
  Makefile
Owners: @bebatut, @shiltemann

Update tutorial
  topics/statistics/tutorials/machinelearning/images/prediction.png
  topics/statistics/tutorials/machinelearning/images/variants_ml.png
  topics/statistics/tutorials/machinelearning/images/variants_ml.svg
  topics/statistics/tutorials/machinelearning/slides.html
Owners: @bebatut, @shiltemann

Enable boolean for enable parameter
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Add kpoterlowicz as contributor and update the contributor file
  CONTRIBUTORS.yaml
  topics/epigenetics/metadata.yaml
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79

Update on: Tue Aug 21 13:44:42 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update ml tutorial
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/machinelearning/images/afterexecution.png
  topics/statistics/tutorials/machinelearning/images/dataset.png
  topics/statistics/tutorials/machinelearning/images/runwf.png
  topics/statistics/tutorials/machinelearning/images/workflow.png
  topics/statistics/tutorials/machinelearning/slides.html
  topics/statistics/tutorials/machinelearning/workflows/Galaxy-Workflow-SVM.ga
  topics/statistics/tutorials/machinelearning/workflows/Galaxy-Workflow-Skearn-GradientTree-Boosting_Learningrate.ga
Owners: @bebatut, @shiltemann

Fix links
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
  topics/galaxy-ui/metadata.yaml
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.md
  topics/proteomics/tutorials/metaproteomics/tutorial.md
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
  topics/variant-analysis/tutorials/dip/tutorial.md
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Owners: @bebatut, @shiltemann

Update ml tutorial
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/machinelearning/images/usage_ml.png
  topics/statistics/tutorials/machinelearning/images/variants_ml.svg
  topics/statistics/tutorials/machinelearning/slides.html
  topics/statistics/tutorials/machinelearning/workflows/MachineLearning_Workflow.ga
Owners: @bebatut, @shiltemann

Update ml tutorial
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/machinelearning/data-library.yaml
  topics/statistics/tutorials/machinelearning/tools.yaml
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Aug 21 15:11:17 UTC 2018
  feed.xml
  topics/assembly/tutorials/ecoli_comparison/tutorial.html
  topics/galaxy-ui/tutorials/galaxy-intro-jupyter/tutorial.html
  topics/galaxy-ui/tutorials/history-to-workflow/tutorial.html
  topics/galaxy-ui/tutorials/history/tutorial.html
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.html
  topics/proteomics/tutorials/metaproteomics/tutorial.html
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.html
  topics/variant-analysis/tutorials/dip/tutorial.html
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.html
  topics/variant-analysis/tutorials/dunovo/tutorial.html
Owners: @bebatut, @shiltemann

Remove package json files and add github username
  CONTRIBUTORS.yaml
  package-lock.json
  package.json
  topics/statistics/metadata.yaml
Owners: @bebatut, @shiltemann

Remove empty lines
  package-lock.json
  package.json
Owners: @bebatut, @shiltemann

Check if zenodo parameter exists
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Tue Aug 21 15:52:06 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Add hands on and fix review comments
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/machinelearning/slides.html
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

add kasia name
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Add workflow and tests
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-job.yml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi-test.yml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Owners: @malloryfreeberg, @bebatut, @shiltemann

Update wf
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Owners: @bebatut, @shiltemann

Add formatted data library
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
Owners: @malloryfreeberg, @bebatut, @shiltemann

Updated the fasta files
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotFingerPrint.png
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

Add a new tutorial for ChIP-seq data analysis
  package-lock.json
  package.json
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotCorrelation.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotFingerPrint.png
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

Updated the data-library.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
Owners: @bebatut, @shiltemann

Detail and reformate the tutorial
  topics/chip-seq/images/formation_of_super-structures_on_xi/Chromatin_immunoprecipitation_sequencing.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/Chromatin_immunoprecipitation_sequencing.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/bamcompare_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/bamcoverage_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/graphical_abstract.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/histone_modifications.jpg
  topics/chip-seq/images/formation_of_super-structures_on_xi/macs2_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/peak_heatmap_1.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_adapter_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per base_sequence_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_base_n_content.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_base_sequence_quality.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_per_sequence_quality_scores.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read1_sequence_duplication_levels.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/read2_per_base_sequence_quality.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/rep1_igv.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.svg
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

Change includes_dir to the root
  _config.yml
  _includes/default-header.html
  _layouts/badges.html
  _layouts/faq.html
  _layouts/hall-of-fame.html
  _layouts/home.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Add import modules in ref-based tutorial
  _config.yml
  snippets/add_tag.md
  snippets/change_datatype.md
  snippets/import_from_data_library.md
  snippets/import_via_link.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

json file has issue
  package.json
Owners: @bebatut, @shiltemann

Add modular parts and fix comments
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/igv.md
  topics/sequence-analysis/tutorials/mapping/mapping_explanation.md
  topics/sequence-analysis/tutorials/quality-control/fastq_question.md
  topics/sequence-analysis/tutorials/quality-control/paired_end_question.md
Owners: @bebatut, @shiltemann

Remove GC bias section
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/tutorial-scheme.svg
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/workflows/formation_of_super_structures_on_xi.ga
Owners: @bebatut, @shiltemann

Remove changes on package files
  package-lock.json
  package.json
Owners: @bebatut, @shiltemann

small edits in the text
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann

small fixes here and there
  topics/genome-annotation/tutorials/annotation-with-maker/data-library.yaml
  topics/genome-annotation/tutorials/annotation-with-maker/tools.yaml
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

add .fa extension
  shared/datatypes.yaml
Owners: @bebatut, @shiltemann

Update on: Thu Aug 23 13:51:43 UTC 2018
  feed.xml
  snippets/add_tag.md
  snippets/change_datatype.md
  snippets/import_from_data_library.md
  snippets/import_via_link.md
  topics/transcriptomics/tutorials/ref-based/tutorial.html
Owners: @bebatut, @shiltemann

some progress, now test data on zenodo
  topics/genome-annotation/images/upload_data_page.png
  topics/genome-annotation/metadata.yaml
  topics/genome-annotation/tutorials/annotation-with-maker/data-library.yaml
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

Badly filled out slides no longer supported
  topics/proteomics/slides/introduction.html
  topics/sequence-analysis/slides/introduction.html
Owners: @bebatut, @shiltemann

Thanks @shiltemann
  _plugins/jekyll-topic-filter.rb
Owners: @bebatut, @shiltemann, @willdurand

fix faq
  faq.md
Owners: @bebatut, @shiltemann

more succinct counts
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

some small bugs
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
