Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Create tutorial_ja.md
  topics/assembly/tutorials/general-introduction/tutorial_ja.md
Owners: @bebatut, @shiltemann

Create tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Remove extra top metadata for slides
  topics/admin/tutorials/users-groups-quotas/slides.html
Owners: @bebatut, @shiltemann

Fix left column
  topics/admin/tutorials/users-groups-quotas/slides.html
Owners: @bebatut, @shiltemann

Remove extra top metadata for slides
  topics/admin/tutorials/monitoring-maintenance/slides.html
Owners: @bebatut, @shiltemann

Revert 42e58daebe
  topics/admin/tutorials/monitoring-maintenance/slides.html
Owners: @bebatut, @shiltemann

add level one title
  topics/admin/tutorials/monitoring-maintenance/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sun Jan 7 12:52:26 UTC 2018
  feed.xml
  index.html
  topics/admin/index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

Imrove tuto
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

add first cluster tutorial
  topics/admin/tutorials/connect-to-compute-cluster/slides.html
  topics/admin/tutorials/connect-to-compute-cluster/slurm-wlm-configurator.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Owners: @bebatut, @shiltemann

add metadata for the new Galaxy cluster tutorial and slides
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

Remove extra bottom metadata
  topics/admin/tutorials/connect-to-compute-cluster/slides.html
Owners: @bebatut, @shiltemann

Update on: Sun Jan 7 13:37:28 UTC 2018
  assets/css/slides.css
  feed.xml
  hall-of-fame.html
  index.html
  topics/admin/images/Library_roles.png
  topics/admin/images/dataset_roles.png
  topics/admin/index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
  topics/admin/tutorials/users-groups-quotas/slides.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/usegalaxy/tutorials/collections/collections.md.mdown
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

Update on: Sun Jan 7 13:51:31 UTC 2018
  feed.xml
  index.html
  topics/admin/index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/connect-to-compute-cluster/slides.html
  topics/admin/tutorials/connect-to-compute-cluster/slurm-wlm-configurator.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

add a bunch more links and remove `covered on....`
  topics/admin/tutorials/deployment-platforms-options/slides.html
Owners: @bebatut, @shiltemann

Improvements following ref-based tuto ones
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

fix/remove some links
  topics/admin/tutorials/connect-to-compute-cluster/slurm-wlm-configurator.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Owners: @bebatut, @shiltemann

First pass to homogeneize with ref-based
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tours/tour.yaml
Owners: @bebatut, @shiltemann

another instance of a munge link
  topics/admin/tutorials/connect-to-compute-cluster/slurm-wlm-configurator.html
Owners: @bebatut, @shiltemann

Update on: Sun Jan 7 15:40:07 UTC 2018
  feed.xml
  index.html
  topics/admin/index.html
  topics/admin/slides/introduction.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.html
  topics/admin/tutorials/database-schema/tutorial.html
  topics/admin/tutorials/deployment-platforms-options/slides.html
  topics/admin/tutorials/dev-to-production/tutorial.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

Update on: Sun Jan 7 15:51:03 UTC 2018
  feed.xml
  topics/admin/tutorials/connect-to-compute-cluster/slurm-wlm-configurator.html
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.html
Owners: @bebatut, @shiltemann

added explanation for FastQC drop
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Fix a typo in the slides
  topics/dev/tutorials/tool-integration/slides.html
Owners: @bebatut, @shiltemann

Update on: Mon Jan 8 17:30:05 UTC 2018
  feed.xml
  topics/dev/tutorials/tool-integration/slides.html
Owners: @bebatut, @shiltemann

Munge under Ubuntu has been fixed
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Owners: @bebatut, @shiltemann

Fix job_conf path
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Jan 10 16:22:35 UTC 2018
  feed.xml
  topics/admin/tutorials/connect-to-compute-cluster/tutorial.html
Owners: @bebatut, @shiltemann

Include fixes.
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Owners: @bebatut, @shiltemann

ignore http://drmaa.org
  Makefile
Owners: @bebatut, @shiltemann

PNG deletion to be in accordance with PR ref_based_RADseq
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Jan 20 13:36:15 UTC 2018
  Makefile
  feed.xml
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_charts_tablemodif.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_in_advancedparameter0.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_in_advancedparameter1.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_in_advancedparameter_compare_copy.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_in_advancedparameter_compare_paste.PNG
  topics/sequence-analysis/images/RAD4_Population_Genomics/Process_radtags_out_log.png
  topics/sequence-analysis/images/RAD4_Population_Genomics/reference/populations_in.png
  topics/sequence-analysis/images/RAD4_Population_Genomics/reference/reference_map_out.png
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.html
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.html
Owners: @bebatut, @shiltemann

remove nagios links
  topics/admin/tutorials/monitoring-maintenance/slides.html
Owners: @bebatut, @shiltemann

Update on: Sat Jan 20 16:32:01 UTC 2018
  feed.xml
  topics/admin/tutorials/monitoring-maintenance/slides.html
Owners: @bebatut, @shiltemann

Update on: Sat Jan 20 16:38:47 UTC 2018
  feed.xml
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.html
Owners: @bebatut, @shiltemann

Update Galaxy Team affiliations
  topics/introduction/slides/introduction.html
Owners: @bebatut, @shiltemann

Update on: Sun Jan 21 20:48:01 UTC 2018
  feed.xml
  topics/introduction/slides/introduction.html
Owners: @bebatut, @shiltemann

annotation with prokka: tutorial
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-library.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-manager.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/image00.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/image01.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/image02.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/interface.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse2.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse3.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse4.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse5.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse6.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse_01.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse_int.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse_interface.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse_oldversion.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/scratchbook.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/slides.html
  topics/sequence-analysis/tutorials/annotation-with-prokka/tools.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/tours/tour.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
  topics/sequence-analysis/tutorials/annotation-with-prokka/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

delted content of tour.yml; will add later
  topics/sequence-analysis/tutorials/annotation-with-prokka/tours/tour.yaml
Owners: @bebatut, @shiltemann

also updated metadata.yml
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff
