Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Add a new tutorial for ChIP-seq data analysis
  package-lock.json
  package.json
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotCorrelation.png
  topics/chip-seq/images/formation_of_super-structures_on_xi/plotFingerPrint.png
  topics/chip-seq/metadata.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/data-library.yaml
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

overrideable defaults
  Makefile
Owners: @bebatut, @shiltemann

inserted scrna topic
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

begun on intro
  topics/transcriptomics/tutorials/scrna/data-library.yaml
  topics/transcriptomics/tutorials/scrna/data-manager.yaml
  topics/transcriptomics/tutorials/scrna/tools.yaml
  topics/transcriptomics/tutorials/scrna/tours/tour.yaml
  topics/transcriptomics/tutorials/scrna/tutorial.md
  topics/transcriptomics/tutorials/scrna/tutorial.md~
  topics/transcriptomics/tutorials/scrna/workflows/celseq2.general2.ga
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
