Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

As per reviewer comments
  topics/variant-analysis/tutorials/microbial-variants/tutorial.md
Owners: @bebatut, @shiltemann

Fix Bjorn's comments
  topics/transcriptomics/images/rnaseq_library_type.svg
  topics/transcriptomics/tutorials/ref-based/tools.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

corrected workflow
  topics/epigenetics/tutorials/hicexplorer/workflows/Galaxy-Workflow-Galaxy_Hi-C.ga
Owners: @bebatut, @shiltemann

Update on: Mon Feb 26 16:52:17 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/variant-analysis/images/interface.png
  topics/variant-analysis/images/jbrowse1.png
  topics/variant-analysis/images/jbrowse2.png
  topics/variant-analysis/images/micro-start-history.png
  topics/variant-analysis/index.html
  topics/variant-analysis/slides/introduction.html
  topics/variant-analysis/tutorials/dip/tutorial.html
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.html
  topics/variant-analysis/tutorials/dunovo/tutorial.html
  topics/variant-analysis/tutorials/exome-seq/tutorial.html
  topics/variant-analysis/tutorials/microbial-variants/tutorial.html
  topics/variant-analysis/tutorials/non-dip/tutorial.html
Owners: @bebatut, @shiltemann, @TorHou

Fix Nicola's comment
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Fix some typos and DEXseq section
  topics/transcriptomics/tutorials/ref-based/tools.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
  topics/transcriptomics/tutorials/ref-based/workflows/full_workflow.ga
Owners: @bebatut, @shiltemann

Update Zenodo link and the data library
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/ref-based/data-library.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @malloryfreeberg, @shiltemann

IWTomics tutorial update
  CONTRIBUTORS.yaml
  metadata/statistics.yaml
  topics/statistics/images/load_smooth_and_plot_output.png
  topics/statistics/images/plot_with_threshold_on_test_scale_output.png
  topics/statistics/images/test_and_plot_output.png
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/iwtomics/data-library.yaml
  topics/statistics/tutorials/iwtomics/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Tue Feb 27 22:07:21 UTC 2018
  feed.xml
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
Owners: @bebatut, @shiltemann

small tweaks
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

added US funding and changed wording in the footer
  _includes/default-footer.html
  _layouts/home.html
  shared/images/nih.png
  shared/images/nsf.gif
  shared/images/psu.png
Owners: @bebatut, @shiltemann, @willdurand

Add site.baseurl for image path
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Wed Feb 28 07:02:39 UTC 2018
  feed.xml
  topics/transcriptomics/images/five_type_rna_seq_reads.png
  topics/transcriptomics/images/five_type_rna_seq_reads.svg
  topics/transcriptomics/images/gene_counting.png
  topics/transcriptomics/images/gene_counting.svg
  topics/transcriptomics/images/junction_igv_screenshot.png
  topics/transcriptomics/images/ref_based_most_de_gene_heatmap.png
  topics/transcriptomics/images/rnaseq_library_type.png
  topics/transcriptomics/images/rnaseq_library_type.svg
  topics/transcriptomics/images/splice_aware_alignment.png
  topics/transcriptomics/images/splice_aware_alignment.svg
  topics/transcriptomics/images/spliced_read.png
  topics/transcriptomics/images/spliced_read.svg
  topics/transcriptomics/images/star.png
  topics/transcriptomics/images/star_igv_sashimi.png
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
  topics/transcriptomics/tutorials/ref-based/workflows/count_table_extraction_for_one_sample.ga
  topics/transcriptomics/tutorials/ref-based/workflows/full_workflow.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc_mapping_counting.ga
Owners: @bebatut, @shiltemann, @malloryfreeberg

fix type reported by Ralf
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Feb 28 09:44:20 UTC 2018
  feed.xml
  topics/epigenetics/tutorials/methylation-seq/tutorial.html
Owners: @bebatut, @shiltemann

make more readable
  Makefile
Owners: @bebatut, @shiltemann

add --url-swap option to htmlproofer to check fork and/or branch of origin for new files
  .travis.yml
  Makefile
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

unbreak for local testing
  .travis.yml
  Makefile
Owners: @bebatut, @shiltemann

TAD plot
  topics/epigenetics/images/plotTADs.png
Owners: @bebatut, @shiltemann

syntax fix
  .travis.yml
Owners: @bebatut, @shiltemann

Update on: Wed Feb 28 17:23:37 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  shared/images/nih.png
  shared/images/nsf.gif
  shared/images/psu.png
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/dev/index.html
  topics/epigenetics/images/plotTADs.png
  topics/epigenetics/index.html
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/training/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

fix wrong tool name
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

plot matrix image
  topics/epigenetics/images/plotMatrix.png
Owners: @bebatut, @shiltemann

Update on: Wed Feb 28 19:46:01 UTC 2018
  feed.xml
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Wed Feb 28 20:24:44 UTC 2018
  feed.xml
  topics/epigenetics/images/plotMatrix.png
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Mar 1 09:50:50 UTC 2018
  feed.xml
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
Owners: @bebatut, @shiltemann

Very minor improvements
  topics/epigenetics/tutorials/methylation-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Exchange image of TADs
  topics/epigenetics/images/plotTADs.png
Owners: @bebatut, @shiltemann

Update on: Thu Mar 1 11:00:57 UTC 2018
  feed.xml
  topics/epigenetics/images/plotTADs.png
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
  topics/epigenetics/tutorials/methylation-seq/tutorial.html
Owners: @bebatut, @shiltemann

removing screenshots for tool settings
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
  topics/transcriptomics/tutorials/srna/tutorial.md
  topics/variant-analysis/tutorials/dip/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @bebatut, @shiltemann

added sentence to exaplin when a PR will be merged
  CONTRIBUTING.md
Owners: @bebatut, @shiltemann

style for parameter boxes
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
  topics/transcriptomics/tutorials/srna/tutorial.md
  topics/variant-analysis/tutorials/dip/tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @bebatut, @shiltemann

remove link
  CONTRIBUTING.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
