Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

s/take a moment and/take a moment to/
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

improve hands-on page footers (#717)
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

mapping-by-sequencing tutorial: add workflow
  topics/variant-analysis/tutorials/mapping-by-sequencing/workflows/workflow-arabidopsis.ga
Owners: @bebatut, @shiltemann

update metadata to include workflow
  topics/variant-analysis/metadata.yaml
Owners: @TorHou

Fix explanation of tour builder web extension
  topics/training/tutorials/create-new-tutorial-tours/tutorial.md
Owners: @bebatut, @shiltemann

Add constraints on travis-ci
  .travis.yml
Owners: @bebatut, @shiltemann

Update on: Fri Mar 16 11:00:03 UTC 2018
  feed.xml
  topics/training/tutorials/create-new-tutorial-tours/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Fri Mar 16 11:16:24 UTC 2018
  feed.xml
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
  topics/variant-analysis/index.html
  topics/variant-analysis/tutorials/mapping-by-sequencing/workflows/workflow-arabidopsis.ga
Owners: @bebatut, @shiltemann, @TorHou

Run htmlproofer but allow it to fail
  .travis.yml
Owners: @bebatut, @shiltemann

Fix..
  .travis.yml
Owners: @bebatut, @shiltemann

Create tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update on: Mon Mar 19 09:19:16 UTC 2018
  .travis.yml
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Mon Mar 19 09:27:17 UTC 2018
  .travis.yml
  Makefile
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Mon Mar 19 10:41:35 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Fix typo
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

Update Gemfile.lock
  Gemfile.lock
Owners: @bebatut, @shiltemann

Stop updating ruby dependencies
  Makefile
Owners: @bebatut, @shiltemann

Fix typo (#724)
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

Update on: Wed Mar 21 21:56:18 UTC 2018
  feed.xml
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja.md
Owners: @bebatut, @shiltemann

Create tutorial_ja_notag.md
  topics/introduction/tutorials/galaxy-intro-strands/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Create tutorial_ja_notag.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Fix boolean metadata in templates
  templates/metadata.yaml
Owners: @bebatut, @shiltemann

Fix comment box in template
  templates/tutorials/tutorial1/tutorial.md
Owners: @bebatut, @shiltemann

Fix boolean metadata in tutorial
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
Owners: @bebatut, @shiltemann

add direct zenodo urls
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

fix formatting for easier copy pasting
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

update tutorial for mothur version 1.39.5
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

Fix link to GSM461182_untreat_single_subset.fastq
  topics/sequence-analysis/tutorials/mapping/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Apr 4 04:42:30 UTC 2018
  feed.xml
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.html
Owners: @bebatut, @shiltemann

Improving the general metagenomic tutorial
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Fix Saskia's comments
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Fix Saskia's comments (2)
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

fix link to usegalaxy.eu's grafana page
  topics/admin/tutorials/monitoring-maintenance/slides.html
Owners: @bebatut, @shiltemann

Update on: Wed Apr 4 11:55:16 UTC 2018
  feed.xml
  topics/metagenomics/tutorials/general-tutorial/tutorial.html
Owners: @bebatut, @shiltemann

Improving the tool description
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Apr 4 12:35:09 UTC 2018
  feed.xml
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.html
Owners: @bebatut, @shiltemann

Fix copy path for training tutorial
  topics/training/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Wed Apr 4 14:04:46 UTC 2018
  feed.xml
  topics/admin/tutorials/monitoring-maintenance/slides.html
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
