Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Update on: Fri Mar 2 09:10:29 UTC 2018
  feed.xml
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
Owners: @bebatut, @shiltemann

Update tutorial.md Hi-C
  topics/epigenetics/tutorials/hicexplorer/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Mar 3 16:54:58 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

extend the metadata a little bit to mention JBrowse
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

Update metadata.yaml
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

Delete image00.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/image00.png
Owners: @bebatut, @shiltemann

Delete image01.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/image01.png
Owners: @bebatut, @shiltemann

Delete image02.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/image02.png
Owners: @bebatut, @shiltemann

Delete jbrowse.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse.png
Owners: @bebatut, @shiltemann

Delete jbrowse2.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse2.png
Owners: @bebatut, @shiltemann

Delete jbrowse3.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse3.png
Owners: @bebatut, @shiltemann

Delete jbrowse4.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse4.png
Owners: @bebatut, @shiltemann

Delete jbrowse5.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse5.png
Owners: @bebatut, @shiltemann

Delete jbrowse_01.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse_01.png
Owners: @bebatut, @shiltemann

Delete jbrowse_int.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse_int.png
Owners: @bebatut, @shiltemann

Delete jbrowse_interface.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse_interface.png
Owners: @bebatut, @shiltemann

Delete jbrowse_oldversion.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse_oldversion.png
Owners: @bebatut, @shiltemann

Delete scratchbook.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/scratchbook.png
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

added galaxy tour
  topics/epigenetics/tutorials/hicexplorer/tours/tour.yaml
Owners: @bebatut, @shiltemann

annotation with prokka: tutorial (#663)
  topics/sequence-analysis/metadata.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/data-library.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/annotation_details.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/interface.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse6.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/prokka_pipeline.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/seq_annotation.jpg
  topics/sequence-analysis/tutorials/annotation-with-prokka/slides.html
  topics/sequence-analysis/tutorials/annotation-with-prokka/tools.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/tours/tour.yaml
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.md
  topics/sequence-analysis/tutorials/annotation-with-prokka/workflows/Galaxy-Workflow-Workflow_constructed_from_history__prokka-workflow_.ga
Owners: @yvanlebras, @bebatut, @joachimwolff, @shiltemann

Update on: Tue Mar 6 18:21:42 UTC 2018
  feed.xml
  index.html
  topics/sequence-analysis/index.html
  topics/sequence-analysis/slides/introduction.html
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/annotation_details.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/interface.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/jbrowse6.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/prokka_pipeline.png
  topics/sequence-analysis/tutorials/annotation-with-prokka/images/seq_annotation.jpg
  topics/sequence-analysis/tutorials/annotation-with-prokka/slides.html
  topics/sequence-analysis/tutorials/annotation-with-prokka/tutorial.html
  topics/sequence-analysis/tutorials/annotation-with-prokka/workflows/Galaxy-Workflow-Workflow_constructed_from_history__prokka-workflow_.ga
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Fix metadata and tool description
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/tools.yaml
Owners: @TorHou, @bebatut, @shiltemann

add mapping-by-sequencing tutorial
  topics/variant-analysis/images/mbs_scheme.png
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/data-library.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/tools.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
Owners: @bebatut, @shiltemann, @TorHou

parameter->value order in hands-on sections
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
Owners: @bebatut, @shiltemann

fix a hyperlink, trailing whitespaces and yaml quoting
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/tools.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
Owners: @TorHou, @bebatut, @shiltemann

Update on: Wed Mar 7 16:16:18 UTC 2018
  feed.xml
  index.html
  topics/variant-analysis/images/mbs_scheme.png
  topics/variant-analysis/index.html
  topics/variant-analysis/slides/introduction.html
  topics/variant-analysis/tutorials/dip/tutorial.html
  topics/variant-analysis/tutorials/diploid-variant-calling/tutorial.html
  topics/variant-analysis/tutorials/dunovo/tutorial.html
  topics/variant-analysis/tutorials/exome-seq/tutorial.html
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.html
  topics/variant-analysis/tutorials/microbial-variants/tutorial.html
  topics/variant-analysis/tutorials/non-dip/tutorial.html
Owners: @bebatut, @shiltemann, @TorHou

update nokogiri which has a small problem
  Gemfile.lock
Owners: @bebatut, @shiltemann

add format parameter to unique.seqs tool
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

mapping-by-sequencing tutorial: change title
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
Owners: @TorHou, @bebatut, @shiltemann

mapping-by-sequencing tutorial: change title (#716)
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.md
Owners: @TorHou, @bebatut, @shiltemann

Update on: Thu Mar 8 10:05:25 UTC 2018
  feed.xml
  topics/variant-analysis/index.html
  topics/variant-analysis/tutorials/mapping-by-sequencing/tutorial.html
Owners: @bebatut, @shiltemann, @TorHou

set clustering method to average neighbour
  topics/metagenomics/tutorials/general-tutorial/tutorial.md
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
Owners: @bebatut, @shiltemann

improve hands-on page footers
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann
