Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Edited screenshots
  topics/proteomics/images/example_featureAnnotation.png
  topics/proteomics/images/protein-quant-sil_example_contaminant.png
  topics/proteomics/images/protein-quant-sil_example_contaminant_2D.png
  topics/proteomics/images/protein-quant-sil_example_contaminant_3D.png
  topics/proteomics/images/protein-quant-sil_example_highAbundant.png
  topics/proteomics/images/protein-quant-sil_example_highAbundant_2D.png
  topics/proteomics/images/protein-quant-sil_example_highAbundant_3D.png
  topics/proteomics/images/protein-quant-sil_example_lowAbundant.png
  topics/proteomics/images/protein-quant-sil_example_lowAbundant_2D.png
  topics/proteomics/images/protein-quant-sil_example_lowAbundant_3D.png
  topics/proteomics/images/protein-quant-sil_problem_noFeature.png
  topics/proteomics/images/protein-quant-sil_problem_noFeature_2D.png
  topics/proteomics/images/protein-quant-sil_problem_noFeature_3D.png
  topics/proteomics/images/protein-quant-sil_problem_noID.png
  topics/proteomics/images/protein-quant-sil_problem_noMapping.png
  topics/proteomics/images/protein-quant-sil_problem_noMapping_2D.png
  topics/proteomics/images/protein-quant-sil_problem_noMapping_3D.png
  topics/proteomics/images/protein-quant-sil_showConsensus.png
  topics/proteomics/images/protein-quant-sil_showProjections.png
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Fixed broken internal link, 2nd try
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

finished evaluation section, uploaded screenshots for figures
  topics/proteomics/images/protein-quant-sil_example_contaminant_2D.png
  topics/proteomics/images/protein-quant-sil_example_contaminant_3D.png
  topics/proteomics/images/protein-quant-sil_example_highAbundant_2D.png
  topics/proteomics/images/protein-quant-sil_example_highAbundant_3D.png
  topics/proteomics/images/protein-quant-sil_example_lowAbundant_2D.png
  topics/proteomics/images/protein-quant-sil_example_lowAbundant_3D.png
  topics/proteomics/images/protein-quant-sil_problem_noFeature_2D.png
  topics/proteomics/images/protein-quant-sil_problem_noFeature_3D.png
  topics/proteomics/images/protein-quant-sil_problem_noID.png
  topics/proteomics/images/protein-quant-sil_problem_noMapping_2D.png
  topics/proteomics/images/protein-quant-sil_problem_noMapping_3D.png
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Repaired figures and fixed display problems
  topics/proteomics/images/protein-quant-sil_example_featureAnnotation.png
  topics/proteomics/images/protein-quant-sil_showConsensus.png
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Remove copy of proteomics tutorial at the root
  Proteomics/tutorials/proteinQuant_SIL.md
Owners: @bebatut, @shiltemann

Fix internal links in tutorial
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Add tour metadata for de-novo tutorial
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

Update on: Mon Jan 29 15:07:43 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Remove mention of instances in metadata files
  topics/training/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @bebatut, @bgruening, @TorHou

added tour for estrogen receptor binding site identification
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update on: Mon Jan 29 16:11:00 UTC 2018
  feed.xml
  topics/proteomics/images/protein-quant-sil_example_contaminant.png
  topics/proteomics/images/protein-quant-sil_example_featureAnnotation.png
  topics/proteomics/images/protein-quant-sil_example_highAbundant.png
  topics/proteomics/images/protein-quant-sil_example_lowAbundant.png
  topics/proteomics/images/protein-quant-sil_ms1feature.png
  topics/proteomics/images/protein-quant-sil_problem_noFeature.png
  topics/proteomics/images/protein-quant-sil_problem_noID.png
  topics/proteomics/images/protein-quant-sil_problem_noMapping.png
  topics/proteomics/images/protein-quant-sil_showConsensus.png
  topics/proteomics/images/protein-quant-sil_showProjections.png
  topics/proteomics/index.html
  topics/proteomics/tutorials/ntails/tutorial.html
  topics/proteomics/tutorials/protein-quant-sil/tutorial.html
  topics/proteomics/tutorials/protein-quant-sil/workflows/workflow.ga
  topics/proteomics/tutorials/secretome-prediction/tutorial.html
Owners: @bebatut, @shiltemann, @Stortebecker, @bgruening, @blankclemens

Add tour metadata for chip-seq oestrogene tutorial
  topics/chip-seq/metadata.yaml
Owners: @malloryfreeberg

Update on: Mon Jan 29 16:29:18 UTC 2018
  feed.xml
  topics/chip-seq/index.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

added tour and tools for metaproteomics
  topics/proteomics/tutorials/metaproteomics/tools.yaml
  topics/proteomics/tutorials/metaproteomics/tours/tour.yaml
Owners: @bebatut, @shiltemann

add missing </ul>
  topics/proteomics/tutorials/metaproteomics/tours/tour.yaml
Owners: @bebatut, @shiltemann

Add tour metadata
  topics/proteomics/metadata.yaml
Owners: @Stortebecker, @bgruening, @blankclemens

adjusted tour to changes in the tutorial
  topics/proteomics/tutorials/metaproteomics/tours/tour.yaml
Owners: @bebatut, @shiltemann

Reformate the technical tutorial to incorporate not only Docker
  environment.yml
  topics/training/metadata.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/data-library.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/data-manager.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/tools.yaml
  topics/training/tutorials/create-new-tutorial-technical-infrastructure/tutorial.md
Owners: @bebatut, @shiltemann, @bgruening

Fix links to the renamed tutorial
  topics/training/tutorials/create-new-tutorial-content/tutorial.md
  topics/training/tutorials/create-new-tutorial-jekyll/tutorial.md
  topics/training/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/training/tutorials/create-new-tutorial-tours/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

change some slides, remove travis and fix images path
  topics/dev/images/circleci-logo.png
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

remove reduce for a command line
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

update github contribution slides
  topics/dev/images/PR_branch_master.png
  topics/dev/images/PR_branches_01.png
  topics/dev/images/PR_branches_02.png
  topics/dev/images/PR_merged_branche.png
  topics/dev/images/PR_url.png
  topics/dev/metadata.yaml
  topics/dev/tutorials/github-contribution/slides.html
Owners: @bebatut, @shiltemann, @lecorguille

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

try to fix some links and missing files
  assets/css/bootstrap.min.css
  assets/css/bootstrap.min.css.map
  assets/js/popper.min.js.map
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/sequence-analysis/metadata.yaml
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

fix some wrong urls
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/github-contribution/slides.html
  topics/dev/tutorials/webhooks/slides.html
Owners: @bebatut, @shiltemann

restore boostrap v4.0.0-beta
  assets/css/bootstrap.min.css
  assets/css/bootstrap.min.css.map
Owners: @bebatut, @shiltemann

fix 'pypi packages' duplicate
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

fix conda search erros
  topics/dev/tutorials/conda/slides.html
Owners: @bebatut, @shiltemann

Delete bootstrap.min.css.map
  assets/css/bootstrap.min.css.map
Owners: @bebatut, @shiltemann

Delete popper.min.js.map
  assets/js/popper.min.js.map
Owners: @bebatut, @shiltemann

Update on: Fri Feb 9 10:21:18 UTC 2018
  feed.xml
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/dev/images/PR_branch_master.png
  topics/dev/images/PR_branches_01.png
  topics/dev/images/PR_branches_02.png
  topics/dev/images/PR_merged_branche.png
  topics/dev/images/PR_url.png
  topics/dev/images/circleci-logo.png
  topics/dev/tutorials/architecture/slides.html
  topics/dev/tutorials/conda/slides.html
  topics/dev/tutorials/github-contribution/slides.html
  topics/dev/tutorials/webhooks/slides.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
  topics/sequence-analysis/index.html
  topics/variant-analysis/tutorials/dunovo/tutorial.html
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

changes in tour adjusted to comments
  topics/transcriptomics/tutorials/srna/tours/tour.yaml
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann

Update tutorial_ja.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja.md
Owners: @bebatut, @shiltemann
