Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Update on: Fri Jun 29 18:51:57 UTC 2018
  feed.xml
  hall-of-fame.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/transcriptomics/tutorials/de-novo/tutorial.html
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/database-handling/tutorial.md
Owners: @bebatut, @shiltemann

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update readme.md
  topics/proteomics/tutorials/database-handling/workflows/readme.md
Owners: @bebatut, @shiltemann

changes complying to recommended aesthetic
  package-lock.json
  package.json
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/snpeff-variants/data-library.yaml
  topics/variant-analysis/tutorials/snpeff-variants/tools.yaml
  topics/variant-analysis/tutorials/snpeff-variants/tours/tour.yaml
  topics/variant-analysis/tutorials/snpeff-variants/tutorial.md
Owners: @bebatut, @shiltemann, @TorHou

Update tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/labelfree-vs-labelled/tutorial.md
Owners: @bebatut, @shiltemann

Language RAD-Seq to construct genetic maps
  topics/sequence-analysis/tutorials/genetic-map-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Update README.md
  topics/proteomics/README.md
Owners: @Stortebecker, @bgruening, @blankclemens

Update tutorial.md
  topics/proteomics/tutorials/protein-id-sg-ps/tutorial.md
Owners: @bebatut, @shiltemann

Fix contributor file
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/database-handling/tutorial.md
Owners: @bebatut, @shiltemann

more compliance to aesthetic standards and progress on the tutorial
  topics/variant-analysis/metadata.yaml
  topics/variant-analysis/tutorials/snpeff-variants/tutorial.md
Owners: @TorHou, @bebatut, @shiltemann

Fix internal link inside command line tutorial
  topics/contributing/tutorials/github-command-line-contribution/tutorial.md
Owners: @bebatut, @shiltemann

add data info to tutorial
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

Set up the ewes-suite tutorial
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

add data info to tutorial
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

Set up the ewas analysis tutorial
  topics/epigenetics/tutorials/ewas-suite/data-library.yaml
  topics/epigenetics/tutorials/ewas-suite/data-manager.yaml
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/epigenetics/tutorials/ewas-suite/tools.yaml
  topics/epigenetics/tutorials/ewas-suite/tours/tour.yaml
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
  topics/epigenetics/tutorials/ewas-suite/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

add data info to tutorial
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

markdown update
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
  topics/epigenetics/tutorials/ewas-suite/workflows/Galaxy-Workflow-EWAS.ga
  topics/epigenetics/tutorials/ewas-suite/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

workflow with drop SNPs
  topics/epigenetics/tutorials/ewas-suite/workflows/Galaxy-Workflow-EWAS.ga
  topics/epigenetics/tutorials/ewas-suite/workflows/ewas_training.ga
Owners: @bebatut, @shiltemann

test
  templates/tutorials/ewas-suite/data-library.yaml
  templates/tutorials/ewas-suite/data-manager.yaml
  templates/tutorials/ewas-suite/slides.html
  templates/tutorials/ewas-suite/tools.yaml
  templates/tutorials/ewas-suite/tours/tour.yaml
  templates/tutorials/ewas-suite/tutorial.md
  templates/tutorials/ewas-suite/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

fork master
  _config.yml
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

graphics added to tutorial
  data-library.yaml
  slides.html
  tutorial.md
  workflows/ewas_training.ga
Owners: @bebatut, @shiltemann

update introduction
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

update
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

new slides included
  topics/epigenetics/tutorials/ewas-suite/slides.html
Owners: @bebatut, @shiltemann

galaxy tour updated
  tour.yaml
Owners: @bebatut, @shiltemann

slides and text
  topics/epigenetics/images/ewas_chart.png
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/epigenetics/tutorials/ewas-suite/tools.yaml
  topics/epigenetics/tutorials/ewas-suite/tours/tour.yaml
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
  topics/epigenetics/tutorials/ewas-suite/workflows/ewas_training.ga
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79

update format question 1
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

new graphic for slides included
  topics/epigenetics/images/Epigenetic_mechanisms.jpg
  topics/epigenetics/images/ewas_chart.png
  topics/epigenetics/images/ewaschart1.png
  topics/epigenetics/images/ewaschart2.png
  topics/epigenetics/images/methylationassay.png
Owners: @bebatut, @shiltemann

new slides included
  topics/epigenetics/tutorials/ewas-suite/slides.html
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/database-handling/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorials about new tutorials and topics to use setup script
  topics/contributing/metadata.yaml
  topics/contributing/tutorials/create-new-topic/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-metadata/tutorial.md
  topics/contributing/tutorials/create-new-tutorial/tutorial.md
Owners: @bebatut, @shiltemann

Create script to setup new topic and tutorial
  bin/setup_training_content.py
  environment.yml
  templates/index.md
  templates/metadata.yaml
  templates/tutorials/tutorial1/slides.html
  templates/tutorials/tutorial1/tutorial.md
Owners: @bebatut, @shiltemann, @bgruening

Update tutorial.md
  topics/proteomics/tutorials/labelfree-vs-labelled/tutorial.md
Owners: @bebatut, @shiltemann

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Fix yaml formatting
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

update
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

Add files via upload
  topics/epigenetics/images/funcann.pdf
Owners: @bebatut, @shiltemann
