Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Add `Select first lines from a dataset` mention
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Add files via upload
  topics/ecology/tutorials/regionalGAM/Images/Pyronia_tithonus_phenology_stacked_explicit_ID.png
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Remove links to external tutos
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

update complete workflow
  topics/ecology/tutorials/workflows/Galaxy-Workflow-Tutorila_training_regionalGAM_complete_workflow (1).ga
Owners: @bebatut, @shiltemann

Delete Galaxy-Workflow-Tutorila_training_regionalGAM_complete_workflow.ga
  topics/ecology/tutorials/workflows/Galaxy-Workflow-Tutorila_training_regionalGAM_complete_workflow.ga
Owners: @bebatut, @shiltemann

mirror of https://github.com/galaxyproject/planemo/pull/868/files
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

some english/clarity stuff
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann

Pin planemo version
  environment.yml
Owners: @bebatut, @shiltemann

Add custom 404 page
  404.md
  _layouts/404.html
Owners: @bebatut, @shiltemann, @willdurand

the number 404 instead of a string seemed to cause issues?
  404.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Add trend images
  topics/ecology/tutorials/regionalGAM/Images/trend_adjusted.png
  topics/ecology/tutorials/regionalGAM/Images/trend_simple.png
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Sep 13 09:29:21 UTC 2018
  404.html
  feed.xml
Owners: @bebatut, @shiltemann

Add relative PATH
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update on: Thu Sep 13 09:56:36 UTC 2018
  feed.xml
  snippets/rename_dataset.md
  snippets/select_multiple_datasets.md
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/mapping_explanation.md
  topics/sequence-analysis/tutorials/quality-control/fastq_question.md
  topics/sequence-analysis/tutorials/quality-control/paired_end_question.md
  topics/sequence-analysis/tutorials/quality-control/trimming_question.md
  topics/transcriptomics/images/gene_counting.png
  topics/transcriptomics/images/gene_counting.svg
  topics/transcriptomics/images/ref-based/deseq2_pca.png
  topics/transcriptomics/images/ref-based/deseq2_sample_sample_distance_heatmap.png
  topics/transcriptomics/images/ref-based/fastqc_per_base_n_content_plot.png
  topics/transcriptomics/images/ref-based/fastqc_per_base_sequence_quality_plot.png
  topics/transcriptomics/images/ref-based/fastqc_per_sequence_gc_content_plot.png
  topics/transcriptomics/images/ref-based/fastqc_per_sequence_quality_scores_plot.png
  topics/transcriptomics/images/ref-based/fastqc_sequence_counts_plot.png
  topics/transcriptomics/images/ref-based/fastqc_sequence_duplication_levels_plot.png
  topics/transcriptomics/images/ref-based/featureCounts_assignment_plot.png
  topics/transcriptomics/images/ref-based/heatmap2_normalized_counts.png
  topics/transcriptomics/images/ref-based/star_alignment_plot.png
  topics/transcriptomics/images/ref-based/tutorial-scheme.png
  topics/transcriptomics/images/ref-based/tutorial-scheme.svg
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
  topics/transcriptomics/tutorials/ref-based/workflows/full_workflow.ga
  topics/transcriptomics/tutorials/ref-based/workflows/qc_mapping_counting.ga
  topics/transcriptomics/tutorials/ref-based/workflows/ref_based.ga
Owners: @bebatut, @shiltemann, @malloryfreeberg

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update tuto
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

add CSV to tabular first step
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

tabular, not csv
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

site column
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

Update Multispecies_tutorial.md
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

Update Multispecies_tutorial.md
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

Update Multispecies_tutorial.md
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

Add Multiple dataset option image
  topics/ecology/tutorials/regionalGAM/Images/Multiple_dataset_option.PNG
Owners: @bebatut, @shiltemann

Update Reference_tutorial.md
  topics/ecology/tutorials/regionalGAM/Reference_tutorial.md
Owners: @bebatut, @shiltemann

Update Multispecies_tutorial.md
  topics/ecology/tutorials/regionalGAM/Multispecies_tutorial.md
Owners: @bebatut, @shiltemann

Update Rdata_tutorial.md
  topics/ecology/tutorials/regionalGAM/Rdata_tutorial.md
Owners: @bebatut, @shiltemann

Update Rdata_tutorial.md
  topics/ecology/tutorials/regionalGAM/Rdata_tutorial.md
Owners: @bebatut, @shiltemann

Update Rdata_tutorial.md
  topics/ecology/tutorials/regionalGAM/Rdata_tutorial.md
Owners: @bebatut, @shiltemann
