Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

remove usegalaxy metadata
  metadata/usegalaxy.yaml
Owners: @bebatut, @shiltemann

adopt metadata
  topics/introduction/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @tnabtaf, @bebatut, @malloryfreeberg, @TorHou

move dunovo
  topics/variant-analysis/tutorials/dunovo/tutorial.md
Owners: @bebatut, @shiltemann

move history tutorial
  topics/introduction/tutorials/galaxy-intro-collections/tutorial.md
  topics/introduction/tutorials/galaxy-intro-history/tutorial.md
  topics/usegalaxy/tutorials/collections/tutorial.md
Owners: @bebatut, @shiltemann

move ngs data management
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Owners: @bebatut, @shiltemann

remove index
  topics/usegalaxy/index.md
Owners: @bebatut, @shiltemann

remove boilerplate
  topics/usegalaxy/docker/Dockerfile
  topics/usegalaxy/docker/README.md
  topics/usegalaxy/docker/library_data.yaml
  topics/usegalaxy/docker/setup_data_libraries.py
  topics/usegalaxy/docker/tools.yaml
  topics/usegalaxy/metadata.yaml
  topics/usegalaxy/slides/index.html
  topics/usegalaxy/tutorials/collections/collections.md.mdown
Owners: @bebatut, @shiltemann

remove README
  topics/usegalaxy/README.md
Owners: @bebatut, @shiltemann

move non-dip
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @bebatut, @shiltemann

move images around
  topics/transcriptomics/images/hisat.png
  topics/variant-analysis/images/abl1-f-qc.png
  topics/variant-analysis/images/abl1-r-qc.png
  topics/variant-analysis/images/bwa-mem.png
  topics/variant-analysis/images/bwa.png
  topics/variant-analysis/images/combineFandQ.png
  topics/variant-analysis/images/contentTrimmer.png
  topics/variant-analysis/images/ds.png
  topics/variant-analysis/images/filter.png
  topics/variant-analysis/images/fromDCS.png
  topics/variant-analysis/images/fromReads.png
  topics/variant-analysis/images/het.png
  topics/variant-analysis/images/leftAlign.png
  topics/variant-analysis/images/makeCons.png
  topics/variant-analysis/images/mergeSamFiles.png
  topics/variant-analysis/images/multiDataset.png
  topics/variant-analysis/images/nvc.png
  topics/variant-analysis/images/steps.png
  topics/variant-analysis/images/va.png
Owners: @bebatut, @shiltemann

move images around
  topics/variant-analysis/images/history_import.png
  topics/variant-analysis/images/library_import.png
  topics/variant-analysis/images/library_import_complete.png
Owners: @bebatut, @shiltemann

adopt metadata
  topics/introduction/tutorials/galaxy-intro-collections/tutorial.md
  topics/introduction/tutorials/galaxy-intro-history/tutorial.md
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/tutorials/dip/tutorial.md
  topics/variant-analysis/tutorials/dunovo/tutorial.md
  topics/variant-analysis/tutorials/non-dip/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

move images around
  topics/variant-analysis/images/mt_bam_merging.png
  topics/variant-analysis/images/mt_biases.png
  topics/variant-analysis/images/mt_bwa_mem.png
  topics/variant-analysis/images/mt_cut.png
  topics/variant-analysis/images/mt_dedup.png
  topics/variant-analysis/images/mt_filtering.png
  topics/variant-analysis/images/mt_freebayes_allelic_scope.png
  topics/variant-analysis/images/mt_freebayes_alloptions.png
  topics/variant-analysis/images/mt_freebayes_genome.png
  topics/variant-analysis/images/mt_freebayes_inputfilters.png
  topics/variant-analysis/images/mt_freebayes_popmodel.png
  topics/variant-analysis/images/mt_freebayes_regions.png
  topics/variant-analysis/images/mt_igv.png
  topics/variant-analysis/images/mt_imported_data.png
  topics/variant-analysis/images/mt_left_align.png
  topics/variant-analysis/images/mt_lib.png
  topics/variant-analysis/images/mt_middle_button.png
  topics/variant-analysis/images/mt_qc.png
  topics/variant-analysis/images/mt_qc_plot.png
  topics/variant-analysis/images/mt_tab.png
  topics/variant-analysis/images/mt_vcfToTab.png
  topics/variant-analysis/images/mt_vcf_dataset_collapsed.png
  topics/variant-analysis/images/mt_vcf_dataset_expanded.png
  topics/variant-analysis/images/mt_vcffilter.png
  topics/variant-analysis/images/mt_vcfiobio.png
  topics/variant-analysis/images/ref_vs_assembly.jpg
Owners: @bebatut, @shiltemann

change topic name
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.md
Owners: @bebatut, @shiltemann

Remove hisat image
  topics/transcriptomics/images/Hisat.png
  topics/transcriptomics/images/hisat.png
Owners: @bebatut, @shiltemann

Add hisat image
  topics/transcriptomics/images/hisat.png
Owners: @bebatut, @shiltemann

Fix the metadata from previously usegalaxy tutorial
  topics/introduction/metadata.yaml
  topics/transcriptomics/metadata.yaml
  topics/variant-analysis/metadata.yaml
Owners: @tnabtaf, @bebatut, @malloryfreeberg, @TorHou

Minor text changes
  Proteomics/tutorials/proteinQuant_SIL.md
Owners: @bebatut, @shiltemann

Some text and display fixes
  Proteomics/tutorials/proteinQuant_SIL.md
Owners: @bebatut, @shiltemann

Renamed tutorial, added lots of text.
  Proteomics/tutorials/proteinQuant_SIL.md
Owners: @bebatut, @shiltemann

Updated proteinQuant, last version using SG/PS
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Started working on updated version
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Worked on peptide id workflow inclusion
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

First full hands-on version
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

minor changes
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

minor updates
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Updated data on several tutos
  topics/proteomics/metadata.yaml
Owners: @Stortebecker, @bgruening, @blankclemens

Updated metadata on secretome prediction, ntails and protein quant tutorials
  topics/proteomics/metadata.yaml
Owners: @Stortebecker, @bgruening, @blankclemens

added zenodo link, minor updates
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Added figure about peptide features
  topics/proteomics/images/protein-quant-sil_ms1feature.png
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Fixed display
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Minor changes in first part, major work on evaluation and optimization section
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Completed visualization section, added corresponding figures
  topics/proteomics/images/protein-quant-sil_showConsensus.png
  topics/proteomics/images/protein-quant-sil_showProjections.png
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Deleted parameter explanations in subsection 'optimization of quant results'
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Workaround for ProteinQuantifier bug: changed '-include_all' to TRUE
  topics/proteomics/tutorials/protein-quant-sil/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Updated workflow parameters
  topics/proteomics/tutorials/protein-quant-sil/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Started working on section: evaluation and optimization, deleted comment on knockout features
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Fixed broken internal link
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Enabled FFMult advanced options without changing any parameter
  topics/proteomics/tutorials/protein-quant-sil/workflows/workflow.ga
Owners: @bebatut, @shiltemann

Finished optimization section
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
