Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Update metadata.yaml
  topics/statistics/metadata.yaml
Owners: @bebatut, @shiltemann

IWTomics Workflow
  topics/statistics/tutorials/iwtomics/workflows/IWTomics_Workflow.ga
Owners: @bebatut, @shiltemann

minor tweaks
  faq.md
Owners: @bebatut, @shiltemann

updating CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

updating CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

updating CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

workflow fixed
  topics/statistics/tutorials/iwtomics/workflows/IWTomics_Workflow.ga
Owners: @bebatut, @shiltemann

move tutorials to new topic
  topics/genome-annotation/images/antismash_full.png
  topics/genome-annotation/images/augustus.png
  topics/genome-annotation/images/augustus_out.png
  topics/genome-annotation/images/barchart_sequencecomposition.png
  topics/genome-annotation/images/blast database.png
  topics/genome-annotation/images/blastP.png
  topics/genome-annotation/images/blastprograms.png
  topics/genome-annotation/images/fasta_format.png
  topics/genome-annotation/images/gb_full.png
  topics/genome-annotation/images/gff3_format.png
  topics/genome-annotation/images/selectlines.png
  topics/genome-annotation/images/work flow_Screenshot from 2015-06-23 09-33-23.png
  topics/genome-annotation/input_data/Streptomyces_coelicolor_part.genbank
  topics/genome-annotation/tutorials/annotation-with-prokka/data-library.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/images/annotation_details.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/interface.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/jbrowse6.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/prokka_pipeline.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/seq_annotation.jpg
  topics/genome-annotation/tutorials/annotation-with-prokka/slides.html
  topics/genome-annotation/tutorials/annotation-with-prokka/tools.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/tours/tour.yaml
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/genome-annotation/tutorials/annotation-with-prokka/workflows/Galaxy-Workflow-Workflow_constructed_from_history__prokka-workflow_.ga
  topics/genome-annotation/tutorials/genome-annotation/data-library.yaml
  topics/genome-annotation/tutorials/genome-annotation/tools.yaml
  topics/genome-annotation/tutorials/genome-annotation/tours/tour.yaml
  topics/genome-annotation/tutorials/genome-annotation/tutorial.md
  topics/genome-annotation/tutorials/genome-annotation/workflows/workflow.ga
Owners: @bebatut, @shiltemann

add metadata file
  metadata/genome-annotation.yaml
  topics/genome-annotation/metadata.yaml
Owners: @bebatut, @shiltemann

add index
  topics/genome-annotation/index.md
Owners: @bebatut, @shiltemann

add Dockerfile
  topics/genome-annotation/docker/.Dockerfile.swp
  topics/genome-annotation/docker/Dockerfile
Owners: @bebatut, @shiltemann

remove metadata from old topic
  topics/sequence-analysis/metadata.yaml
Owners: @yvanlebras, @bebatut, @joachimwolff

update frontmatter metadata
  topics/genome-annotation/tutorials/annotation-with-prokka/slides.html
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.md
  topics/genome-annotation/tutorials/genome-annotation/tutorial.md
Owners: @bebatut, @shiltemann

update metadata
  topics/genome-annotation/metadata.yaml
Owners: @bebatut, @shiltemann

remove .swp file
  topics/genome-annotation/docker/.Dockerfile.swp
Owners: @bebatut, @shiltemann

Update on: Wed Jun 13 15:09:55 UTC 2018
  faq.html
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Wed Jun 13 15:31:18 UTC 2018
  badges/index.html
  feed.xml
  index.html
  topics/genome-annotation/docker/Dockerfile
  topics/genome-annotation/images/antismash_full.png
  topics/genome-annotation/images/augustus.png
  topics/genome-annotation/images/augustus_out.png
  topics/genome-annotation/images/barchart_sequencecomposition.png
  topics/genome-annotation/images/blast database.png
  topics/genome-annotation/images/blastP.png
  topics/genome-annotation/images/blastprograms.png
  topics/genome-annotation/images/fasta_format.png
  topics/genome-annotation/images/gb_full.png
  topics/genome-annotation/images/gff3_format.png
  topics/genome-annotation/images/selectlines.png
  topics/genome-annotation/images/work flow_Screenshot from 2015-06-23 09-33-23.png
  topics/genome-annotation/index.html
  topics/genome-annotation/input_data/Streptomyces_coelicolor_part.genbank
  topics/genome-annotation/tutorials/annotation-with-prokka/images/annotation_details.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/interface.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/jbrowse6.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/prokka_pipeline.png
  topics/genome-annotation/tutorials/annotation-with-prokka/images/seq_annotation.jpg
  topics/genome-annotation/tutorials/annotation-with-prokka/slides.html
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.html
  topics/genome-annotation/tutorials/annotation-with-prokka/workflows/Galaxy-Workflow-Workflow_constructed_from_history__prokka-workflow_.ga
  topics/genome-annotation/tutorials/genome-annotation/tutorial.html
  topics/genome-annotation/tutorials/genome-annotation/workflows/workflow.ga
  topics/sequence-analysis/index.html
  topics/sequence-analysis/slides/introduction.html
Owners: @bebatut, @shiltemann, @yvanlebras, @joachimwolff

Fix yaml linting
  topics/statistics/tutorials/iwtomics/tools.yaml
  topics/statistics/tutorials/iwtomics/tours/tour.yaml
Owners: @bebatut, @shiltemann

Add more detail in summary
  topics/statistics/metadata.yaml
Owners: @bebatut, @shiltemann

Add annote command explanation
  Makefile
Owners: @bebatut, @shiltemann

improve grammar
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Fix docker image in metadata files
  topics/assembly/metadata.yaml
  topics/chip-seq/metadata.yaml
  topics/dev/metadata.yaml
  topics/transcriptomics/metadata.yaml
Owners: @Slugger70, @malloryfreeberg, @lecorguille, @bebatut, @shiltemann

Fix not display of galaxy instance if no docker image
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

fix links
  topics/admin/slides/introduction.html
Owners: @bebatut, @shiltemann

update summary of admin topics
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

update Simon's handle so he is matched to his name
  topics/admin/metadata.yaml
Owners: @bgruening, @martenson, @hrhotz, @erasche

use root var
  topics/admin/slides/introduction.html
Owners: @bebatut, @shiltemann

Update on: Wed Jun 13 17:23:26 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Wed Jun 13 20:46:28 UTC 2018
  feed.xml
  topics/admin/index.html
  topics/admin/tutorials/monitoring-maintenance/slides.html
  topics/admin/tutorials/monitoring-maintenance/tutorial.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche

addressed issues raised by @bgruening
  topics/assembly/metadata.yaml
  topics/assembly/tutorials/ecoli_comparison/data-library.yaml
  topics/assembly/tutorials/ecoli_comparison/data-manager.yaml
  topics/assembly/tutorials/ecoli_comparison/slides.html
  topics/assembly/tutorials/ecoli_comparison/tools.yaml
  topics/assembly/tutorials/ecoli_comparison/workflows/empty_workflow.ga
Owners: @Slugger70, @bebatut, @shiltemann

Update on: Thu Jun 14 06:19:15 UTC 2018
  feed.xml
  topics/admin/slides/introduction.html
Owners: @bebatut, @shiltemann

Update tutorial_ja_notag.md
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial_ja_notag.md
Owners: @bebatut, @shiltemann

Update on: Thu Jun 14 09:56:20 UTC 2018
  badges/index.html
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/statistics/docker/Dockerfile
  topics/statistics/images/load_smooth_and_plot_output.png
  topics/statistics/images/plot_with_threshold_on_test_scale_output.png
  topics/statistics/images/test_and_plot_output.png
  topics/statistics/index.html
  topics/statistics/tutorials/iwtomics/tutorial.html
  topics/statistics/tutorials/iwtomics/workflows/IWTomics_Workflow.ga
Owners: @bebatut, @shiltemann

update recommended parameter formatting
  _config.yml
  templates/tutorials/tutorial1/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

yaml fixes
  topics/assembly/tutorials/ecoli_comparison/data-library.yaml
  topics/assembly/tutorials/ecoli_comparison/tools.yaml
Owners: @bebatut, @shiltemann

formatting of hands-on boxes
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

fix broken link
  topics/assembly/tutorials/ecoli_comparison/tutorial.md
Owners: @bebatut, @shiltemann

restore colon
  _layouts/topic.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Thu Jun 14 15:25:31 UTC 2018
  feed.xml
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/contributing/index.html
  topics/dev/index.html
  topics/epigenetics/index.html
  topics/genome-annotation/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/statistics/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update on: Thu Jun 14 15:55:18 UTC 2018
  feed.xml
  topics/contributing/tutorials/create-new-tutorial-content/tutorial.html
Owners: @bebatut, @shiltemann
