Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Format ref-based tutorial
  snippets/rename_dataset.md
  snippets/select_multiple_datasets.md
  topics/transcriptomics/images/gene_counting.png
  topics/transcriptomics/images/gene_counting.svg
  topics/transcriptomics/images/ref-based/deseq2_pca.png
  topics/transcriptomics/images/ref-based/deseq2_sample_sample_distance_heatmap.png
  topics/transcriptomics/images/ref-based/fastqc_per_base_n_content_plot.png
  topics/transcriptomics/images/ref-based/fastqc_per_base_sequence_quality_plot.png
  topics/transcriptomics/images/ref-based/fastqc_per_sequence_gc_content_plot.png
  topics/transcriptomics/images/ref-based/fastqc_per_sequence_quality_scores_plot.png
  topics/transcriptomics/images/ref-based/fastqc_sequence_counts_plot.png
  topics/transcriptomics/images/ref-based/fastqc_sequence_duplication_levels_plot.png
  topics/transcriptomics/images/ref-based/featureCounts_assignment_plot.png
  topics/transcriptomics/images/ref-based/heatmap2_normalized_counts.png
  topics/transcriptomics/images/ref-based/star_alignment_plot.png
  topics/transcriptomics/images/ref-based/tutorial-scheme.png
  topics/transcriptomics/images/ref-based/tutorial-scheme.svg
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann, @malloryfreeberg

move metadata to tutorial.md
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @joachimwolff, @dpryan79, @bebatut, @shiltemann

Fix metadata for transcriptomics
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

move metadata location
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Fix metadata
  topics/metabolomics/metadata.yaml
  topics/metabolomics/tutorials/lcms-preprocessing/slides.html
  topics/metabolomics/tutorials/lcms-preprocessing/tutorial.md
Owners: @bebatut, @shiltemann

metadata.yml
  topics/genome-annotation/metadata.yaml
Owners: @bebatut, @shiltemann

Update against master
  topics/proteomics/metadata.yaml
Owners: @Stortebecker, @bgruening, @blankclemens

Fixing metadata format
  topics/chip-seq/metadata.yaml
Owners: @malloryfreeberg

Update on: Fri Aug 24 14:54:07 UTC 2018
  feed.xml
  topics/assembly/tutorials/general-introduction/workflows/assembly-general-introduction.ga
  topics/metagenomics/docker/Dockerfile
  topics/metagenomics/tutorials/general-tutorial/workflows/amplicon-workflow.ga
  topics/metagenomics/tutorials/general-tutorial/workflows/amplicon.ga
Owners: @bebatut, @shiltemann

fix metadta in slides.htnml
  topics/statistics/tutorials/machinelearning/slides.html
Owners: @bebatut, @shiltemann

fix yaml
  topics/epigenetics/metadata.yaml
Owners: @joachimwolff, @dpryan79

incremental is up to the user
  Makefile
Owners: @bebatut, @shiltemann

move metadata
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

Add .nojekyll for gh-page
  bin/publish
Owners: @bebatut, @shiltemann, @bgruening

move metadata
  topics/introduction/tutorials/galaxy-intro-short/tutorial.md
Owners: @bebatut, @shiltemann

Move metadata
  topics/phylogenetics/metadata.yaml
  topics/phylogenetics/slides/introduction.html
  topics/phylogenetics/tutorials/GeneSeqToFamily/slides.html
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Fri Aug 24 17:07:01 UTC 2018
  .nojekyll
  feed.xml
  topics/assembly/tutorials/unicycler-assembly/workflows/Galaxy-Workflow-Unicycler_training.ga
  topics/assembly/tutorials/unicycler-assembly/workflows/unicycler.ga
Owners: @bebatut, @shiltemann

add protegenomics dbcreation tutorial
  topics/proteomics/images/CustomProDB.png
  topics/proteomics/images/Fasta_sequence.png
  topics/proteomics/images/database_creation.png
  topics/proteomics/images/genomic_mapping_file.png
  topics/proteomics/images/potential_novel_publication.png
  topics/proteomics/images/variant_calling.png
  topics/proteomics/images/view_icon.png
  topics/proteomics/images/viewing_SNP_Variant_IGV.png
  topics/proteomics/images/workflow_objective1.png
  topics/proteomics/tutorials/proteogenomics-dbcreation/rnaseq-db-creation-tools.yaml
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/workflows/galaxy-workflow-mouse_rnaseq_dbcreation.ga
Owners: @bebatut, @shiltemann

add protegenomics dbsearch tutorial
  topics/proteomics/images/dataset_list.png
  topics/proteomics/images/mz2sqlite.png
  topics/proteomics/images/second_workflow.png
  topics/proteomics/tutorials/proteogenomics-dbsearch/protegenomics_rna-seqdb-workflow.yaml
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/workflow/galaxy-workflow-mouse_rnaseq_dbsearch.ga
Owners: @bebatut, @shiltemann

add protegenomics novel peptide analysis tutorial
  topics/proteomics/images/IGV_viewer.png
  topics/proteomics/images/Output_PGC.png
  topics/proteomics/images/Output_PP.png
  topics/proteomics/images/PRoteinview.png
  topics/proteomics/images/Peppointer.png
  topics/proteomics/images/Psm.png
  topics/proteomics/images/QT_output.png
  topics/proteomics/images/Third_workflow.png
  topics/proteomics/images/final_summary.png
  topics/proteomics/images/load_from_Galaxy.png
  topics/proteomics/images/lorikeet.png
  topics/proteomics/images/novel_peptides_view.png
  topics/proteomics/images/pep_gen_cor.png
  topics/proteomics/images/select_IGV.png
  topics/proteomics/images/select_pep_PSM.png
  topics/proteomics/images/select_protein.png
  topics/proteomics/images/track_load.png
  topics/proteomics/images/tracks_align.png
  topics/proteomics/images/view_in_prot.png
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/proteogenomics_novelpeptides.yaml
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/workflow/galaxy-workflow-mouse_novel_peptide_analysis.ga
Owners: @bebatut, @shiltemann

update README
  topics/proteomics/README.md
Owners: @Stortebecker, @bgruening, @blankclemens

proteogenomics dbcreation: formatting fixes
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Aug 27 08:10:52 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
  topics/epigenetics/images/Epigenetic_mechanisms.jpg
  topics/epigenetics/images/ewaschart1.png
  topics/epigenetics/images/ewaschart2.png
  topics/epigenetics/images/funcann.jpg
  topics/epigenetics/images/methylationassay.png
  topics/epigenetics/images/qcplot.png
  topics/epigenetics/images/ucsc.png
  topics/epigenetics/index.html
  topics/epigenetics/slides/introduction.html
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/epigenetics/tutorials/ewas-suite/tutorial.html
  topics/epigenetics/tutorials/ewas-suite/workflows/ewas_training.ga
  topics/epigenetics/tutorials/hicexplorer/tutorial.html
  topics/epigenetics/tutorials/methylation-seq/tutorial.html
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79

Add topic in path to requirements
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Add stricted check of front matter by jekyll
  Makefile
Owners: @bebatut, @shiltemann

Update on: Mon Aug 27 09:25:50 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Mon Aug 27 09:46:34 UTC 2018
  feed.xml
  index.html
  topics/introduction/images/cog.png
  topics/introduction/images/eye-icon.png
  topics/introduction/images/fastq.png
  topics/introduction/images/fastqc-out.png
  topics/introduction/images/filter-fastq1.png
  topics/introduction/images/galaxy-login.png
  topics/introduction/images/galaxy-panel.png
  topics/introduction/images/name_history.png
  topics/introduction/images/rerun.png
  topics/introduction/images/upload-box.png
  topics/introduction/images/view-all-hist.png
  topics/introduction/images/view-hist.png
  topics/introduction/index.html
  topics/introduction/slides/introduction.html
  topics/introduction/tutorials/galaxy-intro-101/tutorial.html
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.html
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.html
  topics/introduction/tutorials/galaxy-intro-short/tutorial.html
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.html
  topics/introduction/tutorials/galaxy-intro-vis/tutorial.html
  topics/introduction/tutorials/igv-introduction/tutorial.html
Owners: @bebatut, @shiltemann, @tnabtaf

update jbrowse
  topics/genome-annotation/tutorials/annotation-with-maker/workflows/init_workflow.ga
Owners: @bebatut, @shiltemann

slow progress
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

new zenodo data
  topics/genome-annotation/tutorials/annotation-with-maker/data-library.yaml
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

Update the tutorial and slides
  topics/statistics/tutorials/machinelearning/images/afterexecution.png
  topics/statistics/tutorials/machinelearning/images/dataset.png
  topics/statistics/tutorials/machinelearning/images/model_3.png
  topics/statistics/tutorials/machinelearning/images/predictions_6.png
  topics/statistics/tutorials/machinelearning/images/runwf.png
  topics/statistics/tutorials/machinelearning/images/set_classifier_params_2.png
  topics/statistics/tutorials/machinelearning/images/test_dataset_4.png
  topics/statistics/tutorials/machinelearning/images/test_model_5.png
  topics/statistics/tutorials/machinelearning/images/upload_1.png
  topics/statistics/tutorials/machinelearning/images/workflow.png
  topics/statistics/tutorials/machinelearning/slides.html
  topics/statistics/tutorials/machinelearning/tutorial.md
Owners: @bebatut, @shiltemann

Remove usused workflow folder
  topics/statistics/tutorials/machinelearning/workflows/MachineLearning_Workflow.ga
Owners: @bebatut, @shiltemann

Embed a short feedback form at the bottom of the tutorial
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
Owners: @bebatut, @shiltemann, @willdurand

Update README.md
  topics/proteomics/README.md
Owners: @Stortebecker, @bgruening, @blankclemens

add discalaimer about type and visibility of feedback
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

change height to account for extra description text added to form
  assets/css/main.scss
Owners: @bebatut, @shiltemann

removes empty line
  topics/phylogenetics/tutorials/GeneSeqToFamily/tools.yaml
Owners: @bebatut, @shiltemann

moved disclaimers to forms
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

change height to account for extra description text added to form
  assets/css/main.scss
Owners: @bebatut, @shiltemann

Added extra schema.org fields for available metadata
  _includes/material.jsonld
Owners: @bebatut, @shiltemann, @willdurand
