Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update Metadata
  topics/ecology/tutorials/species-distribution-modeling/slides.html
Owners: @bebatut, @shiltemann

Delete Checkerboard.png
  topics/ecology/tutorials/species-distribution-modeling/Images/Checkerboard.png
Owners: @bebatut, @shiltemann

Delete GCM_CCSM4_RCP_2.6.png
  topics/ecology/tutorials/species-distribution-modeling/Images/GCM_CCSM4_RCP_2.6.png
Owners: @bebatut, @shiltemann

Delete GCM_CCSM4_RPC_8.5.png
  topics/ecology/tutorials/species-distribution-modeling/Images/GCM_CCSM4_RPC_8.5.png
Owners: @bebatut, @shiltemann

Move files from species-distribution-modeling/Images
  topics/ecology/images/Checkerboard.png
  topics/ecology/images/GCM_CCSM4_RCP_2.6.png
  topics/ecology/images/GCM_CCSM4_RPC_8.5.png
Owners: @bebatut, @shiltemann

Delete Expected temporal trend.png
  topics/ecology/tutorials/regionalGAM/Images/Expected temporal trend.png
Owners: @bebatut, @shiltemann

Delete Multiple_dataset_option.PNG
  topics/ecology/tutorials/regionalGAM/Images/Multiple_dataset_option.PNG
Owners: @bebatut, @shiltemann

Delete Pyronia tithonus Abundance index explicit ID.png
  topics/ecology/tutorials/regionalGAM/Images/Pyronia tithonus Abundance index explicit ID.png
Owners: @bebatut, @shiltemann

Delete Pyronia tithonus Abundance index stacked.png
  topics/ecology/tutorials/regionalGAM/Images/Pyronia tithonus Abundance index stacked.png
Owners: @bebatut, @shiltemann

Delete Pyronia tithonus phenology explicit ID.png
  topics/ecology/tutorials/regionalGAM/Images/Pyronia tithonus phenology explicit ID.png
Owners: @bebatut, @shiltemann

Delete Pyronia tithonus phenology stacked.png
  topics/ecology/tutorials/regionalGAM/Images/Pyronia tithonus phenology stacked.png
Owners: @bebatut, @shiltemann

Delete Pyronia_tithonus_phenology_stacked_explicit_ID.png
  topics/ecology/tutorials/regionalGAM/Images/Pyronia_tithonus_phenology_stacked_explicit_ID.png
Owners: @bebatut, @shiltemann

Delete trend_adjusted.png
  topics/ecology/tutorials/regionalGAM/Images/trend_adjusted.png
Owners: @bebatut, @shiltemann

Delete trend_simple.png
  topics/ecology/tutorials/regionalGAM/Images/trend_simple.png
Owners: @bebatut, @shiltemann

Delete upload.PNG
  topics/ecology/tutorials/regionalGAM/Images/upload.PNG
Owners: @bebatut, @shiltemann

move files from RegionalGAM/Images
  topics/ecology/images/Expected temporal trend.png
  topics/ecology/images/Multiple_dataset_option.PNG
  topics/ecology/images/Pyronia tithonus Abundance index explicit ID.png
  topics/ecology/images/Pyronia tithonus Abundance index stacked.png
  topics/ecology/images/Pyronia tithonus phenology explicit ID.png
  topics/ecology/images/Pyronia tithonus phenology stacked.png
  topics/ecology/images/Pyronia_tithonus_phenology_stacked_explicit_ID.png
  topics/ecology/images/trend_adjusted.png
  topics/ecology/images/trend_simple.png
  topics/ecology/images/upload.PNG
Owners: @bebatut, @shiltemann

remove emoji and change by {% icon warning %}
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Answer to #998 detailed comments
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Owners: @bebatut, @shiltemann

Fix yaml linting
  topics/transcriptomics/tutorials/network-analysis-with-heinz/tours/tour.yaml
Owners: @bebatut, @shiltemann

fix some missing defaults
  _layouts/base_slides.html
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

fix titles
  _layouts/training_experience.html
  _layouts/training_experience_list.html
  topics/admin/tutorials/ansible/trainer-experiences/2018-10-30-denbi.md
Owners: @bebatut, @shiltemann, @willdurand

fix names
  _layouts/training_experience.html
Owners: @bebatut, @shiltemann, @willdurand

formatting fixes
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

add missing image
  topics/sequence-analysis/images/RAD4_Population_Genomics/multiqc.PNG
Owners: @bebatut, @shiltemann

Update on: Wed Nov 14 20:15:52 UTC 2018
  faq.html
  feed.xml
  hall-of-fame.html
  index.html
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Search on tess?
  _includes/help.html
Owners: @bebatut, @shiltemann, @willdurand

Correct extra s
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

add snippets and some formatting
  snippets/add_custom_build.md
  snippets/change_dbkey.md
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

scale image
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

add datatype variable for snippet
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

add urlswap for links to badges
  Makefile
Owners: @bebatut, @shiltemann

Move to left of help
  _includes/help.html
Owners: @bebatut, @shiltemann, @willdurand

Update on: Thu Nov 15 06:03:51 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

fix urlswap
  Makefile
Owners: @bebatut, @shiltemann

fix link to badges
  Makefile
  topics/instructors/tutorials/setup-tiaas-for-training/tutorial.md
Owners: @bebatut, @shiltemann

tweaks
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Support arabic translation
  _config.yml
Owners: @bebatut, @shiltemann, @willdurand

add tools.aml files
  topics/proteomics/tutorials/proteogenomics-dbcreation/tools.yaml
  topics/proteomics/tutorials/proteogenomics-dbsearch/tools.yaml
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tools.yaml
Owners: @bebatut, @shiltemann

update augustus training datasets
  topics/genome-annotation/tutorials/annotation-with-maker/data_library.yaml
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

half a day is enough
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
