Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update the hands on structure
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

add a better region for full genome
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Owners: @bebatut, @shiltemann

Update CONTRIBUTORS.yaml
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Add ---
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tours/formation_of_super-structures_on_xi_main.yaml
Owners: @bebatut, @shiltemann

Fix review comments
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

start layout file for philosophies
  _layouts/training_philosophies.md
Owners: @bebatut, @shiltemann, @willdurand

Swap incremental for flags
  Makefile
Owners: @bebatut, @shiltemann

add @mtekman to training materials contributors-
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

metabolomics - Damn! I misspelled the topics ... ^^
  metadata/metabolomics.yaml
  metadata/metabolomisc.yaml
  topics/metabolomics/README.md
  topics/metabolomics/docker/Dockerfile
  topics/metabolomics/images/template.graphml
  topics/metabolomics/index.md
  topics/metabolomics/metadata.yaml
  topics/metabolomics/slides/introduction.html
  topics/metabolomics/tutorials/lcms-data-import/slides.html
  topics/metabolomics/tutorials/lcms-data-import/tools.yaml
  topics/metabolomics/tutorials/lcms-data-import/tours/tour.yaml
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
  topics/metabolomics/tutorials/lcms-data-import/workflows/empty_workflow.ga
  topics/metabolomisc/index.md
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - add chapter
  topics/metabolomisc/metadata.yaml
  topics/metabolomisc/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - init tutorial
  topics/metabolomisc/metadata.yaml
  topics/metabolomisc/tutorials/lcms-data-import/slides.html
  topics/metabolomisc/tutorials/lcms-data-import/tools.yaml
  topics/metabolomisc/tutorials/lcms-data-import/tours/tour.yaml
  topics/metabolomisc/tutorials/lcms-data-import/tutorial.md
  topics/metabolomisc/tutorials/lcms-data-import/workflows/empty_workflow.ga
  topics/metabolomisc/tutorials/tutorial1/data-library.yaml
  topics/metabolomisc/tutorials/tutorial1/data-manager.yaml
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - Creating a new tutorial
  topics/metabolomisc/metadata.yaml
Owners: @bebatut, @shiltemann

metabolomics init
  metadata/metabolomisc.yaml
  topics/metabolomisc/README.md
  topics/metabolomisc/docker/Dockerfile
  topics/metabolomisc/images/template.graphml
  topics/metabolomisc/index.md
  topics/metabolomisc/metadata.yaml
  topics/metabolomisc/slides/introduction.html
  topics/metabolomisc/tutorials/tutorial1/data-library.yaml
  topics/metabolomisc/tutorials/tutorial1/data-manager.yaml
  topics/metabolomisc/tutorials/tutorial1/slides.html
  topics/metabolomisc/tutorials/tutorial1/tools.yaml
  topics/metabolomisc/tutorials/tutorial1/tours/tour.yaml
  topics/metabolomisc/tutorials/tutorial1/tutorial.md
  topics/metabolomisc/tutorials/tutorial1/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - import raw
  topics/metabolomics/images/tutorial-lcms-data-import-raw-01.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-02.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-03.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-04.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-05.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-06.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-07.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-08.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-09.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-10.png
  topics/metabolomics/images/tutorial-lcms-data-import-raw-11.png
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - enable the tutorial
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann

Disable the tutorial
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - add tools
  topics/metabolomics/tutorials/lcms-data-import/tools.yaml
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - add a tools.yaml ; cleanup
  topics/metabolomics/tutorials/lcms-data-import/tools.yaml
  topics/metabolomics/tutorials/lcms-data-import/tours/tour.yaml
  topics/metabolomics/tutorials/lcms-data-import/workflows/empty_workflow.ga
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - single vs zip
  topics/metabolomics/images/tutorial-lcms-data-single-vs-zip-single.png
  topics/metabolomics/images/tutorial-lcms-data-single-vs-zip-zip.png
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - run the first steps
  topics/metabolomics/images/template.graphml
  topics/metabolomics/images/tutorial-lcms-data-import-run-01.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-02.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-03.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-04.png
  topics/metabolomics/images/tutorial-lcms-data-import-run-workflow.png
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann

Move metadata
  topics/metabolomics/metadata.yaml
  topics/metabolomics/slides/introduction.html
  topics/metabolomics/tutorials/lcms-data-import/slides.html
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - import samplemetadata
  topics/metabolomics/images/tutorial-lcms-data-import-samplemetadata-01.png
  topics/metabolomics/images/tutorial-lcms-data-import-samplemetadata-02.png
  topics/metabolomics/images/tutorial-lcms-data-import-samplemetadata-03.png
  topics/metabolomics/images/tutorial-lcms-data-import-samplemetadata-04.png
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann

metabolomics - lc-ms-upload-data - remove the slides
  topics/metabolomics/tutorials/lcms-data-import/slides.html
Owners: @bebatut, @shiltemann

metabolomics - introduction slides
  topics/metabolomics/images/slide-intro-metabolome_pathway.png
  topics/metabolomics/images/slide-intro-molecular_mass_range.png
  topics/metabolomics/images/slide-intro-ms_nmr_complementarity.png
  topics/metabolomics/images/slide-intro-omics.png
  topics/metabolomics/images/slide-intro-targeted_metabolomics.png
  topics/metabolomics/images/slide-intro-untargeted_metabolomics.png
  topics/metabolomics/images/slide-intro-wheel.png
  topics/metabolomics/slides/introduction.html
Owners: @bebatut, @shiltemann

metabolomics - introduction slides - contributors
  CONTRIBUTORS.yaml
  topics/metabolomics/slides/introduction.html
Owners: @bebatut, @shiltemann

metabolomics - fix
  topics/metabolomics/docker/Dockerfile
  topics/metabolomics/metadata.yaml
Owners: @bebatut, @shiltemann

Formatting of the lcms tutorial
  _config.yml
  snippets/create_dataset_collection.md
  snippets/import_via_link.md
  topics/metabolomics/tutorials/lcms-data-import/tutorial.md
Owners: @bebatut, @shiltemann, @willdurand

Update topics/transcriptomics/tutorials/de-novo/tutorial.md
  topics/transcriptomics/tutorials/de-novo/tutorial.md
Owners: @bebatut, @shiltemann

Update README.md
  topics/proteomics/README.md
Owners: @Stortebecker, @bgruening, @blankclemens

Update README.md
  topics/proteomics/README.md
Owners: @Stortebecker, @bgruening, @blankclemens

Update README.md
  topics/proteomics/README.md
Owners: @Stortebecker, @bgruening, @blankclemens

Update README.md
  topics/proteomics/README.md
Owners: @Stortebecker, @bgruening, @blankclemens

Update README.md
  topics/proteomics/README.md
Owners: @Stortebecker, @bgruening, @blankclemens

Update data libraries and workflows
  topics/statistics/tutorials/classification_regression/data-library.yaml
  topics/statistics/tutorials/classification_regression/workflows/GradientBoostingRegression_TutorialWorkflow.ga
  topics/statistics/tutorials/classification_regression/workflows/LinearSupportVectorClassifier_TutorialWorkflow.ga
Owners: @bebatut, @shiltemann

Working philosophies
  CONTRIBUTORS.yaml
  _layouts/training_philosophies.html
  _layouts/training_philosophies.md
  _layouts/training_philosophy.html
  topics/instructors/philosophies/2018-10-19-bebatut.md
  topics/instructors/philosophies/2018-10-24-mo.md
  topics/instructors/philosophies/2018-10-24-shiltemann.md
  topics/instructors/philosophies/2018-11-01-erasche.md
  topics/instructors/philosophies/2018-11-02-tklingstrom.md
  topics/instructors/philosophies/2018-11-13-abretaud.md
  topics/instructors/philosophies/index.md
Owners: @bebatut, @shiltemann, @willdurand

Add to hall of fame
  _layouts/hall-of-fame.html
Owners: @bebatut, @shiltemann, @willdurand

retitle
  _layouts/training_philosophies.html
  topics/instructors/index.md
  topics/instructors/metadata.yaml
Owners: @bebatut, @shiltemann, @willdurand

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
