Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @hexylena, @galaxyproject/training-admin, @galaxyproject/training-assembly, @galaxyproject/training-chip-seq, @galaxyproject/training-computational-chemistry, @galaxyproject/training-contributing, @galaxyproject/training-dev, @abretaud, @galaxyproject/training-ecology, @galaxyproject/training-epigenetics, @galaxyproject/training-galaxy-ui, @galaxyproject/training-galaxy-data-manipulation, @galaxyproject/training-genome-annotation, @galaxyproject/training-instructors, @galaxyproject/training-introduction, @galaxyproject/training-metabolomics, @galaxyproject/training-metagenomics, @galaxyproject/training-proteomics, @galaxyproject/training-sequence-analysis, @galaxyproject/training-statistics, @galaxyproject/training-transcriptomics, @galaxyproject/training-variant-analysis

Fix sentence fragment
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Clarify usage of replace text tool
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Aligning to mouse, not human
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Fix name typo
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Update usage of GffCompare
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Owners: @galaxyproject/training-proteomics

Clarify usage of FASTA Merge
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-novel-peptide-analysis/tutorial.md
Owners: @galaxyproject/training-proteomics

Use standard style for repeats
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Adding a tool-generator section - it ends up under the main page dev/admin section - should probably be a series under dev but it's a real toolshed category!
  CONTRIBUTORS.yaml
  Gemfile
  Gemfile.lock
  metadata/tool-generators.yaml
  topics/tool-generators/README.md
  topics/tool-generators/docker/Dockerfile
  topics/tool-generators/images/ToolFactory_hello1form.png
  topics/tool-generators/images/ToolFactory_hello2form.png
  topics/tool-generators/images/ToolFactory_hello3form.png
  topics/tool-generators/images/ToolFactory_hello4form.png
  topics/tool-generators/images/ToolFactory_hello5form.png
  topics/tool-generators/images/wrapper_big_picture_1.png
  topics/tool-generators/index.md
  topics/tool-generators/metadata.yaml
  topics/tool-generators/slides/introduction.html
  topics/tool-generators/tutorials/toolfactory/slides.html
Owners: @bebatut, @shiltemann, @hexylena

added tool hooks
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Owners: @galaxyproject/training-introduction

structure is ok. content is crap. jekyll error reporting is truly awful for me and I keep needing to rebuild when I screw things up. Like rebuild the entire conda env. eeesh.
  CONTRIBUTORS.yaml
  topics/tool-generators/tutorials/tf-install/slides.html
  topics/tool-generators/tutorials/toolfactory/slides.html
  topics/tool-generators/tutorials/toolfactory/tutorial.md
Owners: none

more general title for training index page
  topics/tool-generators/metadata.yaml
  topics/tool-generators/tutorials/toolfactory/tutorial.md
Owners: none

Add a simple program view
  _includes/program_table.html
  _includes/simple.md
  _layouts/home.html
  metadata/training_sessions.yaml
  smorgasbord.md
Owners: @bebatut, @shiltemann, @hexylena

fix some of the short ids
  topics/introduction/tutorials/galaxy-intro-ngs-data-managment/tutorial.md
Owners: @galaxyproject/training-introduction

fix bad links
  metadata/training_sessions.yaml
Owners: @bebatut, @shiltemann, @hexylena

Reference manipulated GTF in StringTie step
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

Update Zenodo link
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @galaxyproject/training-transcriptomics

RStudio is now available on usegalaxy.org
  snippets/launch_rstudio.md
Owners: none

fix linting
  snippets/launch_rstudio.md
Owners: none

Conda conga in Dockerfile.
  topics/tool-generators/docker/Dockerfile
  topics/tool-generators/docker/welcome.html
Owners: none

Fix 2 small errors
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @galaxyproject/training-transcriptomics

small formatting fix (relevant links already updated)
  topics/transcriptomics/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Owners: @galaxyproject/training-transcriptomics

query replace whilst AnnData 0.7 is disabled
  topics/transcriptomics/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Owners: @galaxyproject/training-transcriptomics

adding more flesh...
  topics/tool-generators/docker/Dockerfile
  topics/tool-generators/docker/maketf.sh
  topics/tool-generators/docker/welcome.html
  topics/tool-generators/metadata.yaml
  topics/tool-generators/slides/introduction.html
  topics/tool-generators/tutorials/tf-samples/tutorial.bib
  topics/tool-generators/tutorials/tf-samples/tutorial.md
  topics/tool-generators/tutorials/tf-samples/workflows/TFdemo_wf_planemo_jan23.ga
  topics/tool-generators/tutorials/tf-samples/workflows/index.md
  topics/tool-generators/workflows/planemo_demohistory_jan23.tar.gz
Owners: none

cleanup. docker works but is different from typical GTN docker. Added maketf.sh to create a throw away clone.
  topics/tool-generators/docker/maketf.sh
  topics/tool-generators/slides/introduction.md
  topics/tool-generators/tutorials/toolfactory/slides.html
Owners: none

Adding new maxquant msstats tutorial
  topics/proteomics/images/maxquant-msstats-lfq/col14_ihc.png
  topics/proteomics/images/maxquant-msstats-lfq/features_sample.png
  topics/proteomics/images/maxquant-msstats-lfq/heatmap_missing.png
  topics/proteomics/images/maxquant-msstats-lfq/qc_plot.png
  topics/proteomics/images/maxquant-msstats-lfq/volcano_plot.png
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/data-library.yaml
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.bib
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/workflows/index.md
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/workflows/main_workflow.ga
Owners: @galaxyproject/training-proteomics

fix tool link
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
Owners: @galaxyproject/training-proteomics

Update tutorial.md
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
Owners: @galaxyproject/training-proteomics

fix question boxes
  topics/proteomics/tutorials/maxquant-msstats-dda-lfq/tutorial.md
Owners: @galaxyproject/training-proteomics

rainbow colouring
  topics/transcriptomics/tutorials/scrna-scanpy-pbmc3k/tutorial.md
Owners: @galaxyproject/training-transcriptomics

Intro looks useful Need a lot more work on the detailed tutorials
  topics/tool-generators/slides/introduction.md
Owners: none

Fix tool input formatting issue in metaproteomics tutorial.
  topics/proteomics/tutorials/metaproteomics/tutorial.md
Owners: @galaxyproject/training-proteomics

Looking ok - might dump the others and move the introductory tutorial under dev? Rest of the material is philosophical...
  topics/tool-generators/metadata.yaml
  topics/tool-generators/slides/introduction.md
Owners: none

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbcreation/tutorial.md
Owners: @galaxyproject/training-proteomics

removed old topic
  topics/tool-generators/README.md
  topics/tool-generators/docker/Dockerfile
  topics/tool-generators/docker/fixplanemo.sh
  topics/tool-generators/docker/maketf.sh
  topics/tool-generators/docker/welcome.html
  topics/tool-generators/images/ToolFactory_hello1form.png
  topics/tool-generators/images/ToolFactory_hello2form.png
  topics/tool-generators/images/ToolFactory_hello3form.png
  topics/tool-generators/images/ToolFactory_hello4form.png
  topics/tool-generators/images/ToolFactory_hello5form.png
  topics/tool-generators/images/wrapper_big_picture_1.png
  topics/tool-generators/index.md
  topics/tool-generators/metadata.yaml
  topics/tool-generators/slides/introduction.md
  topics/tool-generators/tutorials/tf-install/slides.html
  topics/tool-generators/tutorials/tf-samples/tutorial.bib
  topics/tool-generators/tutorials/tf-samples/tutorial.md
  topics/tool-generators/tutorials/tf-samples/workflows/TFdemo_wf_planemo_jan23.ga
  topics/tool-generators/tutorials/tf-samples/workflows/index.md
  topics/tool-generators/tutorials/toolfactory/tutorial.md
  topics/tool-generators/workflows/planemo_demohistory_jan23.tar.gz
Owners: none

add new tf tutorial under dev
  topics/dev/tutorials/tool-generators/introduction.md
Owners: @galaxyproject/training-dev, @abretaud

CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/
#
# Anybody is free to add their name here

assets/     @bebatut @shiltemann @hexylena
bin/        @bebatut @shiltemann @hexylena
metadata/   @bebatut @shiltemann @hexylena
badges/     @hexylena
_layouts/   @bebatut @shiltemann @hexylena
_includes/  @bebatut @shiltemann @hexylena
_plugins/   @bebatut @hexylena

# Topic maintainers are placed in github teams @galaxyproject/training-<topic-name>
topics/admin/                      @galaxyproject/training-admin
topics/assembly/                   @galaxyproject/training-assembly
topics/chip-seq/                   @galaxyproject/training-chip-seq
topics/computational-chemistry/    @galaxyproject/training-computational-chemistry
topics/contributing/               @galaxyproject/training-contributing
topics/dev/                        @galaxyproject/training-dev @abretaud
topics/ecology/                    @galaxyproject/training-ecology
topics/epigenetics/                @galaxyproject/training-epigenetics
topics/galaxy-interface/           @galaxyproject/training-galaxy-ui @galaxyproject/training-galaxy-data-manipulation
topics/genome-annotation/          @galaxyproject/training-genome-annotation
topics/instructors/                @galaxyproject/training-instructors
topics/introduction/               @galaxyproject/training-introduction
topics/metabolomics/               @galaxyproject/training-metabolomics
topics/metagenomics/               @galaxyproject/training-metagenomics
topics/proteomics/                 @galaxyproject/training-proteomics
topics/sequence-analysis/          @galaxyproject/training-sequence-analysis
topics/statistics/                 @galaxyproject/training-statistics
topics/transcriptomics/            @galaxyproject/training-transcriptomics
topics/variant-analysis/           @galaxyproject/training-variant-analysis

# Lines starting with '#' are comments.
# # Order is important. The last matching pattern has the most precedence.
