Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

small fix
  topics/sequence-analysis/tutorials/quality-control/tutorial.md
Owners: @bebatut, @shiltemann

Remove newline at the end of snippets
  snippets/change_datatype.md
  snippets/rename_dataset.md
  topics/sequence-analysis/tutorials/mapping/tutorial.md
Owners: @bebatut, @shiltemann

end of the week progress
  topics/genome-annotation/images/annotation-in-apollo-screenshots/0_right_click.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/10_functional_annotation_tracks.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/11_tmhmm_tracks.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/12_track_right_click.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/13_homolog_details.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/1_gene_information.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/4_blast_trembl.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/5_phage_analyses.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/6_gene_name_before.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/7_gene_name_saved.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/8_intron_phage_k.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/9_structural_annotation_tracks.png
  topics/genome-annotation/metadata.yaml
  topics/genome-annotation/tutorials/annotation-in-apollo/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sat Oct 6 09:27:50 UTC 2018
  feed.xml
  topics/sequence-analysis/tutorials/quality-control/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Sat Oct 6 10:45:43 UTC 2018
  feed.xml
  topics/admin/index.html
  topics/assembly/index.html
  topics/chip-seq/index.html
  topics/contributing/index.html
  topics/dev/index.html
  topics/epigenetics/index.html
  topics/galaxy-data-manipulation/index.html
  topics/galaxy-ui/index.html
  topics/genome-annotation/index.html
  topics/introduction/index.html
  topics/metagenomics/index.html
  topics/proteomics/index.html
  topics/sequence-analysis/index.html
  topics/statistics/index.html
  topics/transcriptomics/index.html
  topics/variant-analysis/index.html
Owners: @bebatut, @shiltemann, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update on: Sat Oct 6 11:15:07 UTC 2018
  feed.xml
  topics/metagenomics/images/mock_community.jpg
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.html
Owners: @bebatut, @shiltemann

tour
  topics/proteomics/tutorials/metaproteomics/tours/metaproteomics.yaml
Owners: @bebatut, @shiltemann

Update on: Sun Oct 7 08:25:57 UTC 2018
  feed.xml
  snippets/change_datatype.md
  snippets/rename_dataset.md
  topics/admin/tutorials/advanced-galaxy-customisation/slides.html
  topics/assembly/images/edit_file.png
  topics/assembly/images/starting_history.png
  topics/assembly/tutorials/debruijn-graph-assembly/tutorial.html
  topics/assembly/tutorials/ecoli_comparison/tutorial.html
  topics/assembly/tutorials/general-introduction/tutorial.html
  topics/chip-seq/tutorials/estrogen-receptor-binding-site-identification/tutorial.html
  topics/chip-seq/tutorials/formation_of_super-structures_on_xi/tutorial.html
  topics/chip-seq/tutorials/tal1-binding-site-identification/tutorial.html
  topics/galaxy-data-manipulation/tutorials/collections/tutorial.html
  topics/galaxy-ui/tutorials/history-to-workflow/tutorial.html
  topics/genome-annotation/tutorials/annotation-with-maker/tutorial.html
  topics/genome-annotation/tutorials/annotation-with-prokka/tutorial.html
  topics/introduction/tutorials/galaxy-intro-101/tutorial.html
  topics/introduction/tutorials/galaxy-intro-peaks2genes/tutorial.html
  topics/introduction/tutorials/galaxy-intro-short/tutorial.html
  topics/introduction/tutorials/galaxy-intro-strands/tutorial.html
  topics/sequence-analysis/tutorials/mapping/bam_explanation.md
  topics/sequence-analysis/tutorials/mapping/ref_genome_explanation.md
  topics/sequence-analysis/tutorials/mapping/tutorial.html
  topics/sequence-analysis/tutorials/quality-control/fastq_question.md
  topics/sequence-analysis/tutorials/quality-control/tutorial.html
  topics/transcriptomics/images/ref-based/menubarWithScratchbook.png
  topics/transcriptomics/images/ref-based/menubarWithScratchbookEnabled.png
  topics/transcriptomics/images/ref-based/scratchbookDisabledWithSavedDatasets.png
  topics/transcriptomics/images/ref-based/scratchbookOneDataset.png
  topics/transcriptomics/images/ref-based/scratchbookOneSavedView.png
  topics/transcriptomics/images/ref-based/scratchbookTwoDatasetsShown.png
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
  topics/variant-analysis/tutorials/microbial-variants/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Some edits to limma-voom fastqs to counts and resolved some conflicts
  topics/transcriptomics/images/limma-voom_f2c/collection_download.png
  topics/transcriptomics/images/limma-voom_f2c/collection_element.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_webpage.png
  topics/transcriptomics/images/limma-voom_f2c/multiqc.png
  topics/transcriptomics/images/limma-voom_f2c/multiqc_download.png
  topics/transcriptomics/images/limma-voom_f2c/rule_editor.png
  topics/transcriptomics/images/limma-voom_f2c/rule_uploader.png
  topics/transcriptomics/images/limma-voom_f2c/run_fastqc.png
  topics/transcriptomics/images/limma-voom_f2c/workflow.png
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Sun Oct 7 16:44:52 UTC 2018
  feed.xml
  topics/transcriptomics/images/limma-voom_f2c/collection_download.png
  topics/transcriptomics/images/limma-voom_f2c/collection_element.png
  topics/transcriptomics/images/limma-voom_f2c/fastqc_webpage.png
  topics/transcriptomics/images/limma-voom_f2c/multiqc.png
  topics/transcriptomics/images/limma-voom_f2c/multiqc_download.png
  topics/transcriptomics/images/limma-voom_f2c/rule_editor.png
  topics/transcriptomics/images/limma-voom_f2c/rule_uploader.png
  topics/transcriptomics/images/limma-voom_f2c/run_fastqc.png
  topics/transcriptomics/images/limma-voom_f2c/workflow.png
  topics/transcriptomics/index.html
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Few small edits
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Some edits
  topics/transcriptomics/images/limma-voom/fu_egf.png
  topics/transcriptomics/images/limma-voom/heatmap.png
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

Some more edits
  topics/transcriptomics/images/limma-voom/TMM.png
  topics/transcriptomics/images/limma-voom/filtcounts.png
  topics/transcriptomics/images/limma-voom/report_summary.png
  topics/transcriptomics/tutorials/limma-voom/tutorial.md
Owners: @bebatut, @shiltemann

More edits
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Fixes from @erasche review
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Oct 8 12:54:23 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/limma-voom_fastqs_to_counts/tutorial.html
Owners: @bebatut, @shiltemann

test fixing a couple urls
  topics/dev/tutorials/toolshed/slides.html
Owners: @bebatut, @shiltemann

replace URL with pseudo code
  topics/dev/tutorials/toolshed/slides.html
Owners: @bebatut, @shiltemann

Add more json-ld + fix bug
  _includes/material.jsonld
Owners: @bebatut, @shiltemann, @willdurand

added key points
  _includes/material.jsonld
Owners: @bebatut, @shiltemann, @willdurand

Correct some typos
  topics/dev/tutorials/interactive-environments/slides.html
  topics/metagenomics/tutorials/mothur-miseq-sop/tutorial.md
  topics/transcriptomics/tutorials/ref-based/tutorial.md
Owners: @bebatut, @shiltemann

Added extra schema.org fields for available metadata
  _includes/material.jsonld
Owners: @bebatut, @shiltemann, @willdurand

unknown
  _includes/material.jsonld
Owners: @bebatut, @shiltemann, @willdurand

big-data-hadoop
  topics/introduction/tutorials/hadoop
Owners: @bebatut, @shiltemann

Update hadoop
  topics/introduction/tutorials/hadoop
Owners: @bebatut, @shiltemann

fix title
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

formatting of handson box
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Oct 8 14:51:55 UTC 2018
  badges/index.html
  feed.xml
  index.html
  topics/instructors/index.html
Owners: @bebatut, @shiltemann

formatting of handson boxes
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

yamllint fixes
  CONTRIBUTORS.yaml
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tools.yaml
Owners: @bebatut, @shiltemann

corrected tool name
  topics/proteomics/tutorials/protein-quant-sil/tutorial.md
Owners: @bebatut, @shiltemann

Update on: Mon Oct 8 17:24:08 UTC 2018
  feed.xml
  topics/proteomics/tutorials/protein-quant-sil/tutorial.html
Owners: @bebatut, @shiltemann

Added some background information for some potentially unfamiliar concepts.
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

complete draft of annotation in apollo
  topics/genome-annotation/images/annotation-in-apollo-screenshots/13_blast_homolog_details.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/13_homolog_details.png
  topics/genome-annotation/images/annotation-in-apollo-screenshots/14_interproscan_homolog_details.png
  topics/genome-annotation/tutorials/annotation-in-apollo/tutorial.md
Owners: @bebatut, @shiltemann

Remove unappropriate info on reference genome
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

typo information
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Old statement due to Galaxy evolution
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Solution duplication
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Duplication and old references
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Simplification
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann
