Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

Update tutorial.md
  topics/proteomics/tutorials/proteogenomics-dbsearch/tutorial.md
Owners: @bebatut, @shiltemann

Update image label
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Update tutorial
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Update the image labels
  topics/statistics/tutorials/classification_regression/tutorial.md
Owners: @bebatut, @shiltemann

Document workflow testing briefly
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Owners: @bebatut, @shiltemann

polished text and content in structural annotation workflow tutorial transferred by TN from JG version
  topics/genome-annotation/tutorials/structural-annotation-workflow/tutorial.md
Owners: @bebatut, @shiltemann

polished tutorials on structural, functional, and apollo
  topics/genome-annotation/tutorials/functional-annotation-workflow/tutorial.md
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

polished annotation in apollo, tmp frameshift, getting started with apollo, intro to CPT Galaxy, and comparative genomics tutorials
  topics/genome-annotation/images/getting-started-with-apollo-screenshots/6_fasta.png
  topics/genome-annotation/tutorials/annotating-tmp-chaperone-frameshifts/tutorial.md
  topics/genome-annotation/tutorials/annotation-in-apollo/tutorial.md
  topics/genome-annotation/tutorials/cpt-galaxy-best-practices/tutorial.md
  topics/genome-annotation/tutorials/functional-annotation-workflow/tutorial.md
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
  topics/genome-annotation/tutorials/introduction-to-cpt-galaxy/tutorial.md
  topics/genome-annotation/tutorials/phage-comparative-genomics/tutorial.md
  topics/genome-annotation/tutorials/structural-annotation-workflow/tutorial.md
Owners: @bebatut, @shiltemann

perform annotation and badge creation on deploy
  .travis.yml
  bin/add_galaxy_instance_badges.py
  bin/publish
Owners: @bebatut, @shiltemann, @bgruening

fix indentation
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Owners: @bebatut, @shiltemann

Update topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Owners: @bebatut, @shiltemann

add mote about filetype
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Owners: @bebatut, @shiltemann

fix broken box
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Add translation support
  _config.yml
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
  assets/css/main.scss
Owners: @bebatut, @shiltemann, @willdurand

update formatting hands-on box
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

use snippets in data upload hands-on box
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

fix formatting and remove screenshot
  snippets/create_new_file.md
  topics/sequence-analysis/images/RAD4_Population_Genomics/denovo/denovo_in.png
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

black borders added to all images
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

scale image
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

reformat hands-on box
  topics/sequence-analysis/tutorials/de-novo-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Fix links to google translate
  _layouts/topic.html
  _layouts/tutorial_hands_on.html
Owners: @bebatut, @shiltemann, @willdurand

Add support for portugese
  _config.yml
Owners: @bebatut, @shiltemann, @willdurand

black borders added to all images
  topics/genome-annotation/tutorials/getting-started-with-apollo/tutorial.md
Owners: @bebatut, @shiltemann

use repeat param icon
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
Owners: @bebatut, @shiltemann

use repeat param icon
  topics/transcriptomics/tutorials/rna-seq-viz-with-cummerbund/tutorial.md
Owners: @bebatut, @shiltemann

some reformatting
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

add link to publication to front page
  _layouts/home.html
Owners: @bebatut, @shiltemann, @willdurand

add note about badges, food
  topics/instructors/tutorials/organize-workshop/tutorial.md
Owners: @bebatut, @shiltemann

add promotion notice
  topics/instructors/tutorials/organize-workshop/tutorial.md
Owners: @bebatut, @shiltemann

update link to publication
  faq.md
Owners: @bebatut, @shiltemann

add contributor
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

fix broken link
  topics/instructors/tutorials/organize-workshop/tutorial.md
  topics/instructors/tutorials/running-workshop/tutorial.md
Owners: @bebatut, @shiltemann

display username if no name provided
  _layouts/hall-of-fame.html
Owners: @bebatut, @shiltemann, @willdurand

fix all broken links
  faq.md
  topics/contributing/slides/introduction.html
  topics/contributing/tutorials/create-new-tutorial-technical/tutorial.md
Owners: @bebatut, @shiltemann

formatting fixes
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Move metadata and rename files
  topics/ecology/metadata.yaml
  topics/ecology/slides/introduction.html
  topics/ecology/tutorials/regional-gam/tutorial.md
  topics/ecology/tutorials/regionalGAM/tutorial.md
  topics/ecology/tutorials/species-distribution-modeling/slides.html
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
  topics/ecology/tutorials/spipoll_indicators/slides.html
  topics/ecology/tutorials/spipoll_indicators/tutorial.md
  topics/ecology/tutorials/taxref/slides.html
  topics/ecology/tutorials/taxref/tutorial.md
  topics/ecology/tutorials/vigie-chiro/slides.html
  topics/ecology/tutorials/vigie-chiro/tutorial.md
Owners: @bebatut, @shiltemann

formatting fixes
  topics/sequence-analysis/tutorials/ref-based-rad-seq/tutorial.md
Owners: @bebatut, @shiltemann

Add metadata
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Owners: @bebatut, @shiltemann

Add metadata
  topics/ecology/tutorials/regionalGAM/tutorial.md
Owners: @bebatut, @shiltemann

Add Agenda
  topics/ecology/tutorials/species-distribution-modeling/tutorial.md
Owners: @bebatut, @shiltemann

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
