Repository galaxyproject/training-material, changes with the owners that CODEOWNERS names for each.
All owners: @bebatut, @shiltemann, @willdurand, @bgruening, @martenson, @hrhotz, @erasche, @Slugger70, @malloryfreeberg, @lecorguille, @joachimwolff, @dpryan79, @tnabtaf, @Stortebecker, @blankclemens, @yvanlebras, @TorHou

CODEOWNERS:

# Templates
*   @bebatut @shiltemann
_*    @bebatut @shiltemann @willdurand
assets/*    @bebatut @shiltemann @willdurand
bin/*   @bebatut @shiltemann @bgruening
metadata/*  @bebatut @shiltemann

# Maintainers of the topics
topics  @bebatut @shiltemann
topics/admin/*    @bgruening @martenson @hrhotz @erasche
topics/assembly/*    @Slugger70
topics/chip-seq/*    @malloryfreeberg
topics/dev/*    @lecorguille @bebatut @shiltemann
topics/epigenetics/*    @joachimwolff @dpryan79
topics/introduction/*    @tnabtaf
topics/metagenomics/*    @bebatut @shiltemann
topics/proteomics/*    @Stortebecker @bgruening @blankclemens
topics/sequence-analysis/*    @yvanlebras @bebatut @joachimwolff
topics/training/*    @bebatut @bgruening
topics/transcriptomics/*    @bebatut @malloryfreeberg
topics/variant-analysis/*    @TorHou

# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.

Changes to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

Changes to tutorial.md of CLIP-Seq tutorial
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq tools.yaml
  topics/transcriptomics/tutorials/clipseq/tools.yaml
Owners: @bebatut, @shiltemann

Changes to metadata.yaml
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

Adding new pictures for CLIP-Seq tutorial
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_1.png
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_2.png
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_3.png
  topics/transcriptomics/images/clipseq_correlation.png
  topics/transcriptomics/images/clipseq_data_uploaded.png
  topics/transcriptomics/images/clipseq_duplication_level_1.png
  topics/transcriptomics/images/clipseq_duplication_level_2.png
  topics/transcriptomics/images/clipseq_fingerprint.png
  topics/transcriptomics/images/clipseq_ma_plot.png
  topics/transcriptomics/images/clipseq_motif.png
  topics/transcriptomics/images/clipseq_peak_igv.png
  topics/transcriptomics/images/upload_data_page.png
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @shiltemann, @malloryfreeberg

fix up metadata
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

Update on: Fri Aug 17 09:58:53 UTC 2018
  feed.xml
  hall-of-fame.html
  index.html
  topics/dev/tutorials/data-source-integration/tutorial.html
Owners: @bebatut, @shiltemann

Update on: Fri Aug 17 10:15:47 UTC 2018
  feed.xml
  topics/transcriptomics/tutorials/srna/tutorial.html
Owners: @bebatut, @shiltemann

don't fail on trailling whitespace
  .yamllint
Owners: @bebatut, @shiltemann

First commit, in progress
  topics/transcriptomics/metadata.yaml
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/data-library.yaml
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tools.yaml
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/workflows/heinz-metamodules.ga
Owners: @bebatut, @malloryfreeberg, @shiltemann

Update on: Fri Aug 17 10:38:38 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Update on: Fri Aug 17 10:52:12 UTC 2018
  feed.xml
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq metadata.yaml
  topics/transcriptomics/metadata.yaml
Owners: @bebatut, @malloryfreeberg

updates tutorial
  topics/phylogenetics/tutorials/GeneSeqToFamily/tutorial.md
Owners: @bebatut, @shiltemann

Tutorial editing (in progress) + data-library (new format)
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/data-library.yaml
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

forgot a word
  faq.md
Owners: @bebatut, @shiltemann

generate tools.yaml
  topics/epigenetics/tutorials/ewas-suite/tools.yaml
Owners: @bebatut, @shiltemann

corrections
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

"added legend to figures"
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @bebatut, @shiltemann

Add some cleaning
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @joachimwolff, @dpryan79, @bebatut, @shiltemann

creating ewas-suite
  topics/epigenetics/images/Epigenetic_mechanisms.jpg
  topics/epigenetics/images/ewaschart1.png
  topics/epigenetics/images/ewaschart2.png
  topics/epigenetics/images/funcann.jpg
  topics/epigenetics/images/methylationassay.png
  topics/epigenetics/images/qcplot.png
  topics/epigenetics/images/ucsc.png
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/ewas-suite/data-library.yaml
  topics/epigenetics/tutorials/ewas-suite/slides.html
  topics/epigenetics/tutorials/ewas-suite/tours/tour.yaml
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
  topics/epigenetics/tutorials/ewas-suite/workflows/ewas_training.ga
Owners: @bebatut, @shiltemann, @joachimwolff, @dpryan79

changed to tutorial_slides
  topics/epigenetics/tutorials/ewas-suite/slides.html
Owners: @bebatut, @shiltemann

add enable false
  topics/epigenetics/metadata.yaml
Owners: @joachimwolff, @dpryan79

corrections as recommended
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/ewas-suite/data-library.yaml
  topics/epigenetics/tutorials/ewas-suite/tutorial.md
Owners: @joachimwolff, @dpryan79, @bebatut, @shiltemann

Update data library
  topics/epigenetics/metadata.yaml
  topics/epigenetics/tutorials/ewas-suite/data-library.yaml
Owners: @joachimwolff, @dpryan79, @bebatut, @shiltemann

enabled
  topics/epigenetics/metadata.yaml
Owners: @joachimwolff, @dpryan79

Fix slide top metadata
  topics/epigenetics/tutorials/ewas-suite/slides.html
Owners: @bebatut, @shiltemann

no its enable, but quotes, yeah
  topics/epigenetics/metadata.yaml
Owners: @joachimwolff, @dpryan79

Changes to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

Changes to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

Add sklearn tutorial
  package-lock.json
  package.json
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/sklearn/data-library.yaml
  topics/statistics/tutorials/sklearn/slides.html
  topics/statistics/tutorials/sklearn/tools.yaml
  topics/statistics/tutorials/sklearn/tutorial.md
  topics/statistics/tutorials/sklearn/workflows/Galaxy-Workflow-Skearn-GradientTree-Boosting_Learningrate.ga
Owners: @bebatut, @shiltemann

Small Change to CLIP-Seq tutorial.md
  topics/transcriptomics/tutorials/clipseq/tutorial.md
Owners: @bebatut, @shiltemann

as discussed with Flo
  topics/transcriptomics/tutorials/clipseq/tours/tour.yaml
Owners: @bebatut, @shiltemann

Add a new contributor
  CONTRIBUTORS.yaml
Owners: @bebatut, @shiltemann

Update on: Fri Aug 17 20:45:13 UTC 2018
  feed.xml
  index.html
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_1.png
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_2.png
  topics/transcriptomics/images/clipseq_build_list_data_set_pairs_3.png
  topics/transcriptomics/images/clipseq_correlation.png
  topics/transcriptomics/images/clipseq_data_uploaded.png
  topics/transcriptomics/images/clipseq_duplication_level_1.png
  topics/transcriptomics/images/clipseq_duplication_level_2.png
  topics/transcriptomics/images/clipseq_fingerprint.png
  topics/transcriptomics/images/clipseq_ma_plot.png
  topics/transcriptomics/images/clipseq_motif.png
  topics/transcriptomics/images/clipseq_peak_igv.png
  topics/transcriptomics/images/upload_data_page.png
  topics/transcriptomics/index.html
  topics/transcriptomics/slides/introduction.html
  topics/transcriptomics/tutorials/clipseq/tutorial.html
  topics/transcriptomics/tutorials/clipseq/workflows/init_workflow.ga
  topics/transcriptomics/tutorials/de-novo/tutorial.html
  topics/transcriptomics/tutorials/rb-rnaseq/tutorial.html
  topics/transcriptomics/tutorials/ref-based/tutorial.html
  topics/transcriptomics/tutorials/srna/tutorial.html
Owners: @bebatut, @shiltemann, @malloryfreeberg

Continue editting: DESeq2 and BUM model.
  topics/transcriptomics/images/bum.jpeg
  topics/transcriptomics/tutorials/pinpoint-key-pathways-with-heinz/tutorial.md
Owners: @bebatut, @shiltemann

Updated tutorial with Zenodo links. Ready for testing
  topics/transcriptomics/tutorials/scrna/tutorial.md
Owners: @bebatut, @shiltemann

Incremental builds
  Makefile
Owners: @bebatut, @shiltemann

Update ml tutorial
  topics/statistics/metadata.yaml
  topics/statistics/tutorials/machinelearning/data-library.yaml
  topics/statistics/tutorials/machinelearning/slides.html
  topics/statistics/tutorials/machinelearning/tools.yaml
  topics/statistics/tutorials/machinelearning/tutorial.md
  topics/statistics/tutorials/machinelearning/workflows/Galaxy-Workflow-Skearn-GradientTree-Boosting_Learningrate.ga
  topics/statistics/tutorials/sklearn/slides.html
Owners: @bebatut, @shiltemann
